<% content_for :javascript_includes do %>
    <%= javascript_include_tag "passwords.js" %>
<% end %>


<section id="user_content" class="reset_password">

    <h3>Reset Password</h3>

    <% if valid_token? %>
    <form id="user_update_password_form" class="js-password_update_form">
        <input name="token" type="hidden" value="<%= params[:token] %>">
        <span class="form_row">
            <label for="password">New Password</label>
            <input id="password" name="password" type="password" required>
        </span>

        <span class="form_row">
            <label for="password_confirm">Confirm Password</label>
            <input id="password_confirm" name="password_confirm" type="password" required>
        </span>

        <button class="button">Submit</button>
    </form>
    <% else %>
    <p><%= t('errors.reset_token') %></p>
    <% end %>

  

</section>
