<% content_for :javascript_includes do %>
    <%= javascript_include_tag "passwords.js" %>
<% end %>

<section id="user_content" class="reset_password">

  <h3>Reset Password</h3>

  <form id="user_reset_password_form">
    <span class="form_row">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="email" required autofocus/>
    </span>
    <a href="/#/sign-in" class="secondary_button">Remembered it?</a>
    <button type="submit" class="button">Reset Password</button>

  </form>



</section>
