<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app="powur">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!--<link rel="stylesheet" type="text/css" href="vendor/assets/bower_components/angular-material/angular-material.css">-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.css">
        <link rel="stylesheet" type="text/css" href="css/general.css">
        <link rel="stylesheet" type="text/css" href="css/nav.css">
        <link rel="stylesheet" type="text/css" href="css/profile.css">
    </head>
    <body ng-controller="RootController as root">
        
        <div layout="row" class="full-height">
            <div ui-view="nav" class="full-height"></div>
            <div ui-view="profile" class="full-height"></div>
            <div ui-view="main" class="full-height"></div>
            <div ui-view="activity" class="full-height"></div>
        </div>
        
        <!-- TODO: replace with rails asset pipeline / maybe load with require -->
        <!-- TODO: use bower -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.js"></script>
 
        <script type="text/javascript" src="build/client/js/app.min.js"></script>
    </body>

</html>

<!-- Templates -->
<script type="text/ng-template" id="/partials/home.html">
home
</script>

<script type="text/ng-template" id="/partials/login.html">
login
</script>

<script type="text/ng-template" id="/partials/nav.html">
<div class="nav full-height">
    <div class="bg full-height">
        <ul class="list full-height" layout="column" layout-align="start center">
            <li ng-click="nav.go('strategy')" ng-class="{ active: nav.isCurrent('strategy') }"><i class="sprite sprite-strategy"></i></li>
            <li ng-click="nav.go('events')" ng-class="{ active: nav.isCurrent('events') }"><i class="sprite sprite-events"></i></li>
            <li ng-click="nav.go('grid')" ng-class="{ active: nav.isCurrent('grid') }"><i class="sprite sprite-grid"></i></li>
            <li ng-click="nav.go('goal')" ng-class="{ active: nav.isCurrent('goal') }"><i class="sprite sprite-goal"></i></li>
            <li ng-click="nav.go('earnings')" ng-class="{ active: nav.isCurrent('earnings') }"><i class="sprite sprite-earnings"></i></li>
    
            <!--<li ng-click="nav.go('social')" ng-class="{ active: nav.isCurrent('social') }"><i class="sprite sprite-social"></i></li>-->
    
            <li ng-click="nav.go('certs')" ng-class="{ active: nav.isCurrent('certs') }"><i class="sprite sprite-certs"></i></li>
            <li ng-click="nav.go('stats')" ng-class="{ active: nav.isCurrent('stats') }"><i class="sprite sprite-stats"></i></li>
    
            <li ng-click="nav.logout()" class="bottom"><i class="sprite sprite-logout"></i></li>
        </ul>
    </div>
</div>
</script>


<script type="text/ng-template" id="/partials/profile.html">
<div class="profile full-height">
    <div class="headshot">
        <div class="user" layout="column" layout-align="end start">
            <div class="greeting">Good morning,</div>
            <div class="full-name">{{profile.fullName}}</div>
            <div class="actions">
                <i class="sprite sprite-badge"></i>
                <i class="sprite sprite-boxes"></i>
            </div>
        </div>
    </div>
    
    <div class="achievements heading">Achievements</div>
    
    <div class="stat1" layout="row" layout-align="center start">
        <div flex="50" class="rank">
            <div class="stat-title">rank</div>
            <div class="stat">
                <i class="sprite sprite-rank"></i>
                <span class="info">{{profile.rank}}<span class="total">/{{profile.rankTotal}}</span></span>
            </div>
        </div>
        <div flex="50" class="grid-size">
            <div class="stat-title">grid size</div>
            <div class="stat">
                <i class="sprite sprite-grid"></i>
                <span class="info">{{profile.gridSize}}</span>
            </div>
        </div>
    </div>
    
    <div class="stat2">
        <div class="stat-title">dollars earned</div>
        <div class="stat" layout="row">
            <i class="sprite sprite-earned" flex="10"></i>
            <span class="info" flex>{{profile.getWhole(profile.dollarsEarned)}}<span class="superscript">{{profile.getDecimal(profile.dollarsEarned)}}</span></span>
        </div>
    </div>
    
    <div class="stat3" layout="row" layout-align="center start">
        <div flex="50" class="co2">
            <div class="stat-title">
                CO<span class="superscript">2</span> Saved
            </div>
            <div class="stat">
                <i class="sprite sprite-co2"></i>
                <span class="info">{{profile.getWhole(profile.co2)}}<span class="superscript">{{profile.getDecimal(profile.co2)}}</span></span>
            </div>
        </div>
        <div flex="50" class="login-streaks">
            <div class="stat-title">login streaks</div>
            <div class="stat">
                <i class="sprite sprite-login"></i>
                <span class="info">{{profile.loginStreaks}}</span>
            </div>
        </div>
    </div>
    
    <div class="current-goals heading">Current Goals</div>

    <div class="stat4">
        <div class="stat" layout="row">
            <i class="sprite sprite-proposal" flex="10"></i>
            <div class="progress" flex>
                <div class="stat-title">Personal Proposals</div>
                <md-progress-linear md-mode="determinate" value="{{profile.personalProposals}}" flex></md-progress-linear>
            </div>
        </div>
        <div class="stat" layout="row">
            <i class="sprite sprite-proposal-group" flex="10"></i>
            <div class="progress" flex>
                <div class="stat-title">Team Proposals</div>
                <md-progress-linear md-mode="determinate" value="{{profile.teamProposals}}" class="md-warn" flex></md-progress-linear>
            </div>
        </div>
    </div>
    
</div>
</script>
