<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app="powur">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!--<link rel="stylesheet" type="text/css" href="vendor/assets/bower_components/angular-material/angular-material.css">-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.css">
        <link rel="stylesheet" type="text/css" href="css/nav.css">
    </head>
    <body ng-controller="RootController as root">
        
        <div layout="row" class="full-height">
            <div ui-view="nav" class="full-height"></div>
            <div ui-view="stat" class="full-height"></div>
            <div ui-view="main" class="full-height"></div>
            <div ui-view="activity" class="full-height"></div>
        </div>
        
        <!-- TODO: replace with rails asset pipeline / maybe load with require -->
        <!-- TODO: use bower -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.js"></script>
 
        <script type="text/javascript" src="build/client/js/app.min.js"></script>
        <!--
        <script type="text/javascript" src="app/boot.js"></script>
        <script type="text/javascript" src="app/services.js"></script>
        <script type="text/javascript" src="app/root-controller.js"></script>
        <script type="text/javascript" src="app/login-controller.js"></script>
        <script type="text/javascript" src="app/home-controller.js"></script>
        -->
    </body>

</html>

<!-- Templates -->
<script type="text/ng-template" id="/partials/home.html">
home
</script>

<script type="text/ng-template" id="/partials/login.html">
login
</script>

<script type="text/ng-template" id="/partials/nav.html">
<div class="nav full-height">
    <div class="bg full-height">
        <ul class="list full-height" layout="column" layout-align="start center">
            <li ng-click="nav.go('strategy')" ng-class="{ active: nav.isCurrent('strategy') }"><i class="sprite sprite-strategy"></i></li>
            <li ng-click="nav.go('events')" ng-class="{ active: nav.isCurrent('events') }"><i class="sprite sprite-events"></i></li>
            <li ng-click="nav.go('grid')" ng-class="{ active: nav.isCurrent('grid') }"><i class="sprite sprite-grid"></i></li>
            <li ng-click="nav.go('goal')" ng-class="{ active: nav.isCurrent('goal') }"><i class="sprite sprite-goal"></i></li>
            <li ng-click="nav.go('earnings')" ng-class="{ active: nav.isCurrent('earnings') }"><i class="sprite sprite-earnings"></i></li>
    
            <!--<li ng-click="nav.go('social')" ng-class="{ active: nav.isCurrent('social') }"><i class="sprite sprite-social"></i></li>-->
    
            <li ng-click="nav.go('certs')" ng-class="{ active: nav.isCurrent('certs') }"><i class="sprite sprite-certs"></i></li>
            <li ng-click="nav.go('stats')" ng-class="{ active: nav.isCurrent('stats') }"><i class="sprite sprite-stats"></i></li>
    
            <li ng-click="nav.logout()" class="bottom"><i class="sprite sprite-logout"></i></li>
        </ul>
    </div>
</div>
</script>

