
<div class="arrow"></div>
<div class="drilldown_content">
		<div id="kpi_environment_detail" class="object_detail">
			<span class="dismiss"><i class="fa fa-times"></i></span>
			<div class="object_detail_content">
				<div class="object_detail_content_section summary">
					<h4>Top Performer</h4>
              		<span class="subtext">The best performing team members in the last 12 months.</span>
                  <div class="contributors">
                	<div class="contributor">
	                  	<div class="info-box">
	                    	<div id="avatar1" class="avatar"></div>
							<div class="info-text">
								<a id="hover1"><span>Jon Doe</span></a>
								<br> 
								<span class="light-text">Team Size: 17 </span>
							</div>
	                 	</div>
	                </div>
                  <div class="contributors">
                	<div class="contributor">
	                  	<div class="info-box">
	                    	<div id="avatar2" class="avatar"></div>
							<div class="info-text">
								<a id="hover1"><span>Danny Smith</span></a>
								<br> 
								<span class="light-text">Team Size: 16</span>
							</div>
	                 	</div>
	                </div>

                	<div class="contributor">
	                  	<div class="info-box">
	                    	<div id="avatar3" class="avatar"></div>
							<div class="info-text">
								<a id="hover1"><span>Lisa Williams</span></a>
								<br> 
								<span class="light-text">Team Size: 15  </span>
							</div>
	                 	</div>
	                </div>
                  </div>
				</div>
</div>

				<div class="object_detail_content_section" style="padding-left:20px;">
					<h4>Team Analysis</h4>
					<canvas id="metricsChart" width="670" height="375" style="float:left;"></canvas>
					<div style="width:150px; padding-left:50px;float:left;">
						<br><br>
		                <div class="legend">
		                  <div class="legend-item" id="user-legend"></div>
		                  <span id="selected_user" class="legend-text">Team Size</span>
		                </div>
		                <br>
		                <div class="legend hide">
		                  <div class="legend-item" id="top-performer"></div>
		                  <span id="performer" class="legend-text"></span>
		                </div>

		                <br>


					</div>
				</div>

			</div>
		</div>
</div>

<script>
_randomData = {}
_randomData.me=[];
_randomData.team=[];
_randomData.performer=[];

for(i=0;i<12;i++){
	if(i==0){
		_randomData.me.push(Math.floor(Math.random()*5+1));
		_randomData.team.push(Math.floor(Math.random()*5+1));
	}else{

		_randomData.me.push(_randomData.me[i-1]+Math.floor(Math.random()*5+1));
		_randomData.team.push(_randomData.me[i-1]+Math.floor(Math.random()*5+1));		
	}
	_randomData.performer.push(0);
}
console.log(_randomData);

var topPerformers=[];
["John Doe", "Danny Smith", "Lisa Williams"].forEach(function(name){
  var tempData =[];
for(i=0;i<12;i++){

	if(i==0){
		tempData.push(Math.floor(Math.random()*4));
	}else{

		tempData.push(tempData[i-1]+Math.floor(Math.random()*4));
	}

}
  topPerformers.push({
    name:name,
    data:tempData
  });
});

var metricsData = {
    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "#20c2f1",
            highlightFill: "#5bd7f7",
            data: _randomData.me
        },
        {
            fillColor: "rgba(44,148,105,1)",
            highlightFill: "rgba(44,148,105,0)",
            data: _randomData.performer
        }
    ]
};

var options={

    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero : true,

    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(255,255,255,.15)",
    scaleFontColor:"#fff",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - If there is a stroke on each bar
    barShowStroke : true,

    //Number - Pixel width of the bar stroke
    barStrokeWidth : 2,

    //Number - Spacing between each of the X value sets
    barValueSpacing : 5,

    //Number - Spacing between data sets within X values
    barDatasetSpacing : 1,

    //String - A legend template
    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

}

var ctx = document.getElementById("metricsChart").getContext("2d");
var myChart = new Chart(ctx).Bar(metricsData, options);

$(".contributor")
    .velocity("transition.slideUpBigIn", { 
      stagger: 200, 
      duration: 600
    })
    .append("<hr style='border-color:rgba(255,255,255,.08);margin:5px 0 5px 0'> ")


$(".contributor").on("click",function(e){
  
  e.preventDefault();
  e.stopPropagation();
  _index=$(this).find(".avatar").attr("id").replace("avatar","")-1;
  $.extend(metricsData.datasets[1], topPerformers[_index]);

  $('.contributor').each(function(){
    $(this).velocity({backgroundColor:"#555"},100);
  })
  $(this).velocity({backgroundColor:"#454545"},150);

  metricsData.datasets[1].fillColor = "rgba(44,148,105,1)";
  metricsData.datasets[1].highlightFill= "rgba(44,148,105,1)";

  options.animationSteps=20;
  myChart.destroy();
  myChart = new Chart(ctx).Bar(metricsData, options);  

  $("#performer").html(topPerformers[_index].name);
  $(".legend").removeClass("hide");

});

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
</script>