<div class="arrow"></div>
<div class="drilldown_content">
  <div id="kpi_environment_detail" class="object_detail">

    <div class="object_detail_content">
      <div class="object_detail_user_summary">
       <div class="swap-text-box">
          <span class="progress_description">MY HOT QUOTES</span>
          {{!-- <a class="return_to_team" style="">&nbsp;</a> --}}
          </div>
          <div class="user-contributor" id="{{currentUser.first_name}}" style="background-color:#333">
            <div class="user-info-box">
              <div id="user-avatar" class="avatar" style="background-image:url({{currentUser.avatar.thumb}});"></div>
                <br>
                <div class="info-text user-info-text">
                  <a id="hover1"><span class="contributor-name">{{currentUser.first_name}} {{currentUser.last_name}}</span></a>
                  <span class="light-text small-text">13 Hot Quotes</span>
                </div>
              </div>
              <span class="contributors-header">MEMBERS WITH HOT QUOTES</span>
            </div>
            <div class="contributors"></div>
          </div>
          <div class="scroll-arrows">
            <i class="fa fa-caret-up paginate-user-up"></i><i class="fa fa-caret-down paginate-user-down"></i>
          </div>
        </div>

      <div class="object_detail_content_section" style="width:580px;margin-left:15px;">
        <span class="graph_title">My Rankings</span>
        <br>
        <div class="rank-columns">
          <div class="rank-column">
            <span>Current Rank</span>
            <br>
            <img class="badge" id="current_rank" src="/assets/badges/badge_01.png">
          </div>
          <div class="rank-column" style="padding-right:35px">
            <span style="margin-left:5px">Next Rank</span>
            <br>
            <img class="badge" id="next_rank" src="/assets/badges/badge_02.png">
          </div>
          <div class="rank-column">
            <span>Highest Rank Achieved</span>
            <br>
            <img class="badge" id="highest_rank" src="/assets/badges/badge_03.png" style="margin:0 32.5px;">
          </div>
        </div><!-- end rank-columns -->
        <span id="qualification-header">Qualifications</span>
        <br>
        <div class="bar-one bar-con">
          <div class="inner-bar" data-percent="30">
            <div class="bar" data-percent="70"></div>
          </div>
        </div>
        <div class="bar-two bar-con">
          <div class="bar" data-percent="50"></div>
        </div>
  
      </div> <!-- end object_detail_content_section -->
      <div  style="padding-top:35px;">
        <h3>Your Hot Quotes</h3>
        <br>
        <div class="hot-quotes"></div>
        <div class="hot-quote-arrows">
          <i class="fa fa-caret-up paginate-quote-up" style="font-size:1.5em"></i>
          <i class="fa fa-caret-down paginate-quote-down" style="font-size:1.5em"></i>
        </div>
      </div> <!-- end team_statistics_box -->
    </div> <!-- end object_detail_content -->
  </div> <!-- end object_detail -->
</div> <!-- end drilldown_content -->

<style>
    .hot-quotes {
      height:330px;
      overflow:hidden;
      /*display:inline-block;*/
    }

    .rank-columns {
      display:inline-block;
    }

    .rank-column {
      float:left;
      padding:50px 60px 20px 0;
      font-size:0.8em;
    }

    .badge {
      height:auto;
      width:75px;
      background-color:rgba(0,0,0,0);
    }

    .bar-con{
      background-color:#ccc;
      height:0.8em;
      margin-bottom:2.5em;
      width:85%;
    }
    .bar{
      float:left;
      height:100%;
      width:0%;
    }

    .bar-one .bar {
      background-color:rgb(32, 194, 241); 
      transition: width 0.5s linear;
       -webkit-transition: width 0.5s linear;
      -moz-transition: width 0.5s linear;
      -o-transition: width 0.5s linear;
    }

    .bar-one .inner-bar {
      display:inline;
      float:left;
      height:100%;
      width:0%;
      background-color:rgb(2, 164, 211); 
      transition: width 0.5s linear;
    }

    .bar-two .bar{
      background-color:rgb(253, 180, 92);
      transition: width 0.5s linear;
    }
    .bar-three .bar{
      background-color:#FF9900;
      .transition(@time:4s, @animation:cubic-bezier(.72,.45,.9,.12));
    }
    #qualification-header {
      display:block;
    }

    .quote-name {
      font-size:0.95em;
    }

    .quote-detail {
      font-size:0.85em;
    }

    .hot-quote-box {
      padding-top:15px;
      font-size:0.95em;
      display:none;
    }

    .hot-quote-arrows {
      padding:15px 0 0 0;
    }

    .hot-quote-arrows .fa-caret-up {
      padding:40px 45px 0 75px;
    }

</style>

<script type="text/javascript">

var userPosition = 0;
var quotePosition = 0;
var page = 1;

function initKPI(){
  randomizeData();
  populateHotQuotes();
  populateContributors();
  checkUserPage()
  checkQuotePage()
}

function randomizeData() {

  if(_data.team.entities){
    _data.team.entities.forEach(function(member) {
      member.properties.orders = Math.floor(Math.random() * 30 + 10)
    });
    _data.team.entities.forEach(function(member) {
      member.properties.quotes = Math.floor(Math.random() * 30 + 5)
    });
    _data.team.entities.forEach(function(member) {
        member.properties.avatar = randomAvatar()
    });
    _data.team.entities.forEach(function(member) {
      member.properties.current_rank = Math.floor(Math.random() * 3) + 1;
    });
    _data.team.entities.forEach(function(member) {
      member.properties.next_rank = Math.floor(Math.random() * 3) + 1;
    });
    _data.team.entities.forEach(function(member) {
      member.properties.highest_rank  = Math.floor(Math.random() * 3) + 1;
    });
  }
}

function randomAvatar(){
  gender = ["men","women"]
  return "http://api.randomuser.me/portraits/med/" + gender[Math.floor(Math.random()*2)] + "/" + Math.floor(Math.random() * 97) + ".jpg"
}

function populateContributors() {

  if(_data.team.entities) {
    var _contributors = $(".contributors");

    contributors = _data.team.entities

    contributors.forEach(function(member) {
      _ajax({
        _ajaxType: "get",
        _url: "/u/users/" + member.properties.id + "/downline",
        _callback: function(data, text) {
          member.properties.downline_count = data.entities.length;
            EyeCueLab.UX.getTemplate("/templates/_kpi_hot_quotes_team_thumbnail.handlebars.html", member, undefined, function(html) {
            if ($('.contributor').length == (contributors.length)) contributorEvents();
            _contributors.append(html);
          });
        }
      });
    });
  } else {
    contributorEvents();
  }
}

function populateHotQuotes() {
   
  if(_data.quotes) {
    _hotQuotes = $(".hot-quotes");

    quotes = _data.quotes.entities

    quotes.forEach(function(quote) {
      _ajax({
        _ajaxType: "get",
        _url: "/u/quotes/" + quote.properties.id,
        _callback: function(data, text) {
          console.log(data.properties)
            EyeCueLab.UX.getTemplate("/templates/_kpi_hot_quotes.handlebars.html", data, undefined, function(html) {
            if ($('.hot-quote-box').length == (quotes.length)) $('.hot-quote-box').fadeIn()
            _hotQuotes.append(html);
          });
        }
      });
    });
  } else {
    // contributorEvents();
  }
}

// ** PAGINATION **
$('.paginate-user-down').on("click", function(e) {
  if ($(this).hasClass("active")) {
      page += 1;
      userPosition -= 284;
      animateContributors()
    };
});

$('.paginate-user-up').on("click", function(e) {
  if ($('.fa-caret-up').hasClass("active")) {
    page -= 1;
    userPosition += 284;
    animateContributors()
  };
});

$('.paginate-quote-down').on("click", function(e) {
  console.log("hey")
  if ($(this).hasClass("active")) {
      page += 1;
      quotePosition -= 333;
      animateQuotes()
    };
});

$('.paginate-quote-up').on("click", function(e) {
  if ($('.fa-caret-up').hasClass("active")) {
    page -= 1;
    quotePosition += 333;
    animateQuotes()
  };
});

// $(".return_to_team").on("click", function(e) {
//   $(".graph_title").html("Team Ranks");
//   $(".contributor, .user-contributor").css("background", "#545454");
//   $(".progress_description").fadeIn();
//   $(".return_to_team").hide();
// });

function animateContributors(){
  checkUserPage();
  $('.contributor').each(function() {
    $(this).velocity({
    }, 100);
  })
  $('.contributor').each(function() {
    $(this).velocity({
      translateY: quotePosition + "px"
    });
  })
}

function animateQuotes(){
  checkQuotePage();
  $('.hot-quote-box').each(function() {
    $(this).velocity({
    }, 100);
  })
  $('.hot-quote-box').each(function() {
    $(this).velocity({
      translateY: quotePosition + "px"
    });
  })
}

function checkUserPage() {
  if (_data.team.entities) {
  page_total = _data.team.entities.length
  if (page === 1) {
    $('.paginate-user-up').css("opacity", "0.3").removeClass("active");
    if(page_total >= 5){
      $('.paginate-user-down').css("opacity", "1").addClass("active");
    }
  } else {
    $('.paginate-user-up').css("opacity", "1").addClass("active");
  }
  if (page >= (Math.ceil(page_total / 4))) {
    $('.paginate-user-down').css("opacity", "0.3").removeClass("active");
  }
  } else {
    $('.paginate-user-up').css("opacity", "0.3").removeClass("active");
    $('.paginate-user-down').css("opacity", "0.3").removeClass("active");
  }
}

function checkQuotePage() {
  if (_data.quotes) {
  page_total = _data.quotes.entities.length
  if (page === 1) {
    $('.paginate-quote-up').css("opacity", "0.3").removeClass("active");
    if(page_total >= 3){
      $('.paginate-quote-down').css("opacity", "1").addClass("active");
    }
  } else {
    $('.paginate-quote-up').css("opacity", "1").addClass("active");
  }
  if (page >= (Math.ceil(page_total / 3))) {
    $('.paginate-quote-down').css("opacity", "0.3").removeClass("active");
  }
  } else {
    $('.paginate-quote-up').css("opacity", "0.3").removeClass("active");
    $('.paginate-quote-down').css("opacity", "0.3").removeClass("active");
  }
}
// ** END **

// Runs after ajax returns 10 users
function contributorEvents() {
  $(".bar-one .inner-bar").progress();
  setInterval(function () {
    $(".bar-one .bar").progress();
  }, 500);
  $(".bar-two .bar").progress();

  $(".contributor")
    .show()
    .velocity("transition.slideUpBigIn", {
      stagger: 200,
      duration: 600
    })
  $(".contributors .contributor").on("click", function(e) {
    e.preventDefault();
    e.stopPropagation();
    selected_user = _data.team.entities[$(this).index()].properties
    $(".return_to_team").fadeIn();
    $('#current_rank').attr("src", "/assets/badges/badge_0" + selected_user.current_rank + ".png")
    $('#next_rank').attr("src", "/assets/badges/badge_0" + selected_user.next_rank + ".png")
    $('#highest_rank').attr("src", "/assets/badges/badge_0" + selected_user.highest_rank + ".png")
    $('.contributor, .user-contributor').each(function() {
      $(this).velocity({
        backgroundColor: "#545454"
      }, 100);
    })
    $(this).velocity({
      backgroundColor: "#333"
    }, 100);

    $(".graph_title").html($(this).attr('id') + "'s Rankings")
  });

   $(".user-contributor").on("click", function(e) {
    e.preventDefault();
    e.stopPropagation();
    $(".return_to_team").fadeIn();
    _index = $(this).find(".avatar").attr("id").replace("avatar", "") - 1;
    // $(".progress_description").hide();
    $('.contributor, .user-contributor').each(function() {
      $(this).velocity({
        backgroundColor: "#545454"
      }, 100);
    })
    $(this).velocity({
      backgroundColor: "#333"
    }, 100);
    $('#current_rank').attr("src", "/assets/badges/badge_01.png")
    $('#next_rank').attr("src", "/assets/badges/badge_02.png")
    $('#highest_rank').attr("src", "/assets/badges/badge_03.png")
    $(".graph_title").html("My Rankings");
  });
}

 

// ** END **

initKPI()

</script>

