<style>
  a{
    cursor:pointer;
  }

  table {
    width:100%;
  }

  .avatar {
    width:70px;
    height:70px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    background-size:contain;
    float:left;
  }

  #avatar1 {
    background-image: url('https://avatars0.githubusercontent.com/u/5414273?v=3&s=460');
  }

  #avatar2 {
    background-image: url('https://avatars2.githubusercontent.com/u/8699048?v=3&s=460')
  }

  #avatar3 {
    background-image: url('https://avatars1.githubusercontent.com/u/5241140?v=3&s=460')
  }

  .subtext {
    font-size:0.8em;
  }

  .info-box {
    display:inline-block;
    padding-top:10px;
  }

  .info-text {
    padding:2.5px 0 0 21px;
    float:left;
  }

  .light-text {
    color:#eee;
    font-size:0.85em;
  }

  .legend {
    display;inline;
  }

  .legend-item {
    width:25px;height:20px;
    float:left;
    margin-top:5px;
  }

  .legend-text {
    font-size:0.8em;
    float:left;
    padding-left:5px;
  }

  .contributors {
    padding-top:20px;
  }

  .contributor {
    width:275px;
  }


  .earnings-header {
    padding-left:25%;
    padding-top:10px;
    text-align: left;
  }

  .contributors-td {
    vertical-align:top;
  }

  .chart-td {
    border-left:1px solid rgba(100,100,100,0.9);
    padding-left:20px;
  }

  .leads-chart {
    padding-top:20px;
  }

  .legend-box {
    vertical-align:top;
    display:inline-block;
    padding:50px 0 50px 15px;
    width:150px;
  }

  .learn-more {
    font-size:0.7em;

  }

  #user-legend {
    background-color:rgba(32,194,241,1);
  }

  #global-legend {
    background-color:rgba(249,166,0,1);
  }
  #top-performer{
    background-color: rgba(44,148,105,1);
  }
  .hide{
    display: none;
  }
h4{
  height: 42px;
}
.object_detail_content_section.summary{
  width: 280px;
  padding-right: 25px;
  border-right:1px solid rgba(100,100,100,0.9);

}
.object_detail_content_section{
  width:880px;
  float:left;
}
</style>

<div class="arrow"></div>
<div class="drilldown_content">
  <div id="kpi_leads_detail" class="object_detail">
   <div class="object_detail_arrow"></div>
    <span class="dismiss"><i class="fa fa-times"></i></span>
    <div class="object_detail_content">
      <div class="object_detail_content_section summary">
          <h4>Top Performer</h4>
          <span class="subtext">The best performing team members in the last 6 months.</span>
          <div class="contributors">
            <div class="contributor">
              <div class="info-box">
                <div id="avatar1" class="avatar"></div>
                  <div class="info-text">
                    <a id="hover1"><span>Jon Doe</span></a>
                    <br> 
                    <span class="light-text">Earnings +57% </span>
                  </div>
              </div>
            </div>
            <div class="contributor">
              <div class="info-box">
                <div id="avatar2" class="avatar"></div>
                  <div class="info-text">
                    <a id="hover2"><span>Sam Smith</span></a>
                    <br> 
                    <span class="light-text">Earnings +43% </span>
                  </div>
              </div>
            </div>
            <div class="contributor">
              <div class="info-box">
                <div id="avatar3" class="avatar"></div>
                  <div class="info-text">
                    <a id="hover3"><span>Lisa Williams</span></a>
                    <br> 
                    <span class="light-text">Earnings +41% </span>
                  </div>
              </div>
            </div>
          </div>
        </div>



        <div class="object_detail_content_section" style="padding-left:20px;">
          <h4>Earnings Analysis</h4>
          <canvas id="metricsChart" width="670" height="375" style="float:left;"></canvas>
          <div style="width:150px; padding-left:50px;float:left;">
            <br><br>
            <div class="legend">
              <div class="legend-item" id="user-legend"></div>
              <span id="selected_user" class="legend-text">My Leads</span>
            </div>
            <br>
            <div class="legend">
              <div class="legend-item" id="global-legend"></div>
              <span id="average" class="legend-text">Team Avg.</span>
            </div>
            <br>
            <div class="legend hide">
              <div class="legend-item" id="top-performer"></div>
              <span id="performer" class="legend-text"></span>
            </div>

            <br>


          </div>
        </div>
			</div>
		</div>
	</div>
</div>

<script>
 
var leadsData = {
    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    datasets: [
        {
          label: "My dataset",
          fillColor: "rgba(220,220,0,0)",
          strokeColor: "rgba(32,194,241,1)",
          pointColor: "rgba(32,194,241,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [ 65, 59, 80, 81, 56, 55, 40, 80, 81, 56, 55, 20]
        },
        {
          label: "Global dataset",
          fillColor: "rgba(220,220,220,0)",
          strokeColor: "rgba(249,166,0,1)",
          pointColor: "rgba(249,166,0,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [28, 48, 40, 19, 86, 27, 90, 28, 48, 40, 19, 36]
        },
        {
          label: "Team dataset",
          fillColor: "rgba(220,220,220,0)",
          strokeColor: "rgba(44,148,105,0)",
          pointColor: "rgba(249,166,0,0)",
          pointStrokeColor: "rgba(255,255,255,0)",
          pointHighlightFill: "rgba(255,255,255,0)",
          pointHighlightStroke: "rgba(220,220,220,0)",
          data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }
    ]
};

var topPerformers=[];
["John Doe", "Danny Smith", "Lisa Williams"].forEach(function(name){
  var tempData =[];
  for(i=0;i<12;i++) tempData.push(Math.floor(Math.random()*50+50));
  topPerformers.push({
    name:name,
    data:tempData
  });
});

var options = {
    // Number - pixel width of padding around tooltip text
    tooltipYPadding: 8,

    // Number - pixel width of padding around tooltip text
    tooltipXPadding: 8,

    ///Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    scaleFontColor: "rgba(247,239,226,0.8)",

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(255,255,255,.065)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether the line is curved between points
    bezierCurve : false,

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 4,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 3,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

    animationSteps : 75,
    // Boolean - If we want to override with a hard coded scale
    scaleOverride: true,

      scaleFontSize: 13,
 
      // ** Required if scaleOverride is true **
      // Number - The number of steps in a hard coded scale
      scaleSteps: 10,
      // Number - The value jump in the hard coded scale
      scaleStepWidth: 12,
      // Number - The scale starting value
      scaleStartValue: 0,
};

var ctx = document.getElementById("metricsChart").getContext("2d");
var myChart = new Chart(ctx).Line(leadsData, options);

$('#selected_user').hide().html("My Earnings").fadeIn(1000);
$('#average').hide().html("Team Average").fadeIn(1000);
$(".contributor")
    .velocity("transition.slideUpBigIn", { 
      stagger: 200, 
      duration: 600
    })
    .append("<hr style='border-color:rgba(255,255,255,.08);margin:5px 0 5px 0'> ")

$(".contributor").on("click",function(e){
  
  e.preventDefault();
  e.stopPropagation();
  _index=$(this).find(".avatar").attr("id").replace("avatar","")-1;
  $.extend(leadsData.datasets[2], topPerformers[_index]);

  leadsData.datasets[2].strokeColor = "rgba(44,148,105,1)";
  leadsData.datasets[2].pointColor= "rgba(44,148,105,1)";
  leadsData.datasets[2].pointStrokeColor= "#fff";
  leadsData.datasets[2].pointHighlightFill= "#fff";
  leadsData.datasets[2].pointHighlightStroke= "rgba(220,220,220,1)";
  options.animationSteps=10;
  myChart.destroy();
  myChart = new Chart(ctx).Line(leadsData, options);

  $("#performer").html(topPerformers[_index].name);
  $(".legend").removeClass("hide");

});



</script>