<div class="arrow"></div>
<div class="drilldown_content">
  <div id="kpi_environment_detail" class="object_detail">
    <div class="object_detail_content">

      <div class="object_detail_content_section summary">
          <h4>My Team</h4>
          <span class="subtext">
            Ordered by performance in the past 6 months.
          </span>
          <script>
            //bringing in current user's downline on the left side of KPIs (andrew)

            function populateContributors() {
              var _contributors = $(".contributors");
              _contributors.html("");

              _data.team.entities.forEach(function(member) {
                _ajax({
                  _ajaxType: "get",
                  _url: "/u/users/" + member.properties.id + "/downline",
                  _callback: function(data, text) {
                    member.properties.downline_count = data.entities.length;
                    EyeCueLab.UX.getTemplate("/templates/_kpi_total_earnings_team_thumbnail.handlebars.html", member, undefined, function(html) {
                      _contributors.append(html);
                    });
                  }
                });
              });
            }

            populateContributors();
          </script>
          <div class="contributors">
          </div>
        </div>
      </div>

      <div class="object_detail_content_section" style="padding-left:20px;">
        <h4 id="graph_title">Total Earnings to Date</h4>
        <canvas id="metricsChart" width="670" height="375" style="float:left;"></canvas>
        
        <div class="time_unit_nav">
          <i class="fa fa-chevron-left" style="color:#555;padding:5px; background:#ccc; border-radius:30px; height:15px;width:15px; line-height:18px;margin-right:10px;"></i> <span>Week 11/1 - 11/7</span> <i class="fa fa-chevron-right" style="color:#555; padding:5px; background:#ccc; border-radius:30px; height:15px;width:15px; line-height:18px; margin-left:10px;"></i>
        </div>

        <div style="width:150px; padding-left:50px;float:left;">
          <div class="time_scale">
            Time Scale: <br>
            <span class="active week">Week</span><span class="month">Month</span>
          </div>
          <br><br style="clear:both;">
                <div class="legend">
                      <div class="legend-item" id="user-legend"></div>
                      <span id="selected_user" class="legend-text">Quotes</span>
                </div>
                <br>
                <div class="legend hide">
                      <div class="legend-item" id="top-performer"></div>
                      <span id="performer" class="legend-text"></span>
                </div>

                <br>
        </div>
      </div>

    </div> <!-- end object detail content -->
  </div>
</div>

<script>
 
var metricsData = {
    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    datasets: [
        {
          label: "My dataset",
          fillColor: "rgba(220,220,0,0)",
          strokeColor: "rgba(32,194,241,1)",
          pointColor: "rgba(32,194,241,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [ 65, 59, 80, 81, 56, 55, 40, 80, 81, 56, 55, 70]
        }
    ]
};

var topPerformers=[];
["John Doe", "Danny Smith", "Lisa Williams"].forEach(function(name){
  var tempData =[];
  for(i=0;i<12;i++) tempData.push(Math.floor(Math.random()*50+50));
  topPerformers.push({
    name:name,
    data:tempData
  });
});

var options = {
    // Number - pixel width of padding around tooltip text
    tooltipYPadding: 8,

    // Number - pixel width of padding around tooltip text
    tooltipXPadding: 8,

    ///Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    scaleFontColor: "rgba(247,239,226,0.8)",

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(255,255,255,.065)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether the line is curved between points
    bezierCurve : false,

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 4,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 3,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

    animationSteps : 75,
    // Boolean - If we want to override with a hard coded scale
    scaleOverride: true,

      scaleFontSize: 13,
 
      // ** Required if scaleOverride is true **
      // Number - The number of steps in a hard coded scale
      scaleSteps: 10,
      // Number - The value jump in the hard coded scale
      scaleStepWidth: 12,
      // Number - The scale starting value
      scaleStartValue: 0
};

var ctx = document.getElementById("metricsChart").getContext("2d");
var myChart = new Chart(ctx).Line(metricsData, options);

$('#selected_user').hide().html("Earnings").fadeIn(1000);
$('#average').hide().html("Team Average").fadeIn(1000);
$(".contributor")
    .velocity("transition.slideUpBigIn", { 
      stagger: 200, 
      duration: 600
    })
    .append("<hr style='border-color:rgba(255,255,255,.08);margin:5px 0 5px 0'> ")

$(".return_to_team").on("click",function(e){
  $.extend(metricsData.datasets[0].data, metricsData);
  // $.extend(metricsData.datasets[1].data, tempData.team);
  myChart.destroy();
  myChart = new Chart(ctx).Line(metricsData, options);  
    $("#graph_title").html("Total Earnings to Date");
    $(".contributor").css("background","#545454");
    $(".return_to_team").hide();
    $(".progress_description").fadeIn();
    currentlyViewing="team";

});

$(".contributor").on("click",function(e){
  
  e.preventDefault();
  e.stopPropagation();
  _index=$(this).find(".avatar").attr("id").replace("avatar","")-1;
  $.extend(metricsData.datasets[0].data, topPerformers[_index].data);
  $(".return_to_team").fadeIn();
  $(".progress_description").hide();
  $('.contributor').each(function(){
    $(this).velocity({backgroundColor:"#555"},100);
  })
  $(this).velocity({backgroundColor:"#454545"},150);


  // metricsData.datasets[1].strokeColor = "rgba(44,148,105,1)";
  // metricsData.datasets[1].pointColor= "rgba(44,148,105,1)";
  // metricsData.datasets[1].pointStrokeColor= "#fff";
  // metricsData.datasets[1].pointHighlightFill= "#fff";
  //metricsData.datasets[1].pointHighlightStroke= "rgba(220,220,220,1)";
  options.animationSteps=20;
  myChart.destroy();
  myChart = new Chart(ctx).Line(metricsData, options);
  $("#graph_title").html(topPerformers[_index].name+"'s Earnings to Date")

  // $("#performer").html(topPerformers[_index].name);
  // $(".legend").removeClass("hide");

});



</script>