<div class="arrow"></div>
<div class="drilldown_content">
	<div id="kpi_leads_detail" class="object_detail">
	    <div class="object_detail_arrow"></div>
		<span class="dismiss"><i class="fa fa-times"></i></span>
		<div class="object_detail_content">
			<div class="object_detail_content_section summary">
				<h4>Leads Overview</h4>
				

				<table>
					<tr>
						<td style="width:300px;height:300px;border-right:1px solid rgba(100,100,100,0.9)">First</td>
						<td style="padding-left:20px"><canvas id="leadsChart" width="100" height="100"></canvas></td>
					</tr>
				</table>

				{{!-- <span class="subtext">Capture and complete your leads to turn them into customers.</span>
				<br/>
 --}}
				{{!-- <span class="subtext">
					<a href="/training">Tools for generating leads ></a>
				</span>
				<span class="subtext">
					<a href="#">Show all leads ></a>
				</span>
			</div>
			<div class="object_detail_content_section">
				<h4>Many Sale</h4>
				<span class="subtext">Break it down...</span>
				<span class="expand">
			  		<i class="fa fa-angle-down"></i>
			  	</span>
			</div>
			<div class="object_detail_content_section">
				<h4>A graph goes here...</h4> --}}
			</div>
		</div>
	</div>
</div>

<script>
var leadsData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var ctx = document.getElementById("leadsChart").getContext("2d");
var leadsChart = new Chart(ctx).Bar(leadsData);
console.log(ctx)



</script>