<div class="arrow"></div>
<div class="drilldown_content">
	<div id="kpi_leads_detail" class="object_detail">
	    <div class="object_detail_arrow"></div>
		<span class="dismiss"><i class="fa fa-times"></i></span>
		<div class="object_detail_content">
			<div class="object_detail_content_section summary">
				
				

				<table width="1220" border="0" cellspacing="0" cellpadding="">
          <tr>
            <td><span>Top Contributors</span></td>
            <td style="padding-left:25%;padding-top:10px"><span>Total Earnings</span></td>
          </tr>
					<tr>
						<td width="257" style="padding-right:100px;border-right:1px solid rgba(100,100,100,0.9);vertical-align:top">
              <span class="subtext" style="font-size:0.8em">Find out who's the biggest baller on your team.</span>
              <div style="margin:15px 0px 0px 5px;">
                <div style="display:inline-block">
                  <div style=" width:70px;height:70px;-moz-border-radius:50%;-webkit-border-radius: 50%;border-radius: 50%;background:white;float:left"></div>
                  <div style="padding:2.5px 0 0 21px;float:left;">
                    <a id="test1"><span style="font-size:0.8em;">Jon Doe</span></a>
                    <br>
                    <span style="font-size:0.8em;color:#eee">Earnings Share: 57% </span>
                  </div>
                </div>
                <hr style="border-color:rgba(255,255,255,.08);margin-top:10px">
                <div style="display:inline-block">
                    <div style=" width:70px;height:70px;-moz-border-radius:50%;-webkit-border-radius: 50%;border-radius: 50%;background:white;float:left"></div>
                    <div style="padding:2.5px 0 0 21px;float:left;">
                      <a id="test2"><span style="font-size:0.8em;">Sam Smith</span></a>
                      <br>
                      <span style="font-size:0.8em;color:#eee">Earnings Share: 23% </span>
                    </div>
                  </div>
                <hr style="border-color:rgba(255,255,255,.08);margin-top:10px">
                <div style="display:inline-block">
                  <div style=" width:70px;height:70px;-moz-border-radius:50%;-webkit-border-radius: 50%;border-radius: 50%;background:white;float:left"></div>
                  <div style="padding:2.5px 0 0 21px;float:left;">
                    <a id="test3"><span style="font-size:0.8em;">Lisa Williams</span></a>
                    <br>
                    <span style="font-size:0.8em;color:#eee">Earnings Share: 20% </span>
                  </div>
                </div>
              </div>
            </td>
						<td style="padding-left:20px;">
              <canvas id="leadsChart" width="675" height="350" style="padding-top:10px"></canvas>
              <div style="vertical-align:top;display:inline-block;padding:75px 0 50px 10px;width:150px">
                <div style="display;inline">
                  <div style="background-color:rgba(32,194,241,1);width:25px;height:20px;float:left;margin-top:5px"></div>
                  <span id="selected_user" style="font-size:0.8em;float:left;padding-left:5px;">My Earnings</span>
                </div>
                <br>
                <div style="display;inline">
                  <div style="background-color:rgba(249,166,0,1);width:25px;height:20px;float:left;margin-top:5px"></div>
                  <span style="font-size:0.8em;float:left;padding-left:5px;">Global Avg</span>
                </div>
              </div>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
var leadsData = {
    labels: ["December", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November"],
    datasets: [
        {
            label: "My dataset",
            fillColor: "rgba(220,220,220,0)",
            strokeColor: "rgba(32,194,241,1)",
            pointColor: "rgba(220,220,220,0.5)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40, 80, 81, 56, 55, 20]
        },
        {
            label: "Team dataset",
            fillColor: "rgba(220,220,220,0)",
            strokeColor: "rgba(249,166,0,1)",
            pointColor: "rgba(220,220,220,0.5)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [28, 48, 40, 19, 86, 27, 90, 28, 48, 40, 19, 36]
        }
    ]
};

var options = {

    ///Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    scaleFontColor: "rgba(247,239,226,0.8)",

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(255,255,255,.065)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether the line is curved between points
    bezierCurve : false,

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 4,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 3,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

    // Boolean - If we want to override with a hard coded scale
    scaleOverride: true,

      // ** Required if scaleOverride is true **
      // Number - The number of steps in a hard coded scale
      scaleSteps: 10,
      // Number - The value jump in the hard coded scale
      scaleStepWidth: 12,
      // Number - The scale starting value
      scaleStartValue: 0,
};

var ctx = document.getElementById("leadsChart").getContext("2d");
var leadsChart = new Chart(ctx).Line(leadsData, options);
console.log(ctx)

// $('#test1').click(function(){
//   console.log("click")
//   leadsChart.datasets[0].points[0].value = 50;
//   leadsChart.datasets[0].points[1].value = 23;
//   leadsChart.datasets[0].points[2].value = 24;
//   leadsChart.datasets[0].points[3].value = 55;
//   leadsChart.datasets[0].points[4].value = 05;
//   leadsChart.datasets[0].points[5].value = 09;
//   leadsChart.datasets[0].points[6].value = 26;
//   leadsChart.datasets[0].points[7].value = 75;
//   leadsChart.datasets[0].points[8].value = 79;
//   leadsChart.datasets[0].points[9].value = 09;
//   leadsChart.datasets[0].points[10].value = 26;
//   leadsChart.datasets[0].points[11].value = 20;
//   // Would update the first dataset's value of 'Green' to be 10
//   leadsChart.update();

//   $('#selected_user').html("Jon Doe")
// })


</script>