<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title><a>People</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a ng-href="/admin/#/users/">Users</a></li>
        <li><a ng-href="/admin/#/user-groups/">User Groups</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a>Products</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a ng-href="/admin/#/products/">Products</a></li>
        <li><a ng-href="/admin/#/quotes/">Quotes</a></li>
        <li><a ng-href="/admin/#/orders/">Orders</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a>Pay</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a ng-href="/admin/#/pay-periods/">Pay Periods</a></li>
        <li><a ng-href="/admin/#/bonus-plans/">Bonus Plans</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a>Powur</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a ng-href="/admin/#/notifications/">Dashboard Notifications</a></li>
        <li><a ng-href="/admin/#/resources/">Library</a></li>
        <li><a ng-href="/admin/#/social-media/">Social Media Sharing</a></li>
      </ul>
    </div>
  </section>
</div>