  <div class="customer_thumbnail">
    <p><%= customer_name %>
  	<br/><%= kWh %> kWh
    <br/> <%= total_fruit %> earned

    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

  </div>