  <div class="payment_thumbnail">
  	<p>
    
    <% if has_mailed == true %>
  
        <%= amount %>
        <span class="subtext">Mailed on <%= mail_date %></span>
  
      <% else %>
  
        <%= amount %> this week
        <span class="subtext">Mailing on <%= mail_date %></span>
  
    <% end %>
    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

  </div>