  <div class="payment_thumbnail">
    
    <% if has_mailed == true %>
  
        <%= amount %>
        <span class="subtext">Deposited on <%= mail_date %></span>
  
      <% else %>
  
        <%= amount %> and climbing!
        <span class="subtext">Scheduled for <%= mail_date %></span>
  
    <% end %>
    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

  </div>