<div id="tree_team_detail" class="object_detail dev-hack_for_arrow_placement_tree_team">
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>3 Branches</h4>
			<span class="subtext">Some data</span>
		</div>
		<% Branch.all.each do |b| %>

		  <div class="team_thumbnail">
		    <%= b.name %>
		    <span class="subtext">
		      <%= b.buds %> <i class="fa fa-tint"></i>
		      &nbsp; <%= b.leaves %> <i class="fa fa-leaf"></i>
		      &nbsp; <%= b.branches %> <i class="fa fa-pagelines"></i>
		  	</span>
		    <span class="expand">
		      <i class="fa fa-angle-down"></i>
		    </span>

		  </div>

		<% end %>
		<div class="object_detail_content_section">
			<h4>A graph goes here...</h4>
		</div>
	</div>
</div>

