<div id="tree_customer_detail" class="object_detail dev-hack_for_arrow_placement_tree_customers">
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>13 Leaves</h4>
			<span class="subtext">14,258 kWh saved</span>
		</div>
		<div class="object_detail_content_section">
			<h4>Houses</h4>
			<span class="subtext">And how the wolrd is better...</span>
			<span class="expand">
		  		<i class="fa fa-angle-down"></i>
		  	</span>
		</div>
		<div class="object_detail_content_section">
			<h4>A graph goes here...</h4>
		</div>
	</div>
</div>