<div id="tree_leads_detail" class="object_detail dev-hack_for_arrow_placement_tree_leads">
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>Buds Overview</h4>
			<span class="subtext">Complete your leads and they'll grow from buds to leaves.</span>
			<br/>
			<span class="subtext">
				<a href="/training">Tools for generating leads ></a>
			</span>
			<span class="subtext">
				<a href="#">Show all buds ></a>
			</span>
		</div>
		<div class="object_detail_content_section">
			<h4>Many Sale</h4>
			<span class="subtext">Break it down...</span>
			<span class="expand">
		  		<i class="fa fa-angle-down"></i>
		  	</span>
		</div>
		<div class="object_detail_content_section">
			<h4>A graph goes here...</h4>
		</div>
	</div>
</div>