<div id="tree_payout_detail" class="object_detail dev-hack_for_arrow_placement_tree_payout">
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>$3,531 payout</h4>
			<span class="subtext">Down 5% from last week</span>
		</div>
		<div class="object_detail_content_section">
			<h4>The Numbers</h4>
			<span class="subtext">Break it down...</span>
			<span class="expand">
		  		<i class="fa fa-angle-down"></i>
		  	</span>
		</div>
		<div class="object_detail_content_section">
			<h4>A graph goes here...</h4>
		</div>
	</div>
</div>