<section id="system_feedback">
	<%= render :partial => "shared/sonny_svg" %>
	<p>"You just started, so you're a sprout [classes: sprout, sapling, mighty oak, etc]. Add team members (branches) and leads (buds) to grow your customers (leaves)"</p>
</section>

<section id="dashboard_kpis">
	<div class="section_header">
		<h2>Your Tree</h2>
	</div>
	<div class="section_content">
		<div class="kpi">
			<h3>3 branches</h3>
			<a href="#">Increase it!</a>
		</div>
		<div class="kpi">
			<h3>7 Buds</h3>
			<a href="#">Increase it!</a>
		</div>
		<div class="kpi">
			<h3>13 leaves</h3>
			<a href="#">Increase it!</a>
		</div>
	</div>
</section>

<section id="dashboard_team">
	<div class="section_header">
		<h2>Your Branches</h2>
		<ul>
			<li>Search</li>
			<li>Sort</li>
			<li>Email All</li>
			<li><a href="#">Add a new branch!</a></li>
		</ul>
	</div>
	<div class="section_content">
		<% (3).times do |i| %>
		  <div class="team_thumbnail">
		  	<p>This is a team member...</p>
		  	<a href="#">Gene it!</a>
		  </div>
		<% end %>
	</div>
	<div class="section_notification">
		This is a notification about something regarding this team member - click to find out more...
	</div>
</section>

<section id="dashboard_leads">
	<div class="section_header">
		<h2>Your Buds</h2>
		<a href="#">Add a new bud!</a>
	</div>
	<div class="section_content">
		<% (7).times do |i| %>
		  <div class="lead_thumbnail">
		  	<p>This is a lead...</p>
		  	<a href="#">Add to it!</a>
		  </div>
		<% end %>
	</div>
	<div class="object_detail">
		<p>This is expanded in-depth information about this lead</p>
		<p>Here are some possible actions to take</p>
		<p>Here is more info, or something else perhaps...</p>
		<p>Here is a way to close this...</p>
	</div>
</section>

<section id="dashboard_customers">
	<div class="section_header">
		<h2>Your leaves</h2>
		<a href="#">Add a new leaf!</a>
	</div>
	<div class="section_content">
		<% (13).times do |i| %>
		  <div class="customer_thumbnail">
		  	<p>This is a customer...</p>
		  </div>
		<% end %>
	</div>
</section>

<section id="dashboard_payments">
	<div class="section_header">
		<h2>Your Fruit</h2>
	</div>
	<div class="section_content">
		<% (4).times do |i| %>
		  <div class="customer_thumbnail">
		  	<p>This is a customer...</p>
		  </div>
		<% end %>
	</div>
</section>

<section class="generic_section">

	<p>
		Your permanent customer referral page is <a href="/customer/signup/#1234">http://www.mysolar.com/1234</a>.
		<br/>
		<a href="#">Invite a new customer!</a>
	</p>

	<p>
		Your permanent promoter referral page is <a href="/promoter/signup/#4321">http://www.mysolar.com/4321</a>.
		<br/>
		<a href="#">Invite a new promoter!</a>
	</p>

</section>