<section id="system_feedback">
	Boosh, you're a promoter! This is your first-run experience explaing how everything works...
</section>

<section>
	<h1>Welcome to your superfly dashboard!</h1>

	<p>
		Your permanent customer referral page is <a href="/customer/signup/#1234">http://www.mysolar.com/1234</a>.
		<br/>
		<a href="#">Invite a new customer!</a>
	</p>

	<p>
		Your permanent promoter referral page is <a href="/promoter/signup/#4321">http://www.mysolar.com/4321</a>.
		<br/>
		<a href="#">Invite a new promoter!</a>
	</p>

</section>

<section id="dashboard_kpis">
	<h1>Your KPI's</h1>
	<p> A B C D</p>
</section>

<section id="dashboard_leads">
	<h1>Your Leads</h1>
	<p> A B C D</p>
	<p><a href="#">Add a new lead!</a></p>
</section>

<section id="dashboard_team">
	<h1>Your Team</h1>
	<p> A B C D</p>
	<p><a href="#">Add a new team member!</a></p>
</section>