<section id="user_content">

	<h1>Get started with solar and save!</h1>


	<form id="customer_signup" class="signup_form one">
		<div class="contact_info">
			<h3>Contact Info</h3>
			<span class="form_row half">
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" placeholder="First Name">
			</span>
			<span class="form_row half">
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" placeholder="Last Name">
			</span>
			<span class="form_row">
				<label for="email">Email</label>
				<input type="text" name="email" placeholder="Email Address">
			</span>					
			<span class="form_row">
				<label for="phone">Phone</label>
				<input type="text" name="phone" placeholder="Phone Number">
			</span>
		</div>
		<div class="address">
			<h3>House Info</h3>
			<span class="form_row">
				<label for="address">Street Address & Unit#</label>
				<input type="text" name="address" placeholder="Street">
			</span>
			<span class="form_row">
				<label for="city">City</label>
				<input type="text" name="city" placeholder="City">
			</span>
			<span class="form_row half">
				<label for="state">State</label>
				<input type="text" name="state" placeholder="State">
			</span>
			<span class="form_row half">
				<label for="zip">Zip</label>
				<input type="text" name="zip" placeholder="Zipcode">
			</span>
		</div>
		<div class="utility">
			<h3>Utility Info</h3>
			<span class="form_row">
				<label for="zip">Estimated Monthly Bill</label>
				<input type="text" name="bill" placeholder="Estimated Monthly Bill">
			</span>
		</div>
		<button class="button">Create Lead</button>
	</form>

	<h3>$0 down and no installation fees</h3>
	<h3>Save 10-30% on your monthly electric bill</h3>
	<h3>Reduce your environmental impact</h3>

</section>
