 <div class="login" layout="column">
     <div class="bg" layout="column" layout-align="center center">
         <div flex layout="column" layout-align="space-around center" layout-padding>
            <div class="login-box">
                <div class="sub-header">Welcome back, Powur Advocate.</div>
                <div class="header">User <span class="semi-bold">Login Portal</span></div>
                <div ng-messages="login.create.field('email').$error" class="messages">
                    <div ng-message="message">{{ login.create.field('email').$error.message }}</div>
                </div>
                <div ng-messages="login.create.field('password').$error" class="messages">
                    <div ng-message="message">{{ login.create.field('password').$error.message }}</div>
                </div>
                <form ng-submit="login.loginSubmit()" name="loginForm" novalidate>
                    <!-- PREVENT CHROME AUTOFILL -->
                    <input style="display:none">
                    <input type="password" style="display:none">
                    <div layout="column" class="autoScroll">
                    <!-- !!! -->
                        <md-input-container>
                            <div class="border"></div>
                            <label>User Name</label>
                            <input name="email" ng-model="login.create.field('email').value" type="email" ng-pattern="/^.+@.+\..+$/" autocomplete="off" autofocus>
                            <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched" class="input-message">
                                <div ng-message="required">Email is a required field</div>
                                <div ng-message="pattern">Must be a valid email address</div>
                            </div>
                        </md-input-container>
                        <br>
                        <md-input-container>
                            <div class="border"></div>
                            <label>Password</label>
                            <input name="password" ng-model="login.create.field('password').value" type="password" required>
                            <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" class="input-message">
                                <div ng-message="required">Password is a required field</div>
                            </div>
                        </md-input-container>
                        <md-button flex class="md-raised md-primary" ng-disabled="login.create.submitting">Login</md-button>
                    </div>
                </form>
                <div flex layout="row" layout-align="space-between center" class="options-box">
                    <md-checkbox ng-model="login.create.field('remember_me').value" aria-label="Finished?" md-ink-ripple="#499adb">
                      STAY SIGNED IN
                    </md-checkbox>
                    <div class="link" ng-click="login.showReset($event)">FORGOT PASSWORD?</div>
                </div>
             </div>
         </div>
         <div class="footer show-for-medium-up" layout="row" layout-align="center center" flex="10">
             <div class="logo"></div>
         </div>

     </div>
 </div>
