<div layout="row" ng-cloak>
    <div flex></div>
    <md-whiteframe class="md-whiteframe-2dp" flex="25" layout layout-align="center center">
        <form ng-submit="login.create.submit()" name="loginForm" novalidate>
            <md-content layout="column" class="autoScroll">
                <md-input-container>
                    <label>User Name</label>
                    <input name="email" ng-model="login.email.value" type="text" autocomplete="off" required>
                     <div ng-messages="login.email.$error">
                        <div ng-message="message">{{ login.email.$error.message }}</div>
                    </div>
<!--                      <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched">
                        <div ng-message="required">Email is a required field</div>
                        <div ng-message="pattern">Must be a valid email address</div>
                    </div>-->
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input name="password" ng-model="login.password.value" type="{{ login.create.field('password').type }}" required>
                     <div ng-messages="login.password.$error">
                        <div ng-message="message">{{ login.password.$error.message }}</div>
                    </div>
                </md-input-container>
                <md-button flex class="md-raised md-primary" ng-disabled="login.create.submitting">Login</md-button>
            </md-content>
        </form>
    </md-whiteframe>
    <div flex></div>
</div>

<pre>
{{ login.$session | json }}
</pre>