<div class="reset-popup fill-height">
    <md-dialog aria-label="Invite" class="dialog">
        <form layout="row">
            <div class="side-bg"></div>
            <div layout="column" flex>
                <div layout="row" layout-align="end start"><a href="javascript:void(0);" class="close" ng-click="login.cancel()"><i class="sprite sprite-close"></i></a></div>
                <md-dialog-content layout="column">
                  <div class="heading"><span class="semi-bold uppercase">Please enter your new password</div>
                    <form name="dialogForm" novalidate>
                      <md-input-container>
                          <label>Password</label>
                          <input name="email" ng-model="login.reset.field('email').value" type="email" ng-pattern="/^.+@.+\..+$/" autocomplete="off" required="">
                          <div ng-messages="login.reset.field('email').$error" class="messages">
                              <div ng-message="message">{{ login.reset.field('email').$error.message }}</div>
                          </div>
                          <div ng-messages="login.reset.$error" class="messages">
                              <div ng-message="message">{{ login.reset.$error.message }}</div>
                          </div>
                      </md-input-container>
                      <div class="actions">
                          <md-button class="md-raised md-primary" ng-click="login.resetSubmit();">
                              Send Reset Request
                          </md-button>
                      </div>
                    </form>
                </md-dialog-content>
            </div>
        </form>
    </md-dialog>
</div>