<div class="reset-popup fill-height">
  <md-dialog aria-label="Invite" class="dialog">
    <form layout="row">
      <div class="side-bg"></div>
      <div layout="column" flex>
        <div layout="row" layout-align="end start"><a href="javascript:void(0);" class="close" ng-click="login.cancel()"><i class="sprite sprite-close"></i></a></div>
        <md-dialog-content layout="column">
          <div class="heading"><span class="semi-bold uppercase">Please enter your new password</div>
          <form name="dialogForm" novalidate>
            <md-input-container>
              <label>Password</label>
              <input name="password" ng-model="login.updatePassword.field('password').value" type="password" required="">
              <div ng-messages="login.updatePassword.field('password').$error" class="messages">
                <div ng-message="message">{{ login.updatePassword.field('password').$error.message }}</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label>Password Confirmation</label>
              <input name="password_confirm" ng-model="login.updatePassword.field('password_confirm').value" type="password" required="">
              <div ng-messages="login.updatePassword.field('password_confirm').$error" class="messages">
                <div ng-message="message">{{ login.updatePassword.field('password_confirm').$error.message }}</div>
              </div>
            </md-input-container>

            <div ng-messages="login.updatePassword.$error" class="messages">
              <div ng-message="message">{{ login.updatePassword.$error.message }}</div>
            </div>

            <div class="actions">
              <md-button class="md-raised md-primary" ng-click="login.updatePasswordSubmit();">
                Update
              </md-button>
            </div>
          </form>
        </md-dialog-content>
      </div>
    </form>
  </md-dialog>
</div>
