<div class="arrow"></div>
<div class="drilldown_content">

	<div class="drilldown_content_section full">


	<div class="new_thumbnail js-invite_thumbnail" data-audience="new_invite">
		<div class="js-thumbnail" >
			<span class="placeholder_avatar">
				<span>
					1
				</span>
			</span>
			<span>Empty</span>
			<span class="subtext">Invite someone</span>

			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>

	<div class="new_thumbnail js-invite_thumbnail" data-audience="new_invite">
		<div class="js-thumbnail" >
			<img class="advocate_avatar" src="/temp_dev_images/Tim.jpg"/>

			<span>Sally Sue</span>
			<span class="subtext">
				<span class="badge">Renew</span>
				<span class="badge">Release</span>
			</span>

			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>

	<div class="new_thumbnail js-invite_thumbnail" data-audience="new_invite">
		<div class="js-thumbnail" >
			<img class="advocate_avatar" src="/temp_dev_images/Tim.jpg"/>
			<span>Billy Bane</span>
			<span class="subtext">Expires in 12:23</span>

			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>

	<div class="new_thumbnail js-invite_thumbnail" data-audience="new_invite">
		<div class="js-thumbnail" >
			<span class="placeholder_avatar">
				<span>
					4
				</span>
			</span>
			<span>Empty</span>
			<span class="subtext">Invite someone</span>

			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>

	<div class="new_thumbnail js-invite_thumbnail" data-audience="new_invite">
		<div class="js-thumbnail" >
			<img class="advocate_avatar" src="/temp_dev_images/Tim.jpg"/>

			<span>Freddie Farmer</span>
			<span class="subtext">Expires in 34:12</span>

			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>

	</div>
</div>




