<div class="arrow"></div>
<div class="drilldown_content">
  <div class="modal_overlay">
    <div class="modal_content">
      <span>
				Are you sure you would like to delete this quote?<br/>
				This cannot be undone.
			</span>
      <div class="modal_actions">
        <a href="#" class="button quiet"><i class="fa fa-times"></i> Cancel</a>

        <a href="#" class="button warning"><i class="fa fa-trash-o"></i> Delete Quote</a>

      </div>
    </div>
  </div>
  <div class="drilldown_content_section summary">
    <h4>Incomplete Quote</h4>
    <p class="subtext">Add the missing information to complete the quote, or send the customer a link so they can complete it. Once a quote is complete, it can be sent to Sunrun for followup.</p>
    <ul>
      {{#each this.properties.quote_status}}
        {{#if this.properties.reason}}
          <li><span class="subtext">{{@key}} on {{this.properties.date}} - {{this.properties.reason}}</span>
          </li>
        {{else}}
          {{#compare @key "Approved" operator="==" }}
            <li><span class="subtext">{{@key}} on {{this.properties}}</span>
            </li>
        {{else}}
          <li><span class="subtext">{{@key}} on {{this.properties}}</span>
          </li>
          {{/compare}}
        {{/if}}
      {{/each}}
    </ul>
    <div class="summary_actions">
      <!-- <a href="#" class="button quiet js-remove_quote"><i class="fa fa-trash-o"></i> Delete Quote</a> -->
      <a href="#" class="button quiet js-resend_quote_email"><i class="fa fa-envelope"></i> Email link to customer</a>
      <!--<a href="#" class="button disabled js-submit_to_sunrun"><i class="fa fa-arrow-up"></i> Submit quote</a>-->
      <a href="#" class="button quiet js-close_drilldown"><i class="fa fa-times"></i> Cancel</a>
      
    </div>
  </div>
  <div class="drilldown_content_section">

    <form id="customer_contact_form" class="quote_form" data-customer-id="{{this.properties.id}}">
      <fieldset class="one">
        <fieldset class="contact_info">
          <legend><i class="fa fa-envelope"></i> Contact Info</legend>
          {{#each this._customerFields}}
            {{#compare this.type "text"}}
              {{#compare this.name "first_name"}}
                <span class="form_row half">
										<label for="{{this.name}}">{{sanitize this.name}}</label>
										<input type="{{this.type}}" name="{{this.name}}" value="{{this.value}}"></input>
									</span> {{else}}
                  {{#compare this.name "last_name"}}
                    <span class="form_row half">
											<label for="{{this.name}}">{{sanitize this.name}}</label>
											<input type="{{this.type}}" name="{{this.name}}" value="{{this.value}}"></input>
										</span> {{else}}
										{{#compare this.name "state"}}
											<span class="form_row">
											<label for="{{this.name}}">{{sanitize this.name}}</label>
												<select name="{{this.name}}">
												{{#each this.fields}}
													{{#compare this.value .}}
													<option name="{{.}}" value="{{.}}" selected>{{.}}</option>
													{{else}}
													<option name="{{.}}" value="{{.}}">{{.}}</option>
													{{/compare}}
												{{/each}}
												</select>
											</span>
										{{else}}
                      <span class="form_row">
												<label for="{{this.name}}">{{sanitize this.name}}</label>
												<input type="{{this.type}}" name="{{this.name}}" value="{{this.value}}"></input>
											</span> {{/compare}}
								{{/compare}}
              {{/compare}}
            {{/compare}}
            {{#compare this.type "email"}}
              <span class="form_row">
									<label for="{{this.name}}">{{sanitize this.name}}</label>
									<input type="{{this.type}}" name="{{this.name}}" value="{{this.value}}"></input>
								</span> {{/compare}}
            {{#compare this.type "number"}}
              <span class="form_row">
									<label for="{{this.name}}">{{sanitize this.name}}</label>
									<input type="text" name="{{this.name}}" value="{{this.value}}"></input>
								</span> {{/compare}}
            {{#compare this.type "select"}}
              <span class="form_row">
									<label for="{{this.name}}">{{sanitize this.name}}</label>
									<select id="{{this.name}}" name="{{this.name}}">
									{{#each this.options}}
										{{#compare ../../value this.display}}
											<option name="{{this.display}}" value="{{this.display}}" selected>{{this.display}}</option>
										{{else}}
											<option name="{{this.display}}" value="{{this.display}}">{{this.display}}</option>
										{{/compare}}
									{{/each}}
									</select>
									</span> {{/compare}}
            {{#compare this.type "checkbox"}}
              <span class="form_row">
									<label for="{{this.name}}">{{this.name}}</label>
									{{#compare this.value true}}
									<input type="" checked name="{{this.name}}"></input>
									{{else}}
									<input type="{{this.type}}" name="{{this.name}}"></input>
									{{/compare}}
									</span> {{/compare}}
          {{/each}}
        </fieldset>
      </fieldset>

      <fieldset class="two">
        <fieldset class="utility">
          <legend><i class="fa fa-bolt"></i> House & Utility Info</legend>

          {{#each this._quoteFields}}
            {{#compare this.type "text"}}
              <span class="form_row">
              			<label for="{{this.name}}">{{sanitize this.name}}</label>
              			<input type="{{this.type}}" name="{{this.name}}" value="{{this.value}}"></input>
              		</span> {{/compare}}
            {{#compare this.type "email"}}
              <span class="form_row">
              		<label for="{{this.name}}">{{sanitize this.name}}</label>
              		<input type="{{this.type}}" name="{{this.name}}" value="{{this.value}}"></input>
              	</span> {{/compare}}
            {{#compare this.type "number"}}
              <span class="form_row">
              		<label for="{{this.name}}">{{sanitize this.name}}</label>
              		<input type="text" name="{{this.name}}" value="{{this.value}}"></input>
              	</span> {{/compare}}
            {{#compare this.type "select"}}
              <span class="form_row">
              		<label for="{{this.name}}">{{sanitize this.name}}</label>
              		<select id="{{this.name}}" name="{{this.name}}">
              		{{#each this.options}}
              			{{#compare ../../value this.display}}
              				<option name="{{this.display}}" value="{{this.display}}" selected>{{this.display}}</option>
              			{{else}}
              				<option name="{{this.display}}" value="{{this.display}}">{{this.display}}</option>
              			{{/compare}}
              		{{/each}}
              		</select>
              		</span> {{/compare}}
            {{#compare this.type "checkbox"}}
              <span class="form_row">
              		<label for="{{this.name}}">{{sanitize this.name}}</label>
              		<select name="{{this.name}}">
              		{{#compare this.value true}}
              		<option value="true" selected>Qualified</option>
              		<option value="false">Not Qualified</option>
              		{{else}}
              		<option value="true">Qualified</input>
              		<option value="false" selected>Not Qualified</input>
              		{{/compare}}
              		</select>
              		</span> {{/compare}}
          {{/each}}
        </fieldset>
        <fieldset class="actions">
          <button class="button js-update_customer_info">Update Customer Info</button>
        </fieldset>

      </fieldset>
    </form>
  </div>
</div>

<style>
  .form_row {
    height: 69px !important;
  }
  form select {
    margin-bottom: 8px;
    height: 61px;
  }
</style>
