<div class="arrow"></div>
<div class="drilldown_content">
	<div class="drilldown_content_section summary">
		<h4>Incomplete Quote</h4>
		<p class="subtext">Add the missing information to complete the quote, or send the customer a link so they can complete it. Once a quote is complete, it can be sent to Sunrun for followup.</p>
		<ul>
		{{#each this.quote_status}}
			{{#if this.reason}}
			<li><span class="subtext">{{@key}} on {{this.date}} - {{this.reason}}</span></li>
			{{else}}
				{{#compare @key "Approved" operator="=="}}
					<li><span class="subtext">{{@key}} on {{this}}</span></li>
				{{else}}
					<li><span class="subtext">{{@key}} on {{this}}</span></li>
				{{/compare}}
			{{/if}}
		{{/each}}
		</ul>
		<div class="summary_actions">
			<a href="#" class="button quiet js-remove_quote"><i class="fa fa-times"></i> Remove Quote</a>
			<a href="#"  class="button disabled js-remove_quote"><i class="fa fa-envelope"></i> Email quote</a>

		</div>
	</div>
	<div class="drilldown_content_section">

		<form id="customer_contact_form" class="quote_form" data-customer-id="{{this.id}}">
			<fieldset class="one">
				<fieldset class="contact_info">

					<legend><i class="fa fa-envelope"></i> Contact Info</legend>
					<span class="form_row half">
						<label for="first_name">First Name</label>
						<input type="text" name="first_name" value="{{this.first_name}}">
					</span>
					<span class="form_row half">
						<label for="last_name">Last Name</label>
						<input type="text" name="last_name" value="{{this.last_name}}">
					</span>
					<span class="form_row">
						<label for="email">Email</label>
						<input type="text" name="email" value="{{this.email}}">
					</span>

					<div class="form_edit_actions">
						<a class="button save_changes">Save changes</a>
						<a class="secondary_button cancel_changes">Cancel</a>
					</div>
				</fieldset>

				<fieldset class="address">
					<legend><i class="fa fa-home"></i> Home Info</legend>

					<span class="form_row">
						<label for="address.street">Street Address & Unit#</label>
						<input type="text" name="address" value="{{this.address}}">
					</span>
					<span class="form_row">
						<label for="address.city">City</label>
						<input type="text" name="city" value="{{this.city}}">
					</span>
					<span class="form_row half">
						<label for="address.state">State</label>
						<input type="text" name="state" value="{{this.state}}">
					</span>
					<span class="form_row half">
						<label for="address.zip">Zip</label>
						<input type="text" name="zip" value="{{this.zip}}">
					</span>
					<span class="form_row half">
						<label for="state">Roof Type</label>
						<input type="text" name="roof" value="{{this.roof}}">
					</span>
					<span class="form_row half">
						<label for="roofage">Roof Age</label>
						<input type="text" name="roofage" placeholder="Roof Age">
					</span>

					<div class="form_edit_actions">
						<a class="button save_changes">Save changes</a>
						<a class="secondary_button cancel_changes">Cancel</a>
					</div>
				</fieldset>
			</fieldset>

			<fieldset class="two">
				<fieldset class="utility">
					<legend><i class="fa fa-bolt"></i> Utility Info</legend>
					<span class="form_row">
						<label for="provider">Utility Provider</label>
						<input type="text" name="provider" value="{{this.provider}}">
					</span>
					<span class="form_row">
						<label for="bill">Estimated Monthly Bill</label>
						<input type="text" name="bill" placeholder="Estimated Monthly Bill">
					</span>

					<div class="form_edit_actions">
						<a class="button save_changes">Save changes</a>
						<a class="secondary_button cancel_changes">Cancel</a>
					</div>
				</fieldset>

				<fieldset class="contact_info">
					<legend><i class="fa fa-phone"></i> Phone Number</legend>
					<span class="form_row">
						<label for="phone">Phone</label>
						<input type="text" name="phone" value="{{this.phone}}">
					</span>

					<div class="form_edit_actions">
						<a class="button save_changes">Save changes</a>
						<a class="secondary_button cancel_changes">Cancel</a>
					</div>
				</fieldset>
				<fieldset class="actions">
					<p class="subtext dev">[replace replace this button with the dynamically appearing .form_update_actions associated with the corresponding fieldset]</p>
					<button class="button js-update_customer_info">Update Customer Info</button>
				</fieldset>

			</fieldset>
		</form>
		<!--
		<form id="{{this.info.id}}_lead_utility_form" class="sidebar utility">
			<lable>Utility Info</lable><br>
			<span class="subtext">Verified Kilowatt-Hour (kWh)</span>
			<input type="text" name="kwh" value="{{this.kwh}}">
			{{#if this.utility_info.document}}
				<br><br>
				<span class="subtext">Uploaded Utility Document</span>
				<a href="">{{this.utility_info.document}}</a><br><br>
			{{/if}}
				<span class="button">Request Utility Verification</a>
		</form>
	-->
	</div>
</div>




