
{{#if this.stats}}
<div class="drilldown_content">
	<div class="drilldown_content_section kpi_container ">
		<div class="section_content team_info" >
			<div class="pagination_container kpi_container" data-comment="required for pagination - do not remove drilldown">
				<div class="nav left"><i class="fa fa-angle-left"></i></div>
				<div class="pagination_content">
				</div>
				<div class="nav right"><i class="fa fa-angle-right"></i></div>
			</div>					
		</div>
	</div>
</div>
{{else}}
<div class="drilldown_content">
	<div class="drilldown_content_section summary">
		<span class="info_title">GENERATION</span>
		<span class="info_detail fa-generation" style="">{{this.generation}}</span>
	</div>
	<div class="drilldown_content_section details" style="overflow:hidden;">
		<div class="section_content team_info" >
			<div class="pagination_container" data-comment="required for pagination - do not remove drilldown">
				<div class="nav left"><i class="fa fa-angle-left"></i></div>
				<div class="pagination_content">
				</div>
				<div class="nav right"><i class="fa fa-angle-right"></i></div>
			</div>					
		</div>
	</div>
</div>
{{/if}}

<style type="text/css">

.info_title {
  font-size:0.9em;
  margin-top:25px;
  display:block;
}

.info_detail {
  margin-top:20px;
  display:block;
  font-size:0.95em;
}

.fa-generation {
  font-size:7em;
  margin-top:68px
}

.details {
	margin-left:248px;
}

.pagination_container.kpi_container {
	overflow:visible !important;
}

.drilldown_content_section.kpi_container {
	width:1255px;
}

</style>