<style>
#nmi-container {
  width:100%;
  float:left;
  margin:20px 0px 10px 20px;
  min-height:430px;
}

#nmi-container fieldset {
  border:1px solid #333;
  width:630px;
}
</style>
<section id="em-sandbox">

    <div class="sandbox-container">
        <h3>Empower Merchant Sandbox</h3>
    </div>


    <section id="nmi-container">
    <h1>Your Order has been Processed.</h1>

      <fieldset>
        <legend>Billed To:</legend>
        <ul>
          <li><span>Transaction ID: <% params[:transactionid] %></li>
          <li><span>Order ID: </span><% params[:orderid] %></li>
          <li><span>Amount: </span><% params[:amount] %></li>
        </ul>
      </fieldset>

    <%= link_to "Edit", sandbox_empower_merchant_path %>
      <fieldset>
        <legend>Billed To:</legend>
        <ul>
        <% if params[:company] %>
          <li><% params[:compay] %></li>
        <% end %>
          <li><% params[:email] %></li>
          <li><% params[:first_name] %> <% params[:last_name] %></li>
          <li><% params[:address_1] %></li>
          <li><% params[:address_2] %></li>
          <li><% params[:city] %></li>
          <li><% params[:state] %></li>
          <li><% params[:postal_code] %></li>
        </ul>
      </fieldset>
    </section>
</section>