<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app="powur">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!--<link rel="stylesheet" type="text/css" href="vendor/assets/bower_components/angular-material/angular-material.css">-->
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.css">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.3/angular-chart.css">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css">
      
        <%= stylesheet_link_tag "next", media: "all" %>
        <!--<link rel="stylesheet" type="text/css" href="css/general.css">
        <link rel="stylesheet" type="text/css" href="css/overrides.css">
        <link rel="stylesheet" type="text/css" href="css/nav.css">
        <link rel="stylesheet" type="text/css" href="css/profile.css">
        <link rel="stylesheet" type="text/css" href="css/activity.css">
        <link rel="stylesheet" type="text/css" href="css/invite.css">
        <link rel="stylesheet" type="text/css" href="css/invite-popup.css">
        <link rel="stylesheet" type="text/css" href="css/events.css">-->
    </head>
    <body ng-controller="RootController as root">
        
        <div layout="row">
            <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left md-whiteframe-z2" layout="row">
                <div ui-view="nav" class="parent-height"></div>
                <div ui-view="profile" class="parent-height"></div>
            </md-sidenav>
            <div flex layout="column">
                <md-toolbar hide-gt-md>
                    <div class="md-toolbar-tools toolbar-bg">
                        <md-button class="md-icon-button hide-gt-sm" aria-label="Profile" ng-click="root.openMenu()">
                            <md-icon md-svg-icon="/assets/img/menu.svg"></md-icon>
                        </md-button>
                        <h2>
                            <span>POWUR</span>
                        </h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                
                <div ui-view="main" flex></div>
            </div>
            <div ui-view="activity" class="parent-height"></div>
        </div>
        
        <!-- TODO: replace with rails asset pipeline / maybe load with require -->
        <!-- TODO: use bower -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>-->
        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.min.js"></script>
        <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.3/angular-chart.min.js"></script>-->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.js"></script>
 
        <!--<script type="text/javascript" src="build/client/js/app.min.js"></script>-->
        <%= javascript_include_tag "client" %>
    </body>

</html>