<!doctype html>
<html lang="en">
  <head>
    <title pw-title>Powur</title>
    <base href="/next/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc7/angular-material.css" rel="stylesheet">
    <%= stylesheet_link_tag "client", media: "all" %>
    <link rel="icon" type="image/png" href="<%=asset_path('powur-ico.png') %>">
    <link href="<%=asset_path('powur-ico.png') %>" rel="apple-touch-icon">
  </head>
  <body ng-controller="RootController as root">
    <div ui-view></div>
    <%= javascript_include_tag "client" %>
  </body>
</html>
