'use strict';

function DashboardCustomersCtrl($scope, $location, $timeout, Geo, Customer) {
  $scope.redirectUnlessSignedIn();
  $scope.proposalForm = false;

  $scope.states = Geo.states();

  // Utility Functions
  $scope.getAction = function(actions, name) {
    for (var i in actions) {
      if (actions[i].name === name) {
        return actions[i];
      }
    }
    return;
  };

  $scope.setFormValues = function(formAction) {
    var formValues = {};
    for (var i in formAction.fields) {
      var key = formAction.fields[i].name;
      var value = formAction.fields[i].value;
      formValues[key] = (value);
    }
    return formValues;
  };

  // Show Proposal

  $scope.showProposal = function(proposalId) {
    if ($scope.showForm === true && (proposalId === $scope.currentProposal.id)) {
      $scope.closeForm();
    } else {
      $scope.proposal = {};
      $scope.currentProposal = {};

      Customer.get(proposalId).then(function(item){
        if ($scope.getAction(item.actions, 'update')) {
          $scope.formAction = $scope.getAction(item.actions, 'update');
          $scope.proposalItem = item;
          $scope.proposal = $scope.setFormValues($scope.formAction);
          $scope.currentProposal = item.properties;
          $scope.mode = 'incomplete';
          $scope.showForm = true;
        } else {
          $scope.proposal = item.properties;
          $scope.currentProposal = item.properties;
          $scope.mode = 'submitted';
          $scope.showForm = true;
        }
      });
    }
  };

  // New Proposal

  $scope.newProposal = function() {
    if ($scope.showForm === true && $scope.mode === 'new') {
      $scope.closeForm();
    } else {
      $scope.proposal = {};
      $scope.currentProposal = {};

      Customer.list().then(function(items){
        $scope.formAction = $scope.getAction(items.actions, 'create');
        $scope.mode = 'new';
        $scope.showForm = true;
      });
    }
  };

  // Submit Action

  $scope.submit = function() {
    if ($scope.proposal) {
      Customer.execute($scope.formAction, $scope.proposal).then(function(data) {
        actionCallback($scope.formAction, data);
      });
    }
  };

  var actionCallback = function(action, data) {
    if (action.name === 'create') {
      Customer.list().then(function(items) {
        $scope.closeForm();
      });
    }
    if (action.name === 'update') {
      Customer.list().then(function(items) {
        for (var i in $scope.proposals) {
          if ($scope.proposals[i].properties.id === $scope.proposalItem.properties.id) {
            for (var j in items.entities) {
              if (items.entities[j].properties.id === $scope.proposalItem.properties.id) {
                $scope.proposals[i].properties = items.entities[j].properties;
              }
            }
          }
        }
        $scope.closeForm();
      });
    }
  };


  $scope.closeForm = function() {
    $scope.showForm = false;
    $scope.mode = '';
    $scope.currentProposal = {};
    $scope.$apply();
  };

  $scope.slickPrevArrow = '<a class="slick-prev"><i class="fa fa-chevron-left"></i></a>';
  $scope.slickNextArrow = '<a class="slick-prev"><i class="fa fa-chevron-right"></i></a>';
  $scope.slickResponsive = [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }
      ];
  $scope.slickOnAfterChange = function() {
    $scope.closeForm();
  };

  return Customer.list().then(function(items) {
    $scope.proposals = items.entities;
  });

}

DashboardCustomersCtrl.$inject = ['$scope', '$location', '$timeout', 'Geo', 'Customer'];
sunstandControllers.controller('DashboardCustomersCtrl', DashboardCustomersCtrl);
