<!-- Panel Navigation Menu -->
<ul class="side-nav">
  <li><a ng-class="{active:view === 'overview'}" ng-href="#/admin/bonus-plans/{{plan.id}}">Bonus Plan Overview</a></li>
  <li class="divider"></li>
  <li><a ng-class="{active:view === 'products'}" ng-href="#/admin/bonus-plans/{{plan.id}}/orders">Products</a></li>
  <li><a ng-class="{active:view === 'bonuses'}" ng-href="#/admin/bonus-plans/{{plan.id}}/bonuses">Bonuses</a></li>
  <li class="divider"></li>
  <li><a ng-class="{active:view === 'edit'}" ng-href="#/admin/bonus-plans/{{plan.id}}/edit">Edit Bonus Plan</a></li>
</ul>