<main class="sun-admin-bonus-plans">

  <div class="row">
    <div class="large-12 columns">
      <h2>Update a Bonus Plan</h2>
      <!-- Bonus Plan Form -->
      <ng-include src="'<%=asset_path("angular-admin/bonus-plans/templates/form.html")%>'"></ng-include>
    </div>
  </div>

</main>
