<main class="sun-admin-bonus-plans">

  <div class="row">
    <div class="large-12 columns">
      <h3>Create a New Bonus Plan</h3>
      <!-- Bonus Plan Form -->
      <ng-include src="'<%=asset_path("angular-admin/bonus-plans/templates/form.html.erb")%>'"></ng-include>
    </div>
  </div>

</main>
