<div  id="slideData">
<table id="slideTable">
    <thead>
      <td class="details-cell header-cell">Order ID</td>
      <td class="details-cell header-cell">Order Date</td>
      <td class="details-cell header-cell">Customer</td>
      <td class="details-cell header-cell">Amount</td>
    </thead>
    {{#each entities}}
      {{#each this.properties.entities}}
        <tr class="details-row">
          <td class="details-cell">{{this.properties.order_id}}</td>
          <td class="details-cell">{{this.properties.order_date}}</td>
          <td class="details-cell">{{this.properties.customer_name}}</td>
          <td class="details-cell">${{formatCurrency ../this.properties.amount}}</td>
        </tr>
      {{/each}}
    {{/each}}
    </table>
</div>
