<table id="stats-header">
  <tr>
    <td>
      <h3 class="kpi_label">CURRENT WEEK</h3>
      {{#compare this.properties.active false operator="=="}}
        <h1 class="kpi_value" style="font-size: 31pt;"><span>$0</span></h1>
        {{else}}
        {{#each this.entities}}
          {{#compare this.properties.pay_period_week_number ../this.properties.current_week operator="=="}}
            <h1 class="kpi_value" style="font-size: 31pt;"><span>${{formatCurrency this.properties.total_earnings}}</span></h1>
          {{/compare}}
        {{/each}}
      {{/compare}}
    </td>
    <td>
      <h3 class="kpi_label">CURRENT MONTH</h3>
      {{#compare this.properties.active false operator="=="}}
        <h1 class="kpi_value" style="font-size: 31pt;"><span>$0</span></h1>
        {{else}}
        {{#compare this.entities.[0].properties.pay_period_type "Monthly" operator="=="}}
          <h1 class="kpi_value" style="font-size: 31pt;"><span>${{formatCurrency this.entities.[0].properties.total_earnings}}</span></h1>
        {{else}}
          {{#each this.entities}}
            {{#compare this.properties.pay_period_week_number ../this.properties.current_week operator="=="}}
              <h1 class="kpi_value" style="font-size: 31pt;"><span>${{formatCurrency this.properties.total_earnings}}</span></h1>
            {{/compare}}
          {{/each}}
        {{/compare}}
      {{/compare}}
    </td>
    <td>
      <h3 class="kpi_label">ACCUMULATED TOTAL</h3>
      <h1 class="kpi_value" style="font-size: 31pt;"><span>${{formatCurrency this.properties.accumulated_total}}</span></h1>
    </td>
  </tr>
</table>