<script type="text/javascript">
  var months = [ "","January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December" ]
  // $('.date span').html(months[parseInt($('.date span').attr('id').substring(0,2))])
</script>

<div class="section_content" style="overflow:hidden;">

<div id="body_section_header" class="section_header" style="text-transform:uppercase;">
  <span>{{formatMonth this.entities.0.properties.pay_period_month}} / </span>
  <span>{{this.entities.0.properties.pay_period_year}}</span>
</div>

</div>
<table style="width:100%;">
<thead>
  <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"><strong>Pay Period</strong></td>
  <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"><strong>Dates</strong></td>
  <td style="text-align:left; border: 1px solid #ddd; padding: 5px;"><strong>Amount</strong></td>
  <td style="text-align:right; border: 1px solid #ddd; padding-right: 15px;"><strong>Details</strong></td>
</thead>
  {{#each this.entities}}
  <tr style="background:#fff;">
    {{#compare this.properties.pay_period_type "Monthly" operator="==="}}
    <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;">Month</td>
    {{else}}
    <td style="text-align:left; border: 1px solid #ddd; padding: 5px; padding-left:15px;">Week {{this.properties.pay_period_week_number}}</td>
    {{/compare}}
    {{#if this.properties.pay_period_date_range}}
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">{{this.properties.pay_period_date_range}}</td>
    {{else}}
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">-</td>
    {{/if}}
    {{#if this.properties.total_earnings}}
    
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">${{this.properties.total_earnings}}</td>
      <td style="text-align:right; border: 1px solid #ddd; padding-right: 15px;"><a class="dropToggle" id="{{this.properties.pay_period_id}}">View Details &#x25BC;</a></td>
    {{else}}
      <td style="text-align:left; border: 1px solid #ddd; padding: 5px;">$0</td>
      <td style="text-align:right; border: 1px solid #ddd; padding-right: 15px;color:#ccc">View Details &#x25BC;</td>
    {{/if}}
  </tr>
  {{/each}}
</table>
