
.invite .counter {
    height: 205px;
    margin: 0 5px 0 5px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.invite .counter>ul {
    height: 205px;
    text-align: center;
    text-transform: uppercase;
}

.invite .counter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

 /*205 - 15*/
.invite .counter li { 
    height: 190px;
    border-right: 1px solid #ececec;
}

.invite .counter li:last-child { 
    border-right: none; 
}

.invite .counter .count {
    font-size: 4em;
    color: #666666;
    padding: 10px;
}

.invite .counter .label {
    color: #cccccc;
}

.invite .invite-list {
    padding: 20px;
}

.invite .ellipse {
    padding: 30px;
}

/* sprites */

.invite .ellipse .sprite {
    background-image: url(../img/ellipse-sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.invite .ellipse .sprite-ellipse {
    width: 165px;
    height: 165px;
    background-position: -5px -5px;
}

.invite .ellipse .sprite-ellipse-invite {
    width: 165px;
    height: 165px;
    background-position: -180px -5px;
}

.invite .ellipse .sprite-ellipse-locked {
    width: 164px;
    height: 166px;
    background-position: -355px -5px;
}

.invite .counter .sprite {
    background-image: url(../img/invite-sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.invite .counter .sprite-accepted {
    width: 24px;
    height: 23px;
    background-position: -5px -5px;
}

.invite .counter .sprite-available {
    width: 24px;
    height: 23px;
    background-position: -39px -5px;
}

.invite .counter  .sprite-expired {
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.invite .counter  .sprite-invite {
    width: 35px;
    height: 32px;
    background-position: -107px -5px;
}

.invite .counter  .sprite-pending {
    width: 24px;
    height: 24px;
    background-position: -152px -5px;
}
