<section id="user_content" class="user" style="height:80vh;">
  <h3>Promoter Login</h3>

  <form id="user_login" class="js-login_form">
    <span class="form_row">
      <label for="email">Email</label>
      <input name="email" type="text" class="validate" required autofocus/>
    </span>

    <span class="form_row">
      <label for="password">Password</label>
      <input name="password" type="password" class="validate" required/>
    </span>

    <span class="form_row checkbox">
      <input name="remember_me" id="remember_me" type="checkbox" />
      <label for="remember_me" class="checkbox small"> remember me</label>
    </span>

    <a href="<%= password_path %>" class="secondary_button">Reset password</a>
    <input type="submit" class="button" value="Log in"/>
  </form>
</section>
