---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A101&Lead_Generator__c=52&FirstName=Bob&LastName=Doran&Street=1001%20Michael%20Lane&City=Eagleville&PostalCode=19403&Phone=(610)%20283-6113&Email=bob%40bobdoran.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@51c6bbe4"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PVx5HEAT","Message":"Lead successfully
        created","YourId":"production.powur.com:101"}'
  recorded_at: Wed, 29 Apr 2015 14:02:00 GMT
recorded_with: VCR 2.9.3
