---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A102&Lead_Generator__c=53&FirstName=Andre&LastName=Dery&Street=980%20Churchville%20Rd&City=Fairfield&PostalCode=06825&Phone=(203)%20520-7232&Email=andremdery%40gmail.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@63fc9dc"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PVx5WEAT","Message":"Lead successfully
        created","YourId":"production.powur.com:102"}'
  recorded_at: Wed, 29 Apr 2015 14:02:04 GMT
recorded_with: VCR 2.9.3
