---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A103&Lead_Generator__c=53&FirstName=Victor&LastName=Girardi&Street=74%20Rees%20Dr&City=Oxford&PostalCode=06478&Phone=(203)%20395-5118&Email=victorgirardi%40gmail.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@793b2507"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PVx5bEAD","Message":"Lead successfully
        created","YourId":"production.powur.com:103"}'
  recorded_at: Wed, 29 Apr 2015 14:02:07 GMT
recorded_with: VCR 2.9.3
