---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A104&Lead_Generator__c=60&FirstName=Jennifer&LastName=Lasek&Street=3255%20Fortuna%20Ranch&City=Encinitas&PostalCode=92024&Phone=760%20481%204653&Email=sistaralchemy%40gmail.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@fcdd147"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PVx5lEAD","Message":"Lead successfully
        created","YourId":"production.powur.com:104"}'
  recorded_at: Wed, 29 Apr 2015 14:02:11 GMT
recorded_with: VCR 2.9.3
