---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A105&Lead_Generator__c=42&FirstName=Rick&LastName=Styler&Street=78725%20Villeta%20Dr&City=La%20Quinta&PostalCode=92253&Phone=760%20360%201404&Email=stylerfamily%40yahoo.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@684e7d36"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PVx5qEAD","Message":"Lead successfully
        created","YourId":"production.powur.com:105"}'
  recorded_at: Wed, 29 Apr 2015 14:02:15 GMT
recorded_with: VCR 2.9.3
