---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A106&Lead_Generator__c=69&FirstName=Dean&LastName=Pearce&Street=Wellman&City=Washington&PostalCode=77880&Phone=936-870-5075&Email=spurabit%40live.com&Monthly_Electric_Bill__c=125.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@66befd94"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLJrEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:106"}'
  recorded_at: Mon, 11 May 2015 21:37:33 GMT
recorded_with: VCR 2.9.3
