---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A109&Lead_Generator__c=69&FirstName=Lanette&LastName=Wines&Street=309%20W%20Glover%20St&City=Harrington&PostalCode=99134&Phone=509-725-0822&Email=lynnwines%40gmail.com&Monthly_Electric_Bill__c=200.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@6dde10d1"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLKoEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:109"}'
  recorded_at: Mon, 11 May 2015 21:37:40 GMT
recorded_with: VCR 2.9.3
