---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A110&Lead_Generator__c=58&FirstName=Jared%20&LastName=May&Street=14%20Vernal%20St&City=Everett&PostalCode=2149&Phone=857-205-1094&Email=jaredmay76%40yahoo.com&Monthly_Electric_Bill__c=150.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1567e8d2"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLKtEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:110"}'
  recorded_at: Mon, 11 May 2015 21:37:44 GMT
recorded_with: VCR 2.9.3
