---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A111&Lead_Generator__c=58&FirstName=Ed&LastName=Murray&Street=14%20Swan%20St&City=Everett&PostalCode=2149&Phone=617-387-5020&Email=murray48%40comcast.net&Monthly_Electric_Bill__c=200.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@42b79a31"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLKyEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:111"}'
  recorded_at: Mon, 11 May 2015 21:37:48 GMT
recorded_with: VCR 2.9.3
