---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A112&Lead_Generator__c=65&FirstName=Rita&LastName=Blankenship&Street=7611%20Easy%20Street&City=Everett&PostalCode=98203&Phone=4253553541&Email=kishme7%40gmail.com&Monthly_Electric_Bill__c=238.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@4d6c41f8"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkL5yEAF","Message":"Lead successfully
        created","YourId":"production.powur.com:112"}'
  recorded_at: Mon, 11 May 2015 21:35:21 GMT
recorded_with: VCR 2.9.3
