---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A113&Lead_Generator__c=65&FirstName=Clem&LastName=Palmer&Street=3001%20South%20County%20Road%201210&City=Midland&PostalCode=79706&Phone=713-895-7858&Email=clempalmer%40sbcglobal.net&Monthly_Electric_Bill__c=370.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@68a1c13d"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLHVEA3","Message":"Lead successfully
        created","YourId":"production.powur.com:113"}'
  recorded_at: Mon, 11 May 2015 21:37:08 GMT
recorded_with: VCR 2.9.3
