---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A114&Lead_Generator__c=67&FirstName=John&LastName=White&Street=10645%20SW%20135th&City=Beaverton&PostalCode=97008&Phone=5035775885&Email=john%40jwfin.com&Monthly_Electric_Bill__c=120.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@48150e"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLJvEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:114"}'
  recorded_at: Mon, 11 May 2015 21:37:29 GMT
recorded_with: VCR 2.9.3
