---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A115&Lead_Generator__c=69&FirstName=Shirley&LastName=Adkins&Street=12%20Blueberry%20hill&City=Port%20Ludlow&PostalCode=98365&Phone=3604615886&Email=shirleyadkins%40gmail.com&Monthly_Electric_Bill__c=150.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@493b039e"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLL8EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:115"}'
  recorded_at: Mon, 11 May 2015 21:37:51 GMT
recorded_with: VCR 2.9.3
