---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A116&Lead_Generator__c=56&FirstName=Theresa&LastName=Key&Street=1430%20East%2060th&City=Los%20Angeles&PostalCode=90001&Phone=323-580-3509&Email=thekey365%40gmail.com&Monthly_Electric_Bill__c=250.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1986966c"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLMpEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:116"}'
  recorded_at: Mon, 11 May 2015 21:37:55 GMT
recorded_with: VCR 2.9.3
