---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A117&Lead_Generator__c=57&FirstName=Mark&LastName=Mattern&Street=8550%20Adams%20Ct.&City=Denver&PostalCode=80229&Phone=7209337563&Email=marc1462004%40yahoo.com&Monthly_Electric_Bill__c=150.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@4f4d6fd1"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLMuEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:117"}'
  recorded_at: Mon, 11 May 2015 21:37:58 GMT
recorded_with: VCR 2.9.3
