---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A119&Lead_Generator__c=60&FirstName=Jennifer%20&LastName=Lasek&Street=3255%20Fortuna%20Ranch&City=Encinitas&PostalCode=92024&Phone=760-481-4653&Email=sistaralchemy%40gmail.com&Monthly_Electric_Bill__c=800.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@44e11701"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLN4EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:119"}'
  recorded_at: Mon, 11 May 2015 21:38:02 GMT
recorded_with: VCR 2.9.3
