---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A121&Lead_Generator__c=70&FirstName=Benji&LastName=Travis&Street=6927%2061st%20Dr%20NE&City=Marysville&PostalCode=98270&Phone=4253509100&Email=sivartbt%40hotmail.com&Monthly_Electric_Bill__c=100.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@27402803"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLNEEA3","Message":"Lead successfully
        created","YourId":"production.powur.com:121"}'
  recorded_at: Mon, 11 May 2015 21:38:06 GMT
recorded_with: VCR 2.9.3
