---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A122&Lead_Generator__c=52&FirstName=Richard&LastName=Walsh&Street=7440%20Willow%20Lane&City=Granite%20Bay&PostalCode=95746&Phone=(916)%20532-7058&Email=walshrick%40aol.com&Monthly_Electric_Bill__c=500.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@501e0a28"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLNJEA3","Message":"Lead successfully
        created","YourId":"production.powur.com:122"}'
  recorded_at: Mon, 11 May 2015 21:38:09 GMT
recorded_with: VCR 2.9.3
