---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A124&Lead_Generator__c=57&FirstName=Debra&LastName=Rouse&Street=32007%20Fox%20Run%20Ln&City=Evergreen&PostalCode=80439&Phone=3036741083&Email=debra%40optimumwellness.com&Monthly_Electric_Bill__c=145.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1351c9cf"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLPAEA3","Message":"Lead successfully
        created","YourId":"production.powur.com:124"}'
  recorded_at: Mon, 11 May 2015 21:38:16 GMT
recorded_with: VCR 2.9.3
