---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A126&Lead_Generator__c=67&FirstName=Wib&LastName=Middleton&Street=70%20Mogollon%20Drive&City=Sedona&PostalCode=86336&Phone=9288620600&Email=wibkpc%40gmail.com&Monthly_Electric_Bill__c=170.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@755dde6b"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNK3EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:126"}'
  recorded_at: Mon, 11 May 2015 22:00:08 GMT
recorded_with: VCR 2.9.3
