---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A127&Lead_Generator__c=69&FirstName=Cathy%20Joh&LastName=Curran&Street=39%20Lewis%20Street&City=Canton&PostalCode=2021&Phone=781-801-0397&Email=cathyjoh%40yahoo.com&Monthly_Electric_Bill__c=180.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@747788f5"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLCfEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:127"}'
  recorded_at: Mon, 11 May 2015 21:36:29 GMT
recorded_with: VCR 2.9.3
