---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A128&Lead_Generator__c=53&FirstName=Wes&LastName=Wessel&Street=10941%20JoeAnn%20St.&City=Willis&PostalCode=77318&Phone=713-818-3880&Email=wes.wessel%40gmail.com&Monthly_Electric_Bill__c=400.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@7e44cb78"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLCuEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:128"}'
  recorded_at: Mon, 11 May 2015 21:36:33 GMT
recorded_with: VCR 2.9.3
