---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A129&Lead_Generator__c=53&FirstName=Mike&LastName=Grodanz&Street=2103%20Country%20View%20Lane&City=Lansdale&PostalCode=19446&Phone=610-247-7730&Email=mike%40insuranceandtags.com&Monthly_Electric_Bill__c=350.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@8da6c97"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLD4EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:129"}'
  recorded_at: Mon, 11 May 2015 21:36:36 GMT
recorded_with: VCR 2.9.3
