---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A132&Lead_Generator__c=69&FirstName=Kiyoshi&LastName=Tsukimuli&Street=718%20KaaloanSt.&City=Honolulu&PostalCode=96826&Phone=8084986419&Email=kiyoshi12%40gmail.com&Monthly_Electric_Bill__c=100.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@63243b07"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLF0EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:132"}'
  recorded_at: Mon, 11 May 2015 21:36:47 GMT
recorded_with: VCR 2.9.3
