---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A133&Lead_Generator__c=57&FirstName=melinda&LastName=bell&Street=33305%20hwy%2092&City=hotchkiss&PostalCode=81419&Phone=970-424-4394&Email=hummingbirdranch77%40yahoo.com&Monthly_Electric_Bill__c=87.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1f5674fe"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLF5EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:133"}'
  recorded_at: Mon, 11 May 2015 21:36:51 GMT
recorded_with: VCR 2.9.3
