---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A135&Lead_Generator__c=70&FirstName=Craig&LastName=Bach&Street=16690%20Flintrock%20Rd&City=Austin&PostalCode=78738&Phone=(617)%20470-2633&Email=ctbach1%40gmail.com&Monthly_Electric_Bill__c=300.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@79d58c77"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNKhEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:135"}'
  recorded_at: Mon, 11 May 2015 22:00:15 GMT
recorded_with: VCR 2.9.3
