---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A136&Lead_Generator__c=70&FirstName=Barbara&LastName=Smith&Street=41707%20Beadling%20Rd&City=Bermuda%20Dunes&PostalCode=92203&Phone=4087614877&Email=Amandafame%40gmail.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@23dbca0f"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLHaEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:136"}'
  recorded_at: Mon, 11 May 2015 21:37:12 GMT
recorded_with: VCR 2.9.3
