---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A137&Lead_Generator__c=61&FirstName=steve%20&LastName=gruber&Street=788%20lorraine%20dr&City=warrington&PostalCode=18976&Phone=215%20778%20%207381&Email=whahh%40yahoo.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@5417c00a"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLHkEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:137"}'
  recorded_at: Mon, 11 May 2015 21:37:16 GMT
recorded_with: VCR 2.9.3
