---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A138&Lead_Generator__c=61&FirstName=adam&LastName=rosteine&Street=628%20glen%20meadow%20rd&City=richboro&PostalCode=18954&Phone=267%20992%207675&Email=rothstein.adam%40gmail.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@738febb"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLHuEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:138"}'
  recorded_at: Mon, 11 May 2015 21:37:19 GMT
recorded_with: VCR 2.9.3
