---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A139&Lead_Generator__c=54&FirstName=Glyn&LastName=Taylor&Street=114%20Cherry%20Hills&City=Rockport&PostalCode=78382&Phone=210-269-3002&Email=glyn%40glyntaylor.com&Monthly_Electric_Bill__c=300.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@47bc9a2e"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNKmEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:139"}'
  recorded_at: Mon, 11 May 2015 22:00:18 GMT
recorded_with: VCR 2.9.3
