---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A140&Lead_Generator__c=57&FirstName=kyle&LastName=knott&Street=1192%20N%2016th%20St&City=silt&PostalCode=81652&Phone=7209376044&Email=kyleknott%40comcast.net&Monthly_Electric_Bill__c=200.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@20768c6a"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNMTEA3","Message":"Lead successfully
        created","YourId":"production.powur.com:140"}'
  recorded_at: Mon, 11 May 2015 22:00:22 GMT
recorded_with: VCR 2.9.3
