---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A141&Lead_Generator__c=54&FirstName=Dale&LastName=Schuck&Street=3233%207th%20Ave&City=Sacramento&PostalCode=95817&Phone=916-317-7992&Email=sundale99%40yahoo.com&Monthly_Electric_Bill__c=75.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@69225ba9"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNMYEA3","Message":"Lead successfully
        created","YourId":"production.powur.com:141"}'
  recorded_at: Mon, 11 May 2015 22:00:25 GMT
recorded_with: VCR 2.9.3
