---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A143&Lead_Generator__c=70&FirstName=Dustin&LastName=Bergeron&Street=2809%20Shawn%20Dr&City=Denison&PostalCode=75020&Phone=(903)%20821-0062&Email=Dr.Dustin.Bergeron%40gmail.com&Monthly_Electric_Bill__c=150.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1bd3d342"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNMdEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:143"}'
  recorded_at: Mon, 11 May 2015 22:00:28 GMT
recorded_with: VCR 2.9.3
