---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A144&Lead_Generator__c=70&FirstName=Diego&LastName=Aldrete&Street=2958%20Plaza%20Carlos&City=Bonita&PostalCode=91902&Phone=619%20773%206789&Email=aldrete_diego%40hotmail.com&Monthly_Electric_Bill__c=95.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@6fdf321f"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNMnEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:144"}'
  recorded_at: Mon, 11 May 2015 22:00:32 GMT
recorded_with: VCR 2.9.3
