---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A145&Lead_Generator__c=61&FirstName=paul&LastName=hoy&Street=829%20st.davids%20ave&City=warminster&PostalCode=18974&Phone=215%20380%208584&Email=parrot94%40verizon.net&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@699dbc0e"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLI9EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:145"}'
  recorded_at: Mon, 11 May 2015 21:37:26 GMT
recorded_with: VCR 2.9.3
