---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A146&Lead_Generator__c=61&FirstName=dale&LastName=rimmer&Street=237%20township%20line%20rd&City=chalfont&PostalCode=18914&Phone=215%20%20783%201362&Email=dalerimmer%40verizon.net&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@439e9e9"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNOjEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:146"}'
  recorded_at: Mon, 11 May 2015 22:00:42 GMT
recorded_with: VCR 2.9.3
