---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A147&Lead_Generator__c=53&FirstName=Mark&LastName=Rubin&Street=275%20Kingsclere%20Dr.&City=Southampton&PostalCode=18966&Phone=2154608666&Email=markrubin4%40gmail.com&Monthly_Electric_Bill__c=200.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@521e052b"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkNMxEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:147"}'
  recorded_at: Mon, 11 May 2015 22:00:35 GMT
recorded_with: VCR 2.9.3
