---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A150&Lead_Generator__c=70&FirstName=Heather%20&LastName=Hope&Street=348%20A%20Douglass%20St&City=Brooklyn&PostalCode=11217&Phone=347-210-2132&Email=heathope%40gmail.com&Monthly_Electric_Bill__c=150.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@30824713"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLFeEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:150"}'
  recorded_at: Mon, 11 May 2015 21:37:01 GMT
recorded_with: VCR 2.9.3
