---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A151&Lead_Generator__c=42&FirstName=Christos&LastName=Nicolaidis&Street=8011%20Paseo%20Aliso&City=Carlsbad&PostalCode=92009&Phone=8583538344&Email=christos%40estreetam.com&Monthly_Electric_Bill__c=250.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@7259d79d"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PkLFoEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:151"}'
  recorded_at: Mon, 11 May 2015 21:37:05 GMT
recorded_with: VCR 2.9.3
