---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A152&Lead_Generator__c=61&FirstName=dorothy&LastName=cullen&Street=459%20%20%20ivy%20st&City=warminster&PostalCode=18974&Phone=267%20255%201000&Email=dottiecullen%40verizon.net&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@5d1b3ef4"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluAvEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:152"}'
  recorded_at: Wed, 13 May 2015 20:44:24 GMT
recorded_with: VCR 2.9.3
