---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A153&Lead_Generator__c=61&FirstName=bill&LastName=garges&Street=2865%20pickerton%20rd&City=warrington&PostalCode=18976&Phone=215%20778%200316&Email=bill%40doitnowservice.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@3571e6e2"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluB5EAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:153"}'
  recorded_at: Wed, 13 May 2015 20:44:28 GMT
recorded_with: VCR 2.9.3
