---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A154&Lead_Generator__c=70&FirstName=Tricia&LastName=Fultz%20&Street=125%20wood%20duck%20lane&City=Cave%20Junction&PostalCode=97523&Phone=1%20(541)%20690-5428&Email=Gandtncj%40hotmail.com&Monthly_Electric_Bill__c=125
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@7b52e58b"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluAbEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:154"}'
  recorded_at: Wed, 13 May 2015 20:44:15 GMT
recorded_with: VCR 2.9.3
