---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A155&Lead_Generator__c=70&FirstName=Issac%20and%20Nicole&LastName=Cynova&Street=2048%20Coba%20Rd%20SE&City=Rio%20Rancho&PostalCode=87124&Phone=5055730006&Email=Icynova%40hotmail.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@7bd2b2d7"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluAlEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:155"}'
  recorded_at: Wed, 13 May 2015 20:44:20 GMT
recorded_with: VCR 2.9.3
