---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A157&Lead_Generator__c=59&FirstName=Bert&LastName=Bledsoe&Street=5220%20Villa%20Circle&City=Colorado%20Springs&PostalCode=80918&Phone=7196483974&Email=organicbert%40gmail.com&Monthly_Electric_Bill__c=90
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@7f052a66"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluBPEAZ","Message":"Lead successfully
        created","YourId":"production.powur.com:157"}'
  recorded_at: Wed, 13 May 2015 20:44:36 GMT
recorded_with: VCR 2.9.3
