---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A158&Lead_Generator__c=42&FirstName=Aaron%20&LastName=Fortner&Street=2600%20Clayton%20st&City=Denver&PostalCode=80205&Phone=3032468664&Email=fortnermarketinggroup%40gmail.com&Monthly_Electric_Bill__c=400
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@5fe622c7"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluBeEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:158"}'
  recorded_at: Wed, 13 May 2015 20:44:40 GMT
recorded_with: VCR 2.9.3
