---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A160&Lead_Generator__c=54&FirstName=penny&LastName=leff&Street=3791%20kroy%20way&City=sacramento&PostalCode=95820&Phone=530%20902%209763&Email=electricworks100%40gmail.com&Monthly_Electric_Bill__c=150
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@2a702cf6"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluBtEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:160"}'
  recorded_at: Wed, 13 May 2015 20:44:47 GMT
recorded_with: VCR 2.9.3
