---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A161&Lead_Generator__c=70&FirstName=David&LastName=Marsh&Street=3010%20s%20acoma%20st&City=Englewood&PostalCode=80110&Phone=303-884-3143&Email=Dmarsh21%40hotmail.com&Monthly_Electric_Bill__c=70
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@7f7edefd"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluByEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:161"}'
  recorded_at: Wed, 13 May 2015 20:44:51 GMT
recorded_with: VCR 2.9.3
