---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A162&Lead_Generator__c=51&FirstName=James&LastName=Weldon&Street=189%20piney%20branch%20ct&City=Boone&PostalCode=28607&Phone=8284340393&Email=Jameswelfon%40yahoo.com&Monthly_Electric_Bill__c=450
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@22c13502"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluC3EAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:162"}'
  recorded_at: Wed, 13 May 2015 20:44:55 GMT
recorded_with: VCR 2.9.3
