---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A164&Lead_Generator__c=57&FirstName=hopi&LastName=Moore-Sargent&Street=6014%20Brigadoon%20Dr&City=niwot&PostalCode=80503&Phone=970-420-0550&Email=hopi%40mooresargent.com&Monthly_Electric_Bill__c=60
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@71b77a3b"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluCNEAZ","Message":"Lead successfully
        created","YourId":"production.powur.com:164"}'
  recorded_at: Wed, 13 May 2015 20:45:03 GMT
recorded_with: VCR 2.9.3
