---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A165&Lead_Generator__c=70&FirstName=Karina&LastName=Paine&Street=250%20Moonstone%20Way&City=Redding&PostalCode=96003&Phone=5304402525&Email=Karina.paine%40gmail.com&Monthly_Electric_Bill__c=275
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@8f94ab5"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluCSEAZ","Message":"Lead successfully
        created","YourId":"production.powur.com:165"}'
  recorded_at: Wed, 13 May 2015 20:45:07 GMT
recorded_with: VCR 2.9.3
