---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A167&Lead_Generator__c=69&FirstName=Richard&LastName=Fisher&Street=2832%20N.%20Nine%20Mile%20Rd.&City=Allegany&PostalCode=14706&Phone=716-373-3345&Email=fisherj65%40hotmail.com&Monthly_Electric_Bill__c=75
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@68767c1b"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluCmEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:167"}'
  recorded_at: Wed, 13 May 2015 20:45:15 GMT
recorded_with: VCR 2.9.3
