---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A170&Lead_Generator__c=61&FirstName=gary&LastName=block&Street=200%20holly%20dr&City=chalfont&PostalCode=18914&Phone=215%20813%206888&Email=gblock%40thedesignblock.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1a5a36e9"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluDVEAZ","Message":"Lead successfully
        created","YourId":"production.powur.com:170"}'
  recorded_at: Wed, 13 May 2015 20:45:27 GMT
recorded_with: VCR 2.9.3
