---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A171&Lead_Generator__c=61&FirstName=saun&LastName=kelly&Street=56%20azalea%20la&City=levittown&PostalCode=19055&Phone=215%20946%208612&Email=sekel56%40yahoo.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@427cff12"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PluDaEAJ","Message":"Lead successfully
        created","YourId":"production.powur.com:171"}'
  recorded_at: Wed, 13 May 2015 20:45:30 GMT
recorded_with: VCR 2.9.3
