---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A172&Lead_Generator__c=58&FirstName=Beth&LastName=McGillicuddy&Street=809%20Central%20St&City=Stoughton&PostalCode=2072&Phone=781-408-1139&Email=Emckenna1973%40gmail.com&Monthly_Electric_Bill__c=340
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@4882b0ac"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKRiEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:172"}'
  recorded_at: Thu, 21 May 2015 21:45:04 GMT
recorded_with: VCR 2.9.3
