---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A175&Lead_Generator__c=70&FirstName=Bobby&LastName=Williams&Street=1044%20Meadows%20End%20Dr&City=Calabasas&PostalCode=91302&Phone=(310)%20804-5259&Email=bobbyboss%40msn.com&Monthly_Electric_Bill__c=300
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@15daf31a"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKRsEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:175"}'
  recorded_at: Thu, 21 May 2015 21:45:12 GMT
recorded_with: VCR 2.9.3
