---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A178&Lead_Generator__c=70&FirstName=Jenny&LastName=Sullivan&Street=118%20Justin%20Way&City=Redding&PostalCode=96003&Phone=8089878785&Email=Jennyandsully%40gmail.com&Monthly_Electric_Bill__c=120
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@26530fca"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKS2EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:178"}'
  recorded_at: Thu, 21 May 2015 21:45:19 GMT
recorded_with: VCR 2.9.3
