---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A185&Lead_Generator__c=61&FirstName=megan&LastName=Dicicco&Street=1913%20appaloosa%20rd&City=warrington&PostalCode=18976&Phone=215%20284%209873&Email=mego.mbd%40gmail.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1d4baeaa"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKSREA3","Message":"Lead successfully
        created","YourId":"production.powur.com:185"}'
  recorded_at: Thu, 21 May 2015 21:45:30 GMT
recorded_with: VCR 2.9.3
