---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A187&Lead_Generator__c=57&FirstName=Rich%20and%20Kate&LastName=Aiello&Street=212%20E%20Swallow%20ROad&City=Fort%20COllins&PostalCode=80525&Phone=9702140709&Email=kmcaiello%40gmail.com&Monthly_Electric_Bill__c=150
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@491d2f6"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKVpEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:187"}'
  recorded_at: Thu, 21 May 2015 21:45:34 GMT
recorded_with: VCR 2.9.3
