---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A188&Lead_Generator__c=61&FirstName=matthew&LastName=piotrowski&Street=217%20delmontave&City=warminster&PostalCode=18974&Phone=215%20805%203030&Email=mp%40mvparchitect.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@ceb44d0"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKVuEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:188"}'
  recorded_at: Thu, 21 May 2015 21:45:38 GMT
recorded_with: VCR 2.9.3
