---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A189&Lead_Generator__c=61&FirstName=john&LastName=adams&Street=800%20lorraine%20dr&City=warrington&PostalCode=18976&Phone=215%20681%209417&Email=jjadams4%40gmai.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@2392f5d"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKW4EAN","Message":"Lead successfully
        created","YourId":"production.powur.com:189"}'
  recorded_at: Thu, 21 May 2015 21:45:42 GMT
recorded_with: VCR 2.9.3
