---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A192&Lead_Generator__c=56&FirstName=Jeff&LastName=Reed&Street=7665%20Benassi%20Dr.&City=Gilroy&PostalCode=95020&Phone=408-205-4632&Email=reedo54%40gmail.com&Monthly_Electric_Bill__c=200
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@3b98c2e4"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKWTEA3","Message":"Lead successfully
        created","YourId":"production.powur.com:192"}'
  recorded_at: Thu, 21 May 2015 21:45:54 GMT
recorded_with: VCR 2.9.3
