---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A193&Lead_Generator__c=61&FirstName=robert&LastName=ambler&Street=1216%20washington%20la&City=abington&PostalCode=19046&Phone=215%20885%206303&Email=robert.ambler%40fcbmtg.com&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@49c43fe3"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKWdEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:193"}'
  recorded_at: Thu, 21 May 2015 21:45:57 GMT
recorded_with: VCR 2.9.3
