---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A194&Lead_Generator__c=64&FirstName=Kathryn&LastName=Balley&Street=1824%20Waterford%20Lane&City=Richardson&PostalCode=75082&Phone=214-377-9790&Email=kballey%40yahoo.com&Monthly_Electric_Bill__c=325
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@76dd0347"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKWnEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:194"}'
  recorded_at: Thu, 21 May 2015 21:46:01 GMT
recorded_with: VCR 2.9.3
