---
http_interactions:
- request:
    method: post
    uri: https://sctypowur.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=production.powur.com%3A195&Lead_Generator__c=64&FirstName=Lori&LastName=Richards&Street=5802%20Baskerville%20Drive&City=Richardson&PostalCode=75082&Phone=972-839-5479&Email=loribethrichards%40gmail.com&Monthly_Electric_Bill__c=200
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@16b7beb6"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q1400001PqKWsEAN","Message":"Lead successfully
        created","YourId":"production.powur.com:195"}'
  recorded_at: Thu, 21 May 2015 21:46:05 GMT
recorded_with: VCR 2.9.3
