<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="pow-memberships">

  <div class="memberships-top-bg">
    <div class="row">
      <div class="large-12 columns">
        <div class="user-info">
          <img ng-if="currentUser.avatar" ng-src="{{currentUser.avatar.large}}">
          <span>Hi {{currentUser.first_name}},</span>
        </div>
        <h1>Your level with Powur determines your ability to Earn, Learn, and Succeed.</h1>

        <div class="text-center">
          <h5>Choose the path most closely aligned with your goals.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="memberships-list-wrapper">
    <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-3 medium-6 small-12 columns">
            <div class="list-item">
              <div class="description">
                <h3>Advocate</h3>
                <span>As an Advocate you can earn off your own efforts and be part of the solar revolution.</span>
              </div>

              <span class="line">
                FREE
              </span>

              <div class="inner-bottom">
                <div class="extra">
                  <span><b>Additional benefits:</b></span>
                  <ul>
                    <li>Limited Powur Platform License</li>
                    <li>Powur Proposal Tool</li>
                    <li>Powur training center</li>
                    <li>I-payout reward center</li>
                    <li>Earn Rewards</li>
                  </ul>
                </div>

                <!-- <a class="button select-certification free">Select</a> -->
              </div>
            </div>
          </div>

          <div class="large-3 medium-6 small-12 columns">
            <div class="list-item certified">
              <div class="description">
                <h3>Partner</h3>
                <span>Certified partners have unlimited earning potential and unrivaled training.</span>
              </div>

              <span class="line">
                ${{ membershipPrice('partner') }} <small>one-time</small>
              </span>

              <div class="inner-bottom">
                <div class="extra">
                  <span><b>Additional benefits:</b></span>
                  <ul>
                    <li>Unlimited Powur Platform License</li>
                    <li>Partner Certification</li>
                    <li>Certified Partner Status</li>
                    <li>Earn Unlimited Rewards</li>
                  </ul>
                </div>

                <a ng-if="isPurchasable('partner')" ng-click="selectMembership('partner')" class="button select-certification">Select</a>
              </div>
            </div>
          </div>

          <div class="large-3 medium-6 small-12 columns">
            <div class="list-item pro">
              <div class="description">
                <h3>Pro</h3>
                <span>As a PRO you get a solar business in a box and ongoing support to succeed.</span>
              </div>

              <span class="line">
                $39 <small>monthly</small>
              </span>

              <div class="inner-bottom">
                <div class="extra">
                  <span><b>Additional benefits:</b></span>
                  <ul>
                    <li>Personal Powur Site</li>
                    <li>Marketing Center</li>
                    <li>Campaign Center</li>
                    <li>Special “Pro Only” Training</li>
                    <li>Event Discounts</li>
                    <li>Active Status</li>
                  </ul>
                </div>

                <a class="button select-certification">Coming soon</a>
              </div>
            </div>
          </div>

          <div class="large-3 medium-6 small-12 columns">
            <div class="list-item powur-pro">
              <div class="description">
                <h3>Powur Pro</h3>
                <span>Get Certified & Go Pro at once… and we’ll knock $10/m off your pro subscription for life.</span>
              </div>

              <span class="line">
                $29 <small>monthly</small> + $199 <small>one-time</small>
              </span>

              <div class="inner-bottom">
                <div class="extra">
                  <span><b>Additional benefits:</b></span>
                  <h3>$10</h3>
                  <span>monthly discount on your Pro Subscription</span>
                  <h3 class="highlighted">+</h3>
                  <span>Get your first month</span>
                  <h3>FREE</h3>
                </div>

                <a class="button select-certification best">Coming soon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row text-center">
    <div class="large-12 columns">
      <div class="memberships-chart-icon"></div>
      <h3>We've made it easy to see all the features at a glance.</h3>
      <h5>View our handy <a ng-click="scrollTo('memberships-table')">Comparison Table</a></h5>
    </div>
  </div>


  <div class="memberships-table-wrapper">
    <div class="row">
      <div class="large-12 columns">

        <table id="memberships-table" class="memberships-table">
          <thead>
            <tr>
              <th>Compare memberships</th>
              <th>Advocate</th>
              <th class="cert">Partner</th>
              <th class="cert">Pro</th>
              <th class="pro">Powur Pro</th>
            </tr>
          </thead>
          <tbody>
            <tr class="large-font">
              <td></td>
              <td>FREE</td>
              <td>${{ membershipPrice('partner') }} <small>one-time</small></td>
              <td>$39 <small>monthly</small></td>
              <td class="semipro-bg">$29 <small>monthly</small><br>+ $199 <small>one-time</small></td>
            </tr>
            <tr>
              <td></td>
              <td><!--a class="button small free">EXISTING</a--></td>
              <td><a class="button small" ng-if="isPurchasable('partner')" ng-click="selectMembership('partner')">SELECT</a></td>
              <td><a class="button small">COMING SOON</a></td>
              <td class="semipro-bg"><a class="button small best">COMING SOON</a></td>
            </tr>
            <tr class="separator">
              <td colspan="5">Advocate Benefits</td>
            </tr>
            <tr class="options">
              <td>
                <b>Limited Powur Platform License</b><br>
                - Customer tracking & proposal KPI (key performance indicators)
              </td>
              <td class="free"></td>
              <td class="cert"></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Powur Proposal Tool</b><br>
                - Send Solar prospects directly to SolarCity
              </td>
              <td class="free"></td>
              <td class="cert"></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Powur training center</b><br>
                - Access to “advocate” only content
              </td>
              <td class="free"></td>
              <td class="cert"></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>I-payout reward center</b><br>
                - Flexible reward management from one central place
              </td>
              <td class="free"></td>
              <td class="cert"></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Earn Rewards</b><br>
                - Earn $250 on every home!
              </td>
              <td class="free"></td>
              <td class="cert"></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="separator">
              <td colspan="5">Partner Benefits</td>
            </tr>
            <tr class="options">
              <td>
                <b>Unlimited Powur Platform License</b><br>
                - Access all team building features, full KPI’s, full gamification, earnings reports, & more!
              </td>
              <td></td>
              <td class="cert"></td>
              <td></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Partner Certification</b><br>
                - RPowur’s proprietary partner certification!<br>
                - Customized training to rapidly expand your earning potential with Powur.<br>
                - Over 5 hours of content from SolarCity, top industry publications, & more.<br>
                - Proven path to be part of the shift from “Dirty” to Clean Energy.
              </td>
              <td></td>
              <td class="cert"></td>
              <td></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Certified Partner Status</b><br>
                - Receive certified Powur partner emblem for your website & business cards
              </td>
              <td></td>
              <td class="cert"></td>
              <td></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Earn Unlimited Rewards</b><br>
                - Get paid up to 7 rewards<br>
                - Unlimited ability to earn from your team<br>
                - Full participation in the Powur rewards plan
              </td>
              <td></td>
              <td class="cert"></td>
              <td></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="separator">
              <td colspan="5">Pro Benefits</td>
            </tr>
            <tr class="options">
              <td>
                <b>Personal Powur Site</b><br>
                - Your own Powur site for generating customers & partners!
              </td>
              <td></td>
              <td></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Marketing Center</b><br>
                - New referral tools, social media integration, & analytics.
              </td>
              <td></td>
              <td></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Campaign Center</b><br>
                - Personalized marketing campaigns for email, mobile, & social media.
              </td>
              <td></td>
              <td></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Special “Pro Only” Training</b><br>
                - Weekly “pro only” custom training!
              </td>
              <td></td>
              <td></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Event Discounts</b><br>
                - Get 20% off all Powur live events.
              </td>
              <td></td>
              <td></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options">
              <td>
                <b>Active Status</b><br>
                - Waive your personal qualifiers for active status each month you are PRO.
              </td>
              <td></td>
              <td></td>
              <td class="cert"></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="separator">
              <td colspan="5">Powur Pro Bundle Benefits</td>
            </tr>
            <tr class="options highlighted">
              <td>
                <b>$10 MONTHLY DISCOUNT</b><br>
                Get Certified and go Pro at in one upgrade, and we’ll knock $10 a month off your Pro subscription for life.
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="options highlighted">
              <td>
                <b>GET YOUR FIRST MONTH FREE</b><br>
                Your $29 monthly membership doesn't start until 30 days after you become Powur Pro.
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td class="best semipro-bg"></td>
            </tr>
            <tr class="separator">
              <td colspan="5">Select Memberships</td>
            </tr>
            <tr>
              <td></td>
              <td><!--a class="button small free">EXISTING</a--></td>
              <td><a class="button small" ng-if="isPurchasable('partner')" ng-click="selectMembership('partner')">SELECT</a></td>
              <td><a class="button small">COMING SOON</a></td>
              <td class="pro"><a class="button small pro">COMING SOON</a></td>
            </tr>

            <tr>
              <td colspan="5">
                <div class="payment-info-wrapper">
                  <div class="row text-center">
                    <div class="large-12 columns">
                      <div class="payment-icons">
                        <span>Shop with peace of mind. Our payment gateway experience is safe, private and secure.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            <tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <ng-include src="'memberships/templates/purchase-modal.html'"></ng-include>

</main>

<ng-include src="'shared/footer-signed-in.html'"></ng-include>
