<h3>Overview</h3>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Stats</h4>
      <p ng-show="user.properties.last_sign_in_at">Last login: {{user.properties.last_sign_in_at | dateTimeToLocal}}</p>
      <p>Proposals: {{ user.properties.totals.lead_counts.month.submitted }}/month {{ user.properties.totals.lead_counts.lifetime.submitted }}/lifetime</p>
      <p>Rooftops: {{ user.properties.totals.lead_counts.month.installed }}/month {{ user.properties.totals.lead_counts.lifetime.installed }}/lifetime</p>
      <p>Lifetime Rank: {{ user.properties.lifetime_rank || 0 }}</p>
      <p>Team Certified: {{ user.properties.totals.team_counts.certified }}/{{ user.properties.totals.team_counts.all }}</p>
    </div>
  </div>
</div>

<div class="panel">
  <h4>Sponsors</h4>
  <p ng-show="!overview.teamLeader">This user has no sponsors.</p>
  <div class="row">
    <!-- Team Leader -->
    <div ng-show="overview.teamLeader" class="large-6 columns">
      <div class="panel">
        <div class="row">
          <div class="small-2 columns">
            <p class="text-right">
              <img class="user-avatar" ng-src="{{overview.teamLeader.properties.avatar.thumb || legacyImagePaths.defaultAvatar}}">
            </p>
          </div>
          <div class="small-10 columns">
            <h4 class="subheader">Team Leader</h4>
            <ul class="no-bullet">
              <li><a ng-href="/admin/users/{{overview.teamLeader.properties.id}}">{{overview.teamLeader.properties.first_name}} {{overview.teamLeader.properties.last_name}}</a></li>
              <li>ID: {{overview.teamLeader.properties.id}}</li>
              <li><i class="fa fa-phone"></i> {{overview.teamLeader.properties.phone || '(no phone number)'}}</li>
              <li><i class="fa fa-envelope"></i> {{overview.teamLeader.properties.email}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Coach -->
    <div ng-show="overview.coach" class="large-6 columns">
      <div class="panel">
        <div class="row">
          <div class="small-2 columns">
            <p class="text-right">
              <img class="user-avatar" ng-src="{{overview.coach.properties.avatar.thumb || legacyImagePaths.defaultAvatar}}">
            </p>
          </div>
          <div class="small-10 columns">
            <h4 class="subheader">Coach</h4>
            <ul class="no-bullet">
              <li><a ng-href="/admin/users/{{overview.coach.properties.id}}">{{overview.coach.properties.first_name}} {{overview.coach.properties.last_name}}</a></li>
              <li>ID: {{overview.coach.properties.id}}</li>
              <li><i class="fa fa-phone"></i> {{overview.coach.properties.phone || '(no phone number)'}}</li>
              <li><i class="fa fa-envelope"></i> {{overview.coach.properties.email}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Receipts / Product Enrollments -->
<div class="row">
  <!-- Product Receipts -->
  <div class="large-6 columns">
    <div class="panel">
      <h4>Product Receipts</h4>
      <p ng-show="!user_product_receipts.entities[0]">This user has no product receipts.</p>
      <table ng-show="user_product_receipts.entities[0]" class="index-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Amount</th>
            <th>Transaction ID</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in user_product_receipts.entities">
            <td>{{item.properties.id}}</td>
            <td>{{item.properties.product.name}}</td>
            <td>${{item.properties.amount | formattedPrice }}</td>
            <td>{{item.properties.transaction_id}}</td>
            <td>{{item.properties.purchased_at | dateTimeToLocal}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Complimentary Courses -->
      <div class="row">
        <div class="small-12 columns">
          <h6>Give Complimentary Powur U Course</h6>
        </div>
      </div>
      <div class="row">
        <form>
          <div class="small-8 columns">
            <select ng-model="overview.complimentaryCourse">
              <!-- <option ng-if="user_product_receipts.actions[0].fields[0].options[0]" selected disabled>Select Course</option> -->
              <option ng-if="!user_product_receipts.actions[0].fields[0].options[0]" selected disabled>No courses available</option>
              <option ng-repeat="option in user_product_receipts.actions[0].fields[0].options" value="{{option}}">{{option.name}} (${{option.bonus_volume | formattedPrice}})</option>
            </select>
          </div>
          <div class="small-4 columns">
            <button ng-disabled="!overview.complimentaryCourse" ng-click="overview.giveComplimentaryCourse()" class="button postfix">Give</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Product Enrollments -->
  <div class="large-6 columns">
    <div class="panel">
      <h4>Product Enrollments</h4>
      <p ng-show="!user_product_enrollments.entities[0]">This user has no product enrollments.</p>
      <table ng-show="user_product_enrollments.entities[0]" class="index-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>State</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in user_product_enrollments.entities">
            <td>{{item.properties.id}}</td>
            <td>{{item.properties.product.name}}</td>
            <td>{{item.properties.state}}</td>
            <td>{{item.properties.updated_at | dateTimeToLocal}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
