---
http_interactions:
- request:
    method: post
    uri: https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx
    body:
      encoding: UTF-8
      string: '{"MerchantGUID":"a4739056-7db6-40f3-9618-f2bcccbf70cc","MerchantPassword":"9xXLvA66hi","endpoint":"https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx","fn":"eWallet_Load","PartnerBatchID":"1","AllowDuplicates":"true","AutoLoad":"false","CurrencyCode":"USD","arrAccounts":[{"UserName":"ewallet_create_test@example.com","Amount":"113.2","MerchantReferenceID":1}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"m_Code":0,"m_Text":"OK","LogTransactionID":0,"TransactionRefID":35395,"ACHTransactionID":0,"ProcessorTransactionRefNumber":"","CustomerFeeAmount":0.0,"CurrencyCode":null}}'
  recorded_at: Thu, 13 Aug 2015 23:48:59 GMT
recorded_with: VCR 2.9.3
