---
http_interactions:
- request:
    method: post
    uri: https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx
    body:
      encoding: UTF-8
      string: '{"fn":"eWallet_GetUserAccountStatus","endpoint":"https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx","MerchantGUID":"a4739056-7db6-40f3-9618-f2bcccbf70cc","MerchantPassword":"9xXLvA66hi","UserName":"you@example.org"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"AccStatus":1,"m_Code":0,"m_Text":"OK","LogTransactionID":0,"TransactionRefID":0,"ACHTransactionID":0,"ProcessorTransactionRefNumber":"","CustomerFeeAmount":0.0,"CurrencyCode":null}}'
  recorded_at: Thu, 08 Jan 2015 00:41:34 GMT
recorded_with: VCR 2.9.3
