---
http_interactions:
- request:
    method: post
    uri: https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx
    body:
      encoding: UTF-8
      string: '{"fn":"eWallet_RegisterUser","endpoint":"https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx","MerchantGUID":"a4739056-7db6-40f3-9618-f2bcccbf70cc","MerchantPassword":"9xXLvA66hi","UserName":"you@example.org","FirstName":"Abe","LastName":"Abe","Address1":null,"Address2":null,"City":null,"State":null,"ZipCode":null,"Country2xFormat":"US","PhoneNumber":null,"EmailAddress":"you@example.org","SSN":"","DriversLicense":"","DateOfBirth":"1/1/1900","WebsitePassword":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"m_Code":-12,"m_Text":"A user with this UserName already
        exists","LogTransactionID":0,"TransactionRefID":0,"ACHTransactionID":0,"ProcessorTransactionRefNumber":"","CustomerFeeAmount":0.0,"CurrencyCode":null}}'
  recorded_at: Tue, 18 Nov 2014 09:47:39 GMT
recorded_with: VCR 2.9.3
