---
http_interactions:
- request:
    method: post
    uri: https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx
    body:
      encoding: UTF-8
      string: '{"fn":"eWallet_GetCustomerDetails","endpoint":"https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx","MerchantGUID":"a4739056-7db6-40f3-9618-f2bcccbf70cc","MerchantPassword":"9xXLvA66hi","UserName":"email_1@example.org"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"UserName":"","CustomerGuid":"","IsActivated":false,"Email":"","FirstName":"","LastName":"","CompanyName":"","Phone":"","CellPhoneNumber":"","eWalletID":"","Address1":"","Address2":"","State":"","City":"","ZipCode":"","Country":"","DateOfBirth":"0001-01-01T00:00:00","IsSuspended":false,"IsInfoVerified":false,"IsClosed":false,"CreatedDate":"0001-01-01T00:00:00","IsAgreedToFees":false,"IsBusiness":false,"IsInvalidEmail":false,"PreferredLanguage":null,"SVCShippingAddress":"","m_Code":-2,"m_Text":"User
        not found","LogTransactionID":0,"TransactionRefID":0,"ACHTransactionID":0,"ProcessorTransactionRefNumber":"","CustomerFeeAmount":0.0,"CurrencyCode":null}}'
  recorded_at: Thu, 08 Jan 2015 01:24:58 GMT
- request:
    method: post
    uri: https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx
    body:
      encoding: UTF-8
      string: '{"fn":"eWallet_RequestUserAutoLogin","endpoint":"https://testewallet.com/eWalletWS/ws_JsonAdapter.aspx","MerchantGUID":"a4739056-7db6-40f3-9618-f2bcccbf70cc","MerchantPassword":"9xXLvA66hi","UserName":"email_1@example.org"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"m_Code":-2,"m_Text":"User not found","LogTransactionID":0,"TransactionRefID":0,"ACHTransactionID":0,"ProcessorTransactionRefNumber":"","CustomerFeeAmount":0.0,"CurrencyCode":null}}'
  recorded_at: Thu, 08 Jan 2015 01:24:58 GMT
recorded_with: VCR 2.9.3
