<main class="sun-admin-landing">
  <h1>Administration</h1>
  <label>People</label>
  <ul class="small-block-grid-2 large-block-grid-3">
    <li><a ng-href="/admin/#/users"><div class="panel">Users</div></a></li>
    <li><a ng-href="/admin/#/user-groups"><div class="panel">User Groups</div></a></li>
  </ul>
  <label>Products</label>
  <ul class="small-block-grid-2 large-block-grid-3">
    <li><a ng-href="/admin/#/products"><div class="panel">Products</div></a></li>
    <li><a ng-href="/admin/#/quotes"><div class="panel">Quotes</div></a></li>
    <li><a ng-href="/admin/#/orders"><div class="panel">Orders</div></a></li>
  </ul>
  <label>Pay</label>
  <ul class="small-block-grid-2 large-block-grid-3">
    <li><a ng-href="/admin/#/pay-periods"><div class="panel">Pay Periods</div></a></li>
    <li><a ng-href="/admin/#/bonus-plans"><div class="panel">Bonus Plans</div></a></li>
  </ul>
  <label>Powur</label>
  <ul class="small-block-grid-2 large-block-grid-3">
    <li><a ng-href="/admin/#/resources"><div class="panel">Library</div></a></li>
    <li><a ng-href="/admin/#/notifications"><div class="panel">Dashboard Notifications</div></a></li>
    <li><a ng-href="/admin/#/social-media"><div class="panel">Social Media Sharing</div></a></li>
  </ul>
</main>