---
http_interactions:
- request:
    method: get
    uri: http://api.solarcity.com/solarbid/api/warehouses/zip/90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"IsInTerritory":true,"WarehouseId":100,"MarketType":{"isResidential":true}}'
  recorded_at: Sun, 26 Jul 2015 17:22:03 GMT
- request:
    method: get
    uri: http://api.solarcity.com/solarbid/api/warehouses/zip/90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"IsInTerritory":true,"WarehouseId":100,"MarketType":{"isResidential":true}}'
  recorded_at: Sun, 26 Jul 2015 17:22:03 GMT
recorded_with: VCR 2.9.3
