.powur-dashboard {
  .leadpipeline-section {
    padding-bottom: 20px;

    .detail {
      display: block;
    }

    .drilldown {
      max-height: 0px;
      -webkit-transition: max-height .4s, opacity .2s;
      -moz-transition: max-height .4s, opacity .2s;
      -o-transition: max-height .4s, opacity .2s;
      -ms-transition: max-height .4s, opacity .2s;
      transition: max-height .4s, opacity .2s;
      &.active {
        max-height: 2000px;
        @media #{$small} {
          max-height: 900px;
        }
        @media #{$large} {
          max-height: 700px;
        }
      }

      .summary {
        &.homeowner-info {
          background: image-url('dashboard/bluehouse.png');
          border: none;
          text-align: initial;
          padding: 0.9375em 30px;

          label {
            color: #fff;
            text-transform: uppercase;
            font-size: 10pt;
            cursor: default;
            margin-bottom: 10px;
            margin-top: 20px;
          }
          a {
            color: #3DBCEA;
            &:hover {

            }
          }
          p {
            color: #fff;
            margin-bottom: 0;
          }
          p.name {
            font-size: 24pt;
            line-height: 28pt;
          }
          p.email {
            font-size: 12pt;
          }
          p.phone {
            font-size: 12pt;
          }
        }
      }
      // Submitted Lead View
      .submitted {
        height: 100%;
        background: image-url('dashboard/black-bg.png');
        position: absolute;
        right: 0;

        label {
          color: #9b9b9b;
          text-transform: uppercase;
        }
        .symbol {
          font-size: 24pt;
          position: relative;
          bottom: 20px;
        }
        .lead-stats {
          margin-top: 20px;

          .likelihood {
            color: $pow-color-blue;
            font-size: 48pt;
            line-height: 48pt;
            font-family: 'Montserrat', 'Muli', sans-serif;
            font-weight: bold;
          }
          .commission {
            color: #F2D95F;
            font-size: 48pt;
            line-height: 48pt;
            font-family: 'Montserrat', 'Muli', sans-serif;
            font-weight: bold;
          }
          .last-update {
            font-size: 18pt;
            text-transform: uppercase;
            font-family: 'Montserrat', 'Muli', sans-serif;
          }
        }

        .lead-progress {
          margin-top: 20px;
          margin-bottom: 20px;
          .progress-border {
            padding: 3px;
            background-color: #333;
            border-radius: 15px;
            border-bottom: 2px solid #888;
            box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
            border-top: 1px solid #333;
          }
          .progress-container {
            height: 38px;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            z-index: 1;

            .mask {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              &.shine {
                height: 19px;
                background: rgba(255,255,255,0.1);
                border-radius: 8px;
                margin: 1px;
                z-index: 100;
              }
              &.inset {
                z-index: 98;
                box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
              }
              &.stripe {
                z-index: 99;
                background: image-url('dashboard/stripes.png');
                background-size: cover;
                background-size: 200%;
                background-position: center center;
                opacity: 0.4;
              }
            }
            .progress-cell {
              width: 25%;
              line-height: 29pt;
              position: relative;
              
              &:nth-child(4) {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
              }
              &:nth-child(7) {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
          }
        }
      }
    }

    .progress-cell {
      position: relative;
      float: left;
      width: 50%;
      height: 38px;
      border-right: 0;

      color: #333;
      text-transform: uppercase;
      text-align: center;

      span {
        z-index: 101;
        position: relative;
      }

      .arrow-block {
        background-image: -moz-linear-gradient(135deg, #aaa 45%, #fff 55%);
        background-image: -webkit-linear-gradient(135deg, #aaa 45%, #fff 55%);
        background-image: -ms-linear-gradient(135deg, #aaa 45%, #fff 55%);
        background-image: linear-gradient(135deg, #aaa 45%, #fff 55%);
        border-top: 3px solid #444;
        border-right: 3px solid #444;
        height: 300px;
        width: 300px;
        position: absolute;
        top: -130px;
        left: -130px;
        transform: scaleY(-1) rotate(45deg);
        &#block-1 { z-index: 4 }
        &#block-2 { z-index: 3 }
        &#block-3 { z-index: 2 }
        &#block-4 { z-index: 1 }
      }

      // .arrow {
      //   width: 53px;
      //   height: 51px;
      //   position: absolute;
      //   top: -7px;
      //   right: -24px;
      //   clip: rect(auto, 24px, auto, 0px);
      //   transform: rotate(-180deg) rotateX(-180deg);
      //   z-index: 98;
      //   &.shadow {
      //     z-index: 97;
      //     right: -25px;
      //     top: -10px;
      //     height: 62px;
      //     width: 58px;
      //     &:after {
      //       content: "";
      //       position: absolute;
      //       top: 10px;
      //       bottom: 10px;
      //       left: 10px;
      //       right: 10px;
      //       background: #444;
      //       transform: rotate(-45deg);
      //     }
      //   }
      //   &.top {
      //     &:after {
      //       content: "";
      //       position: absolute;
      //       top: 10px;
      //       bottom: 10px;
      //       left: 10px;
      //       right: 10px;
      //       background: linear-gradient(235deg, #eee, #aaa);
      //       transform: rotate(-45deg);
      //     }
      //   }
      // }

      &.illuminated {
        border: 0;
        color: #fff;

        .arrow-block {
          background-image: -moz-linear-gradient(125deg, #094085 40%, #0F8AE8 55%);
          background-image: -webkit-linear-gradient(125deg, #094085 40%, #0F8AE8 55%);
          background-image: -ms-linear-gradient(125deg, #094085 40%, #0F8AE8 55%);
          background-image: linear-gradient(125deg, #094085 40%, #0F8AE8 55%);
        }
      }
    }

    /*
    Responsive Styles for Drilldown
    */
    @media #{$medium-up} {
      .drilldown {
        .summary {
          .homeowner-info {
            text-align: initial;
          }
        }
        .submitted {
          overflow-y: auto;
          max-height: 465px;
          padding: 0 40px;

          .lead-stats {
            margin-top: 60px;

            .likelihood {

            }
            .commission {

            }
            .last-update {

            }

          }
        }
      }
    }
  }


  span.currency-symbol {
    position: absolute;
    top: 32%;
    font-size: 14pt;
    color: #9b9b9b;
    left: 15px;
  }

  .sk-spinner {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #fff;
    left: 0;

    div {
      width: 10px;
      height: 10px;
    }

    &.big {
      top: 40%;
      right: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;

      div {
        width: 20px;
        height: 20px;
      }
    }
  }

  // Customer Information on Submitted Leads
  .submitted-lead {
    position: relative;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0,0,0,0.08);
    border: 1px solid #333;
    padding-top: 32px;

    p {
      color: #ccc;
      margin-bottom: 0px;
    }

    div.customer-info {
      .name {
        font-size: 24pt;
        line-height: 36pt;
      }
      .email {
        font-size: 12pt;
        line-height: 24pt;
        a {
          color: #12C2FD;
          &:hover {
            color: #fff;
          }
        }
      }
      .phone {
        font-size: 12pt;
        line-height: 12pt;
      }
      .address,
      .city-state-zip {
        font-size: 14pt;
        line-height: 18pt;
      }
    }

    div.lead-product-field {
      position: relative;
      width: 100%;
      padding-top: 10px;

      .label {
        color: #ccc;
        text-transform: uppercase;
        font-size: 10pt;
        background-color: initial;
        padding: 0;
      }

      .value {
        font-size: 14pt;
        line-height: 18pt;
      }

    }
  }
  .lead-update {
    background-color: rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 1px solid #333;
    position: relative;
    overflow-y: auto;
    max-height: 340px;

    p {
      color: #ccc;
    }

    div.status,
    div.details,
    div.solarcity-status {
      font-size: 18pt;
      line-height: 20pt;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #333;
      margin-top: 15px;
      position: relative;

      p {
        color: #ccc;
        font-size: 12pt;
        line-height: 18pt;
        margin-bottom: 0;
      }

      p:first-of-type {
        margin-top: 20px;
      }

    }
  }
  // Scroll Bars for Lead Updates Panel
  .submitted::-webkit-scrollbar,
  .notes::-webkit-scrollbar {
    width: 8px;
  }

  .submitted::-webkit-scrollbar-track,
  .notes::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2);
  }

  .submitted::-webkit-scrollbar-thumb,
  .notes::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
  }
  // /Scroll Bars

  // .carousel-box {
  //   border: 1px solid #e5e5e5;
  //   margin-bottom: -2px;
  // }

  .new-lead {
    border-right: 0;
  }
}