.powur-dashboard {
  .leadpipeline-section {
    padding-bottom: 20px;

    .detail {
      display: block;
    }

    .drilldown {
      max-height: 0px;
      -webkit-transition: max-height .4s, opacity .2s;
      -moz-transition: max-height .4s, opacity .2s;
      -o-transition: max-height .4s, opacity .2s;
      -ms-transition: max-height .4s, opacity .2s;
      transition: max-height .4s, opacity .2s;
      &.active {
        max-height: 2000px;
        @media #{$small} {
          max-height: 900px;
        }
        @media #{$large} {
          max-height: 700px;
        }
      }

      .summary {
        &.homeowner-info {
          background-color: #396E8E;
          text-align: initial;
          padding: 0.9375em 30px;

          label {
            color: #fff;
            text-transform: uppercase;
            font-size: 10pt;
            cursor: default;
            margin-bottom: 10px;
            margin-top: 20px;
          }
          a {
            color: #3DBCEA;
            &:hover {

            }
          }
          p {
            color: #fff;
            margin-bottom: 0;
          }
          p.name {
            font-size: 24pt;
            line-height: 28pt;
          }
          p.email {
            font-size: 12pt;
          }
          p.phone {
            font-size: 12pt;
          }
        }
      }
      // Submitted Lead View
      .submitted {

        label {
          color: #9b9b9b;
          text-transform: uppercase;
        }
        .symbol {
          font-size: 24pt;
          position: relative;
          bottom: 20px;
        }
        .lead-stats {
          margin-top: 20px;

          .likelihood {
            color: $pow-color-blue;
            font-size: 48pt;
            line-height: 48pt;
            font-family: 'Montserrat', 'Muli', sans-serif;
            font-weight: bold;
          }
          .commission {
            color: #F2D95F;
            font-size: 48pt;
            line-height: 48pt;
            font-family: 'Montserrat', 'Muli', sans-serif;
            font-weight: bold;
          }
          .last-update {
            font-size: 18pt;
            text-transform: uppercase;
            font-family: 'Montserrat', 'Muli', sans-serif;
          }
        }

        .lead-progress {
          margin-top: 20px;
          margin-bottom: 20px;
          .progress-container {
            height: 30px;
            .progress-cell {
              width: 25%;
            }
          }
        }
      }
    }

    .progress-cell {
      background: -webkit-linear-gradient(#eee, #aaa); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#eee, #aaa); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#eee, #aaa); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#eee, #aaa); /* Standard syntax */

      float: left;
      width: 50%;
      height: 30px;
      border: 1px solid #aaa;
      border-right: 0;

      color: #333;
      text-transform: uppercase;
      text-align: center;

      &.illuminated {
        background: -webkit-linear-gradient(#5AACF9, #00526F); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#5AACF9, #00526F); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#5AACF9, #00526F); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#5AACF9, #00526F);

        border: 0;
        border-right: 1px solid #333;

        color: #fff;
      }
    }
    .progress-cell:last-of-type {
      border-right: 1px solid #aaa;
      &.illuminated {
        border-right: 1px solid #333;
      }
    }

    /*
    Responsive Styles for Drilldown
    */
    @media #{$medium-up} {
      .drilldown {
        .summary {
          .homeowner-info {
            text-align: initial;
          }
        }
        .submitted {
          overflow-y: auto;
          max-height: 465px;

          .lead-stats {
            margin-top: 60px;

            .likelihood {

            }
            .commission {

            }
            .last-update {

            }

          }
        }
      }
    }
  }


  span.currency-symbol {
    position: absolute;
    top: 32%;
    font-size: 14pt;
    color: #9b9b9b;
    left: 15px;
  }

  .sk-spinner {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #fff;
    left: 0;

    div {
      width: 10px;
      height: 10px;
    }

    &.big {
      top: 40%;
      right: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;

      div {
        width: 20px;
        height: 20px;
      }
    }
  }

  // Customer Information on Submitted Leads
  .submitted-lead {
    position: relative;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0,0,0,0.08);
    border: 1px solid #333;
    padding-top: 32px;

    p {
      color: #ccc;
      margin-bottom: 0px;
    }

    div.customer-info {
      .name {
        font-size: 24pt;
        line-height: 36pt;
      }
      .email {
        font-size: 12pt;
        line-height: 24pt;
        a {
          color: #12C2FD;
          &:hover {
            color: #fff;
          }
        }
      }
      .phone {
        font-size: 12pt;
        line-height: 12pt;
      }
      .address,
      .city-state-zip {
        font-size: 14pt;
        line-height: 18pt;
      }
    }

    div.lead-product-field {
      position: relative;
      width: 100%;
      padding-top: 10px;

      .label {
        color: #ccc;
        text-transform: uppercase;
        font-size: 10pt;
        background-color: initial;
        padding: 0;
      }

      .value {
        font-size: 14pt;
        line-height: 18pt;
      }

    }
  }
  .lead-update {
    background-color: rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 1px solid #333;
    position: relative;
    overflow-y: auto;
    max-height: 340px;

    p {
      color: #ccc;
    }

    div.status,
    div.details,
    div.solarcity-status {
      font-size: 18pt;
      line-height: 20pt;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #333;
      margin-top: 15px;
      position: relative;

      p {
        color: #ccc;
        font-size: 12pt;
        line-height: 18pt;
        margin-bottom: 0;
      }

      p:first-of-type {
        margin-top: 20px;
      }

    }
  }
  // Scroll Bars for Lead Updates Panel
  .submitted::-webkit-scrollbar,
  .notes::-webkit-scrollbar {
    width: 8px;
  }

  .submitted::-webkit-scrollbar-track,
  .notes::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2);
  }

  .submitted::-webkit-scrollbar-thumb,
  .notes::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
  }
  // /Scroll Bars

  // .carousel-box {
  //   border: 1px solid #e5e5e5;
  //   margin-bottom: -2px;
  // }

  .new-lead {
    border-right: 0;
  }
}