.powur-dashboard {
  .team-section {

    .placement-box {
      position: absolute;
      bottom: -180px;
      margin: 0 auto;
      font-size: 14pt;
      background-color: #20C2F1;
      color: #fff;
      padding: 20px 40px 80px 40px;
      width: 80%;
      left: 0;
      right: 0;
      border-radius: 5px;
      transition: padding .15s lienar;
      text-align: center;

      &.placing {
        padding-bottom: 80px;
        bottom: -150px;

        .line-1 {
          display: none;
        }
        .line-2,
        .button-box {
          display: block;
        }
      }

      .line-2 {
        display: none;
      }
      
      .button-box {
        display: none;
        position: absolute;
        bottom: 25px;
        left: 20px;
        margin: 0 auto;
        right: 0;
        width: 310px;
      }

      .place-button {
        padding: 7px 50px;
        background-color: #fff;
        border-radius: 3px;
        margin-left: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: #20C2F1;
        transition: all .2s linear;

        &.clear {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          width: 200px;
          margin: 0 auto;
        }

        &:hover {
          background: #1996BA;
          color: #fff;
        }
      }

      .fa-times {
        float: right;
        font-size: 20pt;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }

    .tooltips {
      position: relative;
      display: inline;

      span {
        position: absolute;
        width:100px;
        color: #FFFFFF;
        background: #000000;
        height: 30px;
        line-height: 30px;
        text-align: center;
        visibility: hidden;
        border-radius: 6px;
        z-index: 99;
      }
      span:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 25%;
        margin-left: -8px;
        width: 0; height: 0;
        border-top: 8px solid #000000;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }

      &:hover span {
        visibility: visible;
        transition-delay: 1s;
        opacity: 0.8;
        bottom: 40px;
        left: 50%;
        margin-left: -25px;
        z-index: 999;
      }
    }

    .sk-spinner {
      position: absolute;
      top: 20px;
      right: 15px;
      background-color: #fff;

      div {
        width: 10px;
        height: 10px;
      }

      &.big {
        top: 40%;
        right: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;

        div {
          width: 20px;
          height: 20px;
        }
      }
    }

    .divider {
      border: 1px solid #555;
      border-bottom: 0px;
      width: 30%;
      margin: 20px auto;;
    }

    .info-box {
      transition: transform 0.4s ease, background-color 0.4s ease;
      -webkit-transition: -webkit-transform 0.4s ease, background-color 0.4s ease;
      margin-top: 50px;

      &.accordion {
        margin-top: 38px;
        transition: none !important;
        -webkit-transition: none !important;
        .avatar {
          display: none;
        }
      }

      &.raise {
        -ms-transform: translate(0 , -25px); /* IE 9 */
        -webkit-transform: translate(0 , -25px); /* Safari */
        transform: translate(0 , -25px);
      }
    }

    .lead-row {
      background-color: #292929 !important;
      &.expand {
        height: 450px !important;
      }

      .right-side {
       padding-top: 20px; 
        .right-summary {
          border-left: 1px solid #555;
          min-height: 400px !important;
        }
      }

      .summary {
        padding-top: 30px;
        border-right: 0px;
      }
    }

    .invite-row {
      background-color: #333 !important;
      &.expand {
        min-height: 430px !important;
      }
    }

    .lead-section {
      padding-top: 0px;
      margin-bottom: 0px;
      &:before {
        margin: 0px;
        padding: 0px;
      }

      //TEMPORARY
      .beta-filler {
        text-align: center;
        margin-bottom: 0px;
        background: #444;
        color: #fff;
        font-size:16pt;
        &.even {
          background: #333;
        }
      }
    }

    .search-form {
      transition: opacity .3s linear;
      -webkit-transition: opacity .3s linear;
      &.fade {
        opacity: 0;
      }
    }

    .info-row {
      text-align: center;
      background-position: left 0;
      background-repeat: no-repeat;
      background-size: cover;

      .info-container {
        padding: 30px 40px;
        text-align: left;
        color: #fff;
        opacity: 0;
        transition: opacity .3s ease-out;
        -webkit-transition: opacity .3s ease-out;

        .fa {
          font-size: 16pt;
        }

        .row.stats {
          padding: 30px 0 15px 15px;
          font-weight: bold;
        }

        .stats-container {
          background-color: rgba(0, 0, 0, 0.08);
          border: 1px solid #333;
          padding: 10px;
          margin: 15px;
          border-radius: 4px;
        }

        .header {
          font-size: 16pt;
          margin-left: -25px;
          margin: 7px 0;
          font-weight: bold;
        }

        .sub-header {
          font-size: 12pt;
          color: #9b9b9b;
          text-transform: uppercase;
          display: block;
          &.place {
            display: inline;
            margin-left: 7px;
            text-transform: none;
          }
        }

        .detail {
          display: block;
          white-space: nowrap;

          &.lg {
            font-size: 14pt;
            margin: 5px 0 5px 15px;
          }
          &.place {
            display: inline;
            cursor: pointer;
            color: #008CBA;
            margin-left: 0;
          }
        }

        i {
           border-radius: 15px;
           line-height: 32px;
           transition: background-color .3s linear;
           text-align: center; 

           &.fa-facebook {
             background-color: #3b5998;
             &:hover {
               background-color: #4264AB;
             }
           }
           &.fa-twitter {
             background-color: #50acee;
             &:hover {
               background-color: #6FBDFB;
             }
           }
           &.alternate {
             color: #fff;
             border-radius: 50%;
             font-size: 15pt;
             width: 30px;
             height: 30px;
             line-height: 32px;
             margin: 10px 0px 15px 15px;
           }
           &.disabled {
             background-color: #555;
             color: #ddd;
             &:hover {
               cursor: default;
               background-color: #555;
               color: #ddd;
             }
           }
           &:hover {
             background-color: #000;
           }
         }
        }

      .icon-container {
        margin: 10px;
      }
    }

    .carousel-box {
      .avatar {
        position: relative;
        text-align: center;
        top: 20%;
        width: 34%;
        margin: 10px auto;
        z-index: 1;

        .crop-box {
          height: 85px;
          width: 85px;
          border-radius: 50px;
          position: relative;
          overflow: hidden;
          background-color: transparent;
          z-index:1;
          -webkit-transform: translateZ(0);

          &.swing {
            background-color: #20C2F1;
          }
        }

        .plus {
          position: absolute;
          left: -86px;
          z-index: 2;
          transition: transform .15s linear;
          -webkit-transition: -webkit-transform .15s linear;
          border-radius: 50%;
          background-color: #20C2F1;
          &.swing {
            transform: translate(85px, 0);
            -webkit-transform: translate(85px, 0);
          }
        }

        .cert-badge {
          background: image-url("dashboard/cert-badge.png");
          width: 30px;
          height: 30px;
          background-color: #20C2F1;
          background-size: cover;
          border-radius: 50%;
          position: absolute;
          z-index: 3;
          cursor: help;
          top: 62%;
          left: 69%;

          &.swing {
            cursor: pointer;
            opacity: 0;
          }
        }

        .avatar-img {
          transition: transform .15s linear;
          -webkit-transition: -webkit-transform .15s linear;
          border-radius: 50%;
          &.swing {
            transform: translate(86px, 0);
            -webkit-transform: translate(86px, 0);
          }
        }

        img {
          width: 85px;
          height: 85px;
          margin: 0 auto;
          position: relative;
          z-index: 1;
        }

        .mini-rank {
          background: #fff;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          color: #326C7F;
          position: absolute;
          left: 58%;
          top: 70%;
        }
      }

      .info-text.user-text {
        top: 25%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 85%;
        margin: 0 auto;

        .info-detail {
          font-size: 8pt;
          line-height: 10pt;
          color: #9b9b9b;
          display: block;

          &.placeable {
            text-transform: uppercase;
            color: #20C2F1;
            font-weight: bold;
          }
        }
      }

      .team-tabs {
        position: absolute;
        width: 92%;
        bottom: -45px;
        left: 4%;
        z-index: 5;

        .team-tab {
          width: 31%;
          height: 50px;
          padding-top: 10px;
          margin-right: 1.75%;
          text-align: center;
          float: left;
          text-transform: uppercase;
          font-size: 13pt;
          color: #fff;
          padding: 5px 0px;
          cursor: pointer;
          transition: transform 0.4s ease, background-color 0.4s ease;
          -webkit-transition: -webkit-transform 0.4s ease, background-color 0.4s ease;

          .invert {
            color: #4f4f4f;
          }

          .dc-count {
            color: #444;
          }

          &.raise {
            -ms-transform: translate(0 , -35px); /* IE 9 */
            -webkit-transform: translate(0 , -35px); /* Safari */
            transform: translate(0 , -35px);
          }

          &.active-tab {
            &.odd {
                background: #333 !important;
            }

            &.even {
                background: #444 !important;
            }

            .fa-info-circle {
              color: #fff;
            }

            .dc-count {
              color: #fff;
            }
          }

          &.half {
            width: 48%;
          }

          img {
            margin-bottom: 3px;
            width: 17px;
          }
        }
      }

      &.even {
        .downline {
          .owl-item {
            border-left: 1px solid #444 !important;
            background-color: #333;

            &:last-of-type {
              border-right: 1px solid #444 !important;
            }
          }
        }
      }
    }

    .downline-row {
      height: 0px;
      background-color: #444;
      width: 100%;
      overflow: hidden;
      -webkit-transition: height .2s;
      -moz-transition: height .2s;
      -o-transition: height .2s;
      -ms-transition: height .2s;
      transition: height .2s;
      float: left;
      border-top: 0px;
      border-bottom: 0px;
      margin-bottom: 0px;

      .empty-state {
        border-left: 1px solid #555 !important;
      }

      &.expand {
        height: 220px;

        &.info-row {
          height: 500px;
        }
      }

      &.even {
        background-color: #333;

        .sort-box{
          .sort {
            background-color: #252525;
            border: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }

      &.accordion {
        height: 100px;
      }

      .customer-name, .empty-text {
        color: #fff;
      }

      .inactive-icon {
        opacity: 0.25;
      }

      .sort-box {
        margin: 15px;
        .sort {
          height: 55px;
          background-color: #333;
          border: 1px solid rgba(0, 0, 0, 0.3);
          width: 95%;
          margin-bottom: 10px;
          color: rgba(255, 255, 255, 0.75);
        }
      }

    }

    .new-team-member {
      border-right: 0;
      background-color: #fff;
      color: #555;
      cursor: pointer;

      &.invert {
        background: #444;
        border-bottom: 1px solid #555;
        .invites-summary {
          color: #f8f8f8;
          .number {
            border: 1px dashed #f8f8f8;
          }
        }
      }
    }

    .invite,
    .team-member-info-large {
      background-color: transparent;
      color: #fff;
      cursor:pointer; 

      &.invert {
        background-color: #333;
      }

      &.active {
        background-color: #333 !important;
        border-bottom: 0px;
      }
      &.disabled {
        color: #555;
        &:hover {
          cursor: default;
        }
      }
    }

    // "Team Member Show" Styles for Large Screens
    .team-member-info-large {
      text-align: center;

      .top-label {
        text-transform: uppercase;
        top: 15%;
        position: relative;
        display:block;
      }

      .generation {
        position: relative;
        top: 10%;
        font-size: 80pt;
        font-weight: 200;

        &.accordion {
          font-size: 35pt;
        }
      }

      .team-member-name {
        position: relative;
        top: 25%;
        font-size: 16pt;
        line-height: 18pt;
      }

      .info-text {
        line-height: 32px;

        &.email-text {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .email {
          font-size: 12pt;
          text-transform: uppercase;
          a {
            color: #fff;
            &:hover {
              color: #0a7fa1;
            }
          }
        }

        .disabled {
          color: #888;
        }
      }

      .social-media {
        padding: 0 20%;

        .bottom-part {
          margin-top: 20px;
          @media #{$medium} {
            margin-top: 0px;
          }
        }
        a {
          color: #fff;
        }


        .info-text {
          display: block;
          padding-top: 20px;
        }
      }

      .info-label {
        font-family: $dashboard-font-family;
        position: relative;
        top: 36%;
        text-align: center;
        line-height: 10pt;
        font-size: 8pt;
        text-transform: uppercase;
        color: #9b9b9b;
      }
    }

    // "Team Member Show" Styles for Medium/Small Screens
    .team-member-info-medium {
      position: relative;
      padding: 60px 0;
      background-color: #444;

      .left-side {
        position: relative;
        text-align: center;

        .avatar {
          position: relative;
          top: 15%;
          
          img {
            height: 150px;
            width: auto;
            border-radius: 75px;
          }
        }
      }
      .right-side {
        color: #fff;
        text-align: center;

        @media #{$medium} {
          text-align: left;
        }
        .name {
          font-size: 18pt;
          line-height: 24pt;
        }
        .generation {
          font-size: 12pt;
          line-height: 14pt;
        }
        .email, .phone {
          font-size: 14pt;
          line-height: 30pt;
          i {
            text-align: center;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            line-height: 32px;
            background-color: #fff;
            color: #444;
          }
          a {
            color: #fff;
            &:hover {
              color: #0a7fa1;
            }
          }
        }
        .social-media {
          text-align: center;
          line-height: 30pt;
          a {
            color: #fff;
          }
          i {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            line-height: 32px;
            &.fa-facebook {
              background-color: #3b5998;
            }
            &.fa-twitter {
              background-color: #50acee;
            }
            &.disabled {
              background-color: #555;
              color: #444;
              &:hover {
                cursor: default;
                background-color: #555;
                color: #444;
              }
            }
            &:hover {
              background-color: #000;
            }
          }
        }
      }
    }

    // Invites

    .invites-summary {
      height: 220px;
      color: #555;
      font-family: $dashboard-font-family;
      text-align: center;

      .number {
        position: relative;
        top: 25%;
        font-size: 40pt;
        border: 1px dashed #555;
        border-radius: 50%;
        width: 80px;
        height: auto;
        margin: 0 auto;
      }
      .info-text {
        position: relative;
        top: 35%;
        line-height: 14pt;
        font-size: 16pt;
      }
    }

    // White Carousel Arrows on Dark Background
    .owl-prev, .owl-next {
      color: #fff;
    }
  }
}