<div class="row">
  <div class="large-6 medium-6 columns">
  <!-- Section Label -->
    <div class="section-label">
      <div class="tag"><img ng-src="{{legacyImagePaths.dashboardKPIIcon}}"></div>
      <div class="text">Key Performance Indicators</div>
    </div>
  </div>
</div>

<div class="large-12 columns">
  <div class="row tab-header-row">
    <div class="kpi-tab inactive" ng-class="{'active': section === 'rank'}">
      <div class="kpi-info-box">
        <!-- Small Screens: Badge Icon / Rank -->
        <span class="kpi-count show-for-small"><i class="fa fa-certificate fa-3x"></i></span>
        <span class="kpi-header uppercase hide-for-large-up">Rank</span>
        <!-- Medium/Large Screens: Total Earnings -->
        <img class="badge show-for-medium-up" ng-src="{{badgePath(goals.properties.next_rank - 1)}}">
        <span class="kpi-header uppercase show-for-large-up">current rank</span>
      </div>
    </div>
    <div class="kpi-tab" ng-class="{'active': section === 'proposals'}" ng-click="changeTab('proposals')">
      <div class="kpi-info-box">
        <!-- Small Screens: Checkmark Icon / Orders -->
        <span class="kpi-count show-for-small"><i class="fa fa-check-square-o fa-3x"></i></span>
        <span class="kpi-header uppercase show-for-small">Pipeline</span>
        <!-- Medium/Large Screens: Orders -->
        <span class="kpi-count show-for-medium-up" ng-style="{ 'font-size': scaleFontSize(currentUser.metrics.proposal) }">{{currentUser.metrics.proposal | number : fractionSize}}</span>
        <span class="kpi-header uppercase show-for-medium-up">Pipeline</span>
      </div>
    </div>
    <div class="kpi-tab" ng-class="{'active': section === 'genealogy'}" ng-click="changeTab('genealogy')">
    <!-- <div class="kpi-tab inactive" ng-class="{'active': section === 'genealogy'}" ng-click="changeTab('genealogy')"> -->
      <div class="kpi-info-box">
        <!-- Small Screens: Grid Icon / Grid -->
        <span class="kpi-count show-for-small"><i class="fa fa-th-large fa-3x"></i></span>
        <span class="kpi-header uppercase show-for-small">Grid</span>
        <!-- Medium/Large Screens: In Your Grid -->
        <span class="kpi-count show-for-medium-up" ng-style="{ 'font-size': scaleFontSize(currentUser.metrics.team) }">{{currentUser.metrics.team | number : fractionSize}}</span>
        <span class="kpi-header uppercase show-for-medium-up">Grid</span>
      </div>
    </div>
    <div class="kpi-tab inactive" ng-class="{'active': section === 'earnings'}">
    <!-- <div class="kpi-tab inactive" ng-class="{'active': section === 'earnings'}" ng-click="changeTab('earnings')"> -->
      <div class="kpi-info-box">
        <!-- Small Screens: Dollars Icon / Earnings -->
        <span class="kpi-count show-for-small"><i class="fa fa-dollar fa-3x"></i></span>
        <span class="kpi-header uppercase hide-for-large-up">Earnings</span>
        <!-- Medium/Large Screens: Total Earnings -->
        <div class="temp-box">
          <img ng-src="{{legacyImagePaths.dashboardRedLogo}}"/ >
          <span class="show-for-medium-up" style="color:#f00">COMING SOON!</span>
        </div>
        <!-- <span class="kpi-count show-for-medium-up" ng-style="{ 'font-size': scaleFontSize('$0') }">$0</span> -->
        <span class="kpi-header uppercase show-for-large-up">total earnings</span>
      </div>
    </div>
    <div class="kpi-tab inactive" ng-class="{'active': section === 'environment'}">
     <!-- <div class="kpi-tab inactive" ng-class="{'active': section === 'environment'}" ng-click="changeTab('environment')"> -->
      <div class="kpi-info-box">
        <!-- Small Screens: Globe Icon / Impact -->
        <span class="kpi-count show-for-small"><i class="fa fa-globe fa-3x"></i></span>
        <span class="kpi-header uppercase show-for-small">Impact</span>
        <!-- Medium/Large Screens: CO2 pounds saved -->
        <span class="kpi-count show-for-medium-up"><span ng-style="{ 'font-size': scaleFontSize(currentUser.metrics.co2) }">{{currentUser.metrics.co2 | number : fractionSize}}</span>lbs</span>
        <!-- <span class="kpi-count show-for-medium-up" ng-style="{ 'font-size': scaleFontSize('0') }">0<span class="unit">lbs</span></span> -->
        <span class="kpi-header uppercase show-for-medium-up">CO<sub>2</sub>saved</span>
      </div>
    </div>
  </div>
</div>

<!-- Row: KPI Drilldowns -->
<div class="kpi-drilldown drilldown" ng-class="{'active': section}">
  <!-- loading animation -->
  <div ng-hide="active" class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
  </div>
  <ng-include ng-if="section === 'environment'" src="'dashboard/templates/sections/kpi/metrics/environment.html'"></ng-include>
<!--   <ng-include ng-if="section === 'environment' && !tabData.length" src="'dashboard/templates/sections/kpi/metrics/environment-beta.html'"></ng-include> -->
  <ng-include ng-if="section === 'proposals'" src="'dashboard/templates/sections/kpi/metrics/pipeline.html'"></ng-include>
  <!-- <ng-include ng-if="section === 'conversion' && !tabData.length" src="'dashboard/templates/sections/kpi/metrics/conversion.html'"></ng-include> -->
  <ng-include ng-if="section === 'genealogy'" src="'dashboard/templates/sections/kpi/metrics/genealogy.html'"></ng-include>
  <!-- <ng-include ng-if="section === 'genealogy' && !tabData.length" src="'dashboard/templates/sections/kpi/metrics/genealogy-beta.html'"></ng-include> -->
  <ng-include ng-if="section === 'earnings'" src="'dashboard/templates/sections/kpi/metrics/earnings.html'"></ng-include>
  <!-- <ng-include ng-if="section === 'earnings' && !tabData.length" src="'dashboard/templates/sections/kpi/metrics/earnings-beta.html'"></ng-include> -->
  <ng-include ng-if="section === 'rank'" src="'dashboard/templates/sections/kpi/metrics/rank.html'"></ng-include>
  <!-- <ng-include ng-if="section === 'rank' && !tabData.length" src="'dashboard/templates/sections/kpi/metrics/rank-beta.html'"></ng-include> -->
</div>
