<div class="arrow"></div>
<div class="drilldown_content">
	<div id="kpi_leads_detail" class="object_detail">
	    <div class="object_detail_arrow"></div>
		<span class="dismiss"><i class="fa fa-times"></i></span>
		<div class="object_detail_content">
			<div class="object_detail_content_section summary">
				<h4>Leads Overview</h4>
				<span class="subtext">Capture and complete your leads to turn them into customers.</span>
				<br/>
				<span class="subtext">
					<a href="/training">Tools for generating leads ></a>
				</span>
				<span class="subtext">
					<a href="#">Show all leads ></a>
				</span>
			</div>
			<div class="object_detail_content_section">
				<h4>Many Sale</h4>
				<span class="subtext">Break it down...</span>
				<span class="expand">
			  		<i class="fa fa-angle-down"></i>
			  	</span>
			</div>
			<div class="object_detail_content_section">
				<h4>A graph goes here...</h4>
			</div>
		</div>
	</div>
</div>

