<footer class="footer-signed-in">
  <div class="col">
    <h3>Company</h3>
    <ul>
      <li><a ng-href="/advocate-faq">FAQ</a></li>
      <li><a href="https://support.powur.com" target="_blank">Contact Us</a></li>
      <li><a href="https://docs.google.com/forms/d/1Db-4G9ci-eOIEXziTbT7CZrGpkEzxYZnH8DPiFHyrIw/viewform" target="_blank">Feedback</a></li>
    </ul>
  </div>

  <div class="col">
    <h3>Legal</h3>
    <ul>
      <li><a ng-href="/terms-of-service">Terms of Service</a></li>
      <li><a ng-href="/privacy-policy">Privacy Policy</a></li>
      <li><a ng-href="/disclaimer">Disclaimer</a></li>
    </ul>
  </div>

  <div class="col">
    <h3>Social</h3>
    <ul>
      <li><a href="https://twitter.com/PowurPBC" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/pages/Powur-PBC/461731273991150" target="_blank">Facebook</a></li>
    </ul>
  </div>

  <div class="clearfix"></div>

  <br>
  <br>

  <div class="copyright">
    Copyright © 2014-15 Powur PBC. All rights reserved.
  </div>
</footer>
