<footer class="sun-landing-footer">
  <div class="row">
    <div class="large-12 columns">
      <div class="footer-content">
        <nav class="footer-nav">
          <ul>
            <li><a href="https://support.powur.com" target="self">Contact</a></li>
            <!-- | -->
            <!-- <li><a ng-href="/privacy-policy">Privacy</a></li> |
            <li><a ng-href="/terms-of-service">Terms</a></li> -->
          </ul>
        </nav>

        <div class="copyright">
          Copyright © 2014 - 2015 Powur Inc. All rights reserved.
        </div>

        <div class="social-links">
          <a class="facebook" href="https://www.facebook.com/powurpbc" target="self"></a>
          <a class="twitter" href="https://twitter.com/PowurPBC" target="self"></a>
          <a class="youtube"></a>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</footer>
