<footer class="footer-signed-in">
  <div class="col">
    <h3>Company</h3>
    <ul>
      <li><a ng-href="#/advocate-faq">FAQ</a></li>
      <li><a href="https://support.powur.com" target="self">Contact Us</a></li>
    </ul>
  </div>

  <div class="col">
    <h3>Legal</h3>
    <ul>
      <li><a ng-href="#/terms-of-service">Terms of Service</a></li>
      <li><a ng-href="#/privacy-policy">Privacy Policy</a></li>
      <li><a ng-href="#/disclaimer">Disclaimer</a></li>
    </ul>
  </div>

  <div class="col">
    <h3>Social</h3>
    <ul>
      <li><a href="https://twitter.com/PowurPBC" target="self">Twitter</a></li>
      <li><a href="https://www.facebook.com/powurpbc" target="self">Facebook</a></li>
    </ul>
  </div>
</footer>
