<footer class="sun-landing-footer">
  <div class="row">
    <div class="large-12 columns">
      <div class="footer-content">
        <nav class="footer-nav">
          <ul>
            <li><a ng-href="">Contact</a></li> |
            <li><a ng-href="">Privacy</a></li> |
            <li><a ng-href="">Terms</a></li>
          </ul>
        </nav>

        <div class="copyright">
          Copyright © 2014 - 2015 Powur Inc. All rights reserved.
        </div>

        <div class="social-links">
          <a class="facebook" href=""></a>
          <a class="twitter" href=""></a>
          <a class="youtube" href=""></a>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</footer>

<style type="text/css">
  footer {
    position:relative !important;
  }
</style>
