<!-- Dashboard Header -->
<!-- <nav powur-foundation > -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="nav top-menu">
  <div class="bg">
    <div class="left">
      <div class="menu" ng-click="openMenu()"></div>
      <div class="title">powur <b>{{stateName()}}</b></div>
    </div>
    <div class="right hide-for-desktop">
      <a href="/profile" target="_self">
        <img class="avatar" ng-src="{{ currentUser.avatar.large || legacyImagePaths.defaultProfile }}">
        <span>Hello, {{ currentUser.first_name}}</span>
      </a>
      &nbsp;|&nbsp;
      <span ng-click="signOut()">LOGOUT</span>
    </div>
  </div>
</div>
<!-- MOBILE SIDE NAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 mobile-side-nav nav" md-component-id="mobile-left"  md-is-locked-open="isRouteAdmin" >
  <div class="banner" layout="column" layout-align="center start">
    <div class="logo"></div>
    <div class="motto">Disrupt & <b>Decentralize</b></div>
  </div>
  <div layout-align="center center" class="link-wrap">
    <div class="header">Powur</div>
    <hr class="header-divider">
    <a href="/dashboard" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/dashboard')}">
        <i class="sprite material-icons" flex="15">dashboard</i><span>Dashboard</span>
      </div>
    </a>

    <a href="/next/invite/grid" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{ active: isMenuLinkActive('home.invite') }">
        <i class="sprite material-icons" flex="15">mail</i><span>Invite</span>
      </div>
    </a>

    <a href="/next/grid/solar" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{ active: isMenuLinkActive('grid.solar') }">
        <i class="sprite material-icons" flex="15">view_list</i><span>Solar Grid</span>
      </div>
    </a>

    <a href="/earnings" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/earnings')}">
        <i class="sprite material-icons" flex="15">account_balance</i><span>Earnings</span>
      </div>
    </a>

    <a href="/university" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/university')}">
        <i class="sprite material-icons" flex="15">school</i><span>Powur U</span>
      </div>
    </a>

    <a href="/library" target="_self">
    <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/library')}">
     <i class="sprite material-icons" flex="15">local_library</i></i><span>Library</span>
    </div>
    </a>

    <div class="header">Settings</div>
    <hr class="header-divider">
    <a href="/profile" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/profile')}">
        <i class="sprite material-icons" flex="15">tune</i><span>Profile</span>
      </div>
    </a>

    <a href="/upgrade" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-hide="currentUser['partner?']" ng-class="{'active': isMenuLinkActive('/upgrade')}">
        <i class="sprite material-icons" flex="15">publish</i><span>Upgrade</span>
      </div>
    </a>

    <a class="hide-for-desktop">
      <div layout="row" layout-align="start center" class="link-item" ng-click="signOut()">
        <i class="sprite material-icons" flex="15">exit_to_app</i><span>Logout</span>
      </div>
    </a>

    <div class="header" ng-show="currentUser.is_admin">Admin</div>
    <hr class="header-divider" ng-show="currentUser.is_admin">
    <a href="/admin" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-show="currentUser.is_admin" ng-class="{'active': isMenuLinkActive('/admin')}">
        <i class="sprite material-icons"  flex="15">poll</i><span>Overview</span>
      </div>
    </a>
    <div layout="row" layout-align="start center" class="link-item menu-item" ng-mouseover="menuPosition($event, 'products')" ng-mouseleave="menu.active = ''" ng-show="currentUser.is_admin" 
         ng-class="{'active': isMenuLinkActive('/admin/products') ||
                              isMenuLinkActive('/admin/product_enrollments') ||
                              isMenuLinkActive('/admin/product_receipts') ||
                              isMenuLinkActive('/admin/pay_periods')}">
      <i class="sprite material-icons" flex="15">public</i><span flex="70">Comp Plan</span><i class="material-icons sprite">chevron_right</i>
      <div class="sub-menu" ng-show="menu.active === 'products'" style="{{menu.position}}">
        <a href="/admin/products" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/products')}">
            <span>Products</span>
          </div>
        </a>
        <a href="/admin/product_enrollments" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/product_enrollments')}">
            <span>Course Enrollments</span>
          </div>
        </a>
        <a href="/admin/product_receipts" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/product_receipts')}">
            <span>Product Receipts</span>
          </div>
        </a>
        <a href="/admin/pay-periods" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/pay-periods')}">
            <span>Pay Periods</span>
          </div>
        </a>
      </div>
    </div>
    <div layout="row" layout-align="start center" class="link-item menu-item" ng-mouseover="menuPosition($event, 'powur')" ng-mouseleave="menu.active = ''" ng-show="currentUser.is_admin" 
         ng-class="{'active': isMenuLinkActive('/admin/application-agreements') ||
                              isMenuLinkActive('/admin/latest-news') ||
                              isMenuLinkActive('/admin/resources') ||
                              isMenuLinkActive('/admin/resource-topics') ||
                              isMenuLinkActive('/admin/notifications') ||
                              isMenuLinkActive('/admin/social-media') ||
                              isMenuLinkActive('/admin/powur-move')}">
      <i class="sprite material-icons" flex="15">mms</i><span flex="70">Content</span><i class="material-icons sprite">chevron_right</i>
      <div class="sub-menu"  ng-show="menu.active === 'powur'" style="{{menu.position}}">
        <a href="/admin/application-agreements" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/application-agreements')}">
            <span>Application Agreements</span>
          </div>
        </a>
        <a href="/admin/latest-news" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/latest-news')}">
            <span>Latest News</span>
          </div>
        </a>

        <a href="/admin/resources" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/resources')}">
            <span>Library</span>
          </div>
        </a>
        <a href="/admin/resource-topics" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/resource-topics')}">
            <span>Library Topics</span>
          </div>
        </a>
        <a href="/admin/social-media" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/social-media')}">
            <span>Social Media Sharing</span>
          </div>
        </a>
        <a href="/admin/powur-move" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/powur-move')}">
            <span>Powur Moves</span>
          </div>
        </a>
        <a href="/admin/notifications" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/notifications')}">
            <span>SMS</span>
          </div>
        </a>
      </div>
    </div>
    <div layout="row" layout-align="start center" class="link-item menu-item" ng-mouseover="menuPosition($event, 'people')" ng-mouseleave="menu.active = ''" ng-show="currentUser.is_admin" 
         ng-class="{'active': isMenuLinkActive('/admin/users') || 
                              isMenuLinkActive('/admin/invites/pending') ||
                              isMenuLinkActive('/admin/invites/system-settings')}">
      <i class="sprite material-icons" flex="15">settings</i><span flex="70">System</span><i class="material-icons sprite">chevron_right</i>
      <div class="sub-menu" ng-show="menu.active === 'people'" style="{{menu.position}}">
        <a ng-href="/admin/users" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/users')}">
            <span>Users</span>
          </div>
        </a>
        <a href="/admin/invites/pending" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/invites/pending')}">
            <span>Pending Invites</span>
          </div>
        </a>
        <a href="/admin/leads" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/leads')}">
            <span>Leads</span>
          </div>
        </a>
        <a href="/admin/system-settings" target="_self">
          <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/admin/system-settings')}">
            <span>System Settings</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</md-sidenav>