<header id="sun_header">
  <div class="row">
    <div class="large-12 columns">
      <ul class="sun-header">
        <li class="right menu-item sign-out"><a ng-click="signOut()">Sign Out</a></li>
        <!-- <li class="right username"><a ng-href="/u/profile">{{currentUser.first_name}} <i>{{currentUser.last_name}}</i></a></li> -->
        <li class="right username"><a ng-href="/u/profile">{{currentUser.first_name}}</a></li>

        <li class="logo"><a ng-href="/">&nbsp;</a></li>
        <li class="menu-item"><a ng-class="{'active': isMenuLinkActive('/dashboard')}" ng-href="#/dashboard">Dashboard</a></li>
        <li class="menu-item"><a ng-href="/u/earnings">Earnings</a></li>
        <li class="menu-item"><a ng-class="{'active': isMenuLinkActive('/university')}" ng-href="#/university">Powur U</a></li>
        <li class="menu-item"><a>Marketing</a></li>
        <li class="menu-item"><a ng-class="{'active': isMenuLinkActive('/library')}" ng-href="#/library">Library</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
