
<nav class="top-bar" data-options="is_hover:false">

  <ul class="title-area">
  <!-- Title Area -->
    <li class="name">
      <h1><a>Powur</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><a>Dashboard</a></li>
      <li class="divider"></li>
      <li><a>Earnings</a></li>
      <li class="divider"></li>
      <li><a>Powur U</a></li>
      <li class="divider"></li>
      <li><a>Marketing</a></li>
      <li class="divider"></li>
      <li><a>Library</a></li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <!-- Account Menu -->
      <li class="has-dropdown"><a>{User Name}</a>
        <ul class="dropdown">
          <li><label>Account</label></li>
          <li><a>Profile</a></li>
          <li class="has-dropdown"><a>Administration</a>
            <ul class="dropdown">
              <li><label>People</label></li>
              <li><a>Users</a></li>
              <li><a>User Groups</a></li>
              <li><label>Products</label></li>
              <li><a>Products</a></li>
              <li><a>Quotes</a></li>
              <li><a>Orders</a></li>
              <li><label>Pay</label></li>
              <li><a>Pay Periods</a></li>
              <li><a>Bonus Plans</a></li>
              <li><label>Powur</label></li>
              <li><a>Dashboard Notifications</a></li>
              <li><a>Library</a></li>
              <li><a>Social Media Sharing</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a>Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>