<!-- Dashboard Header -->
<!-- <nav powur-foundation > -->

<div class="nav top-menu">
  <div class="bg">
    <div class="left">
      <div class="menu" ng-click="openMenu()"></div>
      <div class="title">powur <b>{{stateName()}}</b></div>
    </div>
    <div class="right hide-for-desktop">
      <a href="/profile" target="_self">
        <img class="avatar" ng-src="{{ currentUser.avatar.large || legacyImagePaths.defaultProfile }}">
        <span>Hello, {{ currentUser.first_name}}</span>
      </a> 
      &nbsp;|&nbsp;
      <span ng-click="signOut()">LOGOUT</span>
    </div>
  </div>
</div>
<!-- MOBILE SIDE NAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 mobile-side-nav nav" md-component-id="mobile-left">
  <div class="banner" layout="column" layout-align="center start">
    <div class="logo"></div>
    <div class="motto">Disrupt & <b>Decentralize</b></div>
  </div>
  <div layout-align="center center" class="link-wrap">
    <a href="/dashboard" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/dashboard')}">
        <i class="sprite sprite-dashboard"></i><span>Dashboard</span>
      </div>
    </a>
    <md-divider></md-divider>
    <a href="/next/invite/grid" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{ active: nav.isCurrent('home.invite') }">
        <i class="sprite sprite-invite"></i><span>Invite</span>
      </div>
    </a>
    <md-divider></md-divider>
    <a href="/next/grid/solar" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{ active: nav.isCurrent('grid.solar') }">
        <i class="sprite sprite-grid-solar"></i><span>Solar Grid</span>
      </div>
    </a>
    <md-divider></md-divider>
    <a href="/earnings" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/earnings')}">
        <i class="sprite sprite-earnings"></i><span>Earnings</span>
      </div>
    </a>
    <md-divider></md-divider>
    <a href="/university" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/university')}">
        <i class="sprite sprite-certs"></i><span>Powur U</span>
      </div>
    </a>
    <md-divider></md-divider>
    <a href="/library" target="_self">
    <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/library')}">
     <i class="sprite sprite-library"></i><span>Library</span>
    </div>
    </a>
    <md-divider></md-divider>
    <a href="/upgrade" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-hide="nav.home.userData['partner?']" ng-class="{'active': isMenuLinkActive('/upgrade')}">
        <i class="sprite sprite-upgrade"></i><span>Upgrade</span>
      </div>
    </a>
    <a href="/admin" target="_self">
      <div layout="row" layout-align="start center" class="link-item" ng-show="nav.home.userData.is_admin" ng-class="{'active': isMenuLinkActive('/admin')}">
        <i class="sprite sprite-admin"></i><span>Admin</span>
      </div>
    </a>
    <md-divider class="hide-for-desktop"></md-divider>
    <a href="/profile" target="_self" class="hide-for-desktop">
      <div layout="row" layout-align="start center" class="link-item" ng-class="{'active': isMenuLinkActive('/profile')}">
        <i class="sprite sprite-stats"></i><span>Profile</span>
      </div>
    </a>
    <md-divider class="hide-for-desktop"></md-divider>
    <a class="hide-for-desktop">
      <div layout="row" layout-align="start center" class="link-item" ng-click="signOut()">
        <i class="sprite sprite-logout"></i><span>Logout</span>
      </div>
    </a>
  </div>
</md-sidenav>

<!-- <div class="nav fill-height">
    <div class="bg fill-height">
        <ul class="list fill-height" layout="column" layout-align="start center"> -->

            <!-- <a href="/dashboard" target="_self" class="hover">
              <li ng-class="{'active': isMenuLinkActive('/dashboard')}" ng-href="/dashboard">
                <i class="sprite sprite-dashboard"></i>
                <md-tooltip>Dashboard</md-tooltip>
              </li>
            </a>
            <a href="/next/invite/grid" target="_self" >
              <li ui-sref="home.invite" ng-class="{ active: nav.isCurrent('home.invite') }" >
                <i class="sprite sprite-invite"></i>
                <md-tooltip>Invite</md-tooltip>
              </li>
            </a>
            <a ng-href="/earnings">
              <li ui-sref="home.earnings" ng-class="{'active': isMenuLinkActive('/earnings')}" ><i class="sprite sprite-earnings"></i>
              <md-tooltip>Earnings</md-tooltip>
              </li>
            </a>
            <a ng-href="/university" target="_self">
              <li ng-class="{'active': isMenuLinkActive('/university')}"><i class="sprite sprite-certs"></i>
              <md-tooltip>Powur U</md-tooltip>
              </li>
            </a>
            <a ng-href="/library" target="_self">
              <li ng-class="{'active': isMenuLinkActive('/library')}"><i class="sprite sprite-library"></i>
              <md-tooltip>Library</md-tooltip>
              </li>
            </a>
            <div class="align-bottom">
              <a ng-href="/upgrade" ng-hide="currentUser['partner?']" target="_self">
                <li ng-class="{'active': isMenuLinkActive('/upgrade')}"><i class="sprite sprite-upgrade"></i>
                <md-tooltip>Upgrade</md-tooltip>
                </li>
              </a>
              <a href="/admin" target="_self">
                <li ui-sref="home.grid" ng-show="currentUser.is_admin"><span class="admin">ADMIN</span>
                <md-tooltip>Admin</md-tooltip>
                </li>
              </a>
              <a ng-href="/profile">
                <li ui-sref="home.stats"><i class="sprite sprite-stats"></i>
                <md-tooltip>Profile</md-tooltip>
                </li>
              </a> -->
<!--               <a ng-click="signOut()">
                <li ><i class="sprite sprite-logout"></i>
                <md-tooltip>Logout</md-tooltip>
                </li>
              </a>
            </div>
        </ul>
    </div>
</div>
 -->
<!-- </nav> -->

<!--

<nav powur-foundation class="powur-header top-bar" data-topbar role="navigation" data-options="is_hover:false">

  <ul class="title-area">

    <li class="name main-logo">
      <h1><a href="/"><img src="<%=asset_path('powur-white-logo.png')%>" class="logo-img" /></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">
      <li><a class="show-for-large-up" ng-class="{'active': isMenuLinkActive('/dashboard')}" ng-href="/dashboard">Dashboard</a></li>

      <li><a class="show-for-large-up" ng-class="{'active': isMenuLinkActive('/university')}" ng-href="/university">Powur U</a></li>

      <li><a class="show-for-large-up" ng-class="{'active': isMenuLinkActive('/library')}" ng-href="/library">Library</a></li>
      <li><a class="show-for-large-up" ng-class="{'active': isMenuLinkActive('/earnings')}" ng-href="/earnings">Earnings</a></li>
      <li><a class="show-for-large-up" href="/next/invite/grid" target="_self">Invite</a></li>
    </ul>

    <ul class="right">
      <li><a class="show-for-large-up" ng-class="{'active': isMenuLinkActive('/upgrade')}" ng-href="/upgrade">Upgrade</a></li>

      <li class="hide-for-medium-down has-dropdown"><a href>{{currentUser.first_name}}</a>
        <ul class="dropdown">
          <li><label>Account</label></li>
          <li><a ng-href="/profile">Profile</a></li>
          <li ng-show="currentUser.is_admin"><a href="/admin" target="_self">Administration</a></li>
          <li class="divider"></li>
          <li><a ng-click="signOut()">Sign Out</a></li>
        </ul>
      </li>


      <li class="hide-for-large-up" style="padding-left:25px;"><label>Powur</label></li>
      <li class="hide-for-large-up" style="padding-left:25px;"><a ng-href="/dashboard">Dashboard</a></li>
      <li class="hide-for-large-up" style="padding-left:25px;"><a href="/next/invite/grid" target="_self">Invites</a></li> <li class="hide-for-large-up" style="padding-left:25px;"><a ng-href="/upgrade">Upgrade</a></li>

      <li class="hide-for-large-up" style="padding-left:25px;"><a ng-href="/university">Powur U</a></li>

      <li class="hide-for-large-up" style="padding-left:25px;"><a ng-href="/library">Library</a></li>
      <li class="hide-for-large-up" class="divider" style="padding-left:25px;"></li>
      <li class="hide-for-large-up" style="padding-left:25px;"><label>Account</label></li>
      <li class="hide-for-large-up" style="padding-left:25px;"><a>{{currentUser.first_name}}'s Profile</a></li>
      <li ng-show="currentUser.is_admin" class="hide-for-large-up"><a href="/admin" target="_self" style="padding-left:25px;">Administration</a></li>
      <li class="hide-for-large-up" class="divider" style="padding-left:25px;"></li>
      <li class="hide-for-large-up" style="padding-left:25px;"><a ng-click="signOut()">Sign Out</a></li>
    </ul>
  </section>
</nav> -->
