<div class="sun-scrolling-bg" id="building_large_network">
  <div class="row">
    <div class="large-12 columns sun-home-content">
      <div class="globe-image"></div>
      <h4>Building the world's largest network of peer to peer solar advocates.</h4>
    </div>
  </div>
  <a class="sun-next-pointer" ng-click="gotoAnchor('decentralization_of_energy_production')">So that we</a>
</div>

<div class="sun-scrolling-bg sun-bg-2" id="decentralization_of_energy_production">
  <div class="row">
    <div class="large-12 columns sun-home-content">
      <div class="scales-image"></div>
      <h4>Facilitate the largest transfer of wealth in history through the decentralization of energy production.</h4>
    </div>
  </div>
  <a class="sun-next-pointer" ng-click="gotoAnchor('reverse_climate_change')">Which will</a>
</div>

<div class="sun-scrolling-bg" id="reverse_climate_change">
  <div class="row">
    <div class="large-12 columns sun-home-content">
      <div class="house-image"></div>
      <h4>Reverse climate change by turning millions of American homes clean and carbon-positive.</h4>
    </div>
  </div>
  <a class="sun-next-pointer" ng-click="gotoAnchor('clean_energy_solution')">So we</a>
</div>

<div class="sun-scrolling-bg sun-bg-2" id="clean_energy_solution">
  <div class="row">
    <div class="large-12 columns sun-home-content">
      <div class="flame-image"></div>
      <h4>Create a sustainable, renewable and clean energy solution for all future generations.</h4>
    </div>
  </div>
  <a class="sun-next-pointer" ng-click="gotoAnchor('solar_revolution')"></a>
</div>

<div class="sun-fixed-bg sun-bg-3" id="solar_revolution">
  <div class="sun-home-intro">
    <div class="row">
      <h1>The solar revolution is here.</h1>
    </div>
  </div>
  <a class="sun-next-pointer inverted" ng-click="gotoAnchor('how_to_participate')">It will be disruptive</a>
</div>

<div class="sun-scrolling-bg" id="how_to_participate">
  <div class="row">
    <div class="large-12 columns sun-home-content">
      <h5>Select how you want to participate in the revolution.</h5>
      <div class="sun-buttons-wrapper">
        <a class="button sun-button-transparent" ng-href="">Create Energy</a>
        <a class="button" ng-href="">Create Wealth</a>
      </div>
    </div>
  </div>
</div>
