<div id="sun_landing_mask" ng-click="hideMenuClick()" ng-class="{'active': isMenuActive}"></div>

<nav class="sun-left-menu" ng-class="{'active': isMenuActive}">
  <ul>
    <li><a style="color:#eee" ng-href="#/home">HOME</a></li>
    <li><a style="color:#eee" ng-href="#/create-energy">CREATE ENERGY</a></li>
    <li><a style="color:#eee" ng-href="#/create-wealth">CREATE WEALTH</a></li>
    <li class="sub-parent"><a style="color:#eee" ng-click="showMenuLearnMore = !showMenuLearnMore">LEARN MORE</a></li>
    <div class="sub-menu" ng-if="showMenuLearnMore">
      <li><a style="color:#eee" ng-href="#/why-solar">Why solar?</a></li>
      <li><a style="color:#eee" ng-href="#/why-us">Why us?</a></li>
      <li><a style="color:#eee" ng-href="#/why-direct-selling">Why direct selling?</a></li>
      <li><a style="color:#eee" ng-href="#/why-you">Why you?</a></li>
    </div>
    <li><a ng-href="#/our-origin">Our Origin</a></li>
    <li><a ng-href="#/our-team">Our Team</a></li>
    <li><a ng-href="#/customer-faq">Customer FAQ</a></li>
    <li><a ng-href="#/advocate-faq">Advocate FAQ</a></li>
  </ul>
</nav>
