/* line 3, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
body {
  font-family: 'Varela Round', sans-serif;
}

/* line 8, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.edit_user input {
  padding: 5px;
  margin: 7px;
  margin-left: 0px;
}

/* line 13, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#user_avatar {
  font-family: "Varela Round", sans-serif;
  opacity: 0;
  display: block;
  margin: auto;
  float: none;
  max-width: 100px;
  clear: both;
  outline: none;
}

/* line 24, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#submit-photo {
  outline: none;
}

/* line 28, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#avatar-container input[type=submit],
.data_content section .content input[type=submit] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  font-size: 13.33333px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  display: block;
  width: 100%;
  vertical-align: baseline;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  clear: both;
  margin: auto;
  margin-top: 8px;
  float: none;
  clear: none;
  height: 50px;
  background: #20c2f1;
  border: 1px solid #16bff0;
  color: white;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

/* line 66, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content input[type=submit] {
  float: left;
}

/* line 71, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.user_field {
  position: relative;
  display: block;
  margin: 0;
}

/* line 76, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.summary {
  width: 216px;
  padding: 32px;
  float: left;
  min-height: 300px;
}

/* line 82, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content {
  width: 900px;
  padding: 32px;
  height: auto;
  border-left: 1px solid #ccc;
  float: left;
}

/* line 89, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content > section {
  background: #fff;
  border: 1px solid #ccc;
}

/* line 93, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .header {
  width: inherit;
  height: 35px;
  background: #333;
  color: #eee;
  text-transform: capitalize;
  text-align: left;
  padding: 5px 0px 5px 30px;
  line-height: 36px;
  font-size: 18px;
}

/* line 104, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .sub_header {
  text-align: left;
  color: #000;
  font-size: 16px;
}

/* line 110, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content {
  color: #ccc;
  text-align: left;
  padding: 5px 30px 5px 30px;
  text-align: left;
  height: auto;
}

/*  .data_content section .content::after{
     padding-top: 6.25%;  percentage of containing block _width_
      display: block;
      content: '';
}*/
/* line 122, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content label {
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  float: left;
  display: block;
  margin: 7px;
  top: 5px;
  text-align: left;
  width: auto;
  position: absolute;
  left: 0px;
}

/* line 137, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content input,
.data_content section .content textarea {
  padding-top: 18px;
  padding-left: 6px;
  border-radius: 0px;
  height: 50px;
  float: left;
  display: block;
  font-size: 16px;
  color: #333;
}

/* line 149, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content textarea {
  padding: 30px 5px 5px 5px;
  font-family: Muli, sans-serif;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.07843);
  resize: none;
  outline: none;
  width: 837px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  min-height: 200px;
}

/* line 161, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content textarea:focus,
.data_content section .content input:focus {
  background: #d6d6d6;
  border: #b3b3b3;
}

/* line 166, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content .form_element {
  display: block;
  position: relative;
  width: 410px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}

/* line 174, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content .form_element.full {
  width: 100%;
}

/* line 177, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content .form_element.half {
  width: 48.62%;
}

/* line 180, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content .form_element.quarter {
  width: 23.4%;
}

/* line 183, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.data_content section .content .form_element.end {
  margin-right: 0px;
}

/* line 189, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#avatar-container {
  text-align: center;
}

/* line 194, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#avatar-container img {
  width: 150px;
  display: block;
  margin: auto;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 200pt;
}

/* line 204, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#avatar-container input {
  border: 1px solid #ddd;
  float: left;
}

/* line 209, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#upload-avatar-submit {
  width: 100px;
  height: 32px;
  padding: 0px;
}

/* line 217, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#submit-contact {
  style: none;
}

/* line 222, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.section_content {
  overflow: inherit;
}

/* line 227, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
.section_content label {
  margin: 0;
  padding: 0;
}

/* line 232, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#sidebar {
  width: 250px;
  display: block;
  float: left;
}

/* line 238, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
#user_remove_avatar {
  width: 75px;
}

/* line 241, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
section {
  overflow: hidden;
}

/* line 244, /Users/rickhou/Desktop/codebase/sunstand/app/assets/stylesheets/profile.css.scss */
h3 {
  font-size: 12pt;
  text-transform: uppercase;
  float: left;
}
