<div id="sun_landing_mask" ng-click="internalControl.hide()" ng-class="{'active': internalControl.isActive}"></div>

<nav class="pow-left-menu" ng-class="{'active': internalControl.isActive}">
  <div class="close-menu-mobile">
    <a ng-click="hideMenuClick()"><i class="fa fa-5x fa-times"></i></a>
  </div>
  <ul>
    <div class="first-menu">
      <li><a ng-href="/home" ng-class="{'active': isMenuLinkActive('/home')}"><i class="fa fa-home" ng-class="{'active': isMenuLinkActive('/home')}"></i>HOME</a></li>
    </div>

    <div class="second-menu">
      <ul>
        <li><a ng-href="/customer-faq" ng-class="{'active': isMenuLinkActive('/customer-faq')}">Customer FAQ</a></li>
        <li><a ng-href="/advocate-faq" ng-class="{'active': isMenuLinkActive('/advocate-faq')}">Advocate FAQ</a></li>
      </ul>
    </div>
  </ul>
</nav>
