<section id="index_banner" class="js-sign_in">

	<div id="signup_banner_content" class="banner_content signup">

		<form id="customer_signup" class="signup_form two">
			<span class="form_row">
				<label for="invite_code">Invite Code</label>
				<input id="invite_code" name="invite_code" type="text" placeholder="Invite code" required/>
			</span>
			<span class="form_row">
				[inject user info here upon invite code entry]
				<br/>
				<br/>
			</span>
			<span class="form_row">
				<label for="create_password">Password</label>
				<input id="create_password" name="create_password" type="text" placeholder="Create password" required/>
			</span>

			<a href="/dashboard/?first_run=true" class="button">Create account</a>
		</form>

	</div>
	<span id="banner_graphic_br"></span>

</section>