<section class="landing">

	<h2>Become a Solar Advocate</h2>

	<form>

		<input id="cust_name" name="cust_name" type="email" placeholder="Your name" required autofocus/>
		<input id="cust_name" name="cust_name" type="email" placeholder="Your name" required autofocus/>

		<a href="/dashboard" class="button">Sign up!</a>
	</form>
	
</section>