<section id="promoter_banner" class="landing_banner">
	<div id="banner_graphic_br"></div>

	<div id="promoter_banner_content" class="banner_content">
		<form class="cta">
			<span class="form_row">
				<input id="invite_code" name="invite_code" type="text" placeholder="Enter your invite code" required/>
				<a class="button js-show_signup_form" onclick="showSignupForm()">Go</a>
			</span>
		</form>
		Or...
		<br/>
		<a class="button request" onclick="showRequestForm()">Request an invite</a>

	</div>

	<form id="customer_signup" class="signup_form js-signup_form">

		<h3>Create your account</h3>

		<span class="form_row">
			<label for="first_name">First Name</label>
			<input id="first_name" name="first_name" type="text" placeholder="First Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="last_name">Last Name</label>
			<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="email">Email</label>
			<input id="email" name="email" type="text" placeholder="Email" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="phone">Phone</label>
			<input id="phone" name="phone" type="text" placeholder="Phone" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="zip_code">Zip Code</label>
			<input id="zip_code" name="zip_code" type="text" placeholder="Zip Code" class="validate" required/>
		</span>
		
		<span class="form_row last">
			<label for="create_password">Password</label>
			<input id="create_password" name="create_password" type="text" placeholder="Create password" required/>
		</span>

		<span class="form_row checkbox">
			<input id="tos" name="tos" type="checkbox" class="checkbox" required/>
			<label for="tos" class="checkbox">I agree to the <a href="#">Terms of Service</a></label>
		</span>

		<a href="/dashboard?first_run=true" class="button">Submit</a>

	</form>

	<form id="request_invite" class="signup_form js-request_form">

		<h3>Request an invite</h3>

		<span class="form_row">
			<label for="first_name">First Name</label>
			<input id="first_name" name="first_name" type="text" placeholder="First Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="last_name">Last Name</label>
			<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="email">Email</label>
			<input id="email" name="email" type="text" placeholder="Email" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="phone">Phone</label>
			<input id="phone" name="phone" type="text" placeholder="Phone" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="zip_code">Zip Code</label>
			<input id="zip_code" name="zip_code" type="text" placeholder="Zip Code" class="validate" required/>
		</span>

		<a href="/dashboard?first_run=true" class="button">Submit</a>

	</form>

</section>