<section id="user_content" class="reset_password">

	<h3>Enter your invite code</h3>

	<div id="promoter_banner_content" class="banner_content">
		<form class="cta">
			<span class="form_row">
				<input id="invite_code" name="invite_code" type="text" placeholder="Enter your invite code" required/>
				<a href="/promoter/request" class="secondary_button request">Request an invite</a>

				<a href="/promoter/create" class="button js-show_signup_form">Go</a>
			</span>
		</form>
	</div>

</section>