<section>

	<h1>Become a promoter</h1>

	<p>(this is where promoter acquisistion occurs)</p<>

	<form>
		<label for="cust_name">Email Address</label>
		<input id="cust_name" name="cust_name" type="email" placeholder="Your name" required autofocus/>

		<a href="/dashboard" class="button">Sign up!</a>
	</form>
	
</section>