<section id="user_content" class="reset_password">

	<form id="request_invite" class="signup_form js-request_form">

		<h3>Request an invite</h3>

		<span class="form_row">
			<label for="first_name">First Name</label>
			<input id="first_name" name="first_name" type="text" placeholder="First Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="last_name">Last Name</label>
			<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="email">Email</label>
			<input id="email" name="email" type="text" placeholder="Email" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="phone">Phone</label>
			<input id="phone" name="phone" type="text" placeholder="Phone" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="zip_code">Zip Code</label>
			<input id="zip_code" name="zip_code" type="text" placeholder="Zip Code" class="validate" required/>
		</span>
		<a href="/promoter" class="secondary_button">Have a code already?</a>
		<a href="/promoter/thanks" class="button">Submit</a>

	</form>

</section>