<div class="join" layout="column" layout-fill>
  <div class="bg2 parent-height" layout="row" layout-align="end center">
    <div class="bg-img"></div>
    <div flex>
      <div flex layout="column" layout-align="end center">
        <div class="box" flex>
          <video width="100%" loop autoplay class="intro" flex>
            <source src="https://s3.amazonaws.com/walker-tracker/static/bg.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

        <form ng-submit="join.acceptGridInviteSubmit()" name="acceptGridInviteForm" novalidate>
          <!-- PREVENT CHROME AUTOFILL -->
          <input style="display:none">
          <input type="password" style="display:none">
          <div layout="column" class="autoScroll">
          <!-- !!! -->
          <md-content layout="column" flex="1">
            <div layout="row" layout-sm="column">
              <md-input-container flex-gt-sm="25" flex>
                <div class="border"></div>
                <label>First Name</label>
                <input ng-model="join.acceptGridInvite.field('first_name').value" type="text">
                <div ng-messages="join.acceptGridInvite.field('first_name').$error" ng-if="join.acceptGridInvite.field('first_name').$error" class="messages">
                  <div>First Name is required</div>
                </div>
              </md-input-container>
              <md-input-container flex-gt-sm="25" flex>
                <div class="border"></div>
                <label>Last Name</label>
                <input ng-model="join.acceptGridInvite.field('last_name').value" type="text">
                <div ng-messages="join.acceptGridInvite.field('last_name').$error" ng-if="join.acceptGridInvite.field('last_name').$error" class="messages">
                  <div>Last Name is required</div>
                </div>
              </md-input-container>
              <md-input-container flex-gt-sm="50">
                <div class="border"></div>
                <label>Password</label>
                <input ng-model="join.acceptGridInvite.field('password').value" type="password">
                <div ng-show="join.acceptGridInvite.field('password').$error" class="input-message">
                  <div>Password is a required</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
              <md-input-container flex-gt-sm="50">
                <div class="border"></div>
                <label>Address</label>
                <input ng-model="join.acceptGridInvite.field('address').value" type="text">
              </md-input-container>
              <md-input-container flex-gt-sm="35">
                <div class="border"></div>
                <label>City</label>
                <input ng-model="join.city" type="text">
              </md-input-container>
              <md-input-container flex-gt-sm="15">
                <div class="border"></div>
                <label>State</label>
                <input ng-model="join.acceptGridInvite.field('state').value" type="text">
              </md-input-container>
            </div>
            <div layout="column" layout-align="center center">
              <md-button ng-disabled="join.acceptGridInvite.submitting" class="md-raised">enter <b>the powur grid</b></md-button>
            </div>
            <div class="terms" layout="column" layout-align="center center">
              <div>By clicking on this button, you also accept the <a href="javascript:void(0);" ng-click="join.openTerms($event)">terms & conditions</a></div>
            </div>
          </md-content>
        </form>

      </div>
    </div>
  </div>
</div>
