<div class="join" layout="column" layout-fill>
  <div class="bg solar parent-height" layout="row" layout-align="end center">
    <div class="bg-img solar"></div>
    <div layout-fill>
      <div flex layout="column" layout-align="end center">
        <div class="box">
          <div class="intro" flex>
            <iframe src="https://player.vimeo.com/video/142663379?autoplay=1" width="100%" height="100%" frameborder="0" ></iframe>
          </div>
        </div>
        <div class="invalid messages key-box" layout-padding ng-hide="join.customer.properties">
          You only had 24 hours to accept this invite. It's now expired, please get back to the person who invited you to get another.
        </div>
        <div class="key-box" layout-padding ng-show="join.customer.properties">
          <div class="who">
            <div class="greeting">Hello, </div>
            <div class="full-name" >{{ join.customer.properties.first_name }} <b>{{ join.customer.properties.last_name }}</b></div>
            <div class="detail">Jonathan Budd invited you here because there is a smarter way to get electricity.</div>
          </div>
          <div class="key">
          <label>Enter your <b>zipcode</b> to continue...</label>
            <form name="zipForm">
              <div layout="row">
                  <input name="zip"
                       type="text"
                       ng-model="join.validateZipAction.field('zip').value">

                <button ng-click="join.validateZip()">Continue</button>
              </div>
            </form>
          </div>
          <div ng-messages="join.validateZipAction.field('zip').$error" >
            <div ng-message="message" class="messages capitalize">{{ join.validateZipAction.field('zip').$error.message }}</div>
          </div>
        </div>
        <!-- <div class="trailer" layout="row">
          <a href="javascript:void(0);" ng-click="join.openTrailer($event, '142662280')"><div class="video"></div></a>
          <div class="info">want to know more? <a id="open_trailer" href="javascript:void(0);" ng-click="join.openTrailer($event, '142662280')"><b>watch our trailer</b></a>.</div>
        </div> -->
      </div>
      <div class="footer show-for-medium-up" layout="row" layout-align="center center" flex="10">
        <a href="/" class="home-link"><div class="logo"></div></a>
      </div>
    </div>
  </div>
</div>
