<div class="join step1" flex layout="column" layout-align="start center">
    <div class="bg-img g1"></div>
    <div class="trailer-box" ng-if="join.videoAssets.properties.join_grid_step1_youtube_embed_url">
      <div class="intro" flex>
        <iframe src="{{ join.trustedUrl(join.videoAssets.properties.join_grid_step1_youtube_embed_url) }}" width="100%" height="100%" frameborder="0" ></iframe>
      </div>
    </div>
    <div class="invalid messages key-box" layout-padding ng-hide="join.invite.properties">
      Invite not found
    </div>
    <div class="key-box" layout-padding ng-show="join.invite.properties">
      <div class="who">
        <div class="greeting">Hello,</div>
        <div class="full-name">{{ join.invite.properties.first_name }} <b>{{join.invite.properties.last_name}}</b></div>
      </div>
      <div class="key">
        <label>Enter your <b>grid key</b></label>
        <form ng-submit="join.validateGridInviteSubmit()" name="validateGridInviteForm" novalidate>
          <div layout="row">
            <input name="code" type="text" ng-model="join.gridKey">
            <button type="submit" class="grid" ng-disabled="join.validateGridInvite.submitting" autofocus>Continue</button>
          </div>
          <div ng-show="join.gridKeyMissing" class="messages">
            Please input your Grid Key
          </div>
        </form>
      </div>
    </div>
    <a href="/"><div class="footer"></div></a>
</div>
