<div class="join" layout="column" layout-fill>
    <div class="bg2 parent-height" layout="row" layout-align="end center">
        <div class="bg-img solar"></div>
        <div flex>
            <div flex layout="column" layout-align="end center">
                <div class="box" flex>
                    <video width="100%" loop autoplay class="intro" flex>
                      <source src="https://s3.amazonaws.com/walker-tracker/static/bg.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
                </div>
                <form ng-submit="join.submitLead()" name="submitForm" novalidate>
                    <md-content layout="column" flex="1">
                        <div layout="row" layout-sm="column">
                            <md-input-container flex-gt-sm="25" flex>
                                <div class="border"></div>
                                <label id="first-name">First Name</label>
                                <input name="first_name" ng-model="join.leadAction.field('first_name').value" type="text" required="">
                                <div ng-messages="submitForm.first_name.$error">
                                    <div ng-message="required">First Name is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex-gt-sm="25" flex>
                                <div class="border"></div>
                                <label>Last Name</label>
                                <input name="last_name" ng-model="join.leadAction.field('last_name').value" type="text" required="">
                                <div ng-messages="submitForm.last_name.$error">
                                    <div ng-message="required">Last Name is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex-gt-sm="25">
                                <div class="border"></div>
                                <label>Email</label>
                                <input name="email" ng-model="join.leadAction.field('email').value" type="email" ng-pattern="/^.+@.+\..+$/" autocomplete="off">
                            </md-input-container>
                            <md-input-container flex-gt-sm="25">
                                <div class="border"></div>
                                <label>Phone</label>
                                <input name="phone" ng-model="join.leadAction.field('phone').value">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-sm="column">
                            <md-input-container flex-gt-sm="25">
                                <div class="border"></div>
                                <label>Average Bill</label>
                                <input name="average_bill" ng-model="join.leadAction.field('average_bill').value" type="text">
                            </md-input-container>
                            <md-input-container flex-gt-sm="25">
                                <div class="border"></div>
                                <label>Address</label>
                                <input name="address" ng-model="join.leadAction.field('address').value" type="text">
                            </md-input-container>
                            <md-input-container flex-gt-sm="20">
                                <div class="border"></div>
                                <label>City</label>
                                <input name="city" ng-model="join.leadAction.field('city').value" type="text">
                            </md-input-container>
                            <md-input-container flex-gt-sm="15">
                                <div class="border"></div>
                                <label>State</label>
                                <input name="state" ng-model="join.leadAction.field('state').value" type="text">
                            </md-input-container>
                            <md-input-container flex-gt-sm="15">
                                <div class="border"></div>
                                <label>Zip</label>
                                <input name="zip" ng-model="join.leadAction.field('zip').value" type="text">
                            </md-input-container>
                        </div>
                        <div layout="column" layout-align="center center">
                            <md-button class="md-raised">join <b>the solar revolution</b></md-button>
                        </div>
                        <div class="terms" layout="column" layout-align="center center">
                            <div>By clicking on this button, you also accept the <a href="javascript:void(0);" ng-click="join.openTerms($event)">terms & conditions</a></div>
                        </div>
                    </md-content>
                </form>
            </div>
        </div>
    </div>
</div>