<div class="join" layout="column">
    <div class="bg solar" layout="column" layout-align="center center">
        <div flex layout="column" layout-align="space-around center" layout-padding>
            <div class="key-box">
                <div class="who">
                    <div class="greeting">Hello,</div>
                    <div class="full-name">{{ join.customer.properties.first_name }}</div>
                    <div class="detail">We know that you have no defense against the rising energy prices.<br>On the cusp of imminent global energy crisis, how do you take powur back?</div>
                </div>
                <div class="key">
                <label>Please enter your <b>zipcode</b></label>
                    <form name="zipForm">
                        <div layout="row">
                                <input name="zip"
                                       type="text"
                                       ng-model="join.zip.value"
                                       pattern="^[0-9]{5}$"
                                       oninvalid="setCustomValidity('Please enter a 5-digit ZIP Code')"
                                       onchange="try{setCustomValidity('')}catch(e){}">

                            <button ng-click="join.validateZip()">Continue</button>
                        </div>
                    </form>
                </div>
                <pre>{{ join.zip | json }}</pre>
                <div ng-show="join.zip.$error" class="messages">
                    <div>You're zipcode is outside the servicable area.</div>
                </div>
            </div>
            <div class="trailer" layout="row">
                <a href="https://youtube.com/"><img class="video" src="/assets/img/join/video.png" alt="Video"/></a>
                <div class="info">want to know more? <a href="https://youtube.com/"><b>watch our trailer</b></a>.</div>
            </div>
        </div>
        <div class="footer show-for-medium-up" layout="row" layout-align="center center" flex="10">
          <div class="logo"></div>
        </div>
    </div>
</div>
