<div class="join" layout="column" layout-fill>
  <div class="bg2 grid parent-height" layout="row" layout-align="end center">
    <div class="bg-img"></div>
    <div layout-fill>
      <div flex layout="column" layout-align="end center">
        <div class="box smaller">
            <div class="intro" flex>
            <iframe src="https://player.vimeo.com/video/142689080?autoplay=1" width="100%" height="100%" frameborder="0" ></iframe>
            </div>
        </div>
        <form ng-submit="join.acceptSubmit()" name="acceptGridInviteForm" novalidate>
          <!-- PREVENT CHROME AUTOFILL -->
          <input style="display:none">
          <input type="password" style="display:none">
          <div layout="column" class="autoScroll" style="margin-top:-30px;">
          <!-- !!! -->
          <md-content layout="column" flex="1">
            <div layout="row" layout-sm="column">
              <md-input-container flex-gt-sm="50" flex>
                <div class="border long"></div>
                <label>First Name</label>
                <input ng-model="join.acceptAction.field('first_name').value" type="text">
                <div ng-messages="join.acceptAction.field('first_name').$error" class="messages">
                  <div ng-message="message">{{ join.acceptAction.field('first_name').$error.message }}</div>
                </div>
              </md-input-container>
              <md-input-container flex-gt-sm="50" flex>
                <div class="border"></div>
                <label>Last Name</label>
                <input ng-model="join.acceptAction.field('last_name').value" type="text">
                <div ng-messages="join.acceptAction.field('last_name').$error" class="messages">
                  <div ng-message="message">{{ join.acceptAction.field('last_name').$error.message }}</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
              <md-input-container flex-gt-sm="50">
                <div class="border long"></div>
                <label>Email</label>
                <input ng-model="join.acceptAction.field('email').value"  type="text" autocomplete="off" autocapitalize="off">
                <div ng-messages="join.acceptAction.field('email').$error">
                  <div ng-message="message">{{ join.acceptAction.field('email').$error.message }}</div>
                </div>
              </md-input-container>
               <md-input-container flex-gt-sm="50">
                <div class="border"></div>
                <label>Phone</label>
                <input ng-model="join.acceptAction.field('phone').value" type="text">
                <div ng-messages="join.acceptAction.field('phone').$error" class="input-message">
                  <div ng-message="message">{{ join.acceptAction.field('phone').$error.message }}</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
              <md-input-container flex-gt-sm="25">
                <div class="border"></div>
                <label>State/Province</label>
                <input ng-model="join.acceptAction.field('state').value" type="text">
                <div ng-messages="join.acceptAction.field('state').$error" class="input-message">
                  <div ng-message="required">required</div>
                  <div ng-message="message">{{ join.acceptAction.field('state').$error.message }}</div>
                </div>
              </md-input-container>
              <md-input-container flex-gt-sm="25">
                <div class="border"></div>
                <label>Postal Code</label>
                <input ng-model="join.acceptAction.field('zip').value" type="text">
                <div ng-messages="join.acceptAction.field('zip').$error" class="input-message">
                  <div ng-message="required">required</div>
                  <div ng-message="message">{{ join.acceptAction.field('zip').$error.message }}</div>
                </div>
              </md-input-container>
              <md-input-container flex-gt-sm="50">
                <div class="border"></div>
                <label>Password</label>
                <input ng-model="join.acceptAction.field('password').value" type="password">
                <div ng-messages="join.acceptAction.field('password').$error" class="input-message">
                  <div ng-message="message">{{ join.acceptAction.field('password').$error.message }}</div>
                </div>
              </md-input-container>
            </div>
            <div layout="column" layout-align="center center">
              <md-button ng-disabled="join.acceptAction.submitting" class="md-raised">enter <b>the powur grid</b></md-button>
            </div>
            <div class="terms" layout="column" layout-align="center center">
              <div>By clicking on this button, you also accept the <a href="javascript:void(0);" ng-click="join.openTerms($event)">terms & conditions</a></div>
            </div>
          </md-content>
        </form>
      </div>
    </div>
  </div>
</div>
