<div class="row">
  <div class="large-3 medium-4 small-12 columns last right">
    <select ng-model="index.data.selectedFilter" ng-options="payPeriodFilter.value as payPeriodFilter.title for payPeriodFilter in payPeriodFilters" ng-change="pagination()" class="filter">
    </select>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Start Date <powur-sorter control="index" field="start_date"></powur-sorter></th>
      <th>End Date <powur-sorter control="index" field="end_date"></powur-sorter></th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>
        <a ng-href="/admin/pay-periods/{{ item.properties.id }}">{{ item.properties.id }}</a>
      </td>
      <td>{{ item.properties.type }}</td>
      <td>{{ item.properties.start_date }}</td>
      <td>{{ item.properties.end_date }}</td>
      <td>{{ item.properties.status }}</td>
    </tr>
  </tbody>
</table>
