  <h2 class="left">{{payPeriod.type}} <span class="sub-title">({{ payPeriod.start_date | dateSuffix}} - {{ payPeriod.end_date | dateSuffix}})</span></h2>

<button ng-repeat="action in buttonActions" class="right capitalize space-left" ng-click="executeAction(action)">{{ action.name }}</button>
<button ng-if="payPeriod.status === 'queued'" class="right capitalize space-left inactive">Queued</button>
<div class="clearfix"></div>
<h5 ng-if="payPeriod.distribution">Distribution Batch ID: {{ payPeriod.distribution }}</h5>
<br ng-if="payPeriod.distribution">

<h5>Pay Period Totals</h5>
{{index.data.properties.bonus_totals}}
<table class="index-table">
  <thead>
    <tr>
      <th width="85%">Type</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in payPeriod.bonus_totals">
      <td width="85%">{{ item.type }}</td>
      <td>{{ item.amount | currency }}</td>
    </tr>
  </tbody>
  <tfoot class="sum-row">
    <tr>
      <td>TOTAL</td>
      <td>{{payPeriod.total_bonus | currency}}</td>
    </tr>
  </tfoot>
</table>

<br>

<h5>Pay Period Users</h5>
<table class="index-table">
  <thead>
    <tr>
      <th width="10%">ID</th>
      <th width="45%">Name</th>
      <th width="15%">Pay As Rank</th>
      <th width="15%">Override Rank</th>
      <th>Bonus Total</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>{{ item.properties.id }}</td>
      <td><a ng-href="admin/pay-periods/{{payPeriod.id}}/users/{{item.properties.id}}/bonuses">{{ item.properties.full_name }}</a></td>
      <td>{{ item.properties.pay_as_rank }}</td>
      <td>{{ item.properties.force_rank }}</td>
      <td>{{ item.properties.bonus_total | currency }}</td>
    </tr>
  </tbody>
</table>

<ng-include src="'shared/admin/pagination.html'"></ng-include>
