<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Personal Lifetime Sales</th>
      <th>Team Lifetime Sales</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>{{ item.properties.id }}</td>
      <td><a ng-href="admin/pay-periods/{{payPeriod.id}}/users/{{item.properties.id}}/bonuses">{{ item.properties.full_name }}</a></td>
      <td>{{ item.properties.personal_lifetime }}</td>
      <td>{{ item.properties.team_lifetime }}</td>
    </tr>
  </tbody>
</table>
