<div id="{{this.properties.id}}_thumbnail" alt="{{this.properties.id}}" class="team_thumbnail js-team_thumbnail js-thumbnail_parent hover-team secondary">
  <div class="js-thumbnail">
        {{#if this.properties.profile_image}}
    <img class="advocate_avatar" src="{{this.properties.profile_image}}" data="{{this.properties.profile_image}}">
        {{else}}
        <img class="advocate_avatar" src="/temp_dev_images/Tim.jpg" data="/temp_dev_images/Tim.jpg">
        <img class="link_icon" src="http://uxrepo.com/static/icon-sets/font-awesome/svg/link.svg">
        {{/if}}
    <span class="name-span">{{this.properties.first_name}} {{this.properties.last_name}}</span>
    <span class="subtext">
      <span>Rank: {{this.properties.level}}, Team: {{this.properties.downline_count}}</span>
        </span>
    <span class="expand">
      {{!-- <i class="fa fa-angle-down"></i> --}}
    </span>
  </div>
<div class="js-tabs">
  {{#compare this.properties.downline_count 0 operator=">"}}
    <div class="team_tab" id="js-team_tab">TEAM</div>
    <div class="team_tab" id="js-impact_tab">KPI</div>
    <div class="team_tab" id="js-info_tab">INFO</div>
  {{else}}
    <div class="team_tab" id="js-impact_tab" style="width:110px">KPI</div>
    <div class="team_tab" id="js-info_tab" style="width:110px">INFO</div>
  {{/compare}}
</div>  