<div id="{{this.properties.id}}_thumbnail" alt="{{this.properties.id}}" class="quote_thumbnail js-quote_thumbnail js-thumbnail_parent">
	<div class="js-thumbnail">
  <div class="arrow"></div>
      <div class="quote_requirements">

        {{#contains_in_array this.properties.data_status "email"}}
          <span class="checked"><i class="fa fa-envelope"></i></span>
        {{else}}
          <span><i class="fa fa-envelope"></i></span>
        {{/contains_in_array}}

        {{#contains_in_array this.properties.data_status "utility"}}
          <span class="checked"><i class="fa fa-bolt"></i></span>
        {{else}}
          <span><i class="fa fa-bolt"></i></span>
        {{/contains_in_array}}

        {{#contains_in_array this.properties.data_status "address"}}
          <span class="checked"><i class="fa fa-home"></i></span>
        {{else}}
          <span><i class="fa fa-home"></i></span>
        {{/contains_in_array}}

        {{#contains_in_array this.properties.data_status "phone"}}
          <span class="checked"><i class="fa fa-phone"></i></span>
        {{else}}
          <span><i class="fa fa-phone"></i></span>
        {{/contains_in_array}}

      </div>

      <span class="quote_name">{{this.properties.customer}}</span>
      {{#if this.entities}}
      <span class="quote_status subtext" style="text-transform:uppercase; font-size:11px;">Status: {{this.entities.[0].properties.status}}</span>
      {{else}}
      <span class="quote_status subtext" style="text-transform:capitalize; font-size:11px;">Pending</span>
      {{/if}}
    	<span class="expand">
    		<i class="fa fa-angle-down"></i>
    	</span>
	</div>
</div>

