<div id="{{this.properties.id}}_thumbnail" alt="{{this.properties.id}}" class="team_thumbnail js-team_thumbnail js-thumbnail_parent">
	<div class="js-thumbnail">
        {{#if this.properties.profile_image}}
		<img class="advocate_avatar" src="{{this.properties.profile_image}}">
        {{else}}
        <img class="advocate_avatar" src="/temp_dev_images/Tim.jpg">
        {{/if}}
		<span>{{this.properties.first_name}} {{this.properties.last_name}}</span>
		<span class="subtext">
			<span>Rank: {{this.properties.level}}, Team: {{this.properties.downline_count}}</span>
<!-- 			<span class="badge">{{total_new_promoters}} New</span>
 -->		</span>
		<span class="expand">
			<i class="fa fa-angle-down"></i>
		</span>
	</div>
</div>
