
<div id="{{this.properties.id}}_thumbnail" alt="{{this.properties.id}}" class="team_thumbnail js-team_thumbnail js-thumbnail_parent hover-team">
	<div class="js-thumbnail ">
        {{#if this.properties.profile_image}}
		<img class="advocate_avatar" src="{{this.properties.profile_image}}">
        {{else}}
        <img class="advocate_avatar" src="/temp_dev_images/Tim.jpg">
        {{/if}}
		<span class="name-span">{{this.properties.first_name}} {{this.properties.last_name}}</span>
		<span class="subtext">
			<span>Rank: {{this.properties.level}}, Team: {{this.properties.downline_count}}</span>
        </span>
		<span class="expand">
			{{!-- <i class="fa fa-angle-down"></i> --}}
		</span>
  </div>
<div class="js-tabs">
  {{#compare this.properties.downline_count 0 operator=">"}}
    <div class="team_tab" id="js-team_tab">TEAM</div>
    <div class="team_tab" id="js-impact_tab">KPI</div>
    <div class="team_tab" id="js-info_tab">INFO</div>
  {{else}}
    <div class="team_tab" id="js-impact_tab" style="width:110px">KPI</div>
    <div class="team_tab" id="js-info_tab" style="width:110px">INFO</div>
  {{/compare}}
</div>  
    {{#each this.actions}}
      {{#compare this "place" operator="=="}}
        {{#compare this.properties.moved "true" operator="!="}}
          {{#compare ../../../this.properties.level "2" operator="<="}}
          <i class="js-link_user fa fa-link"></i>
          {{/compare}}
        {{/compare}}
    {{!-- <a><span class="js-link_user" style="font-size:0.7em">ASSIGN</span></a> --}}
      {{/compare}}
    {{/each}}
</div>

<style type="text/css">
  .team_thumbnail {
    cursor:default;
  }

  .js-tabs {
    position:absolute;
    bottom:-50px;
    left:12px;
  }

  .team_tab {
    width:70px;
    height:50px;
    display:inline-block;
    font-size:0.8em;
    color:#eee;
    padding-top:3px;
    cursor:pointer;
    transition: background-color 0.4s ease;
    /*opacity:0.9;*/
  }

  #js-team_tab {
    background-color:#214754;
  }

  #js-impact_tab {
    background-color:#326C7F;
  }

  #js-info_tab {
    background-color:#4BA1BF;
  }

  .team_tab:hover {
    background-color:#333 !important;

  }

  .active_tab {
    background-color:#444;
  }

  .js-link_user {
    background-color: transparent;
    position:absolute;
    cursor:pointer;
    top:15px;
    right:15px;
    color:#139FD4;
  }

  .js-link_user:hover {
    font-size:1.1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

</style>

<script type="text/javascript">
$(".hover-team").on("mouseenter", function(e){
  e.preventDefault(e);
  $(this).find('.team_tab')
  .velocity({
    translateY: "-35px"
  },{
    queue: false }, 200)
})

$(".hover-team").on("mouseleave", function(e){
  e.preventDefault(e);
  $(this).find('.team_tab').not('.active_tab')
  .velocity({
    translateY: "0"
  },{
    queue: false }, 200)
})
</script>