<div class="team_thumbnail">
  <div class="js-thumbnail ">
  </div>
    <div class="js-thumbnail ">
      <div class="avatar" style="background-image:url({{this.profile_image}}) !important"></div>
    </div>
  </div>
</div>
<div class="team_thumbnail">
  <div class="js-thumbnail ">
  </div>
    <div class="js-thumbnail ">
      <span class="info_title">NAME</span>
      <i class="fa fa-user"></i>
      <span class="info_detail">{{format_length this.name 15}}</span>
    </div>
  </div>
</div>
<div class="team_thumbnail">
  <div class="js-thumbnail ">
  </div>
    <div class="js-thumbnail ">
      <span class="info_title">PHONE</span>
      <i class="fa fa-phone"></i>
      <span class="info_detail" style="margin-top:21px">{{this.phone}}</span>
    </div>
  </div>
</div>
<div class="team_thumbnail">
  <div class="js-thumbnail ">
  </div>
    <div class="js-thumbnail ">
      <span class="info_title">EMAIL</span>
      <i class="fa fa-envelope"></i>
       <a href="mailto:{{this.email}}?Subject=Attention Sunstand Advocate!" target="_top"><span class="info_detail" style="margin-top:25px">{{format_length this.email 15}}</span></a>
    </div>
  </div>
</div>