<div class="contributor" style="display:none" id="{{this.properties.first_name}}">
  <div class="info-box">
    <div id="avatar1" class="avatar" style="background-image:url({{this.properties.avatar}})"></div>
    <div class="info-text">
      <a id="hover1"><span class="contributor-name">{{format_fullname_length this.properties.first_name this.properties.last_name 20}}</span></a>
      <span class="light-text">{{this.properties.orders}} Quotes, {{this.properties.orders}} Orders</span>
    </div>
  </div>
</div>