<div id="{{this.properties.id}}_thumbnail" alt="{{this.properties.id}}" class="team_thumbnail js-team_thumbnail js-thumbnail_parent hover-team">
	<div class="js-thumbnail ">
        {{#if this.properties.profile_image}}
		<img class="advocate_avatar" src="{{this.properties.profile_image}}" data="{{this.properties.profile_image}}">
        {{else}}
        <img class="advocate_avatar" src="/temp_dev_images/Tim.jpg" data="/temp_dev_images/Tim.jpg">
        {{/if}}
		<span class="name-span">{{this.properties.first_name}} {{this.properties.last_name}}</span>
		<span class="subtext">
			<span>Rank: {{this.properties.level}}, Team: {{this.properties.downline_count}}</span>
        </span>
		<span class="expand">
			{{!-- <i class="fa fa-angle-down"></i> --}}
		</span>
  </div>
<div class="js-tabs">
  {{#compare this.properties.downline_count 0 operator=">"}}
    {{#compare this.properties.generation 2 operator="<"}}
      <div class="team_tab" id="js-team_tab">TEAM</div>
      <div class="team_tab" id="js-impact_tab">KPI</div>
      <div class="team_tab" id="js-info_tab">INFO</div>
    {{else}}
      <div class="team_tab" id="js-team_tab" style="width:110px">TEAM</div>
      <div class="team_tab" id="js-impact_tab" style="width:110px">KPI</div>
    {{/compare}}
  {{else}}
    {{#compare this.properties.generation 2 operator="<"}}
      <div class="team_tab" id="js-impact_tab" style="width:110px">KPI</div>
      <div class="team_tab" id="js-info_tab" style="width:110px">INFO</div>
    {{else}}
      <div class="team_tab" id="js-impact_tab" style="width:220px">KPI</div>
    {{/compare}}
  {{/compare}}

</div>  
    {{#each this.actions}}
      {{#compare this "place" operator="=="}}
        {{#compare this.properties.moved "true" operator="!="}}
          {{#compare ../../../this.properties.generation 2 operator="<"}}
          <i class="js-link_user fa fa-link"></i>
          {{/compare}}
        {{/compare}}
    {{!-- <a><span class="js-link_user" style="font-size:0.7em">ASSIGN</span></a> --}}
      {{/compare}}
    {{/each}}
</div>

<script type="text/javascript">
$(".hover-team").on("mouseenter", function(e){
  e.preventDefault(e);
  $(this).find('.team_tab')
  .velocity({
    translateY: "-35px"
  },{
    queue: false }, 200)
})

$(".hover-team").on("mouseleave", function(e){
  e.preventDefault(e);
  $(this).find('.team_tab').not('.active_tab')
  .velocity({
    translateY: "0"
  },{
    queue: false }, 200)
})
</script>