<ng-include src="'<%=asset_path("shared/header-signed-in.html") %>'"></ng-include>

<main class="sun-university">

  <div class="row">
    <div class="large-12">
      <h2>Coming soon ...</h2>
    </div>
  </div>

  <ng-include src="'<%=asset_path("shared/footer.html") %>'"></ng-include>
</main>
