<section id="index_banner">

	<div class="banner_content">
		<h1>We're going to put solar panels on 2 million homes by 2025.</h1>
		<h2>And we'll pay you a billion dollars to help us do it.</h2>

		<form id="primary_cta">
			<input id="email" name="cust_zip" type="text" placeholder="Your Email Address" required/> 
			<%= link_to "Get started", "/promoter/signup", :class => "button" %>
		</form>
	</div>
	<div class="scroll_leader">Our vision
	  	<span class="expand">
	  		<i class="fa fa-angle-down"></i>
	  	</span>
	</div>
	<span id="banner_graphic_br"></span>
</section>

<section id="our_mission" class="landing">

	<div id="our_goals">
		<h2>We're giving power back to the people.</h2>
		
		<p>The Sunstand platform is for people who are passionate about making a difference though the direct sales promotion of residential solar energy. We're looking to start a chain reaction by&hellip;</p>

		<span class="goal_text first">
			<span class="goal_icon">
				<i class="fa fa-random"></i>
			</span>
			building the world's largest network of individual, direct sales, solar entrepreneurs&hellip;
		</span>

		<span class="goal_joiner">so we can</span>

		<span class="goal_text second">
			<span class="goal_icon">
				<i class="fa fa-signal"></i>
			</span>
			facilitate the largest transfer of wealth in history through the decentralization of energy production&hellip;
		</span>

		<span class="goal_joiner">letting us</span>

		<span class="goal_text third">
			<span class="goal_icon">
				<i class="fa fa-globe"></i>
			</span>
			reverse climate change by turning millions of American homes clean and carbon-positive&hellip;
		</span>

		<span class="goal_joiner">and</span>

		<span class="goal_text fourth">
			<span class="goal_icon">
				<i class="fa fa-refresh"></i>
			</span>
			create a sustainable, renewable and clean energy solution for all future generations.
		</span>

	</div>

</section>

<section class="image_section landing">

</section>

<section id="sales_process" class="landing">

	<h2>What does a Solar Advocate do?</h2>

</section>

<section id="sales_process" class="landing">	

	<h3>1) Generate Quotes</h3>
	<p>Explain the product: 0%, 0 down, save 30%,etc.<br/>
	Quote requirements: 650 credit, own home, electric bill, etc.</p>
</section>

<section id="sales_process" class="landing">


	<h3>2) Grow Your Team</h3>
	<p>Recruit, gain, refer, collect, manage</p>
</section>

<section id="sales_process" class="landing">


	<h3>3) Maximize Your Impact</h3>
	<p>Rise through the ranks<br/>
	See your impact<br/>
	Go Pro and get advanced tools</p>

	<%= link_to "Get started", "/promoter/signup", :class => "button" %>


</section>


<section class="image_section landing">

</section>
<!-- 

<section id="sub_banner">
	<h2>Want to go solar for your home?</h2>
	<label for="cust_zip">Zip Code</label>
	<input id="cust_zip" name="cust_zip" type="text" placeholder="Your Zip Code" required/> 
	<%= link_to "Find your local advocate", "/customer/signup", :class => "button" %>
</section> -->