<section id="index_banner">

	<h1>A cleaner, brighter world isn't just possible...</h1>
	<h1>It's actually happening.</h1>

	<%= link_to "Get started", "/promoter/signup", :class => "button" %>

</section>

<section class="landing">

	<h2>Start the Business of Doing Good</h2>
	<p>Sunstand is a front-end, direct sales company partnered with Sunrun - the nation's #1 home solar installation company. Our representatives screen qualifying customers for Sunrun, so they can focus on the heavy lifting.</p>
	<h2>Solar Goes Viral</h2>
	<p>Customers qualify for solar installation by meeting three criteria: owning their home, having a credit score over 650, and providing a copy of their latest electric bill showing that they would benefit from solar power. Screening customers isn't a difficult task, but it's one that's hard for a company like Sunrun to scale, which makes it a perfect job for direct selling; individuals talking to other individuals.</p>
	<h2>Simple is Good, and Good is Simple</h2>
	<p>Sunstand is direct marketing at it's easiest. Sign up to be a promoter, find qualifying customers, and recruit people to your team to do the same. That's all there is too it!</p>
	<p> You get a commission for each installation of solar panels that you or your team brings in, plus a residual income from the energy savings of those panels. No gimmicks, no sign-up costs, no flim flam.</p>
	<h2>Be the Change You Want to See, and See the Change You've Made</h2>
	<p>We provide you with powerful tools - both online and mobile - to help you manage your leads, vizualize your sales and grow your team.</p>
</section>