<section id="index_banner">

	<div class="banner_content">
		<h1>We're going to put solar panels on 2 million homes by 2025.</h1>
		<h2>And we'll pay you a billion dollars to help us do it.</h2>

		<form id="primary_cta">
			<input id="email" name="cust_zip" type="text" placeholder="Your Email Address" required/> 
			<%= link_to "Get started", "/promoter/signup", :class => "button" %>
		</form>
	</div>
	<div class="scroll_leader">Our vision
	  	<span class="expand">
	  		<i class="fa fa-angle-down"></i>
	  	</span>
	</div>
	<span id="banner_graphic_br"></span>
</section>

<section id="our_mission" class="landing">

	<div id="our_goals">
		<h2>Direct Selling on a Mission</h2>

		<p>
			<span class="goal_left">We aim to...</span>

			<span class="goal_right">Build the world's largest network of individual solar entrepreneurs</span>
		</p>

		<p>
			<span class="goal_left">so we can...</span>

			<span class="goal_right">Facilitate the largest transfer of wealth in history through the decentralization of energy production</span>
		</p>

		<p>
			<span class="goal_left">while we...</span>

			<span class="goal_right">Reverse climate change by turning millions of American homes carbon-positive</span>
		</p>

		<p>
			<span class="goal_left">and...</span>

			<span class="goal_right">Create a sustainable, renewable and clean energy future for all generations to come.</span>
		</p>

	</div>
</section>

<section id="sub_banner">
	<h2>Want to go solar for your home?</h2>
	<label for="cust_zip">Zip Code</label>
	<input id="cust_zip" name="cust_zip" type="text" placeholder="Your Zip Code" required/> 
	<%= link_to "Find your local advocate", "/customer/signup", :class => "button" %>
</section>