<section id="index_banner">

	<div class="banner_content">
		<h1>We're going to put solar panels on 2 million homes by 2025.</h1>
		<h2>And we'll pay you a billion dollars to help us do it.</h2>

		<form id="primary_cta">
			<input id="email" name="cust_zip" type="text" placeholder="Your Email Address" required/> 
			<%= link_to "Get started", "/promoter/signup", :class => "button" %>
		</form>
	</div>
	<div class="scroll_leader">Our vision
	  	<span class="expand">
	  		<i class="fa fa-angle-down"></i>
	  	</span>
	</div>
	<span id="banner_graphic_br"></span>
</section>

<section id="our_mission" class="landing">

	<div id="our_goals">
		<h2>We're giving power back to the people.</h2>
		
		<p>The Sunstand platform is for people who are passionate about making a difference though the direct sales promotion of residential solar energy. We're looking to start a chain reaction by...</p>

		<span class="goal_text">
			<span class="goal_icon">
				<i class="fa fa-random"></i>
			</span>
			Building the world's largest network of individual, direct sales, solar entrepreneurs...
		</span>

		<span class="goal_joiner">so we can</span>

		<span class="goal_text">
			<span class="goal_icon">
				<i class="fa fa-signal"></i>
			</span>
			Facilitate the largest transfer of wealth in history through the decentralization of energy production...
		</span>

		<span class="goal_joiner">letting us</span>

		<span class="goal_text">
			<span class="goal_icon">
				<i class="fa fa-globe"></i>
			</span>
			Reverse climate change by turning millions of American homes clean and carbon-positive...
		</span>

		<span class="goal_joiner">and</span>

		<span class="goal_text">
			<span class="goal_icon">
				<i class="fa fa-refresh"></i>
			</span>
			Create a sustainable, renewable and clean energy solution for all future generations.
		</span>

	</div>

</section>

<section id="solar_advocate" class="landing">
	<h2>Become a solar advocate today.</h2>
	<p>Because we're dedicated to effecting change, it's always free to get started with the Sunstand platform. If your network is growing fast, you can upgrade to the Pro version for advanced tools, materials and reporting.</p>
</section>


<!-- 

<section id="sub_banner">
	<h2>Want to go solar for your home?</h2>
	<label for="cust_zip">Zip Code</label>
	<input id="cust_zip" name="cust_zip" type="text" placeholder="Your Zip Code" required/> 
	<%= link_to "Find your local advocate", "/customer/signup", :class => "button" %>
</section> -->