<% content_for :javascript_includes do %>
	<%#= javascript_include_tag "kevins_shitty_javascript.js" %>
	<%= javascript_include_tag "index.js" %>
<% end %>
<style>
body#landing header li a{
	background:transparent;
}
.landing_banner{
	background-image:none;
	background-color: #75b5d3;
	height: auto;
}
.landing_banner #banner_graphic_br{
	background-image: url(/images/home/solar_panel_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 110% auto;
	top:0px;
	opacity:.6;
	height:auto;
	transition: background-size 0.2s linear;
}

.landing_banner #banner_graphic_br:hover{
	background-size: 112% auto;
	opacity:.8;	
	transition:all 0.2s linear;

}
.landing_banner h1{
	font-size:30px;
	line-height: 35px;
}


#our_mission{
	background-image:none;
	background-color: #75b5d3;
	border:0px;
	z-index:30;
	margin-top:-3%;
}
#first_image{
	background-image:url(/images/home/field_bg.jpg);
	background-position: top center;
	background-size: cover;
	padding-bottom:40%;
	border:0px;
	transition: all 0.2s linear;
	background-repeat:no-repeat;
	background-attachment: scroll;}


#sales_process{
	background-color: #f0f0ef;
	height:800px;
	background-image:none;
}
#doing_good{
	height:100vh;
	background-image:url(/images/home/beach_bg.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.invite_code.js-code,
.invite_code.js-code:focus{
	border:3px solid #fff;
	height:59px;
	transition:all 0.3s linear;

}
.cta .button{
	background-color:#fff;
	color:#333;
	border:3px solid #fff;
}
.cta .button:hover{
	background-color:#fff;
	color:#333;
	border:3px solid #fff;
}

.process_image{
	width:400px;
}
.process_image:hover{
	width:450px;
	transition:all .2s linear;
}

h1.section_header{
	border:0;
	font-size:45px;
	letter-spacing: 3px;
}

footer{
	background:#404241;
}
.play_video{
	border-radius:5px; 
	border:3px solid white; 
	width:100px; 
	height:auto; background:rgba(0,0,0,.1); 
	text-align:center; 
	margin:auto;padding:10px;
	font-size:24px;
	margin-top:30px;
	cursor:pointer;
}
.circle_1{
	background:url("/images/home/process/4.png");
	background-size: 400px auto;
	background-position: center center;
	transition:all 0.15s linear;
	border:2px solid #fff;

}

.circle_1:hover{
	background-size: 450px auto;
	background-position: center center;
	transition:all 0.15s linear;
}

.play_video:hover{
	height:auto; background:rgba(0,0,0,.3); 
	transition:all 0.3s linear;
}

</style>
<section id="index_banner" class="landing_banner">
	<div id="banner_graphic_br"></div>

	<div id="index_banner_content" class="banner_content">
		<h1>We're putting solar panels on 2 million homes by 2025.</h1>
		<h1>And we'll pay you $1,000,000,000 to help us do it.</h1>

		<form class="cta js-cta_form">
			<span class="form_row">
				<label for="code">Enter Your Invite Code</label>
				<input class="invite_code js-code" name="code" type="text" required/>
			</span>
			<button class="button js-show_signup_form">Go</button>

		</form>


		<h1 class="section_header" style="padding-top:22%;">The Story of SunStand...</h1>
		<div style="width:720px; margin:auto;">
			<p style="font-size:18px;">We have an epic vision. It involves you, a clean energy future for all generations, leading the next great energy boom, and entrepreneurship at it's finest.  This is the story of SunStand... and the role you play.</p>
			<div class="play_video">Play</div>
		</div>

	</div>

</section>


<section id="first_image" class="image_section landing">

	<div style="width:465px; height:200px; margin:auto; margin-top:20%;">
		<div style="height:5px; width:185px; background:#fff; float:left; margin-top:15px;"></div>		
		<div style="height:auto; padding:5px; width:85px;  float:left; color:#fff; font-size:32px">OUR</div>
		<div style="height:5px; width:185px; background:#fff; float:left; margin-top:15px;"></div>
		<div style="width:100%;clear:both; color:#fff;margin:auto;	letter-spacing:3px; font-size:150px;padding-top:60px;">
			GOAL
		</div>		
		<div style="height:5px; width:100%; background:#fff; float:left; margin-top:65px;"></div>		
	</div>

	<div style="width:1300px; margin:auto; margin-top:100px;">
		<p style="font-size:28px; color:#fff; line-height:70px;">To Eliminate 36,000,000,000 pounds of CO2 Emissions Per year by 2005<br>(the equivalent of not burning 20 billion pounds of coal per year)
		</p>
	</div>

</section>


<section id="sales_process" class="landing">	
	<h1 class="section_header" style="font-size:50px; margin-top:-50px;">HOW</h1>
	<div style="width:1150px; margin:auto; margin-top:75px;">
		<div class="circle_1" style="width:400px; height:400px; border-radius:400px; margin:auto; overflow:hidden;">
		</div>
	</div>

</section>


<section id="doing_good" class="landing">
	<h1 class="section_header" style="padding-top:12%; color:#fff;">What's in it for you</h1>

	<div style="width:1150px; margin:auto;">
		<p style="font-size:18px; color:#fff;margin-bottom:0px;">We shift the power, literally and metaphorically from the old guard fossil fuel industry into the hands of clean energy entrepreneurs just like you.  By distributing solar through our peer-to-peer model, you reap the financial rewards of the next great energy boom, NOT the oil or coal industry.</p>
	</div>
	<div style="width:1150px; padding:20px; margin:auto;font-size:18px; letter-spacing:4px; color:#fff;">. . . . . . . . . . . . . . . . .</div>
	<div style="width:1150px; margin:auto;">
		<p style="font-size:18px; color:#fff;">You could build a life changing part time or full time income from the palm of your hand with sunstand.  This is one of the largest wealth trends you’ll see in your lifetime, as over $120 billion per year is still up for grabs.  It's a simple business powered by sunstand's technology, with $0 up front costs and no risk.  Not to mention, you can feel good every single day knowing your actions will have impact on future generations for centuries to come.
		</p>
	</div>


	<form class="cta js-cta_form">
		<span class="form_row">
			<label for="code">Enter Your Invite Code</label>
			<input class="invite_code js-code" name="code" type="text" required/>
		</span>
		<button class="button js-show_signup_form">Go</button>

	</form>
</section>

<Script>
	$(document).ready(function(){
		//$(".landing_banner #banner_graphic_br").animate({"opacity":.55}, 500);
	});
</script>

