<% content_for :javascript_includes do %>
	<%#= javascript_include_tag "kevins_shitty_javascript.js" %>
	<%#= javascript_include_tag "index.js" %>
<% end %>
<style>

@media (max-width: 640px){
		body#landing header li a{
		background-color: #75b5d3;
	}

	#index_banner{
		background-image: url(/images/home/solar_panel_bg.jpg);
		background-repeat:no-repeat;
		background-color: #75b5d3;
		clear: both;
		text-align: center;
		background-size: cover;
		opacity:.8;
		padding-bottom:5%;		
	}
	#index_banner h1{
		font-size:24px;
		line-height: 34px;
	}

	#index_banner_content{
		margin-top:32%;}

	.cta.js-cta_form{
		width:300px;
		position: relative;
		overflow:hidden;
	}
	.invite_code.js-code,
	.invite_code.js-code:focus{
		width:250px;
		display: block;
		float:left;
		border:3px solid #fff;
		height:59px;
		transition:all 0.3s linear;

	}
	.cta{
		margin:auto;
		margin-top:4%;
	}

	.cta.js-cta_form button.button{
		background-color:#fff;
		color:#333;
		display:block;
		position:absolute;
		right:0;
		top:0;
		border:3px solid #fff;
	}
	.cta .button:hover{
		background-color:#fff;
		color:#333;
		border:3px solid #fff;
	}
	h1.section_header{
		border:0;
		font-size:32px;
		margin:auto;
	}	
	#story_of_sunstand{
		padding:1px 0;
		background-color: #90c4db;
		color:#fff;
		margin-top:0%;

	}
	p.large{
		font-size:18px;
		line-height: 34px;
	}
	p.medium{
		font-size:18px;
		line-height: 24px;

	}		
	#first_image{
		background-image:url(/images/home/field_bg.jpg);
		background-color:#dfe1e1;
		background-position: top center;
		background-size: cover;
		border:0px;
		padding-bottom:0px;
		background-repeat:no-repeat;}

		#first_image .goal{
			font-size:100px;}

		#first_image .our{
			padding:0;
			font-size:14px;}
		#first_image .goal_badge{
			width:50%;
			margin:auto; 
			margin-top:10%;
		}	
	footer{
		background:#404241;
	}
	.play_video{
		border-radius:5px; 
		border:3px solid white; 
		width:100px; 
		height:auto; background:rgba(0,0,0,.1); 
		text-align:center; 
		margin:auto;padding:10px;
		font-size:24px;
		margin-top:30px;
		cursor:pointer;
	}
	#sales_process{
		background-color: #dfe1e1;
		background-image:none;
		padding-bottom:3%;
		overflow: hidden;
	}

	#doing_good{
		height:1400px;
		background-image:url(/images/home/beach_bg.jpg);
		background-position: 100% top;
		background-size: cover;
		background-repeat: no-repeat;
	}	

	.circle{
		background:url("/images/home/process/4.png");
		background-size: 300px auto;
		background-position: center center;
		transition:all 0.15s linear;
		border:2px solid #fff;
		width:300px; 
		height:300px; 
		border-radius:400px; 
		margin:auto; 
		overflow:hidden;
	}

	.explanation{
		width:50%;
		padding:20px;
		background-color: #fff;
		margin:auto;
		margin-top:2%;
		position: relative;
	}

	.pointer{
		width:65px;
		height: 54px;
		background:url("/images/home/step_pointer.png");
		background-repeat: no-repeat;
		background-position: top left;
		position:absolute;
		top:-54px;
		left:35%;
	}

	.circle:hover{
		background-size: 450px auto;
		background-position: center center;
		transition:all 0.15s linear;
	}

	.play_video:hover{
		height:auto; background:rgba(0,0,0,.3); 
		transition:all 0.3s linear;
	}
	.step_container{
		height: auto;
	}	
	#whats_in_it_for_you{
		padding-top:40%; 
	}
}

@media (min-width:640px) and (max-width: 1024px){
	body#landing header li a{
		background-color: #75b5d3;
	}

	#index_banner{
		background-image: url(/images/home/solar_panel_bg.jpg);
		background-repeat:no-repeat;
		background-color: #75b5d3;
		clear: both;
		text-align: center;
		background-size: 100% auto;
		opacity:.8;
		padding-bottom:5%;
	}

	#index_banner_content{
		margin-top:12%;}

	.landing_banner h1{
		font-size:24px;
		line-height: 32px;
	}

	.invite_code.js-code,
	.invite_code.js-code:focus{
		border:3px solid #fff;
		height:59px;
		transition:all 0.3s linear;

	}
	.cta{
		margin:auto;
		margin-top:4%;
	}

	.cta .button{
		background-color:#fff;
		color:#333;
		border:3px solid #fff;
	}
	.cta .button:hover{
		background-color:#fff;
		color:#333;
		border:3px solid #fff;
	}
	h1.section_header{
		border:0;
		font-size:35px;
		margin:auto;
	}	
	#story_of_sunstand{
		padding:40px 0;
		background-color: #90c4db;
		color:#fff;

	}
	p.large{
		font-size:24px;
		line-height: 36px;
	}
	p.medium{
		font-size:18px;
		line-height: 24px;

	}	
	#first_image{
		background-image:url(/images/home/field_bg.jpg);
		background-color:#dfe1e1;
		background-position: top center;
		background-size: 100% auto;
		border:0px;
		padding-bottom:0px;
		background-repeat:no-repeat;}

		#first_image .goal{
			font-size:120px;}

		#first_image .our{
			font-size:28px;}
		#first_image .goal_badge{
			width:45%;
			margin:auto; 
			margin-top:10%;
		}	
	footer{
		background:#404241;
	}

	.play_video{
		border-radius:5px; 
		border:3px solid white; 
		width:100px; 
		height:auto; background:rgba(0,0,0,.1); 
		text-align:center; 
		margin:auto;padding:10px;
		font-size:24px;
		margin-top:30px;
		cursor:pointer;
	}
	#sales_process{
		background-color: #dfe1e1;
		background-image:none;
		padding-bottom:3%;
		overflow: hidden;
	}

	#doing_good{
		height:100vh;
		background-image:url(/images/home/beach_bg.jpg);
		background-position: 100% top;
		background-size: cover;
		background-repeat: no-repeat;
	}	

	.circle{
		background:url("/images/home/process/4.png");
		background-size: 400px auto;
		background-position: center center;
		transition:all 0.15s linear;
		border:2px solid #fff;
		width:400px; 
		height:400px; 
		border-radius:400px; 
		margin:auto; 
		overflow:hidden;
	}

	.explanation{
		width:50%;
		padding:20px;
		background-color: #fff;
		margin:auto;
		margin-top:2%;
		position: relative;
	}

	.pointer{
		width:65px;
		height: 54px;
		background:url("/images/home/step_pointer.png");
		background-repeat: no-repeat;
		background-position: top left;
		position:absolute;
		top:-54px;
		left:35%;
	}

	.circle:hover{
		background-size: 450px auto;
		background-position: center center;
		transition:all 0.15s linear;
	}

	.play_video:hover{
		height:auto; background:rgba(0,0,0,.3); 
		transition:all 0.3s linear;
	}
	.step_container{
		height: auto;
	}	
	#whats_in_it_for_you{
		padding-top:24%; 
	}	
}

@media all and (min-width:1024px){
	body#landing header li a{
		background-color: #75b5d3;
	}
	#first_image .goal{
		font-size:150px;
	}

	#index_banner{
		background-image: url(/images/home/solar_panel_bg.jpg);
		background-repeat:no-repeat;
		background-color: #75b5d3;
		clear: both;
		text-align: center;
		background-size: 100% auto;
		opacity:.8;
	}
	#index_banner_content{
		margin-top:19%;}

	.landing_banner h1{
		font-size:30px;
		line-height: 35px;
	}


	#story_of_sunstand{
		padding:40px 0;
		background-color: #90c4db;
		color:#fff;

	}

	#first_image{
		background-image:url(/images/home/field_bg.jpg);
		background-color:#dfe1e1;
		background-position: top center;
		background-size: 100% auto;
		border:0px;
		padding-bottom:0px;
		background-repeat:no-repeat;}
		#first_image .our{
			font-size:30px;
		}
		#first_image .goal_badge{
			width:40%;
			margin:auto; 
			margin-top:22%;
		}	

	#sales_process{
		background-color: #dfe1e1;
		background-image:none;
		padding-bottom:3%;
		overflow: hidden;
	}

	#doing_good{
		height:100vh;
		background-image:url(/images/home/beach_bg.jpg);
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.invite_code.js-code,
	.invite_code.js-code:focus{
		border:3px solid #fff;
		height:59px;
		transition:all 0.3s linear;

	}
	.cta{
		margin:auto;
		margin-top:4%;
	}
	.cta .button{
		background-color:#fff;
		color:#333;
		border:3px solid #fff;
	}
	.cta .button:hover{
		background-color:#fff;
		color:#333;
		border:3px solid #fff;
	}

	h1.section_header{
		border:0;
		font-size:45px;
		margin:auto;
	}

	footer{
		background:#404241;
	}

	.play_video{
		border-radius:5px; 
		border:3px solid white; 
		width:100px; 
		height:auto; background:rgba(0,0,0,.1); 
		text-align:center; 
		margin:auto;padding:10px;
		font-size:24px;
		margin-top:30px;
		cursor:pointer;
	}
	.circle{
		background:url("/images/home/process/4.png");
		background-size: 400px auto;
		background-position: center center;
		transition:all 0.15s linear;
		border:2px solid #fff;
		width:400px; 
		height:400px; 
		border-radius:400px; 
		margin:auto; 
		overflow:hidden;
	}

	.explanation{
		width:50%;
		padding:20px;
		background-color: #fff;
		margin:auto;
		margin-top:2%;
		position: relative;
	}

	.pointer{
		width:65px;
		height: 54px;
		background:url("/images/home/step_pointer.png");
		background-repeat: no-repeat;
		background-position: top left;
		position:absolute;
		top:-54px;
		left:35%;
	}

	.circle:hover{
		background-size: 450px auto;
		background-position: center center;
		transition:all 0.15s linear;
	}

	.play_video:hover{
		height:auto; background:rgba(0,0,0,.3); 
		transition:all 0.3s linear;
	}
	.step_container{
		height: auto;
	}
	p.large{
		font-size:28px;
		line-height: 48px;
	}
	p.medium{
		font-size:18px;
	}
	#whats_in_it_for_you{
		padding-top:24%; 
	}
}

</style>
<section id="index_banner" class="landing_banner">
	<div id="index_banner_content" class="banner_content" >
		<h1>We're putting solar panels on 2 million homes by 2025.</h1>
		<h1>And we'll pay you $1,000,000,000 to help us do it.</h1>

		<form class="cta js-cta_form">
			<span class="form_row">
				<label for="code">Enter Your Invite Code</label>
				<input class="invite_code js-code" name="code" type="text" required/>
			</span>
			<button class="button js-show_signup_form">Go</button>

		</form>

	</div>

</section>

<section id="story_of_sunstand">
	<h1 class="section_header" style="margin-top:1%;">The Story of SunStand...</h1>
		<p class="large" style="padding-top:3%; width:55%; margin:auto;">We have an epic vision. It involves you, a clean energy future for all generations, leading the next great energy boom, and entrepreneurship at it's finest.  This is the story of SunStand... and the role you play.</p>
		<div class="play_video">Play</div>

</section>

<section id="first_image" class="image_section landing">

	<div style="text-align:center;" class="goal_badge">
		<div style="height:5px; width:40%; background:#fff; float:left; margin-top:15px;"></div>		
		<div style="height:auto; width:20%;  float:left; color:#fff;" class="our">OUR</div>
		<div style="height:5px; width:40%; background:#fff; float:left; margin-top:15px;"></div>
		<div style="width:100%;clear:both; color:#fff;margin:auto;	letter-spacing:3px; ;padding-top:10%;" class="goal">GOAL</div>		
		<div style="height:5px; width:100%; background:#fff; float:left; margin-top:13%;"></div>		
	</div>

	<p class="large" style="color:#fff; padding-top:3%;">To Eliminate 36,000,000,000 pounds of CO2 Emissions Per year by 2005 (the equivalent of not burning 20 billion pounds of coal per year)
	</p>

</section>


<section id="sales_process" class="landing">	
	<h1 class="section_header">HOW</h1>
	<div style="width:100%; margin:auto; margin-top:3%;">
		<div class="step_container">
			<div class="circle" >
			</div>
			<div class="explanation">
				<div class="pointer"></div>
				<p class="medium" style="margin:auto auto;">
					Use our technology to make it easy, simple, & fast to refer your networks to go solar for free, reduce their power bills up to 40%, and invite other entrepreneurs to join your team. The bigger your team, the more carbon you reduce, and the greater your wealth.
				</p>				
			</div>
		</div>
	</div>
</section>


<section id="doing_good" class="landing">
	<h1 class="section_header" style="color:#fff;" id="whats_in_it_for_you">What's in it for you</h1>

	<div style="width:85%; margin:auto; padding-top:3%;">
		<p class="medium" style="color:#fff;margin-bottom:0px;">We shift the power, literally and metaphorically from the old guard fossil fuel industry into the hands of clean energy entrepreneurs just like you.  By distributing solar through our peer-to-peer model, you reap the financial rewards of the next great energy boom, NOT the oil or coal industry.</p>
	</div>
	<div style="width:85%; padding:20px; margin:auto;font-size:18px; letter-spacing:4px; color:#fff;">. . . . . . . . . . . . . . . . .</div>
	<div style="width:85%; margin:auto;">
		<p class="medium" style="color:#fff;">You could build a life changing part time or full time income from the palm of your hand with sunstand.  This is one of the largest wealth trends you’ll see in your lifetime, as over $120 billion per year is still up for grabs.  It's a simple business powered by sunstand's technology, with $0 up front costs and no risk.  Not to mention, you can feel good every single day knowing your actions will have impact on future generations for centuries to come.
		</p>
	</div>


	<form class="cta js-cta_form">
		<span class="form_row">
			<label for="code">Enter Your Invite Code</label>
			<input class="invite_code js-code" name="code" type="text" required/>
		</span>
		<button class="button js-show_signup_form">Go</button>

	</form>
</section>

<Script>
	$(document).ready(function(){
		responsiveLogic();

		$(window).resize(function(e){
			e.preventDefault();
			responsiveLogic();
		});

	});

	function responsiveLogic(){
		var max_width=1225;
		var current_width = (($(window).width()+15)>=max_width)? max_width:($(window).width()+15);
		var ratio = ((current_width/max_width)<0.5)? 0.5:(current_width/max_width);
		
		
		if(current_width>=1024){
			$("#index_banner").css("height", ($("#index_banner").width()*0.65)+"px" );
			$("#first_image").css("height", ($("#first_image").width()*0.73)+"px" );
			$("#doing_good").css("height", ($("#doing_good").width()*1.2)+"px" );

			$("p.large").css({
				"font-size":Math.round(28*ratio)+"px",
				"line-height":Math.round(48*ratio)+"px"
			});

			$("p.medium").css("font-size", (18*ratio)+"px");
			$("#first_image .our").css("font-size", Math.round(30*ratio)+"px");
			$("#first_image .goal").css("font-size", Math.round(150*ratio)+"px");

		}

		if(current_width>640 && current_width<1024){
			$("#index_banner").css("height", ($("#index_banner").width()*0.65)+"px" );
			$("#first_image").css("height", ($("#first_image").width()*0.73)+"px" );
			$("#doing_good").css("height", ($("#doing_good").width()*1.6)+"px" );


			$("p.large").css({
				"font-size":((Math.round(28*ratio)>18)?(Math.round(28*ratio)):18)+"px",
				"line-height":Math.round(48*ratio)+"px"
			});
			$("#first_image .our").css("font-size", Math.round(28*ratio)+"px");
			$("#first_image .goal").css("font-size", Math.round(150*ratio)+"px");
		}

		if(current_width<=640){
			$("#index_banner").css("height", "600px" );
			$("#first_image").css("height", "500px" );
			$("#doing_good").css("height", ($("#doing_good").width()*(2.9))+"px" );

			$("#first_image .our").css("font-size", Math.round(28*ratio)+"px");
			$("#first_image .goal").css("font-size", Math.round(130*ratio)+"px");

		}


	}
</script>

