<section id="index_banner">

	<h1>A cleaner, brighter world isn't just possible...</h1>
	<h1>It's actually happening.</h1>

	<%= link_to "Become a Solar Promoter", "/promoter/signup", :class => "button get_started" %>

</section>

<section class="landing">

	<h2>Solar Power is Going Viral</h2>
	
	<p>Home solar power in America is exploding, and for good reason; it's a clean, efficient and now incredibly cheap alternative to coal and nuclear. We've partnered with <a href="http://www.sunrun.com">Sunrun</a> - the nation's #1 home solar installation company - to help them use the incredible power of direct selling and third-party financing to bring solar power into as many homes and communities as we can.</p>


</section>

<section class="landing">

	<h2>Start the Business of Doing Good</h2>

	<p>Home-owners qualify for solar installation by meeting three criteria: 1) owning property that can accomidate solar panels, 2) having a credit score over 650 and 3) providing a copy of their latest electric bill so we can determine if they would benefit from solar power. Screening customers isn't a difficult task, but it's one that's tricky to scale nation-wide. This makes it the perfect job for the person-to-person touch of direct selling.</p>

	<p>Once it's determined that a customer is a good fit, they'll get their panels installed with no money down, no installation and no maintenance fees. Instead of paying the utility company every month, the customer makes payments towards their solar panels, saving between 10-30% each month while doing so.</p>

</section>

<section class="landing">

	<h2>Simple is Good, and Good is Simple</h2>

	<p>Sunstand is direct selling at it's purest. Sign up to be a promoter, use our powerful tools to find qualifying customers, and recruit people to your team to do the same. That's all there is too it!</p>
	<p> You'll get a commission for each installation of solar panels that you or your team brings in, and a residual income from the energy savings of those panels. No gimmicks, no sign-up costs, no flim flam. The more you sell, the more you earn, and the more you make the world a better, brighter place.</p>

	<%= link_to "Become a Solar Promoter", "/promoter/signup", :class => "button get_started" %>

</section>