<section id="index_banner">

	<div class="banner_content">
		<h1>We're going to put solar panels on 2 million homes by 2025.</h1>
		<h2>And we'll pay you a billion dollars to help us do it.</h2>

		<form id="primary_cta">
			<input id="email" name="cust_zip" type="text" placeholder="Your Email Address" required/> 
			<%= link_to "Get started", "/promoter/signup", :class => "button" %>
		</form>
	</div>
	<div class="scroll_leader">Our vision
	  	<span class="expand">
	  		<i class="fa fa-angle-down"></i>
	  	</span>
	</div>
	<span id="banner_graphic_br"></span>
</section>

<section class="landing">

	<h2>Our Mission is Twofold...</h2>

	<p>1) To put solar panels on over 2,000,000 homes by 2025 thereby making one of the most significant contributions possible towards reducing global climate change…</p> 

	<p>2) To create a platform that allows individuals to participate in one of the most meaningful wealth transfers in the history of humanity, the shift from DIRTY to clean energy.</p>

	<p>We envision a world where individuals can choose a career path that is aligned with their deepest values, and deepest aspirations for humanity.  Where you can personally thrive by making an enormous contribution to planet earth helping to create a clean energy future.</p>

	<p>We see the wealth & power that has been controlled by a select group of corporations for the last 150 years, shifting back into the hands of individuals as clean solar energy is shared, person to person to person, through sunstand’s unique network based model.</p>

	<p>Instead of wealth only flowing through dirty energy companies, & them using that wealth to lobby and influence policy at a governmental level towards disastrous consequences… we see the NEW wealth flowing through the individuals hand’s who are responsible for sharing solar energy with their friends, family, co workers, community members, & acquaintances.</p>

	<p>This is quite literally putting the power back into the hands of people, both literally, & figuratively… giving us the ability to decide the future we want for life on this planet, not leaving it by default in the hands of corporations with track records of morose self interest & destruction.</p>

</section>

<section id="sub_banner">
	<h2>Want to go solar for your home?</h2>
	<label for="cust_zip">Zip Code</label>
	<input id="cust_zip" name="cust_zip" type="text" placeholder="Your Zip Code" required/> 
	<%= link_to "Find your local advocate", "/customer/signup", :class => "button" %>
</section>