<section id="index_banner">

	<div class="banner_content">
		<h1>We're putting solar panels on 2 million homes by 2025.</h1>
		<h2>And we'll pay you $1,000,000,000 to help us do it.</h2>

		<form id="primary_cta">
			<input id="email" name="cust_zip" type="text" placeholder="Your Email Address" required/> 
			<%= link_to "Get started", "/promoter/signup", :class => "button" %>
		</form>
	</div>
	<div class="scroll_leader">There's a revolution coming.
	  	<span class="expand">
	  		<i class="fa fa-angle-down"></i>
	  	</span>
	</div>
	<span id="banner_graphic_br"></span>
</section>

<section id="our_mission" class="landing">

	<h2>Our Mission is Twofold</h2>
	
	<p>To put solar panels on over 2,000,000 homes by 2025 thereby making one of the most significant contributions possible towards reducing climate change&hellip;</p>
	<p>&hellip; And to create a platform that allows individuals to participate in one of the most meaningful wealth transfers in the history of humanity, the shift from dirty to clean energy.</p>

</section>

<section id="first_image" class="image_section landing">

		<h2 class="goal_title">
		  	Our Goals
		</h2>

	<div id="goals">

		<div class="goal_text first">
			<div class="number">
				<span>1</span>
			</div>
			<span class="text"><div class="round_icon icon-group2"></div>Build the world's largest network of peer to peer, direct sales solar advocates.
</span>
		</div>

		<div class="goal_text second">
			<div class="number">
				<span>2</span>
			</div>
			<span class="text"><div class="round_icon icon-money2"></div>Facilitate the largest transfer of wealth in history through the decentralization of energy production.</span>
		</div>

		<div class="goal_text third">
			<div class="number">
				<span>3</span>
			</div>
			<span class="text"><div class="round_icon icon-home"></div>Reverse climate change by turning millions of American homes clean and carbon-positive.
</span>
		</div>

		<div class="goal_text fourth">	
			<div class="number">
				<span>4</span>
			</div>
			<span class="text"><div class="round_icon icon-leaf"></div>Create a sustainable, renewable and clean energy solution for all future generations.
</span>
		</div>

	</div>

</section>


<section id="sales_process" class="landing">	

	<h2>The solar revolution is here, and it will be disruptive.</h2>

	<p>Right now, solar represents only a tiny fraction of the $120 billion residential energy market in the United States. However, between rapidly falling production costs, aggressive rebate and financing programs, and increasing concerns over disasters caused by coal and other "dirty" energy companies, solar power in America is exploding. Sunstand is the first direct sales platform 100% focused on this coming solar revolution.</p>

	<div class="dev_img_placeholder">[residential solar increase graph]</div>


	<h2>There's never been a easier time to sell solar.</h2>

	<p>Sunstand has partnered with Sunrun to offer customers a no-brainer deal to get started with solar. $0 down financing, no installation or maintenance fees, and instead of paying the electric company, customers just make the same low payment every month on the panels themselves.</p>

	<span class="deal_points">$0<br/>Down</span>
	<span class="deal_points">$0<br/>Install</span>
	<span class="deal_points">10-30%<br/>Monthly</span>

	<p>As a Sunstand Advocate, you'll 1) connect with homeowners, 2) do a quick screen to make sure they could benefit from solar, and 3) collect some information from their electric bill so Sunrun can get them a quote. When those quotes go to installation, you get a commission. It's an easy task, but one that's hard for a national company like Sunrun to scale using full-time employees. Couple this with the coming solar boom, and you've got an incredible opportunity to participate in the $120 billion dollar annual residential solar market.</p>

	<div id="customer_checklist" class="landing_bar">
		<span class="plain_icon">
			<i class="fa fa-check-square-o"></i>
			Owns their home
		</span>
		<span class="plain_icon">
			<i class="fa fa-check-square-o"></i>
			Benefits from solar
		</span>
		<span class="plain_icon">
			<i class="fa fa-check-square-o"></i>
			Electric usage from bill
		</span>
	</div>

</section>

<section id="second_image" class="image_section landing">

</section>

<section id="growing_business" class="landing">


	<h2>You're growing a business, so don't go it alone.</h2>
	
	<p>The Sunstand platform gives you unprecedented ability to build your own solar sales team.  As you invite advocates to join your organization, you earn commission overrides on all their new customers. The bigger your team, the bigger your earnings, and the bigger your impact on our environment.</p>

	<p>Because we're passionate about changing the world, it will always be free to become a Sunstand Advocate. The more you grow your business, the more rewards and perks you'll see. When the time comes, upgrading to a Pro account gets you access to advanced tools, training, and reporting so you can make an even bigger impact.</p>



</section>

<section id="third_image" class="image_section landing">

</section>

<section id="doing_good" class="landing">

	<h2>It's not just about solar. It's about doing good.</h2>

	<p>While we know that the solar industry is going to provide an incredible opportunity to shift wealth, create jobs, build new companies, and invigorate our economy, we understand that it's more than just a booming market.</p>

	<p>The real opportunity here is in chaning the course of human history.</p>

	<p>Now, that may sound a little grand, but the truth is that our environment needs that change to happen, and it's not going to come from the top - it's going to come from people like you. By decentralizing energy production with clean energy, and shifting the wealth away from oil and coal companies, we're disrupting their ability to influence policy-makers and pollute our environment. This is how we make a difference. This is what it's all about.</p>

	<h2>This is giving power back to the people, literally</strong></h2>

		<form id="secondary_cta">
			<input id="email" name="cust_zip" type="text" placeholder="Your Email Address" required/> 
			<%= link_to "Get started", "/promoter/signup", :class => "button" %>
		</form>
</section>

