<section id="index_banner">

	<h1>Go Solar</h1>
	<h1>Grow Solar</h1>

	<%= link_to "Get started today!", "/promoter/signup", :class => "button" %>

</section>

<section class="landing">

	<img src="http://placehold.it/350x250">

	<p>Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

</section>

<section class="landing right">

	<img src="http://placehold.it/350x150">

	<p>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</section>