<section id="index_banner">

	<h1>We want to put solar panels on 2 million homes by 2025.</h1>
	<h2>And we'll pay you a billion dollars to help us do it.</h2>
	<p>(yep, a billion... with a "b")</p>

	<form id="primary_cta">
		<input id="email" name="cust_zip" type="text" placeholder="Your Email Address" required/> 
		<%= link_to "Get started", "/customer/signup", :class => "button" %>
	</form>
		
</section>

<%= render :partial => "shared/our_goal" %>

<section class="landing">

	<h2>Maybe here's some copy...</h2>

	<p>When you sign up your friends, you'll get a cut of their solar sales as well.</p>

</section>

<section id="sub_banner">
	<h2>Want to go solar for your home?</h2>
	<label for="cust_zip">Zip Code</label>
	<input id="cust_zip" name="cust_zip" type="text" placeholder="Your Zip Code" required/> 
	<%= link_to "Find out more", "/customer/signup", :class => "button" %>
</section>