<section>

<section id="promoter_signup" class="signup">

	<h2>Welcome</h2>

	<form>

		<span class="form_row">
			<label for="invite_code">Invite Code</label>
			<input id="invite_code" name="invite_code" type="text" placeholder="Invite Code" class="validate" required/>		
		</span>		

		<a href="/promoter/signup" class="button">Submit</a>

	</form>
	
</section>
</section>