<section id="index_banner">

	<section id="promoter_banner_content" class="banner_content signup">

		<h1>Welcome</h1>

		<form class="signup_form one">

			<span class="form_row">
				<label for="invite_code">Invite Code</label>
				<input id="invite_code" name="invite_code" type="text" required/>
			</span>

			<span class="form_row actions">
				<a href="/dashboard?first_run=true" class="button submit">Go</a>
			</span>

		</form>
		
	</section>
			<span id="banner_graphic_br"></span>

</section>