<div layout="column" class="landing">
  <div class="header" layout="row">
    <div flex="50" layout="row" layout-fill>
      <div flex="30"></div>
      <div flex layout="column" layout-align="center start" class="logo-wrapper"></div>
    </div>
    <div flex="50"></div>
  </div>
  <div class="bg0" layout="column">
    <div flex="60" layout="column" layout-align="center center" layout-fill>
      <div class="headline">Going Solar has never been easier. See if solar is right for you.</div>
      <div>
        <md-input-container>
          <div class="border"></div>
          <label>YOUR ZIP CODE</label>
          <input name="zip" type="text" ng-model="landing.validateZipAction.field('zip').value">
        </md-input-container>
      </div>
      <div>
        <md-button class="md-raised md-primary" ng-click="landing.checkAvailability()">CHECK AVAILABILITY</md-button>
      </div>
    </div>
  </div>
  <div class="bg1" layout="row">
    <div flex="70" layout="row" layout-fill>
      <div flex="30"></div>
      <div flex layout="column" layout-align="center start">
        <div class="headline">Solar Savings are big.</div>
        <div class="headline">We are making them bigger.</div>
        <div layout="row">
          <ul class="points">
            <li>Lock in your monthly elextricity rate and save up to 20% off existing monthly bill.</li>
            <li>Free home installation with 0 down, 0 monthly payments, and 0 interest.</li>
            <li>100% performance gauranteed. Backed by SolarCity, enjoy peace of mind  that your system is monitored and supported by America's #1 solar provider.</li>
          </ul>
        </div>
      </div>
    </div>
    <div flex="30"></div>
  </div>
  <div class="bg2" layout="row">
    <div flex="50"></div>
    <div flex="50" layout="row" layout-fill>
      <div flex="30"></div>
      <div flex layout="column" layout-align="center start">
        <div class="profile-pic" layout-align="center center" layout="row">
          <img ng-src="{{ landing.rep.properties.avatar.thumb || landing.defaultAvatar }}">
        </div>
        <div class="headline">Meet Lydia,</div>
        <div class="headline">your Personal Solar Advocate</div>
        <p>Suspendisse potenti. Proin at elit id dolor feugiat pellentesque. Sed ullamcorper, urna ac scelerisque commodo, orci odio malesuada lacus, in venenatis ligula mauris in risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec consectetur porttitor sodales. Phasellus tincidunt ipsum nec dolor pellentesque suscipit. Sed tempus orci purus, sed varius magna venenatis sed.<br><br>Vestibulum nec posuere libero. Mauris sed elementum arcu. Donec lacinia dui ut turpis pellentesque gravida.</p>
      <div>
        <md-button class="md-raised md-primary" ng-click="landing.getSavings()">GET YOUR SOLAR SAVINGS</md-button>
      </div>
      </div>
    </div>
  </div>
  <div class="bg3" layout="column" layout-align="center center">
    <div layout="column" layout-align="center center">
      <div class="headline">The powur Promise</div>
      <div class="swash-img-wrapper"></div>
    </div>
    <div layout="row" layout-align="center start" class="promises">
        <div flex="33" layout="column" layout-align="center center">
          <i class="promise promise-best-coverage"></i>
          <div class="title">Best Coverage.</div>
          <div class="msg">Our coverage is the best in the industry, with repairs and a production guarantee at no additional cost. We stand by our work long after we've put the solar panels up on your roof and you’ve turned on the power.</div>
        </div>
        <div flex="33" layout="column" layout-align="center center">
          <i class="promise promise-lowest-rates"></i>
          <div class="title">Lowest Rates.</div>
          <div class="msg">Our team will put together a custom solar quote based on your home’s architecture and energy needs. It will include all of your options and project your energy savings for years to come. We’ll walk you through it and answer any questions you may have.</div>
        </div>
        <div flex="33" layout="column" layout-align="center center">
          <i class="promise promise-better-world"></i>
          <div class="title">A Better World.</div>
          <div class="msg">For every megawatt of solar power SolarCity installs, our GivePower foundation will donate a solar power system and battery to a school without electricity.</div>
        </div>
    </div>
  </div>
  <div class="bg4" layout="column" layout-align="center center">
    <div layout="column" layout-align="center center">
      <div class="headline">Truly Reliable Partnership</div>
      <div class="msg">SolarCity’s revolutionizing the energy industry with the strong support of partners who have funded billions of dollars worth of solar projects with us. They know that clean, more affordable solar power is the bright solution for homeowners, their investors, the environment and the future.</div>
    </div>
    <div class="companies" layout="row" layout-align="space-around end">
      <i class="corp corp-google"></i>
      <i class="corp corp-goldman-sachs"></i>
      <i class="corp corp-honda"></i>
      <i class="corp corp-citibank"></i>
      <i class="corp corp-usbancorp"></i>
    </div>
  </div>
  <div class="bg5" layout="row" layout-align="center end">
    <div flex="20"></div>
    <div flex layout="row" layout-align="center end" layout-fill>
      <div flex="33" class="msg">Find out what you can save</div>
      <div flex>
        <md-input-container>
          <div class="border"></div>
          <label>YOUR ZIP CODE</label>
          <input name="zip" type="text" ng-model="landing.validateZipAction.field('zip').value">
        </md-input-container>
      </div>
      <div flex="33">
        <md-button class="md-raised md-primary" ng-click="landing.validateZip()">LET'S GO</md-button>
      </div>
    </div>
    <div flex="20"></div>
  </div>
</div>
