<div class="object_detail">
	<div class="arrow"></div>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>{{this.info.first_name}} {{this.info.last_name}}</h4>
			<ul>
			{{#each this.quote_status}}
				{{#if this.reason}}
				<li><span class="subtext">{{@key}} on {{this.date}} - {{this.reason}}</span></li>
				{{else}}
					{{#compare @key "Approved" operator="=="}}
						<li><span class="subtext">{{@key}} on {{this}}</span></li>
					{{else}}
						<li><span class="subtext">{{@key}} on {{this}}</span></li>
					{{/compare}}
				{{/if}}
			{{/each}}
			</ul>
			<br><br>
			<a href=""><i class="fa fa-times"></i> Remove Quote</a>
		</div>
		<div class="object_detail_content_section">
			<form id="{{this.info.id}}_lead_contact_form" class="lead_info contact">
				<div class="contact_info">
				<lable>Contact Info</lable><br>
					<span class="subtext">Name</span>
					<input type="text" name="first_name" value="{{this.info.first_name}}">
					<input type="text" name="last_name" value="{{this.info.last_name}}">
					<span class="subtext">Email</span>
					<input type="text" name="email" value="{{this.info.email}}">
					<span class="subtext">Phone</span>
					<input type="text" name="phone" value="{{this.info.phone}}">
				</div>
				<div class="address">
					<br>
					<span class="subtext">Street Address & Unit#</span>
					<input type="text" name="address.street" value="{{this.info.address.street}}">
					<input type="text" name="address.unit" value="{{this.info.address.unit}}">
					<span class="subtext">City</span>
					<input type="text" name="address.city" value="{{this.info.address.city}}">
					<span class="subtext">State & Zip</span>
					<input type="text" name="address.state" value="{{this.info.address.state}}">
					<input type="text" name="address.zip" value="{{this.info.address.zip}}">
				</div>
			</form>
			<form id="{{this.info.id}}_lead_utility_form" class="lead_info utility">
				<div class="utility">
					<lable>Utility Info</lable><br>
					<span class="subtext">Verified Kilowatt-Hour (kWh)</span>
					<input type="text" name="utility.kwh" value="{{this.utility_info.kwh}}">
					{{#if this.utility_info.document}}
						<br><br>
						<span class="subtext">Uploaded Utility Document</span>
						<a href="">{{this.utility_info.document}}</a><br><br>
					{{/if}}
						<span class="button">Request Utility Verification</a>
				</div>
			</form>
		</div>
	</div>
</div>



