	<div class="arrow"></div>
	<div class="drilldown_content">
		<div class="drilldown_content_section summary">
			<img class="advocate_avatar" src="{{this.profile_image}}">
			<br>
			<h4 >{{this.name}}</h4>
			<span class="subtext">Generation {{this.generation}}</span>
			<span class="subtext">{{this.rank}}</span>
			<br>
			<span class="subtext">{{this.phone}}</a></span>	
			<span class="subtext"><a href="mailto:{{email}}">{{this.email}}</a></span>

		</div>
		<div class="drilldown_content_section" style="overflow:hidden;">
			<ul class="tabs">
				<li><a href="">Impact</a></li>
				<li><a href="">Team</a></li>
            </ul>
			<div class="section_content team_info" >
				<div class="pagination_container" data-comment="required for pagination - do not remove">
					<div class="nav left"><i class="fa fa-angle-left"></i></div>
					<div class="pagination_content">
						<br>
						{{this.name}} has not invited anyone yet. Send an encouragment email! 
					</div>
					<div class="nav right"><i class="fa fa-angle-right"></i></div>
				</div>					
			</div>
		</div>
	</div>

