<div class="object_detail" style='display:block;margin-top:0px;border:0;'>
	<div class="arrow"></div>
	<div class="object_detail_content" style="border:0px;">
		<div class="object_detail_content_section summary">
			<img class="advocate_avatar" src="{{this.profile_image}}">
			<br>
			<h4 >{{this.name}}</h4>
			<span class="subtext">Generation {{this.generation}}</span>
			<span class="subtext">{{this.rank}}</span>
			<br>
			<span class="subtext">{{this.phone}}</a></span>	
			<span class="subtext"><a href="mailto:{{email}}">{{this.email}}</a></span>

		</div>
		<div class="object_detail_content_section" style="overflow:hidden;"><!--need to add pagination-->
			<ul class="tabs">
              <li><a href="">Recent Activity</a></li>
              <li class="active"><a href="mailto:{{email}}">{{this.name}}'s' Team</a></li>
              <li><a href="">Metrics</a></li>
            </ul>
			<div class="section_content team_info" >
				<div class="pagination_container" data-comment="required for pagination - do not remove">
					<div class="pagination_container" data-comment="required for pagination - do not remove">
						<div class="nav left"><i class="fa fa-angle-left"></i></div>
						<div class="pagination_content">
							<br>
							{{this.name}} has not invited anyone yet. Send an encouragment email! 
						</div>
						<div class="nav right"><i class="fa fa-angle-right"></i></div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
