<ng-include src="'<%=asset_path("shared/header-signed-in.html") %>'"></ng-include>

<main class="powur-library">

<!-- Header Label/Dropdown Media Type Picker -->
  <div class="row">
    <div class="large-4 medium-4 columns">
      <div class="section_header">
        <div class="section_label">
          <div class="tag"></div>
          <select>
            <option>All</option>
            <option>Videos</option>
            <option>Documents</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Media Items Grid -->
  <div class="row">
    <ul class="large-block-grid-5 small-block-grid-5">
      <li ng-repeat="item in libraryList" ng-class="setClass($index, 'thumbnail')"class="thumbnail" ng-click="drillDown(item)">
        {{ item }}
      </li>
    </ul>
  </div>

</main>

<ng-include src="'<%=asset_path("shared/footer-signed-in.html") %>'"></ng-include>
