<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="pow-earnings">

  <div class="row">
    <div class="large-10 small-12 column">
      <div class="main-header left">
        {{selectedFilter.span}} Pay Periods Summary
      </div>
    </div>
    <div class="large-2 small- 12 column">
        <select ng-model="selectedFilter.span" ng-options="payPeriodFilter.value as payPeriodFilter.title for payPeriodFilter in payPeriodFilters" ng-change="requestEarnings()" class="filter">
        </select>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <table class="index-table">
        <thead>
          <tr>
            <th width="150">ID</th>
            <th width="150">Type</th>
            <th width="150">Start Date <powur-sorter control="index" field="start_date"></powur-sorter></th>
            <th width="150">End Date <powur-sorter control="index" field="end_date"></powur-sorter></th>
            <th width="150"></th>
          </tr>
        </thead>
        <tbody ng-repeat="item in payPeriods">
          <tr>
            <td>{{ item.properties.id }}</td>
            <td>{{ item.properties.type }}</td>
            <td>{{ item.properties.start_date }}</td>
            <td>{{ item.properties.end_date }}</td>
            <td ng-show="payPeriod.id !== item.properties.id"
                class="text-right clickable"
                ng-click="showDetails(item)">
                Details
                <i class="fa fa-angle-down"></i>
            </td>
            <td ng-show="payPeriod.id === item.properties.id"
                class="text-right clickable"
                ng-click="showDetails(item)">
                Details
                <i class="fa fa-angle-up"></i>
            </td>
          </tr>
          <tr class="details-row">
            <td colspan="5" class="td-container">
              <div class="table-wrapper" ng-class="{'expand': payPeriod.id === item.properties.id}" ng-show="payPeriod.id === item.properties.id">
                <div class="sub-header">
                  {{payPeriod.type}} <span class="sub-title">{{payPeriod.date_range}}</span>
                </div>
                <table class="details-table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Bonus Type</th>
                      <th ng-show="payPeriod.type === 'Monthly'">Pay As Rank</th>
                      <th>Lead ID</th>
                      <th>Key Date</th>
                      <th>Customer</th>
                      <th>Owner</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="item in details track by $index">
                    <tr class="sub-total" ng-if="subTotal(item, $index)">
                      <td colspan="7" ng-show="payPeriod.type === 'Monthly'">{{ findTotal($index, 'name')}} Total</td>
                      <td colspan="6" ng-show="payPeriod.type !== 'Monthly'">{{ findTotal($index, 'name')}} Total</td>
                      <td>{{  findTotal($index, 'total') | currency }}</td>
                    </tr>
                    <tr>
                      <td>{{ item.properties.id }}</td>
                      <td>{{ item.properties.bonus }}</td>
                      <td ng-show="payPeriod.type === 'Monthly'">{{ item.properties.pay_as_rank }}</td>
                      <td>{{ item.properties.lead.id }}</td>
                      <td>{{ findKeyDate(item) | date:'MM/dd/yyyy @ h:mma'}}</td>
                      <td>{{ item.properties.lead.first_name }} {{ item.properties.lead.last_name }}</td>
                      <td>{{ item.properties.lead.owner }}</td>
                      <td  width="75">{{ item.properties.amount | currency }}</td>
                    </tr>
                    <tr class="sub-total" ng-if="lastTotal($index)">
                      <td colspan="7" ng-show="payPeriod.type === 'Monthly'">{{item.properties.bonus}} Total</td>
                      <td colspan="6" ng-show="payPeriod.type !== 'Monthly'">{{item.properties.bonus}} Total</td>
                      <td>{{ findTotal($index, 'total') | currency }}</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="grand-total">
                      <td colspan="7" ng-show="payPeriod.type === 'Monthly'">GRAND TOTAL</td>
                      <td colspan="6" ng-show="payPeriod.type !== 'Monthly'">GRAND TOTAL</td>
                      <td width="75">{{ grandTotal | currency }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" ng-if="userProfile.ewallet_auto_login_url">
    <div class="large-12 columns">
      <a href="{{ userProfile.ewallet_auto_login_url }}" target="_blank" class="button">Go to my eWallet</a>
    </div>
  </div>
</main>

<ng-include src="'shared/footer-signed-in.html'"></ng-include>
