<div class="pw-grid solar">
  <md-tabs>
    <md-tab ng-click="grid.showLeads('user-team_leads');">GRID</md-tab>
    <md-tab ng-click="grid.showLeads('user-leads');">PERSONAL</md-tab>
    <md-tab ng-click="grid.showSearch = true">SEARCH</md-tab>
  </md-tabs>
  <form ng-submit="grid.search()" novalidate autocomplete="off">
    <input ng-model="grid.searchQuery" ng-show="grid.showSearch" type="text" class="search" placeholder="SEARCH" pw-focus-on-show>
  </form>

  <md-tabs ng-repeat="f in grid.filters" md-selected="-1">
    <md-tab ng-repeat="val in grid.leads.properties.filters.options[f]" ng-click="grid.filter(f, val);">{{ val | humanizeString }}</md-tab>
  </md-tabs>

  <md-button ng-click="grid.addLead($event)" class="md-secondary">ADD LEAD</md-button>
  <div class="accordion" ng-click="hideInsight = !hideInsight" layout="row" layout-align="space-between-center">
    <span>
      <span class="toggle" ng-class="{'closed': hideInsight }"></span>
      GRID <b>INSIGHT</b>
    </span>
    <span>
      LAST 60 DAYS
    </span>
  </div>

  <div class="insight" layout="row" layout-align="space-around" ng-hide="hideInsight">
    <div layout="column" layout-align="space-around">
      <div class="label">LEADS</div>
      <div class="count">{{ grid.insight.leads }}</div>
    </div>
    <div layout="column" layout-align="space-around">
      <div class="label">QUALIFIED</div>
      <div class="count">{{ grid.insight.proposals }}</div>
    </div>
    <div layout="column" layout-align="space-around">
      <div class="label">CLOSED WON</div>
      <div class="count">{{ grid.insight.closed }}</div>
    </div>
    <div layout="column" layout-align="space-around">
      <div class="label">CONTRACTS</div>
      <div class="count">{{ grid.insight.contracts }}</div>
    </div>
    <div layout="column" layout-align="space-around">
      <div class="label">INSTALLS</div>
      <div class="count">{{ grid.insight.installs }}</div>
    </div>
  </div>

  <div class="accordion" ng-click="hideGeo = !hideGeo" layout="row" layout-align="space-between center">
    <span class="toggle" ng-class="{'closed': hideGeo }"></span>
    <span>GEO <b>SUMMARY</b></span>
    <span>LAST 60 DAYS</span>
  </div>

  <div class="summary geo" ng-hide="hideGeo">
    <div class="header-row" layout="row" layout-align="start center">
      <span class="label left" flex="50">TERRITORY</span>
      <span class="label" flex="25">GRID SIZE</span>
      <span class="label" flex="25">PARTNERS</span>
    </div>
    <div class="grid-row-wrap" ng-repeat="i in [1,2,3,4,5,6]">
      <div class="grid-row" layout="row" layout-align="start center">
        <span class="left" flex="50">CALIFORNIA</span>
        <span class="count" flex="25">4</span>
        <span class="count" flex="25">12</span>
      </div>
      <md-divider></md-divider>
    </div>
    <div class="co2">
      <span></span>
      <span>You have sequestered <b>1,499 TONS</b> of CO<sup>2</sup></span>
    </div>
  </div>

  <div class="accordion" ng-click="hideGrid = !hideGrid" layout="row" layout-align="space-between-center">
    <span>
      <span class="toggle" ng-class="{'closed': hideGrid }"></span>
      GRID <b>SUMMARY</b>
    </span>
    <span>
      LAST 60 DAYS
    </span>
  </div>

  <div class="grid" ng-hide="hideGrid">
    <div class="summary">
      <div ng-if="grid.leads.entities.length" class="header-row" layout="row" layout-align="start center">
        <span class="label left" flex="50">CONTACT INFO</span>
        <span class="label right" flex="50">PROGRESS</span>
      </div>
      <div class="grid-row-wrap" ng-repeat="lead in grid.leads.entities">
        <div class="grid-row" layout="row">
          <div class="left" flex="50" layout="row" layout-align="start center">
          <div class="circle" layout-align="center center" layout="row">
            <span>{{ lead.properties.customer.first_name[0] }}{{ lead.properties.customer.last_name[0] }}</span>
          </div>
          <div class="detail">
            <div class="uppercase text-lg">{{ lead.properties.customer.first_name }} <b>{{ lead.properties.customer.last_name }}</b></div>
            <div class="uppercase text-sm">{{ lead.properties.customer.city }}, {{ lead.properties.customer.state }}</div>
          </div>
          </div>
          <div class="uppercase right" flex="50" layout="column" layout-align="center center">
            <div class="icon"></div>
            <div class="uppercase text-sm">invitation {{ lead.properties.customer.status }}, status {{ lead.properties.data_status }}</div>
          </div>
        </div>
        <md-divider></md-divider>
      </div>
    </div>

    <section ng-if="grid.leads.properties.paging.current_page < grid.leads.properties.paging.page_count">
      <md-button ng-click="grid.loadMore()" class="load-more">Load More</md-button>
    </section>
  </div>

  <section>
    <md-button ng-click="grid.addLead($event)" class="md-secondary">ADD LEAD</md-button>
  </section>
</div>
