<div class="pw-grid solar">
  <div class="accordion" layout="row" layout-align="space-between-center">
    <span class="toggle-wrapper" ng-click="hideProposal = !hideProposal">
      <span class="toggle" ng-class="{'closed': hideProposal }"></span>
      GRID <b>MARKETING</b>
    </span>
  </div>

  <div ng-hide="hideProposal">
    <div class="url-box" layout="column" layout-align="center center" layout-align="space-between-center" ng-if="grid.getSolarPageLink">
      <input value="{{ grid.getSolarPageLink }}" onclick="this.select()" readonly>
    </div>
    <div layout="row" layout-align="center center" class="insight small">
      <div layout="column" layout-align="space-around" flex="20">
        <div class="label">VIEWS</div>
        <div class="count" layout="row" layout-align="center center">
          <i class="material-icons">visibility</i>
          {{ grid.session.properties.solar_landing_views_count || 0 }}
        </div>
      </div>
      <div layout="column" layout-align="space-around" flex="20">
        <div class="label">LEADS</div>
        <div class="count" layout="row" layout-align="center center">
          <i class="material-icons">assignment</i>
          {{ grid.session.properties.solar_landing_leads_count || 0 }}
        </div>
      </div>
    </div>
  </div>
 

  <div class="accordion" layout="row" layout-align="space-between-center">
    <span class="toggle-wrapper" ng-click="hideInsight = !hideInsight">
      <span class="toggle" ng-class="{'closed': hideInsight }"></span>
      GRID <b>SUMMARY</b>
    </span>

    <md-menu md-position-mode="target-right target" md-offset="0 10">
      <div class="chip" layout="row" layout-align="center center">
        <div  ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
          <i class="material-icons">people</i>
          <span ng-hide="grid.summaryFilters['grid']">Team</span>
          <span ng-show="grid.summaryFilters['grid']">Personal</span>
        </div>
        <i class="material-icons close"
           ng-show="grid.summaryFilters['grid']"
           ng-click="grid.filterSummary('grid', 'personal', false);
                     selectedSummary = null">
           close
        </i>
      </div>
      <md-menu-content class="filter-menu" width="4">
        <md-menu-item class="header"><span>SELECT <b>GRID</b></span></md-menu-item>
        <div class="filter-box small">
          <md-radio-group ng-model="selectedSummary">
              <md-radio-button aria-label="team"
                               ng-click="grid.filterSummary('grid', 'personal', false)"
                               ng-value="null">
                               Team Leads
              </md-radio-button>
              <md-radio-button  aria-label="personal"
                                ng-click="grid.filterSummary('grid', 'personal', true)"
                                ng-value="'personal'">
                                Personal Leads
              </md-radio-button>
          </md-radio-group>
        </div>
      </md-menu-content>
    </md-menu>

    <md-menu md-position-mode="target-right target" md-offset="0 10">
      <div class="chip" layout="row" layout-align="center center">
        <div  ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
          <i class="material-icons" ng-click="$mdOpenMenu($event)">date_range</i>
          <span ng-show="grid.summaryFilters['date']">Last {{ grid.summaryFilters['date'].value }} days</span>
          <span ng-hide="grid.summaryFilters['date']">Lifetime</span>
        </div>
        <i class="material-icons close" ng-click="grid.filterSummary('date', 'days', null)" ng-show="grid.summaryFilters['date']">close</i>
      </div>
      <md-menu-content class="filter-menu" width="4">
        <md-menu-item class="header"><span>SELECT <b>DATE RANGE</b></span></md-menu-item>
        <md-menu-item ng-repeat="d in [7, 30, 60]">
          <md-button ng-click="grid.filterSummary('date', 'days', d)" aria-label="{{d}}">
            <div layout="row">
              <p flex>In last {{ d }} days</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>

  <div class="insight" layout="row" layout-align="center center" ng-hide="hideInsight">
    <div layout="column" layout-align="space-around" flex="20">
      <div class="label">LEADS</div>
      <div class="count" layout="row" layout-align="center center">
        <i class="material-icons">assignment</i>
        {{ grid.insight.leads }}
      </div>
    </div>
    <div layout="column" layout-align="space-around" flex="20">
      <div class="label">QUALIFIED</div>
      <div class="count" layout="row" layout-align="center center">
        <i class="material-icons">assignment_turned_in</i>
        {{ grid.insight.proposals }}
      </div>
    </div>
    <div layout="column" layout-align="space-around" flex="20">
      <div class="label">CLOSED WON</div>
      <div class="count" layout="row" layout-align="center center">
        <i class="material-icons">thumb_up</i>
        {{ grid.insight.closed }}
      </div>
    </div>
    <div layout="column" layout-align="space-around" flex="20">
      <div class="label">CONTRACTS</div>
      <div class="count" layout="row" layout-align="center center">
        <i class="material-icons">import_contacts</i>
        {{ grid.insight.contracts }}
      </div>
    </div>
    <div layout="column" layout-align="space-around" flex="20">
      <div class="label">INSTALLS</div>
      <div class="count" layout="row" layout-align="center center">
        <i class="material-icons">home</i>
        {{ grid.insight.installs }}
      </div>
    </div>
  </div>

 <!--  <div class="accordion" layout="row" layout-align="space-between center">
    <span class="toggle-wrapper" ng-click="hideGeo = !hideGeo">
      <span class="toggle" ng-class="{'closed': hideGeo }"></span>
      GRID <b>GEO</b>
    </span>

    <md-menu md-position-mode="target-right target" md-offset="0 10">
      <div ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
        {{ grid.dateFilterLabel }}
        <i class="material-icons" ng-click="$mdOpenMenu($event)">date_range</i>
      </div>
      <md-menu-content class="filter-menu" width="4">
        <md-menu-item class="header"><span>SELECT <b>DATE RANGE</b></span></md-menu-item>
        <md-menu-item ng-repeat="d in [7, 30, 60, 0]">
          <md-button ng-click="grid.filter('days', d)" aria-label="{{d}}">
            <div layout="row">
              <p ng-if="d" flex>In last {{ d }} days</p>
              <p ng-if="!d" flex>Lifetime (all)</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>

  <div class="summary geo" ng-hide="hideGeo">
    <div hide-gt-sm class="header-row" layout="row" layout-align="start center">
      <span class="label left" flex="50">TERRITORY</span>
      <span class="label" flex="25">GRID SIZE</span>
      <span class="label" flex="25">PARTNERS</span>
    </div>
    <div hide-gt-sm ng-repeat="i in [1,2,3,4,5,6]">
      <div class="grid-row" layout="row" layout-align="start center">
        <span class="left" flex="50" layout="row" layout-align="start center">
          <div class="state"></div>
          CALIFORNIA
        </span>
        <span class="count" flex="25">4</span>
        <span class="count" flex="25">12</span>
      </div>
      <md-divider></md-divider>
    </div>
    <div class="co2">
      <span></span>
      <span>You have sequestered <b>1,499 TONS</b> of CO<sup>2</sup></span>
    </div>
  </div> -->

  <div class="accordion" layout="row" layout-align="space-between-center">
    <span class="toggle-wrapper" ng-click="hideGrid = !hideGrid">
      <span class="toggle" ng-class="{'closed': hideGrid }"></span>
      GRID <b>LEADS</b>
    </span>
    <div layout="row" layout-align="center center">
      <div class="chip search" layout="row" layout-align="center center">
      <i class="material-icons"
         ng-class="{ 'active': search }"
         ng-click="search = !search">
         search
      </i>
      <span ng-show="grid.activeFilters['search']" class="lowercase">{{ grid.activeFilters['search'].value }}</span>
      <i class="material-icons close"
         ng-show="grid.activeFilters['search']"
         ng-click="grid.removeFilter('search')">
         close
      </i>
      <form ng-hide="grid.activeFilters['search']"
            ng-submit="grid.filter('search', 'search', grid.searchQuery); search = false" \
            novalidate
            autocomplete="off">
        <input ng-model="grid.searchQuery"
               ng-class="{ 'collapsed': !search }"
               focus-if="search" ng-blur="search = false"
               type="text"
               class="search"
               placeholder="SEARCH"
               autofocus>
      </form>
    </div>
      <md-menu md-position-mode="target-right target" md-offset="0 10">
        <div class="chip" layout="row" layout-align="center center">
          <div  ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
            <i class="material-icons">people</i>
            <span ng-hide="grid.activeFilters['grid']">Team</span>
            <span ng-show="grid.activeFilters['grid']">Personal</span>
          </div>
          <i class="material-icons close"
             ng-show="grid.activeFilters['grid']"
             ng-click="grid.removeFilter('grid'); selected = null">
             close
          </i>
        </div>
        <md-menu-content class="filter-menu" width="4">
          <md-menu-item class="header"><span>SELECT <b>GRID</b></span></md-menu-item>
          <div class="filter-box small">
            <md-radio-group ng-model="selected">
                <md-radio-button aria-label="team"
                                 ng-click="grid.filter('grid', null, 'user-team_leads')"
                                 ng-value="null">
                                 Team Leads
                </md-radio-button>
                <md-radio-button  aria-label="personal"
                                  ng-click="grid.filter('grid', 'personal_leads', 'user-leads')"
                                  ng-value="'personal'">
                                  Personal Leads
                </md-radio-button>
            </md-radio-group>
          </div>
        </md-menu-content>
      </md-menu>

      <md-menu md-position-mode="target-right target" md-offset="0 10">
        <div class="chip" layout="row" layout-align="center center">
          <div  ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
            <i class="material-icons">filter_list</i>
            <span ng-hide="grid.activeFilters['status']">All Phases</span>
            <span ng-show="grid.activeFilters['status']">{{ grid.activeFilters['status'].value | humanizeString }}</span>
          </div>
          <i class="material-icons close"
             ng-show="grid.activeFilters['status']"
             ng-click="grid.removeFilter('status');">
             close
          </i>
        </div>
        <md-menu-content class="filter-menu rigid" width="5">
          <md-menu-item class="header"><span>LEAD PHASE <b>FILTER</b></span></md-menu-item>
          <div class="filter-header" layout="row">
            <div ng-class="{ 'active': grid.phaseFilter === 'pending' }"
                 ng-click="grid.phaseFilter = 'pending'; grid.tabBar($event)"
                 md-prevent-menu-close="md-prevent-menu-close"
                 flex="50"
                 class="tab">PENDING</div>
            <div ng-class="{ 'active': grid.phaseFilter === 'submitted' }"
                 ng-click="grid.phaseFilter = 'submitted'; grid.tabBar($event)"
                 md-prevent-menu-close="md-prevent-menu-close"
                 flex="50"
                 class="tab">SUBMITTED</div>
            <md-ink-bar class="md-secondary"
                        style="left:{{ grid.barLeft }}px;right:{{ grid.barRight }}px"
                        ng-class="{ 'md-right': grid.barLeft < grid.barRight,
                                    'md-left': grid.barLeft >= grid.barRight || !grid.barLeft }">
            </md-ink-bar>
          </div>
          <div class="filter-box">
            <md-radio-group ng-model="grid.radio">
              <div ng-show="grid.phaseFilter === 'pending'" layout="column" layout-align="center start">
                <md-radio-button ng-click="grid.filter('status', 'submitted_status', 'not_submitted')"
                                 ng-value="'pending'"
                                 aria-label="not_submitted" >
                                 All
                </md-radio-button>
                <md-radio-button ng-click="grid.filter('status', 'data_status', val)"
                                 ng-repeat="val in grid.leads.properties.filters.options['data_status']"
                                 ng-value="val"
                                 aria-label="{{ val }}" >
                                 {{ val | humanizeString }}
                </md-radio-button>
              </div>
              <div ng-show="grid.phaseFilter === 'submitted'"
                   layout="row"
                   layout-align="start center"
                   class="flex-wrap">
                <md-radio-button ng-click="grid.filter('status', 'submitted_status', 'submitted')"
                                 ng-value="'submitted'"
                                 aria-label="submitted"
                                 class="short">
                                 All
                </md-radio-button>
                <md-radio-button ng-click="grid.filter('status', 'sales_status', val)"
                                 ng-repeat="val in grid.leads.properties.filters.options['sales_status']"
                                 ng-value="val"
                                 aria-label="{{ val }}"
                                 class="short" >
                                 {{ grid.prepareFilterName(val) | humanizeString }}
                </md-radio-button>
              </div>
            </md-radio-group>
          </div>
        </md-menu-content>
      </md-menu>

      <md-menu md-position-mode="target-right target" md-offset="0 10">
        <div class="chip" layout="row" layout-align="center center">
          <div  ng-click="$mdOpenMenu($event)" layout="row" layout-align="center center">
            <i class="material-icons" ng-click="$mdOpenMenu($event)">date_range</i>
            <span ng-hide="grid.activeFilters['date']">Lifetime</span>
            <span ng-show="grid.activeFilters['date']">Last {{ grid.activeFilters['date'].value }} Days</span>
          </div>
          <i class="material-icons close"
             ng-click="grid.removeFilter('date');"
             ng-show="grid.activeFilters['date']">
             close
          </i>
        </div>
        <md-menu-content class="filter-menu" width="4">
          <md-menu-item class="header"><span>SELECT <b>DATE RANGE</b></span></md-menu-item>
          <md-menu-item ng-repeat="d in [7, 30, 60]">
            <md-button ng-click="grid.filter('date', 'days', d)" aria-label="{{d}}">
              <div layout="row">
                <p flex>In last {{ d }} days</p>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>

  <div class="grid" ng-hide="hideGrid" layout="column" layout-align="center center">
    <div class="summary" layout="column">
      <div class="grid-row new" layout="row">
        <div flex="50" flex-gt-md="25"
             layout="row"
             layout-align="start center"
             ng-click="grid.addLead($event)">
          <md-button class="md-fab md-primary" layout-align="center center" layout="row">
            <i class="material-icons">add</i>
          </md-button>
          <div class="detail">
            <div class="uppercase text-xl">CREATE A <b>LEAD</b></div>
          </div>
        </div>
      </div>

      <div ng-if="grid.leads.entities.length" class="header-row" layout="row" layout-align="center center">
        <span class="label left" flex="50" flex-gt-sm="25">CONTACT INFO</span>
        <span class="label left" flex="50" flex-gt-sm="25">STATUS</span>
        <span class="label left" hide show-gt-sm flex="25">LEAD OWNER</span>
        <span class="label left" hide show-gt-sm flex="25">POWUR MOVE</span>
      </div>
      <div class="grid-row-wrap" ng-repeat="lead in grid.leads.entities">
        <div class="grid-row" layout="row" ng-click="grid.showLead($event, lead)">
          <!-- COLUMN #contact -->
          <div class="left" flex="50" flex-gt-md="25"  layout="row" layout-align="start center">
            <div class="circle {{ grid.leadStatus(lead) }}" layout-align="center center" layout="row">
               <i class="material-icons {{ grid.leadStatus(lead) }}">{{ grid.iconStatus(lead) }}</i>
            </div>
            <div class="detail">
              <div class="uppercase text-lg">
                {{ lead.properties.first_name }}
                <b>{{ lead.properties.last_name }}</b>
              </div>
              <div class="uppercase text-sm"> {{ lead.properties.email }}</div>
              <div class="uppercase text-sm"> {{ lead.properties.phone | formatPhoneNumber }}</div>
            </div>
          </div>
          <!-- COLUMN #status -->
          <div ng-if="!lead.properties.submitted_at"
               class="uppercase right"
               flex="50" flex-gt-md="25"
               layout="row"
               layout-align="start center">
            <div class="uppercase text-sm move">
              Invitation {{ grid.leadStatus(lead) | humanizeString }}
            </div>
          </div>
          <div ng-if="lead.properties.stage > 4 && lead.properties.submitted_at"
               class="uppercase right"
               flex="50" flex-gt-md="25"
               layout="row"
               layout-align="start center">
            <div class="uppercase text-sm move">
              Lead {{ grid.stage[lead.properties.stage] | humanizeString }}
            </div>
          </div>
          <div ng-if="lead.properties.data_status === 'submitted' && lead.properties.stage < 5"
               class="uppercase right"
               flex="50"
               flex-gt-md="25"
               layout="column"
               layout-align="center start">
            <div layout="row" layout-align="space-between" class="progress-bar">
              <div class="bar"></div>
              <div class="bar overlay" style="width:{{ lead.properties.stage * 20 }}%">
                <div class="animated stage-{{ lead.properties.stage }}"></div>
              </div>
              <div layout="column" layout-align="center center" flex="20">
                <div class="node-wrap">
                  <div class="node"></div>
                  <div class="highlight stage-0" ng-class="{ 'active': lead.properties.stage  >= 0 }"></div>
                </div>
              </div>
              <div layout="column" layout-align="center center" flex="20">
                <div class="node-wrap">
                  <div class="node"></div>
                  <div class="highlight stage-1" ng-class="{ 'active': lead.properties.stage  >= 1 }"></div>
                </div>
              </div>
              <div layout="column" layout-align="center center" flex="20">
                <div class="node-wrap">
                  <div class="node"></div>
                  <div class="highlight stage-2" ng-class="{ 'active': lead.properties.stage  >= 2 }"></div>
                </div>
              </div>
              <div layout="column" layout-align="center center" flex="20">
                <div class="node-wrap">
                  <div class="node"></div>
                  <div class="highlight stage-3" ng-class="{ 'active': lead.properties.stage  >= 3 }"></div>
                </div>
              </div>
              <div layout="column" layout-align="center center" flex="20">
                <div class="node-wrap">
                  <div class="node"></div>
                  <div class="highlight stage-4" ng-class="{ 'active': lead.properties.stage  >= 4 }"></div>
                </div>
              </div>
            </div>
            <div class="uppercase text-sm progress-detail">{{ grid.prepareFilterName(grid.stage[lead.properties.stage]) }}</div>
          </div>
          <!-- COLUMN #owner -->
          <div class="left"
               flex="50" flex-gt-md="25"
               hide show-gt-sm
               layout="row"
               layout-align="start center">
            <div class="circle" layout-align="center center" layout="row">
              <img ng-src="{{ lead.properties.owner.avatar.thumb || grid.defaultAvatar }}">
            </div>
            <div class="detail">
              <div class="uppercase text-lg">{{ lead.properties.owner.first_name }} <b>{{ lead.properties.owner.last_name }}</b></div>
              <div class="uppercase text-sm">{{ lead.properties.owner.email }}</div>
              <div class="text-sm">{{ lead.properties.owner.phone | formatPhoneNumber }}</div>
            </div>
          </div>
          <!-- COLUMN #move -->
          <div class="left"
               flex="50" flex-gt-md="25"
               hide show-gt-sm
               layout="row"
               layout-align="start center">
            <span class="text-sm move">{{ lead.properties.action_copy }}</span>
          </div>
        </div>
        <md-divider hide show-gt-sm></md-divider>
      </div>
    </div>
    <div ng-show="!grid.leads.entities.length && !grid.reloading" layout-padding><i>No Results Found</i></div>

    <ul class="pagination" ng-hide="grid.pageCount < 2">
      <li 
        class="jump" 
        ng-class="{ 'disabled': grid.currentPage === 1 }" 
        ng-click="grid.changePage(1)"
        ng-disabled="grid.reloading">
        FIRST
      </li>
      <li 
        class="chevron" 
        ng-class="{ 'disabled': grid.currentPage === 1 }" 
        ng-click="grid.changePage(grid.currentPage - 1)"
        ng-disabled="grid.reloading">
        <i class="material-icons">chevron_left</i>
      </li>
      <li 
        ng-repeat="i in grid.pageList track by $index" 
        md-ink-ripple="#20c2f1" 
        ng-class="{ 'active': i === grid.currentPage }"
        ng-click="grid.changePage(i)"
        ng-hide="!i"
        ng-disabled="grid.reloading">
        {{ i }}
      </li>
      <li 
        class="chevron" 
        ng-class="{ 'disabled': grid.currentPage === grid.pageCount }" 
        ng-click="grid.changePage(grid.currentPage + 1)">
        <i class="material-icons"
        ng-disabled="grid.reloading">chevron_right</i>
      </li>
      <li 
        class="jump" 
        ng-class="{ 'disabled': grid.currentPage === grid.pageCount ||
                                grid.pageCount < 10 }" 
        ng-click="grid.changePage(grid.pageCount)"
        ng-disabled="grid.reloading">
        LAST
      </li>
    </ul> 

  </div>
</div>
