<md-dialog aria-label="Lead" class="pw-dialog">
  <form ng-show="!dialog.isEligible" layout="row" ng-submit="dialog.verifyEligibility()" novalidate autocomplete="off">
    <div class="side-bg"></div>
    <div layout="column" flex>
      <div layout="row" layout-align="end start"><a href="javascript:void(0);" class="close" ng-click="dialog.cancel()"><i class="sprite sprite-close"></i></a></div>
      <md-dialog-content layout="column">
        <div class="heading padded"><div class="title">verify<b> eligibility</b></div></div>
        <md-content layout="row">
          <md-input-container flex="60">
            <label>homeowner zipcode</label>
            <input ng-model="dialog.verifyEligibilityAction.field('zip').value" autocomplete="off" md-autofocus>
            <div ng-messages="dialog.verifyEligibilityAction.field('zip').$error" ng-show="dialog.verifyEligibilityAction.field('zip').$error" class="messages">
              <div ng-message="message">{{ dialog.verifyEligibilityAction.field('zip').$error.message }}</div>
            </div>
          </md-input-container>
        </md-content>

        <div class="actions">
          <md-button type="submit" ng-disabled="dialog.verifyEligibilityAction.submitting" class="md-primary md-raised">Verify</md-button>
        </div>
      </md-dialog-content>
    </div>
  </form>

  <form ng-show="dialog.isEligible && !dialog.lead" ng-submit="dialog.create()" layout="row" novalidate autocomplete="off">
    <div class="side-bg"></div>
    <div layout="column" flex>
      <div layout="row" layout-align="end start"><a href="javascript:void(0);" class="close" ng-click="dialog.cancel()"><i class="sprite sprite-close"></i></a></div>
      <md-dialog-content layout="column">
        <div class="heading padded"><div class="title">enter<b> contact information</b></div></div>
        <md-content layout="row">
          <md-input-container flex="50">
            <label>first name</label>
            <input ng-model="dialog.createAction.field('first_name').value" autocomplete="off" md-autofocus>
          </md-input-container>
          <md-input-container flex="50">
            <label>last name</label>
            <input ng-model="dialog.createAction.field('last_name').value" autocomplete="off">
          </md-input-container>
        </md-content>

        <!-- <md-content> -->
          <md-input-container class="no-margin no-padding">
            <div ng-messages="dialog.createAction.field('first_name').$error" ng-show="dialog.createAction.field('first_name').$error" class="messages">
              <div ng-message="message">{{ dialog.createAction.field('first_name').$error.message }}</div>
            </div>
            <div ng-messages="dialog.createAction.field('last_name').$error" ng-show="dialog.createAction.field('last_name').$error" class="messages">
              <div ng-message="message">{{ dialog.createAction.field('last_name').$error.message }}</div>
            </div>
          </md-input-container>
        <!-- </md-content> -->

        <md-content layout="column">
          <md-input-container>
            <label>phone number</label>
            <input ng-model="dialog.createAction.field('phone').value" type="tel">
            <div ng-messages="dialog.createAction.field('phone').$error" ng-show="dialog.createAction.field('phone').$error" class="messages">
              <div ng-message="message">{{ dialog.createAction.field('phone').$error.message }}</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>email</label>
            <input ng-model="dialog.createAction.field('email').value" type="text" autocomplete="off" autocapitalize="off">
            <div ng-messages="dialog.createAction.field('email').$error" ng-show="dialog.createAction.field('email').$error" class="messages">
              <div ng-message="message">{{ dialog.createAction.field('email').$error.message }}</div>
            </div>
          </md-input-container>
        </md-content>

        <div class="actions">
          <md-button type="submit" ng-disabled="dialog.createAction.submitting" class="md-primary md-raised">Next</md-button>
        </div>
      </md-dialog-content>
    </div>
  </form>

  <form ng-show="dialog.isEligible && dialog.lead" layout="row" novalidate autocomplete="off">
    <div class="side-bg"></div>
    <div layout="column" flex>
      <div layout="row" layout-align="end start"><a href="javascript:void(0);" class="close" ng-click="dialog.cancel()"><i class="sprite sprite-close"></i></a></div>
      <md-dialog-content layout="column">
        <div class="heading padded"><div class="title">enter<b> household information</b></div></div>
        <md-content layout="column">
          <md-input-container>
            <label>street address</label>
            <input ng-model="dialog.updateAction.field('address').value">
            <div ng-messages="dialog.updateAction.field('address').$error" ng-show="dialog.updateAction.field('address').$error" class="messages">
              <div ng-message="message">{{ dialog.updateAction.field('address').$error.message }}</div>
            </div>
          </md-input-container>
        </md-content>
        <md-content layout="row">
          <md-input-container flex="40">
            <label>city</label>
            <input ng-model="dialog.updateAction.field('city').value">
            <div ng-messages="dialog.updateAction.field('city').$error" ng-show="dialog.updateAction.field('city').$error" class="messages">
              <div ng-message="message">{{ dialog.updateAction.field('city').$error.message }}</div>
            </div>
          </md-input-container>
          <md-input-container flex="30">
            <label>state</label>
            <input ng-model="dialog.updateAction.field('state').value">
            <div ng-messages="dialog.updateAction.field('state').$error" ng-show="dialog.updateAction.field('state').$error" class="messages">
              <div ng-message="message">{{ dialog.updateAction.field('state').$error.message }}</div>
            </div>
          </md-input-container>
          <md-input-container flex="30">
            <label>zip</label>
            <input ng-model="dialog.updateAction.field('zip').value">
            <div ng-messages="dialog.updateAction.field('zip').$error" ng-show="dialog.updateAction.field('zip').$error" class="messages">
              <div ng-message="message">{{ dialog.updateAction.field('zip').$error.message }}</div>
            </div>
          </md-input-container>
        </md-content>
        <md-content layout="column">
          <md-input-container>
            <label>average bill</label>
            <input ng-model="dialog.updateAction.field('average_bill').value" type="number" pattern="^[0-9\.]*$">
            <div ng-messages="dialog.updateAction.field('average_bill').$error" ng-show="dialog.updateAction.field('average_bill').$error" class="messages">
              <div ng-message="message">{{ dialog.updateAction.field('average_bill').$error.message }}</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>additional notes</label>
            <input ng-model="dialog.updateAction.field('notes').value">
            <div ng-messages="dialog.updateAction.field('notes').$error" ng-show="dialog.updateAction.field('notes').$error" class="messages">
              <div ng-message="message">{{ dialog.updateAction.field('notes').$error.message }}</div>
            </div>
          </md-input-container>
        </md-content>

        <div class="actions">
          <md-button ng-disabled="dialog.submitting" ng-click="dialog.update(true)" class="md-primary md-raised" type="submit">Save</md-button>
          <md-button ng-disabled="!dialog.submitAction || dialog.submitting" ng-click="dialog.submitToSC()" class="md-primary md-raised" type="submit">Submit To Solar City</md-button>
        </div>
      </md-dialog-content>
    </div>
  </form>
</md-dialog>
