<md-dialog aria-label="Invite" class="solar pw-grid pw-dialog">
  <div layout="row" layout-align="end start"><a href="#" class="close" ng-click="dialog.cancel()"><i class="sprite sprite-close"></i></a></div>
  <md-dialog-content layout="column">
    <div layout="column">
      <div class="side-bg"></div>
      <div class="editable">
        <form ng-submit="dialog.updateInvite()" name="updateInviteForm" novalidate autocomplete="off">
          <div class="name" ng-show='!dialog.editMode'>{{ dialog.lead.properties.first_name }} <b>{{ dialog.lead.properties.last_name }}</b></div>
          <div class='name edit' ng-show='dialog.editMode' layout='row'>
            <md-input-container flex='30'>
              <input type="text" ng-model="dialog.update.field('first_name').value">
            </md-input-container>
            <md-input-container flex='30'>
              <input type="text" ng-model="dialog.update.field('last_name').value">
            </md-input-container>
          </div>

          <div class="detail">Lead ID: {{dialog.lead.properties.id }} <span ng-show="dialog.lead.properties.data_status === 'ineligible_location'" class="highlight">Unqualified - Out of Service Area</span></div>
          <div layout="row" class="overview">
            <div layout="column" flex="30">
              <div class="header">AVERAGE BILL</div>
              <div class="number" ng-show='!dialog.editMode'>${{ dialog.lead.properties.average_bill || 0 }}<sup>00</sup></div>
              <md-input-container class="edit number" ng-show='dialog.editMode'>
                <span>$</span><input type="text" ng-model='dialog.update.field("average_bill").value'><sup>00</sup>
              </md-input-container>
            </div>
            <div layout="column" flex="35">
              <div class="header" >ADDRESS</div>
              <div ng-show='!dialog.editMode'>{{ dialog.lead.properties.address }}</div>
              <div ng-show='!dialog.editMode'>{{ dialog.lead.properties.city }}<span ng-if="dialog.lead.properties.city && dialog.lead.properties.state">,</span> {{ dialog.lead.properties.state }}</div>
              <md-input-container class="edit address" ng-show='dialog.editMode'>
                <input type="text" ng-model='dialog.update.field("address").value'>
              </md-input-container>
              <div layout='row'>
                <md-input-container class="edit city" ng-show='dialog.editMode' flex='80'>
                  <input type="text" ng-model='dialog.update.field("city").value'>
                </md-input-container>
                <md-input-container class="edit state" ng-show='dialog.editMode' flex='20'>
                  <input type="text" ng-model='dialog.update.field("state").value'>
                </md-input-container>
              </div>
              <md-input-container class="edit zip" ng-show='dialog.editMode'>
                <input type="text" ng-model='dialog.update.field("zip").value'>
              </md-input-container>
            </div>
            <div layout="column" flex="35">
              <div class="header">CONTACT INFO</div>
              <div ng-show='!dialog.editMode'>{{ dialog.lead.properties.phone | formatPhoneNumber }}</div>
              <md-input-container class="edit phone" ng-show='dialog.editMode'>
                <input type="text" ng-model='dialog.update.field("phone").value' ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_">
              </md-input-container>
              <a href="mailto:{{ dialog.lead.properties.email }}" ng-show='!dialog.editMode' class="email"><div>{{ dialog.lead.properties.email }}</div></a>
              <md-input-container class="edit email" ng-show='dialog.editMode'>
                <input type="text" ng-model='dialog.update.field("email").value'>
              </md-input-container>
            </div>

        </div>
        <md-button ng-show='dialog.editMode' type="submit" class="md-primary md-raised" ng-disabled="dialog.update.submitting">Update</md-button>
        <md-button ng-show='dialog.editMode' class="md-primary md-raised" ng-click="dialog.cancel()" ng-disabled="dialog.update.submitting">Cancel</md-button>

      </form>

      </div>

      <md-button ng-show='!dialog.editMode' ng-if="dialog.ownedByCurrentUser" class="md-primary md-raised" ng-click="dialog.editMode = !dialog.editMode">Edit</md-button>

      <br>
      <md-divider></md-divider>
      <br>

      <md-content layout="column" class="link-wrap">
        <div class="header">INVITATION <b>INFO</b></div>
        <div layout="row">
          <i class="material-icons">mail</i>
          {{ dialog.lead.properties.email_data.state_description || 'sent'}} on {{dialog.lead.properties.updated_at | date: 'MMM d, yyyy'}}</div>
        <div layout="row">
          <i class="material-icons">link</i>
          <input class="link" value="{{ dialog.lead.properties.getsolar_page_url }}" onclick="this.select()" readonly>
        </div>
      </md-content>

      <br>
      <md-divider ng-if="dialog.ownedByCurrentUser"></md-divider>
      <br>

      <md-button ng-if="dialog.ownedByCurrentUser" class="md-primary md-raised" ng-show="dialog.submitAction" ng-click="dialog.submitToSC()" ng-disabled="dialog.submitAction.submitting">Submit To Solar City</md-button>
      <div ng-messages="dialog.submitAction.$error" ng-show="dialog.submitAction && dialog.submitAction.$error" class="messages">
        <div ng-message="message">{{ dialog.submitAction.$error.message }}</div>
      </div>
      <md-button class="md-primary md-raised" ng-click="dialog.sendInvite()" ng-disabled="dialog.sendInviteAction.submitting" ng-if="dialog.sendInviteAction">Send Invite</md-button>
      <md-button ng-if="dialog.ownedByCurrentUser" class="md-warn md-raised" ng-click="dialog.remove()" ng-disabled="dialog.delete.submitting">Delete</md-button>
    </div>


  </md-dialog-content>
</md-dialog>
