<% if current_user.roles.include?("admin") %>
    <div class="hover-box" id="admin-hover-box">
      <div id="admin-tab" class="js-admin_tab">
        <div class="side-panel-item" style="top:8%"><a href="/u/dashboard"><i class='fa fa-bar-chart'></i><span style="padding-left:2pt" class="hidden">Dashboard</span></a></div>
        <br>
        <div class="side-panel-item" style="top:8%"><a href="/u/earnings"><i class="fa fa-newspaper-o"></i><span style="padding-left:3pt" class="hidden">Earnings</span></a></div>
        <br>
        <div class="side-panel-item" style="top:8%"><a href="/u/university"><i class="fa fa-graduation-cap"></i><span class="hidden">University</span></a></div>
        <br>
        <div class="side-panel-item" style="top:8%"><a href="/u/marketing"><i class="fa fa-paper-plane"></i><span style="padding-left:5px" class="hidden">Marketing</span></a></div>
      </div>
    </div>
<% end %>