  <div class="customer_thumbnail">
    <%= customer_name %>
  	<span class="subtext"><%= kWh %> kWh</span>
    <span class="subtext"> <%= total_fruit %> earned</span>

  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

  </div>