<% if current_user.roles.include?("admin") %>
    <div class="hover-box">
      <div class="js-admin_tab">
        <div class="side-panel-item" id="side-1"><a class="js-barlink" id="/a/users"><span>Users</span><i class="fa fa-users fa-1x"></i></a></div>
        <br>
        <div class="side-panel-item" id="side-2"><a class="js-barlink" id="/a/products"><span>Plan</span><i class="fa fa-table fa-1x"></i></div>
        <br>
        <div class="side-panel-item" id="side-3"><a class="js-barlink" id="/a/quotes"><span>Quotes</span><i class="fa fa-line-chart fa-1x"></i></div>
      </div>
    </div>
  <% end %>

  <script type="text/javascript">

  //admin toolbar
  $('.hover-box').hover(function(e){
    $('.js-admin_tab').stop();
    e.stopPropagation();
    if($('.js-admin_tab').is(':animated')) return;
    $('.js-admin_tab').animate({
      'left':'-70px'
    }, 300);
  });


  $('.hover-box').mouseleave(function(e) {
    $('.js-admin_tab').stop();
    e.stopPropagation();
    $('.js-admin_tab').animate({
      'left':'-140px'
    },300);
  });

  $('.js-barlink').on("click", function(){
    window.location.href = $(this).attr("id")
  })

  </script>