<div id="dev_nav">
	<ul>
		<li>
			Development Navigaton:
		</li>
		<li>
			<a href="/">Index</a>
		</li>
		<li>
			<a href="/landing">Landing</a>
		</li>
		<li>
			<a href="/user">User</a>
		</li>
		<li>
			<a href="/dashboard">Dashboard</a>
		</li>
		<li>
			<a href="/settings">Settings</a>
		</li>
	</ul>
</div>