<div class="new_thumbnail js-thumbnail_parent js-invites_thumbnail" data-audience="advocate">

	<div class="js-thumbnail" >
		<span class="placeholder_avatar">
			<span>
				2
			</span>
		</span>
		<span>Invites Available</span>
		<span class="subtext">1 Expired</span>

		<span class="expand">
			<i class="fa fa-angle-down"></i>
		</span>
	</div>

	<%#= render partial: "shared/invite_detail"%>

</div>