  <div class="invite_thumbnail" onclick="detailExpander('invite_detail');">
  	<a hre="#" class="button">Invite</a>

    <span class="subtext">
    </span>
    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

  </div>