<div id="invite_detail" class="object_detail dev-hack_for_arrow_placement_invite">
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>Invite an advocate</h4>
			<span class="subtext">We'll send them a link and an invite code to join your team.</span>
		</div>
		<div class="object_detail_content_section">
			<form>
				<label for="advocate_name">Advocate name</label>
				<input id="advocate_name" name="advocate_name" type="text" placeholder="Advocate Name"/>
				<label for="advocate_email">Advocate email</label>
				<input id="advocate_email" name="advocate_email" type="text" placeholder="Advocate Email or Phone Number"/>

				<a onclick="detailConfirm(this);" class="button primary">Send invite code</a>
			</form>

			<div class="success">
				<h3>Great! We sent them an invite.</h3>
				<span class="subtext">They'll show up in Your Team when they accept.</span>
			</div>
		</div>
	</div>
</div>

