<div class="invite_thumbnail js-thumbnail_parent">

	<div class="js-thumbnail" onclick="detailExpander('invite', 'Invite an advocate');">
		<a class="button js-invite_detail">Invite an advocate</a>

		<span class="subtext"></span>

		<span class="expand">
			<i class="fa fa-angle-down"></i>
		</span>
	</div>

	<%= render partial: "shared/invite_detail"%>

</div>