<div id="kpi_customer_detail" class="object_detail">
    <div class="object_detail_arrow"></div>
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>Impact Overview</h4>
			<span class="subtext">Here is an overview of your total impact.</span>
			<br/>
			<span class="subtext">
				<a href="/training">Grow your customer base ></a>
			</span>
			<span class="subtext">
				<a href="#">Show all customers ></a>
			</span>
		</div>
		<div class="object_detail_content_section">
			<h4>Houses</h4>
			<span class="subtext">And how the wolrd is better...</span>
		</div>
		<div class="object_detail_content_section">
			<h4>A graph goes here...</h4>
		</div>
	</div>
</div>