<div id="kpi_environment_detail" class="object_detail">
    <div class="object_detail_arrow"></div>
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>Environmental Impact</h4>
			<p class="subtext">Each solar panel installation can prevent up to 1000lbs of CO<sub>2</sub> emissions every month!</p>
			<p class="subtext">Visualize you and your team's impact through total kWh and CO<sub>2</sub> reduction and annual equivalents of forrest and vehicular impact.</p>
			<br/>
			<span class="subtext">
				<a href="/training">Lower your carbon footprint</a>
			</span>
			<span class="subtext">
				<a href="#">Learn about CO<sub>2</sub></a>
			</span>
		</div>
		<div class="object_detail_content_section">
			<h4>My Impact</h4>

			<span class="circle_stat">
				<span>
					<div class="icon icon-light-bulb"></div>
					<br/>
					705,574 
					<br/>
					kWh
					</span>
			</span>

			<span class="circle_stat blank">
				<span>=</span>
			</span>

			<span class="circle_stat">
				<span>
					<div class="icon icon-factory"></div>
					<br/>
					487 tons
					<br/>of CO<sub>2</sub></span>
			</span>

			<span class="circle_stat blank">
				<span>=</span>
			</span>

			<span class="circle_stat">
				<span>
					<div class="icon icon-tree"></div>
					<br/>
					399 acres
					<br/>
					of forrest
				</span>
			</span>

			<span class="circle_stat blank">
				<span>=</span>
			</span>

			<span class="circle_stat">
				<span>
					<div class="icon icon-car"></div>
					<br/>
					102
					<br/>
					cars
				</span>
			</span>

			<h4>My Team's Impact</h4>

			<span class="circle_stat">
				<span>
					<div class="icon icon-light-bulb"></div>
					<br/>
					5,846,347
					<br/>
					kWh
					</span>
			</span>

			<span class="circle_stat blank">
				<span>=</span>
			</span>

			<span class="circle_stat">
				<span>
					<div class="icon icon-factory"></div>
					<br/>
					4,031 tons
					<br/>of CO<sub>2</sub></span>
			</span>

			<span class="circle_stat blank">
				<span>=</span>
			</span>

			<span class="circle_stat">
				<span>
					<div class="icon icon-tree"></div>
					<br/>
					3,304 acres
					<br/>
					of forrest
				</span>
			</span>

			<span class="circle_stat blank">
				<span>=</span>
			</span>

			<span class="circle_stat">
				<span>
					<div class="icon icon-car"></div>
					<br/>
					849
					<br/>
					cars
				</span>
			</span>

		</div>
	</div>
</div>

