  <div class="lead_thumbnail">
  	<%= first_name %> <%= last_name %>

    <span class="subtext">
    	<% if has_address == true %>
    		<i class="fa fa-check"></i>
  	  	<% else %>
  	  	<i class="fa fa-times"></i>
    	<% end %>
    	Address
    </span>

    <span class="subtext">
    	<% if has_rooftop == true %>
    		<i class="fa fa-check"></i>
  	  	<% else %>
  	  	<i class="fa fa-times"></i>
    	<% end %>
    	Roof info
    </span>

    <span class="subtext">
    	<% if has_utility == true %>
    		<i class="fa fa-check"></i>
  	  	<% else %>
  	  	<i class="fa fa-times"></i>
    	<% end %>
    	Utility Bill
    </span>
    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

  </div>