<div class="lead_thumbnail">
  <%= total_hits %> hits

  <span class="subtext">
    <%= campaign_title %>
  </span>

  <span class="subtext">
    <%= start_date %>
  </span>
  
  <span class="subtext">
    <%= url %>
  </span>

  <span class="expand">
    <i class="fa fa-angle-down"></i>
  </span>

</div>