  <div class="link_thumbnail" onclick="detailExpander('new_link_detail');">
  	<a hre="#" class="button">Generate New Link</a>

    <span class="subtext">
    </span>
    
  	<span class="expand">
  		<i class="fa fa-angle-down"></i>
  	</span>

  </div>