<div id="new_quote_detail" class="object_detail">
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>New Quote</h4>
			<span class="subtext">Create a new quote with whatever information you currently have.</span>
		</div>
		<div class="object_detail_content_section">
			<form>
				<span class="form_row">
					<label for="customer_name">Customer name</label>
					<input id="customer_name" name="customer_name" type="text"/>
				</span>
				<span class="form_row">
					<label for="customer_email">Customer email</label>
					<input id="customer_email" name="customer_email" type="text"/>
				</span>
				<a onclick="detailConfirm(this);postInvite();showThumbnail(invited);" class="button primary">Save</a>
			</form>

			<div class="success">
				<h3>Great! We saved this quote</h3>
				<span class="subtext">Contact them?</span>
			</div>
		</div>
	</div>
</div>

