<div class="new_thumbnail js-thumbnail_parent js-new_quote_thumbnail" data-audience="quote">
	<div class="js-thumbnail">
		<span class="placeholder_avatar">
			<span>
				<i class="fa fa-plus"></i>
			</span>
		</span>
		New Quote

		<span class="subtext"></span>

		<span class="expand">
			<i class="fa fa-angle-down"></i>
		</span>
	</div>
</div>