<div id="new_link_detail" class="object_detail dev-hack_for_arrow_placement_new_link">
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>New Referral Link</h4>
			<span class="subtext">Create new referral links to track your sales campaigns.</span>
		</div>
		<div class="object_detail_content_section double">
			<form>
				<%= select_tag "Sort", options_for_select(
					[
						"For solar customers", 
					    "For solar advocates"
					]) 
				%>
				<label for="campaign_title">Campaign Title</label>
				<input id="campaign_title" name="campaign_title" type="text" placeholder="'Facebook Campaign' or 'Februrary Newsletter'..."/>

				<a href="#" class="button primary">Create link</a>
			</form>
		</div>
	</div>
</div>

