<section id="subheader_bar">
	<div id="subheader_bar_content">
		<div id="global_progress_content">
			<div class="tic">
				<div id="goal_select">
					<span>
						Our Annual Goals &nbsp; <i class="fa fa-angle-down"></i>
					</span>
				</div>
				<div id="solar_progress_bar">
					<span class="solar_progress_bar_text">6,492 Homes</span>
				</div>
				<div id="goal_text">10,000 Homes</div>
			</div>
		</div>

		<div id="notification_center_toggle">
			<i class="fa fa-bell"></i>
			<span class="badge">2</span>
		</div>
	</div>

</section>