<section id="global_progress">
	<div class="tic">
<!-- 		<div id="carbon_progress_bar">
			<span class="carbon_progress_bar_text">6,214 tons of CO2</span>
		</div>
 -->		<div id="goal_select">
			<span>
				Our Annual Goal &nbsp; <i class="fa fa-caret-down"></i>
			</span>
		</div>
		<div id="solar_progress_bar">
			<span class="solar_progress_bar_text">6,492 Homes</span>
		</div>
		<div id="goal_text">10,000 Homes</div>
	</div>
</section>