<section id="global_progress">
	<div class="tic">
		<div id="carbon_progress_bar">
			<span class="carbon_progress_bar_text">200,000lbs CO2</span>
		</div>
		<div id="global_title">
			<span>
				Our<br/>
				Global<br/>
				Goals
			</span>
		</div>
		<div id="solar_progress_bar">
			<span class="solar_progress_bar_text">19,452 homes</span>
		</div>
	</div>
</section>