<section id="system_feedback">
	<div id="carbon_progress_bar">
		<span class="carbon_progress_bar_text">200,000lbs CO2</span>
	</div>
	<div id="global_title">Our Global Goals</div>
	<div id="solar_progress_bar">
		<span class="solar_progress_bar_text">19,452 homes</span>
	</div>
<!-- 	<div id="global_progress_your_contribution"></div>
	<span class="global_progress_your_contribution_text">< You: 421 Homes</span>
	<span class="global_goal">2,000,000 by 2025</span> -->
</section>