<div id="tree_equivalents_detail" class="object_detail">
	<div class="object_detail_arrow"></div>
	<span class="dismiss"><i class="fa fa-times"></i></span>
	<div class="object_detail_content">
		<div class="object_detail_content_section summary">
			<h4>Impact Overview</h4>
			<span class="subtext">This is your total impact translated into various metrics.</span>
			<br/>
			<span class="subtext">
				<a href="/training">Tips for more impact ></a>
			</span>
			<span class="subtext">
				<a href="#">Show something else... ></a>
			</span>
		</div>
		<div class="object_detail_content_section double">
			<h4>Impact details</h4>
			<span class="subtext">1 small forrest, 10,000 homes for a year, one aircraft carrier, 34,000 cars, that sort of thing...</span>
		</div>
	</div>
</div>

