<div class="pow-landing-wrapper" ng-class="{'active': leftMenu.isActive}">
  <main class="pow-qualify">
    <div class="row">
      <div class="large-6 large-centered columns">

      <div class="row">
        <div class="zip-code-entry">
          <!-- ZIP Entry -->
          <form ng-submit="validateZip()" novalidate>
            <h2 class="column-heading">Check Eligibility</h2>
            <div class="row collapse">
              <!-- Input -->
              <div class="small-8 columns">
                <label for="zip">ZIP Code</label>
                <input ng-model="zip.code" name="zip" type="text" ng-required='true'>
              </div>
              <!-- Button -->
              <div class="small-4 columns">
                <button class="zip-code button postfix" type="submit"></button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div ng-show="zip.inTerritory === false" class="panel">
          <!-- If Not In Territory -->
          <h4>Whoops!</h4>
          <p>This ZIP Code isn't in the SolarCity territory.</p>
          <a ng-click="clearZip()" class="button expand">Enter a different ZIP Code</a>
        </div>
        <div ng-show="zip.inTerritory === true" class="panel">
          <!-- If In Territory -->
          <h4>Great!</h4>
          <p>This ZIP Code is in the SolarCity territory!</p>

          <!-- If Not Signed In -->
          <div ng-show="!isSignedIn">
            <p>Sign in to create a proposal for this customer.</p>
            <a ng-href="/sign-in" class="button expand">Sign In</a>
          </div>

          <!-- If Signed In -->
          <div ng-show="isSignedIn">
            <p>Use the form below to create a proposal for this customer.</p>
          </div>
        </div>
      </div>

      <!-- If Signed In -->
      <div class="row">
        <div ng-show="zip.inTerritory === true && isSignedIn" class="panel">
          <!-- Proposal Form -->
          <form ng-submit="saveProposal()">
            <div class="row">
              <div class="large-12 columns">
                <h4>New Proposal</h4>
                <fieldset>
                  <legend><i class="fa fa-envelope"></i> Contact Information</legend>

                  <!-- First/Last Name -->
                  <div class="row">
                    <div class="large-6 medium-6 columns">
                      <label>First Name</label>
                      <input ng-model="proposal.first_name" type="text">
                    </div>
                    <div class="large-6 medium-6 columns">
                      <label>Last Name</label>
                      <input ng-model="proposal.last_name" type="text">
                    </div>
                  </div>

                  <!-- Email -->
                  <div class="row">
                    <div class="large-12 medium-12 columns">
                      <label>Email</label>
                      <input ng-model="proposal.email" type="email">
                    </div>
                  </div>

                  <!-- Phone -->
                  <div class="row">
                    <div class="large-12 medium-12 columns">
                      <label>Phone</label>
                      <input ng-model="proposal.phone" type="text">
                    </div>
                  </div>

                  <!-- Address -->
                  <div class="row">
                    <div class="large-12 medium-12 columns">
                      <label>Address</label>
                      <input ng-model="proposal.address" type="text">
                    </div>
                  </div>

                  <!-- City/State/ZIP -->
                  <div class="row">
                    <div class="large-5 medium-5 columns">
                      <label>City</label>
                      <input ng-model="proposal.city" type="text">
                    </div>
                    <div class="large-3 medium-3 small-6 columns">
                      <label>State</label>
                      <input ng-model="proposal.state" type="text">
                    </div>
                    <div class="large-4 medium-4 small-6 columns">
                      <label>ZIP</label>
                      <input ng-model="proposal.zip" type="text">
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <fieldset>
                  <legend><i class="fa fa-info-circle"></i> Other Information</legend>

                  <!-- Custom Product Fields -->
                  <div ng-repeat="productField in proposal.productFields" class="row">
                    <div class="large-12 medium-12 columns">
                      <label>{{ productField.name | cleanLabel }}</label>
                      <input ng-model="proposal[productField.name]" type="{{productField.type}}">
                    </div>
                  </div>

                  <!-- Notes -->
                  <div class="row">
                    <div class="large-12 columns">
                      <label>Notes</label>
                      <textarea ng-model="proposal.notes" class="notes"></textarea>
                    </div>
                  </div>

                  <!-- Buttons -->
                  <div class="row">
                    <div class="large-12 columns">
                      <!-- Save Button -->
                      <button class="button expand" >Save</button>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>
          </form>
        </div>

        <!-- If Proposal Saved -->
        <div ng-show="proposalSaved" class="panel">
          <h4>Great!</h4>
          <p>This proposal was saved successfully!</p>
          <a ng-click="reset()" class="button expand">Start Over</a>
          <a ng-href="/dashboard" class="button secondary expand">Go to Dashboard</a>
        </div>
      </div>
    </div>
  </main>
</div>
