<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="pow-profile">

  <div class="row">

    <div class="large-3 columns summary">
      <section>
        <div class="avatar-container" class="form-element">
          <img ng-src="{{userProfile.avatar.preview || legacyImagePaths.defaultAvatar}}" class="user-image" />
          <div ng-if="userProfile.certified" class="ribbon"></div>
          <input ng-model="userOriginalImage" type="hidden" ng-required="true" />
          <ng-s3-file-upload data="userOriginalImage" config="/u/uploader_config.json?mode=user_image" show-progress="1" auto-upload="1"></ng-s3-file-upload>
        </div>
      </section>
    </div>

    <div class="large-9 columns data-content">
      <section>
        <div class="header">Personal Info</div>
        <div class="content">
          <form name="profileUpdateForm" ng-submit="updateProfile()" novalidate>
            <br />
            <h3>Contact info</h3>
            <div class="clearfix"></div>

            <div class="row">
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_first_name">First Name</label>
                  <input ng-model="userProfile.first_name" name="user_first_name" type="text" class="text-field" />
                </div>
              </div>
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_last_name">Last Name</label>
                  <input ng-model="userProfile.last_name" name="user_last_name" type="text" class="text-field" />
                </div>
              </div>
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_email">Email</label>
                  <input ng-model="userProfile.email" name="user_email" type="text" class="text-field" />
                </div>
              </div>
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_phone">Phone</label>
                  <input ng-model="userProfile.phone" name="user_phone" type="text" class="text-field" />
                </div>
              </div>
            </div>

            <br>

            <h3>Address</h3>
            <div class="clearfix"></div>

            <div class="row">
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_address">Address</label>
                  <input ng-model="userProfile.address" name="user_address" type="text" class="text-field" />
                </div>
              </div>
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_city">City</label>
                  <input ng-model="userProfile.city" name="user_city" type="text" class="text-field" />
                </div>
              </div>
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_state">State</label>
                  <input ng-model="userProfile.state" name="user_state" type="text" class="text-field" />
                </div>
              </div>
              <div class="large-6 columns">
                <div class='form-element'>
                  <label for="user_zip">Zip</label>
                  <input ng-model="userProfile.zip" name="user_zip" type="text" class="text-field" />
                </div>
              </div>
            </div>

            <br />

            <h3>More about you</h3>
            <div class="clearfix"></div>
            <span class="subtitle">Information in this section will be used for your public pages</span>
            <div class="clearfix"></div>

            <div class='form-element'>
              <label for="user_first_name">Bio/Experience</label>
              <textarea ng-model="userProfile.bio" name="user_bio"></textarea>
            </div>

            <div class='form-element'>
              <label for="user_twitter_url">Twitter URL</label>
              <input ng-model="userProfile.twitter_url" name="user_twitter_url" type="text" class="text-field" />
            </div>

            <div class='form-element'>
              <label for="user_facebook_url">Facebook URL</label>
              <input ng-model="userProfile.facebook_url" name="user_facebook_url" type="text" class="text-field" />
            </div>

            <br />

            <h3>Notification settings</h3>
            <div class="clearfix"></div>

            <!-- <input ng-model="userProfile.allow_system_emails" id="user_allow_system_emails" type="checkbox">
            <label for="user_allow_system_emails" class="checkbox">System email</label>
            <div class="clearfix"></div>

            <input ng-model="userProfile.allow_corp_emails" id="user_allow_corp_emails" type="checkbox">
            <label for="user_allow_corp_emails" class="checkbox">Corporate email</label>
            <div class="clearfix"></div> -->

            <input ng-model="userProfile.allow_sms" id="user_allow_sms" type="checkbox">
            <label for="user_allow_sms" class="checkbox">SMS</label>
            <div class="clearfix"></div>

            <br>

            <input class="large button" type="submit" value="Update Personal Info" />
          </form>
        </div>
      </section>

      <br>
      <br>

      <section>
        <div class="header">Update Password</div>

        <div class="content">
          <br />
          <form name="passwordUpdateForm" ng-submit="updatePassword()" novalidate>
            <div class="row">
              <div class="large-6 columns">
                <div class="form-element">
                  <label for="current_password" style="top:0;">Current Password</label>
                  <input ng-model="password.current_password" name="user_current_password" type="password" class="text-field" ng-required='true' />
                </div>
              </div>

              <div class="large-6 columns">
                <div class="form-element">
                  <label for="new_password" style="top:0;">New Password</label>
                  <input ng-model="password.new_password" name="user_new_password" type="password" class="text-field" ng-required='true' />
                </div>

                <div class="clearfix"></div>

                <div class="form-element">
                  <label for="new_password_confirm" style="top:0;">Confirm New Password</label>
                  <input ng-model="password.new_password_confirm" name="user_new_password_confirm" type="password" class="text-field" ng-required='true' />
                </div>
              </div>
            </div>

            <input class="large button" type="submit" value="Update Personal Info" />
          </form>
        </div>
      </section>

      <br>
      <br>

      <section>
        <div class="header">iPayout Account</div>
        <div ng-if="userProfile.ewallet_email" class="content">
          <br>
          <div class="row">
            <div class="large-6 columns">
              <span style="top:0;color:rgb(53,53,53)">Username: </span>
              <p>{{ userProfile.ewallet_email }}</p>
            </div>

            <div class="large-12 columns">
              <a ng-if="userProfile.ewallet_auto_login_url" href="{{ userProfile.ewallet_auto_login_url }}" target="_blank" class="large button" style="margin-top:25px;float:left">Go to my eWallet</a>
            </div>
          </div>
        </div>

        <div ng-if="!userProfile.ewallet_email" class="content">
          <input class="button small" ng-click="setUpEwalletAccount()" ng-disabled="isSubmitDisabled" type="submit" value="Set up my account">
        </div>
      </section>
    </div>

  </div>
</main>

<ng-include src="'shared/footer-signed-in.html'"></ng-include>
