<ng-include src="'<%=asset_path("shared/left-menu.html") %>'"></ng-include>

<div class="sun-landing-wrapper" ng-class="{'active': isMenuActive}">

  <ng-include src="'<%=asset_path("shared/header-signed-out.html") %>'"></ng-include>

  <main class="sun-promo sun-our-dna-page">

    <div class="sun-scrolling-bg sun-bg-19">
      <div class="sun-promo-intro">
        <div class="row">
          <div class="large-12 columns">
            <h1><span class="highlight-2">Our</span> dna</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="sun-bg-5">
      <div class="row sun-promo-content">
        <div class="large-5 columns">
          <h2><span class="highlight-2">Vision</span></h2>
        </div>

        <div class="large-7 columns">
          <h2 class="normal-case">A world powered by pure light</h2>
        </div>
      </div>
    </div>

    <div class="sun-bg-3">
      <div class="row sun-promo-content">
        <div class="large-5 columns">
          <h2><span class="highlight-2">Mission</span></h2>
        </div>

        <div class="large-7 columns">
          <p><b>Our Mission is to decentralize Power -- by upgrading millions of homes from centralized grid pollution to 100% clean, distributed solar. Side by side, this shift decentralizes fossil fuel capital -- creating the greatest wealth transfer in history: from the fossil fuel industry to millions of entrepreneurs sharing renewable energy with the world.</b></p>
        </div>
      </div>
    </div>

    <div class="sun-bg-5">
      <div class="row sun-promo-content">
        <div class="large-2 columns">&nbsp;</div>

        <div class="large-8 columns">
          <h4>Aided by our proprietary platform and peer-to-peer model we will achieve these critical goals:</h4>
        </div>

        <div class="large-2 columns">&nbsp;</div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-1"></div></div>
          <p>1. Reduce 36 billion pounds of CO2 emissions per year through upgrading 2,000,000 homes to solar by 2025.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-2"></div></div>
          <p>2. Distribute over $1,000,000,000 (one billion) of wealth to our ecopreneurs by 2025.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-3"></div></div>
          <p>3. Become an influential network of activist entrepreneurs by influencing 5,000,000 votes per year by 2025 towards candidates who stand for a renewable energy economy.</p>
        </div>
      </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-20">
      <div class="row sun-promo-content">
        <div class="large-12 columns text-center">
          <p><b>Our mission is to return power back to the people, literally.  First by decentralizing energy production, we will move homes away from dirty, centrally controlled grid power, to 100% sustainable, clean solar energy that we control from our rooftops.  And second, by shifting the wealth of fossil fuel companies to the hands of a new era of clean energy entrepreneurs.</b></p>
        </div>
      </div>
    </div>

    <div class="sun-bg-3">
      <div class="row sun-promo-content">
        <div class="large-12 columns">
          <h2 class="text-center">Our core values</h2>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-4"></div></div>
          <h5 class="uppercase"><b>Contribution</b></h5>
          <p>We’re here to make a difference.  Measurable difference, that increases the quality of life for all life on the planet.  We believe one of the greatest joys a human being can know is when their life will make a difference that transcends time… a difference that all generations who walk upon the earth after us can benefit from.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-5"></div></div>
          <h5 class="uppercase"><b>Evolution</b></h5>
          <p>To us, life is never stagnant or stale.  We believe in evolution, a process of constant refinement, growth, and expansion.  We were put here to evolve.  To evolve our minds, our hearts, our souls.  Where we go… nobody knows.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-6"></div></div>
          <h5 class="uppercase"><b>Love</b></h5>
          <p>The heart of what drives us… is love. It’s the love of a mother that we are alive. It’s the love of the sun that there is any life at all, and we’re not just a big cold rock. It’s the love of the earth that we have food, air, & nature to keep us going. To us, love is at the center of everything. And from this place… we source our work in the world. Love is what makes everything meaningful. This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-7"></div></div>
          <h5 class="uppercase"><b>Truth</b></h5>
          <p>We are avid seekers of the truth.  Lovers of the truth.  Desirers of the truth.  Truth is what’s real.  If it’s not true… it’s not real.  Carbon is Carbon. It’s effects are it’s effects.  The same for a smile.  It’s effects are it’s effects. Until you know the truth, you can’t know who you are or what you stand for.  We believe seeking the truth of things is necessary for a life fully lived.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-8"></div></div>
          <h5 class="uppercase"><b>Play</b></h5>
          <p>To us, life is meant to be celebrated.  It’s not some arduous task we were given… it’s a mystery divine and beautiful.  Our job here is to play, to celebrate, to find the joy in all things… such that when our final day comes we leave this plane with a smile on our face… and adventure in our heart for what’s next. This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-9"></div></div>
          <h5 class="uppercase"><b>Communication</b></h5>
          <p>So much of lifes problems can be summed up in one word… communication.  When we’re afraid, we put up defenses. We shut down, we stop sharing with each other.  We believe the world’s problems, and so much of our personal problems could all be solved if we just understood each other.  If we just took the time to deeply communicate.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-10"></div></div>
          <h5 class="uppercase"><b>Healing</b></h5>
          <p>Instead of covering what hurts… lets heal it.  We believe to live a full life, first we must heal the wounds of the past.  From this place, we can be who we truly are… sacred, alive, free from old patterns.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-11"></div></div>
          <h5 class="uppercase"><b>Family</b></h5>
          <p>There’s nothing more important than the people closest to us.  Especially as parents for our children… it’s our sacred duty to make sure they have the ingredients to live amazing lives.  It’s our duty to make sure we give each new generation a better chance than we had.  And while we’re at it, enjoy all the small moments together that make life zesty & rich.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-12"></div></div>
          <h5 class="uppercase"><b>Friendship</b></h5>
          <p>The caring ear of a friend, the touch of your companions, the laughter we share together in good times, and the cries we share in the bad… to us, these connections make life worth living.  It’s the substance that fills our days, and the bright moments we have to look forward too.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-13"></div></div>
          <h5 class="uppercase"><b>Community</b></h5>
          <p>Belonging isn’t just a nice thing… we believe it’s a deep human need.  Our need to be part of a tribe, together, knowing we have each other’s backs is deeply human.  When we have our tribe… some how life just gets better.  It’s a little more safe, a little easier, and a little more enjoyable.  The riches of community is a value we hold dear and hope all of humanity can one day experience together.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-14"></div></div>
          <h5 class="uppercase"><b>Spiritual</b></h5>
          <p>You can’t look up at the stars at night… and not ponder the infinite mysteries of the universe.  How did this all begin?  What could have created it?  What power lies within us that we have yet to discover?  While there are endless mysteries we may never solve, we can all look within right now to find the truth of our own spirit.  Nourishing our sacred connection to the spirit within, & relishing in the mystery, is what gives life ALL it’s juice.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-15"></div></div>
          <h5 class="uppercase"><b>Health</b></h5>
          <p>We honor life when we honor our bodies.  Our bodies are sacred vessels.  They transport our consciousness, and plant us firmly in the world.  Taking care of ourselves, being healthy in all ways, is how we pay homage to the gift of being alive.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-16"></div></div>
          <h5 class="uppercase"><b>Creative expression</b></h5>
          <p>There is a gift inside us all.  There’s something unique about each of us, that makes us come alive.  There’s a special sauce we have to share with the world… and we love to see that LIVE outside of you.  Your creative gift, when untapped, moves the people around you.  It brings them laughter, joy, shock, awe, tears, and cheers.  Find it.  Let it out.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-17"></div></div>
          <h5 class="uppercase"><b>Innovation</b></h5>
          <p>We have a drive to do what hasn’t been done before.  We don’t want to walk the beaten path… we want to create a better one.  We want to add new value, find a different way to contribute, and evolve humanity forward.  Innovation is what inspires us.  The world needs new ways of thinking to get out of it’s box.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-18"></div></div>
          <h5 class="uppercase"><b>Nature</b></h5>
          <p>Everything we have, everything we love, everything we are… comes from nature.  Nature is the sacred source of all life on this planet.  It refills us.  Rejuvenates us.  Sources us on a daily basis.  It’s a deep pain in our heart to see how disconnected humanity has become from nature.  We want to bring this connection back.  Fully back to ourselves.  Fully back to the world.  This is who we are.</p>
        </div>

        <div class="large-4 columns dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-19"></div></div>
          <h5 class="uppercase"><b>Leadership</b></h5>
          <p>To us leadership is not a word used to describe someone who manages people.  It means you lead people… but not just anywhere, to somewhere worth being.  There is a majority of “leaders” on planet earth that we believe do not deserve the title.  We have been led to places which are unsustainable, driven by greed or fear, and it’s happening at the highest levels of government and business.</p>
        </div>

        <div class="large-4 columns left dna-wrapper">
          <div class="dna-ico-wrapper"><div class="dna-ico-20"></div></div>
          <h5 class="uppercase"><b>Self inquiry</b></h5>
          <p>To inquire within is the gateway to personal & global transformation.  Without it… no change is possible.  Inquiry sets the stage for us to discover our hidden jewels, and our hidden blocks. The world we truly want is nestled inside secret compartments we only access by going within.  Inquiry is the gateway to magic inside you, and the key to unlock your full potential.  This is who we are.</p>
        </div>
      </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-5">
      <div class="row sun-promo-content">
        <div class="large-12 columns sun-home-content">
          <h5>Select how you want to participate in the revolution.</h5>
          <div class="sun-buttons-wrapper">
            <a class="button sun-button-transparent" ng-href="#/create-energy">POWER</a>
            <a class="button sun-button-solid" ng-href="#/create-wealth">WEALTH</a>
          </div>
        </div>
      </div>
    </div>

    <ng-include src="'<%=asset_path("shared/footer.html") %>'"></ng-include>

  </main>
</div>
