<ng-include src="'<%=asset_path("shared/header-admin.html") %>'"></ng-include>

<main class="sun-admin-user-groups">

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <h3>Create a New User Group</h3>
        <form name="userGroupForm" class="user-group-form" ng-submit="create()">
          <ng-include src="'<%=asset_path("angular/admin/user-groups/templates/form.html.erb")%>'"></ng-include>
          <a ng-click="cancel()" class="button small alert left">Cancel</a>
          <input class="button small" ng-disabled="isSubmitDisabled" type="submit" value="Create User Group" />
        </form>
      </div>
    </div>
  </div>

</main>
