<section id="system_feedback" class="js-auto_fade_away">
	This is some temporary system feedback to let you know that your changes have been saved...
</section>

<section>
	<h1>Fiddle!</h1>
	<p><a href="#">Update your email</a></p>
	<p><a href="#">Reset your password</a></p>
	<p><a href="#">Delete your account</a></p>
</section>