<section id="system_feedback" class="js-auto_fade_away hide">
	This is some temporary system feedback to let you know that your changes have been saved...
</section>

<section>
	<h1>Fiddle!</h1>
	<p><a href="#update_email" class="show_system_feedback">Update your email</a></p>
	<p><a href="#reset_password" class="show_system_feedback">Reset your password</a></p>
	<p><a href="#delete_account" class="show_system_feedback">Delete your account</a></p>
</section>