<powur-left-menu control="leftMenu"></powur-left-menu>

<div class="pow-landing-wrapper" ng-class="{'active': leftMenu.isActive}">

  <main class="pow-faq">
    <ng-include ng-if="!isSignedIn" src="'shared/header-faq.html'"></ng-include>
    <ng-include ng-if="isSignedIn" src="'shared/header-signed-in.html'"></ng-include>

    <div class="pow-fixed-bg pow-bg-1" id="anchor_1">
      <div id="slide0"  class="pow-home-intro slide" ng-class="{'active': currentHomeSlide === 0, 'inactive': currentHomeSlide > 0}">
        <div class="row">
          <div class="large-12 columns">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
          </div>

          <div class="clearfix"></div>

          <ul class="pow-accordion">
            <li class="accordion-item" ng-class="{'active': isActive1}">
              <a class="accordion-button" ng-click="isActive1 = !isActive1"><b>1.</b> Why should I refer solar?</a>
              <div class="accordion-content">
                <p>Solar could very well be the greatest financial opportunity you’ll see in your lifetime.  Here are just the top three reasons why we believe it represents a tremendous opportunity for you:</p>

                <p><u>Solar is a booming business across America</u>.  More jobs will be created in solar industry in 2015 than in the oil, gas, and coal industries combined! (source GMT Research).  The factors driving this growth demonstrate the industry’s promise:
                <br />a) More and more people are waking up to the critical need to move away from fossil fuels;
                <br />b) Solar technology has gotten significantly more efficient;
                <br />c) The price of sunlight never goes up. Dirty power costs rise every year;
                <br />d) Innovative service models are enabling homeowners to jump on board with solar with no upfront costs, while paying less per month than they currently spend for electricity.
                <br />e) By reducing climate change, you can create personal climate wealth.</p>

                <p><u>Solar’s recent growth only scratches the surface of its immense potential</u>. Based on a 2014 year-end report from the Solar Energy Industries Association, solar has been installed on more than 600,000 homes in the U.S.  There are more than 90 million single family homes in the U.S. and as many as 50 million more households in multi-family structures.  With the cost of traditional electricity constantly increasing, it’s just a matter of time before qualified homeowners make the switch to the cheaper, cleaner energy source.  While solar may not work on every residential structure in the U.S., just a small wedge of this market is worth hundreds of billions of dollars.  Without question, the solar industry is poised to shift wealth, create jobs, build new companies, and invigorate our economy.  You can be a part of that shift.</p>
                <p><u>Solar is the #1 solution to dirty, coal-powered electricity</u>. Your efforts to share the benefits of solar with more people will make a meaningful difference in addressing climate change, which is possibly the single biggest issue facing our species today.  Your great grand-children and their children’s children will thank you one day for taking back your power.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive2}">
              <a class="accordion-button odd" ng-click="isActive2 = !isActive2"><b>2.</b> What are the benefits to referring solar as a Powur Advocate?</a>
              <div class="accordion-content">
                <p>As a Powur Advocate, you are able to own your own business, have an unlimited income potential, and do something that leaves a lasting impact on our world.  We are the first peer to peer platform 100% focused on the emerging solar revolution with a billion dollar partner like SolarCity handling the installations.  Our mission is to put solar panels on 2 million homes by 2025, and we have a first-to-market technology platform that makes it easy for you to participate in the shift from dirty to clean energy…  one of the most meaningful wealth transfers in the history of humanity.</p>
                <p>Solar is a unique opportunity for Powur Advocates. There are no products to buy or inventory to maintain… just a service (energy) that everyone already pays for -- we simply save them money.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive3}">
              <a class="accordion-button" ng-click="isActive3 = !isActive3"><b>3.</b> Who are Powur’s leaders?</a>
              <div class="accordion-content">
                <p>Powur’s leadership team is made up of talented individuals passionate about building a world-class network of clean energy entrepreneurs devoted to creating a sustainable, renewable energy future for us all.</p>
                <p>CEO, Jonathan Budd, founded Powur to build the first entrepreneurial platform that empowers individuals to participate in the shift from dirty to clean energy - a trillion dollar opportunity.  Jonathan was a top representative in multiple companies himself in his early 20’s and went on to build one of the largest training and education companies in direct marketing, with over 120,000 customers. He’s produced many of the most successful  multi-million dollar launch campaigns in direct marketing, earning him “industry fame” by the time he was 26 years old.</p>
                <p>President, Robert Styler, has over 25+ years success experience in direct marketing as both a corporate and field leader.  Robert has been a top 10 distributor in numerous companies, including a company named by Inc. Magazine as “fastest growing company of the year” in 1996.  He also served as president of Incomnet communications where he engineered a reverse from losing 30,000 customers per month to gaining 5,000.  Robert’s passion for climate wealth inspired him to lead the marketing division of Citizenre, which signed over 38,000 solar customers in under 2 years, breaking many records in solar.</p>
                <p>Learn more about the rest of our incredible team <a ng-href="/our-team">here</a>.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive4}">
              <a class="accordion-button" ng-click="isActive4 = !isActive4"><b>4.</b> Why did Powur choose to refer solar through network marketing?</a>
              <div class="accordion-content">
                <p>Our vision is to play a historic role in bringing solar to the masses and decentralize both energy and the wealth of fossil fuels. We believe network marketing is the ultimate model to accomplish these goals.  Billions of dollars and millions of man hours have gone into manufacturing, finance, and installation systems that now have solar ready to scale across the country.  What the industry is missing are passionate, enthusiastic, financially motivated people who want to build a business championing the cause.  Educating customers is where our peer to peer model shines. There is no industry better at spreading products via word of mouth, and because of that, we have the potential to create millions of solar customers over the next decade… and generate billions of dollars in wealth for those who do.  Through the uniqueness of our peer to peer model we are, quite literally, returning power to the people.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive5}">
              <a class="accordion-button" ng-click="isActive5 = !isActive5"><b>5.</b> Can I succeed if I've never done network marketing before?</a>
              <div class="accordion-content">
                <p>With Powur, no networking experience can be an advantage.  This is not your typical networking company where you have to convince people to buy something.  You’re not asking anyone to spend money on something new - you’re offering them a way to save money every month on a bill they already pay!  And its clean renewable energy to boot.  We provide an excellent training program for all levels of experience.  We offer a wide-ranging technology platform that makes it easy for you to refer your networks to go solar and invite other entrepreneurs to join your team, and the one-on-one support you need to get you started.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive6}">
              <a class="accordion-button" ng-click="isActive6 = !isActive6"><b>6.</b> How do I refer solar if I don't have any experience with solar?</a>
              <div class="accordion-content">
                <p>Solar is an exciting industry, and understanding how it works is surprisingly simple.  We’ll train you on everything you need to know about the industry, the technology and referring homeowners. In addition, our technology platform offers a comprehensive tool suite that allows Advocates to introduce solar to potential customers, onboard prospects and monitor and grow your organization.  You’ll be amazed at how quickly you’ll be up and running.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive7}">
              <a class="accordion-button" ng-click="isActive7 = !isActive7"><b>7.</b> How do I become a Powur Advocate?</a>
              <div class="accordion-content">
                <p>Becoming a Powur Advocate is simple.  All you need to do is register through the invitation of another Advocate, and complete the Application process to sign up. Simply contact the person who referred you and they will send you their link.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive8}">
              <a class="accordion-button" ng-click="isActive8 = !isActive8"><b>8.</b> How much time commitment is required?</a>
              <div class="accordion-content">
                <p>It's your business, so how much time you devote to your success is entirely up to you. You choose how big you want your impact and income to be. Obviously, the more time you put into your business, the more likely it is to grow and the higher your income will become.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive9}">
              <a class="accordion-button" ng-click="isActive9 = !isActive9"><b>9.</b> How do I make money?</a>
              <div class="accordion-content">
                <p>As a Powur Advocate, you make money two simple ways:
                <br />a. Upgrade homes to solar
                <br />b. Train others to upgrade homes to solar</p>
                <p>To upgrade homes to solar there are two steps. First you introduce the benefits of solar, then you do a quick evaluation to make sure that particular home can benefit from solar.</p>
                <p>When those quotes go to installation, you get a commission.  Your earnings are also based on the team you build. Our compensation plan offers an excellent opportunity to earn bonuses and residual pay as you build your business.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive10}">
              <a class="accordion-button" ng-click="isActive10 = !isActive10"><b>10.</b> How much does it cost to become a Powur Advocate?</a>
              <div class="accordion-content">
                <p>Powur offers a free membership to its Solar Advocates.  This membership includes all the tools, resources, and basic training you will need to start and build your business.  For Advocates who want additional training and support, Powur offers a comprehensive peer to peer Solar Certification program, which also provides additional leadership compensation and costs $199 for the training.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive11}">
              <a class="accordion-button" ng-click="isActive11 = !isActive11"><b>11.</b> What does the Solar Certification Program entail?</a>
              <div class="accordion-content">
                <p>The Powur Solar Certification Program is an advanced level, soup-to-nuts training on every aspect of building a successful solar energy business with Powur.  Participants will learn the ins and outs of both the solar industry and direct marketing as well as how to cultivate a purpose-driven and success-driven mindset.  Once an advocate passes the Powur Certification Program, as one of our more educated members, you can be paid on your entire “grid” of solar entrepreneurs.  The Solar Certification program costs $199, which includes an initial training and testing, plus a full year of additional support through our advanced Learning Management System.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive12}">
              <a class="accordion-button" ng-click="isActive12 = !isActive12"><b>12.</b> When I become a Powur Advocate, am I a Powur employee?</a>
              <div class="accordion-content">
                <p>No, you are an independent contractor and business owner. You are in control of the time and effort you put into your business, and you will receive a 1099 from us at the end of the year. Because every individual's financial situation is different, we advise you to ask your accountant any tax questions you may have.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive13}">
              <a class="accordion-button" ng-click="isActive13 = !isActive13"><b>13.</b> How will I be paid?</a>
              <div class="accordion-content">
                <p>Powur has partnered with International Payout Systems, Inc. (i-payout), a leading provider of global payment solutions, to enable Advocates to receive payments anywhere in the world, via multiple options, with ease and convenience.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive14}">
              <a class="accordion-button" ng-click="isActive14 = !isActive14"><b>14.</b> What locations does Powur serve?</a>
              <div class="accordion-content">
                <p>Right now, we're in 16 states where solar makes the most sense – Arizona, Connecticut, Massachusetts, New Jersey, California, Hawaii, Nevada, Oregon, Colorado, Maryland, New York, Pennsylvania, Delaware, Texas, New Hampshire, New Mexico, and Washington DC</p>
                <p>However, we're growing quickly. If we're not in your state, stay tuned - we could see you soon!</p>
              </div>
            </li>

          </ul>

        </div>
      </div>
      <ng-include src="'shared/footer.html'"></ng-include>
    </div>
  </main>
</div>
