<powur-left-menu control="leftMenu"></powur-left-menu>

<div class="pow-landing-wrapper" ng-class="{'active': leftMenu.isActive}">

  <main class="pow-user-static-content pow-contact">
    <ng-include ng-if="!isSignedIn" src="'shared/header-signed-out.html'"></ng-include>
    <ng-include ng-if="isSignedIn" src="'shared/header-signed-in.html'"></ng-include>

    <div class="top-wrapper">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="text-center">We're here to help</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <!-- Lead Text -->
        <div class="row lead-text">
          <div class="large-12 columns">
            <h5 class="subheading text-center">Know Who to Contact</h5>
            <h1 class="text-center">Leader Support vs Corporate Support</h1>
            <p class="text-center">Your success is important to everyone at Powur. We encourage you to leverage your leadership team, as well as corporate to get answers to your questions. Don't know who to contact? Use the tips below to get pointed in the right direction.</p>
          </div>
        </div>
        <!-- Panels -->
        <div class="row panels">
          <div class="large-6 columns">
            <!-- Leadership Panel -->
            <div class="panel contact-panel">
              <h1>Contact Leadership Team on Topics Like:</h1>
              <ul>
                <li>How the Powur rewards plan works</li>
                <li>How you advance to the next level</li>
                <li>Where to find our next live event, or an event happening in your market</li>
                <li>Clarifications on submitting proposals, SolarCity, getting started, etc.</li>
              </ul>
              <!-- Coach -->
              <div class="row leadership">
                <div class="small-2 columns">
                  <p class="text-right">
                    <img src="https://pbs.twimg.com/profile_images/450534293031235585/nGzrwsue_400x400.jpeg">
                  </p>
                </div>
                <div class="small-10 columns">
                  <h2 class="subheading">Your Coach</h2>
                  <ul class="no-bullet">
                    <li>Jonathan Budd</li>
                    <li><i class="fa fa-phone"></i> 456-789-1234</li>
                    <li><i class="fa fa-envelope"></i> jonathan@powur.com</li>
                  </ul>
                </div>
              </div>
              <!-- Team Leader -->
              <div class="row leadership">
                <div class="small-2 columns">
                  <p class="text-right">
                    <img src="https://pbs.twimg.com/profile_images/450534293031235585/nGzrwsue_400x400.jpeg">
                  </p>
                </div>
                <div class="small-10 columns">
                  <h2 class="subheading">Your Team Leader</h2>
                  <ul class="no-bullet">
                    <li>Jonathan Budd</li>
                    <li><i class="fa fa-phone"></i> 456-789-1234</li>
                    <li><i class="fa fa-envelope"></i> jonathan@powur.com</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="large-6 columns">
            <!-- Corporate Panel -->
            <div class="panel contact-panel">
              <h1>Contact Corporate Support on Topics Like:</h1>
              <ul>
                <li>Issues with billing</li>
                <li>Website or other technical support questions</li>
                <li>Glitches or bugs</li>
              </ul>
              <br>
              <h2 class="subheading">24 Hours a Day, 7 Days a Week</h2>
              <p><a target="_blank" class="support-link" href="https://support.powur.com/">https://support.powur.com/</a></p>
              <br>
              <p class="no-margin">You can also call us during business hours of 9 a.m. to 5 p.m. PDT at:</p>
              <h5><i class="fa fa-phone"></i> 480.626.7056</h5>
              <br>
              <p class="no-margin">Or visit us on social media:</p>
              <ul class="no-bullet">
                <li><i class="fa fa-facebook"></i> <a target="_blank" href="https://facebook.com/powurhq" >facebook.com/PowurHQ</a></li>
                <li><i class="fa fa-twitter"></i> <a target="_blank" href="https://twitter.com/powurpbc">twitter.com/PowurPBC</a></li>
                <li><i class="fa fa-youtube"></i> <a target="_blank" href="https://www.youtube.com/channel/UCalOAs-N4ODV-a_iclS6htA">PowurPBC on YouTube</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Green FAQ Row at Bottom -->
        <div class="row faq">
          <div class="large-12 columns">
            <div class="panel faq-panel">
              <p class="text-center">In addition, answers to various questions can be found in the <a ng-href="/advocate-faq">Powur FAQ documents</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-include ng-if="!isSignedIn" src="'shared/footer.html'"></ng-include>
    <ng-include ng-if="isSignedIn" src="'shared/footer-signed-in.html'"></ng-include>
  </main>
</div>
