<ng-include src="'<%= asset_path("shared/header-signed-in.html") %>'"></ng-include>

<main class="sun-user-static-content">

  <div class="row">
    <div class="large-12 columns">
      <h2>Potential Earnings & Disclaimers of Income</h2>

      <p>ANY EARNINGS INFORMATION OR STATEMENTS REGARDING INCOME OR TESTIMONIALS ARE SOLELY TO EXPLAIN THE COMPANY’S COMPENSATION PLAN AND ARE NOT REPRESENTATIONS OR GUARANTEES. ANY EARNINGS OR EXAMPLES OF INCOME ARE ONLY ESTIMATIONS OF WHAT WE BELIEVE YOU COULD EARN. THERE IS NO GUARANTEE YOU’LL DO AS WELL IF YOU RELY UPON OUR INFORMATION. YOU MUST ACCEPT ALL RISK OF YOUR POTENTIAL EARNINGS OR LACK OF.</p>
      <p>WHERE SPECIFIC FIGURES OF INCOME ARE USED, AND ATTRIBUTED TO A PERSON OR BUSINESS, THOSE PERSONS OR BUSINESSES HAVE RIGHTFULLY EARNED THAT FIGURE AMOUNT. THERE IS NO GUARANTEE YOU'LL DO AS WELL IF YOU RELY UPON OUR FIGURES. YOU MUST ACCEPT ALL RISK OF NOT MEETING THE SAME INCOME GOALS OR FIGURES.</p>
      <p>ANY AND ALL CLAIMS OR REPRESENTATIONS OF FINANCIAL EARNINGS ON THIS WEB SITE, ARE NOT TO BE CONSIDERED AS STANDARD OR AVERAGE EARNINGS.</p>
      <p>THERE IS NO GUARANTEE THAT ANY PRIOR SUCCESS, OR PAST SUCCESS, AS TO FINANCIAL EARNINGS, CAN BE USED AS AN INDICATION OF YOUR FUTURE SUCCESS OR INCOME EARNINGS.</p>
      <p>FINANCIAL AND INCOME RESULTS CAN VARY SIGNIFICANTLY AND ARE BASED ON A WIDE RANGE OF VARIABLE FACTORS. WE HAVE NO RESPONSIBILITY OR WAY OF KNOWING HOW WELL YOU WILL PERFORM, AS WE DO NOT KNOW YOU, YOUR BACKGROUND, YOUR ETHIC OF WORK, OR YOUR ABILITIES, PRACTICES OR SKILLS. THEREFORE, WE DO NOT GUARANTEE OR IMPLY THAT YOU WILL BE FINANCIALLY WEALTHY OR RICH, THAT YOU WILL DO AS WELL AS WE DO OR EVEN MAKE MONEY AT ALL. THERE IS NO GUARANTEE YOU'LL DO AS WELL IF YOU RELY UPON OUR INFORMATION AND FIGURES. YOU MUST ACCEPT ALL THE RISK OF NOT PERFORMING AS WELL.</p>
      <p>IF YOU MAKE AND DECISIONS BASED ON ANY INFORMATION DISPLAYED ON OUR WEB SITE, IN OUR PRODUCTS, OR SERVICES, IT SHOULD BE DONE ONLY WITH THE KNOWINGNESS THAT YOU COULD HAVE SIGNIFICANT LOSSES, OR EARN NO MONEY AT ALL. ALL SERVICES AND PRODUCTS BY OUR COMPANY ARE FOR INFORMATIONAL AND EDUCATIONAL PURPOSES ONLY.</p>
      <p>PEOPLE WHO USE OUR SERVICES, PRODUCTS, AND WEB SITE ARE ADVISED TO DO THEIR OWN INVESTIGATION WHEN IT COMES TO MAKING DECISIONS AND ALL MATERIAL, INFORMATION, SERVICES, AND PRODUCTS THAT WE HAVE PROVIDED SHOULD BE VERIFIED INDEPENDENTLY BY YOUR OWN HIGHLY QUALIFED PROFESSIONALS. OUR MATERIAL, SERVICES, AND PRODUCTS ON THIS WEB SITE SHOULD BE CONSIDERED CAREFULLY AND EVALUATED BEFORE MAKING A DECISION, ON WHETHER TO RELY UPON THEM.</p>
      <p>YOU COMPLETELY AGREE THAT OUR COMPANY IS NOT RESPONSIBLE FOR YOUR FAILURE OR SUCCESS OF YOUR ACTIONS RELATING TO ANY MATERIAL PRESENTED BY OUR COMPANY, OR OUR COMPANY SERVICES OR PRODUCTS.</p>

    </div>
  </div>
</main>

<ng-include src="'<%= asset_path("shared/footer-signed-in.html") %>'"></ng-include>
