<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="pow-user-static-content">

  <div class="row">
    <div class="large-12 columns">
      <h2>POWUR PBC<br>PURCHASE TERMS AND CONDITIONS<br>POWUR ENERGY-CONSULTANT CERTIFICATION</h2>


<p>Powur.com (this “Website”) is provided by Powur, PBC (the “Company” or “us” or “we”). By using this Website or

by placing an order using this Website, you agree to abide by the terms and conditions set forth herein. Only upon

acceptance of the terms contained herein, will you be entitled to submit electronic orders. Any violation of the

terms will result in termination of your account.</p>

<p>Please read these Terms and Conditions carefully before agreeing to be bound by the same. If you do not agree to

be bound by the Terms and Conditions, do not place an order.  This website is not intended for persons under 18

years of age.</p>


<h4>Account Terms</h4>

<p>Access to this Website enables you to submit orders electronically for programs and products. You are responsible

for using the Website in a private and secure manner. We are not liable for any damage or loss caused from any

unauthorized account access resulting from your actions, such as not logging out of the account or sharing your

account password. We reserve the right to refuse registration or cancel an account at any time.</p>


<h4>Payment Options:</h4>

<p>You can pay online now using a Visa, MasterCard, American Express, or Discover credit card. Charges will appear

on your credit card statement as "Powur PBC".

You agree to pay the full price for all Products you purchase from the Website. You are responsible for the timely

payment of all fees and for providing us with a valid credit card or PayPal account details for payment of all fees.</p>


<h4>Powur Energy-Consultant Certification Refund Policy</h4>

<p>The Powur Energy-Consultant Certification is an online-based program backed by a 30-day money back guarantee. For more information or to request a refund, use the ‘Contact Us’ link in the footer of this Web page. The guarantee starts from the purchase

date. Refund requests after the refund policy has expired are not eligible for a refund and a refund will not be

issued. In the event that a refund is issued, ALL refunds will be made by crediting the credit card that was used to

make the original purchase. NO refunds will be made by cash or check.</p>

<p>Credit card users may be subject to a preauthorization. The preauthorization is not a charge to the credit card.

However, the then applicable subscription charge may be reserved against the Member's available credit card

limit. The Site will not be held responsible for bank charges, fees or penalties due to overdrawn or delinquent

Subscriber accounts. Contact your credit card issuing financial institution for details.</p>


<h4>Questions</h4>

<p>If you have questions about your order or if you need more information about a transaction, please email our

Customer Service Department at here.  Using our email Support Suite is the optimal way to get your question

answered quickly.  You can also reach us by phone at: 480.626.7056.</p>


    </div>
  </div>
</main>

<ng-include src="'shared/footer-signed-in.html'"></ng-include>
