<section ng-class="{'opaque': section === 'genealogy' && active}" class="conversion-section fade-in-section">
  <!-- USER SECTION -->
  <div class="small-3 columns user-column full-column show-for-medium-up">
    <div class="row header-row">
      <span class="uppercase kpi-detail">my growth</span>
    </div>
    <div ng-class="{'active': activeUser.id === user.id}" class="user-contributor row" ng-click="changeUser(user)">
      <div class="row current-user-row">
        <img ng-if="!user.avatar" class="avatar-medium" ng-src="{{user.defaultAvatarThumb}}"> 
        <img ng-if="user.avatar" class="avatar-medium" ng-src="{{user.avatar.thumb}}">
      </div>
      <div class="row current-user-row details">
        <a href=""><span class="kpi-detail link" data-id="user.id">{{user.first_name}} {{user.last_name}}</span></a>
        <span class="kpi-detail">Grid Size: {{user.team_count}}</span>
        <br>
      </div>
    </div>
    <div class="row performer-row">
      <span class="kpi-detail invert uppercase">Your Grid</span>
    </div>
    <div class="row">
      <div class="contributors-box">
        <div class="animate-box">
          <div ng-repeat="member in team track by $index">
            <div ng-class="{'active': activeUser.id === member.properties.id}" class="contributor" ng-click="changeUser(member.properties)">
              <img ng-if="!member.properties.avatar" class="avatar-small left" ng-src="{{member.properties.defaultAvatarThumb}}">
              <img ng-if="member.properties.avatar" class="avatar-small left" ng-src="{{member.properties.avatar.thumb}}">
              <div class="info-box left">
                <span class="kpi-detail link">{{member.properties.first_name}} {{member.properties.last_name}}</span>
                <span class="kpi-detail">Grid Size: {{member.properties.totals.team_count}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="user-nav">
        <i ng-class="{'active': page > 1}" class="fa fa-caret-up" ng-click="changePage('prev')"></i>
        <i ng-class="{'active': page !== max_page}" class="fa fa-caret-down" ng-click="changePage('next')"></i>
      </div>
    </div>
  </div>

  <div class="small-12 medium-9 columns full-column right-part">
    <!-- CHART SECTION -->
    <div class="small-12 medium-11 columns chart-column">
      <div class="row options-row">
        <div class="small-9 columns">
          <h4 ng-show="!activeUser">Full Growth History</h4>
          <h4 ng-show="activeUser">{{activeUser.first_name}}'s Growth History</h4>
        </div>
        <div class="right">
          <select class="sort" ng-model="scale" ng-change="changeScale(scale)" ng-options="scale.value as scale.label for scale in scaleOptions" convert-to-number></select>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="legend-box" ng-repeat="sets in settings[0].datasets track by $index">
            <div class="legend left" id="legend-{{$index}}"></div>
            <span class="kpi-detail left">{{countTotals($index) || 0}} {{settings[0].datasets[$index].label}}s</span>
          </div>
        </div>
      </div>
      <div class="chart-box">
        <div class="row">
          <!-- <span class="kpi-detail uppercase text-center" ng-model="date">{{date}}</span> -->
          <!-- <span class="kpi-detail uppercase text-center" ng-show="date === april">{{date}}</span> -->
          <canvas id="metricsChart" width="670" height="330"></canvas>
        </div>
      </div>
     <!--  <div class="time-nav">
        <i class="fa fa-caret-left back" ng-click="calendarBack();"></i>
        <span class="current">TODAY</span>
        <i class="fa fa-caret-right forward" ng-click="calendarForward();"></i>
      </div> -->
    </div>
  </div>
</section>
