<section ng-class="{'active': tabKey === 'genealogy'}" class="conversion-section fade-in-section">
  <div class="small-3 columns user-column full-column show-for-medium-up">
    <div class="row header-row">
      <span class="uppercase kpi-detail" ng-show="!activeUser" >my growth</span>
      <span class="uppercase kpi-detail link" ng-show="activeUser" ng-click="changeUser();"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp; return to team graph</span>
    </div>
    <div ng-class="{'active': activeUser.id === user.id}" class="user-contributor row" ng-click="changeUser(user)">
      <div class="row current-user-row">
        <img class="avatar-medium"/>
      </div>
      <div class="row current-user-row details">
        <a href=""><span class="kpi-detail link" data-id="user.id">{{user.first_name}} {{user.last_name}}</span></a>
        <span class="kpi-detail">0% Growth</span>
        <br>
      </div>
    </div>
    <div class="row performer-row">
      <span class="kpi-detail invert uppercase">fastest growing teams</span>
    </div>
  </div>

  <div class="small-12 medium-9 columns full-column right-part">
    <div class="small-12 medium-9 columns chart-column">
      <div class="row">
        <span class="squeezed-center">Here's where you'll see stats on your team. Invites are closed for our beta version, but will be available soon!</span>
      </div>
    </div>

    <div class="small-12 medium-3 columns stats-column show-for-medium-up">
      <div class="row">
        <span class="uppercase stats-title ">team stats</span>
      </div>
      <div class="stats-box small-4 medium-12 columns">
        <span class="kpi-detail">Today</span>
        <span class="stats-detail">0% Growth</detail>
      </div>
      <div class="stats-box small-4 medium-12 columns">
        <span class="kpi-detail">This Week</span>
        <span class="stats-detail">0% Growth</detail>
      </div>
      <div class="stats-box small-4 medium-12 columns">
        <span class="kpi-detail">Total Active</span>
        <span class="stats-detail">0% Growth</detail>
      </div>
    </div>
  </div>
</section>
