<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Kind</th>
      <th>Value</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>{{ item.properties.id }}</td>
      <td>{{ item.properties.kind }}</td>
      <td>{{ overrideValue(item) }}</td>
      <td>{{ item.properties.start_date }}</td>
      <td>{{ item.properties.end_date }}</td>
      <td><a ng-click="confirm('Are you sure you want to delete this override?', 'delete', item)" class="manage-link">delete</a></td>
    </tr>
  </tbody>
</table>
