/*
 * FOOTER for guest user
*/
.sun-landing-footer {
  background: #383838;
  width:100%;
  z-index:1;
  // position:absolute;
  bottom:0;

  .footer-content {
    margin: 2em 0;

    @media #{$small} {
      font-size: 0.8em;
      .footer-content {
        margin:1.2em;
      }
    }
  }

  a {
    color: #fff;
  }

  .footer-nav {
    color: #fff;
    margin-bottom: 1em;

    ul {
      margin: 0;

      li {
        text-transform: uppercase;
        display: inline-block;
      }
    }
  }

  .social-links {
    float: right;

    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 20px;

      &.facebook {
        @include sun-sprites-sprite(facebook-icon);
        height: sun-sprites-sprite-height(facebook-icon);
      }
      &.twitter {
        @include sun-sprites-sprite(twitter-icon);
        height: sun-sprites-sprite-height(twitter-icon);
      }
      &.youtube {
        @include sun-sprites-sprite(youtube-icon);
        height: sun-sprites-sprite-height(youtube-icon);
      }
    }
  }

  .copyright {
    float: left;
    color: #7c7c7c;
    font-size: .9em;
  }
}

/*
 * FOOTER for signed in user
*/
.footer-signed-in {
  padding: 64px 96px 160px;
  overflow: auto;
  border-top: 1px solid rgba(0,0,0,0.08);
  background: #404241;
  text-align: center;
  color: white;
  text-align: left;

  h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(255,255,255,0.6);
  }

  .col {
    width: 224px;
    float: left;
  }

  li {
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
  }
}
