.sun-landing {
  height: 100%;
  position: relative;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1, h2, h3, h4, h5 {
    font-weight: normal;
    display: block;
    text-align: left;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    width: 80%;
  }

  .sun-home-intro {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    h1 {
      color: #fff;
      width:900px;
      font-weight: bold;
      text-transform: uppercase;
      // position:absolute;

      @media #{$small} {
        font-size: 4.5em;
      }
    }

    p {
      color: #fff;
      font-size: 1.4em;
    }
  }

  .sun-buttons-wrapper {
    margin-top: 3em;

    .button {
      background: $sun-color-green;
      text-transform: uppercase;
      margin-right: 1em;
      font-size:1.5em;
    }

    @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

    //colors
    $blue: #E1332D;
    $pink: #fff;

    //base styles

    * {
      box-sizing: inherit;
      transition-property: all;
      transition-duration: .6s;
      transition-timing-function: ease;
    }

    html,
    body {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }

    body {
      background: $blue;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }

    .buttons {
      display: table;
      height: 100%;
      width: 100%;
    }

    .container { 
      display: table-cell;
      padding: 1em;
      text-align: center; 
      vertical-align: middle;
    }

    //MATTS WHACKY BUTTON ANIMATIONS//

    .btn-1 {
      background: darken(#fff, 1.5%);
      color:#333;
      
      svg {
        height: 67px;
        left: 0;
        position: absolute;
        top: 0; 
        width: 100%; 
      }
      
      rect {
        fill: none;
        stroke: #333;
        stroke-width: 3;
        stroke-dasharray: 700, 0;
      }
    }

    .btn-1:hover {
      background: rgba( $sun-color-blue, 0);
      
      rect {
        stroke-width: 6;
        stroke-dasharray: 120, 470;
        stroke-dashoffset: 170;
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .btn-2:hover{
      background:#fff;
      color:$sun-color-green;
    }
    .btn-2:before,.btn-2:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: $sun-color-green;
      transition:400ms ease all;
    }
    .btn-2:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    .btn-2:hover:before,.btn-2:hover:after{
      width:100%;
      transition:800ms ease all;
    }

    // END //

    .sun-button-transparent {
      border: 1px solid #000;
      background: none;
      color: #000;
    }
  }

  .hidden {
    visibility:hidden;
  }

  .gif1 {
    // background: image-url('landing/globe.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .gif2 {
    // background: image-url('landing/scales-grey.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .gif3 {
    // background: image-url('landing/hauzz.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .gif4 {
    // background: image-url('landing/flame-grey.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .sun-bg-1 {
     background-image: image-url("landing/bg-1.jpg");
   }

   .sun-bg-2 {
     background: #fff;
   }

   .sun-bg-3 {
     background: #f4f6f7;
   }

   .sun-bg-4 {
     background-image: image-url("landing/bg-3.jpg");
   }

   .sun-bg-5 {
     background-image: image-url("landing/bg-5.jpg");
   }

   .sun-bg-6 {
     background-image: image-url("landing/bg-4.jpg");
   }

  .sun-sign-in-wrapper {
    padding-top: 200px;

    h1 {
      color: #fff;
      font-size: 2.5em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    form {
      text-align: left;
    }

    label {
      color: #fff;
      font-size: 1.3em;
    }

    .checkbox {
      display: inline;
      font-size: 1em;
    }

    button, .button {
      display: block;
      background: #2ecc71;
      border: none;
      color: #fff;
      display: inline-block;
      font-size: 1.3em;
      font-weight: normal;
      padding: .5em 1em;
      text-transform: uppercase;
      margin-right: 1em;
    }

    .forgot-password {
      color: #fff;
    }

    input[type=text], input[type=password], input[type=email] {
      font-size: 1.3em;
    }
  }
}

.sun-sign-up-page {
  .sun-home-intro {
    h1 {
      text-align: center;
    }
  }

  .sign-up-forms {
    margin-top: 100px;
  }

  h2 {
    width: initial;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;

    span {
      color: $sun-color-blue;
    }
  }

  h6 {
    font-size: 1em;
    width: initial;
    margin: .8em 0 1em 0;
  }

  .invite-form {
    input, .button {
      font-size: 1.4em;
    }

    .button {
      background-image: image-url("landing/arrow-right-icon.png");
      background-repeat: no-repeat;
      background-position: center center;
    }

    .small {
      color: #afb4b9;
      font-size: .8em;

      &.sun-error {
        color: red;
      }

      &.sun-success {
        color: $sun-color-green;
      }
    }
  }

  .invite-sponsor-info {
    margin-top: 30px;

    img {
      border-radius: 30px;
      float: left;
      margin: 0 20px 20px 0;
      width: 60px;
    }

    span {
      font-size: .9em;
      line-height: 1.8em;

      &.big {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  .referral-info {
    margin: 100px 0;

    @media #{$small} {
      margin: 200px 0;
    }

    .lock-icon {
      @include sun-sprites-sprite(lock-icon);
      height: sun-sprites-sprite-height(lock-icon);
      width: sun-sprites-sprite-width(lock-icon);
    }
  }

  .button {
    text-transform: uppercase;
    background-color: $sun-color-green;
  }

  label {
    display: inline-block;
  }

  input[type="checkbox"] {
    margin: 0 10px 30px 0;
  }

  form {
    &.inactive {
      h2 {
        color: #969797;
        span {
          color: #8adcf4;
        }
      }
    }
  }
}


// Landing page slider
.sun-slider {
  overflow: hidden;
  position: relative;
  z-index:3;

  .slide {
    left: -100%;

    &.inactive {
      width: 100%;
      left: 150%;
    }

    &.active {
      left: 50%;
    }
  }
}
