// import the colors
@import "_mixins";

// _mixins sets the body font size to percentage((32/1.6) / (16)) (= 125%)
// so we'll reset font size to 100%
body {
  font-size: 100% !important;
}

.powur-library {
  margin-top: 0;
  padding-top: 210px;

  @media #{$small} {
    padding-top: 140px;
  }

  .section_header {
    // padding: 50px 0 20px 0;
    // border: 0;

    select{
      border:1px solid $dev_dark_gray;
      background-size: 40px 40px;
      background-color: #fff;
      height:62px;
      position:relative;
      display:inline-flex;
      float:left;
      border-radius:0;
      margin-left:10px;
    }

    input[type=search] {
      border:1px solid $dev_dark_gray;
      background-size: 40px 40px;
      background-color: #fff;
      height:62px;
      position:relative;
      display:inline-flex;
      float:left;
      border-radius:0;
      padding-left:30px;
    }

    .section_label {
      border: 1px solid $dev_dark_gray;
      background: #fff;
      height: 60px;

      .tag{
        background:$brand;
        width:60px;
        height:60px;
        float:left;

        img{
          margin-top:15px;
        }
      }

      .text{
        height:40px;
        padding:10px;
        padding-right:20px;
        text-transform:uppercase;
        font-weight:bold;
        font-size:14px;
        line-height:42px;
      }
    }
  }
  .thumbnail {
    height: 220px;
    background: $dev_dark_gray;
    border: 1px solid #fff;
  }

  .hidden {
    display: none;
    height: 220px;
    width: 100%;
    background: blue;
  }

}