
// to prevent modals from loading out of view when the user scrolls:
.reveal-modal {
  position: fixed;
}

.powur-library {
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 210px;

  @media #{$small} {
    padding-top: 140px;
  }

  .hidden {
    display: none;
  }

  .bump {
    padding-bottom: 30px;
  }

  .media-select {

    .tag {
      background: $sun-color-blue;
      width: 60px;
      height: 60px;
      float: left;
    }

    select {
      background-color: #fff;
      height:60px;
      position:absolute;
      display:inline-flex;
      float: left;
      left: 75px;
    }

  }

  input[type=search] {
    border:1px solid $dev_dark_gray;
    background-size: 40px 40px;
    background-color: #fff;
    height:60px;
    position:relative;
    display:inline-flex;
    float: right;
    border-radius:0;
    padding-left:30px;
  }

  .resource {
    height: 220px;
    background: #fff;
    border: 1px solid $dev_dark_gray;
    color: #333;

    .media-info {
      position: relative;
      height: 100%;
      width: 100%;
      text-align: center;

      .media-thumbnail {
        position: absolute;
        top: 30px;
        display: flex;
        justify-content: center;
        top: 60px;
      }

      .media-icon {
        margin: 2em auto;
      }

      .text {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 30px;
        width: 100%;
      }
    }
  }

  .resource:hover{
    cursor: pointer;
  }

  .pdf-download {
    position: absolute;
    bottom: 0;
  }

}

.pdf-preview {
  display: flex;
  justify-content: center;
  top: 0;
  padding-bottom: 20px;

  img {
    width: auto;
    height: auto;
  }
}

.load-more {
  width: 100%;
  text-align: center;
}