html, body {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlighted {
  color: $sun-color-orange;
}


.arrow-box {
  bottom: 3em;
  color: $secondary-color;
  display: block;
  left: 50%;
  margin-left: -115px;
  position: fixed;
  text-align: center;
  width: 215px;
  cursor:pointer;

  &.tuck {
    bottom: -5em;
  }

  &.inverted {
    color: #fff;
  }

  &.dark {
    color: #444;
  }

  &.inactive {
    display: none;
  }

  .fa-chevron-down {
    display:block;
    font-size:2.2em;
    @media #{$large} {
      font-size: 3em;
    }
  }

  span {
    font-size:1.1em;
    @media #{$large} {
      font-size: 1.5em;
    }
  }
}


/*
 * Misc / Utility
 *
*/
.sun-fixed-bg {
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  background-attachment: scroll;

  @media #{$small} {
    background-attachment: fixed;
  }
}

.sun-scrolling-bg {
  z-index: 2;
  height: 100%;
  width:100%;
  padding-bottom:40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .sun-home-content {
    text-align: center;
    margin-top:-40px;

    h4, h5 {
      margin-top: 1.5em;
    }
    h4 {
      font-size: 2.5em;
    }
    h5 {
      font-size: 1.8em;
      text-align: center;
    }
  }

  .sun-buttons-wrapper {
    margin-top: 3em;

    .button {
      background: $sun-color-green;
      text-transform: uppercase;
      margin-right: 1em;
      font-size:2em;

      &.sun-button-solid:hover{
        background:#20B552;
      }

      &.sun-button-transparent:hover{
        background:#eee;
      }
    }

    .buttons {
      display: table;
      height: 100%;
      width: 100%;
    }

    .container {
      display: table-cell;
      padding: 1em;
      text-align: center;
      vertical-align: middle;
    }

    .sun-button-transparent {
      border: 2px solid #000;
      background: none;
      color: #000;
    }

  }
}

input {
  &.radius {
    @include radius($input-border-radius);
  }
}

.sun-modal {
  background-image: image-url('powur-white-logo.png');
  background-color: #f4c751;
  background-repeat: no-repeat;
  background-position: 50% 4em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10em;
}

.narrow {
  margin-left: 10%;
  margin-right: 10%;
}

.uppercase {
  text-transform: uppercase;
}
.normal-case {
  text-transform: none !important;
}

.sun-sign-up-page {
  .sun-fixed-bg {
    height:40%
  }

  .sun-scrolling-bg {
    margin-top:100px;
  }
}

.optional {
  display:none;
  @media #{$medium} {
    display:block;
  }
}
