html, body {
  height: 100%;
  // overflow: auto;
}

.highlighted {
  color: $sun-color-orange;
}

.sun-sign-up-page {
  footer {
    position:relative;
  }
}

.arrow-box {
  bottom: -3em;
  color: $secondary-color;
  display: block;
  left: 50%;
  margin-left: -115px;
  position: absolute;
  text-align: center;
  width: 215px;
  cursor:pointer;

  &.inverted {
    color: #fff;
  }

  &.inactive {
    display: none;
  }

  .fa-chevron-down {
    display:block;
  }

  span {
    font-size:1.5em;
  }
}


// .slide-dot {
//   cursor:pointer;
// }

/*
 * Misc
 *
*/
.sun-fixed-bg {
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  background-attachment: scroll;

  @media #{$small} {
    background-attachment: fixed;
  }
}

.sun-scrolling-bg {
  // position: absolute;
  z-index: 2;
  height: 100%;
  width:100%;
  // top:0;
  // left:0;
  padding-bottom:40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .sun-home-content {
    text-align: center;

    h4, h5 {
      margin-top: 1.5em;
    }
    h4 {
      font-size: 2.5em;
    }
    h5 {
      font-size: 1.8em;
      text-align: center;
    }
  }
}


input {
  &.radius {
    @include radius($input-border-radius);
  }
}

// .sun-landing {

//   .scrolly {
//     overflow-y: hidden;
//     max-height: 0px; /* approximate max height */

//     transition-property: all;
//     transition-duration: .5s;
//     transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//   }
// }
