.sun-promo {
  height: 100%;
  position: relative;
  z-index: 1;

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: .8em;
  }

  .sun-promo-intro {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: left;

    h1 {
      color: #fff;
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1em;

      .highlighted {
        color: $sun-color-blue;
      }

      @media #{$small} {
        font-size: 4em;
      }
    }

    p {
      font-size: 1.2em;
    }

    .button {
      font-size: .8em;
      line-height: 50px;
      padding: 30px 5px 0 5px;

      &.dim {
        background-image: image-url("promo/on-button.png");
        background-position: center 7px;
        background-repeat: no-repeat;
        background-color: #0b0b0b;

        @media #{$small} {
          font-size: 1em;
          background-position: 20px center;
          line-height: 70px;
          padding: 0 20px 0 70px;
        }
      }

      &.watch {
        background-image: image-url("promo/play-icon.png");
        background-position: center 7px;
        background-repeat: no-repeat;
        background-color: $sun-color-blue;

        @media #{$small} {
          font-size: 1em;
          background-position: 20px center;
          line-height: 70px;
          padding: 0 20px 0 70px;
        }
      }
    }
  }

  .sun-promo-content {
    padding-top: 150px;
    padding-bottom: 100px;
    line-height: 1.6em;

    h1, h2 {
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1em;

      .highlighted {
        color: $sun-color-orange;
      }

      @media #{$small} {
        font-size: 3.3em;
      }
    }

    b {
      font-size: 1.1em;
    }
  }

  .sun-promo-dim {
    p {
      color: #fff;
      font-size: 1.2em;
      margin: 80px 0;
    }

    .video-player-wrapper {
      width: 100%;
      height: 380px;
      background-image: image-url("promo/video-placeholder.jpg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .sun-promo-slide-3 {
    h2, h5 {
      font-weight: bold;
      line-height: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    h5 {
      color: $sun-color-orange;
      font-size: 2em;
      margin-bottom: 2em;
    }

    h2 {
      font-size: 4em;
      margin: .5em 0 .7em 0;
    }

    hr {
      border-top: 2px solid $sun-color-blue;
      width: 50px;
    }

    i {
      font-style: initial;
    }
    span {
      font-size: 1.1em;
    }
    span.small {
      font-size: 1em;
    }
    span.big {
      font-size: 1.3em;
    }

    .clock {
      background-image: image-url("promo/clock-icon.png");
      background-repeat: no-repeat;
      background-position: left center;
      line-height: 32px;
      margin: 2em 0 .5em 0;
      padding-left: 40px;
      font-size: 32px;
      font-weight: bold;
      font-family: "Montserrat";
    }

    .highlighted {
      color: $sun-color-blue;
      font-size: inherit;
    }
  }

  .sun-promo-slide-4 {
    h4, h5 {
      color: #fff;
      font-weight: bold;
      line-height: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    h5 {
      font-size: 1.9em;
      margin: 3em 0;
    }

    h4 {
      font-size: 3em;
      color: #fceecb;
      margin: .2em 0;
    }

    span {
      line-height: 1.5em;
    }

    .slide-4-extra {
      text-align: center;
      margin-top: 3em;
      font-size: 1em;
      color: #70633f;
    }
  }

  .sun-promo-slide-5 {
    text-align: center;

    h4, h5 {
      font-size: 2em;
      line-height: 1em;
      text-transform: uppercase;
    }

    h4 {
      color: $sun-color-orange;
      font-weight: bold;
      margin-bottom: 2em;
    }

    h5 {
      color: #383838;
      display: inline;
      font-weight: normal;
      margin-bottom: .5em;

      b {
        font-weight: bold;
      }
    }

    span.big {
      font-size: 1.2em;
      font-weight: bold;
    }

    .selections-wrapper {
      margin-top: 100px;
      text-align: left;

      h5 {
        font-size: 1.7em;
      }

      span {
        font-size: .8em;
      }

      .selection-1 {
        background: image-url("promo/pencil-icon.png") no-repeat 20px center;
        padding: 20px 0 50px 100px;
      }

      .selection-2 {
        background: image-url("promo/share-icon.png") no-repeat 20px center;
        padding: 20px 0 50px 120px;
      }

      .selection-3 {
        background: image-url("promo/make-it-rain-icon.png") no-repeat 20px center;
        padding: 20px 0 50px 120px;
      }
    }
  }

  .sun-promo-slide-6 {
    .slide-6-extra {
      margin-top: 500px;

      @media #{$medium} {
        margin-top: 0;
      }
    }

    .screen-with-zoom {
      position: absolute;
      left: 0;
    }

    h4 {
      color: $sun-color-orange;
      font-size: 2em;
      line-height: 1em;
      text-transform: uppercase;
      margin-bottom: 2em;
    }

    span {
      color: #fff;
      display: block;
      line-height: 1.5em;
      margin: 20px 0 100px 0;

      &.small {
        color: #bbb;
        font-size: .9em;
      }
    }
  }

  .sun-promo-energy-slide-4 {
    height: 100%;
    padding: 0;

    .row {
      height: 100%;
    }

    .left-part {
      color: #383838;
      height: 100%;
      z-index: 1;

      .left-bg {
        background: $sun-color-blue;
        height: 100%;
        position: absolute;
        right: 0;
        width: 2000px;
      }
    }

    .right-part {
      color: #fff;
      display: none;
      height: 100%;

      .right-bg {
        background: image-url('promo/semitrgrid.png');
        height: 100%;
        position: absolute;
        left: -1px;
        width: 2000px;
      }

      p {
        font-size: 1.3em;
        margin-top: 50px;
        max-width: 500px;
      }

      @media #{$small} {
        display: block;
      }
    }

    .inner-content {
      padding-top: 150px;
      position: relative;

      .slide-show-wrapper {
        margin-bottom: 50px;

        ///// for the transition
        left: -1000px;
        position: absolute;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 0;
        /////

        &.active {
          left: 0
        }

        .slide-image {
          margin-right: 10px;
          width: 190px;
        }
      }

      .slide-show-dots {
        margin-top: 400px;

        a {
          display: inline-block;
          margin-right: 10px;
          @include sun-sprites-sprite(slide-show-dot);
          height: sun-sprites-sprite-height(slide-show-dot);
          width: sun-sprites-sprite-width(slide-show-dot);

          &.active {
            @include sun-sprites-sprite(slide-show-dot-active);
            height: sun-sprites-sprite-height(slide-show-dot-active);
            width: sun-sprites-sprite-width(slide-show-dot-active);
          }
        }
      }
    }

    h1 {
      color: #fff;
    }
  }

  .sun-promo-energy-slide-5 {
    h4 {
      font-size: 2.2em;
      font-weight: bold;
    }

    h5 {
      color: $sun-color-blue;
      font-size: 2em;
      font-weight: bold;
      margin: .7em 0 2em 0;
      text-transform: uppercase;
    }

    h6 {
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
    }

    hr {
      border-top: 2px solid $sun-color-blue;
      width: 50px;
    }
  }

  .sun-promo-slider-wrapper {
    margin-top: 3em;
    text-align: center;

    h5 {
      font-size: 1.2em;
      text-transform: uppercase;
    }

    span {
      color: #a8a8a8;
    }

    .slider-inner {
      margin: 30px auto 50px auto;
      position: relative;
      text-align: left;
      width: 300px;

      span.pointer {
        background-color: $sun-color-blue;
        height: 30px;
        width: 30px;
        top: -11px;

        &:after {
          background-color: $sun-color-blue;
          color: #000;
          content: '$';
          font-size: 1.2em;
          line-height: 1em;
          left: 9px;
          top: 4px;
        }
      }

      .image-2 {
        position: absolute;
        right: 0;
      }
    }
  }

  .sunrun-icon-wrapper {
    @include sun-sprites-sprite(sunrun-icon);
    height: sun-sprites-sprite-height(sunrun-icon);
    width: sun-sprites-sprite-width(sunrun-icon);
    margin-bottom: 2em;
  }

  .decentralize-icon-wrapper {
    @include sun-sprites-sprite(decentralize-icon);
    height: sun-sprites-sprite-height(decentralize-icon);
    width: sun-sprites-sprite-width(decentralize-icon);
    margin-bottom: 20px;
  }

  .pocket-wallet-icon-wrapper {
    @include sun-sprites-sprite(pocket-wallet-icon);
    height: sun-sprites-sprite-height(pocket-wallet-icon);
    width: sun-sprites-sprite-width(pocket-wallet-icon);
    margin-bottom: 20px;
  }

  .pollution-icon-wrapper {
    @include sun-sprites-sprite(pollution-icon);
    height: sun-sprites-sprite-height(pollution-icon);
    width: sun-sprites-sprite-width(pollution-icon);
    margin-bottom: 20px;
  }

  .sun-logo-wrapper {
    @include sun-sprites-sprite(sun-logo);
    height: sun-sprites-sprite-height(sun-logo);
    width: sun-sprites-sprite-width(sun-logo);
    margin-bottom: 40px;
  }

  .sun-bg-1 {
    background-image: image-url("promo/bg-1.jpg");
  }

  .sun-bg-2 {
    background-image: image-url("promo/bg-2.jpg");

    h2 {
      color: #fff;
    }

    .sun-promo-slider-wrapper {
      h5 {
        color: $sun-color-orange;
      }
    }
  }

  .sun-bg-3 {
    background-color: #fff;

    h2 {
      color: #383838;
    }

    .sun-promo-slider-wrapper {
      h5 {
        color: $sun-color-blue;
      }
    }
  }

  .sun-bg-5 {
    background-color: #f4f6f7;

    .icon-placeholder {
      height: 150px;
    }

    h3 {
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  .sun-bg-4 {
    background-color: $sun-color-orange;
  }

  .sun-bg-6 {
    background-image: image-url("promo/bg-2.jpg");
  }

  .sun-bg-7 {
    background-image: image-url("promo/bg-7.jpg");

    p {
      color: #fff;
    }
  }

  .sun-bg-8 {
    background-image: image-url("promo/bg-8.jpg");

    h5 {
      color: $sun-color-orange;
      font-size: 1.5em;
    }

    p {
      color: #fff;
    }
  }

  .sun-bg-9 {
    background-image: image-url("promo/bg-9.jpg");
    height: 100%;
    overflow: hidden;
  }
}
