$large-screen: em-calc(1300);
$xl-screen: em-calc(1500);

.sun-promo {
  height: 100%;
  position: relative;
  z-index: 1;

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0.5em;
    @media #{$large} {
      margin-bottom: 1em;
    }

    .highlight-1, &.highlight-1 {
      color: $sun-color-blue;
      display:inline;
    }

    .highlight-2, &.highlight-2 {
      color: $sun-color-orange;
    }
  }

  //For Mobile
  h1 {
    font-size:30pt;
    line-height:30pt;
    @media #{$small}{
      font-size:60pt;
      line-height:50pt;
    }
  }
  h2 {
    font-size:25pt;
    line-height:25pt;
    @media #{$small}{
      font-size:40pt;
      line-height:50pt;
    }
  }
  h4 {
    font-size:20pt !important;
    line-height:26pt;
    @media #{$small}{
      font-size:30pt;
      line-height:36pt;
    }
  }
  span {
    font-size:13pt;
    line-height:20pt;
    @media #{$small}{
      font-size:15pt;
      line-height:15pt;
    }
  }
  //end

  .sun-promo-intro {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: left;
    width:90%;
    @media #{$small} {
      width:55%;
    }

    h1 {
      color: #fff;
      // width:750px;
      font-size:2em;
      font-weight: bold;
      text-transform: uppercase;

      .highlight-1, &.highlight-1 {
        color: $sun-color-blue;
        display:inline;
      }

      .highlight-2, &.highlight-2 {
        color: $sun-color-orange;
        display:inline;
      }

      @media #{$large} {
        font-size: 4em;
        width:100%;
      }
      @media #{$small} {
        font-size: 3em;
        width:100%;
      }
    }

    p {
      font-size: 1.2em;
    }

    .button {
      font-size: .8em;
      line-height: 50px;
      padding: 30px 5px 0 5px;

      &.dim {
        background-image: image-url("promo/on-button.png");
        font-size: 1em;
        background-position: 20px center;
        line-height: 70px;
        padding: 0 20px 0 70px;
        background-repeat: no-repeat;
        background-color: #0b0b0b;
      }

      &.watch {
        background-image: image-url("promo/play-icon.png");
        background-repeat: no-repeat;
        background-color: $sun-color-blue;
        font-size: 1em;
        background-position: 20px center;
        line-height: 70px;
        padding: 0 20px 0 70px;

      }
    }
  }

  .sun-promo-content {
    padding-top: 150px;
    padding-bottom: 0px;
    line-height: 1.6em;
    @media #{$small} {
      padding-bottom: 100px;
    }

    h1, h2 {
      font-size: 2.3em;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1em;
      text-align:center;
      @media #{$medium} {
        font-size: 3.3em;
        width:100%;
        text-align:left;
      }

      .highlighted {
        color: $sun-color-orange;
        display:inline;
      }
    }

    .alt-large-4 {
      width:30%;
      float:left;
      padding-left:4%;
      @media #{$large} {
        padding:0 3%;
      }
      h3 {
        font-size:1.4em;
        line-height:1em;
        @media #{$large} {
          font-size:1.8em;
          line-height:1.4em;
        }
      }
      span {
        line-height:0.9em;
        @media #{$large} {
          line-height:1.6em;
        }
      }
    }

    .alt-large-9 {
      padding:0 10%;
      @media #{$large} {
        padding:0 2%;
      }
    }

    .alt-large-8 {
      width:60%;
      float:left;
      padding-left:4%;
      @media #{$large} {
        padding:0 3%;
      }
    }

    b {
      font-size: 1.1em;
    }
  }

  .sun-promo-dim {
    padding-top:90px;
    @media #{$large} {
      padding-top:150px;
    }
    p {
      color: #fff;
      font-size: 1.2em;
      margin: 80px 0;
    }

    .video-player-wrapper {
      width:330px;
      height:220px;
      margin:35px;
      background-image: image-url("promo/video-placeholder.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      @media #{$large} {
        width: 610px;
        height: 380px;
        margin:0px;
      }
      @media #{$small} {
        margin:0px;
      }
    }
  }


  /*
   * Promo Page Slide Show
  */
  .slide-show-wrapper {
    height:400px;
    @media #{$large} {
      height:500px;
    }
    overflow: hidden;

    .slide-show-inner {
      margin-bottom: 50px;
      ///// for the transition
      left: -1000px;
      position: absolute;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      z-index: 0;
      /////

      &.active {
        left: 0
      }

      .image {
        margin-right: 15px;
        width: 150px;
      }

      p {
        font-size: 1em;
        @media #{$large} {
          font-size: 1.2em;
        }
        line-height: 1.5em;
        margin-top: 50px;
        max-width: 500px;
      }
    }

    .slide-show-dots {
      position:absolute;
      color:#ccc;

      a {
        display: inline-block;
        margin-right: 10px;
        @include landing-sprite(slide-show-dot);

        &.active {
          @include landing-sprite(slide-show-dot-active);
        }
      }

      &.on-white {
        a {
          border-color: #555;
          border-radius: 10px;
          border: 1px solid #555;
          background: none;

          &.active {
            background: #555;
          }
        }
      }
    }
  }
  /* end slide show */

  .fa-chevron-left, .fa-chevron-right {
    margin:0 10px 0 0px;
    cursor:pointer;
    color:#333;
    z-index:999;
  }

  .sun-promo-slide-3 {
    padding-top:100px;
    text-align:center;
    @media #{$small} {
      text-align:left;
      padding-top:150px;
    }

    h2, h5 {
      font-weight: bold;
      line-height: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    h5 {
      color: $sun-color-orange;
      font-size: 2em;
      margin-bottom: 2em;
    }

    h2 {
      font-size:2em;
      margin: .5em 0 .7em 0;
      @media #{$small} {
        font-size: 4em;
      }
    }

    hr {
      border-top: 2px solid $sun-color-blue;
      width: 50px;
    }

    i {
      font-style: initial;
    }
    span {
      font-size: 1.1em;
    }
    span.small {
      font-size: 1em;
    }
    span.big {
      font-size: 1.3em;
    }

    .clock {
      background-image: image-url("promo/clock-icon.png");
      background-repeat: no-repeat;
      background-position: left center;
      line-height: 32px;
      padding-left: 0px;
      font-size: 32px;
      font-weight: bold;
      text-align:center;
      margin: 1em auto;
      width:240px;

      @media #{$small} {
        padding-left: 40px;
        text-align:left;
        margin: 2em 0 .5em 0;
      }
    }

    .highlighted {
      color: $sun-color-blue;
      font-size: inherit;
    }
  }

  .sun-promo-slide-4 {
    span:first-of-type {
      font-size:1.2em;
      color: #444;
    }
    h4, h5 {
      color: #fff;
      font-weight: bold;
      line-height: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    h5 {
      font-size: 2.2em;
      margin: 2em 0;
    }

    h4 {
      font-size: 3em;
      color: #fff;
      margin: .2em 0;
    }

    .slide-4-extra {
      text-align: center;
      margin-top: 3em;
      font-size: 1em;
      color: #444;
      span {
        font-size:1em;
      }
    }
  }

  .sun-promo-slide-5 {
    text-align: center;

    h4, h5 {
      font-size: 2em;
      line-height: 1em;
      text-transform: uppercase;
    }

    h4 {
      color: $sun-color-orange;
      font-weight: bold;
      margin-bottom: 2em;
    }

    h5 {
      color: #383838;
      display: inline;
      font-weight: normal;
      margin-bottom: .5em;

      b {
        font-weight: bold;
      }
    }

    span.big {
      font-size: 1.2em;
      font-weight: bold;
    }

    .selections-wrapper {
      margin-top: 100px;
      text-align: left;

      h5 {
        font-size: 1.7em;
      }

      span {
        font-size: 1em;
      }

      .selection-1 {
        background: image-url("promo/pencil-icon.png") no-repeat 20px center;
        padding: 20px 0 50px 100px;
      }

      .selection-2 {
        background: image-url("promo/share-icon.png") no-repeat 20px center;
        padding: 20px 0 50px 120px;
      }

      .selection-3 {
        background: image-url("promo/make-it-rain-icon.png") no-repeat 20px center;
        padding: 20px 0 50px 120px;
      }
    }
  }

  .sun-promo-slide-6 {
    .row{
      width:66%;
    }

    .slide-6-extra {

      .button {
        background: $sun-color-green;
        font-size:1.3em;
        text-transform: uppercase;
        margin-right: 1em;
        padding:20px 60px;
      }

      @media #{$large} {
        margin-top: 0;
      }
    }

    .screen-with-zoom {
      width:33%;
      max-width:400px;
      position: absolute;
      left: 0;
    }

    h4 {
      color: $sun-color-orange;
      font-size: 2em;
      line-height: 1em;
      text-transform: uppercase;
      margin-bottom: 2em;
    }

    span {
      color: #fff;
      display: block;
      line-height: 1.5em;
      margin: 20px 0 100px 0;

      &.small {
        color: #bbb;
        font-size: .9em;
      }
    }
  }
  .sun-promo-energy-slide-3 {
    .row {
      padding-top:100px;
    }

    span, b {
      font-size:12pt;
      line-height:15pt;
      @media #{$small} {
        font-size:15pt;
        line-height:30pt;
      }
    }
    h5 {
      font-size:12pt;
      line-height:15pt;
      @media #{$small} {
        font-size:15pt;
        line-height:30pt;
      }
    }
    .slider-inner { 
      margin-top:0px !important;
      @media #{$small} {
        margin-top:15px;
      }
      @media #{$medium} {
        margin-top:25px;
      }
    }
    .sun-promo-slider-wrapper { 
      margin-top:20px;
      @media #{$small} {
        margin-top:25px;
      }
    }
    
  }

  .sun-promo-energy-slide-4 {
    height: 100%;
    padding: 0;
    margin-top:5%;
    font-size:1.3em;
    @media #{$small} {
      p {
        font-size:1em;
      }
    }

    .fa-chevron-left,  .fa-chevron-right {
      color:#eee;
      position:absolute;
      top:20%;
    }

    .fa-chevron-left {
      left:2%;
    }

    .fa-chevron-right {
      left:67%;
    }

    .slide-show-dots {
      bottom:-350px;
    }

    .row {
      height: 100%;
    }

    .left-part {
      color: #383838;
      height: 100%;
      z-index: 1;

      .left-bg {
        background: $sun-color-blue;
        height: 110%;
        position: absolute;
        margin-left:100px;
        right: 0;
        width: 2000px;
      }

      .inner-content {
        margin-left:0;
        padding-top: 140px;
      }
    }

    .right-part {
      color: #fff;
      // display: none;
      height: 100%;
      overflow: initial;

      .right-bg {
        background: image-url('promo/semitrgrid.png');
        height: 100%;
        position: absolute;
        left: -1px;
        width: 2000px;
      }
    }

    .inner-content {
      padding-top: 150px;
      position: relative;
      margin-left:50px;
    }

    h1 {
      color: #fff;
    }
  }


  .sun-promo-energy-slide-5 {
    padding-bottom:30px !important;

    h2, .highlight-1 {
      font-size:2em;
      text-align:left;
      text-transform:none;
      @media #{$small} {
        font-size:2.5em;
      }
      @media #{$large} {
        font-size:2.8em;
      }
    }
    h4 {
      font-size: 2.2em;
      font-weight: bold;
    }

    h5 {
      color: $sun-color-blue;
      font-size: 2em;
      font-weight: bold;
      margin: .7em 0 2em 0;
      text-transform: uppercase;
    }

    h6 {
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
    }

    hr {
      border-top: 2px solid $sun-color-blue;
      width: 50px;
    }

    .large-8 {
      width:95%;
      margin-right:2%;
      @media #{$small} {
        width:60%;
      }
    }

    .stock-photo {
      margin-left:20px;
    }

  }

  .sun-promo-energy-slide-6 {
    padding-bottom:20px !important;
    .row {
      width:90%;
    }
  }

  .sun-promo-slider-wrapper {
    margin-top: 3em;
    text-align: center;

    h5 {
      font-size: 1em;
      text-transform: uppercase;
      @media #{$large} {
        font-size: 1.2em;
        width:100%;
      }
    }

    span {
      color: #a8a8a8;
    }

    .slider-inner {
      margin: 30px auto 40px auto;
      position: relative;
      text-align: left;
      width: 300px;

      span.pointer {
        background-color: $sun-color-blue;
        height: 30px;
        width: 30px;
        top: -11px;

        &:after {
          background-color: $sun-color-blue;
          color: #000;
          content: '$';
          font-size: 1.2em;
          line-height: 1em;
          left: 9px;
          top: 4px;
        }
      }

      .image-2 {
        opacity:0.3;
        position: absolute;
        right: 0;
      }
    }
  }

  .sunrun-icon-wrapper {
    @include landing-sprite(sunrun-icon);
    margin:auto;

    @media #{$large} {
      margin:0 0 2em 0;
    }
  }

  .decentralize-icon-wrapper {
    @include landing-sprite(decentralize-icon);
    margin-bottom: 20px;
  }

  .pocket-wallet-icon-wrapper {
    @include landing-sprite(pocket-wallet-icon);
    margin-bottom: 20px;
  }

  .pollution-icon-wrapper {
    @include landing-sprite(pollution-icon);
    margin-bottom: 20px;
  }

  .sun-logo-wrapper {
    margin:0 0 30px 40px;
    width:250px;
  }

  .stand-and-sun-icon-wrapper {
    @include landing-sprite(stand-and-sun-icon);
    display: inline-block;
    @media #{$large} {
      margin-bottom: 40px;
    }
  }

  &.sun-create-wealth-page {
    .scroll-slide-2 {
      .row {
        width:90%;
      }
      height:100vh;
      min-height:1200px;

      h2 {
        color:#fff;
        font-size:1.7em;
        @media #{$small} {
          font-size: 2.3em;
        }
        @media #{$large} {
          font-size: 3.3em;
        }
      }

      p {
        margin: 2% 5%;
        font-size:1em;
      }

      h5 {
        color:$sun-color-orange;
      }
    }

    .sun-promo-slide-3 {
      h2 {
        font-size:3em;
        @media #{$large} {
          font-size:4em;
        }
      }
    }

    .sun-promo-slide-4 {
      text-align:center;
      width:90%;
      padding-bottom:150px;
      @media #{$medium} {
        text-align:left;
      }
    }

    .sun-promo-slide-5 {
      width:90%;
      padding-bottom:150px;
    }

    .alt-large-6 {
      width:40%;
      margin:0 5%;
      @media #{$large} {
        width:50%;
        margin:0;
      }
      h2 {
        text-align:left;
      }
    }

    .alt-large-12 {
      margin:0 0;
      @media #{$large} {
       margin:5% 0;
      }
    }

    .alt-large-4 {
      margin:0 0;
      width:25%;
      @media #{$large} {
       margin:5% 0;
       width:33.33%;
      }
    }

    .alt-large-8 {
      width:50%;
      @media #{$large} {
       width:66.66%;
      }
    }

    .scroll-slide-3 {
      height:900px;
      position:relative !important;
    }


    .btn-green:hover {
      background:#20B552 !important;
    }

    .scroll-down {
      padding-top:100px;
      color:#bbb;
      margin:auto;
      width:500px;
    }
  }

  &.sun-why-solar-page {
    .sun-bg-3, .sun-bg-5, .sun-bg-11  {
      .row {
        width:90%;
        padding-bottom:100px;
        padding-top:100px;
      }
    }
    .sun-bg-3 {
      padding-bottom:0px;
      .sun-promo-content {
        padding-bottom:0px;
      }
      .fa-chevron-left, .fa-chevron-right {
        position:absolute;
        top:47%;
        color:#333;
      }

      .fa-chevron-left {
        left:13%;
      }

      .fa-chevron-right {
        left:86%;
      }
    }

    .slide-show-dots {
      bottom:80px;
      left:48%;
    }

    .slide-show-inner {
      width: 100%;
      left: -100%;
    }

    .slide-2-ico-wrapper {
      height: 50px;
      margin-top: 30px;
      @media #{$large}{ 
        margin-top: 40px;
        height: 100px;
      }
      text-align: center;

      @for $i from 1 through 6 {
        .ico-#{$i} {
          @include landing-sprite(why-solar-ico-#{$i});
          display: inline-block;
        }
      }
    }
  }

  &.sun-why-powur-page {
    .sun-promo-intro {
      width:90%;

      h1 {
        margin-top:-20px;
      }
    }

    .row {
      width:90%;
    }

    .sun-bg-17, .sun-bg-18 {
      h2 {
        text-align:left;
      }
    }
  }

  &.sun-why-you-page {
    .huge-purpose-image-wrapper {
      height: 200px;
      text-align: center;

      @for $i from 1 through 5 {
        .purpose-img-#{$i} {
          @include landing-sprite(why-you-ico-#{$i});
          display: inline-block;
        }
      }
    }

    .sun-bg-5, .sun-bg-13 {
      .row {
        width:90%;
      }
      h2 {
        text-align:left;
      }
    }

    .slide-show-dots {
      position:absolute;
      bottom:80px;
    }

    .sun-slider {
      h2 {
        display:inline;
        height:200px;
      }
      h3 {
        width:600px;
        margin-top:30px;
        @media #{$large} {
          width:800px;
          margin-top:50px;
        }
      }
      .fa-chevron-left {
        position:absolute;
        left:25%;
      }
      .fa-chevron-right {
        position:absolute;
        left:75%;
      }
      
    }
  }

  &.sun-our-origin-page {
    
    .sun-origin-story-bg {
      background-image: image-url("promo/rainforest.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 325px;
      padding-top: 150px;

      h1 {
        color: #fff;
        text-transform: uppercase;
      }
    }

    .origin-people {
      margin: 125px 0 70px 0;
      width: 100%;
    }

    .our-origin-ico {
      margin: 40px 0;
      width: 100%;
      display: none;

      @media #{$small} {
        display: block;
      }
    }

    blockquote {
      border: none;
      color: #000;
      font-size: 2em;
      font-weight: bold;
      padding: 1em 0;
      quotes: "\201C""\201D""\2018""\2019";

      &:before {
        color: $sun-color-orange;
        content: open-quote;
        font-size: 2em;
        line-height: 1em;
        margin-right: .5em;
      }
    }

    .signature {
      h3 {
        font-weight: bold;
        margin-top: 70px;
      }

      img {
        margin: 0 0 20px 0;
      }

      p {
        margin-bottom: 100px;
      }
    }
  }

  &.sun-our-team-page {
    .sun-our-team-bg {
      background-image: image-url("promo/brown-grass.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 325px;
      padding-top: 150px;

      h1 {
        color: #fff;
        text-transform: uppercase;
      }
    }

    .faces-wrapper {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .face-wrapper {
      height: 500px;
      position: relative;
      overflow: hidden;
      margin-bottom: 40px;

      .face {
        width: 100%;
      }

      .face-mask {
        width: 100%;
        height: 500px;
        position: absolute;
        text-align: center;
        line-height: 2em;

        .name {
          color: #fff;
          display: inline-block;
          font-size: 2em;
          margin-top: 90%;
        }
        .title {
          color: $sun-color-orange;
          font-size: 1.1em;
        }
        .more-details {
          color: #fff;
          display: none;
          margin: 20px;
          font-size: .7em;
          line-height: 2em;
          font-weight: normal;
        }
      }
      &:hover {
        .face-mask {
          background: rgba(0, 0, 0, 0.5);
        }
        .name {
          display: none;
        }
        .title {
          display: none;
        }
        .more-details {
          display: inline-block;
        }
      }
    }
  }

  &.sun-our-dna-page {
    .row {
      width:90%;
    }

    .normal-case {
      float:left;
    }

    .sun-promo-content {
      padding-top: 300px;
      padding-bottom: 250px;
    }

    .dna-wrapper {
      height: 444px;
      overflow: hidden;

      p {
        font-size:0.9em;
        @media #{$large} {
          font-size:1em;
        }
      }
    }

    .dna-ico-wrapper {
      height: 170px;
      text-align: center;
      padding-top: 70px;
    }

    @for $i from 1 through 20 {
      .dna-ico-#{$i} {
        @include landing-sprite(our-dna-ico-#{$i});
        display: inline-block;
      }
    }
  }

  &.sun-why-direct-page {
    .slide-2 {
      padding:0 7%;
    }
    .large-6 {
      padding-right:5%;
    }
    @media #{$large} {
      .slide-2 {
        padding:0%;
      }
    }
    .sun-bg-5 {
      .row {
        width:90%;
      }
    }
  }

  .sun-bg-1 {
    background-image: image-url("promo/bg-1.jpg");
  }

  .sun-bg-2 {
    background-image: image-url("promo/bg-2.jpg");

    h2 {
      color: #fff;
    }

    .sun-promo-slider-wrapper {
      margin:0;
      @media #{$large} {
        margin:3% 3%;
      }
      h5 {
        color: $sun-color-orange;
      }
    }
  }

  .sun-bg-3 {
    background-color: #fff;

    h2 {
      color: #383838;
    }

    h4 {
      text-transform: uppercase;
    }

    .sun-promo-slider-wrapper {
      h5 {
        color: $sun-color-blue;
      }
    }

    hr.shorty {
      border-color: $sun-color-blue;
      border-width: 2px;
      width: 40px;
    }
  }

  .sun-bg-5 {
    background-color: #f4f6f7;
    .sun-promo-content {
      padding-top:90px;
      @media #{$small} {
        padding-top:150px;
      }
    }
    .icon-placeholder {
      height: 150px;
      margin-left:20%;
      @media #{$small} {
        margin-left:0px;
      }
    }

    h3 {
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  .sun-bg-4 {
    background-color: $sun-color-orange;
  }

  .sun-bg-6 {
    background-image: image-url("promo/bg-2.jpg");
  }

  .sun-bg-7 {
    background-image: image-url("promo/bg-7.jpg");
    background-color: #fff;

    p {
      color: #fff;
    }
  }

  .sun-bg-8 {
    background-image: image-url("promo/bg-8.jpg");

    h5 {
      color: $sun-color-orange;
      font-size: 1.5em;
    }

    p {
      color: #fff;
    }
  }

  .sun-bg-9 {
    background-image: image-url("promo/bg-9.jpg");
    height: 100%;
    overflow: hidden;
    background-size:cover;
  }

  .sun-bg-10 {
    background-image: image-url("promo/bg-10.jpg");

    p {
      color: #fff;
    }
  }

  .sun-bg-11 {
    background-image: image-url("promo/bg-11.jpg");

    h5 {
      color: #fff;
      text-transform: uppercase;
      font-size: 2em;
    }

    p {
      color: #fff;
    }
  }

  .sun-bg-12 {
    background-image: image-url("promo/bg-12.jpg");

    h2 {
      color: #fff;
      font-size: 2.1em;
    }
  }

  .sun-bg-13 {
    background-image: image-url("promo/bg-13.jpg");

    h2 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  .sun-bg-14 {
    background-image: image-url("promo/bg-14.jpg");

    h4 {
      text-transform: uppercase;
    }
  }

  .sun-bg-15 {
    background-image: image-url("promo/bg-15.jpg");

    .slide-show-dots {
      bottom:0px;
    }

    .fa-chevron-left, .fa-chevron-right {
      position:absolute;
      top:32%;
      color:#ccc;
    }

    .fa-chevron-left {
      left:39%;
    }

    .fa-chevron-right {
      left:78%;
    }

    h2 {
      color: #fff;
    }

    .slide-show-inner {
      p {
        color: #fff;
      }
    }
  }

  .sun-bg-16 {
    background-image: image-url("promo/bg-16.jpg");

    p {
      color: #fff;
    }

    h1 {
      display: inline;
      line-height: 1.5em;
    }
  }

  .sun-bg-17 {
    background-image: image-url("promo/bg-17.jpg");

    p {
      color: #fff;
    }
  }

  .sun-bg-18 {
    background-image: image-url("promo/bg-18.jpg");
    text-align: center;

    p {
      color: #fff;
      text-align: left;
    }
  }

  .sun-bg-19 {
    background-image: image-url("promo/bg-19.jpg");
    background-color: #fff;

    h1 { 
      text-align:center;
      width:100%;
    }

    .sun-promo-intro {
      width:100%;
    }
  }

  .sun-bg-20 {
    background-image: image-url("promo/bg-20.jpg");

    p {
      color: #fff;
    }
  }
}
