<form>
  <fieldset>
    <legend ng-if="mode === 'new'">New Product</legend>
    <legend ng-if="mode === 'edit'">Update Product</legend>
    <!-- Add Product Form -->
      <div ng-repeat="field in formAction.fields" class="row">
        <div class="large-12 columns">
          <label for="{{field.name}}">{{field.name}}</label>
          <!-- Selects -->
          <select ng-model="product[field.name]" ng-if="field.type === 'select'" name="{{field.name}}" id="{{field.name}}">
            <option ng-repeat="(key, name) in field.options" value="{{key}}">{{name}}</option>
          </select>
          <!-- String Inputs -->
          <input ng-model="product[field.name]" ng-if="field.type === 'string'" type="text" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}">
          <!-- Text area Inputs -->
          <textarea ng-model="product[field.name]" ng-if="field.type === 'text'" name="{{field.name}}" id="{{field.name}}">{{field.value}}</textarea>
          <!-- Number Inputs -->
          <input ng-model="product[field.name]" ng-if="field.type === 'number'" type="number" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}">
          <!-- Boolean -->
          <input ng-model="product[field.name]" ng-if="field.type === 'boolean'" type="checkbox" name="{{field.name}}" id="{{field.name}}">
          <label ng-if="field.type === 'boolean'">University Class</label>

          <!-- File -->
          <input ng-model="product.image_original_path" ng-if="field.name === 'image_original_path'" name="image_original_path" type="text" />
          <ng-s3-file-upload ng-if="field.name === 'image_original_path'" data="product.image_original_path" config="/u/uploader_config.json?mode=product_image" show-progress="1" auto-upload="1"></ng-s3-file-upload>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label for="product_prerequisite_id">Prerequisite</label>
          <select ng-model="product.prerequisite_id" ng-options="prerequisite.properties.id as prerequisite.properties.name for prerequisite in universityClasses">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
    <!-- Delete Button -->
    <input ng-if="mode === 'edit'" class="tiny button understated right" ng-disabled="isSubmitDisabled" type="submit" ng-click="delete(productObj)" value="Delete Product" />
    <!-- Submit/Cancel Buttons -->
    <div class="row">
      <div class="large-12 columns">
        <a ng-click="cancel()" class="button secondary">Cancel</a>
        <input ng-if="mode === 'new'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="create()" value="Add Product" />
        <input ng-if="mode === 'edit'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="update()" value="Update Product" />
      </div>
    </div>
  </fieldset>
</form>
