<main class="sun-admin-products">
  <div class="row">
    <div class="large-12 columns">
      <a ng-href="/admin/#/products/{{product.id}}/edit" class="button right">Edit Product</a>
      <h2>{{product.name}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-3 small-block-grid-2">
        <!-- Bonus Volume -->
        <li>
          <div class="panel fixed-height">
            <h2>${{product.bonus_volume}}</h2>
            <h4>Bonus Volume</h4>
          </div>
        </li>
        <!-- Commission Percentage -->
        <li>
          <div class="panel fixed-height">
            <h2>{{product.commission_percentage}}%</h2>
            <h4>Commission Percentage</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>


</main>
