<form>
  <div class="row">
    <div class="large-6 columns">
      <fieldset>
        <legend><i class="fa fa-envelope"></i> Customer Information</legend>

        <div class="submitted-proposal panel">
          <label>Contact Information</label>
          <div class="customer-info">
          <!-- Customer Name -->
          <p class="name">{{proposal.customer}}</p>
          <!-- Address -->
          <div ng-if="proposal.address && proposal.city && proposal.state && proposal.zip">
            <p class="address">{{proposal.address}}</p>
            <!-- City/State/ZIP -->
            <p class="city-state-zip">
              {{proposal.city}}, {{proposal.state}} {{proposal.zip}}
            </p>
          </div>
          <!-- Email -->
          <p class="email"><a href="mailto:{{proposal.email}}">{{proposal.email}}</a></p>
          <!-- Phone -->
          <p class="phone">{{proposal.phone}}</p>
          </div>
        </div>

        <!-- Custom Product Fields -->
        <div ng-if="showProductFields || showNotes">
          <div class="submitted-proposal panel">
            <label>Other Information</label>
            <div class="proposal-product-field" ng-repeat="(key, value) in proposal.product_fields">
              <p class="label">{{ key | cleanLabel }}</p>
              <p class="value">{{value}}</p>
            </div>
            <div ng-if="showNotes" class="proposal-product-field notes">
              <p class="label">Notes</p>
              <p class="value">{{proposal.notes}}</p>
            </div>
          </div>
        </div>

      </fieldset>
    </div>
    <!-- Lead Updates -->
    <div class="large-6 columns">
      <fieldset>
        <legend><i class="fa fa-exchange"></i> Updates</legend>

        <!-- If No Updates -->
        <div ng-if="!proposalItem.entities" class="lead-update panel">
          <p>No Data Available</p>
        </div>

        <!-- Lead Updates -->
        <div ng-repeat="lead_update in proposalItem.entities" class="lead-update panel">
          <label>{{ lead_update.properties.updated_at | dateToLocalDate }} at {{ lead_update.properties.updated_at | timeToLocalTime }}</label>
          <div class="status">
            <label>Status</label>
            <p>{{ lead_update.properties.status | cleanLabel }}</p>
          </div>
          <!-- Lead Status -->
          <div ng-if="lead_update.properties.lead_status" class="status">
            <label>Lead Status</label>
            <p>{{ lead_update.properties.lead_status | cleanLabel }}</p>
          </div>
          <!-- Opportunity Stage -->
          <div ng-if="lead_update.properties.opportunity_stage" class="status">
            <label>Opportunity Stage</label>
            <p>{{ lead_update.properties.opportunity_stage | cleanLabel }}</p>
          </div>
          <!-- Consultation Date -->
          <div ng-if="lead_update.properties.consultation" class="status">
            <label>Consultation Date</label>
            <p>{{ lead_update.properties.consultation | dateToLocalDate }}</p>
          </div>
          <!-- Contract Signed Date -->
          <div ng-if="lead_update.properties.contract" class="status">
            <label>Contract Signed Date</label>
            <p>{{ lead_update.properties.contract | dateToLocalDate }}</p>
          </div>
          <!-- Installation Date -->
          <div ng-if="lead_update.properties.installation" class="status">
            <label>Installation Date</label>
            <p>{{ lead_update.properties.installation | dateToLocalDate }}</p>
          </div>
          <!-- Raw Status Details from Solar City -->
          <div class="solarcity-status">
            <label>More Details from SolarCity</label>
            <p ng-repeat="(key, value) in lead_update.properties.data">{{key}}: {{value}}</p>
          </div>
        </div>


      </fieldset>
    </div>
  </div>
</form>