<form>
  <div class="row">
    <div class="large-6 columns">
      <fieldset>
        <legend><i class="fa fa-envelope"></i> Customer Information</legend>

        <div class="submitted-proposal panel">
          <label>Contact Information</label>
          <div class="customer-info">
          <!-- Customer Name -->
          <p class="name">{{proposal.customer}}</p>
          <!-- Address -->
          <div ng-if="proposal.address && proposal.city && proposal.state && proposal.zip">
            <p class="address">{{proposal.address}}</p>
            <!-- City/State/ZIP -->
            <p class="city-state-zip">
              {{proposal.city}}, {{proposal.state}} {{proposal.zip}}
            </p>
          </div>
          <!-- Email -->
          <p class="email"><a href="mailto:{{proposal.email}}">{{proposal.email}}</a></p>
          <!-- Phone -->
          <p class="phone">{{proposal.phone}}</p>
          </div>
        </div>

        <!-- Custom Product Fields -->
        <div ng-if="proposal.product_fields">
          <div class="submitted-proposal panel">
            <label>House and Utility Information</label>
            <div class="proposal-product-field" ng-repeat="(key, value) in proposal.product_fields">
              <p class="label">{{key | cleanLabel }}</p>
              <p class="value">{{value}}</p>
            </div>
          </div>
        </div>

      </fieldset>
    </div>
    <!-- Lead Updates -->
    <div class="large-6 columns">
      <fieldset>
        <legend ng-if="proposalItem.entities"><i class="fa fa-exchange"></i> Updates</legend>

        <!-- Lead Updates -->
        <div ng-repeat="lead_update in proposalItem.entities" class="lead-update panel">
          <label>{{lead_update.properties.updated_at | dateToLocalDate }} at {{lead_update.properties.updated_at | timeToLocalTime }}</label>
          <div class="status">
            <label>Status</label>
            <p>{{lead_update.properties.status | cleanLabel }}</p>
          </div>
          <div class="details">
            <label>Details</label>
            <p ng-repeat="(key, value) in lead_update.properties.data">{{key}}: {{value}}</p>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
</form>