<div class="row">
  <div class="large-12 columns">

    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img ng-src="{{legacyImagePaths.dashboardCustomersIcon}}"></div>
          <div class="text">My Proposals</div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
      <!-- Search -->
        <div class="row collapse">
          <form ng-submit="customerSection.search()">
            <div class="no-padding large-12 medium-12 small-12 columns">
              <!-- <input ng-model="customerSection.proposalSearch" type="search" placeholder="SEARCH"> -->
              <input 
                id="customer-search" 
                type="search" 
                ng-model="customerSearch.string"  
                placeholder="SEARCH" 
                ng-change="fetchNames()" 
                ng-blur="clearQuery(true)" 
                ng-focus="clearQuery(false)"
                ng-keydown="key($event)">
              <!-- Loading Animation -->
              <ul ng-show="nameQuery.length && focused && customerSearch.string.length" class="suggestion-box">
                <li ng-class="{'selected': queryIndex === $index}" ng-repeat="user in nameQuery" ng-click="customerSection.search(user)" ng-mouseover="key($index)"><span class="left-label">{{user.properties.customer}}</span></li>
              </ul>
            </div>
          </form>
        </div>
      </div>

      <div class="large-3 hide-for-medium-down columns">
      <!-- Sort -->
        <select class="sort"
                ng-model="customerSection.proposalSort"
                ng-change="customerSection.applyIndexActions()">
          <option disabled value="">Sort By</option>
          <option ng-repeat="(value, label) in customerSection.proposalSortOptions" ng-value="value">{{label}}</option>
        </select>
      </div>

      <div class="large-3 hide-for-medium-down columns">
      <!-- Filter: Status -->
        <select class="sort"
                ng-model="customerSection.proposalStatus"
                ng-change="customerSection.applyIndexActions()">
          <option value="">Show All</option>
          <option ng-repeat="(value, label) in customerSection.proposalStatusOptions" ng-value="value">{{label}}</option>
        </select>
      </div>


    </div>

    <!-- Row: Customers Carousel -->
    <div class="row collapse carousel-box">
      <div class="w20percent columns">
        <!-- New Proposal Button -->
        <a ng-click="customerSection.newProposal()">
          <div class="new-proposal" ng-class="{active: mode === 'new'}">
            <div class="icon">
              <span><i class="fa fa-plus fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span class="show-for-medium-up">New Proposal</span>
              <span class="show-for-small">New</span>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-container w80percent columns">
        <!-- Proposals Carousel -->

        <!-- If No Proposals -->
        <div ng-if="proposals.length === 0 && !customerSection.searching" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">This is where you manage your proposals and customers.  Add a proposal, submit it to SolarCity, and track the progress.  We'll notify you when your proposals turn into customers.</p>
          </div>
        </div>

        <!-- If Empty Result for Proposals -->
        <div ng-if="proposals.length === 0 && customerSection.searching" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">No proposals matched the search query and filters you provided above.</p>
          </div>
        </div>

        <!-- If Proposals -->
        <div ng-if="proposals" class="proposals owl-carousel">
          <a ng-repeat="proposal in proposals" ng-click="customerSection.showProposal($index)">
            <div class="proposal" ng-class="{active: currentProposal.id === proposal.properties.id}">
              <div class="status-icon">
                <img ng-show="proposal.properties.status === 'closed_won'" ng-src="{{legacyImagePaths.proposalClosedWon}}">
                <img ng-show="proposal.properties.status === 'in_progress'" ng-src="{{legacyImagePaths.proposalInProgress}}">
                <img ng-show="proposal.properties.status === 'incomplete'" ng-src="{{legacyImagePaths.proposalIncomplete}}">
                <img ng-show="proposal.properties.status === 'ineligible_location'" ng-src="{{legacyImagePaths.proposalIneligibleLocation}}">
                <img ng-show="proposal.properties.status === 'lost'" ng-src="{{legacyImagePaths.proposalLost}}">
                <img ng-show="proposal.properties.status === 'on_hold'" ng-src="{{legacyImagePaths.proposalOnHold}}">
                <img ng-show="proposal.properties.status === 'ready_to_submit'" ng-src="{{legacyImagePaths.proposalReadyToSubmit}}">
                <img ng-show="proposal.properties.status === 'submitted'" ng-src="{{legacyImagePaths.proposalSubmitted}}">
              </div>
              <div class="status-text">
                <span>{{ proposal.properties.status | cleanLabel }}</span>
              </div>
              <div class="customer-name">
                <span>{{proposal.properties.customer}}</span>
              </div>
              <div class="date-text">
                <span>Created {{ proposal.properties.created_at | dateToLocalDate }}</span>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

    <!-- Row: Proposal Form -->
    <div class="drilldown" ng-class="{'active': drilldownActive == true}">
      <div ng-hide="!showForm" class="fade-in-section" ng-class="{'opaque': showForm == true}">
        <div class="summary large-3 medium-3 columns">

        <!-- ng-shows for each Summary Text and Buttons for state of the Proposal form -->
        <!--
          1. New
          2. Incomplete
          3. Ready To Submit
          4. Ineligible Location

          5. Submitted
          6. In Progress
          7. Closed Won
          8. Lost
          9. On Hold
        -->

          <!-- New Proposal -->
          <div ng-show="mode === 'new'">
            <h1>New Proposal</h1>
            <p>Enter customer information to create a new proposal.</p>
            <p>This customer information can be updated before the proposal is submitted to SolarCity.</p>
          </div>

          <!-- Incomplete -->
          <div ng-show="mode === 'incomplete'">
            <h1>Incomplete Proposal</h1>
            <p>Enter additional customer information to complete this proposal.</p>
            <p>SolarCity requires the customer's name, phone number, and email address.</p>
            <button ng-show="hasAction('delete')" class="button secondary expand" ng-click="customerSection.delete()">Delete Proposal</button>
            <p>Proposal ID: {{currentProposal.id}}</p>
          </div>

          <!-- Ready To Submit-->
          <div ng-show="mode === 'ready_to_submit'">
            <h1>Completed Proposal</h1>
            <p>Great! This proposal is ready to be submitted to SolarCity.</p>
            <p>Ensure the customer information is correct before using the Submit button below.</p>
            <button ng-show="hasAction('delete')" class="button secondary expand" ng-click="customerSection.delete()">Delete Proposal</button>
            <button ng-show="hasAction('submit')" class="button solarcity expand" ng-click="customerSection.submit()"><i class="fa fa-paper-plane"></i> Submit to SolarCity</button>
            <p>Proposal ID: {{currentProposal.id}}</p>
          </div>

          <!-- Ineligible Location -->
          <div ng-show="mode === 'ineligible_location'">
            <h1>Ineligible Proposal</h1>
            <p>This proposal looks ineligible based on the customer's location.</p>
            <p>When SolarCity is available in the customer's location, this proposal's status will be updated and you'll be able to continue where you left off.</p>
            <button ng-show="hasAction('delete')" class="button secondary expand" ng-click="customerSection.delete()">Delete Proposal</button>
            <p>Proposal ID: {{currentProposal.id}}</p>
          </div>

          <!-- Submitted -->
          <div ng-show="mode === 'submitted' || mode === 'in_progress' || mode === 'closed_won' || mode === 'lost' || mode === 'on_hold'">
            <h1>Submitted Proposal</h1>
            <p>This proposal has been submitted to SolarCity.</p>
            <button disabled class="button expand right"><i class="fa fa-check"></i> Submitted</button>
            <p>This proposal was submitted to SolarCity at {{ currentProposal.submitted_at | timeToLocalTime }} on {{ currentProposal.submitted_at | dateToLocalDate }}.</p>
            <button ng-show="hasAction('resend')" class="button secondary expand" ng-click="customerSection.resend()">Resend Email</button>
            <p>Proposal ID: {{currentProposal.id}}</p>
          </div>

        </div>

        <!-- Form if New, Ineligible, or Incomplete Proposal-->
        <div ng-if="mode === 'new' || mode === 'ineligible_location' || mode === 'incomplete' || mode === 'ready_to_submit'" class="form large-9 medium-9 columns">
          <ng-include src="'dashboard/templates/sections/customers-form.html'"></ng-include>
        </div>
        <!-- Summary if Submitted Proposal -->
        <div ng-if="mode === 'submitted' || mode === 'in_progress' || mode === 'closed_won' || mode === 'lost' || mode === 'on_hold'" class="form large-9 medium-9 columns">
          <ng-include src="'dashboard/templates/sections/customers-submitted.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
