<div class="row">
  <div class="large-12 columns">

    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img ng-src="{{legacyImagePaths.dashboardCustomersIcon}}"></div>
          <div class="text">Pipeline</div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
      <!-- Search -->
        <div class="row collapse">
          <form ng-submit="leadPipelineSection.search()">
            <div class="no-padding large-12 medium-12 small-12 columns">
              <input 
                id="customer-search"
                type="search"
                ng-model="customerSearch.string"
                placeholder="SEARCH"
                ng-change="fetchNames()"
                ng-blur="clearQuery(true)"
                ng-focus="clearQuery(false)"
                ng-keydown="key($event)">
              <!-- Loading Animation -->
              <ul ng-show="nameQuery.length && focused && customerSearch.string.length" class="suggestion-box">
                <li
                  ng-class="{'selected': queryIndex === $index}"
                  ng-repeat="user in nameQuery"
                  ng-click="leadPipelineSection.search(user)"
                  ng-mouseover="key($index)">
                  <span class="left-label">{{user.properties.customer}}</span>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>

      <div class="large-2 hide-for-medium-down columns">
      <!-- Sort -->
        <select class="sort"
                ng-model="leadPipelineSection.leadSort"
                ng-change="leadPipelineSection.applyIndexActions()">
          <option disabled value="">Sort By</option>
          <option ng-repeat="(value, label) in leadPipelineSection.leadSortOptions" ng-value="value">{{label}}</option>
        </select>
      </div>

      <div class="large-2 hide-for-medium-down columns">
      <!-- Filter: Submitted Status -->
        <select class="sort"
                ng-model="leadPipelineSection.leadSubmittedStatus"
                ng-change="leadPipelineSection.applyIndexActions()">
          <option value="">Show All</option>
          <option ng-repeat="(value, label) in leadPipelineSection.leadSubmittedStatusOptions" ng-value="value">{{label}}</option>
        </select>
      </div>

      <!-- Sub Filter Dropdown Placeholder -->
      <div
        class="large-2 hide-for-medium-down columns"
        ng-show="!leadPipelineSection.leadSubmittedStatus">
        <select class="sort" disabled>
          <option ng-if="!leadPipelineSection.leadSubmittedStatus"value="">Showing all</option>
        </select>
      </div>

      <!-- Sub Filter Dropdown for Data Statuses -->
      <div
        class="large-2 hide-for-medium-down columns"
        ng-show="leadPipelineSection.leadSubmittedStatus === 'not_submitted'">
      <!-- Filter: Data / Sales Status -->
        <select class="sort"
                ng-model="leadPipelineSection.leadDataStatus"
                ng-change="leadPipelineSection.applyIndexActions()"
                ng-disabled="!leadPipelineSection.leadSubmittedStatus">
          <option value="">Show All</option>
          <!-- Use Data Status Options if "Not Submitted" is selected -->
          <option ng-if="leadPipelineSection.leadSubmittedStatus === 'not_submitted'" ng-repeat="(value, label) in leadPipelineSection.leadDataStatusOptions" ng-value="value">{{label}}</option>
        </select>
      </div>

      <!-- Sub Filter Dropdown for Sales Statuses -->
      <div
        class="large-2 hide-for-medium-down columns"
        ng-show="leadPipelineSection.leadSubmittedStatus === 'submitted'">
      <!-- Filter: Data / Sales Status -->
        <select class="sort"
                ng-model="leadPipelineSection.leadSalesStatus"
                ng-change="leadPipelineSection.applyIndexActions()"
                ng-disabled="!leadPipelineSection.leadSubmittedStatus">
          <option value="">Show All</option>
          <!-- Use Sales Status Options if "Submitted" is selected -->
          <option ng-if="leadPipelineSection.leadSubmittedStatus === 'submitted'" ng-repeat="(value, label) in leadPipelineSection.leadSalesStatusOptions" ng-value="value">{{label}}</option>
        </select>
      </div>

    </div>

    <!-- Row: Leads Pipeline Carousel -->
    <div class="row collapse carousel-box">
      <div class="w20percent columns">
        <!-- New Homeowner Button -->
        <a ng-click="leadPipelineSection.newLead()">
          <div class="new-lead" ng-class="{active: mode === 'new'}">
            <div class="icon">
              <span><i class="fa fa-plus fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span class="show-for-medium-up">New Homeowner</span>
              <span class="show-for-small">New</span>
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-container w80percent columns">
        <!-- Leads Carousel -->

        <!-- If Loading Leads -->
        <div ng-show="!leads" class="empty owl-carousel">
          <div class="empty-state">
            <div class="sk-spinner sk-spinner-three-bounce big">
              <div class="sk-bounce1"></div>
              <div class="sk-bounce2"></div>
              <div class="sk-bounce3"></div>
            </div>
          </div>
        </div>

         <!-- If No Leads -->
        <div ng-if="leads && leads.length === 0 && !leadPipelineSection.isFiltering" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">This is where you manage your leads and proposals.  Add a lead, submit it to SolarCity, and track the progress.  We'll notify you when your leads turn into proposals.</p>
          </div>
        </div>

        <!-- If Empty Result for Leads -->
        <div ng-if="leads.length === 0 && leadPipelineSection.isFiltering" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">No leads matched the search query and filters you provided above.</p>
          </div>
        </div>

        <!-- If Leads -->
        <div ng-if="leads" class="leads owl-carousel" id="customers-carousel">
          <a ng-repeat="lead in leads" ng-click="leadPipelineSection.showLead($index)">
            <div class="lead" ng-class="{active: currentLead.id === lead.properties.id}">

              <div class="lead-details">

                <!-- Action Required Flag / Message -->
                <div
                  ng-if="lead.properties.action_copy"
                  class="action-required">
                  <div class="flag">
                    <div class="exclamation-point">!</div>
                  </div>
                  <div class="text">Action Required</div>
                </div>

                <!-- Lead Status Icon -->
                <div class="status-icon">
                  <img ng-src="{{ leadPipelineSection.statusIcon(lead) }}">
                </div>
                <!-- Lead Status Text -->
                <div class="status-text">
                  <span>{{ leadPipelineSection.statusText(lead) }}</span>
                </div>
                <!-- Lead Customer Name -->
                <div class="customer-name">
                  <span>{{lead.properties.customer}}</span>
                </div>
                <!-- Lead Date -->
                <div class="date-text">
                  <span>Created {{ lead.properties.created_at | dateToLocalDate }}</span>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

    <!-- Row: Lead Drilldown -->
    <div class="drilldown" ng-class="{'active': drilldownActive == true}">
      <div ng-hide="!showForm" class="fade-in-section" ng-class="{'opaque': showForm == true}">

        <!-- Form Drilldown if New, Ineligible, or Incomplete Lead -->
        <div ng-if="mode === 'new' || mode === 'ineligible_location' || mode === 'incomplete' || mode === 'ready_to_submit'">
          <ng-include src="'dashboard/templates/sections/leadpipeline-form.html'"></ng-include>
        </div>
        <!-- Summary Drilldown if Submitted Lead -->
        <div ng-if="mode === 'submitted'">
          <ng-include src="'dashboard/templates/sections/leadpipeline-submitted.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
