<!-- Left Side: Summary Text -->
<div class="summary homeowner-info large-3 medium-5 columns">

  <h1><i class="fa fa-home fa-2x"></i> Household Status</h1>
  <label>Contact Information</label>
  <p class="name">{{currentLead.customer}}</p>
  <p class="email"><a href="mailto:{{currentLead.email}}">{{currentLead.email}}</a></p>
  <p class="phone">{{currentLead.phone}}</p>
  <label>Lead ID: {{currentLead.id}}</label>
</div>

<div class="submitted large-9 medium-7 columns">
  <!-- Row: Likelihood / Commission / Last Update -->
  <div class="lead-stats row">
    <div class="large-4 columns">
      <label>Likelihood to Convert</label>
      <p class="likelihood">{{leadPipelineSection.likelihoodToConvert(leadItem)}}<span class="symbol">%</span></p>
    </div>
    <div class="large-4 columns">
      <label>Commission Potential</label>
      <p class="commission"><span class="symbol">$</span>250</p>
    </div>
    <div class="large-4 columns">
      <label>Last Update</label>
      <p class="last-update">{{(leadItem.entities[0].properties.updated_at | dateTimeToLocal) || 'No Updates Available'}}</p>
    </div>
  </div>
  <!-- Progress Bar (Large Screens only) -->
  <div class="lead-progress row show-for-large-up">
    <div class="large-12 columns">
      <div class="progress-border">
        <div class="progress-container">
          <div class="shine mask"></div>
          <div class="inset mask"></div>
          <div class="stripe mask"></div>
          <div class="progress-cell illuminated">
            <div class="arrow-block" id="block-1"></div>
            <span>Submission</span>
          </div>
          <div
            class="progress-cell"
            ng-class="{ 'illuminated': leadPipelineSection.leadStage(leadItem) >= 2 }">
            <div class="arrow-block" id="block-2"></div>
            <span>Qualified</span>
          </div>
          <div
            class="progress-cell"
            ng-class="{ 'illuminated': leadPipelineSection.leadStage(leadItem) >= 3 }">
            <div class="arrow-block" id="block-3"></div>
            <span>Contract</span>
          </div>
          <div
            class="progress-cell"
            ng-class="{ 'illuminated': leadPipelineSection.leadStage(leadItem) == 4 }">
            <div class="arrow-block" id="block-4"></div>
            <span>Installation</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Current Stage (Small and Medium Screens) -->
  <div class="row show-for-medium-down">
    <div class="small-12 columns">
      <label>Current Stage</label>
      <div
        class="illuminated progress-cell"
        ng-if="leadPipelineSection.leadStage(leadItem) == 4">
        Installation
      </div>
      <div
        class="illuminated progress-cell"
        ng-if="leadPipelineSection.leadStage(leadItem) == 3">
        Contract
      </div>
      <div
        class="illuminated progress-cell"
        ng-if="leadPipelineSection.leadStage(leadItem) == 2">
        Qualified
      </div>
      <div
        class="illuminated progress-cell"
        ng-if="leadPipelineSection.leadStage(leadItem) == 1">
        Submission
      </div>
    </div>
  </div>
  <!-- SolarCity Status Text -->
  <div class="row">
    <div class="large-6 columns">
      <label>SolarCity Lead Status</label>
      <span class="status">{{leadItem.entities[0].properties.lead_status || 'No Status Available'}}</span>
      <span class="status-message">{{leadPipelineSection.actionMessage(leadItem)}}</span>
      <br><br>
      <label ng-if="leadItem.entities[0].properties.opportunity_stage">Opportunity Stage</label>
      <span class="status-message">{{leadItem.entities[0].properties.opportunity_stage}}</span>
    </div>
    <div class="large-6 columns">
      <label ng-if="leadItem.properties.submitted_at">Key Dates</label>
      <span ng-if="leadItem.properties.submitted_at" class="detail">Submitted: {{leadItem.properties.submitted_at | date:"MM/dd/yyyy 'at' h:mma"}}</span>
      <span ng-if="leadItem.properties.converted_at" class="detail">Converted: {{leadItem.properties.converted_at | date:"MM/dd/yyyy 'at' h:mma"}}</span>
      <span ng-if="leadItem.properties.contracted_at" class="detail">Contracted: {{leadItem.properties.contracted_at | date:"MM/dd/yyyy 'at' h:mma"}}</span>
      <span ng-if="leadItem.properties.installed_at" class="detail">Installed: {{leadItem.properties.installed_at | date:"MM/dd/yyyy 'at' h:mma"}}</span>
    </div>
  </div>
</div>