<div class="row">
  <div class="large-12 columns">
    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img ng-src="{{legacyImagePaths.dashboardTeamIcon}}"></div>
          <div class="text">My Grid</div>
        </div>
      </div>

      <div class="large-3 medium-6 columns">
      <!-- Search -->
        <div class="row collapse">
          <form ng-submit="teamSection.search()" class="search-form" ng-class="{ 'fade': downline.length > 1}">
            <div class="no-padding large-12 medium-12 small-12 columns">
              <input type="search" ng-model="teamSection.teamSearch"  placeholder="SEARCH">
            </div>
          </form>
        </div>
      </div>


      <div class="large-3 medium-6 hide-for-medium-down columns end">
      <!-- Sort -->
        <select class="sort" ng-model="teamSection.teamSort" ng-change="teamSection.sort()">
          <option value="name">Order by Name</option>
          <option value="newest">Order by Newest</option>
        </select>
      </div>

    </div>

    <!-- Row: Team Carousel -->
    <div class="row collapse carousel-box">

      <!-- Invite New Team Member Button -->
      <div class="w20percent small-2 columns">

        <!-- UNCOMMENT LINE BELOW FOR INVITES DROPDOWN !! -->
        <!-- <div class="new-team-member beta" ng-class="{'accordion': downline.length > 1}" ng-click="invitesTab()"> -->
        <div class="new-team-member beta" ng-class="{'accordion': downline.length > 1}">
          <div class="icon">
            <span><i class="fa fa-user-plus fa-4x"></i></span>
          </div>
          <div class="info-text">
            <span ng-hide="downline.length > 1" class="show-for-medium-up">Closed For Beta</span>
            <span class="show-for-small">Closed for Beta</span>
          </div>
        </div>

      </div>

      <div class="carousel-container w80percent small-10 columns" ng-class="{'accordion': downline.length > 1}">

        <!-- If No Team Members -->
        <div ng-if="!downline[0]" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">The team section helps you grow, manage, and support your team.  Invite others to join, get detailed metrics on their results, and track your teammates' progress. </p>
          </div>
        </div>

        <!-- If Team Members -->
        <div ng-if="downline[0]" class="team owl-carousel" id="carousel-0" data-row="0">
          <a ng-repeat="teamMember in downline[0]">

            <div 
              class="team-member" 
              ng-class="{active: memberActive(teamMember), 'accordion': downline.length > 1}" 
              ng-mouseenter="hover = true"
              ng-mouseleave="hover = false">
              <div class="team-tabs">
                <div 
                  class="team-tab impact" 
                  ng-class="{ 
                    'raise': hover || isMobile() || isActiveMember(teamMember, downline[0]),
                    'active-tab': isActiveTab(teamMember, downline[0], 'impact'),
                    'half': teamMember.properties.downline_count === 0,
                    'even': levelGap(teamMember) % 2 !== 0,
                    'odd': levelGap(teamMember) % 2 === 0
                  }" 
                  id="js-impact-tab" 
                  ng-click="changeTab(teamMember.properties, downline[0], 'impact');">
                  <img ng-hide="isActiveTab(teamMember, downline[0], 'impact')" ng-src="{{legacyImagePaths.teamSection.kpiIconInvert}}">
                  <img ng-show="isActiveTab(teamMember, downline[0], 'impact')" ng-src="{{legacyImagePaths.teamSection.kpiIcon}}">
                </div>
                <div 
                  class="team-tab downline" 
                  ng-class="{ 
                    'raise': hover || isMobile() || isActiveMember(teamMember, downline[0]),
                    'active-tab': isActiveTab(teamMember, downline[0]),
                    'even': levelGap(teamMember) % 2 !== 0,
                    'odd': levelGap(teamMember) % 2 === 0
                  }"
                  ng-if="teamMember.properties.downline_count > 0"
                  id="js-downline-tab" 
                  ng-click="changeTab(teamMember.properties, downline[0], 'team');">
                  <img ng-hide="isActiveTab(teamMember, downline[0])" ng-src="{{legacyImagePaths.teamSection.teamIconInvert}}">
                  <img ng-show="isActiveTab(teamMember, downline[0])" ng-src="{{legacyImagePaths.teamSection.teamIcon}}">
                </div>
                <div 
                  class="team-tab info" 
                  ng-class="{ 
                    'raise': hover || isActiveMember(teamMember, downline[0]),
                    'active-tab': isActiveTab(teamMember, downline[0], 'info'),
                    'half': teamMember.properties.downline_count === 0, 
                    'even': levelGap(teamMember) % 2 !== 0,
                    'odd': levelGap(teamMember) % 2 === 0
                  }" 
                  id="js-info-tab" 
                  ng-click="changeTab(teamMember.properties, downline[0], 'info');">
                 <!--  <i class="fa fa-info-circle invert"></i> -->
                  <img ng-hide="isActiveTab(teamMember, downline[0], 'info')" ng-src="{{legacyImagePaths.teamSection.customerIconInvert}}">
                  <img ng-show="isActiveTab(teamMember, downline[0], 'info')" ng-src="{{legacyImagePaths.teamSection.customerIcon}}">
                </div>
              </div>
              <div class="info-box" ng-class="{ 
                    'raise': hover || isMobile() || downline.length > 1 || isActiveMember(teamMember, downline[0]),
                    'accordion': downline.length > 1}"
                    ng-click="changeTab(teamMember.properties, downline[0], 'impact');">
                <div class="avatar" ng-class="{'accordion': downline.length > 1}">
                  <img class="lazyOwl" data-src="{{teamMember.properties.avatar.thumb || teamMember.properties.defaultAvatarThumb}}">
                </div>
                <div class="info-text user-text">
                  <span>{{teamMember.properties.first_name}} {{teamMember.properties.last_name}}</span>
                  <span ng-hide="isActiveTab(teamMember, downline[0])" class="info-detail">GRID {{teamMember.properties.downline_count}}, RANK {{teamMember.properties.lifetime_rank}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>

    </div>

    <!-- Team Members Downline Carousel -->
    <div ng-repeat="generation in downline track by $index" ng-init="outerIndex=$index">
      <div class="row collapse carousel-box downline-row" ng-class="{ 'even': $index % 2 === 0, 'expand': downline.length >= ($index), 'accordion': downline.length > ($index + 1) }" ng-if="$index !== 0">
        <div class="w20percent team-member-info-large" ng-class="{ 'even': $index % 2 === 0, 'accordion': downline.length > ($index + 1) }">
          <div class="top-label">
            <span class="level">Level</span>
          </div>
          <div class="generation" ng-class="{'accordion': downline.length > ($index + 1)}">
            <span>{{$index + 1}}</span>
          </div>
        </div>
        <div class="carousel-container w80percent small-10 columns" ng-class="{'accordion': downline.length > ($index + 1)}">

          <!-- If Team Members -->
          <div class="team owl-carousel downline" id="{{'carousel-' + $index}}" data-row="{{$index}}" ng-class="{'accordion': downline.length > ($index + 1)}">
            <a ng-repeat="teamMember in downline[outerIndex]" repeat-end="onEnd()">
              <div 
                class="team-member downline" 
                ng-class="{ 
                  active: memberActive(teamMember), 
                  'even': levelGap(teamMember) % 2 !== 0,
                  'accordion': downline.length > ($parent.$index + 1) 
                }" 
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false">
                <div class="team-tabs">
                  <div 
                    class="team-tab impact" 
                    ng-class="{ 
                      'raise': hover || isMobile() || isActiveMember(teamMember, generation),
                      'active-tab': isActiveTab(teamMember, generation, 'impact'),
                      'half': teamMember.properties.downline_count === 0,
                      'even': levelGap(teamMember) % 2 !== 0,
                      'odd': levelGap(teamMember) % 2 === 0
                    }" 
                    id="js-impact-tab" 
                    ng-click="changeTab(teamMember.properties, generation, 'impact');">
                    <img ng-src="{{legacyImagePaths.teamSection.kpiIcon}}">
                  </div>
                  <div 
                    class="team-tab downline" 
                    ng-class="{ 
                      'raise': hover || isMobile() || isActiveMember(teamMember, generation),
                      'active-tab': isActiveTab(teamMember, generation),
                      'even': levelGap(teamMember) % 2 !== 0,
                      'odd': levelGap(teamMember) % 2 === 0
                    }"
                    ng-if="teamMember.properties.downline_count > 0"
                    id="js-downline-tab" 
                    ng-click="changeTab(teamMember.properties, generation, 'team');">
                    <img ng-src="{{legacyImagePaths.teamSection.teamIcon}}">
                  </div>
                  <div 
                    class="team-tab info" 
                    ng-class="{ 
                      'raise': hover || isMobile() || isActiveMember(teamMember, generation),
                      'active-tab': isActiveTab(teamMember, generation, 'info'),
                      'half': teamMember.properties.downline_count === 0,
                      'even': levelGap(teamMember) % 2 !== 0,
                      'odd': levelGap(teamMember) % 2 === 0
                    }" 
                    id="js-info-tab" 
                    ng-click="changeTab(teamMember.properties, generation, 'info');">
                    <!-- <i class="fa fa-info-circle"></i> -->
                    <img ng-src="{{legacyImagePaths.teamSection.customerIcon}}">
                  </div>
                </div>
                <div class="info-box" ng-class="{ 
                      'raise': hover || isMobile() || downline.length > ($parent.$index + 1) || isActiveMember(teamMember, generation),
                      'accordion': downline.length > ($parent.$index + 1)}"
                      ng-click="changeTab(teamMember.properties, generation, 'impact');">
                  <div class="avatar">
                    <!-- <div class="mini-rank">{{teamMember.properties.lifetime_rank || 1}}</div> -->
                    <img class="lazyOwl" data-src="{{teamMember.properties.avatar.thumb || teamMember.properties.defaultAvatarThumb}}">
                  </div>
                  <div class="info-text user-text">
                    <span>{{teamMember.properties.first_name}} {{teamMember.properties.last_name}}</span>
                    <span ng-hide="isActiveTab(teamMember, generation) && downline.length > ($parent.$index + 1)" class="info-detail">GRID {{teamMember.properties.downline_count}}, RANK {{teamMember.properties.lifetime_rank || 1}}</span>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>

      </div>
    </div>

    <!-- Row: Team Member KPI -->
    <div class="kpi-section" >
        <div class="beta-filler downline-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'info'}">
          <span> Information on Proposals Will Display Here</span>
        </div>
    </div>

    <!-- Row: Team Member Info -->
    <div class="row collapse downline-row info-row" id="info-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'impact' }">
      <!-- Large -->
      <div ng-hide="activeTab !== 'impact'" class="large-12 columns">
        <!-- Generation -->

        <div class="icon-container">

          <div class="w25percent team-member-info-large">
            <div class="icon">
              <img ng-src="{{legacyImagePaths.teamPhoneIcon}}">
            </div>
            <div class="info-text">
              <span>{{currentTeamMember.phone || 'xxx-xxx-xxxx'}}</span>
            </div>
          </div>

          <div class="w25percent team-member-info-large">
            <div class="icon social-media">
              <img ng-src="{{legacyImagePaths.teamEmailIcon}}">
            </div>
            <div class="info-text email-text">
              <span class="email"><a href="mailto:{{currentTeamMember.email}}">{{currentTeamMember.email}}</a></span>
            </div>
          </div>
        </div>

        <div class="w25percent team-member-info-large">
          <div class="icon social-media">
            <div class="small-12 medium-6 columns">
              <!-- If Facebook -->
              <a ng-if="currentTeamMember.profile.facebook_url" href="{{currentTeamMember.profile.facebook_url}}"><i class="fa fa-facebook alternate"></i></a>
              <!-- If No Facebook -->
              <a ng-if="!currentTeamMember.profile.facebook_url"><i class="fa fa-facebook  alternate disabled"></i></a>
            <div class="info-text show-for-large-up">
              <span class="show-for-xlarge-up" ng-class="{ 'disabled': !currentTeamMember.profile.facebook_url }">Facebook</span>
              <span class="hide-for-xlarge-up" ng-class="{ 'disabled': !currentTeamMember.profile.facebook_url }">FB</span>
            </div>
          </div>
          <div class="small-12 medium-6 columns bottom-part">
             <!-- If Twitter -->
             <a ng-if="currentTeamMember.profile.twitter_url" href="{{currentTeamMember.profile.twitter_url}}"><i class="fa fa-twitter alternate"></i></a>
             <!-- If No Twitter -->
             <a ng-if="!currentTeamMember.profile.twitter_url"><i class="fa fa-twitter  alternate disabled"></i></a>
            <div class="info-text show-for-large-up">
              <span ng-class="{ 'disabled': !currentTeamMember.profile.twitter_url }">Twitter</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- Row: Invites Carousel -->
  <div class="downline-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'invites'}">
    <div class="team-invites">
    <!-- Invites Available -->
    <div class="w20percent small-2 columns">
      <div class="invites-summary">
        <div class="number">
          <span>{{invitesAvailable}}</span>
        </div>
        <div class="info-text">
          <span>Available Invites Will Display Here</span>
          <!-- <span>Invites Available</span> -->
        </div>
      </div>
    </div>

    <!-- Invites Carousel -->
    <div class="carousel-container no-border w80percent small-10 columns">
      <div class="invites no-border owl-carousel">
        <div ng-repeat="invite in invites">

          <!-- Existing Invites -->
          <div ng-if="invite.type !== 'empty'" class="invite">
            <div class="icon">
              <span><i class="fa fa-user fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span>{{invite.properties.first_name}} {{invite.properties.last_name}}</span>
            </div>
            <div class="status-text">
              <span>Expires {{ invite.properties.expires | dateToLocalDate }} {{ invite.properties.expires | timeToLocalTime }}</span>
            </div>
          </div>

          <!-- Empty Invites -->
          <div ng-if="invite.type === 'empty'" class="invite">
            <div class="icon">
              <span><i class="fa fa-circle-thin fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span>Empty</span>
            </div>
            <div class="status-text">
              <span>Invite Someone</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Row: Invite Team Member Form -->
  <div class="drilldown row collapse team-drilldown" ng-class="{'active': drilldownActive == true}">
    <div ng-hide="!showForm" class="fade-in-section" ng-class="{'active': showForm == true}">
      <!-- New Invite Summary Text -->
      <div class="summary large-3 medium-3 columns">

        <h1>New Invite</h1>
        <p>Enter team member information to create a new invite.</p>
        <p>Invites expire after 24 hours. You can renew or release invites after they have expired.</p>

      </div>

      <!-- Form if New Invite -->
      <div ng-if="mode === 'incomplete' || mode === 'new'" class="form large-9 medium-9 columns">
        <ng-include src="'dashboard/templates/sections/team-invite-form.html'"></ng-include>
      </div>
      <!-- Summary if Existing Invite -->
      <div ng-if="mode === 'submitted'" class="form large-9 medium-9 columns">
        <ng-include src="'dashboard/templates/sections/team-invite-existing.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
</div>
