<div class="row">
  <div class="large-12 columns">
    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img ng-src="{{dashboardTeamIcon}}"></div>
          <div class="text">My Team</div>
        </div>
      </div>

      <div class="large-3 medium-6 hide-for-medium-down columns">
      <!-- Sort -->
        <select class="sort" ng-model="teamSection.teamSort" ng-change="teamSection.sort()">
          <option value="name">Order by Name</option>
          <option value="newest">Order by Newest</option>
          <!-- <option value="quotes">Order by Number of Quotes</option> -->
        </select>
      </div>

      <div class="large-3 medium-6 columns right">
      <!-- Search -->
        <div class="row collapse">
          <form>
            <div class="no-padding large-9 medium-9 small-10 columns">
              <input type="search" ng-model="teamSection.teamSearch"  placeholder="Search">
            </div>
            <div class="no-padding large-3 medium-3 small-2 columns">
              <button class="search button postfix" ng-click="teamSection.search()">Go</button>
            </div>
          </form>
        </div>
      </div>

    </div>

    <!-- Row: Team Carousel -->
    <div class="row collapse carousel-box">

      <!-- Invite New Team Member Button -->
      <div class="w20percent small-2 columns">
        <!-- <a ng-click="teamSection.showInvites()">
          <div class="new-team-member" ng-class="{active: mode === 'new'}">
            <div class="icon">
              <span><i class="fa fa-user-plus fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span class="show-for-medium-up">Invite Team Member</span>
              <span class="show-for-small">Invite</span>
            </div>
          </div>
        </a> -->

        <div class="new-team-member beta">
          <div class="icon">
            <span><i class="fa fa-user-plus fa-4x"></i></span>
          </div>
          <div class="info-text">
            <span class="show-for-medium-up">Closed For Beta</span>
            <span class="show-for-small">Closed for Beta</span>
          </div>
        </div>

      </div>

      <!-- Team Members Carousel -->
      <div class="carousel-container w80percent small-10 columns">

        <!-- If No Team Members -->
        <div ng-if="!teamMembers" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">The team section helps you grow, manage, and support your team.  Invite others to join, get detailed metrics on their results, and track your teammates' progress. </p>
          </div>
        </div>

        <!-- If Team Members -->
        <div ng-if="teamMembers" class="team owl-carousel">
          <a ng-repeat="teamMember in teamMembers" ng-click="teamSection.showTeamMember(teamMember.properties.id)">
            <div class="team-member" ng-class="{active: currentTeamMember.id === teamMember.properties.id}">
              <div class="icon">
                <span><i class="fa fa-user fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>{{teamMember.properties.first_name}} {{teamMember.properties.last_name}}</span>
              </div>
            </div>
          </a>
        </div>

      </div>

    </div>

    <!-- Row: Team Member Details -->
    <div ng-show="showingTeamMember" class="row collapse">
      <!-- Large Screens -->
      <div class="large-12 show-for-large-up columns">
        <!-- Generation -->
        <div class="w20percent team-member-info-large">
          <div class="top-label">
            <span>Generation</span>
          </div>
          <div class="generation">
            <span>{{currentTeamMember.level}}</span>
          </div>
        </div>
        <!-- Avatar -->
        <div class="w20percent team-member-info-large">
          <div class="avatar">
            <img ng-src="{{currentTeamMember.avatar}}">
          </div>
          <div class="team-member-name">
            <span>{{currentTeamMember.first_name}} {{currentTeamMember.last_name}}</span>
          </div>
        </div>
        <!-- Phone -->
        <div class="w20percent team-member-info-large">
          <div class="icon">
            <img ng-src="{{legacyImagePaths.teamPhoneIcon}}">
          </div>
          <div class="info-text">
            <span>{{currentTeamMember.phone}}</span>
          </div>
          <div class="info-label">
            <span>Phone</span>
          </div>
        </div>
        <!-- Email -->
        <div class="w20percent team-member-info-large">
          <div class="icon">
            <img ng-src="{{legacyImagePaths.teamEmailIcon}}">
          </div>
          <div class="info-text">
            <span class="email"><a href="mailto:{{currentTeamMember.email}}">{{currentTeamMember.email}}</a></span>
          </div>
          <div class="info-label">
            <span>Email</span>
          </div>
        </div>
        <!-- Social -->
        <div class="w20percent team-member-info-large">
          <div class="icon">
            <img ng-src="{{legacyImagePaths.teamSocialIcon}}">
          </div>
          <div class="info-text">
            <span class="social-media">
              <!-- If Facebook -->
              <a ng-if="currentTeamMember.profile.facebook_url" href="{{currentTeamMember.profile.facebook_url}}"><i class="fa fa-facebook"></i></a>
              <!-- If No Facebook -->
              <a ng-if="!currentTeamMember.profile.facebook_url"><i class="fa fa-facebook disabled"></i></a>

              <!-- If Twitter -->
              <a ng-if="currentTeamMember.profile.twitter_url"><i class="fa fa-twitter"></i></a>
              <!-- If No Twitter -->
              <a ng-if="!currentTeamMember.profile.twitter_url"><i class="fa fa-twitter disabled"></i></a>
            </span>
          </div>
          <div class="info-label">
            <span>Social Media</span>
          </div>
        </div>
      </div>

      <!-- Medium/Small Screens -->
      <div ng-show="showingTeamMember" class="medium-12 show-for-medium-down columns">

        <div class="team-member-info-medium row collapse">

          <!-- Left: Avatar -->
          <div class="left-side medium-4 columns">

            <div class="avatar">
              <img ng-src="{{currentTeamMember.avatar}}">
            </div>

          </div>

          <!-- Right: Text Info -->
          <div class="right-side medium-8 columns">

            <!-- Name -->
            <div class="row">
              <span class="name">{{currentTeamMember.first_name}} {{currentTeamMember.last_name}}</span>
            </div>

            <!-- Generation -->
            <div class="row">
              <span class="generation">Generation {{currentTeamMember.level}}</span>
            </div>

            <!-- Email -->
            <div class="row">
              <span class="email"><i class="fa fa-envelope"></i> <a href="mailto:{{currentTeamMember.email}}">{{currentTeamMember.email}}</a></span>
            </div>

            <!-- Phone -->
            <div class="row">
              <span class="phone"><i class="fa fa-phone"></i> {{currentTeamMember.phone}}</span>
            </div>

            <!-- Social Media -->
            <div class="row">
              <span class="social-media">
                <!-- If Facebook -->
                <a ng-if="currentTeamMember.profile.facebook_url" href="{{currentTeamMember.profile.facebook_url}}"><i class="fa fa-facebook"></i></a>
                <!-- If No Facebook -->
                <a ng-if="!currentTeamMember.profile.facebook_url"><i class="fa fa-facebook disabled"></i></a>

                <!-- If Twitter -->
                <a ng-if="currentTeamMember.profile.twitter_url"><i class="fa fa-twitter"></i></a>
                <!-- If No Twitter -->
                <a ng-if="!currentTeamMember.profile.twitter_url"><i class="fa fa-twitter disabled"></i></a>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Row: Invites Carousel -->
    <div ng-show="showInvitesCarousel" class="row collapse">

      <!-- Invites Available -->
      <div class="w20percent small-2 columns">
        <div class="invites-summary">
          <div class="number">
            <span>{{invitesAvailable}}</span>
          </div>
          <div class="info-text">
            <span>Invites Available</span>
          </div>
        </div>
      </div>

      <!-- Invites Carousel -->
      <div class="carousel-container no-border w80percent small-10 columns">
        <div class="invites no-border owl-carousel">
          <div ng-repeat="invite in invites">

            <!-- Existing Invites -->
            <div ng-if="invite.type !== 'empty'" class="invite">
              <div class="icon">
                <span><i class="fa fa-user fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>{{invite.properties.first_name}} {{invite.properties.last_name}}</span>
              </div>
              <div class="status-text">
                <span>Expires {{dateToLocalDate(invite.properties.expires)}} {{timeToLocalTime(invite.properties.expires)}}</span>
              </div>
            </div>

            <!-- Empty Invites -->
            <div ng-if="invite.type === 'empty'" class="invite">
              <div class="icon">
                <span><i class="fa fa-circle-thin fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>Empty</span>
              </div>
              <div class="status-text">
                <span>Invite Someone</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Row: Invite Team Member Form -->
    <div class="drilldown row collapse team-drilldown" ng-class="{'active': drilldownActive == true}">
      <div ng-hide="!showForm" class="fade-in-section" ng-class="{'active': showForm == true}">
        <!-- New Invite Summary Text -->
        <div class="summary large-3 medium-3 columns">

          <h1>New Invite</h1>
          <p>Enter team member information to create a new invite.</p>
          <p>Invites expire after 24 hours. You can renew or release invites after they have expired.</p>

        </div>

        <!-- Form if New Invite -->
        <div ng-if="mode === 'incomplete' || mode === 'new'" class="form large-9 medium-9 columns">
          <ng-include src="'dashboard/templates/sections/team-invite-form.html'"></ng-include>
        </div>
        <!-- Summary if Existing Invite -->
        <div ng-if="mode === 'submitted'" class="form large-9 medium-9 columns">
          <ng-include src="'dashboard/templates/sections/team-invite-existing.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
