<div class="row">
  <div class="large-12 columns">
    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img ng-src="{{legacyImagePaths.dashboardTeamIcon}}"></div>
          <div class="text">My Grid</div>
        </div>
      </div>

      <div class="large-3 medium-6 columns">
      <!-- Search -->
        <div class="row collapse">
          <form ng-submit="teamSection.search()" class="search-form" ng-class="{ 'fade': downline.length > 1}">
            <div class="no-padding large-12 medium-12 small-12 columns">
              <input type="search" ng-model="teamSection.teamSearch"  placeholder="SEARCH">
            </div>
          </form>
        </div>
      </div>


      <div class="large-3 medium-6 hide-for-medium-down columns end">
      <!-- Sort -->
        <select class="sort" ng-model="teamSection.teamSort" ng-change="teamSection.sort(); closeForm();">
          <option value="name">Order by Name</option>
          <option value="newest">Order by Newest</option>
        </select>
      </div>

    </div>

    <!-- Row: Team Carousel -->
    <div class="row collapse carousel-box">

      <!-- Invite New Team Member Button -->
      <div class="w20percent small-2 columns">

        <!-- UNCOMMENT LINE BELOW FOR INVITES DROPDOWN !! -->
        <!-- <div class="new-team-member beta" ng-class="{'accordion': downline.length > 1 || activeTab === 'proposals'}" ng-click="invitesTab()"> -->
        <div class="new-team-member beta" ng-class="{'accordion': downline.length > 1 || activeTab === 'proposals'}">
          <div class="icon">
            <span><i class="fa fa-user-plus fa-4x"></i></span>
          </div>
          <div class="info-text">
            <span ng-hide="downline.length > 1 || activeTab === 'proposals'" class="show-for-medium-up">Closed For Beta</span>
            <span class="show-for-small">Closed for Beta</span>
          </div>
        </div>

      </div>

      <div class="carousel-container w80percent small-10 columns" ng-class="{'accordion': downline.length > 1 || activeTab === 'proposals'}">

        <!-- If No Team Members -->
        <div ng-if="!downline[0]" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">The team section helps you grow, manage, and support your team.  Invite others to join, get detailed metrics on their results, and track your teammates' progress. </p>
          </div>
        </div>

        <!-- If Team Members -->
        <div ng-if="downline[0]" class="team owl-carousel" id="carousel-0" data-row="0">
          <a ng-repeat="teamMember in downline[0]">

            <div 
              class="team-member" 
              ng-class="{active: memberActive(teamMember), 'accordion': downline.length > 1 || activeTab === 'proposals'}" 
              ng-mouseenter="hover = true"
              ng-mouseleave="hover = false">
              <div class="team-tabs">
                <div 
                  class="team-tab downline" 
                  ng-if="teamMember.properties.downline_count"
                  ng-class="{ 
                    'raise': hover || isMobile() || isActiveMember(teamMember, downline[0]),
                    'active-tab':  downline[0].tab === 'team' && isActiveMember(teamMember, downline[0]),
                    'even': levelGap(teamMember) % 2 !== 0,
                    'odd': levelGap(teamMember) % 2 === 0
                  }"
                  id="js-downline-tab" 
                  ng-click="changeTab(teamMember.properties, downline[0], 'team');">
                  <!--  ng-if="teamMember.properties.downline_count > 0" -->
                  <img ng-hide="isActiveTab(teamMember, downline[0])" ng-src="{{legacyImagePaths.teamSection.teamIconInvert}}">
                  <img ng-show="isActiveTab(teamMember, downline[0])" ng-src="{{legacyImagePaths.teamSection.teamIcon}}">
                </div>
                <div class="team-tab info" ng-if="!teamMember.properties.downline_count" ng-class="{ 'raise': hover || isActiveMember(teamMember, downline[0]) }">
                  <img ng-src="{{legacyImagePaths.teamSection.teamIconInactive}}">
                </div>
                <div 
                  class="team-tab impact" 
                  ng-class="{ 
                    'raise': hover || isMobile() || isActiveMember(teamMember, downline[0]),
                    'active-tab': isActiveTab(teamMember, downline[0], 'impact'),
                    
                    'even': levelGap(teamMember) % 2 !== 0,
                    'odd': levelGap(teamMember) % 2 === 0
                  }" 
                  id="js-impact-tab" 
                  ng-click="changeTab(teamMember.properties, downline[0], 'impact');">
                  <img ng-hide="isActiveTab(teamMember, downline[0], 'impact')" ng-src="{{legacyImagePaths.teamSection.kpiIconInvert}}">
                  <img ng-show="isActiveTab(teamMember, downline[0], 'impact')" ng-src="{{legacyImagePaths.teamSection.kpiIcon}}">
                </div>
                <div 
                  class="team-tab info" 
                  ng-if="teamMember.properties.proposal_count"
                  ng-class="{ 
                    'raise': hover || isActiveMember(teamMember, downline[0]),
                    'active-tab': isActiveTab(teamMember, downline[0], 'proposals'),
                     
                    'even': levelGap(teamMember) % 2 !== 0,
                    'odd': levelGap(teamMember) % 2 === 0
                  }" 
                  id="js-info-tab" 
                  ng-click="changeTab(teamMember.properties, downline[0], 'proposals'); teamSection.fetchProposals(teamMember);">
                 <!--  <i class="fa fa-info-circle invert"></i> -->
                  <img ng-hide="isActiveTab(teamMember, downline[0], 'proposals')" ng-src="{{legacyImagePaths.teamSection.customerIconInvert}}">
                  <img ng-show="isActiveTab(teamMember, downline[0], 'proposals')" ng-src="{{legacyImagePaths.teamSection.customerIcon}}">
                </div>
                <div class="team-tab info" ng-if="!teamMember.properties.proposal_count" ng-class="{ 'raise': hover || isActiveMember(teamMember, downline[0]) }">
                  <img ng-src="{{legacyImagePaths.teamSection.customerIconInactive}}">
                </div>
              </div>
              <div class="info-box" ng-class="{ 
                    'raise': hover || isMobile() || downline.length > 1 || isActiveMember(teamMember, downline[0]) || activeTab === 'proposals',
                    'accordion': downline.length > 1 || activeTab === 'proposals'}"
                    ng-click="changeTab(teamMember.properties, downline[0], 'impact');">
                <div class="avatar" ng-class="{'accordion': downline.length > 1 || activeTab === 'proposals'}">
                  <img class="lazyOwl" data-src="{{teamMember.properties.avatar.thumb}}">
                </div>
                <div class="info-text user-text">
                  <span>{{teamMember.properties.first_name}} {{teamMember.properties.last_name}}</span>
                  <span ng-hide="isActiveMember(teamMember, downline[0]) && downline[0].tab !== 'impact'" class="info-detail">TEAM {{teamMember.properties.downline_count}}, PROPOSALS {{teamMember.properties.proposal_count || 0}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>

    </div>

    <!-- Team Members Downline Carousel -->
    <div ng-repeat="generation in downline track by $index" ng-init="outerIndex=$index">
      <div class="row collapse carousel-box downline-row" ng-class="{ 'even': $index % 2 === 0, 'expand': downline.length >= ($index), 'accordion': downline.length > ($index + 1) || activeTab === 'proposals'}" ng-if="$index !== 0">
        <div class="w20percent team-member-info-large" ng-class="{ 'even': $index % 2 === 0, 'accordion': downline.length > ($index + 1) || activeTab === 'proposals'}">
          <div class="top-label">
            <span class="level">Level</span>
          </div>
          <div class="generation" ng-class="{'accordion': downline.length > ($index + 1) || activeTab === 'proposals'}">
            <span>{{$index + 1}}</span>
          </div>
        </div>
        <div class="carousel-container w80percent small-10 columns" ng-class="{'accordion': downline.length > ($index + 1) || activeTab === 'proposals'}">

          <!-- If Team Members -->
          <div class="team owl-carousel downline" id="{{'carousel-' + $index}}" data-row="{{$index}}" ng-class="{'accordion': downline.length > ($index + 1) || activeTab === 'proposals'}">
            <a ng-repeat="teamMember in downline[outerIndex]" repeat-end="onEnd()">
              <div 
                class="team-member downline" 
                ng-class="{ 
                  active: memberActive(teamMember), 
                  'even': levelGap(teamMember) % 2 !== 0,
                  'accordion': downline.length > ($parent.$index + 1) 
                }" 
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false">
                <div class="team-tabs">
                  <div 
                    class="team-tab downline" 
                    ng-if="teamMember.properties.downline_count"
                    ng-class="{ 
                      'raise': hover || isMobile() || isActiveMember(teamMember, generation),
                      'active-tab': generation.tab === 'team' && isActiveMember(teamMember, generation),
                      'even': levelGap(teamMember) % 2 !== 0,
                      'odd': levelGap(teamMember) % 2 === 0
                    }"
                    id="js-downline-tab" 
                    ng-click="changeTab(teamMember.properties, generation, 'team');">
                    <img ng-src="{{legacyImagePaths.teamSection.teamIcon}}">
                    <!-- ng-if="teamMember.properties.downline_count > 0" -->
                  </div>
                  <div class="team-tab info" ng-if="!teamMember.properties.downline_count" ng-class="{ 'raise': hover || isActiveMember(teamMember, generation) }">
                    <img class="inactive-icon" ng-src="{{legacyImagePaths.teamSection.teamIconInactive}}">
                  </div>
                  <div 
                    class="team-tab impact" 
                    ng-class="{ 
                      'raise': hover || isMobile() || isActiveMember(teamMember, generation),
                      'active-tab': isActiveTab(teamMember, generation, 'impact'),
                      'even': levelGap(teamMember) % 2 !== 0,
                      'odd': levelGap(teamMember) % 2 === 0
                    }" 
                    id="js-impact-tab" 
                    ng-click="changeTab(teamMember.properties, generation, 'impact');">
                    <img ng-src="{{legacyImagePaths.teamSection.kpiIcon}}">
                  </div>
                  <div 
                    class="team-tab info" 
                    ng-if="teamMember.properties.proposal_count"
                    ng-class="{ 
                      'raise': hover || isMobile() || isActiveMember(teamMember, generation),
                      'active-tab': isActiveTab(teamMember, generation, 'proposals'),
                      'even': levelGap(teamMember) % 2 !== 0,
                      'odd': levelGap(teamMember) % 2 === 0
                    }" 
                    id="js-info-tab" 
                    ng-click="changeTab(teamMember.properties, generation, 'proposals');">
                    <!-- <i class="fa fa-info-circle"></i> -->
                    <img ng-src="{{legacyImagePaths.teamSection.customerIcon}}">
                  </div>
                  <div class="team-tab info" ng-if="!teamMember.properties.proposal_count" ng-class="{ 'raise': hover || isActiveMember(teamMember, generation) }">
                    <img class="inactive-icon" ng-src="{{legacyImagePaths.teamSection.customerIconInactive}}">
                  </div>
                </div>
                <div class="info-box" ng-class="{ 
                      'raise': hover || isMobile() || downline.length > ($parent.$index + 1) || isActiveMember(teamMember, generation) || activeTab === 'proposals',
                      'accordion': downline.length > ($parent.$index + 1) || activeTab === 'proposals' }"
                      ng-click="changeTab(teamMember.properties, generation, 'impact');">
                  <div class="avatar">
                    <!-- <div class="mini-rank">{{teamMember.properties.lifetime_rank || 1}}</div> -->
                    <img class="lazyOwl" data-src="{{teamMember.properties.avatar.thumb}}">
                  </div>
                  <div class="info-text user-text">
                    <span>{{teamMember.properties.first_name}} {{teamMember.properties.last_name}}</span>
                    <span ng-hide="isActiveMember(teamMember, generation) && generation.tab !== 'impact'" class="info-detail">TEAM {{teamMember.properties.downline_count}}, PROPOSALS {{teamMember.properties.proposal_count || 0}}</span>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>

      </div>
    </div>

    <!-- Row: Team Member KPI -->
    <div class="proposal-section" >
        <!-- Row: Customers Carousel -->
        <div class="row collapse carousel-box downline-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'proposals'}">
          <div class="w20percent columns">
            <!-- New Proposal Button -->
            <div class="new-proposal" ng-class="{active: mode === 'new', 'even': downline.length % 2 === 0, 'odd': downline.length % 2 !== 0 }">
              <div class="sort-box">
                <form ng-submit="teamSection.searchProposals(); toggleProposal();">
                  <div class="no-padding large-12 medium-12 small-12 columns">
                    <input ng-model="teamSection.proposalSearch" type="search" placeholder="SEARCH" class="sort">
                  </div>
                </form>
                <select class="sort"
                        ng-model="teamSection.proposalSort"
                        ng-change="teamSection.applyIndexActions(); toggleProposal();">
                  <option disabled value="">Sort By</option>
                  <option ng-repeat="(value, label) in customerSection.proposalSortOptions" ng-value="value">{{label}}</option>
                </select>
                <select class="sort"
                        ng-model="teamSection.proposalStatus"
                        ng-change="teamSection.applyIndexActions(); toggleProposal();">
                  <option value="">Show All</option>
                  <option ng-repeat="(value, label) in customerSection.proposalStatusOptions" ng-value="value">{{label}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="carousel-container w80percent columns">
            <!-- Proposals Carousel -->

            <!-- If No Proposals -->
            <div ng-if="teamProposals.length === 0 && !teamSection.searching" class="empty owl-carousel">
              <div class="empty-state">
                <p class="empty-text">No Proposals Found.</p>
              </div>
            </div>

            <!-- If Empty Result for Proposals -->
            <div ng-if="teamProposals.length === 0 && teamSection.searching" class="empty owl-carousel">
              <div class="empty-state">
                <p class="empty-text">No proposals matched the search query and filters you provided above.</p>
              </div>
            </div>

            <!-- If Proposals -->
            <div class="proposals owl-carousel downline" id="teamProposals">
              <a ng-repeat="proposal in teamProposals" ng-click="teamSection.showProposal(proposal); toggleProposal(proposal);">
                <div class="proposal team-proposal" ng-class="{active: proposalId === proposal.properties.id, 'even': downline.length % 2 === 0, 'odd': downline.length % 2 !== 0 }">
                  <div class="status-icon">
                    <img ng-show="proposal.properties.status === 'closed_won'" ng-src="{{legacyImagePaths.proposalClosedWon}}">
                    <img ng-show="proposal.properties.status === 'in_progress'" ng-src="{{legacyImagePaths.proposalInProgress}}">
                    <img ng-show="proposal.properties.status === 'incomplete'" ng-src="{{legacyImagePaths.proposalIncomplete}}">
                    <img ng-show="proposal.properties.status === 'ineligible_location'" ng-src="{{legacyImagePaths.proposalIneligibleLocation}}">
                    <img ng-show="proposal.properties.status === 'lost'" ng-src="{{legacyImagePaths.proposalLost}}">
                    <img ng-show="proposal.properties.status === 'on_hold'" ng-src="{{legacyImagePaths.proposalOnHold}}">
                    <img ng-show="proposal.properties.status === 'ready_to_submit'" ng-src="{{legacyImagePaths.proposalReadyToSubmit}}">
                    <img ng-show="proposal.properties.status === 'submitted'" ng-src="{{legacyImagePaths.proposalSubmitted}}">
                  </div>
                  <div class="status-text">
                    <span>{{ proposal.properties.status | cleanLabel }}</span>
                  </div>
                  <div class="customer-name">
                    <span>{{proposal.properties.customer}}</span>
                  </div>
                  <div class="date-text">
                    <span>Created {{ proposal.properties.created_at | dateToLocalDate }}</span>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
    </div>

    <!-- Row: Team Member Info -->
    <div class="row collapse downline-row info-row" id="info-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'impact' }">
      <!-- Large -->
      <div ng-hide="activeTab !== 'impact'" class="large-12 columns">
        <!-- Generation -->

        <div class="icon-container">

          <div class="w25percent team-member-info-large">
            <div class="icon">
              <img ng-src="{{legacyImagePaths.teamPhoneIcon}}">
            </div>
            <div class="info-text">
              <span>{{currentTeamMember.phone || 'xxx-xxx-xxxx'}}</span>
            </div>
          </div>

          <div class="w25percent team-member-info-large">
            <div class="icon social-media">
              <img ng-src="{{legacyImagePaths.teamEmailIcon}}">
            </div>
            <div class="info-text email-text">
              <span class="email"><a href="mailto:{{currentTeamMember.email}}">{{currentTeamMember.email}}</a></span>
            </div>
          </div>
        </div>

        <div class="w25percent team-member-info-large">
          <div class="icon social-media">
            <div class="small-12 medium-6 columns">
              <!-- If Facebook -->
              <a ng-if="currentTeamMember.profile.facebook_url" href="{{currentTeamMember.profile.facebook_url}}"><i class="fa fa-facebook alternate"></i></a>
              <!-- If No Facebook -->
              <a ng-if="!currentTeamMember.profile.facebook_url"><i class="fa fa-facebook  alternate disabled"></i></a>
            <div class="info-text show-for-large-up">
              <span class="show-for-xlarge-up" ng-class="{ 'disabled': !currentTeamMember.profile.facebook_url }">Facebook</span>
              <span class="hide-for-xlarge-up" ng-class="{ 'disabled': !currentTeamMember.profile.facebook_url }">FB</span>
            </div>
          </div>
          <div class="small-12 medium-6 columns bottom-part">
             <!-- If Twitter -->
             <a ng-if="currentTeamMember.profile.twitter_url" href="{{currentTeamMember.profile.twitter_url}}"><i class="fa fa-twitter alternate"></i></a>
             <!-- If No Twitter -->
             <a ng-if="!currentTeamMember.profile.twitter_url"><i class="fa fa-twitter  alternate disabled"></i></a>
            <div class="info-text show-for-large-up">
              <span ng-class="{ 'disabled': !currentTeamMember.profile.twitter_url }">Twitter</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

   <!-- Row: Proposal Info -->
    <div class="row collapse downline-row drilldown proposal-row" ng-class="{ 'expand': showProposal }">
      <!-- Large -->
      <div ng-hide="!showProposal" class="large-12 columns form">
        <form>
          <div class="row">
          <div class="summary large-3 medium-3 columns">
            <!-- Incomplete -->
            <div ng-show="activeProposal.status === 'incomplete'">
              <h1>Incomplete Proposal</h1>
              <p>This proposal needs more information before being submitted.</p>
              <hr class="divider">
              <p>SolarCity requires the customer's name, phone number, and email address.</p>
              <hr class="divider">
              <p>Proposal ID: {{activeProposal.id}}</p>
            </div>

            <!-- Ready To Submit-->
            <div ng-show="activeProposal.status === 'ready_to_submit'">
              <h1>Completed Proposal</h1>
              <p>Great! This proposal is ready to be submitted to SolarCity.</p>
              <hr class="divider">
              <p>Ensure the customer information is correct before using the Submit button below.</p>
              <hr class="divider">
              <p>Proposal ID: {{activeProposal.id}}</p>
            </div>

            <!-- Ineligible Location -->
            <div ng-show="activeProposal.status === 'ineligible_location'">
              <h1>Ineligible Proposal</h1>
              <p>This proposal looks ineligible based on the customer's location.</p>
              <hr class="divider">
              <p>When SolarCity is available in the customer's location, this proposal's status will be updated and you'll be able to continue where you left off.</p>
              <hr class="divider">
              <p>Proposal ID: {{activeProposal.id}}</p>
            </div>

            <!-- Submitted -->
            <div ng-show="activeProposal.status === 'submitted' || activeProposal.status === 'in_progress' || activeProposal.status === 'closed_won' || activeProposal.status === 'lost' || activeProposal.status === 'on_hold'">
              <h1>Submitted Proposal</h1>
              <p>This proposal has been submitted to SolarCity.</p>
              <hr class="divider">
              <p>This proposal was submitted to SolarCity at {{ activeProposal.submitted_at | timeToLocalTime }} on {{ activeProposal.submitted_at | dateToLocalDate }}.</p>
              <hr class="divider">
              <p>Proposal ID: {{activeProposal.id}}</p>
            </div>

          </div>
            <div class="large-9 columns right-side">
              <div class="large-6 columns right-summary">
                <fieldset>
                  <legend><i class="fa fa-envelope"></i> Customer Information</legend>

                  <div class="submitted-proposal panel">
                    <label>Contact Information</label>
                    <div class="customer-info">
                    <!-- Customer Name -->
                    <p class="name">{{activeProposal.customer}}</p>
                    <!-- Address -->
                    <div ng-if="activeProposal.address && activeProposal.city && activeProposal.state && activeProposal.zip">
                      <p class="address">{{activeProposal.address}}</p>
                      <!-- City/State/ZIP -->
                      <p class="city-state-zip">
                        {{activeProposal.city}}, {{activeProposal.state}} {{activeProposal.zip}}
                      </p>
                    </div>
                    <!-- Email -->
                    <p class="email"><a href="mailto:{{activeProposal.email}}">{{activeProposal.email}}</a></p>
                    <!-- Phone -->
                    <p class="phone">{{proposal.phone}}</p>
                    </div>
                  </div>

                  <!-- Custom Product Fields -->
                  <div ng-if="showProductFields || showNotes">
                    <div class="submitted-proposal panel">
                      <label>Other Information</label>
                      <div class="proposal-product-field" ng-repeat="(key, value) in proposal.product_fields">
                        <p class="label">{{ key | cleanLabel }}</p>
                        <p class="value">{{value}}</p>
                      </div>
                      <div ng-if="showNotes" class="proposal-product-field notes">
                        <p class="label">Notes</p>
                        <p class="value">{{proposal.notes}}</p>
                      </div>
                    </div>
                  </div>

                </fieldset>
              </div>
              <!-- Lead Updates -->
              <div class="large-6 columns">
                <fieldset>
                  <legend><i class="fa fa-exchange"></i> Updates</legend>

                  <!-- If No Updates -->
                  <div ng-if="!updates" class="lead-update panel">
                    <p>No Data Available</p>
                  </div>

                  <!-- Lead Updates -->
                  <div ng-repeat="lead_update in updates" class="lead-update panel">
                    <label>{{ lead_update.properties.updated_at | dateToLocalDate }} at {{ lead_update.properties.updated_at | timeToLocalTime }}</label>
                    <div class="status">
                      <label>Status</label>
                      <p>{{ lead_update.properties.status | cleanLabel }}</p>
                    </div>
                    <!-- Lead Status -->
                    <div ng-if="lead_update.properties.lead_status" class="status">
                      <label>Lead Status</label>
                      <p>{{ lead_update.properties.lead_status | cleanLabel }}</p>
                    </div>
                    <!-- Opportunity Stage -->
                    <div ng-if="lead_update.properties.opportunity_stage" class="status">
                      <label>Opportunity Stage</label>
                      <p>{{ lead_update.properties.opportunity_stage | cleanLabel }}</p>
                    </div>
                    <!-- Consultation Date -->
                    <div ng-if="lead_update.properties.consultation" class="status">
                      <label>Consultation Date</label>
                      <p>{{ lead_update.properties.consultation | dateToLocalDate }}</p>
                    </div>
                    <!-- Contract Signed Date -->
                    <div ng-if="lead_update.properties.contract" class="status">
                      <label>Contract Signed Date</label>
                      <p>{{ lead_update.properties.contract | dateToLocalDate }}</p>
                    </div>
                    <!-- Installation Date -->
                    <div ng-if="lead_update.properties.installation" class="status">
                      <label>Installation Date</label>
                      <p>{{ lead_update.properties.installation | dateToLocalDate }}</p>
                    </div>
                    <!-- Raw Status Details from Solar City -->
                    <div class="solarcity-status">
                      <label>More Details from SolarCity</label>
                      <p ng-repeat="(key, value) in lead_update.properties.data">{{key}}: {{value}}</p>
                    </div>
                  </div>


                </fieldset>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Row: Invites Carousel -->
  <div class="downline-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'invites'}">
    <div class="team-invites">
    <!-- Invites Available -->
    <div class="w20percent small-2 columns">
      <div class="invites-summary">
        <div class="number">
          <span>{{invitesAvailable}}</span>
        </div>
        <div class="info-text">
          <span>Available Invites Will Display Here</span>
          <!-- <span>Invites Available</span> -->
        </div>
      </div>
    </div>

    <!-- Invites Carousel -->
    <div class="carousel-container no-border w80percent small-10 columns">
      <div class="invites no-border owl-carousel">
        <div ng-repeat="invite in invites">

          <!-- Existing Invites -->
          <div ng-if="invite.type !== 'empty'" class="invite">
            <div class="icon">
              <span><i class="fa fa-user fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span>{{invite.properties.first_name}} {{invite.properties.last_name}}</span>
            </div>
            <div class="status-text">
              <span>Expires {{ invite.properties.expires | dateToLocalDate }} {{ invite.properties.expires | timeToLocalTime }}</span>
            </div>
          </div>

          <!-- Empty Invites -->
          <div ng-if="invite.type === 'empty'" class="invite">
            <div class="icon">
              <span><i class="fa fa-circle-thin fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span>Empty</span>
            </div>
            <div class="status-text">
              <span>Invite Someone</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Row: Invite Team Member Form -->
  <div class="drilldown row collapse team-drilldown" ng-class="{'active': drilldownActive == true}">
    <div ng-hide="!showForm" class="fade-in-section" ng-class="{'active': showForm == true}">
      <!-- New Invite Summary Text -->
      <div class="summary large-3 medium-3 columns">

        <h1>New Invite</h1>
        <p>Enter team member information to create a new invite.</p>
        <p>Invites expire after 24 hours. You can renew or release invites after they have expired.</p>

      </div>

      <!-- Form if New Invite -->
      <div ng-if="mode === 'incomplete' || mode === 'new'" class="form large-9 medium-9 columns">
        <ng-include src="'dashboard/templates/sections/team-invite-form.html'"></ng-include>
      </div>
      <!-- Summary if Existing Invite -->
      <div ng-if="mode === 'submitted'" class="form large-9 medium-9 columns">
        <ng-include src="'dashboard/templates/sections/team-invite-existing.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
</div>
