<div class="row">
  <div class="large-12 columns">
    <div class="news">
      <span class="latest-news-label">Latest News</span>
      <div class="notifications">
        <div class="notification" ng-repeat="post in news">
          <p ng-bind-html="post.properties.content" class="text">{{ post.properties.content }}</p>
          <span class="date">{{ post.properties.created_at | dateToLocalDate }}</span>
        </div>
        <a class="load-more" ng-if="moreNews" ng-click="loadMoreNews()">Load More</a>
      </div>
    </div>
  </div>
</div>
