<div class="row">
  <div class="large-6 medium-8 columns">

    <!-- Row: Name and Welcome Quote -->
    <div class="welcome-message row">
      <!-- Photo -->
      <div class="large-2 large-offset-1 medium-3 small-4 small-offset-1 columns">
        <img class="avatar" ng-src="{{currentUser.avatar.large || legacyImagePaths.defaultAvatar}}">
      </div>
      <!-- Name and Welcome Quote -->
      <div class="large-9 medium-8 small-7 columns">
        <h2>Welcome, {{currentUser.first_name}}</h2>
        <h5>The world needs you.</h5>
      </div>
    </div>

    <!-- Row: Pay Period Goals -->
    <div ng-show="goals" class="pay-period-goals row">
      <div class="large-10 large-offset-1 medium-10 small-12 columns">
        <!-- Label -->
        <h5>Your Pay Period Goals</h5>
        <!-- Legend -->
        <div class="legend">
          <div ng-repeat="requirement in goals.requirements">
            <div class="legend-item" ng-if="requirement.properties.event_type === 'course_completion'">
              <div class="legend-key course"></div>
              <span>{{requirement.properties.product}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="legend-item" ng-if="requirement.properties.event_type === 'personal_sales'">
              <div class="legend-key personal"></div>
              <span>Personal Rooftops</span>
            </div>
             <div class="legend-item" ng-if="requirement.properties.event_type === 'group_sales'">
              <div class="legend-key group"></div>
              <span>Grid Rooftops</span>
            </div>
          </div>
        </div>
        <div class="progress-bar-box" ng-class="{ large : goals.requirements.length > 1 }">
          <!-- Badge -->
          <div class="badge show-for-medium-up">
            <img class="badge" ng-class="{ half: goals.requirements.length == 2, full: goals.requirements.length === 1 }" ng-src="{{badgePath(goals.properties.next_rank)}}">
          </div>
          <div ng-repeat="requirement in goals.requirements" repeat-end="onEnd()">
            <div
              class="progress-bar enrollment"
              ng-if="requirement.properties.event_type === 'course_completion'"
              ng-class="{ half: goals.requirements.length === 2,
                          full: goals.requirements.length === 1 }">
              <span class="progress-text">{{goals.courseState}}</span>
              <div class="green bar hold"  style="width : {{calculateProgress(requirement)}}"></div>
              <!-- <div class="label below"></div> -->
            </div>
            <div
              class="progress-bar personal"
              ng-if="requirement.properties.event_type === 'personal_sales'"
              data-percentage="{{goals.personalPercent}}"
              ng-class="{ half: goals.requirements.length == 2,
                          full: goals.requirements.length === 1 }">
              <!-- <div class="label above"></div> -->
              <span class="progress-text">{{goals.personal}}</span>
              <div class="orange bar hold" style="width : {{calculateProgress(requirement)}}"></div>
            </div>
            <div
              class="progress-bar group"
              ng-if="requirement.properties.event_type === 'group_sales'"
              data-percentage="{{goals.personalPercent}}"
              ng-class="{ half: goals.requirements.length === 2,
                          full: goals.requirements.length === 1 }">
              <span class="progress-text">{{goals.group}}</span>
              <div class="blue bar hold" style="width : {{calculateProgress(requirement)}}"></div>
              <!-- <div class="label below"></div> -->
            </div>
          </div>
          <a ng-if="courseLinking" ng-href="/university/classes/{{goals.courseId}}/purchase"><div class="progress-text">Need to enroll? Click here.</div></a>
          <a ng-if="showBetaDashboardVideoLink" ng-click="showVideoModal(legacyImagePaths.betaDashboardVideo)"><div class="progress-text"><i class="fa fa-play"></i> Play Powur Beta Dashboard Overview Video</div></a>
        </div><!-- end progress-bar-box -->

        <span ng-if="courseRequirementMessage" class="course-requirement-message">{{courseRequirementMessage}}</span>
      </div>
    </div>
  </div>

  <div class="large-6 medium-4 columns">

    <!-- News Section -->
    <div class="news row">
      <div class="large-11 large-offset-1 medium-11 medium-offset-1 columns">
        <span class="latest-news-label">Latest News</span>
        <div class="notifications">
          <div class="notification" ng-repeat="notification in news">
            <p ng-bind-html="notification.properties.content" class="text">{{notification.properties.content}}</p>
            <span class="date">{{ notification.properties.created_at | dateToLocalDate }}</span>
          </div>
          <a class="load-more" ng-if="moreNews" ng-click="loadMoreNews()">Load More</a>
        </div>
      </div>
    </div>

  </div>
</div>
