.powur-header {
  @media #{$small} {
    .top-bar-section ul li > a {
      padding: 3px 0 3px 30px;
      font-weight: normal;
    }

    label {
      margin-left: 10px;
    }
  }

  li {
    font-family: "Varela Round", "Open Sans", sans-serif;
    text-transform: uppercase;
  }

  .main-logo {
    .logo-img {
      margin-top: -20px;
      width: 150px;
    }
  }

}
