.pow-admin-index {
  .index-table {
    width: 100%;

    .table-image {
      width: 100px;
    }
  }

  // Utility
  .position-relative {
    position: relative;
  }

  .index-buttons {
    margin-left: 10px;
  }
}

.pow-admin-show {
  .capitalize {
    text-transform: capitalize;
  }
  .index-table {
    width: 100%;

    .table-image {
      width: 100px;
    }
  }
  .sum-row {
    background: $pow-color-blue;
    td {
      color: #fff;
      font-weight: 400;
    }
  }
  button {
    &.inactive {
      background: #ccc;
      cursor: default;
    }
    &.complete {
      background: $pow-color-green;
      cursor: default;
    }
  }
}
