.pow-admin-index {
  .index-table {
    width: 100%;

    .table-image {
      width: 100px;
    }
  }

  // Utility
  .position-relative {
    position: relative;
  }

  .index-buttons {
    margin-left: 10px;
  }
}

.pow-admin-show {
  .index-table {
    width: 100%;

    .table-image {
      width: 100px;
    }
  }
}
