.pow-admin-index {
  .index-table {
    width: 100%;

    .table-image {
      width: 100px;
    }
  }

  // Utility
  .position-relative {
    position: relative;
  }

  .index-buttons {
    margin-left: 10px;
  }

  input.search {
    max-width: 250px;
    background: image-url('search.svg');
    max-width: 250px;
    padding-left: 30px;
    background-repeat: no-repeat;
  }
}

.pow-admin-show {
  .capitalize {
    text-transform: capitalize;
  }
  .index-table {
    width: 100%;

    .table-image {
      width: 100px;
    }
  }

  .sub-title {
    font-size: 20pt;

  }
  .sum-row {
    background: $pow-color-blue;
    td {
      color: #fff;
      font-weight: 400;
    }
  }
  button {
    &.inactive {
      background: #ccc;
      cursor: default;
    }
    &.complete {
      background: $pow-color-green;
      cursor: default;
    }
  }

  .space-left {
    margin-left: 10px;
  }
}

.ui-datepicker-header {
  background-color: #fff;
  font-size: .7em;

  .ui-datepicker-next {
    right: 8px;
  }
}

.admin-leads {
  .change {
  }
  span {
    float: left;
  }
  input {
    float: right;
    width: 3rem;
    margin: 0;
    height: 1.5rem;
  }
}


.capitalize {
  text-transform: capitalize;
}

