// Notifications-Specific Classes

.admin-notifications-item_container {
  position: relative;
  padding: 16px;
  display: block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;

  p.date {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
    top: 8px;
    left: 16px;
    text-align: left;
    color: #9b9b9b;
  }

  p.content {
    font-size: 24px;
    text-align: left;
    top: 30px;
    left: 16px;
  }

  .remove_x {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
  }

}

#content { // textarea input box
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  padding-left: 15px;
  padding-top: 30px;
  max-width: 930px;
  min-width: 930px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: rgba(0,0,0,0.08);
}


// Standard Dashboard Classes

.js-dashboard_section_indicator{
  position:absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 30px 15px;
  opacity: 0;
  top:0px;
  left:0px;
  z-index:50;
  border-color: transparent transparent #f7f7f9 transparent;
}

.js-admin_dashboard_column.summary{
  width: 192px;
}

.js-admin_dashboard_column.detail{
  width: 960px;
}

.js-admin_dashboard_detail_container{
  position: relative;
  background:#fff;
  min-height: 300px;
  margin-top:16px;
  overflow: hidden;
  padding:16px;

  legend {
    font-size: 16px;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 4px;
  }
}

.js-admin_dashboard_column {
  height: 100%;
  min-height: 200px;
  margin: 0;
  padding: 32px;
  padding-top: 48px;
  position: relative;
  float: left;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#subheader_bar{
  height:12px;
  position: relative;
}

.subtext {
  text-align: left;
}

hr {
  border-top: 1px dashed #aaa;
}