.pow-admin-users {

  .invites-table {
    width: 100%;
  }

  .user-avatar {
    border-radius: 50%;
    height: auto;
    width: auto;
    display: inline-block;
  }

  fieldset legend {
    background: inherit;
  }

  table {
    width: 100%;
  }

  .tab-title.active a {
    border: 1px solid #ddd;
    border-bottom: 0;
  }
}