<div class="hud goals mobile">
  <div ng-repeat="req in hud.goalRequirements" layout="column" layout-align="center center">
    <div ng-show="req.properties.purchase" layout="row" layout-align="space-around center" layout-fill class="bar">
      <div class="purchase" flex>
        <div class="title">UPGRADE</div>
        <a ng-href="/upgrade"><div class="product">{{ req.properties.product }}</div></a>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="space-around center" layout-fill class="bar">
    <div layout-align="center center">
      <span>Rank</span>
      <span class="rank-title">{{ hud.rankTitle }}</span>
      <div class="medal icon"></div>
    </div>
    <div ng-repeat="req in hud.goalRequirements">
      <span ng-if="req.properties.team">Grid</span>
      <span ng-if="!req.properties.team">Personal</span>
      <span class="number">{{ req.properties.progress }}<sup>/{{ req.properties.quantity }}</sup></span>
      <div class="icon"></div>
    </div>
  </div>
</div>

<div class="hud goals desktop" layout="row">
  <div flex="50">
    <div class="triangle" layout="column" layout-align="end center">
      <span>GOAL</span>
    </div>
    <div layout="row" layout-align="center center" layout-fill class="bar">
      <div class="inner-bar" layout="row" layout-align="space-around center">
        <div ng-if="hud.rank > 0" layout="column" layout-align="center center">
          <div layout="row" layout-align="center center" class="medal new-icon">
            <span class="rank-title">{{ hud.rankTitle }} ({{ hud.rank }})</span>
          </div>
          <span class="label">Next Rank</span>
        </div>

        <div ng-if="hud.rank < 5 && hud.rank != 1" ng-repeat="req in hud.goalRequirements" layout="column" layout-align="center center" class="text-center">
          <div layout="row" ng-if="hud.rank > 0" layout-align="center center" class="new-icon" ng-class="{'grid-lead': req.properties.team, 'personal-lead': !req.properties.team}">
            <span class="number">{{ req.properties.progress }}<span class="sub">/{{ req.properties.quantity }}</span></span>
          </div>
          <div class="purchase" flex ng-show="req.properties.purchase">
            <div class="title">UPGRADE</div>
            <a ng-href="/upgrade"><div class="product">{{ req.properties.product }}</div></a>
          </div>
          <span ng-hide="req.properties.purchase" class="label">{{ req.properties.title }}</span>
        </div>

        <div ng-if="hud.rank == 1" layout="column" layout-align="center center" layout-fill>
          <div layout="row" layout-align="space-around center">
            <div ng-repeat="i in hud.nSizeArray(hud.goalRequirements[0].properties.quantity) track by $index" layout="column" layout-align="center center">
              <div layout="row" layout-align="center center" class="new-icon personal-lead">
                <i class="material-icons">{{ $index < hud.goalRequirements[0].properties.progress ? 'check_circle' : 'lens' }}</i>
              </div>
            </div>
          </div>
          <span class="label">{{ hud.goalRequirements[0].properties.title }}</span>
        </div>

        <div ng-if="hud.rank >= 5" layout="column" layout-align="center center" class="text-center">
          <div layout="row" layout-align="center center" class="new-icon personal-lead">
            <span class="number">{{ hud.goalPersonalRequirement.properties.progress }}<span class="sub">/{{ hud.goalPersonalRequirement.properties.quantity }}</span></span>
          </div>
          <span class="label">{{ hud.goalPersonalRequirement.properties.title }}</span>
        </div>

        <div ng-if="hud.rank >= 5" ng-repeat="i in hud.nSizeArray(3) track by $index" layout="column" layout-align="center center" class="text-center">
          <div layout="row" layout-align="center center" class="new-icon personal-lead">
            <span class="number">{{ hud.goalTeamRequirement.properties.progress/3 | number : 0 }}<span class="sub">/{{ hud.goalTeamRequirement.properties.quantity/3 | number : 0 }}</span></span>
          </div>
          <span class="label">Leg {{ $index + 1 }}</span>
        </div>

      </div>
    </div>
  </div>
  <div flex="50">
    <div class="triangle" layout="column" layout-align="end center">
      <span>KPI</span>
    </div>
    <div layout="row" layout-align="center center" layout-fill class="bar">
      <div class="inner-bar" layout="row" layout-align="space-around center" >
        <div layout="column" layout-align="center center">
          <div layout="row" layout-align="center center" class="grid new-icon">
            <span class="number">{{ hud.userData.metrics.team_count | wholeNumber }}</span>
          </div>
          <span class="label">Grid Size</span>
        </div>
        <div layout="column" layout-align="center center">
          <div layout="row" layout-align="center center" class="earnings new-icon">
            <span class="number">{{ hud.userData.metrics.earnings | wholeNumber }}<sup>{{ hud.userData.metrics.earnings | decimalPart }}</sup></span>
          </div>
          <span class="label">Earnings</span>
        </div>
        <div layout="column" layout-align="center center">
          <div layout="row" layout-align="center center" class="offset co2 new-icon">
            <span class="number">{{ hud.userData.metrics.co2_saved | wholeNumber }}<small class="md-caption"> lb/ft<sup>2</sup></small></span>
          </div>
          <span class="label">CO<sub>2</sub> Saved</span>
        </div>
      </div>
    </div>
  </div>
</div>
