  <!-- Team Members Carousel -->
  <div class="carousel-container w80percent small-10 columns">

    <!-- If Team Members -->
    <div ng-if="teamMembers" class="team owl-carousel">
      <a ng-repeat="teamMember in teamMembers">

        <div 
          class="team-member" 
          ng-class="{active: memberActive(teamMember)}" 
          ng-mouseenter="hover = true"
          ng-mouseleave="hover = false">
          <div class="team-tabs">
            <div 
              class="team-tab downline" 
              ng-class="{ 'raise': hover || ( activeTab === 'kpi' && memberActive(teamMember) ) }"
              ng-click="activeTab = !downlineActive"
              ng-if="teamMember.properties.downline_count > 0"
              id="js-downline-tab" 
              ng-click="teamSection.changeTab(teamMember.properties.id, 'kpi')">
              TEAM
            </div>
            <div 
              class="team-tab impact" 
              ng-class="{ 'raise': hover || ( activeTab === 'impact' && memberActive(teamMember) ), 'half': teamMember.properties.downline_count === 0 }" 
              id="js-impact-tab" 
              ng-click="teamSection.changeTab(teamMember.properties.id, 'impact');">
              KPI
            </div>
            <div 
              class="team-tab info" 
              ng-class="{ 
                'raise': hover || ( activeTab === 'info' && memberActive(teamMember)), 
                'half': teamMember.properties.downline_count === 0, 
                'active-tab': ( activeTab === 'info' && memberActive(teamMember)),
                'even': teamMember.properties.level % 2 === 0,
                'odd': teamMember.properties.level % 2 !== 0  
              }" 
              id="js-info-tab" 
              ng-click="teamSection.changeTab(teamMember.properties.id, 'info');">
              INFO
            </div>
          </div>
          <div class="icon">
            <span><i class="fa fa-user fa-4x"></i></span>
          </div>
          <div class="info-text">
            <span>{{teamMember.properties.first_name}} {{teamMember.properties.last_name}}</span>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>