<table class="index-table">
  <thead>
    <tr>
      <th width="30">ID <powur-sorter control="index" field="id"></powur-sorter></th>
      <th>Product Name <powur-sorter control="index" field="product_id"></powur-sorter></th>
      <th width="30">User ID</th>
      <th>User</th>
      <th>Email</th>
      <th>Transaction ID</th>
      <th>Authorization Code</th>
      <th>Amount <powur-sorter control="index" field="amount"></powur-sorter></th>
      <th>Date <powur-sorter control="index" field="date"></powur-sorter></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>{{item.properties.id}}</td>
      <td>{{item.properties.product.name}}</td>
      <td>{{item.properties.user.id}}</td>
      <td><a ng-href="/admin/users/{{item.properties.user.id}}">{{item.properties.user.first_name}} {{item.properties.user.last_name}}</a></td>
      <td><a href="mailto:{{item.properties.user.email}}">{{item.properties.user.email}}</a></td>
      <td>{{item.properties.transaction_id}}</td>
      <td>{{item.properties.auth_code}}</td>
      <td>${{item.properties.amount | formattedPrice }} <b ng-if="item.properties.refunded_at">(refunded)</b></td>
      <td>{{item.properties.purchased_at | dateTimeToLocal}}</td>
      <td>
        <a ng-if="!item.properties.refunded_at" ng-click="confirm('Are you sure you want to mark this receipt as refunded?', 'markAsRefunded', item)">mark as refunded</a>
      </td>
    </tr>
  </tbody>
</table>
