<% content_for :javascript_includes do %>
    <%= javascript_include_tag "passwords.js" %>
<% end %>

<section id="user_content" class="reset_password">

  <h3>Reset Password</h3>

  <form>
    <label for="login_email">Email Address</label>
    <input id="login_email" name="login_email" type="email" placeholder="Email address" required/>
    <a href="<%= login_path %>" class="secondary_button">Remembered it?</a>
    <a href="<%= login_password_path %>" class="button">Reset password</a>

  </form>

  

</section>