<form>
  <fieldset>
    <legend ng-if="mode === 'new'">New Notification</legend>
    <legend ng-if="mode === 'edit'">Update Notification</legend>

    <div class="row">
      <div class="large-12 columns">
        <label for="notification_content">Content</label>
        <input ng-model="notification.content" name="content" id="notification_content" type="text">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <!-- <input type="checkbox" name="is_public" id="notification_is_public" ng-model="notification.is_public"> <label for="notification_is_public">Publish</label> -->
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <a ng-click="cancel()" class="button secondary">Cancel</a>
        <input ng-if="mode === 'new'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="create()" value="Add">
        <input ng-if="mode === 'edit'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="update()" value="Update">
      </div>
    </div>
  </fieldset>
</form>
