<form>
  <fieldset>
    <legend ng-if="mode === 'new'">New Notification</legend>
    <legend ng-if="mode === 'edit'">Update Notification</legend>

    <div class="row">
      <div class="large-12 columns">
        <label for="notification_content">Content</label>
        <input ng-model="notification.content" name="content" id="notification_content" type="text">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <a ng-click="cancel()" class="button secondary">Cancel</a>
        <input ng-if="mode === 'new'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="create()" value="Add">
        <input ng-if="mode === 'edit'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="update()" value="Update">
      </div>
    </div>
  </fieldset>

  <fieldset ng-if="mode === 'edit'">
    <legend>Choose recipients</legend>

    <div class="row">
      <div class="large-12 columns">
        <div ng-repeat="recipient in availableRecipients">
          <input type="checkbox" id="recipient_{{ recipient.properties.name }}" ng-model="selectedRecipients[recipient.properties.name]"> <label for="recipient_{{ recipient.properties.name }}">{{ recipient.properties.name }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <input class="button alert" ng-disabled="isSubmitDisabled" type="submit" ng-click="sendToRecipients()" value="Send To Recipients">
      </div>
    </div>
  </fieldset>
</form>
