<main class="sun-admin-notifications">

  <div class="row">
    <div class="large-6 columns">
      <h2>Dashboard Notifications</h2>
    </div>
    <div class="large-6 columns">
      <a ng-href="/admin/notifications/new" class="button right">New Notification</a>
    </div>
  </div>
  <!-- Notifications -->
  <div ng-repeat="notification in notifications" class="row">
    <div class="large-12 columns">
      <div class="panel">
        <!-- Notification Content -->
        <div class="row">
          <div class="large-10 small-9 columns">
            <h4 ng-bind-html="notification.properties.content">{{notification.properties.content}}</h4>
            <span class="info">posted: {{formattedTime(notification.properties.created_at)}}</span>
          </div>
          <div class="large-2 small-3 columns">
            <!-- Actions Button -->
            <a class="small secondary dropdown button expand" data-dropdown="actions-{{notification.properties.id}}"><span class="hide-for-small">Actions</span><span class="show-for-small"><i class="fa fa-cog"></i></span></a>
            <ul id="actions-{{notification.properties.id}}" class="f-dropdown" data-dropdown-content>
              <li ng-repeat="action in notification.actions"><a ng-click="execute(action, notification)">{{action.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 'Load More' Button -->
  <div class="row">
    <div class="large-12 columns">
      <a ng-if="morePages" class="small button expand" ng-click="loadMore()">Load More</a>
      <a ng-if="!morePages" class="small secondary button expand disabled">No More Notifications to Load</a>
    </div>
  </div>

</main>