<ng-include src="'<%=asset_path("shared/header-signed-in.html") %>'"></ng-include>

<main class="powur-dashboard">

  <h1>Dashboard Index</h1>

</main>

<ng-include src="'<%=asset_path("shared/footer-signed-in.html") %>'"></ng-include>
