<main class="sun-admin-user-groups">
  <div class="row">
    <div class="large-4 columns">
      <a ng-click="cancel()" class="button">Back</a>
    </div>
    <div class="large-8 columns">
      <h2>{{userGroup.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <ng-include src="'<%=asset_path("shared/admin/user-group-menu.html") %>'"></ng-include>
    </div>

    <div class="large-8 columns">
      <div class="tabs-content">
        <!-- Requirements Panel -->
        <div>
          <div class="row">
            <div class="large-12 columns">
              <h3>Requirements</h3>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <h4>Edit Requirement</h4>
              <!-- Edit Requirement Form -->
              <form name="newRequirementForm" ng-submit="update()">
                <ng-include src="'<%=asset_path("angular/admin/user-group-requirements/templates/form.html.erb") %>'"></ng-include>
                <!-- Buttons -->
                <a ng-click="formCancel()" class="button">Cancel</a>
                <input class="button" ng-disabled="isSubmitDisabled" type="submit" value="Save Requirement" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
