<% content_for :javascript_includes do %>
	<%= javascript_include_tag "user.js" %>
<% end %>

<section style="text-align:center; margin-top:200px;">
<div style="width:500px; margin:auto;">
<form id="user_login">
	<label for="email">Email Address</label>
	<input name="email" value="" type="text" placeholder="Email address"  required autofocus>
	<input name="password" type="password"  placeholder="Password" required >
</form>
<p><a href="/user/reset_password">Need to reset your password?</a></p>

</div>
</section>
