<% content_for :javascript_includes do %>
	<%= javascript_include_tag "user.js" %>
<% end %>

<section id="user_content" class="user">
	<h3>Promoter Login</h3>
	
	<form id="user_login" class=" js-login_form">

		<span class="form_row">
			<label for="email">Email</label>
			<input name="email" type="text" placeholder="Email" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="password">Password</label>
			<input name="password" type="password" placeholder="password" class="validate" required/>
		</span>
		<a href="/user/reset_password" class="secondary_button">Reset password</a>
		<a href="#" class="button">Submit</a>
	</form>

</section>
