<section class="js-sign_in">

	<form>
		<label for="login_email">Email Address</label>
		<input id="login_email" name="login_email" type="email" placeholder="Email address" required autofocus/>
	
		<label for="login_password">Password</label>
		<input id="login_password" name="login_password" type="password" placeholder="Password" required/>

		<a href="/dashboard" class="button">Log in</a>
	</form>

	<p><a href="/user/reset_password">Need to reset your password?</a></p>

</section>