<section class="js-sign_in">

	<form>
		<label for="login_email">Email Address</label>
		<input id="login_email" name="login_email" type="email" placeholder="Email address" required autofocus/>
	
		<label for="login_password">Password</label>
		<input id="login_password" name="login_password" type="password" placeholder="Password" required/>

		<a href="/dashboard" class="button">Log in</a>
	</form>

	<p><span class="faux_link js-toggle_login">Need to reset your password?</span></p>

</section>


<section class="js-reset_password hide">

	<form>
		<label for="login_email">Email Address</label>
		<input id="login_email" name="login_email" type="email" placeholder="Email address" required/>

		<span class="button js-toggle_login">Reset password</span>

	</form>

	<p><span class="faux_link js-toggle_login">Just remembered it?</span></p>

</section>