<section>

	<form>
		<label for="login_email">Email Address</label>
		<input id="login_email" name="login_email" type="email" placeholder="Email address" required/>

		<a href="/user" class="button">Reset password</a>

	</form>

	<p><a href="/user">Just remembered it?</a></p>

</section>