<section id="user_content" class="reset_password">

	<h3>Reset Password</h3>

	<form>
		<label for="login_email">Email Address</label>
		<input id="login_email" name="login_email" type="email" placeholder="Email address" required/>
		<a href="/user" class="secondary_button">Remembered it?</a>
		<a href="/user" class="button">Reset password</a>

	</form>

	

</section>