<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="sun-university">

  <div class="row">
    <div class="large-3 medium-6 columns left university-class-item-wrapper" ng-repeat="classItem in universityClasses.entities">
      <div class="class-item">
        <div class="image-wrapper"><img ng-src="{{classItem.properties.image_url}}" /></div>

        <div class="class-progress" ng-class="{'started': classItem.properties.state === 'started', 'completed': classItem.properties.state === 'completed'}"><div class="progress-inner">&nbsp;</div></div>

        <div class="class-info">
          <h5 ng-if="classItem.properties.price > 0">${{classItem.properties.price/100}}</h5>
          <h6>{{classItem.properties.name}}</h6>
          <p class="description">{{classItem.properties.description}}</p>
          <a class="button btn small" ng-click="takeClass(classItem)" ng-if="canTakeClass(classItem)">Take Class</a>
          <a class="button btn small purchase" ng-href="/university/classes/{{classItem.properties.id}}/purchase" ng-if="canPurchaseClass(classItem)">Purchase</a>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-include src="'shared/footer-signed-in.html'"></ng-include>
