<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="pow-university">

  <div class="sub-header">
    <div class="row">
      <div class="large-12 columns inner">
        <h1>Powur University</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-4 medium-6 columns left university-class-item-wrapper" ng-repeat="classItem in universityClasses.entities">
      <div class="class-item">

        <div class="image-wrapper">
          <a class="button expand refresh-button radius" ng-click="checkEnrollment(classItem)" ng-if="showCheckStatusButton(classItem)">Check Status</a>
          <img ng-src="{{classItem.properties.image_url}}">
          <div ng-if="showCheckStatusButton(classItem)" class="mask"></div>
        </div>
        <div class="class-progress" ng-class="{'started': classItem.properties.state === 'started', 'completed': classItem.properties.state === 'completed'}">
          <div class="progress-inner">&nbsp;</div>
        </div>

        <div class="class-info">
          <h5 class="price" ng-if="classItem.properties.price > 0">${{ classItem.properties.price }}</h5>
          <h6 class="name">{{classItem.properties.name}}</h6>
          <p class="description">
            {{classItem.properties.description}}
          </p>
          <span ng-if="classItem.properties.prerequisite" class="prerequisite-message">Complete {{classItem.properties.prerequisite.name}} to Unlock</span>
        </div>
      </div>

      <!-- Buttons -->
      <div class="class-buttons">
        <a class="button small expand" ng-click="reviewClass(classItem)" ng-if="canReviewClass(classItem)">Review</a>
        <a class="button small expand" ng-click="takeClass(classItem)" ng-if="canTakeClass(classItem)">Take Class</a>
        <a class="button small expand purchase" ng-href="/upgrade" ng-if="canPurchaseClass(classItem)">Learn More</a>
      </div>
    </div>
  </div>
</main>

<ng-include src="'shared/footer.html'"></ng-include>
