<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="sun-university class-purchase-page">

  <div class="row" ng-if="!purchaseComplete">
    <div class="large-12 columns">
      <h1>{{classItem.properties.name}}</h1>
    </div>

    <div class="large-4 medium-4 small-6 columns">
      <div class="image-wrapper"><img ng-src="{{classItem.properties.image_url}}" /></div>
    </div>

    <div class="large-8 medium-8 small-6 columns">
      <span class="description">{{classItem.properties.description}}</span>
      <span class="price-wrapper">Total: ${{classItem.properties.price/100}}</span>
    </div>

    <div class="large-12 columns">
      <div class="purchase-form-wrapper">

        <h2 class="form-header">Purchase</h2>

        <form name="purchaseForm" ng-submit="purchase(classItem)" novalidate>

          <div class="row">
            <div class="large-12 columns">
              <h4>Your Billing Information</h4>
            </div>

            <div class="large-2 columns">
              <label>Name:</label>
            </div>

            <div class="large-4 columns">
              <input ng-model="card.name" name="card_name" type="text" />
            </div>

            <div class="large-2 columns">
              &nbsp;
            </div>

            <div class="large-4 columns">
              &nbsp;
            </div>

            <div class="clearfix"></div>

            <div class="large-2 columns">
              <label>Address line:</label>
            </div>

            <div class="large-10 columns">
              <input ng-model="card.address" name="card_address" type="text" />
            </div>

            <!-- <div class="large-2 columns">
              <label>Address line 2:</label>
            </div>

            <div class="large-10 columns">
              <input ng-model="card.address2" name="card_address2" type="text" />
            </div> -->

            <div class="clearfix"></div>

            <div class="large-2 columns">
              <label>City:</label>
            </div>

            <div class="large-2 columns">
              <input ng-model="card.city" name="card_city" type="text" />
            </div>

            <div class="large-2 columns">
              <label>State/Province:</label>
            </div>

            <div class="large-2 columns">
              <select ng-model="card.state" ng-options="state.abbr as state.name for state in states">
                <option value="">State</option>
              </select>
            </div>

            <div class="large-2 columns">
              <label>Zip/Postal Code:</label>
            </div>

            <div class="large-2 columns">
              <input ng-model="card.zip" name="card_zip" type="text" />
            </div>

            <div class="large-12 columns">
              <h4>Your Payment Information</h4>
              <img src="<%= asset_path('credit-cards.jpg') %>" class="credit-cards" />
            </div>

            <div class="large-2 columns">
              <label>Card Number:</label>
            </div>

            <div class="large-4 columns">
              <input ng-model="card.number" name="card_number" type="text" />
            </div>

            <div class="large-2 columns">
              <label>Security Code:</label>
            </div>

            <div class="large-1 columns">
              <input ng-model="card.cvv" name="card_cvv" type="text" />
            </div>

            <div class="large-1 columns">
              <div class="cvv-info-wrapper">
                <div data-tooltip class="cvv-info has-tip tip-top" title="The CVV is a 3 or 4 digit code imprinted on the reverse side of Visa, MasterCard and Discover cards.">&nbsp;</div>
              </div>
            </div>

            <div class="large-2 columns">
              &nbsp;
            </div>

            <div class="clearfix"></div>

            <div class="large-2 columns">
              <label>Expiration:</label>
            </div>

            <div class="large-4 columns">
              <input ng-model="card.expiration" name="card_expiration" placeholder="MMYY" type="text" />
            </div>

            <div class="large-2 columns">
              &nbsp;
            </div>

            <div class="large-4 columns">
              &nbsp;
            </div>

            <div class="large-12 columns">
              <div class="error-message-wrapper">{{errorMessage}}&nbsp;</div>
            </div>

            <div class="large-10 columns">
              <div class="secure-server right">Secure Server</div>
              <div class="lock-icon right"></div>
            </div>

            <div class="large-2 columns">
              <input class="button right" type="submit" ng-disabled="isPurchaseDisabled" value="Purchase" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" ng-if="purchaseComplete">
    <div class="large-12 columns purchase-complete-page">
      <div class="purchase-complete-inner">
        <h1>Thank you!</h1>
        <span>Your purchase is complete</span>
      </div>
      <span>Please click <a ng-click="takeClass(classItem)">here</a> to proceed to the class</span>
    </div>
  </div>
</main>

<ng-include src="'shared/footer-signed-in.html'"></ng-include>
