<!-- Hard-Coded "Create" Action -->

<legend>New Notification</legend>
<div class="action-create">
  <form id="admin-notifications-create_notification_form">
    <span class="form_row">
      <label for="content">Notification Text</label>
      <input type="text" id="content" name="content">
    </span>
    <a href="#" class="button js-create_notification">Post</a>
  </form>
</div>

<legend>Posted Notifications</legend>
{{#each this.entities}}
  <div class="admin-notifications-item_container">
    <p class="date">{{localtime this.properties.created_at }}</p>
    <p class="content">{{ this.properties.content }}</p>
    <a href="#" class="remove_x js-remove_notification" data-notification_id="{{ this.properties.id }}"><span class="fa fa-times"></span></a>
  </div>
{{/each}}