<ng-include src="'<%=asset_path("shared/left-menu.html") %>'"></ng-include>

<div class="sun-landing-wrapper" ng-class="{'active': isMenuActive}">
  <ng-include src="'<%=asset_path("shared/header-faq.html") %>'"></ng-include>

  <main class="sun-faq">

    <div class="sun-fixed-bg sun-bg-1" id="anchor_1">
      <div id="slide0"  class="sun-home-intro slide" ng-class="{'active': currentHomeSlide === 0, 'inactive': currentHomeSlide > 0}">
        <div class="row">
          <div class="large-12 columns">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
          </div>

          <div class="clearfix"></div>

          <ul class="sun-accordion">

            <li class="accordion-item" ng-class="{'active': isActive1}">
              <a class="accordion-button" ng-click="isActive1 = !isActive1"><b>1.</b> Why should I switch to solar energy?</a>
              <div class="accordion-content">
                <p>We could go on and on to answer this question.  Here are just our top three reasons:
                <br />1. Solar can save you money.  Traditional energy costs have gone up over 500% since 1971, and that trend is likely to continue.  On the other hand, the cost of solar has dropped more than 250% in the last two decades.  Almost 80% of  U.S. homeowners can now jump on board with solar for no money down, while paying less per month than they currently spend for electricity.
                <br />2. Going solar is easy.  Powur has partnered with SolarCity, the largest dedicated residential solar company in the U.S., to provide end-to-end service that enables homeowners to choose solar energy and fix their electric costs for 20 years.  SolarCity buys the panels for you, and then installs, maintains, insures, and monitors them for 20 years. You get the same power, KW for KW, delivered directly from your rooftop.  You simply have a new, cheaper energy bill each month.
                <br />3. Solar is the cleanest, most abundant energy choice available.  The current source for the majority of electricity is coal, a fossil fuel that gets more expense every year and harms our planet.  Coal and gas-fired power plants emit more than 2.3 billion metric tons per year of carbon pollution, approximately 40% of total U.S. energy-related carbon pollution. On the flip side, the sun’s rays are free and limitless and the technology to harness solar power keeps getting more efficient and less expensive.  Most important, solar is clean energy…  so when you go solar, you’ll be eliminating your home’s carbon dioxide footprint and helping to create a sustainable future for life on this planet.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive2}">
              <a class="accordion-button" ng-click="isActive2 = !isActive2"><b>2.</b> How do I know if solar is right for my home?</a>
              <div class="accordion-content">
                <p>There are just a few basic requirements we’ll need to determine upfront.  You must: 1) Own your home; 2) Pay $80 or more a month for electricity; and, 3) Have a credit score of 650 or higher.</p>
                <p>If you meet those requirements, our Solar Advocates can quickly help you figure out if solar is going to work for you.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive3}">
              <a class="accordion-button" ng-click="isActive3 = !isActive3"><b>3.</b> How much will it cost me to install solar on my home?</a>
              <div class="accordion-content">
                <p>Through our partner, SolarCity, you can get started with $0 down financing and no installation or maintenance fees.   SolarCity buys the system, installs it on your roof, monitors its performance and handles any repairs and maintenance.  You only pay for the electricity your system produces.  And, even better – your monthly rate is locked in for 20 years.  SolarCity is America’s #1 residential solar company, which over 168,000 homeowners have already chosen for their affordable solar service.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive4}">
              <a class="accordion-button" ng-click="isActive4 = !isActive4"><b>4.</b> How much can I save by going solar?</a>
              <div class="accordion-content">
                <p>How much you'll save will be specific to you.  You save when you pay a rate for electricity lower than what you pay to your utility.  Every time your utility raises rates, your solar rates will still be locked in.  If utility rates continue to increase as they have historically, the average SolarCity customer is expected to save thousands on electricity bills over the life of the SolarCity agreement.*</p>
                <p>*Based on SolarCity customer agreements signed in Q4 2012, compared to then current average electricity rates and projected rate increases published and analyzed by the U.S. Energy Information Administration (“EIA”) (http://www.eia.gov/), Clean Power Research.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive5}">
              <a class="accordion-button" ng-click="isActive5 = !isActive5"><b>5.</b> What happens after I sign up to go solar?</a>
              <div class="accordion-content">
                <p>Once your solar agreement  is in place, we handle everything for you… from paperwork to monitoring to repairs.</p>
                <p>First, SolarCity will design the ultimate solar system for your personal roof using its state-of-the-art Brightpath technology and factoring in shading, chimneys and skylights.</p>
                <p>Then, we’ll set you up with one of SolarCity’s  installers to inspect your roof, and make another check for shading.   Your installer partner will apply for permits to build the system.   SolarCity handles all the permitting.   Once the permit is received, you are ready to schedule your solar installation, which should take 2-4 days.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive6}">
              <a class="accordion-button" ng-click="isActive6 = !isActive6"><b>6.</b> Will I need to replace my roof if I go solar?</a>
              <div class="accordion-content">
                <p>If your roof is in good condition, it will be perfect for solar.  If it is older than 15 years, it may need to be replaced.  Your local installer will inspect your roof and advise you on this.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive7}">
              <a class="accordion-button" ng-click="isActive7 = !isActive7"><b>7.</b> How do I keep track of my solar power?</a>
              <div class="accordion-content">
                <p>SolarCity offers one of the most advanced monitoring systems in the industry and watches your system so closely that you really don’t have to do a thing except revel in the fact that you’re now saving money thanks to solar.  At the same time, its customer website lets you know exactly what your panels are doing.  Its dashboard is linked right to your system so you can see all of your solar system stats and environmental impact from whatever device you're carrying at the moment.  You’ll be able to check your solar production, view your account balance, sign up for automatic payments and more.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive8}">
              <a class="accordion-button" ng-click="isActive8 = !isActive8"><b>8.</b> What does Net Energy Metering Mean?</a>
              <div class="accordion-content">
                <p>Once your panels are installed, your system will be wired to a meter and inverter.  Your meter keeps track of your solar system’s power generation, and will be attached to your home alongside your utility meter. Your inverter is an integral part of your solar system. It converts the power your solar system generates (direct current power) into power that can be used by your home (alternating current power).</p>
                <p>Net energy metering means that your utility tracks both power you use and power you produce. Your new utility bill will be the net difference between the two.  When you produce excess power (defined as producing more than what is consumed at the time it is produced) that power is banked with your utility as a credit. Any time you draw from utility power – such as during the nighttime – you will draw on your banked credits before drawing on billable utility power.</p>
                <p>With net energy metering, you can be sure that you are getting the most out of your solar system and only drawing from your utility to fill in any gaps.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive9}">
              <a class="accordion-button" ng-click="isActive9 = !isActive9"><b>9.</b> How do the colder winter months and cloudy days affect my home solar system?</a>
              <div class="accordion-content">
                <p>Your solar PV panels are made to withstand year-round climates and conditions.  Solar panels produce power based on the amount of sunlight the panels are exposed to, so they are unaffected by temperature.  Those sunny, yet cold days in winter could generate comparable amounts of solar energy to a hot, summer day.  Although you won’t be producing as much solar power in the winter as you do during the summer months, your system is designed so that you can draw on the electricity credits you generated during the summer.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive10}">
              <a class="accordion-button" ng-click="isActive10 = !isActive10"><b>10.</b> Will my solar panels power my home when the utility electricity is out?</a>
              <div class="accordion-content">
                <p>Your solar system is connected to the utility grid and is not a backup energy source. The system will turn off when utility power is out. This is for the safety of electrical workers who may be working on the grid near your home during an outage.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive11}">
              <a class="accordion-button" ng-click="isActive11 = !isActive11"><b>11.</b> What happens if I sell my home?</a>
              <div class="accordion-content">
                <p>SolarCity has a team dedicated to transferring its agreements from home sellers to home buyers.   A dedicated Service Transfer Specialist acts as the seller’s agent, advocate, and educator, interacting with potential buyers, realtors, escrow officers, title agents, and anyone else that would like to know more about the value of home solar.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive12}">
              <a class="accordion-button" ng-click="isActive12 = !isActive12"><b>12.</b> Will my system increase the value of my home?</a>
              <div class="accordion-content">
                <p>Yes.  Real estate studies have found that, by reducing electricity costs, solar increases a home's value, and solar homes also sell faster.</p>
              </div>
            </li>

            <li class="accordion-item" ng-class="{'active': isActive13}">
              <a class="accordion-button" ng-click="isActive13 = !isActive13"><b>13.</b> What states do you operate in?</a>
              <div class="accordion-content">
                <p>Right now, we're in 17 states where solar makes the most sense – Arizona, Connecticut, 	Massachusetts, New Jersey, California, Hawaii, Nevada, Oregon, Colorado, Maryland, New York, and Pennsylvania.</p>
                <p>However, we're growing quickly. If we're not in your state, stay tuned - we could see you soon!</p>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <ng-include src="'<%=asset_path("shared/footer.html") %>'"></ng-include>
    </div>
  </main>
</div>
