<ng-include src="'<%=asset_path("shared/left-menu.html") %>'"></ng-include>

<div class="sun-landing-wrapper" ng-class="{'active': isMenuActive}" >
  <ng-include src="'<%=asset_path("shared/header-signed-out.html") %>'"></ng-include>

  <main class="sun-landing" id="pagepiling">

    <div class="sun-scrolling-bg sun-bg-1 sun-slider section inverted" id="anchor_1 section1">
      <div id="slide0"  class="sun-home-intro slide" ng-class="{'active': currentHomeSlide === 0, 'inactive': currentHomeSlide > 0}">
        <div class="row">
          <h1>We're Putting Solar on 2 Million Homes by 2025.</h1>
        </div>
      </div>

      <div id="slide1" class="sun-home-intro slide" ng-class="{'active': currentHomeSlide === 1, 'inactive': currentHomeSlide > 1}">
        <div class="row">
          <h1>and We'll Pay You $1,000,000,000 to Help Us Do It.</h1>
        </div>
      </div>

      <div id="slide2" class="sun-home-intro slide" ng-class="{'active': currentHomeSlide === 2}">
        <div class="row">
          <h1 class="slide-header">We are starting this chain reaction by...</h1>
        </div>
      </div>

      <div class="arrow-box inverted">
        <i class="fa fa-chevron-down fa-3x"></i>
      </div>
    </div>


    <div class="sun-scrolling-bg sun-bg-2 section" id="section2">
      <div class="row">
        <div class="large-12 columns sun-home-content">
          <img ng-src="{{gif1Src}}" class="gif1"/>
          <h4>Building the world's largest network of peer to peer solar advocates.</h4>
        </div>
      </div>
      <div class="arrow-box">
        <span>SO THAT WE</span>
        <i class="fa fa-chevron-down fa-3x"></i>
      </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-3 section" id="section3">
      <div class="row">
        <div class="large-12 columns sun-home-content">
          <img ng-src="{{gif2Src}}" class="gif2"/>
          <h4>Facilitate the largest transfer of wealth in history through the decentralization of energy production.</h4>
        </div>
      </div>
      <div class="arrow-box">
        <span>WHICH WHILL</span>
        <i class="fa fa-chevron-down fa-3x"></i>
      </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-2 section">
      <div class="row">
        <div class="large-12 columns sun-home-content">
          <img ng-src="{{gif3Src}}" class="gif3"/>
          <h4>Reverse climate change by turning millions of American homes clean and carbon-positive.</h4>
        </div>
      </div>
      <div class="arrow-box">
        <span>SO WE</span>
        <i class="fa fa-chevron-down fa-3x"></i>
      </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-3 section">
      <div class="row">
        <div class="large-12 columns sun-home-content">
          <img ng-src="{{gif4Src}}" class="gif4"/>
          <h4>Create a sustainable, renewable and clean energy solution for all future generations.</h4>
        </div>
      </div>
     <div class="arrow-box">
       <i class="fa fa-chevron-down fa-3x"></i>
     </div>
    </div>

    <div class="sun-scrolling-bg  sun-bg-4 section inverted">
      <div class="sun-home-intro">
        <div class="row">
          <h1 style="width:70%">The solar revolution is here.</h1>
        </div>
      </div>
     <div class="arrow-box inverted">
       <span>IT WILL BE DISRUPTIVE</span>
       <i class="fa fa-chevron-down fa-3x"></i>
     </div>
    </div>

    <div class="sun-scrolling-bg sun-bg-2 section">
      <div class="row">
        <div class="large-12 columns sun-home-content">
          <h5>Select how you want to participate in the revolution.</h5>
          <div class="sun-buttons-wrapper">
          <a href="" class="button btn-1">
               <svg>
                 <rect x="0" y="0" fill="none" width="100%" height="100%"/>
               </svg>
              Create Energy
             </a>
            <!-- <a class="button btn-1 sun-button-transparent" ng-href="#/create-energy">Create Energy</a> -->
            <a class="button btn-2" ng-href="#/create-wealth">Create Wealth</a>
          </div>
        </div>
      </div>
      <ng-include src="'<%=asset_path("shared/footer.html") %>'"></ng-include>
    </div>
  </main>

<!--   <div class="slide-guide">
    <div ng-repeat="dot in dots" class="slide-dot" ng-class="{'active': dot.active}" id='slide-dot1' ng-click="clickSlideDot(dots.indexOf(dot))"></div>
  </div> -->

</div>
