<ng-include src="'<%=asset_path("shared/left-menu.html") %>'"></ng-include>

<div class="sun-landing-wrapper" ng-class="{'active': isMenuActive}">
  <ng-include src="'<%=asset_path("shared/header-signed-out.html") %>'"></ng-include>

  <main class="sun-landing">

    <div class="sun-fixed-bg sun-bg-1" id="anchor_1">
      <div class="sun-sign-in-wrapper">
        <div class="row">
          <div class="large-2 columns">
            &nbsp;
          </div>

          <div class="large-8 columns">
            <h1>Reset Password</h1>

            <form name="form" ng-submit="resetPassword()" novalidate>
              <label for="user_email">Email</label>
              <p>
                <span ng-show="showValidationMessages && !!form.user_email.$invalid" class="radius alert label">This is not a valid email</span>
                <input ng-model="user.email" id="user_email" name="user_email" type="email" ng-required='true' />
              </p>

              <input class="large button" type="submit" value="Reset Password" />
              <a ng-href="#/sign-in" class="forgot-password">remembered it?</a>
            </form>
          </div>

          <div class="large-2 columns">
            &nbsp;
          </div>
        </div>
      </div>
      <a class="sun-next-pointer inverted" ng-click="gotoAnchor('building_large_network')"></a>
    </div>

    <ng-include src="'<%=asset_path("shared/landing-features.html") %>'"></ng-include>

    <ng-include src="'<%=asset_path("shared/footer.html") %>'"></ng-include>

  </main>
</div>
