<main class="sun-admin-products">

  <div class="row">
    <div class="large-12 columns">
      <h2>Add a New Product</h2>
      <!-- Product Form -->
      <ng-include src="'<%=asset_path("angular-admin/products/templates/form.html.erb")%>'"></ng-include>
    </div>
  </div>

</main>
