---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A43&Lead_Generator__c=1&FirstName=Bartholome&LastName=Williamson&Street=6870%20Rex%20Plains&City=Smithamfort&PostalCode=50808-4270&Phone=333-933-4372&Email=customer.email_1%40example.org&submit=Submit&Monthly_Electric_Bill__c=230
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@71fb749f"
    body:
      encoding: UTF-8
      string: '{"Status":"ERROR","LeadId":"","Message":"duplicate value found: External_ID__c
        duplicates value on record with id: 00Q18000001P1xu","YourId":"test.powur.com:43"}'
  recorded_at: Tue, 07 Apr 2015 18:28:51 GMT
recorded_with: VCR 2.9.3
