---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A501&Lead_Generator__c=1&FirstName=Audrey&LastName=Ryan&Street=5360%20Rudy%20Wall&City=Hamillbury&PostalCode=11934&Phone=611.522.1832&Email=customer.email_1%40example.org&submit=Submit&Monthly_Electric_Bill__c=230
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@33b1fb0b"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P2bZEAS","Message":"Lead successfully
        created","YourId":"test.powur.com:501"}'
  recorded_at: Wed, 08 Apr 2015 15:30:42 GMT
[...]
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A700&Lead_Generator__c=200&FirstName=Santiago&LastName=Mills&Street=23459%20Adan%20Oval&City=Johnsborough&PostalCode=60785-6745&Phone=326-122-5577%20x860&Email=customer.email_200%40example.org&submit=Submit&Monthly_Electric_Bill__c=230
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@1a28537d"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P2qtEAC","Message":"Lead successfully
        created","YourId":"test.powur.com:700"}'
  recorded_at: Wed, 08 Apr 2015 15:46:49 GMT
recorded_with: VCR 2.9.3
