---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A214&Lead_Generator__c=1&FirstName=Lilian&LastName=Yundt&Street=1047%20Berge%20Trafficway&City=&PostalCode=50404&Phone=(524)%20123-9536%20x7655&Email=customer.email_1%40example.org&submit=Submit&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@12b9d535"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P20oEAC","Message":"Lead successfully
        created","YourId":"test.powur.com:214"}'
  recorded_at: Tue, 07 Apr 2015 18:52:20 GMT
recorded_with: VCR 2.9.3
