---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A210&Lead_Generator__c=1&FirstName=Fay&LastName=Schmeler&Street=728%20Daniel%20Mountains&City=Deckowburgh&PostalCode=26082-5007&Phone=(487)%20164-0370%20x3893&Email=customer.email_1%40example.org&submit=Submit&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@844cea6"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P20ZEAS","Message":"Lead successfully
        created","YourId":"test.powur.com:210"}'
  recorded_at: Tue, 07 Apr 2015 18:50:49 GMT
recorded_with: VCR 2.9.3
