---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A211&Lead_Generator__c=1&FirstName=Vernice&LastName=Okuneva&Street=7604%20Boehm%20Knoll&City=New%20Daphney&PostalCode=16243&Phone=1-658-898-6640&Email=&submit=Submit&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@45b928e0"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P20jEAC","Message":"Lead successfully
        created","YourId":"test.powur.com:211"}'
  recorded_at: Tue, 07 Apr 2015 18:52:14 GMT
recorded_with: VCR 2.9.3
