---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A215&Lead_Generator__c=1&FirstName=Tierra&LastName=Bayer&Street=&City=West%20Milfordchester&PostalCode=78885&Phone=599.091.1121%20x64838&Email=customer.email_4%40example.org&submit=Submit&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@45a70e18"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P213EAC","Message":"Lead successfully
        created","YourId":"test.powur.com:215"}'
  recorded_at: Tue, 07 Apr 2015 18:52:34 GMT
recorded_with: VCR 2.9.3
