---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A213&Lead_Generator__c=1&FirstName=Jane&LastName=Haley&Street=907%20Adriel%20Inlet&City=New%20Isabel&PostalCode=&Phone=1-824-387-0898&Email=customer.email_5%40example.org&submit=Submit&Monthly_Electric_Bill__c=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@6722d0ba"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P218EAC","Message":"Lead successfully
        created","YourId":"test.powur.com:213"}'
  recorded_at: Tue, 07 Apr 2015 18:52:38 GMT
recorded_with: VCR 2.9.3
