---
http_interactions:
- request:
    method: post
    uri: https://sctyleads-test.cloudhub.io/powur
    body:
      encoding: US-ASCII
      string: External_ID__c=test.powur.com%3A43&Lead_Generator__c=1&FirstName=Rigoberto&LastName=Stokes&Street=49562%20Lueilwitz%20Stravenue&City=Jerrystad&PostalCode=62011&Phone=255.035.2435&Email=customer.email_1%40example.org&submit=Submit&Monthly_Electric_Bill__c=230
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Local-Certificates:
      - "[Ljava.security.cert.X509Certificate;@3e0839a4"
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","LeadId":"00Q18000001P1xuEAC","Message":"Lead successfully
        created","YourId":"test.powur.com:43"}'
  recorded_at: Tue, 07 Apr 2015 18:07:42 GMT
recorded_with: VCR 2.9.3
