<div class="hud fill-height">
    <div class="control-tab" ng-click="hud.toggleHud()"></div>
    <div class="headshot" ng-style="{{ hud.headshotStyle }}">
        <div class="user" layout="column" layout-align="end start">
            <div class="greeting">Welcome back,</div>
            <div class="full-name">{{ hud.userData.full_name }}</div>

        </div>
    </div>
    
    <div class="achievements heading">Achievements</div>
    
    <div class="stat1" layout="row" layout-align="center start">
        <div flex="50" class="rank">
            <div class="stat-title">rank</div>
            <div class="stat">
                <i class="sprite sprite-rank"></i>
                <span class="info">{{ hud.rank }}<span class="total">/{{ hud.rankTotal }}</span></span>
            </div>
        </div>
        <div flex="50" class="login-streaks">
            <div class="stat-title">login streaks</div>
            <div class="stat">
                <i class="sprite sprite-login"></i>
                <span class="info">{{ hud.userData.metrics.login_streak }}</span>
            </div>
        </div>
    </div>

    <div class="stat2">
        <div class="stat-title">grid size</div>
        <div class="stat" layout="row">
            <i class="sprite sprite-grid" flex="10"></i>
            <span class="info" flex>{{ hud.userData.metrics.team_count }}</span>
        </div>
    </div>

    <div class="stat2">
        <div class="stat-title">dollars earned</div>
        <div class="stat" layout="row">
            <i class="sprite sprite-earned" flex="10"></i>
            <span class="info" flex>{{ hud.userData.metrics.earnings | wholeNumber }}<sup>{{ hud.userData.metrics.earnings | decimalPart }}</sup></span>
        </div>
    </div>

    <div class="stat2">
        <div class="stat-title">CO<sub>2</sub> Saved</div>
        <div class="stat" layout="row">
            <i class="sprite sprite-co2" flex="10"></i>
            <span class="info" flex>{{ hud.userData.metrics.co2_saved | wholeNumber }}<small class="md-caption"> lb/ft<sup>2</sup></small></span>
        </div>
    </div>

    <div class="current-goals heading">Current Goals</div>

    <div class="stat4">
        <div class="stat" layout="row" ng-repeat="req in hud.goalRequirements">
            <i class="sprite sprite-proposal" flex="10"></i>
            <div class="progress" flex>
                <div class="stat-title">{{ req.properties.event_type }} ({{ req.properties.time_span | lowercase }})</div>
                <md-progress-linear md-mode="determinate" value="{{ (req.properties.progress / req.properties.quantity) * 100 }}" ng-class="req.properties.team ? 'md-warn' : ''" flex></md-progress-linear>
                <div class="stat-title">{{ req.properties.progress }}/{{ req.properties.quantity }}</div>
            </div>
        </div>
    </div>
    
</div>