<div class="hud fill-height">
    <div class="headshot" ng-style="{{ hud.headshotStyle }}">
        <div class="user" layout="column" layout-align="end start">
            <div class="greeting">Good morning,</div>
            <div class="full-name">{{ hud.userData.full_name }}</div>
            <div class="actions">
                <i class="sprite sprite-badge"></i>
                <i class="sprite sprite-boxes"></i>
            </div>
        </div>
    </div>
    
    <div class="achievements heading">Achievements</div>
    
    <div class="stat1" layout="row" layout-align="center start">
        <div flex="50" class="rank">
            <div class="stat-title">rank</div>
            <div class="stat">
                <i class="sprite sprite-rank"></i>
                <span class="info">{{ hud.rank }}<span class="total">/{{ hud.rankTotal }}</span></span>
            </div>
        </div>
        <div flex="50" class="grid-size">
            <div class="stat-title">grid size</div>
            <div class="stat">
                <i class="sprite sprite-grid"></i>
                <span class="info">{{ hud.userData.metrics.team_count }}</span>
            </div>
        </div>
    </div>
    
    <div class="stat2">
        <div class="stat-title">dollars earned</div>
        <div class="stat" layout="row">
            <i class="sprite sprite-earned" flex="10"></i>
            <span class="info" flex>{{ hud.userData.metrics.earnings | wholeNumber }}<span class="superscript">{{ hud.userData.metrics.earnings | decimalPart }}</span></span>
        </div>
    </div>
    
    <div class="stat3" layout="row" layout-align="center start">
        <div flex="50" class="co2">
            <div class="stat-title">
                CO<span class="superscript">2</span> Saved
            </div>
            <div class="stat">
                <i class="sprite sprite-co2"></i>
                <span class="info">{{ hud.userData.metrics.co2_saved | wholeNumber }}<span class="superscript">{{ hud.userData.metrics.co2_saved | decimalPart }}</span> <small class="md-caption">lb/ft<span class="superscript">2</span><small></span>
            </div>
        </div>
        <div flex="50" class="login-streaks">
            <div class="stat-title">login streaks</div>
            <div class="stat">
                <i class="sprite sprite-login"></i>
                <span class="info">{{ hud.userData.metrics.login_streak }}</span>
            </div>
        </div>
    </div>
    
    <div class="current-goals heading">Current Goals</div>

    <div class="stat4">
        <div class="stat" layout="row" ng-repeat="req in hud.goalRequirements">
            <i class="sprite sprite-proposal" flex="10"></i>
            <div class="progress" flex>
                <div class="stat-title">{{ req.properties.event_type }} ({{ req.properties.time_span | lowercase }})</div>
                <md-progress-linear md-mode="determinate" value="{{ (req.properties.progress / req.properties.quantity) * 100 }}" ng-class="req.properties.team ? 'md-warn' : ''" flex></md-progress-linear>
                <div class="stat-title">{{ req.properties.progress }}/{{ req.properties.quantity }}</div>
            </div>
        </div>
    </div>
    
</div>