<div class="nav fill-height">
    <div class="bg fill-height">
        <ul class="list fill-height" layout="column" layout-align="start center">
            <!--<li ui-sref="home.strategy" ng-class="{ active: nav.isCurrent('home.strategy') }"><i class="sprite sprite-strategy"></i></li>-->
            <li ui-sref="home.invite" ng-class="{ active: nav.isCurrent('home.invite') }"><i class="sprite sprite-invite"></i></li>
            <li ui-sref="home.events" ng-class="{ active: nav.isCurrent('home.events') }"><i class="sprite sprite-events"></i></li>
            <li ui-sref="home.grid" ng-class="{ active: nav.isCurrent('home.grid') }"><i class="sprite sprite-grid"></i></li>
            <li ui-sref="home.goal" ng-class="{ active: nav.isCurrent('home.goal') }"><i class="sprite sprite-goal"></i></li>
            <li ui-sref="home.earnings" ng-class="{ active: nav.isCurrent('home.earnings') }"><i class="sprite sprite-earnings"></i></li>
            <li ui-sref="home.certs" ng-class="{ active: nav.isCurrent('home.certs') }"><i class="sprite sprite-certs"></i></li>
            <li ui-sref="home.stats" ng-class="{ active: nav.isCurrent('home.stats') }"><i class="sprite sprite-stats"></i></li>
            <li ui-sref="home.dashboard" ng-class="{ active: nav.isCurrent('home.dashboard') }"><i class="sprite sprite-dashboard"></i></li>
    
            <li ng-click="nav.logout()"><i class="sprite sprite-logout"></i></li>
        </ul>
    </div>
</div>