<ng-include onload="readyAdminHeader()" src="'<%=asset_path("shared/header-admin.html") %>'"></ng-include>

<main class="sun-admin-bonus-plans">

  <div class="row">
    <div class="large-12 columns">
      <h3>Create a New Bonus Plan</h3>
      <form name="bonusPlanForm" class="bonus-plan-form" ng-submit="create()">
        <ng-include src="'<%=asset_path("angular/admin/bonus-plans/templates/form.html.erb")%>'"></ng-include>
        <a ng-click="backToIndex()" class="button small alert left">Cancel</a>
        <input class="button small" ng-disabled="isSubmitDisabled" type="submit" value="Create Bonus Plan" />
      </form>
    </div>
  </div>

</main>
