<ng-include src="'<%=asset_path("shared/header-admin.html") %>'"></ng-include>

<main class="sun-admin-resources">

  <div class="row">
    <div class="large-4 columns">
      <h3>Resource Manager</h3>
      <p>Upload and manage videos and PDF documents posted to the Library section of the Advocate Dashboard</p>
      <div class="text-center">
        <a ng-href="#/admin/resources/new/video" class="button small">Add Video</a>
        <a ng-href="#/admin/resources/new/document" class="button small">Add PDF</a>
      </div>
    </div>

    <div class="large-8 columns">
      <h3>Library ({{itemsPaging.item_count}})</h3>

      <div class="row">
        <div class="large-12 columns">

          <div ng-repeat="item in resources" class="admin-resources-list-item" ng-class="{'active': item.properties.is_public}">
            <div class="top-info">
              <span class="info">id: {{item.properties.id}}</span>
              <span class="info">posted: {{formattedTime(item.properties.created_at)}}</span>
              <span class="info">by: {{item.properties.user_name}}</span>
              <a ng-click="confirm('Are you sure you want to delete this file?', 'delete', item)" class="manage-link">delete</a>
              <a ng-href="#/admin/resources/{{item.properties.id}}/edit" class="manage-link">edit</a>
              <!-- <a ng-if="item.properties.is_public" ng-click="confirm('Are you sure you want to hide this file?', 'unPublish', item)" class="manage-link">hide</a>
              <a ng-if="!item.properties.is_public" ng-click="confirm('Are you sure you want to publish this file?', 'publish', item)" class="manage-link">publish</a> -->
              <div class="clearfix"></div>
            </div>

            <div class="row">
              <div class="large-4 columns">
                <img class="item-image" ng-src="{{itemThumbnail(item)}}" />
              </div>

              <div class="large-8 columns">
                <h5>{{item.properties.title}}</h5>
                <p>{{item.properties.description}}</p>
              </div>
            </div>
          </div>

          <div class="pagination" ng-if="itemsPaging.page_count > 1">
            <a ng-click="pagination(-1)" ng-if="itemsPaging.current_page > 1" class="prev">< Prev</a>
            <a ng-click="pagination(1)" ng-if="itemsPaging.current_page < itemsPaging.page_count" class="next">Next ></a>
          </div>

        </div>
      </div>

    </div>
  </div>
</main>
