<div class="row">
  <div class="large-12 columns">

    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-4 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img src="<%=asset_path('dashboard/customers_icon.png')%>"></div>
          <div class="text">My Customers</div>
        </div>
      </div>

      <div class="large-3 medium-3 columns">
      <!-- Sort -->
        <select class="sort">
          <option>Order by Date</option>
          <option>Order by Name</option>
        </select>
      </div>

      <div class="large-3 medium-5 columns right">
      <!-- Search -->
        <div class="row collapse">
          <div class="large-9 medium-9 small-10 columns">
            <input type="search" placeholder="Search Customers">
          </div>
          <div class="large-3 medium-3 small-2 columns">
            <a href="#" class="search button postfix">Go</a>
          </div>
        </div>
      </div>

    </div>

    <!-- Row: Customers Carousel -->
    <div class="row collapse">
      <div class="large-3 columns">
        <!-- New Proposal Button -->
        <div class="new-proposal">
          <div class="info">
            <h4>New Proposal</h4>
          </div>
        </div>
      </div>
      <div class="large-9 columns">
        <!-- Proposals Carousel -->
        <div class="proposals carousel">
          <div class="proposal carousel-item">
            <div class="info">
              <h4>Chrysanthemum Johnson-Davis</h4>
            </div>
          </div>
          <div class="proposal carousel-item">
            <div class="info">
              <h4>Matthew Mark Luke Johnson</h4>
            </div>
          </div>
          <div class="proposal carousel-item">
            <div class="info">
              <h4>Matthew Thomas Williams III</h4>
            </div>
          </div>
          <div class="proposal carousel-item">
            <div class="info">
              <h4>Bjarke Ingels Jorn Utzon</h4>
            </div>
          </div>
          <div class="proposal carousel-item">
            <div class="info">
              <h4>Ludwig Mies Van Der Rohe</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Row: Proposal Info -->
    <!-- (show if existing proposal is clicked) -->
    <div class="row">

    </div>

    <!-- Row: New Proposal Form -->
    <!-- (show if "New Proposal" is clicked) -->
    <div class="row">

    </div>

  </div>
</div>