<div class="row">
  <div class="large-12 columns">

    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-4 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img src="<%= asset_path('dashboard/customers_icon.png') %>"></div>
          <div class="text">My Customers</div>
        </div>
      </div>

      <div class="large-3 medium-3 columns">
      <!-- Sort -->
        <select class="sort">
          <option>Order by Date</option>
          <option>Order by Name</option>
        </select>
      </div>

      <div class="large-3 medium-5 columns right">
      <!-- Search -->
        <div class="row collapse">
          <div class="large-9 medium-9 small-10 columns">
            <input type="search" placeholder="Search Customers">
          </div>
          <div class="large-3 medium-3 small-2 columns">
            <a href="#" class="search button postfix">Go</a>
          </div>
        </div>
      </div>

    </div>

    <!-- Row: Customers Carousel -->
    <div class="row collapse">
      <div class="large-3 medium-3 small-2 columns">
        <!-- New Proposal Button -->
        <a ng-click="newProposal = true">
          <div class="new-proposal">
            <div class="icon">
              <span><i class="fa fa-plus fa-4x"></i></span>
            </div>
            <div class="info-text">
              <span class="show-for-medium-up">New Proposal</span>
              <span class="show-for-small">New</span>
            </div>
          </div>
        </a>
      </div>
      <div class="large-9 medium-9 small-10 columns">
        <!-- Proposals Carousel -->
        <div class="proposals carousel">
          <a ng-click="showProposal = true">
            <div class="proposal carousel-item">
              <div class="icon">
                <span><i class="fa fa-star-o fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>Chrysanthemum Johnson-Davis</span>
              </div>
            </div>
          </a>
          <a ng-click="showProposal = true">
            <div class="proposal carousel-item">
              <div class="icon">
                <span><i class="fa fa-star-half-o fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>Matthew Mark Luke Johnson</span>
              </div>
            </div>
          </a>
          <a ng-click="showProposal = true">
            <div class="proposal carousel-item">
              <div class="icon">
                <span><i class="fa fa-star-half-o fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>Matthew Thomas Williams III</span>
              </div>
            </div>
          </a>
          <a ng-click="showProposal = true">
            <div class="proposal carousel-item">
              <div class="icon">
                <span><i class="fa fa-star fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>Bjarke Ingels Jorn Utzon</span>
              </div>
            </div>
          </a>
          <a ng-click="showProposal = true">
            <div class="proposal carousel-item">
              <div class="icon">
                <span><i class="fa fa-star-o fa-4x"></i></span>
              </div>
              <div class="info-text">
                <span>Ludwig Mies Van Der Rohe</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Row: Proposal Info -->
    <!-- (show if existing proposal is clicked) -->
    <div ng-show="showProposal === true" class="drilldown row collapse" ng-show="existing">
      <span ng-click="showProposal = false">showProposal</span>
    </div>

    <!-- Row: New Proposal Form -->
    <!-- (show if "New Proposal" is clicked) -->
    <div ng-show="newProposal === true" class="drilldown row collapse">
      <div class="summary large-3 medium-3 columns">
          <h1>New Proposal</h1>
          <p>Enter customer information to create a new proposal.</p>
          <p>This customer information can be updated before the proposal is submitted to SolarCity.</p>
      </div>
      <div class="form large-9 medium-9 columns">
        <form>
          <div class="row">
            <div class="large-6 columns">
              <fieldset>
                <legend><i class="fa fa-envelope"></i> Contact Info</legend>

                <!-- First/Last Name -->
                <div class="row uncollapse">
                  <div class="large-6 medium-6 columns">
                    <label>First Name</label>
                    <input type="text">
                  </div>
                  <div class="large-6 medium-6 columns">
                    <label>Last Name</label>
                    <input type="text">
                  </div>
                </div>

                <!-- Email -->
                <div class="row">
                  <div class="large-12 medium-12 columns">
                    <label>Email</label>
                    <input type="text">
                  </div>
                </div>

                <!-- Phone -->
                <div class="row">
                  <div class="large-12 medium-12 columns">
                    <label>Phone</label>
                    <input type="text">
                  </div>
                </div>

                <!-- Address -->
                <div class="row">
                  <div class="large-12 medium-12 columns">
                    <label>Address</label>
                    <input type="text">
                  </div>
                </div>

                <!-- City/State/ZIP -->
                <div class="row">
                  <div class="large-5 medium-5 columns">
                    <label>City</label>
                    <input type="text">
                  </div>
                  <div class="large-3 medium-3 small-6 columns">
                    <label>State</label>
                    <select>
                      <option disabled selected value=""></option>
                      <option ng-repeat="state in states" value="{{state.name}}">{{state.abbr}}</option>
                    </select>
                  </div>
                  <div class="large-4 medium-4 small-6 columns">
                    <label>ZIP</label>
                    <input type="text">
                  </div>
                </div>

              </fieldset>
            </div>
            <div class="large-6 columns">
              <fieldset>
                <legend><i class="fa fa-bolt"></i> House and Utility Info</legend>

                <!-- Utility Company -->
                <div class="row">
                  <div class="large-12 medium-12 columns">
                    <label>Utility Company</label>
                    <input type="text">
                  </div>
                </div>
                <!-- Home Square Footage -->
                <div class="row">
                  <div class="large-12 medium-12 columns">
                    <label>Home Square Footage</label>
                    <input type="text">
                  </div>
                </div>
                <!-- Notes -->
                <div class="row">
                  <div class="large-12 medium-12 columns">
                    <label>Notes</label>
                    <input type="text">
                  </div>
                </div>

                <!-- Button -->
                <div class="row">
                  <div class="large-12 columns">
                    <a class="button right"><i class="fa fa-check"></i> Save Proposal</a>
                    <a ng-click="newProposal = false" class="button secondary">Cancel</a>
                  </div>
                </div>

              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>