<div class="row">
  <div class="large-12 columns">
    <!-- Row: Label -->
    <div class="row">

      <div class="large-6 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img src="<%= asset_path('dashboard/kpi_icon.png') %>"></div>
          <div class="text">Key Performance Indicators</div>
        </div>
      </div>

    </div>

    <!-- Row: KPI Drilldowns -->
    <div class="row">

    </div>

  </div>
</div>