    <div class="row">
      <div class="large-6 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img src="<%= asset_path('dashboard/kpi_icon.png') %>"></div>
          <div class="text">Key Performance Indicators</div>
        </div>
      </div>
    </div>

    <!-- Row: KPI Drilldowns -->
    <section class="kpi-drilldown">
      <div class="small-3 columns user-column">
        <div class="row conversion-row">
          <span class="uppercase kpi-detail">my conversion</span>
        </div>
        <div class="row current-user-row">
          <img class="avatar-medium"/>
        </div>
        <div class="row current-user-row details">
          <a href=""><span class="kpi-detail link">Name</span></a>
          <span class="kpi-detail">87 Proposals, 95 Orders</span>
          <br>
        </div>
        <div class="row performer-row">
          <span class="kpi-detail invert uppercase">top performers</span>
        </div>
        <div class="row">
          <h2>NG-Repeat Goes Here</h2>
        </div>
        <div class="row">
          <div class="user-nav">
            <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
          </div>
        </div>
      </div>
      <div class="small-9 columns">
        <div class="medium-9 columns chart-column">
          <h2>chart column</h2>
        </div>
        <div class="medium-3 columns stats-column">
          <h2>stats column</h2>
        </div>
      </div>
    </section>
