<div class="row">
  <div class="large-12 columns">
    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-3 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img src="<%=asset_path('dashboard/team_icon.png')%>"></div>
          <div class="text">My Team</div>
        </div>
      </div>

      <div class="large-3 medium-3 hide-for-small columns">
      <!-- Sort -->
        <select class="sort">
          <option>Order by Quote</option>
          <option>Order by Personal Sales</option>
          <option>Order by Group Sales</option>
        </select>
      </div>

      <div class="large-3 medium-3 hide-for-small columns">
      <!-- Sort -->
        <select class="sort">
          <option>In Lifetime</option>
          <option>In Current Monthly Pay Period</option>
          <option>In Current Weekly Pay Period</option>
        </select>
      </div>

      <div class="large-3 medium-3 columns right">
      <!-- Search -->
        <div class="row collapse">
          <div class="large-9 medium-9 small-10 columns">
            <input type="search" placeholder="Search Team">
          </div>
          <div class="large-3 medium-3 small-2 columns">
            <a href="#" class="search button postfix">Go</a>
          </div>
        </div>
      </div>

    </div>

    <!-- Row: Team Carousel -->
    <div class="row">

    </div>

  </div>
</div>