
<div class="drilldown_content">
  <div id="kpi_environment_detail" class="object_detail">

    <div class="object_detail_content">
      <div class="object_detail_user_summary">
        <div class="swap-text-box">
        <span class="progress_description">MY CONVERSION</span>
        <a class="return_to_team"><i class="fa fa-bar-chart chart-icon"></i>  Return To Team Graph</a>
        </div>
        <div class="user-contributor" id="{{currentUser.first_name}}">
          <div class="user-info-box">
            <div id="user-avatar" class="avatar" style="background-image:url({{currentUser.avatar.thumb}});"></div>
              <br>
              <div class="info-text user-info-text">
                <a id="hover1"><span class="contributor-name">{{currentUser.first_name}} {{currentUser.last_name}}</span></a>
                <span class="light-text small-text">87 Proposals, 95 Orders</span>
              </div>
            </div>
            <span class="contributors-header">Top Performers</span>
          </div>
          <div class="contributors"></div>
        </div>
        <div class="scroll-arrows">
          <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
        </div>
      </div>

      <div class="object_detail_content_section">
        <span class="graph_title">Full Conversion History </span>
        <br>
        <div class="legend-box">
          <div class="legend">
            <div class="legend-item" id="user-legend"></div>
            <span id="selected_user" class="legend-text">Proposals</span>
          </div>
          <div class="legend" id="global-legend-box">
            <div class="legend-item" id="global-legend"></div>
            <span id="average" class="legend-text">Sales</span>
          </div>
          <div class="time_scale">
            <span class="active week">Week</span><span class="month">Month</span>
          </div>
        </div> <!-- end legend-box -->
        <div class="week-span"></div>

        <canvas id="metricsChart" width="670" height="330" style="float:left;"></canvas>

        <div class="time_unit_nav">
          <i class="fa fa-caret-left back"></i>
          <span class="current">TODAY</span>
          <i class="fa fa-caret-right forward"></i>
        </div>
      </div> <!-- end object_detail_content_section -->
      <div class="team_statistics">
        <h3>TEAM STATS</h3>
        <h4>Today</h4>
        <span class="label">Proposals: 3</span>
        <span class="label">Sales: 5</span>
        <h4>This Week</h4>
        <span class="label">Proposals: 9</span>
        <span class="label">Sales: 12</span>
        <h4 style="">Total Active</h4>
        <span class="label">My Proposals: 503</span>
        <span class="label">Team Proposals: 650</span>
      </div> <!-- end team_statistics_box -->
    </div> <!-- end object_detail_content -->
  </div> <!-- end object_detail -->
</div> <!-- end drilldown_content -->

<script type="text/javascript">
  var chartType = "line"

  var metricsData = {
    //labels: _labels,
    datasets: [{
      fillColor: "rgba(32, 194, 241,.85)",
      highlightFill: "#5bd7f7",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(32, 194, 241,.9)",
      data: []
    }, {
      fillColor: "rgba(253, 180, 92, .85)",
      highlightFill: "#FFC870",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(253, 180, 92, .9)",
      data: []
    }]
  };

  var options = {
    scaleGridLineColor: "rgba(255,255,255,.15)",
    scaleLineColor: "rgba(255,255,255,.15)",
    scaleFontColor: "#fff",
    barShowStroke: true,
    barStrokeWidth: 2,
    barValueSpacing: 20,
    barDatasetSpacing: 1,
    scaleFontSize: 13,
    scaleOverride: true,
    // ** Required if scaleOverride is true **
    scaleSteps: 12,
    scaleStepWidth: 12,
    scaleStartValue: 0,
    // ** end **
    scaleLabel: " <%= !Number(value) ? '' :  Number(value)%>",
    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"> \
                       <% for (var i=0; i<datasets.length; i++){%> \
                         <li><span style=\"background-color:<%=datasets[i].fillColor%>\"> \
                           </span><%if(datasets[i].label){%><%=datasets[i].label%><%}%> \
                         </li> \
                       <%}%> \
                     </ul>"
  }

  function randomizeData(length) {
  metricsData.datasets[0].data = []
  if (metricsData.datasets.length < 2) {
   for (i = 0; i <= length; i++) {
     metricsData.datasets[0].data.push(Math.floor(Math.random() * 30 + 20));
   }
  } else {
   metricsData.datasets[1].data = []
   for (i = 0; i <= length; i++) {
     metricsData.datasets[0].data.push(Math.floor(Math.random() * 30 + 20));
     metricsData.datasets[1].data.push(Math.floor(Math.random() * 20 + 15));
   }
  }
}

</script>
