<main class="sun-admin-bonus-plans">

  <div class="row">
    <div class="large-12 columns">
      <h2>Create a Bonus <small>for {{bonusPlan.name}}</small></h2>
      <!-- Bonus Form -->
      <ng-include src="'<%=asset_path("angular-admin/bonus-plans/templates/bonuses/form.html")%>'"></ng-include>
    </div>
  </div>

</main>
