html,body {
  height: 100%; width: 100%; margin: 0; padding: 0;
  font-weight: 300;
}

:focus { outline:none; }

.main-view {
  padding-left: 70px;
  overflow-x: hidden;
  position: relative;
}

.fill-height {
  flex: 1;
  flex-direction: column;
  display: flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  display:-webkit-flex;
}

.parent-height {
  flex-direction: column;
  display: flex;
  -webkit-flex-direction: column;
  display:-webkit-flex;
}

md-backdrop {
  display: none;
}

.left-menu {
  position: relative;
  left: 70px !important;
}

/* #2c6b8a - nav-icon-color */
/* #2c6c8a - bg of profile */

.toolbar-bg {
  background: #2ba7d9; /* Old browsers */
  background: -moz-linear-gradient(top, #2ba7d9 0%, #268eb5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ba7d9), color-stop(100%,#268eb5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2ba7d9 0%,#268eb5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2ba7d9 0%,#268eb5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2ba7d9 0%,#268eb5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2ba7d9 0%,#268eb5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ba7d9', endColorstr='#268eb5',GradientType=0 ); /* IE6-9 */
}

*, *:before, *:after
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main .heading {
  padding: 30px 0 40px 15px;
  color: #666666;

  .title {
    font-size: x-large;
    text-transform: uppercase;
  }

  .subtitle {

  }
}

form {
  .border {
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    border-width: 0 1px 1px 1px;
    margin-top: 40px;
    height: 10px;
    pointer-events: none;
    &.long {
      width: 97.5%
    }
  }
}

.footer {
  background-image: image-url('img/join/powur-logo.png');
  width: 100px;
  height: 28px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.semi-bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}


// @media screen and (max-width : 600px) {
.main-view {
  padding-left: 0px;
  padding-top: 50px;
}

.mobile-side-nav {
  display: block;
  background: #2ba7d9; /* Old browsers */
  max-width: 400px;
  min-width: 400px;
  height: 100vh !important;
  position: fixed;
  background: -moz-linear-gradient(top, #2ba7d9 0%, #509f9a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ba7d9), color-stop(100%,#509f9a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2ba7d9 0%,#509f9a 100%); /* W3C */
  background-size: cover;

  &.md-closed {
    display: block !important;
  }

  md-toolbar {
    padding-left: 15px;
  }

  .sprite {
    &.sprite-dashboard {
      background: image-url('img/dashboard-icon.png');
      width: 39px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-invite {
      background: image-url('img/invite-icon.png');
      width: 40px;
      height: 33px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-earnings {
      background: image-url('img/earnings-icon.png');
      width: 40px;
      height: 29px;
      margin: 0 0px 0 -1px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-library {
      background: image-url('img/library-icon.png');
      width: 39px;
      height: 32px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-certs {
      background: image-url('img/powur-u-icon.png');
      width: 29px;
      height: 29px;
      margin-right: 9px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-upgrade {
      background: image-url('img/upgrade-icon.png');
      width: 40px;
      height: 29px;
      margin-right: -2px;
      margin-left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-stats {
      background: image-url('img/profile-icon.png');
      width: 40px;
      height: 26px;
      margin-left: 2px;
      margin-right: -2px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-logout {
      background: image-url('img/logout-icon.png');
      width: 40px;
      height: 23px;
      margin-left: 2px;
      margin-right: -2px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-admin {
      background: image-url('img/hud-icon-disabled.png');
      width: 19px;
      height: 19px;
      margin-right: 11px;
      background-size: contain;
      background-repeat: no-repeat;
    }
      background-size: contain;
  }

  .link-wrap {
    padding: 5% 10%;

    .link-item {
      padding: 0 10px;
      height: 7.5vh;
      cursor: pointer;

      &.active, &:hover {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }

      span {
        color: #2C6B8A;
        margin-left: 10px;
        font-size: 10pt;
        text-transform: uppercase;
      }
    }
  }

  .banner {
    width: 100%;
    height: 212px;
    text-transform: uppercase;
    color: #fff;
    background-image: image-url('img/menu-banner.png');
    padding: 0 18%;
    min-height: 120px;
    background-size: cover;
    &.md-closed {
      display: block !important;
    }

    .logo {
      background: image-url('img/powur-logo-white.png');
      height: 53px;
      width: 183px;
      margin: 0 0 5px -46px;
      background-size: contain;
      cursor: pointer;
    }
    .motto {
      font-size: 11pt;
    }
  }

  md-toolbar {
    background-color: transparent;
  }
}

@media screen and (max-width : 700px) {
  .mobile-side-nav {
    max-width: 70vw !important;
    min-width: 70vw !important;

    .sprite {
      &.sprite-dashboard {
        width: 29px;
        height: 20px;
      }
      &.sprite-invite {
        width: 30px;
        height: 23px;
      }
      &.sprite-earnings {
        width: 30px;
        height: 19px;
        margin: 0 0px 0 -1px;
      }
      &.sprite-library {
        width: 29px;
        height: 22px;
      }
      &.sprite-certs {
        width: 19px;
        height: 19px;
        margin-right: 9px;
      }
      &.sprite-upgrade {
        width: 30px;
        height: 19px;
        margin-right: 8px;
        margin-left: 0px;
      }
      &.sprite-stats {
        width: 30px;
        height: 16px;
        margin-left: 2px;
        margin-right: -2px;
      }
      &.sprite-logout {
        width: 30px;
        height: 13px;
        margin-left: 2px;
        margin-right: -2px;
      }
      &.sprite-admin {
        background: image-url('img/hud-icon-disabled.png');
        width: 19px;
        height: 19px;
        margin-right: 11px;
        background-size: contain;
      }
      background-size: contain;
    }

    .banner {
      height: 23vh;

      .logo {
        background: image-url('img/powur-logo-white.png');
        height: 30px;
        width: 104px;
        margin: 0 0 5px -26px;
        background-size: contain;
        cursor: pointer;
      }
      .motto {
        font-size: 8pt;
      }
    }
  }
}
