.filter-menu {
  padding: 0;
  min-height: 135px;

  .header {
    background: #999;
    color: #fff;
  }
  .filter-header {
    position: relative;
    text-align: center;
    md-ink-bar {
      background-color: #01B598;
      left: 0;
      right: 165px;
      height: 3px;
    }
    .tab {
      padding: 15px 0;
      cursor: pointer;
      &.active {
        font-weight: 500;
      }
    }
  }
  &.rigid {
    height: 550px;
    min-height: 320px;
    width: 330px;
  }
  md-radio-button {
    font-size: 10pt;
    margin: 10px 15px 10px 5px;
    &.short {
      width: 120px;
    }
  }
  md-radio-group md-radio-button:not(:first-child) {
    margin-top: 10px;
  }
  .filter-box {
    padding: 20px 15px;
    background: #ebebeb;
    flex: 1;
    text-transform: uppercase;
    &.small {
      padding: 10px 15px;
    }
  }
}

.chip {
  background: #e0e0e0;
  color: #424242;
  cursor: pointer;
  border-radius: 16px;
  height: 20px;
  margin-left: 3px;
  padding: 0 4px;
  float: right;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 10pt;
  text-transform: capitalize;
  &.search {
    padding: 0 6px;
  }
  i {
    font-size: 7pt;
    color: #666;
  }
  span {
    margin-left: 3px;
    font-size: 6pt;
  }
}

.pw-grid {
  // padding: 20px 0 50px 0;
  text-align: center;
  color: #666;

  .md-menu {
    cursor: pointer;
  }

  .progress-bar {
    position: relative;
    width: 100%;
    max-width: 320px;
    margin: 10px 0 10px -7px;

    .node-wrap {
      position: relative;
    }

    .node {
      height: 14px;
      width: 14px;
      background: #fff;
      border: 2px solid #e0e0e0;
      border-radius: 50%;
      z-index: 2;
      position: relative;
    }

    .highlight {
      display: none;
      background: #01b598;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto;
      height: 0px;
      width: 0px;
      border-radius: 50%;
      z-index: 3;
      &.active {
        display: block;
      }
      &.stage-0 { animation: pop-in .3s 0s forwards; }
      &.stage-1 { animation: pop-in .3s .1s forwards; }
      &.stage-2 { animation: pop-in .3s .2s forwards; }
      &.stage-3 { animation: pop-in .3s .3s forwards; }
      &.stage-4 { animation: pop-in .3s .4s forwards; }
    }

    .bar {
      width: 80%;
      height: 4px;
      background: #e0e0e0;
      position: absolute;
      top: 5px;
      left: 11%;

      &.overlay {
        z-index: 3;
        background: transparent;
        position: absolute;
      }

      .animated {
        width: 0;
        height: 4px;
        background: #01b598;
        &.stage-1 { animation: grow .2s .1s forwards; }
        &.stage-2 { animation: grow .2s .2s forwards; }
        &.stage-3 { animation: grow .2s .3s forwards; }
        &.stage-4 { animation: grow .2s .4s forwards; }
      }
    }

    .header {
      margin: 10px 0 0 0;
    }
  }

  .md-secondary {
    width: 80%;
    max-width: 400px;
    padding: 5px 15px;
    margin: 20px auto;
  }

  .load-more {
    padding: 5px 20px;
  }

  .accordion {
    text-align: left;
    background: #5A5A5A;
    padding: 0 5px 0 20px;
    margin: 0 0 5px 0;
    color: #fff;
    font-size: 10pt;
    line-height: 15pt;
    min-height: 40px;
    user-select: none;
    position: relative;

    .toggle-wrapper {
      cursor: pointer;

      .toggle {
        font-size: 16pt;
        line-height: 12pt;
        font-weight: 500;
        position: absolute;
        margin-left: -13px;

        &:after {
          content: '-';
        }

        &.closed {
          font-size: 12pt;

          &:after {
            content: '+';
          }
        }
      }
    }

    input {
      position: absolute;
      z-index: 2;
      -webkit-appearance: none;
      border-radius: 0;
      right: 0;
      top: 36px;
      height: 33px;
      width: 100%;
      background: #444;
      color: #ccc;
      border: 0;
      padding: 4px 5px;
      font-size: 11pt;
      transition: all .3s;
      &.collapsed {
        width: 0;
        padding: 0;
      }
    }
    .material-icons {
      cursor: pointer;
      margin: 0px;
      &.close {
        margin: 0 0 0 5px;
      }
    }
    .toggle-wrapper {
      flex: 1;
      padding: 10px 0;
    }
  }

  .url-box {
    background-color: #fff;
    color: #666;
    cursor: auto;
    margin: 0;
    margin-top: -5px;
    padding: 10px 0;
    background: #efefef;
    text-align: center;
    user-select: initial;

    & * {
      font-size: 10pt;
      line-height: 8pt;
    }

    .url {
      font-size: large;
      position: relative;
      margin-left: 0;
      input {
        color: transparent;
        background-color: initial;
        position: initial;
        z-index: inherit;
        width: 100%;
        border: 0;
      }
      .url-overlay {
        position: absolute;
        left: 0;
        right: 0;
        color: #2C6C8A;
        pointer-events: none;
        top: 4pt;
        white-space: nowrap;
      }
    }
  }

  .label {
    font-size: 6pt;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
    padding-left: 25px;
  }

  .insight {
    max-width: 1100px;
    margin: 10px 0;
    height: 50px;

    &.small {
      height: 40px
    }

    .count {
      font-size: 20pt;
      color: #01B598;
    }
    .material-icons {
      font-size: 24pt;
      color: #bbb;
      margin-left: -5px;
      margin-right: 10px;
      display: none;
    }
    & > div:last-child {
      .material-icons {
        font-size: 26pt;
      }
    }
  }

  .grid {
    padding-bottom: 50px;
  }

  .summary {
    width: 100%;

    .header {
      height: 20px;
    }
    .count {
      text-align: center;
    }

    .header-row {
      max-width: 700px;
      padding: 10px 5vw;
      margin: auto;
      width: 100%;

      span:nth-child(2) {
        padding-left: 20px;
      }

      .label {
        max-width: 300px;
      }
    }

    md-divider {
      border-top-color: rgba(0,0,0,0.05);
    }


    .grid-row-wrap {
      padding: 0 10px;
      &:nth-child(odd) {
        background: #f3f3f3;
      }
      &:nth-child(even) {
        background: #e5e5e5;
        .bar:not(.overlay) {
          background: #d3d3d3;
        }
        .node {
          border-color: #d3d3d3;
        }
      }
    }

    .grid-row {
      height: 60px;
      width: 100%;
      cursor: pointer;
      padding: 0 5vw;
      max-width: 600px;
      margin: auto;

      .text-sm, .text-lg {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
        text-align: left;
      }

      .material-icons {
        color: #fff;
        display: block;
        font-size: 16pt;

        &.ineligible {
          background: image-url("img/solar-invite-ineligible-icon.png");
          background-size: contain;
          height: 22px;
          width: 22px;
        }
      }

      .circle {
        min-height: 40px;
        min-width: 40px;
        float: left;
        background-color: #01B598;
        border-radius: 50%;
        color: #fff;
        margin-right: 10px;
        text-transform: uppercase;
        overflow: hidden;
        &.ineligible {
          background: #E73E40;
        }
        &.lost, &.not_sent, &.incomplete {
          background: #aaa;
        }
        img {
          width: 100%;
        }
      }

      .state {
        height: 38px;
        width: 35px;
        background: image-url('img/california.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 15px;
      }

      .count {
        margin: 0 auto;
      }

      &.new {
        background-color: #fff;
        color: $pow-color-blue;
        cursor: default;
        // margin-top: 10px;

        .material-icons {
          color: #fff;
          margin-bottom: 0;
          margin-right: 0;
        }

        & > div {
          cursor: pointer;
        }

        .md-fab {
          color: #fff;
          z-index: 1;
          height: 40px;
          width: 40px;
          margin-left: 0px;

          span {
            font-size: 20pt;
            font-weight: 400;
            line-height: 35pt;
          }
        }
        .text-xl {
          margin-left: 5px;
        }
      }
    }

    .co2 {
      font-size: 9pt;
      margin: 10px;
      b {
        color: #01B598;
      }
    }

    .text-xl {
      font-size: 8pt;
    }

    .text-lg {
      font-size: 6.5pt;
      line-height: 10pt;
    }

    .text-sm {
      font-size: 5pt;
    }

    &.geo .grid-row-wrap {
      color: #01B598;
    }
  }

  .link-wrap {
    input {
      width: 100%;
      color: #31a6ce;
    }
    .layout-row {
      margin: 5px 0;
      line-height: 17pt;
    }
    .material-icons {
      margin-right: 7px;
      color: #666;
    }
  }
}

@media screen and (min-width: 600px) {
  .pw-grid {
    font-size: 14pt;

    .grid {
      padding-bottom: 100px;
    }

    .right {
      padding-left: 0;
    }

    .url-box {
      .url {
        margin-left: 5px;
        .url-overlay {
          left: 5px;
        }
      }

      & * {
        font-size: 14pt;
        line-height: 12pt;
      }
    }

    .accordion {
      min-height: 56px;
      padding: 5px 10px 5px 30px;
      font-size: 12pt;
      line-height: 12pt;
      cursor: pointer;

      .chip {
        height: 30px;
        padding: 0 12px;
        margin-left: 7px;
        &.search {
          padding: 0 12px;
        }
        i {
          font-size: 13pt;
        }
        span {
          font-size: 10pt;
        }
      }

      input {
        position: initial;
        height: 25px;
        width: 200px;
        z-index: inherit;
        background: #e0e0e0;
        color: #666;
      }

      .icon {
        height: 20px;
        width: 20px;
      }
      .toggle {
        font-size: 11pt;
        line-height: 9pt;
        margin-left: -17px;
      }
    }

    .md-secondary {
      font-size: 14pt;
    }

    .label {
      font-size: 8pt;
    }

    .insight {
      margin: 20px 0;;
      .count {
        font-size: 28pt;
      }
    }

    .summary {
      .co2 {
        font-size: 14pt;
        margin-top: 16px;
      }
      .header-row {
        .label {
          max-width: 350px;
        }
        span:nth-child(2) {
          padding-left: 0;
        }
      }
      .grid-row {
        height: 75px;
        max-width: 700px;
        .count {
          font-size: 18pt;
        }
        .state {
          height: 50px;
          width: 45px;
          margin-right: 20px;
        }
        .material-icons {
          font-size: 20pt;
          &.ineligible {
            height: 28px;
            width: 28px;
          }
        }
        &.new {
          .md-fab {
            height: 50px;
            width: 50px;
          }
        }
        .text-sm, .text-lg {
          max-width: 150px;
        }
      }

      .circle {
        height: 50px;
        width: 50px;
      }

      .text-xl {
        font-size: 12pt;
      }

      .text-lg {
        font-size: 11pt;
        line-height: 16pt;
      }

      .text-sm {
        font-size: 8pt;
        &.move {
          font-size: 10pt;
          max-width: none;
          white-space: inherit;
        }

      }
    }
    .progress-bar {
      max-width: none;
      margin: 10px 0 10px -18px;

      .bar {
        top: 7px;
        height: 6px;
        left: 11%;

        .animated {
          height: 6px;
        }
      }
      .node {
        height: 20px;
        width: 20px;
        border: 3px solid #e0e0e0;
      }
      .highlight {
        &.stage-0 { animation: pop-in-lg .3s 0s forwards; }
        &.stage-1 { animation: pop-in-lg .3s .1s forwards; }
        &.stage-2 { animation: pop-in-lg .3s .2s forwards; }
        &.stage-3 { animation: pop-in-lg .3s .3s forwards; }
        &.stage-4 { animation: pop-in-lg .3s .4s forwards; }
      }
      @keyframes pop-in-lg {
        100% { width: 14px; height: 14px; }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .pw-grid {
    .label {
      font-size: 10pt;
    }
    .insight {
      margin: 10px auto;
      height: 130px;

      &.small {
        height: 100px;
      }

      .material-icons {
        display: block;
      }

      & > div {
        border-left: 1px solid #ccc;
        &:first-child {
          border-width: 0;
        }

        .count {
          color: #666;
          font-size: 40pt;
          position: relative;
        }

        div:first-child {
          order: 1;
        }
      }
    }

    .summary {
      .text-sm {
        line-height: 11pt;
      }
      .text-lg {
        font-size: 10pt;
        line-height: 14pt;
      }

      .header-row {
        padding: 20px 15px 10px 15px;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
      }
      .grid-row-wrap {
        background: #fff;
      }
      .grid-row {
        border: 0;
        height: 100px;
        padding: 0 15px;
        max-width: 1100px;
        margin: 0 auto;

        &.new {
          .md-fab {
            height: 56px;
            width: 56px;
          }
        }

        .progress-bar {
          width: 80%;
          margin: 10px 0 10px -5%;
        }

        .bump-right {
          margin-left: -25%;
        }
      }
    }
  }
}


// GRID POP-UP CSS
.pw-dialog.pw-grid {
  max-width: 650px;

  .name {
    font-size: 14pt;
    margin-bottom: 5px;
  }

  span.highlight {
    margin-left: 5px;
  }

  .number {
    font-size: 14pt;
    letter-spacing: .03em;

    sup {
      font-size: 8pt;
      letter-spacing: 0.1em;
    }
  }

  .overview {
    .flex-35 {
      padding-right: 5px;
    }
  }

  .progress-bar {
    .bar {
      width: 80%;
    }
    .highlight {
      &.stage-0 { animation: pop-in .3s 0s forwards; }
      &.stage-1 { animation: pop-in .3s .1s forwards; }
      &.stage-2 { animation: pop-in .3s .2s forwards; }
      &.stage-3 { animation: pop-in .3s .3s forwards; }
      &.stage-4 { animation: pop-in .3s .4s forwards; }
    }
    @keyframes pop-in {
      100% { width: 10px; height: 10px; }
    }
    .header {
      margin: 10px 0 0 0;
      font-size: 5pt;
    }
  }

  .number {
    margin: 0 0 5px 0;
    color: $pow-color-blue;
    &.secondary {
      color: $pow-color-orange;
    }
  }

  .info {
    div {
      position: relative;

      &:first-child {
        margin-bottom: 10px;
      }
    }
    .side-bar {
      height: 100%;
      width: 5px;
      background: #f00;
      position: absolute;
      top: 0;
      left: -15px;
    }
  }

  @keyframes grow {
    100% { width: 100% }
  }

  @media screen and (min-width: 600px) {
    .actions {
      position: absolute;
      bottom: 20px;
      width: 85%;
    }

    .overview, .progress {
      padding: 25px 0;
    }

    .progress .number {
      padding-top: 5px;
    }

    .name {
      font-size: 20pt;
    }

    .number {
      font-size: 25pt;
      sup {
        font-size: 14pt;
      }
    }

    .progress-bar {
      margin-top: 20px;
      width: 95%;
      span {
        font-size: 8pt;
      }
      .bar {
        top: 8px;
        height: 7px;

        .animated {
          height: 7px;
        }
      }
      .node {
        height: 24px;
        width: 24px;
        border: 4px solid #e0e0e0;
      }
      .highlight {
        &.stage-0 { animation: pop-in-xl .3s 0s forwards; }
        &.stage-1 { animation: pop-in-xl .3s .1s forwards; }
        &.stage-2 { animation: pop-in-xl .3s .2s forwards; }
        &.stage-3 { animation: pop-in-xl .3s .3s forwards; }
        &.stage-4 { animation: pop-in-xl .3s .4s forwards; }
      }
      @keyframes pop-in-xl {
        100% { width: 16px; height: 16px; }
      }
    }
  }
}


