.hud.goals {
    position: fixed;
    z-index: 20;
    width: 100%;
    bottom: 0;
    left: 0;

    .bar {
        height: 32px;
        width: 100%;
        background-color: #2C6C8A;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,.15);
    }


    span {
        font-size: 7pt;
        color: #fff;
        text-transform: uppercase;
        vertical-align: middle;
    }

    .number {
        font-size: 10pt;

        letter-spacing: .05em;
        font-weight: 600;
    }

    .rank-title {
      font-weight: bold;
    }

    .material-icons {
      color: #fff;
      font-size: 15pt;
      margin-right: 12pt;
    }

    sup {
        font-size: 7pt;
    }

    .icon {
        background: image-url('img/hud/icons/personal-lead.png');
        background-size: contain;
        height: 10px;
        width: 8px;
        display: inline-block;
        &.medal {
            background: image-url('img/hud/icons/medal.png');
            height: 12px;
            width: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: -1px;
        }
    }
    .purchase {
        .title {
          color: #fff;
          font-size: 10pt;
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
        }

        a {
            text-decoration: none;
            float: left;
            padding: 5px 0 0 10px;

            .product {
                color: #FF9929;
                font-weight: 400;
                font-size: 14pt;
                line-height: 12pt;
            }
        }
    }
}

@media screen and (max-width : 600px) {
  .top-menu {
    .float-right {
      display: none;
    }
  }

  .hud.goals.desktop {
    display: none;
  }

  .hud.goals.mobile {
    display: block;

    .purchase {
      .title {
        font-size: 7pt;
      }

      a {
        padding: 0;
        text-align: center;
        width: 100%;

        .product {
          font-size: 9pt;
        }
      }
    }
  }
}

@media screen and (min-width : 600px) {
    .hud.goals.mobile {
        display: none;
    }
    .hud.goals.desktop {
        display: flex;

        .bar {
            height: 70px;
            padding: 0 30px;
            .inner-bar {
                width: 600px;
            }
        }
        .triangle {
            position: absolute;
            background-color: #1D506A;
            color: #5AAAB3;
            height: 70px;
            width: 120px;
            transform: rotate(-45deg);
            top: -32px;
            left: -60px;
            padding-bottom: 7px;
            span {
                color: #5AAAB3;
                font-size: 8pt;
                font-weight: 500;
            }
        }
        .label {
            font-size: 10pt;
            color: #5AAAB3;
            font-weight: 500;
        }
        .number {
            font-size: 18pt;
            font-weight: 300;
            vertical-align: bottom;
            letter-spacing: 0;
            display: inline-block;
        }
        .rank-title {
          font-size: 9pt;
          font-weight: normal;
          vertical-align: bottom;
          letter-spacing: 0;
          width: 50pt;
          display: inline-block;
        }
        .md-caption {
            font-size: 8pt;
        }
        .sub {
            font-size: 10pt;
        }
        .offset {
            margin-top: 3px;
        }

        .icon {
            margin-right: 10px;
            height: 13px;
            width: 13px;

            &.medal {
                background: image-url('img/hud/icons/medal.png');
                background-size: contain;
                height: 14px;
                width: 9px;
            }
            &.personal-lead {
                background: image-url('img/hud/icons/personal-lead.png');
                background-size: contain;
                height: 12px;
                width: 10px;
            }
            &.grid-lead {
                background: image-url('img/hud/icons/grid-lead.png');
                background-size: contain;
            }
            &.grid {
                background: image-url('img/hud/icons/grid.png');
                background-size: contain;
                height: 11px;
                width: 12px;
            }
            &.earnings {
                background: image-url('img/hud/icons/earnings.png');
                background-size: contain;
                height: 8px;
                width: 13px;
            }
            &.co2 {
                background: image-url('img/hud/icons/co2.png');
                background-size: contain;
                height: 11px;
                width: 13px;
            }
        }

        .new-icon {
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: 20px;
          height: 30pt;

          &.medal {
            background-image: image-url('img/hud/icons/medal.png');
            background-size: 9px 14px;
          }
          &.personal-lead {
            background-image: image-url('img/hud/icons/personal-lead.png');
            background-size: 10px 12px;
          }
          &.grid-lead {
            background-image: image-url('img/hud/icons/grid-lead.png');
            background-size: 13px;
          }
          &.grid {
            background-image: image-url('img/hud/icons/grid.png');
            background-size: 12px 11px;
          }
          &.earnings {
            background-image: image-url('img/hud/icons/earnings.png');
            background-size: 13px 8px;
          }
          &.co2 {
            background-image: image-url('img/hud/icons/co2.png');
            background-size: 13px 11px;
          }
        }

        .flex-50 {
            position: relative;
            overflow: hidden;
            &:first-child {
                border-right: 1px solid #5689A0;
                .inner-bar {
                    width: 500px;
                }
                .icon {
                    margin-right: 7px;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .hud.goals.desktop {
        .number {
            font-size: 14pt;
        }
        .label {
            font-size: 10pt;
        }
        a .product {
          font-size: 12pt;
        }
        .title {
          font-size: 9pt;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .hud.goals.desktop {
        .number {
            font-size: 12pt;
        }
        .label {
            font-size: 7pt;
        }
        .icon {
            margin-right: 5px;
        }
        a .product {
          font-size: 10pt;
        }
        .title {
          font-size: 8pt;
        }
    }
}
