.hud {
    width: 279px;
    background-color: #2c6c8a;
        
    .headshot {
        //background-image: image-url("img/default-profile.png");
        height: 315px;
        color: white;
        background-size: cover;
            
        .user {
            height: 100%;
            padding: 20px 20px 5px 20px;
        }
        
        .greeting {
            font-size: 12px;
            padding-bottom: 5px;
        }
        
        .full-name {
            font-size: 25px;
            padding-bottom: 10px;
        }
        
        .actions i {
            padding: 5px;
        }        
    }
    
    .heading {
        padding: 30px 0 0 23px;
        text-transform: uppercase;
        color: rgba(255,255,255, 0.6);
        font-weight: bold;
    }
    
    .achievements {
        height: 65px;
    }
    
    .stat-title {
        color: #62babf;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }
    
    .superscript {
        vertical-align: super;
        font-size: smaller;
    }
    
    .stat .info {
        color: white;
        font-size: 30px;
        padding-left: 10px;
    }
    
    .stat1 {
        height: 90px;
        margin: 7px 10px 0 10px;
            
        .rank {
            border-right: solid #62babf 1px;
            height: 100%;
        }
        
        .stat {
            padding: 20px 0 0 15px;
        }
        
        .rank .stat .total {
            font-size: 25px;
        }
        
        .grid-size {
        }        
    }
    
    .stat2 {
        height: 120px;
        margin: 0 10px 0 10px;
        border-top: solid #62babf 1px;
            
        .sprite-earned {
            margin-top: 20px;
        }
        
        .stat-title {
            padding-top: 25px;
        }
            
        .sprite-earned {
            margin-top: 20px;
        }
        
        .stat-title {
            padding-top: 25px;
        }
        
        .stat {
            padding: 10px 0 0 15px;
                
            .info {
                text-align: center;
                padding: 0 30px 0 0;
            }        
        }
    }
    
    .current-goals {
        padding-top: 90px;    
    }
    
    .stat4 {            
        .stat {
            padding: 40px 30px 0 20px;
            
            .progress {
                padding-left: 15px;
                
                .stat-title {
                    text-align: left;
                }
            }                 
        }        
    }
    
    /* sprites */
    .sprite {
        background-image: image-url("img/profile-sprite.png");
        background-repeat: no-repeat;
        display: inline-block;
    }
    
    .sprite-badge {
        width: 12px;
        height: 18px;
        background-position: -5px -5px;
    }
    
    .sprite-boxes {
        width: 16px;
        height: 16px;
        background-position: -27px -5px;
    }
    
    .sprite-co2 {
        width: 24px;
        height: 20px;
        background-position: -53px -5px;
    }
    
    .sprite-earned {
        width: 26px;
        height: 16px;
        background-position: -87px -5px;
    }
    
    .sprite-grid {
        width: 22px;
        height: 18px;
        background-position: -123px -5px;
    }
    
    .sprite-login {
        width: 20px;
        height: 17px;
        background-position: -155px -5px;
    }
    
    .sprite-proposal {
        width: 21px;
        height: 25px;
        background-position: -185px -5px;
    }
    
    .sprite-proposal-group {
        width: 26px;
        height: 26px;
        background-position: -216px -5px;
    }
    
    .sprite-rank {
        width: 16px;
        height: 26px;
        background-position: -252px -5px;
    }

}
