@mixin tab-bg($img) {
  // width: 100%;
  // height: 100%;
  // position: fixed;
  // top: 0;
  // left: 0;
  // min-width: 100%;
  // min-height: 100%;
  width: 450px;
  height: 264px;
  background-image: image-url($img); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.invite {

    a {
        text-decoration: none;
    }

    .tab {
      list-style: none;
      margin: 0;
      padding: 5px;
      text-transform: uppercase;
      
      li {
        display: inline-block;
        margin: 1px;
        padding: 0;
        box-sizing: border-box;
        
        a {
          color: white;
        }
        
        a:after {
          content: "";
          top: 100%;
          left: 50%;
          z-index: -1;
          border-bottom: 20px solid #ffffff;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          margin-left: -12px;
        }
        
        a.active:after {
          z-index: 10;
        }
        
        .sub {
          font-size: smaller;
        }
        
        .title {
          font-size: 2em;
        }
      }

      .grid-invites {
        @include tab-bg("img/grid-invite-bg.png");
      }
      
      .solar-invites {
        @include tab-bg("img/solar-invite-bg.png");
      }

    }
  
    .counter {
        height: 205px;
        // margin: 0 5px 0 5px;
        // border-top: 1px solid #ececec;
        // border-bottom: 1px solid #ececec;
                        
        >ul {
            height: 205px;
            text-align: center;
            text-transform: uppercase;
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        /*205 - 15*/
        li { 
            height: 190px;
            border-right: 1px solid #ececec;
        }
        
        li:last-child { 
            border-right: none; 
        }
        
        .count {
            font-size: 4em;
            color: #666666;
            padding: 10px;
        }
        
        .label {
            font-weight:300;
            color: #cccccc;
            .locked{
                color:#666;
                font-size:small;
                padding-top:10px;
                display: block;
            }
        }
        .invite{
            padding-top:10px;
            display:block;
        }
    }
    
        
    .message {
        color: #666666;
        text-transform: uppercase;
        text-align: center;
        padding: 50px 0 0 0;
    }
    
    .bg {
        background-color: #fafafa;
    }
    
    .invite-list {
        padding: 20px;
        min-height: 50vh;
    }
    
    .invite-item {
        padding: 30px;
        position: relative;

        &:hover .hoverable {
            color: #2583a8;
        }   
            
        .full-name {
            text-transform: uppercase;
            top: 90px;
            position: relative;
            text-align: center;
            height: 32px;
        }

        .status-icons {
            height: 0;
            position: absolute;
            bottom: 114px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            width: 95px;

            .icon {
                margin: 0 7px;
            }

            .address {
                background: image-url('img/invites/address-missing.png') center / cover;
                &.provided {
                    background: image-url('img/invites/address-provided.png') center / cover;
                }
                height: 20px;
                width: 15px;
            }

            .contact {
                background: image-url('img/invites/utility-missing.png') center / cover;
                &.provided {
                    background: image-url('img/invites/utility-provided.png') center / cover;
                }
                height: 18px;
                width: 19px;
            }

            .utility {
                background: image-url('img/invites/contact-missing.png') center / cover;
                &.provided {
                    background: image-url('img/invites/contact-provided.png') center / cover;
                }
                height: 18px;
                width: 18px;
            }
        }
        
        .time {
<<<<<<< HEAD
            font-size: x-large;
            font-weight: 500;
            top: 80px;
=======
            font-size: small;
            font-weight: bold;
            top: 110px;
>>>>>>> e39d51feb88e2a76d018e9d1a280fdb05222ae0d
            position: relative;
            text-align: center;
            height: 0;
            color: #ccc;
            
            .superscript {
                vertical-align: super;
                font-size: small;
                font-weight: normal;
            }            
        }
        
        .add {
            top: 80px;
            position: relative;
            text-align: center;
            height: 0;
            
            .label {
                height: 0;
                text-transform: uppercase;
            }
        }
        
        
    }
    
    /* sprites */
    
    .ellipse {
        &.border-fill {
            width: 164px;
            height: 166px;
            border: 5px solid;
            display: block;
            border-radius: 50%;
        }

        .sprite {
            background-image: image-url("img/ellipse-sprite.png");
            background-repeat: no-repeat;
            display: block;
        }
         
        .sprite-ellipse {
            width: 165px;
            height: 165px;
            background-position: -5px -5px;
        }
        
        .sprite-ellipse-invite {
            width: 165px;
            height: 165px;
            background-position: -180px -5px;
        }
        
        .sprite-ellipse-locked {
            width: 164px;
            height: 166px;
            background-position: -355px -5px;
        }    
    }
    
    .counter { 
        .sprite {
            background-image: image-url("img/invite-sprite.png");
            background-repeat: no-repeat;
            display: block;        
        }        
         
        .sprite-accepted {
            width: 24px;
            height: 23px;
            background-position: -5px -5px;
        }
        
        .sprite-available {
            width: 24px;
            height: 23px;
            background-position: -39px -5px;
        }
        
        .sprite-expired {
            width: 24px;
            height: 24px;
            background-position: -73px -5px;
        }
        
        .sprite-invite {
            width: 35px;
            height: 32px;
            background-position: -107px -5px;
            
            margin-left: auto;
            margin-right: auto;
        }
        
        .sprite-pending {
            width: 24px;
            height: 24px;
            background-position: -152px -5px;
        }
    }
    
}
