.invite {
  position: relative;
  a {
    text-decoration: none;
  }

  .superscript {
    vertical-align: super;
    font-size: medium;
    margin-left: 1px;
    font-weight: normal;
  }

  .tab {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 -10px 0 15px;
      padding: 0 10px;
      box-sizing: border-box;
      height: 50px;
      width: 200px;
      background: #d0d0d0;
      position: relative;

      .bar {
        width: 0;
        transition: .15s;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.grid-invites .bar {
        background-color: #2583A8;
      }
      &.solar-invites .bar {
        background-color: #52BCAF;
      }

      &.active {
        background: #EFEFEF;
        height: 53px;

        .bar {
          width: 100%;
        }


        .title {
          color: #666;
        }
      }

      a {
        color: white;
      }

      .title {
        font-size: large;
      }
    }

    .grid-invites {
      transition: 0.2s;
    }

    .solar-invites {
      transition: 0.2s;
    }

  }

  .counter {
    height: 140px;
    background: #EFEFEF;
    position: relative;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);

    >ul {
      height: 100%;
      text-align: center;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    /*205 - 15*/
    li {
      max-width: 300px;
      height: 100%;
      border-right: 1px solid #ccc;
      position: relative;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: none
    }

    .bar {
      width: 55%;
      height: 5px;
      background: #aaa;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto auto;
      transition: background-color .5s;
      &.active {
        &.sent { background-color: #47bcaf}
        &.initiated { background-color: #11706b }
        &.ineligible { background-color: #b15151 }
        &.pending { background-color: #2583A8 }
        &.expired { background-color: #b15151 }
      }
    }

    .count {
      font-size: x-large;
      color: #666666;
      padding: 10px;
    }

    .fadeIn{
      -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
      animation: fadein 1s;
    }
    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    .label {
      font-weight:300;
      color: #ccc;

      .locked{
        color:#666;
        font-size:smaller;
        padding-top:10px;
        display: block;
      }
    }

    .label.kpi{
      color:#666;
      padding-top: 4px;

      @media (max-width: 600px) {
        font-size:x-small;
      }

      @media (min-width: 600px) {
        font-size:small;
      }

    }

    .invite{
      padding-top:10px;
      display:block;

      a {
        color:#ccc;
      }
    }
  }

  .message {
    color: #666666;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 0 0;
  }

  .invite-list-bg {
    background-color: #fafafa;
    min-height: 100vh;

    md-tabs {
      background-color: #8f8f8f;
      background-image: image-url('img/funnel.png');
      background-repeat: no-repeat;
      min-height: initial;
      padding-left: 60px;
      background-size: 22px 22px;
      background-position: 23px;
      border-radius: 0;

      &.solar {
        md-ink-bar {
          background-color: #52BCAF !important;
        }
      }

      md-tabs-wrapper {
        background-color: #8f8f8f;
      }

      md-ink-bar {
        background-color: #2583A8 !important;
        height: 3px;
      }

      .md-tab {
        border-radius: initial;
        margin-top: 0;
        margin-bottom: 0;
        min-width: 55px;

        span {
          color: rgba(255,255,255, 0.5);
        }

        &.md-active {
          span {
            color: #fff;
          }
        }
      }

      h3 {
        margin: 0;
      }
    }
  }

  .invite-list {
    padding: 20px 20px;
    overflow: hidden;
    max-width: 1200px;
  }

  .side-text-box {
    padding: 0px 5px;

    &.solar {
      padding: 20px 5px;
    }

    .label {
      color: #444;
      text-transform: uppercase;
      font-size: medium;
      line-height: 70pt;
    }

    .full-name {
      font-size: medium;
      text-transform: uppercase;
      color: #444;
      line-height: 18pt;
      margin-top: 6px;
      b {
        font-weight: 600;
        color: #444;
      }
    }

    .time {
      font-size: 20pt;
      font-weight: 400;
      color: #444;
    }
  }

  .invite-item {
    position: relative;
    margin: 30px;
    height: 170px;
    width: 170px;
    cursor: pointer;
    outline: 0;

    &:hover {
      .invite-bg {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
      }
    }

    .invite-bg {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: #c5c5c5;
      z-index: 1;
      transition: transform .2s;
      transition: -webkit-transform .2s;

      &.sent { background-color: #47bcaf}
      &.initiated { background-color: #11706b }
      &.ineligible_location, &.expired { background-color: #b15151 }
      &.accepted { background-color: #1DB770 }
      &.ellipse {
        border: 3px dashed #aaa;
        background-color: transparent;
      }
    }

    &.expired {
      .invite-bg {
        background-color: #b15151;
      }
      .text-box .exp-label {
        font-weight: 600;
        font-size: 18pt;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        padding: 10px 0;
        display: block;
      }
    }


    .full-name {
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 10pt;
      padding-top: 10px;
      position: relative;
      text-align: center;
      height: 32px;
    }

    .text-box {
      position: absolute;
      text-align: center;
      z-index: 3;
      top: 49px;
      color: #fff;
      height: 100%;
      width: 100%;
      .exp-label {
        display: none;
      }
    }

    sup {
      font-size: 12pt;
    }

    canvas {
      position: absolute;
      z-index: 2;
    }

    .warning-bg {
      background: image-url('img/expired-bg.png');
      position: absolute;
      height: 125px;
      width: 125px;
      z-index: 3;
      background-size: cover;
      left: 0;
      right: 0;
      margin: auto auto;
      top: 0;
      bottom: 0;
    }

    .time {
      font-size: 28pt;
      font-weight: 600;
      margin-left: 18px;
      position: relative;
      text-align: center;
      border-bottom: 1px solid rgba(255,255,255,0.8);
      width: 68%;
      padding-bottom: 5px;
    }

    &.solar {
      .text-box {
        top: 0;
      }

      .icon {
        height: 32px;
        width: 32px;
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        margin: auto auto;

        &.sent {
          background: image-url('img/sent-icon-lt.png');
          background-size: contain;
        }
        &.initiated {
          background: image-url('img/initiated-icon-lt.png');
          background-size: contain;
          top: 25px;
        }
        &.ineligible_location {
          background: image-url('img/ineligible-icon-lt.png');
          background-size: contain;
        }
        &.accepted {
          background: image-url('img/accepted-icon-lt.png');
          background-size: contain;
        }
      }

      .full-name {
        top: 70px;
        font-size: 12pt;
        padding-top: 0px;
      }

      .est {
        border-top: 1px solid rgba(255,255,255,0.8);
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto auto;
        font-size: small;
        padding-top: 10px;
        width: 120px;
      }
    }

    &:hover .hoverable {
      color: #2583a8;
    }

    .sprite-invite {
      background-image: image-url("img/invite-sprite.png");
      width: 35px;
      height: 32px;
      background-position: -107px -5px;

      margin-left: auto;
      margin-right: auto;
    }

    // .status-icons {
    //   height: 0;
    //   position: absolute;
    //   bottom: 114px;
    //   left: 0;
    //   right: 0;
    //   margin: 0 auto;
    //   text-align: center;
    //   width: 95px;

    //   .icon {
    //     margin: 0 7px;
    //   }

    //   .address {
    //     background: image-url('img/invites/address-missing.png') center / cover;
    //     height: 20px;
    //     width: 15px;

    //     &.provided {
    //       background: image-url('img/invites/address-provided.png') center / cover;
    //     }
    //   }

    //   .contact {
    //     background: image-url('img/invites/utility-missing.png') center / cover;
    //     height: 18px;
    //     width: 19px;

    //     &.provided {
    //       background: image-url('img/invites/utility-provided.png') center / cover;
    //     }
    //   }

    //   .utility {
    //     background: image-url('img/invites/contact-missing.png') center / cover;
    //     height: 18px;
    //     width: 18px;

    //     &.provided {
    //       background: image-url('img/invites/contact-provided.png') center / cover;
    //     }
    //   }
    // }

    .remove{
      border-top:1px dashed #666;
      text-transform:uppercase;
      font-size:x-small;
      top:115px;
      color:#666;
      position: relative;
      text-align: center;
      height: 0;
      width:50%;
      margin-left:25%;
      line-height:20px;
      display:none;
    }

    .date {
       font-size: small;
       font-weight: bold;
       top: 110px;
       position: relative;
       text-align: center;
       height: 0;
       color: #ccc;
     }

    .add {
      top: 50px;
      position: relative;
      text-align: center;
      height: 0;

      .label {
        height: 0;
        text-transform: uppercase;
      }
    }
  }

  /* sprites */

  .ellipse {
    &.border-fill {
      width: 164px;
      height: 166px;
      border: 5px solid;
      display: block;
      border-radius: 50%;
    }

    .sprite {
      background-image: image-url("img/ellipse-sprite.png");
      background-repeat: no-repeat;
      display: block;
    }

    .sprite-ellipse {
      width: 165px;
      height: 165px;
      background-position: -5px -5px;
    }

    .sprite-ellipse-invite {
      width: 165px;
      height: 165px;
      background-position: -180px -5px;
    }

    .sprite-ellipse-locked {
      width: 164px;
      height: 166px;
      background-position: -355px -5px;
    }
  }

  .counter {
    .sprite {
      background-image: image-url("img/invite-sprite.png");
      background-repeat: no-repeat;
      display: block;
    }

    .sprite-accepted {
      width: 24px;
      height: 23px;
      background-position: -5px -5px;
    }

    .sprite-available {
      width: 25px;
      height: 25px;
      background-image: image-url("img/grid-invite-available-icon.png");
      background-size: contain;
    }

    .sprite-sent {
      width: 30px;
      height: 30px;
      margin-bottom: -3px;
      background-image: image-url("img/solar-invite-sent-icon.png");
      background-size: contain;
    }
    .sprite-initiated {
      width: 30px;
      height: 30px;
      background-image: image-url("img/solar-invite-initiated-icon.png");
      background-size: contain;
    }
    .sprite-ineligible {
      width: 30px;
      height: 30px;
      margin-bottom: -2px;
      background-image: image-url("img/solar-invite-ineligible-icon.png");
      background-size: contain;
    }
    .sprite-accepted {
      width: 30px;
      height: 30px;
      margin-bottom: -9px;
      background-image: image-url("img/solar-invite-accepted-as-lead-icon.png");
      background-size: contain;
    }

    .sprite-expired {
      background: image-url('img/expired.png');
      width: 22px;
      height: 22px;
      background-size: cover;
    }

    .sprite-pending {
      width: 20px;
      height: 20px;
      background-image: image-url("img/grid-invite-pending-icon.png");
      background-size: contain;
    }
  }
}

@media screen and (max-width : 600px) {

  .list-item {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
    &:last-of-type {
      border-bottom: 0px;
    }
    &:first-of-type {
      border-bottom: 1px solid #ccc;;
    }
  }

  .md-tab {
    font-size: 7pt;
  }

  .invite {
    .tab {
      .title {
        font-size: medium;
      }
      li {
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
        height: 50px;
      }
    }
    md-tabs {
      padding-left: 0px !important;
    }
    .invite-list {
      padding: 10px;

    }
    
    .counter {
      height:100px;

      &.add {
        top: 25px;
      }
      .sprite {
        display: none;
      }
      .sprite-invite {
        display: block;
        background: image-url('img/plus.png');
        width: 20px;
        height: 20px;
        background-size: cover !important;
      }
      .count {
        font-size:2em;
      }
    }

    .ellipse {
      .sprite-ellipse-invite {
        width: 100px;
        height: 100px;
        background-position: -140px -5px;
        margin-top: 36px;
        background-size: 420px 140px;
      }
      .border-fill {
        width: 100px;
        height: 100px;
        border: 5px solid;
        display: block;
        border-radius: 50%;
      }
    }

    .invite-item {
      padding: 0px;
      height: 70px;
      width: 70px;
      margin: 15px 10px;


      .warning-bg {
        height: 70px;
        width: 70px;
      }

      .text-box {
        top: 0px
      }

      .time{
        top: 38px;
        font-size: 21pt;
        margin-left: 15px;
      }

      .date {
        display: none;
      }

      .add .label {
        height: 0px;
        text-transform: uppercase;
        font-size: 14px;
        padding-top: 0px;
        line-height: 30px;
      }

      .status-icons {
        height: 0;
        position: absolute;
        bottom: 64px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 95px;
      }

      .remove {
        top:95px;
        display:none;
      }

      .full-name {
        top: 35px;
      }

      &.solar {
        .icon {
          top: 0;
          bottom: 0;
          height: 30px;
          width: 30px;
        }
        .est {
          top: 82px;
          font-size: 9pt;
          padding-top: 7px;
          width: 90px;
        }
      }

      &.expired {
        .text-box .exp-label {
          top: 32px;
          position: relative;
          font-size: 15pt;
          padding: 10px 0;
        }

        .full-name {
          top: 26px;
          font-size: 9pt;
        }
      }
    }
  }
}
