$textColor: white;
$videoIconHeight: 25px;
$buttonColor: #07b7d1;

@mixin bg($img) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        overflow-x: hidden;
        background-image: image-url($img);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.join {
    width: 100%;
    height: auto;
    color: $textColor;
    font-family: 'Open Sans';

    md-dialog {
        width: 90%;
        max-width: 700px;
        height: auto;
        overflow: hidden;
        background: #000;
    }

    .md-scroll-mask {
        background-color: rgba(0,0,0,0.5);
    }

    .box {
        text-align: center;
        width: 90% !important;
        max-width: 650px;
        margin: 7vh;
        position: relative;
        padding-top: 15px;
        &.pop-up {
            width: 100% !important;
            max-width: 100%;
            margin: 0;
            padding-top: 0;
        }
        &.smaller {
            margin: 3vh 0 7vh 0;
        }
    }

    .controls, .sidedock {
        display: none !important;
    }

    .intro {
        box-shadow: 0px 60px 100px -50px rgba(0, 0, 0, 1);
        max-height: 55vh;
        height: 45vh;
        position: relative;
        z-index: 2;
        background: #000;
    }

    .bg {
        // @include bg("img/join/join-bg.jpg");
        // min-height: 850px;
        // &.solar .bg-img { @include bg("img/join/join-bg.jpg") }
        // &.solar-2 { @include bg("img/join/join-bg4.jpg") }
        position: relative;

        .bg-img {
            @include bg("img/join/join-bg3.jpg");
            min-height: 850px;
            position: fixed;
            z-index: 1;
            &.solar {
                @include bg("img/join/join-bg2.jpg");
            }
        }

        &.solar {
            .key-wrap {
                opacity: 0;
                transition: opacity .2s;
                &.visible {
                    opacity: 1;
                }
            }
        }

        .messages {
            color: #fff;
            background: rgba(255,255,255,0.3);
            max-width: 360px;
            padding: 5px 5px 5px 10px;
            margin: 10px 0;
            border-left: 2px solid #f00;
        }

        .key-wrap {
            margin-top: 0vh;
        }

        .key-box {
            width: auto;
            margin-bottom: 100px;
            display: block;
            z-index: 2;
            position: relative;
        }

        .text-box {
            max-width: 600px;
            text-align: center;
            .header {
                text-transform: uppercase;
                font-weight: 600;
            }
            .detail {
                padding: 15px 0;
            }
        }

        .who {

            &.invalid {
                padding: 30px;
                background: rgba(0,0,0,0.15);
                border-left: 5px solid rgba(255,0,0,0.65)
            }

            .greeting {
                font-size: small;
                text-transform: uppercase;
            }

            .full-name {
                font-size: x-large;
                text-transform: uppercase;
                font-weight: 100;
            }
            .detail {
                padding: 15px 0 0px 0;
                font-size: 11pt;
            }
        }

        .key {
            color: $textColor;
            text-transform: uppercase;

            label {
                padding: 30px 0 5px 0;
                display: block;
                font-size: 11pt;
            }

            input[type="text"] {
                border-radius: 0;
                color: $textColor;
                text-transform: uppercase;
                background: rgba(0,0,0,.2);
                border: rgba(0,0,0,0.15) 1px solid;
                padding: 5px;
                width: 100%;
                max-width: 356px;
                height: 40px;
            }

            input[type="text"]:focus{
                outline: 0;
            }

            button {
                font-size: medium;
                font-weight: 500;
                color: $textColor;
                text-transform: uppercase;
                width: 146px;
                height: 40px;
                background: rgba(0,55,101,0.7);
                transition: background .5s;
                border: none;
                &:hover {
                  background: rgba(0,55,101,0.8);
                }
                //border: #124b79 1px solid;
            }
        }

        .trailer {
            padding-top: 25px;

            .video {
                width: 29px;
                height: $videoIconHeight;
                background: image-url('img/join/video.png')
            }

            .info {
                color: $textColor;
                font-size: small;
                text-transform: uppercase;
                line-height: $videoIconHeight;
                padding-left: 10px;

                a {
                    color: $textColor;
                }
            }
        }
    }

    .bg2 {
        .bg-img {
            @include bg("img/join/join-bg3.jpg");
            min-height: 850px;
            position: fixed;
            &.solar {
                @include bg("img/join/join-bg5-mod.jpg");
            }
        }

        &.grid {
            form {
                opacity: 0;
                transition: opacity 1s;
                &.opaque {
                    opacity: 1;
                }
            }
        }


        md-content {
            background: transparent;
            color: $textColor;
            font-size: smaller;

            label, span {
                color: $textColor;
                text-transform: uppercase;
                padding: 0 10px 0 5px;
            }

            input {
                color: $textColor;
                padding-left: 5px;
            }

            button {
                color: $textColor;
                background-color: $buttonColor;
                text-transform: uppercase;
                width: 275px;
                height: 40px;
                letter-spacing: .1em;
                border-radius: 0;
                transition: color .5s, background .5s;
            }

            button:hover {
                * {
                  color: black;
                }
            }

            md-input-container {
                .md-input {
                    border-width: 0;
                    font-size: medium;
                    font-weight: 600;
                }
                &:last-child {
                    .border {
                        width: 100%;
                    }
                }
            }


            md-select .md-select-value {
                color: $textColor;

                &:not(.md-select-placeholder) {
                    font-size: medium;
                    font-weight: 600;
                }

                .md-select-icon {
                    width: 15px;
                    -webkit-transform: translate3d(-8px, 1px, 0);
                    transform: translate3d(-8px, 1px, 0);
                }
            }

            md-select:not([disabled]):focus .md-select-value {
                border-width: 0;
            }

            .border {
                width: 95%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto 0;
                border: 1px solid #fff;
                border-width: 0 1px 1px 1px;
                margin-top: 40px;
                height: 10px;
                pointer-events: none;
                &.long {
                    width: 97.5%
                }
            }
        }

        .terms {
            font-size: smaller;
            padding: 10px;

            a {
                color: $textColor;
            }
        }
    }
}
 .terms-dialog {
     background: rgba(255, 255, 255, 0.9);

     md-toolbar:not(.md-menu-toolbar) {
         background-color: #0a3b86;
     }

    .md-actions {

        button {
            color: $textColor;
            background-color: $buttonColor !important;
        }

        button:hover {
            color: black;
            background-color: white !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .join {
        height: inherit;

        .messages {
            font-size: small;
        }

        .box {
            width: 100% !important;
            max-width: 100%;
        }

        .bg {
            .trailer .info {
                font-size: x-small
            }
            .key {
                button {
                    font-size: small;
                }
            }
        }

        form {
            md-input-container:first-of-type {
                margin-top: 15px;
            }
        }


        .bg2 {
            md-content {
                button {
                    margin-top: 30px;
                }
                md-select .md-select-value .md-select-icon {
                    transform: translate3d(-20px, 1px, 0);
                }
                md-input-container .border {
                    width: 100%;
                }
            }
        }

    }
}
