.nav { 
    z-index: 59;
    .bg {
        width: 70px;
        z-index: 20;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        /*height: 1200px;*/
        background: #29a8dd; /* Old browsers */
        background: -moz-linear-gradient(top, #29a8dd 0%, #509f9a 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29a8dd), color-stop(100%,#509f9a)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #29a8dd 0%,#509f9a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #29a8dd 0%,#509f9a 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #29a8dd 0%,#509f9a 100%); /* IE10+ */
        background: linear-gradient(to bottom, #29a8dd 0%,#509f9a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a8dd', endColorstr='#509f9a',GradientType=0 ); /* IE6-9 */
    }

    a { text-decoration: none; }


    .admin {
        color: #2C6B8A;
        font-weight: 600;
        font-size: 11pt;
    }

    .align-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    
    .mobile-menu {
        background: image-url('img/hud-icon-disabled.png');
        height: 38px;
        width: 34px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 35px;
        cursor: pointer;
        &.active {
            background: image-url('img/hud-icon.png');
        }
    }

    .list {
        list-style-type: none;
        padding: 30px 15px 0 15px;
        margin: 0;        
        text-align: center;
            
        li {
            margin-bottom: 40px;
        }
        
        li:hover, li.active {
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
            cursor: pointer;
        }        
    }

    // .bottom {
    //     position: fixed;
    //     bottom: 10px;
    // }
    
    .sprite {
        background-image: image-url("img/nav-sprite.png");
        background-repeat: no-repeat;
        display: inline-block;
    }
    
    .sprite-library {
        width: 35px;
        height: 43px;
        background-image: image-url("img/library-icon.png");
    }

    .sprite-upgrade {
        background: image-url('img/upgrade-icon.png');
        background-size: contain;
        width: 35px;
        height: 35px;
        margin-left: -3px;
    }
    
    .sprite-certs {
        background: image-url('img/powur-u-icon.png');
        background-size: contain;
        width: 35px;
        height: 35px;
        margin-left: 1px;
    }
    .sprite-earnings {
        width: 42px;
        height: 40px;
        background-image: image-url("img/earnings-icon.png");
    }
    
    .sprite-events {
        width: 33px;
        height: 33px;
        background-position: -102px -5px;
    }
    
    .sprite-goal {
        width: 42px;
        height: 40px;
        background-position: -145px -5px;
    }
    
    .sprite-grid {
        width: 42px;
        height: 40px;
        background-position: -197px -5px;
    }
    
    .sprite-logout {
        width: 33px;
        height: 26px;
        background-image: image-url("img/logout-icon.png");
    }
    
    .sprite-social {
        width: 33px;
        height: 29px;
        background-position: -292px -5px;
    }
    
    .sprite-stats {
        width: 27px;
        height: 31px;
        background-image: image-url("img/profile-icon.png");
    }
    
    .sprite-strategy {
        width: 21px;
        height: 37px;
        background-position: -372px -5px;
    }
    
    .sprite-dashboard {
      width: 35px;
      height: 35px;
      background-image: image-url("img/dashboard-icon.png");
    }
    
    .sprite-invite {
      width: 32px;
      height: 38px;
      background-image: image-url("img/invite-icon.png");
    }
}

.nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    .bg {
        width: 100%;
        height: 50px;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,.15);
        background: -moz-linear-gradient(left, #29a8dd 0%, #44A1AE 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#29a8dd), color-stop(100%,#44A1AE)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* IE10+ */
        background: linear-gradient(to right, #29a8dd 0%,#44A1AE 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a8dd', endColorstr='#509f9a',GradientType=0 ); /* IE6-9 */
    }
    .logo {
        background: image-url('img/logo-icon.png');
        height: 32px;
        width: 32px;
        float: right;
        margin: 8px 10px;
        background-size: contain;
        cursor: pointer;
    }
    .menu {
        background: image-url('img/header-menu-icon.png');
        height: 24px;
        width: 27px;
        float: left;
        margin: 12px 10px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .title {
        float: left;
        color: #fff;
        text-transform: uppercase;
        font-size: 17pt;
        padding: 0 5px;
        line-height: 36pt;
    }
}

.nav.goals {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    .bar {
        height: 32px;
        width: 100%;
        background-color: #2C6C8A;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,.15);
    }


    span {
        font-size: 7pt;
        color: #fff;
        text-transform: uppercase;
        vertical-align: middle;
    }

    .number {
        font-size: 10pt;

        letter-spacing: .05em;
        font-weight: 600;
    }
    sup {
        font-size: 7pt;
    }
    .icon {
        background: image-url('img/proposal-icon.png');
        background-size: contain;
        height: 10px;
        width: 10px;
        display: inline-block;
        &.medal {
            background: image-url('img/medal-icon.png');
            height: 12px;
            width: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: -1px;
        }
    }
}

