.nav {
  z-index: 59;

  .bg {
    width: 70px;
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    /*height: 1200px;*/
    background: #29a8dd; /* Old browsers */
    background: -moz-linear-gradient(top, #29a8dd 0%, #509f9a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29a8dd), color-stop(100%,#509f9a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #29a8dd 0%,#509f9a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #29a8dd 0%,#509f9a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #29a8dd 0%,#509f9a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #29a8dd 0%,#509f9a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a8dd', endColorstr='#509f9a',GradientType=0 ); /* IE6-9 */
  }

  a { text-decoration: none; }

  .admin {
    color: #2C6B8A;
    font-weight: 600;
    font-size: 11pt;
  }

  .align-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .mobile-menu {
    background: image-url('img/nav/icons/admin.png');
    height: 38px;
    width: 34px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    cursor: pointer;
    &.active {
      background: image-url('img/nav/icons/admin-white.png');
    }
  }

  .list {
    list-style-type: none;
    padding: 30px 15px 0 15px;
    margin: 0;
    text-align: center;

    li {
      margin-bottom: 40px;
    }

    li:hover, li.active {
      
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      cursor: pointer;
    }
  }
}

.nav.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: 400;

  .bg {
    width: 100%;
    height: 50px;
    padding: 15px 15px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,.15);
    background: -moz-linear-gradient(left, #29a8dd 0%, #44A1AE 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#29a8dd), color-stop(100%,#44A1AE)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* IE10+ */
    background: linear-gradient(to right, #29a8dd 0%,#44A1AE 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a8dd', endColorstr='#509f9a',GradientType=0 ); /* IE6-9 */
  }

  .menu {
    font-size: 26pt;
    line-height: 16pt;
    float: left;
    cursor: pointer;
  }

  .title {
    float: left;
    text-transform: uppercase;
    font-size: 16pt;
    padding: 0 15px;
    line-height: 15pt;
  }

  .float-right {
    cursor: pointer;
  }

  .avatar {
    height: 30px;
    width: 30px;
    float: left;
    display: inline-block;
    margin: -5px 10px 0 0;
    border-radius: 50%;
    background-size: cover;
  }
}

.mobile-side-nav {
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 98;
  display: block;
  background: #2ba7d9; /* Old browsers */
  max-width: 250px !important;
  min-width: 250px !important;
  overflow: visible;
  height: 100vh !important;
  position: fixed;
  font-family: 'Roboto';
  background: -moz-linear-gradient(top, #2ba7d9 0%, #509f9a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ba7d9), color-stop(100%,#509f9a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2ba7d9 0%,#509f9a 100%); /* W3C */
  background-size: cover;

  md-toolbar {
    padding-left: 15px;
  }

  .hide-for-desktop {
    display: none;
  }

  .link-wrap {
    .header { 
      text-transform: uppercase;
      color: #2C6B8A;
      padding-top: 24px;
      font-size: 9pt;
      margin: 0 0 4px 25px;
      font-weight: 500;
    }
    .header-divider {
      border: 0;
      height: 1px;
      margin: 0;
      background: -webkit-gradient(linear, 0 0, 150% 0, from(#3AA4C0), to(#3AA4C0), color-stop(3%, #2C6B8A));
      opacity: 0.65;
    }
    .link-item {
      cursor: pointer;
      height: 35px;
      padding: 0 25px;
      transition: .2s;

      .sprite {
        transition: .2s;
        -webkit-transition: .2s;
        color: #2C6B8A;;
        font-size: 17pt;
        width: auto;
        margin: 0 !important;
      }

      span {
        color: #2C6B8A;
        font-size: 10pt;
        margin-left: 5px;
        text-transform: capitalize;
      }

      span, .material-icons {
        pointer-events: none;
      }

      &:hover {
        background: #164F71;
      }

      &:hover, &.active {
        & > span, & > .sprite {
          color: #fff;
        }
      }

      .sub-menu {
        position: absolute;
        right: -220px;
        width: 220px;
        .link-item {
          background: #164F71;
          span {
            color: #eee;
            text-transform: uppercase;
            font-size: 9pt;
          }

          &:hover, &.active {
            background: #103B54 !important;
            span {
              color: #fff;
            }
          }
        }

      }
    }
  }

  .banner {
    width: 100%;
    height: 100px;
    min-height: 0;
    text-transform: uppercase;
    color: #fff;
    background-image: image-url('img/nav/banner.png');
    padding-left: 50px;
    background-size: cover;
    background-position: 0 15%;

    .logo {
      background: image-url('img/shared/powur-logo-white.png');
      height: 42px;
      width: 120px;
      background-size: contain;
      cursor: pointer;
      background-repeat: no-repeat;
      margin: 6px 0 0 -30px;
    }

    .motto {
      font-size: 9pt;
    }
  }

  md-toolbar {
    background-color: transparent;
  }
}

@media screen and (max-width : 600px) {
  .top-menu {
    .float-right {
      display: none;
    }
  }
  .nav.goals.desktop {
    display: none;
  }
  .nav.goals.mobile {
    display: block;
  }
}

@media screen and (min-width : 600px) {
  .nav.goals.mobile {
      display: none;
  }

  .nav.goals.desktop {
    display: flex;

    .bar {
      height: 70px;
      padding: 0 30px;
      .inner-bar {
          width: 600px;
      }
    }
    .triangle {
      position: absolute;
      background-color: #1D506A;
      color: #5AAAB3;
      height: 70px;
      width: 120px;
      transform: rotate(-45deg);
      top: -32px;
      left: -60px;
      padding-bottom: 7px;
      span {
        color: #5AAAB3;
        font-size: 8pt;
        font-weight: 500;
      }
    }
    .label {
      font-size: 10pt;
      color: #5AAAB3;
      font-weight: 500;
    }
    .number {
      font-size: 18pt;
      font-weight: 300;
      vertical-align: bottom;
      letter-spacing: 0;
    }
    .md-caption {
      font-size: 8pt;
    }
    .sub {
      font-size: 10pt;
    }
    .offset {
      margin-top: 3px;
    }

    .icon {
      margin-right: 10px;
      height: 13px;
      width: 13px;

      &.medal {
        background: image-url('img/medal.png');
        background-size: contain;
        height: 14px;
        width: 9px;
      }
      &.personal-lead {
        background: image-url('img/personal-lead.png');
        background-size: contain;
        height: 12px;
        width: 10px;
      }
      &.grid-lead {
        background: image-url('img/grid-lead.png');
        background-size: contain;
      }
      &.grid {
        background: image-url('img/grid.png');
        background-size: contain;
        height: 11px;
        width: 12px;
      }
      &.earnings {
        background: image-url('img/earnings.png');
        background-size: contain;
        height: 8px;
        width: 13px;
      }
      &.co2 {
        background: image-url('img/co2.png');
        background-size: contain;
        height: 11px;
        width: 13px;
      }
    }

    .flex-50 {
      position: relative;
      overflow: hidden;

      &:first-child {
        border-right: 1px solid #5689A0;
        .inner-bar {
          width: 500px;
        }
        .icon {
          margin-right: 7px;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .nav.goals.desktop {
    .number {
      font-size: 14pt;
    }
    .label {
      font-size: 10pt;
    }
    a .product {
      font-size: 12pt;
    }
    .title {
      font-size: 9pt;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .nav.goals.desktop {
    .number {
      font-size: 12pt;
    }
    .label {
      font-size: 7pt;
    }
    .icon {
      margin-right: 5px;
    }
    a .product {
      font-size: 10pt;
    }
    .title {
      font-size: 8pt;
    }
  }
}