/* Colors */
$pow-color-blue: #20c2f1;
$pow-color-orange: #FFC003;
$pow-color-green: #2ecc71;
$pow-menu-link-color: #0a7fa1;

.left-menu,
.left-menu.md-locked-open,
.left-menu.md-closed.md-locked-open-add-active {
    z-index:5;
    min-width: 280px !important;
    width: 85vw !important;
    max-width: 280px !important;
    box-shadow:none !important;
    transition:.2s;
}

.left-menu.collapsed{
    min-width: 160px !important;
    width: 85vw !important;
    max-width: 160px !important;
    box-shadow:none !important;
    transition:.2s;
    overflow:visible;
}

.md-open-menu-container.md-active > md-menu-content > * {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

md-dialog {
    border-radius: 0px !important;
    display: block !important;
}

md-backdrop {
    display: block !important;
}

md-tab-item:not([disabled]) {
    color: #eee !important;
}

.left-menu{
   transition: all .3s;
   position:relative !important
}

.right-menu {
    display: flex !important;
    height: 100vh;
}

.md-raised {
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 0px !important;
    span {
        color: #fff !important;
    }
}

button:disabled {
    background-color: #e5e5e5 !important;
}

.hud .stat4 .stat md-progress-linear {
    .md-container {
        height: 7px !important;
        background-color: #fff !important
    }
    .md-bar.md-bar2{
        background: #52DAE2 !important; /* Old browsers */
        height: 7px !important;
        background: -moz-linear-gradient(left,  #52DAE2 0%, #29a8dd 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#52DAE2), color-stop(100%,#29a8dd)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #52DAE2 0%,#29a8dd 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #52DAE2 0%,#29a8dd 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #52DAE2 0%,#29a8dd 100%) !important; /* IE10+ */
        background: linear-gradient(to right,  #52DAE2 0%,#29a8dd 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52DAE2', endColorstr='#29a8dd',GradientType=1 ) !important; /* IE6-9 */
    }
}


.hud .stat4 .stat:nth-child(2) md-progress-linear .md-bar.md-bar2{
    background: #FFA252 !important; /* Old browsers */
    background: -moz-linear-gradient(left,  #FFA252 0%, #EA8D00  100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFA252), color-stop(100%,#EA8D00 )) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #FFA252 0%,#EA8D00  100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #FFA252 0%,#EA8D00  100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #FFA252 0%,#EA8D00  100%) !important; /* IE10+ */
    background: linear-gradient(to right,  #FFA252 0%,#EA8D00  100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA252', endColorstr='#EA8D00 ',GradientType=1 ) !important; /* IE6-9 */
}

.hud md-progress-linear.md-default-theme, md-progress-linear .md-bar.md-bar1{
    background-color:#fff !important;
}

@media (min-width: 600px) and (max-width: 959px) {
  md-dialog.md-dialog-fullscreen {
    min-height: inherit !important;
    min-width: inherit !important;
  }
}