md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 350px !important;
    width: 85vw !important;
    max-width: 350px !important;
    box-shadow:none !important;
    transition:.2s;
} 

md-sidenav.collapsed{
    min-width: 230px !important;
    width: 85vw !important;
    max-width: 230px !important;
    box-shadow:none !important;
    transition:.2s;
    overflow:visible;
}