<div class="row">
  <div class="large-12 columns">
    <!-- Row: Label / Sort / Search -->
    <div class="row">

      <div class="large-3 medium-6 columns">
      <!-- Section Label -->
        <div class="section-label">
          <div class="tag"><img ng-src="{{img.dashboardTeamIcon}}"></div>
          <div class="text">My Team</div>
        </div>
      </div>

      <div class="large-3 medium-6 columns">
      <!-- Search -->
        <div class="row collapse">
          <form ng-submit="teamSection.search()" class="search-form">
            <div class="no-padding large-12 medium-12 small-12 columns">
              <input id="team-search" type="search" ng-model="teamSearch.string"  placeholder="SEARCH" ng-change="fetchNames()" ng-blur="clearNames()">
              <!-- Loading Animation -->
              <div ng-show="jumping" class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
              </div>
              <ul ng-show="nameQuery.length" class="suggestion-box">
                <li ng-repeat="user in nameQuery" ng-click="teamSection.search(user)"><span class="left-label">{{user.first_name + ' ' + user.last_name}}</span><span class="right-label">#{{user.id}}</span></li>
              </ul>
            </div>
          </form>
        </div>
      </div>


      <div class="large-3 medium-6 hide-for-medium-down columns end">
      <!-- Sort -->
        <select class="sort" ng-model="teamSection.teamSort" ng-change="teamSection.sort(); closeTabs();">
          <option value="name">Order by Name</option>
          <option value="newest">Order by Newest</option>
        </select>
      </div>

    </div>

    <!-- Row: Team Carousel -->
    <div class="row collapse carousel-box">

      <!-- Invite New Team Member Button -->
      <div class="w20percent small-2 columns">
        <div class="new-team-member" ng-class="{'accordion': is.accordion(0) , 'invert': activeTab === 'invites'}" ng-click="invitesTab()">
          <div class="invites-summary">
            <div class="number">
              <span>{{invites.available || 0}}</span>
            </div>
            <div class="info-text">
              <span>Invites Available</span>
            </div>
          </div>
         
        </div>

      </div>

      <div class="carousel-container w80percent small-10 columns" ng-class="{'accordion': is.accordion(0) }">

        <!-- If No Team Members -->
        <div ng-if="!downline[0]" class="empty owl-carousel">
          <div class="empty-state">
            <p class="empty-text">The team section helps you grow, manage, and support your team.  Invite others to join, get detailed metrics on their results, and track your teammates' progress. </p>
          </div>
        </div>

        <!-- If Team Members -->
        <div ng-if="downline[0]" class="team owl-carousel" id="carousel-0" data-row="0">
          <a ng-repeat="member in downline[0]">

            <div 
              class="team-member" 
              ng-class="{ active: memberActive(member), 'accordion': is.accordion(0) }" 
              ng-mouseenter="hover = true"
              ng-mouseleave="hover = false">
              <div class="team-tabs">
                <div 
                  class="team-tab downline" 
                  ng-if="member.downline_count"
                  ng-class="{ 
                    'raise': hover || isMobile() || is.activeMember(member, downline[0]),
                    'active-tab':  is.activeTab(member, downline[0], 'team'),
                    'even': is.even(member),
                  }"
                  ng-click="changeTab(member, downline[0], 'team');">
                  <!--  ng-if="member.downline_count > 0" -->
                  <img ng-hide="is.activeTab(member, downline[0], 'team')" ng-src="{{img.teamSection.teamIconInvert}}">
                  <img ng-show="is.activeTab(member, downline[0], 'team')" ng-src="{{img.teamSection.teamIcon}}">
                </div>
                <div class="team-tab info" ng-if="!member.downline_count" ng-class="{ 'raise': hover || is.activeMember(member, downline[0]) }">
                  <img ng-src="{{img.teamSection.teamIconInactive}}">
                </div>
                <div 
                  class="team-tab info" 
                  ng-class="{ 
                    'raise': hover || isMobile() || is.activeMember(member, downline[0]),
                    'active-tab': is.activeTab(member, downline[0], 'info'),
                    'even': is.even(member),
                  }" 
                  ng-click="changeTab(member, downline[0], 'info');">
                  <img ng-hide="is.activeTab(member, downline[0], 'info')" ng-src="{{img.teamSection.kpiIconInvert}}">
                  <img ng-show="is.activeTab(member, downline[0], 'info')" ng-src="{{img.teamSection.kpiIcon}}">
                </div>
                <div 
                  class="team-tab info" 
                  ng-if="member.proposal_count"
                  ng-class="{ 
                    'raise': hover || is.activeMember(member, downline[0]),
                    'active-tab': is.activeTab(member, downline[0], 'proposals'),
                    'even': is.even(member),
                  }" 
                  ng-click="changeTab(member, downline[0], 'proposals'); teamSection.fetchProposals(member);">
                 <!--  <i class="fa fa-info-circle invert"></i> -->
                  <img ng-hide="is.activeTab(member, downline[0], 'proposals')" ng-src="{{img.teamSection.customerIconInvert}}">
                  <img ng-show="is.activeTab(member, downline[0], 'proposals')" ng-src="{{img.teamSection.customerIcon}}">
                </div>
                <div class="team-tab info" ng-if="!member.proposal_count" ng-class="{ 'raise': hover || is.activeMember(member, downline[0]) }">
                  <img ng-src="{{img.teamSection.customerIconInactive}}">
                </div>
              </div>
              <div class="info-box" ng-class="{ 
                    'raise': hover || isMobile() || downline.length > 1 || is.activeMember(member, downline[0]) || activeTab === 'proposals',
                    'accordion': is.accordion(0) }"
                    ng-click="changeTab(member, downline[0], 'info');">
                <div class="avatar" ng-class="{'accordion': is.accordion(0) }">
                  <img class="lazyOwl" data-src="{{member.avatar.thumb}}">
                </div>
                <div class="info-text user-text">
                  <span>{{member.first_name}} {{member.last_name}}</span>
                  <span ng-hide="is.activeMember(member, downline[0]) && downline[0].tab !== 'info'" class="info-detail">TEAM {{member.downline_count}}, PROPOSALS {{member.proposal_count || 0}}</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Downline Drilldown -->
    <ng-include src="'dashboard/templates/sections/team/downline.html'"></ng-include>
    <!-- Proposals Drilldown -->
    <ng-include src="'dashboard/templates/sections/team/proposals.html'"></ng-include>
    <!-- Info Drilldown -->
    <ng-include src="'dashboard/templates/sections/team/info.html'"></ng-include>
    <!-- Proposal Info Drilldown -->
    <ng-include src="'dashboard/templates/sections/team/proposal.html'"></ng-include>
    <!-- Proposal Invites Drilldown -->
    <ng-include src="'dashboard/templates/sections/team/invites.html'"></ng-include>

  </div>
</div>
