<!-- Row: Team Member Info -->
<div class="row collapse downline-row info-row" id="info-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'info' }">
  <!-- Large -->
  <div ng-hide="activeTab !== 'info'" class="large-12 columns fade-in-section" ng-class="{'opaque': activeTab === 'info'}">
    <div class="info-container">
      <div class="large-6 columns">
        
        <div class="row">
        <i class="fa fa-line-chart"></i><span class="header">&nbsp;&nbsp;Stats</span>
        </div>
        <!-- <div class="stats-container">
          <div class="large-12 columns">
            <span class="sub-header">performance</span>
          </div>
          <div class="row stats dim">
            <div class="large-3 columns">
              <span class="detail">&nbsp;</span>
              <span class="detail text-left">Proposals</span>
              <span class="detail text-left">Consultations</span>
              <span class="detail text-left">Rooftops</span>
            </div>
            <div class="large-3 columns">
              <span class="detail text-right">Last Month</span>
              <span class="detail text-right">-</span>
              <span class="detail text-right">-</span>
              <span class="detail text-right">-</span>
            </div>
            <div class="large-3 columns">
              <span class="detail text-right">This Month</span>
              <span class="detail text-right">-</span>
              <span class="detail text-right">-</span>
              <span class="detail text-right">-</span>
            </div>
            <div class="large-3 columns"></div>
          </div>
        </div> -->
        <div class="stats-container">
          <div class="row">
            <div class="large-12 columns">
              <span class="sub-header">Progress</span>
              <span class="detail lg">Lifetime Rank: &nbsp;{{currentTeamMember.lifetime_rank || 0}}</span>
              <!-- <span class="detail lg dim">Team Certified: &nbsp;{{currentTeamMember.certified_count || 0}}/{{currentTeamMember.downline_count || 0}}</span> -->

            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="row">
          <i class="fa fa-info-circle"></i><span class="header">&nbsp;&nbsp;Info</span>
        </div>
        <div class="stats-container">
          <div class="row">
            <div class="large-12 columns">
              <span class="sub-header">contact information</span>
              <span class="detail lg">Phone: &nbsp;{{currentTeamMember.phone || 'N/A'}}</span>
              <span ng-hide="currentTeamMember.email" class="detail lg">Email: &nbsp;N/A</span>
              <span ng-show="currentTeamMember.email"class="detail lg">Email: &nbsp;<a ng-href="{{currentTeamMember.email}}">{{currentTeamMember.email}}</a></span>
              <span class="sub-header">social media</span>
              <a ng-if="currentTeamMember.profile.facebook_url" href="{{currentTeamMember.profile.facebook_url}}"><i class="fa fa-facebook alternate"></i></a>
              <a ng-if="!currentTeamMember.profile.facebook_url"><i class="fa fa-facebook  alternate disabled"></i></a>
              <a ng-if="currentTeamMember.profile.twitter_url" href="{{currentTeamMember.profile.twitter_url}}"><i class="fa fa-twitter alternate"></i></a>
              <a ng-if="!currentTeamMember.profile.twitter_url"><i class="fa fa-twitter  alternate disabled"></i></a>
              <span class="sub-header">other information</span>
              <span class="detail lg">Advocate ID: &nbsp;{{currentTeamMember.id}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>