<!-- Row: Invites Carousel -->
<div class="downline-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'invites'}">
  <div class="team-invites">
    <!-- Invites Available -->
    <div class="w20percent small-2 columns">
      <div class="invites-summary">
        <div class="number">
          <span>{{invitesAvailable}}</span>
        </div>
        <div class="info-text">
          <span>Available Invites Will Display Here</span>
          <!-- <span>Invites Available</span> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Invites Carousel -->
  <div class="carousel-container no-border w80percent small-10 columns">
    <div class="invites no-border owl-carousel">
      <div ng-repeat="invite in invites">

        <!-- Existing Invites -->
        <div ng-if="invite.type !== 'empty'" class="invite">
          <div class="icon">
            <span><i class="fa fa-user fa-4x"></i></span>
          </div>
          <div class="info-text">
            <span>{{invite.properties.first_name}} {{invite.properties.last_name}}</span>
          </div>
          <div class="status-text">
            <span>Expires {{ invite.properties.expires | dateToLocalDate }} {{ invite.properties.expires | timeToLocalTime }}</span>
          </div>
        </div>

        <!-- Empty Invites -->
        <div ng-if="invite.type === 'empty'" class="invite">
          <div class="icon">
            <span><i class="fa fa-circle-thin fa-4x"></i></span>
          </div>
          <div class="info-text">
            <span>Empty</span>
          </div>
          <div class="status-text">
            <span>Invite Someone</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Row: Invite Team Member Form -->
<!-- <div class="drilldown row collapse team-drilldown" ng-class="{'active': drilldownActive == true}">
  <div ng-hide="!showForm" class="fade-in-section" ng-class="{'active': showForm == true}"> -->
    <!-- New Invite Summary Text -->
   <!--  <div class="summary large-3 medium-3 columns"> -->

    <!--   <h1>New Invite</h1>
      <p>Enter team member information to create a new invite.</p>
      <p>Invites expire after 24 hours. You can renew or release invites after they have expired.</p>

    </div> -->

    <!-- Form if New Invite -->
   <!--  <div ng-if="mode === 'incomplete' || mode === 'new'" class="form large-9 medium-9 columns">
      <ng-include src="'dashboard/templates/sections/team-invite-form.html'"></ng-include>
    </div> -->
    <!-- Summary if Existing Invite -->
   <!--  <div ng-if="mode === 'submitted'" class="form large-9 medium-9 columns">
      <ng-include src="'dashboard/templates/sections/team-invite-existing.html'"></ng-include>
    </div>
  </div>
</div> -->
