<!-- Row: Invites Carousel -->
<div class="row collapse carousel-box downline-row" ng-class="{ 'even': downline.length % 2 === 0, 'expand': activeTab === 'invites'}">
  <!-- Invites Available -->
  <div class="w20percent team-member-info-large small-2 columns" ng-click="newInvite()" ng-class="{'invert': showNew}">
    <div class="icon invite-icon">
      <span><i class="fa fa-user-plus fa-4x"></i></span>
    </div>
    <div class="info-text user-text">
      <span>New Invite</span>
    </div>
  </div>


  <!-- Invites Carousel -->
  <div class="carousel-container w80percent small-10 columns">
    <div class="invites owl-carousel downline" id="invites">
      <div ng-repeat="invite in invites track by $index">

        <!-- Existing Invites -->
        <div ng-if="invite" class="invite" ng-click="showInvite(invite);" ng-class="{'active': invite.properties.id === activeInvite.id}">
          <div class="icon invite-icon">
            <span><i class="fa fa-envelope fa-4x"></i></span>
          </div>
          <div class="info-text user-text">
            <span>{{invite.properties.first_name}} {{invite.properties.last_name}}</span>
            <span class="info-detail">Expires {{ invite.properties.expires | dateToLocalDate }} {{ invite.properties.expires | timeToLocalTime }}</span>
          </div>

        </div>

          <!-- Empty Invites -->

        <div ng-if="!invite" class="invite">
          <div class="icon invite-icon">
            <span><i class="fa fa-plus-circle fa-4x"></i></span>
          </div>
          <div class="info-text user-text">
            <span>Empty</span>
            <span class="info-detail">Invite Someone</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row collapse downline-row drilldown invite-row" ng-class="{ 'expand': showNew }">
  <!-- Large -->
  <div ng-hide="!showNew" class="large-12 columns form">
    !invite goes here!
  </div>
</div>

<div class="row collapse downline-row drilldown invite-row" ng-class="{ 'expand': activeInvite }">
  <!-- Large -->
  <div ng-hide="!activeInvite" class="large-12 columns form">
    !invite goes here!
  </div>
</div>

