<div id="{{bindingObj}}" alt="{{id}}" class="quote_thumbnail js-quote_thumbnail js-thumbnail_parent">
	<div class="js-thumbnail">
    	<span class="subtext">
      	{{#if address.street}}
      		<i class="fa fa-check"></i>
      	{{else}}
    	  	<i class="fa fa-times"></i>
    	 {{/if}}
      	Address
      </span>

      	<span class="subtext">
      	{{#if utility_info.document}}
      		<i class="fa fa-check"></i>
      	{{else}}
    	  	<i class="fa fa-times"></i>
    	{{/if}}
      	Utility Bill
      	</span>

    {{name}}

    	<span class="expand">
    		<i class="fa fa-angle-down"></i>
    	</span>
	</div>
</div>

