<div data-id="id" class="team_thumbnail js-thumbnail_parent">
	<div class="js-thumbnail">
		<img class="advocate_avatar" data-src="profile_image">
		<br>
		<span data-content="name"><!-- insert first and last name --></span>
		<span class="subtext">
			<span data-content="rank"><!--insert current rank name--></span>
			<span class="badge" data-content="total_new_promoters">3 New</span>
		</span>
		<span class="expand">
			<i class="fa fa-angle-down"></i>
		</span>
	</div>
	<div class="object_detail dev-hack_for_arrow_placement_invite level1">
		<div class="object_detail_content">
			<div class="object_detail_content_section summary">
				<img class="advocate_avatar" data-src="profile_image">
				<br>
				<h4 data-content="name"><!--insert first and last name--></h4>
				<span class="subtext" data-content="rank"><!--insert current rank name--></span>
			</div>
			<div class="object_detail_content_section">
				<span data-content="quotes_approved"><!--insert total quotes produced--></span> <i class="fa fa-file"></i>
				<br>
				<span data-content="panels_installed"><!--insert total panels installed--></span> <i class="fa fa-home"></i>
				<br>
				<span data-content="team_size"><!--insert current team size--></span> <i class="fa fa-user"></i>
			</div>
		</div>
	</div>
</div>