<main class="pow-admin-index">
  <div class="row">
    <div class="large-12 columns">
      <h2>Admin Dashboard</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">

      <table class="index-table">
        <thead>
          <tr>
            <th colspan="2">Basic stats since midnight</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in index.data.entities">
            <td>{{ item.properties.name }}</td>
            <td>{{ item.properties.value }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>
