<main class="sun-admin-landing">
  <h1>Administration</h1>
  <label>People</label>
  <ul class="small-block-grid-1 large-block-grid-3">
    <li><a ng-href="/admin/#/users"><div class="callout panel"><i class="fa fa-user"></i>&nbsp;Users</div></a></li>
    <li><a ng-href="/admin/#/user-groups"><div class="callout panel"><i class="fa fa-users"></i>&nbsp;User Groups</div></a></li>
  </ul>
  <label>Products</label>
  <ul class="small-block-grid-1 large-block-grid-3">
    <li><a ng-href="/admin/#/products"><div class="callout panel"><i class="fa fa-sun-o"></i>&nbsp;Products</div></a></li>
    <li><a ng-href="/a/quotes"><div class="callout panel"><i class="fa fa-star-half-o"></i>&nbsp;Proposals</div></a></li>
    <li><a ng-href="/a/quotes"><div class="callout panel"><i class="fa fa-star"></i>&nbsp;Orders</div></a></li>
  </ul>
  <label>Pay</label>
  <ul class="small-block-grid-1 large-block-grid-3">
    <li><a ng-href="/a/quotes"><div class="callout panel"><i class="fa fa-usd"></i>&nbsp;Pay Periods</div></a></li>
    <li><a ng-href="/admin/#/bonus-plans"><div class="callout panel"><i class="fa fa-money"></i>&nbsp;Bonus Plans</div></a></li>
  </ul>
  <label>Powur</label>
  <ul class="small-block-grid-1 large-block-grid-3">
    <li><a ng-href="/admin/#/resources"><div class="callout panel"><i class="fa fa-book"></i>&nbsp;Library</div></a></li>
    <li><a ng-href="/admin/#/notifications"><div class="callout panel"><i class="fa fa-comment-o"></i>&nbsp;Dashboard Notifications</div></a></li>
    <li><a ng-href="/admin/#/social-media"><div class="callout panel"><i class="fa fa-share-square"></i>&nbsp;Social Media Sharing</div></a></li>
    <li><div class="panel"><i class="fa fa-paper-plane"></i>&nbsp;Marketing Center</div></li>
  </ul>
</main>
