<main class="pow-admin-index">
  <div class="row">
    <div class="large-7 columns">
      <h2>Admin Dashboard</h2>
    </div>

    <div class="large-2 columns">
      <label for="datepicker_since">Start</label><input type="text" id="datepicker_since" ng-model="dateSince">
    </div>

    <div class="large-2 columns">
      <label for="datepicker_until">End</label><input type="text" id="datepicker_until" ng-model="dateUntil">
    </div>

    <div class="large-1 columns last">
      <br>
      <button ng-click="getData()" class="button tiny">Go</button>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">

      <table class="index-table">
        <thead>
          <tr>
            <th colspan="2">Basic stats</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in index.data.entities">
            <td>{{ item.properties.name }}</td>
            <td width="200">{{ item.properties.value }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>
