// Base Styles

body {
	// Mixins

	// Box properties
	padding-bottom: $grid * 2;

	// Background & borders
	background: $white;

	// Typography
	color: $text;
	font-family: $body_font;

	// Other

}

h1 {
	// Mixins

	// Box properties
	margin-bottom: $grid;

	// Background & borders

	// Typography
	font-family: $title_font;
	font-weight: normal;

	// Other

}

h2, h3, h4, h5, h6 {
	// Mixins

	// Box properties
	margin-bottom: $grid / 2;
	// Background & borders

	// Typography
	font-family: $title_font;
	font-weight: normal;

	// Other

}

h3 {
	// Mixins

	// Box properties
	margin-bottom: 0;
	// Background & borders

	// Typography

	// Other

}

h4 {
	// Mixins

	// Box properties
	margin-bottom: 0;
	// Background & borders

	// Typography

	// Other

}
a {
	// Mixins
	@include corners(3px, 3px, 3px, 3px);
	// Box properties
	padding: 0 4px;
	// Background & borders
	background-color: $brand_trans;
	// Typography
	color: $brand;
	text-decoration: none;

	// Other

	&:hover {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background-color: rgba($brand, 1);

		// Typography
		color: white;
		// Other
	
	}
}

p {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}

p + p {
	// Mixins

	// Box properties
	margin-top: $grid;

	// Background & borders

	// Typography

	// Other

}

p + h2 {
	// Mixins

	// Box properties
	margin-top: $grid;
	// Background & borders

	// Typography

	// Other

}

header {
	// Mixins

	// Box properties
	padding: $grid / 2 $grid;

	// Background & borders
	border-bottom: $border;

	// Typography
	text-align: left;

	// Other

	nav {
		// Mixins

		// Box properties
		overflow: auto;

		// Background & borders

		// Typography
		
		// Other
	
		ul {
			// Mixins
		
			// Box properties
			float: left;

			// Background & borders
		
			// Typography
		
			// Other
			
			li {
				// Mixins
			
				// Box properties
				float: left;
				margin-left: $grid;
				padding: $grid / 2;
				// Background & borders
			
				// Typography
			
				// Other
			
				&:first-child {
					// Mixins
				
					// Box properties
					margin-left: 0;
					// Background & borders
				
					// Typography
				
					// Other
				
				}
			
				a {
					// Mixins
				
					// Box properties
				
					// Background & borders
				
					// Typography
					color: $brand;
					// Other
				
				}
			}
		}
	}
}

section {
	// Mixins

	// Box properties

	// Background & borders

	// Typography
	text-align: center;

	// Other

}

article {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}

aside {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}

ul {
	// Mixins

	// Box properties
	
	// Background & borders

	// Typography

	// Other

}

footer {
	// Mixins

	// Box properties
	padding: $grid;

	// Background & borders
	border-top: $border;
	background: $dev_gray;

	// Typography
	text-align: center;

	// Other

}

// Forms

	form {
		// Mixins

		// Box properties
		width: $grid * 12;
		margin: 0 auto;
		padding: $grid;

		// Background & borders

		// Typography
		text-align: left;

		// Other

	}

	label {
		// Mixins
	
		// Box properties
		display: none;
		width: 100%;

		// Background & borders
	
		// Typography
	
		// Other
	
	}

	input + label {
		margin-top: $grid;
	}

	input[type=text],
	input[type=password],
	input[type=email] {
		// Mixins
		@include box-sizing;
		@include corners;

		// Box properties
		clear: both;
		display: block;
		width: 100%;
		padding: $grid / 2;

		// Background & borders
		border: $border;

		// Typography
		font-size: $font_size;
		font-family: $dev_font;
	
		// Other
	
	}

	select {
		// Mixins

		// Box properties
		padding: $grid / 8 $grid * 1.5 $grid / 8 $grid / 2;
		margin: 0;

		// Background & borders
		background-image: url(select_arrow.svg) ;
		background-position: 92% center;
		background-repeat: no-repeat;
		background-color: rgba(0,0,0,0);
		border: $border;

		// Typography
		color: $quiet;
		font-size: $grid / 2;
		line-height: $line_height;
		text-indent: 0.01px;
		text-overflow: "";

		// Other
		-moz-appearance: none;
		-webkit-appearance: none;

		&:hover {
			background: $brand;
			color: white;
			border: 1px solid darken($brand, 2%);
		}
	}
