#user_nav {
	// Mixins

	// Box properties
	float: right;

	// Background & borders

	// Typography

	// Other

}

.button {
	// Mixins
	@include button;

	// Box properties

	// Background & borders

	// Typography

	// Other

}

#system_feedback {
	// Mixins

	// Box properties

	// Background & borders
	background-color: $brand;

	// Typography
	color: white;

	// Other

}

#dashboard_kpis {
	// Mixins

	// Box properties

	// Background & borders
	border-top: $border;
	
	// Typography

	// Other

}

#dashboard_leads {
	// Mixins

	// Box properties

	// Background & borders
	border-top: $border;

	// Typography

	// Other

}

#dashboard_team {
	// Mixins

	// Box properties

	// Background & borders
	border-top: $border;

	// Typography

	// Other

}