body#application {
	// Mixins

	// Box properties
	padding: $grid * 4 0 0 0;
	@include box_sizing;
	// Background & borders

	// Typography

	// Other

	header {
		// Mixins
		@include gradient(lighten($brand, 2%), $brand, darken($brand, 2%));
		@include box_sizing;
		// Box properties
		height: $grid * 4;
		min-width: $desktop;
		// Background & borders
		background-color: $brand;
		// Typography
	
		// Other
	
	}
}

#header_container {
	// Mixins

	// Box properties
	width: $desktop;
	margin: 0 auto;
	// Background & borders

	// Typography

	// Other

}

.main_logo {
	// Mixins

	// Box properties
	padding: 0;
	margin-right: $grid;
	margin-top: 0;
	float: left;
	// Background & borders
	border: none;
	background: none;
	// Typography

	// Other

	a {
		// Mixins
	
		// Box properties
		display: block;

		overflow: auto;
		// Background & borders
		background: none;
		border: none !important;
		// Typography
		
		// Other
	
		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background: none !important;
			border: none !important;
			// Typography
		
			// Other
		
		}
	}
}

#sunstand_logo {
	// Mixins

	// Box properties
	display: block;
	height: $grid * 2;
	width: $grid * 5.42;
	overflow: hidden;
	float: left;
	// Background & borders

	// Typography
	text-indent: 9999em;
	// Other

}

#user_nav {
	// Mixins

	// Box properties
	float: right;

	// Background & borders

	// Typography
	line-height: $grid;
	// Other

	li {
		// Mixins
	
		// Box properties
		float: left;
		// Background & borders
	
		// Typography
	
		// Other
	
		a.username {
			// Mixins
		
			// Box properties
			width: $grid * 7;
			display: block;
			padding: 0;
			// Background & borders

			// Typography

			// Other
		
		}
	}
}


#system_feedback {
	// Mixins

	// Box properties
	background-color: $neutral;
	padding: $grid;
	// Background & borders
	border-bottom: $border;
	// Typography
	text-align: center;
	// Other

	h1 {
		// Mixins
	
		// Box properties
		margin: 0;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	p {
		// Mixins
	
		// Box properties
		margin: 0;
		// Background & borders
	
		// Typography
		font-size: $grid / 2;
		line-height: $line_height;
		color: $quiet;
		// Other
	
	}

	.system_feedback_graphic {
		// Mixins
	
		// Box properties
		width: auto;
		display: inline-block;
		margin:  $grid / 2 0;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}

.footer_column {
	// Mixins

	// Box properties
	width: $grid * 7;
	float: left;
	// Background & borders

	// Typography

	// Other

}

// Forms

.form_row {
	// Mixins

	// Box properties
	display: block;
	position: relative;
	overflow: auto;
	clear: both;
	// Background & borders

	// Typography

	// Other

	&.half {
		// Mixins
		@include box_sizing;
		// Box properties
		width: 50%;
		float: left;
		clear: none;
		padding: 0 $grid / 8 0 0;
		// Background & borders
	
		// Typography
	
		// Other

	}

	&.half + .half {
		// Mixins
	
		// Box properties
		
		padding: 0 0 0 $grid / 8;
		// Background & borders
		
		// Typography
	
		// Other
		
		input {
			// Mixins
		
			// Box properties
		
			// Background & borders

			// Typography
		
			// Other
		
		}
	}

	&.checkbox {
		// Mixins
	
		// Box properties
		display: block;
		width: 100%;
		padding: $grid / 2 0;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	&.text {
		// Mixins
	
		// Box properties
		padding-bottom: $grid / 2;
		// Background & borders
		
		// Typography
	
		// Other
	
	}
}

input.read_only {
	// Mixins

	// Box properties
	border-color: transparent;
	// Background & borders

	// Typography
	color: $text;
	// Other

}