#user_nav {
	// Mixins

	// Box properties
	float: right;

	// Background & borders

	// Typography

	// Other

}

.button {
	// Mixins
	@include button;

	// Box properties

	// Background & borders

	// Typography

	// Other

}

#system_feedback {
	// Mixins

	// Box properties
	padding: $grid;
	
	// Background & borders
	background-color: $brand;

	// Typography
	color: white;

	// Other

}

.generic_section {
	// Mixins

	// Box properties

	// Background & borders
	border-top: $border;

	// Typography

	// Other

}

#dashboard_kpis {
	// Mixins

	// Box properties

	// Background & borders
	border-top: $border;

	// Typography

	// Other

}

#dashboard_leads {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders
	border-top: $border;

	// Typography

	// Other

}

#dashboard_team {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders
	border-top: $border;

	// Typography

	// Other

}

.section_header {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

	h1 {
		// Mixins
	
		// Box properties
		float: left;
		margin-bottom: $grid / 2;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	a {
		// Mixins
	
		// Box properties
		float: right;
		// Background & borders
		
		// Typography
	
		// Other
	
	}
}

.section_content {
	// Mixins

	// Box properties
	overflow: auto;
	clear: both;

	// Background & borders

	// Typography

	// Other

}

.lead_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders

	// Typography

	// Other

}

.team_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders

	// Typography

	// Other

}