// Grid Calculator

	// functions

	  @function emify($target, $context: $font_size) {
	     @if $target == 0 { @return 0 }
	     @return $target / $context + 0em;
	  }

	// set grid rhythm

	  $grid: 32px; // set to your desired line-height and base grid unit
	  
	  $font_size: $grid / 1.6 ; // set the number to your desired line-height ratio

	  // automagics

	    $line_height: emify($grid);
	    $of-default-font-size: percentage($font_size / 16px);

	    body {
	      font-size: $of-default-font-size;
	      line-height: $line_height !important;
	    }

// Responsive presets

	$desktop: $grid * 40;
	$tablet: $grid * 18;
	$phone: $grid * 10;


// Colors

	$text: #444;
	$red: #f46b41;
	$supergreen: #95bf5c;
	$sunnyside: #F9A600;
	$solar: #FAEA6A;
	$brand: #E91588;

	$white: #fff;
	$black: #222;

	$supergreen_shadow: darken($supergreen, 10%);

	$sunny_dark: darken($sunnyside, 35%);
	$sunny0: darken($sunnyside, 4%);
	$sunny1: darken($sunnyside, 2%);
	$sunny2: $sunnyside;
	$sunnya: lighten($sunnyside, 2%);
	$sunnyb: lighten($sunnyside, 4%);
	$sunnyc: lighten($sunnyside, 6%);
	$sunnyd: lighten($sunnyside, 8%);
	$sunnye: lighten($sunnyside, 10%);

	$brand_shadow: darken($brand, 10%);
	$brand_dark: darken($brand, 20%);
	$brand_trans: #D5E2ED;
	$brand_white: lighten($brand, 45%);


	$dev_gray: #f7f7f9;
	$quiet: lighten($text, 34%);
	$whisper: lighten($text, 47%);
	$ghost: rgba(0,0,0,.06);
	$ghost_dark: rgba(0,0,0,.14);

	$light_ghost: rgba(255,255,255,.06);

	$neutral: #DAEDF6;
	$positive: #DFF0D9;
	$negative: #f2d5d9;

// Typography

	$dev_font: "Architects Daughter", sans-serif;

	$body_font: 'Muli', sans-serif;
	$title_font: 'Muli', sans-serif;
	$small_title_font: 'Varela Round', sans-serif;
	$form_font: 'Open Sans', sans-serif;
	$serif_font: 'Sorts Mill Goudy', serif;

	@mixin small_title {
		font-size: $font_size / 1.5;
		line-height: $grid / 2;
		text-transform: uppercase;
		font-family: $small_title_font;
		// -webkit-font-smoothing: subpixel-antialiased;
	}

// Header Calculations

	$h1_ratio: 3; // enter your title ratio here
	$h1_size: emify($font_size * $h1_ratio);

	$h_ratio: 2; // enter your title ratio here
	$h_size: emify($font_size * $h_ratio);

// Borders

	$border: 1px solid $ghost;
	$light_border: 1px solid $light_ghost;

// Mixins
	@mixin text_shadow {
		text-shadow: 0 0px 5px rgba(255,255,255, .25), 0px 1px 3px rgba(0,0,0, .6);
	}  


	@mixin no_shadow {
		text-shadow: 0 0px 0px rgba(255,255,255, 0);
	}

	@mixin inner_shadow {
	    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,.03);
	}

	@mixin box_shadow {
	    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
	}


	@mixin gradient($stop1, $stop2, $stop3) {
	    background: -moz-linear-gradient(top,  $stop1, $stop2, $stop3); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.01)), color-stop(16%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top,  $stop1,$stop2,$stop3); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top,  $stop1,$stop2,$stop3); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top,  $stop1,$stop2,$stop3); /* IE10+ */
	    background: linear-gradient(to bottom,  $stop1,$stop2,$stop3); /* W3C */
	  }

	@mixin gradient_sunrise {
		/* IE10 Consumer Preview */ 
		background-image: -ms-radial-gradient(right bottom, circle farthest-side, #FFFFFF 0%,  $sunnyside 80%);

		/* Mozilla Firefox */ 
		background-image: -moz-radial-gradient(right bottom, circle farthest-side, #FFFFFF 0%, $sunnyside 80%);

		/* Opera */ 
		background-image: -o-radial-gradient(right bottom, circle farthest-side, #FFFFFF 0%, $sunnyside 80%);

		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(radial, right bottom, 0, right top, 956, color-stop(0, #FFFFFF), color-stop(1, $sunnyside));

		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-radial-gradient(right bottom, circle farthest-side, #FFFFFF 0%, $sunnyside 80%);

		/* W3C Markup, IE10 Release Preview */ 
		background-image: radial-gradient(circle farthest-side at right bottom, #FFFFFF 0%, $sunnyside 80%);
		
	}

	@mixin box_sizing($box_sizing_value: border-box) {
	  -moz-box-sizing: $box_sizing_value;
	  -webkit-box-sizing: $box_sizing_value;
	  box-sizing: $box_sizing_value;
	}

	@mixin box_shadow($h1: 0, $v1: -5px, $blur1: 5px, $color1: rgba(0,0,0,.05), $h2: 0, $v2: -5px, $blur2: 12px, $color2: rgba(0,0,0,0)) {
		-webkit-box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
		-moz-box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
		box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
	}

	@mixin corners($tr: 4px, $tl: 4px, $bl: 4px, $br: 4px) { /* this could probably be less verbose at some point */
	    -webkit-border-top-left-radius: $tr;
	    -moz-border-radius-topleft: $tr;
	    border-top-left-radius: $tr;
	    -webkit-border-top-right-radius: $tl;
	    -moz-border-radius-topright: $tl;
	    border-top-right-radius: $tl;
	    -webkit-border-bottom-left-radius: $bl;
	    -moz-border-radius-bottomleft: $bl;
	    border-bottom-left-radius: $bl;
	    -webkit-border-bottom-right-radius: $br;
	    -moz-border-radius-bottomright: $br;
	    border-bottom-right-radius: $br;
	}

	@mixin form_padding {
		padding: $grid / 4 $grid / 2;
	}

	@mixin field_padding {
		padding: $grid / 1.25 $grid / 2 $grid / 4;
	}

	@mixin form_box {
		// Mixins
		@include box_sizing;
		@include form_padding;
		@include small_title;
		// Box properties
		display: block;
		width: 100%;
		vertical-align: baseline;
		// Background & borders
	
		// Typography

		// Other

	}

	@mixin field_box {
		// Mixins
		@include box_sizing;
		@include field_padding;
		@include corners;
		// Box properties
		display: block;
		width: 100%;
		vertical-align: baseline;
		margin-bottom: $grid / 2;
		// Background & borders
	
		// Typography
		font-family: $body_font;
		font-size: $font_size;
		line-height: $font_size;
		-webkit-font-smoothing: subpixel-antialiased;

		// Other

	}

	@mixin button {
		// Mixins
	    @include form_box;
	    @include corners;
		// Box properties
		clear: both;
		margin-top: $grid / 4;
		float: right;
		width: auto;
		clear: none;
		// Background & borders
		background: $brand;
		border: 1px solid darken($brand, 2%);

		// Typography
		color: $white;
		text-align: center;

		// Other
	    cursor: pointer;

	    &:hover {
	    	background: $brand_shadow;
	    	color: white;
			border: 1px solid darken($brand_shadow, 2%);

	    }

		&.disabled {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background-color:$ghost;
			border: $border;
			// Typography
			color: $quiet;
			// Other
		
		}

	    &.primary {
	    	// Mixins
	    
	    	// Box properties
	    
	    	// Background & borders
	    	background: $brand;
	    	// Typography
	    	color: white;
	    	// Other
	    
	    	&:hover {
	    		// Mixins
	    	
	    		// Box properties
	    	
	    		// Background & borders
	    		background: $brand_shadow;
	    		// Typography
	    	
	    		// Other
	    	
	    	}
	    }
  	}

	@mixin object_thumbnail {
		// Mixins
		@include box_sizing;
		@include corners;

		// Box properties
		float: left;
		width: $grid * 8;
		height: $grid * 6;
		padding: $grid / 2;
		position: relative;
		margin: $grid 0;
		// Background & borders
		border: 1px solid rgba(0,0,0,0);
		// Typography
		text-align: center;

		// Other
		cursor: pointer;

		&:hover {
			// color: $brand;
		}

		&:first-child {
			// Mixins
		
			// Box properties
			clear: both;
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.thumbnail_graphic {
			// Mixins
		
			// Box properties
			margin-bottom: $grid / 2;
			height: $grid * 2;
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.expand {
			// Mixins
		
			// Box properties
			clear: both;
			display: block;
			position: absolute;
			bottom: $grid / 4;
			width: $grid * 7;
			// Background & borders
		
			// Typography
			text-align: center;
			// Other
		
		}
	}

	@mixin italic {
		// Mixins
		
		// Box properties
	
		// Background & borders
	
		// Typography
		font-family: $serif_font;
		font-style: italic;
		font-size: $font_size;
		line-height: $line_height;
		// Other
	
	}


	@mixin horizontal_list {
		// Mixins
		@include box_sizing;
		// Box properties
		display: block;
		float: left;
		padding: 0 $grid * 1.5 0;
		// Background & borders

		// Typography
		font-size: $grid / 2;
		text-align: center;
		color: $quiet;
		// Other
	}

	@mixin circle_with_text {
		// Mixins
		@include corners (50%,50%,50%,50%);
		@include box_sizing;
		// Box properties
		margin: 0 $grid $grid;
		padding: 0;
		display: table;
		// Background & borders
		// Typography
		text-align: center;
		// Other
		

		span {
			// Mixins
		
			// Box properties
			display: table-cell;
			// Background & borders
		
			// Typography
			vertical-align: middle;
			// Other
		
		}		

	}