// Grid Calculator

	// functions

	  @function emify($target, $context: $font_size) {
	     @if $target == 0 { @return 0 }
	     @return $target / $context + 0em;
	  }

	// set grid rhythm

	  $grid: 38px; // set to your desired line-height and base grid unit
	  
	  $font_size: $grid / 1.6 ; // set the number to your desired line-height ratio

	  // automagics

	    $line_height: emify($grid);
	    $of-default-font-size: percentage($font_size / 16px);

	    body {
	      font-size: $of-default-font-size;
	      line-height: $line_height !important;
	    }

// Responsive presets

	$desktop: $grid * 32;
	$tablet: $grid * 18;


// Colors

	$text: #666;
	$red: #f46b41;
	$supergreen: #22a500;
	$sunnyside: #ffc200;
	$neutral: #f7f7f9;
	$brand: $supergreen;
	$dev_gray: darken($neutral, 5%);
	$quiet: #ccc;

// Typography

	$dev_font: "Architects Daughter", sans-serif;

	$body_font: 'Muli', sans-serif;
	$title_font: 'Muli', sans-serif;


// Header Calculations

	$h1_ratio: 3; // enter your title ratio here
	$h1_size: emify($font_size * $h1_ratio);

	$h_ratio: 2; // enter your title ratio here
	$h_size: emify($font_size * $h_ratio);

// Borders

	$border: 1px solid #ddd;

// Mixins

	@mixin gradient($stop1, $stop2, $stop3) {
	    background: -moz-linear-gradient(top,  $stop1, $stop2, $stop3); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.01)), color-stop(16%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top,  $stop1,$stop2,$stop3); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top,  $stop1,$stop2,$stop3); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top,  $stop1,$stop2,$stop3); /* IE10+ */
	    background: linear-gradient(to bottom,  $stop1,$stop2,$stop3); /* W3C */
	  }

	@mixin box_sizing($box_sizing_value: border-box) {
	  -moz-box-sizing: $box_sizing_value;
	  -webkit-box-sizing: $box_sizing_value;
	  box-sizing: $box_sizing_value;
	}

	@mixin box_shadow($h1: 0, $v1: -5px, $blur1: 5px, $color1: rgba(0,0,0,.05), $h2: 0, $v2: -5px, $blur2: 12px, $color2: rgba(0,0,0,0)) {
		-webkit-box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
		-moz-box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
		box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
	}

	@mixin corners($tr: 2px, $tl: 2px, $bl: 2px, $br: 2px) { /* this could probably be less verbose at some point */
	    -webkit-border-top-left-radius: $tr;
	    -moz-border-radius-topleft: $tr;
	    border-top-left-radius: $tr;
	    -webkit-border-top-right-radius: $tl;
	    -moz-border-radius-topright: $tl;
	    border-top-right-radius: $tl;
	    -webkit-border-bottom-left-radius: $bl;
	    -moz-border-radius-bottomleft: $bl;
	    border-bottom-left-radius: $bl;
	    -webkit-border-bottom-right-radius: $br;
	    -moz-border-radius-bottomright: $br;
	    border-bottom-right-radius: $br;
	}

	@mixin button {
		// Mixins
	    @include corners;

		// Box properties
		padding: $grid / 8 $grid / 2;
		clear: both;
		display: block;

		// Background & borders
		background: $brand;
		border: none;

		// Typography
		color: white;
		font-size: $grid / 2;
	    text-transform: uppercase;

		// Other
	    cursor: pointer;

	    &:hover {
	    	background: $brand;
	    	color: white;
	    }
  }

  @mixin object_thumbnail {
	// Mixins
	@include box_sizing;
	@include corners;

	// Box properties
	float: left;
	width: $grid * 7;
	margin-right: $grid;
	margin-bottom: $grid;
	padding: $grid / 2;

	// Background & borders
	border: 1px solid rgba(0,0,0,0);
	// Typography
	text-align: center;

	// Other

	&:hover {
		color: $brand;
	}

	.expand {
		// Mixins
	
		// Box properties
		clear: both;
		display: block;

		// Background & borders
	
		// Typography
		text-align: center;
		// Other
	
	}
}