// Grid Calculator

	// functions

	  @function emify($target, $context: $font_size) {
	     @if $target == 0 { @return 0 }
	     @return $target / $context + 0em;
	  }

	// set grid rhythm

	  $grid: 32px; // set to your desired line-height and base grid unit
	  
	  $font_size: $grid / 1.6 ; // set the number to your desired line-height ratio

	  // automagics

	    $line_height: emify($grid);
	    $of-default-font-size: percentage($font_size / 16px);

	    body {
	      font-size: $of-default-font-size;
	      line-height: $line_height !important;
	    }

// Responsive presets

	$desktop: $grid * 32;
	$tablet: $grid * 18;


// Colors

	$text: #555;
	$red: #f46b41;
	$supergreen: #22a500;
	$sunnyside: #f4ba39;
	$white: lighten($sunnyside, 45%); //was #f7f7f9
	
	$sunny0: darken($sunnyside, 10%);
	$sunny1: darken($sunnyside, 5%);
	$sunny2: $sunnyside;
	$sunnya: lighten($sunnyside, 5%);
	$sunnyb: lighten($sunnyside, 10%);

	$brand: #00bbd6;
	$brand_shadow: darken($brand, 10%);
	$brand_trans: #D5E2ED;
	$brand_white: lighten($brand, 45%);


	$dev_gray: #f7f7f9;
	$quiet: lighten($text, 25%);
	$whisper: lighten($text, 45%);
	
	$neutral: #DAEDF6;
	$positive: #DFF0D9;
	$negative: #f2d5d9;

// Typography

	$dev_font: "Architects Daughter", sans-serif;

	$body_font: 'Muli', sans-serif;
	$title_font: 'Muli', sans-serif;
	$form_font: 'Open Sans', sans-serif;
	$serif_font: 'Sorts Mill Goudy', serif;

// Header Calculations

	$h1_ratio: 3; // enter your title ratio here
	$h1_size: emify($font_size * $h1_ratio);

	$h_ratio: 2; // enter your title ratio here
	$h_size: emify($font_size * $h_ratio);

// Borders

	$border: 1px solid $whisper;

// Mixins
	@mixin text_shadow {
		text-shadow: 0 0px 5px rgba(255,255,255, .25), 0px 0px 8px rgba(0,0,0, .15);
	}  

	@mixin gradient($stop1, $stop2, $stop3) {
	    background: -moz-linear-gradient(top,  $stop1, $stop2, $stop3); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.01)), color-stop(16%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top,  $stop1,$stop2,$stop3); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top,  $stop1,$stop2,$stop3); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top,  $stop1,$stop2,$stop3); /* IE10+ */
	    background: linear-gradient(to bottom,  $stop1,$stop2,$stop3); /* W3C */
	  }

	@mixin box_sizing($box_sizing_value: border-box) {
	  -moz-box-sizing: $box_sizing_value;
	  -webkit-box-sizing: $box_sizing_value;
	  box-sizing: $box_sizing_value;
	}

	@mixin box_shadow($h1: 0, $v1: -5px, $blur1: 5px, $color1: rgba(0,0,0,.05), $h2: 0, $v2: -5px, $blur2: 12px, $color2: rgba(0,0,0,0)) {
		-webkit-box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
		-moz-box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
		box-shadow:  $h1 $v1 $blur1 $color1,  $h2 $v2 $blur2 $color2;
	}

	@mixin corners($tr: 4px, $tl: 4px, $bl: 4px, $br: 4px) { /* this could probably be less verbose at some point */
	    -webkit-border-top-left-radius: $tr;
	    -moz-border-radius-topleft: $tr;
	    border-top-left-radius: $tr;
	    -webkit-border-top-right-radius: $tl;
	    -moz-border-radius-topright: $tl;
	    border-top-right-radius: $tl;
	    -webkit-border-bottom-left-radius: $bl;
	    -moz-border-radius-bottomleft: $bl;
	    border-bottom-left-radius: $bl;
	    -webkit-border-bottom-right-radius: $br;
	    -moz-border-radius-bottomright: $br;
	    border-bottom-right-radius: $br;
	}

	@mixin form_box {
		// Mixins
		@include corners;
		@include box-sizing;
		// Box properties
		display: block;
		width: 100%;
		padding: $grid / 4 $grid / 2;
		margin-bottom: $grid / 2;
		// Background & borders
	
		// Typography
		font-size: $grid / 2;
		line-height: $line_height;
		font-family: $form_font;

		// Other

	}

	@mixin button {
		// Mixins
	    @include form_box;

		// Box properties
		clear: both;


		// Background & borders
		background: $brand;
		border: 1px solid darken($brand, 2%);

		// Typography
		color: $white;
		text-align: center;

		// Other
	    cursor: pointer;

	    &:hover {
	    	background: $brand_shadow;
	    	color: white;
			border: 1px solid darken($brand_shadow, 2%);

	    }



	    &.submit {
	    	// Mixins
	    
	    	// Box properties
    		padding: $grid / 2;
	    	// Background & borders
	    
	    	// Typography
	    	font-size: $font_size;
	    	// Other
	    
	    }

	    &.primary {
	    	// Mixins
	    
	    	// Box properties
	    
	    	// Background & borders
	    	background: $brand;
	    	// Typography
	    	color: white;
	    	// Other
	    
	    	&:hover {
	    		// Mixins
	    	
	    		// Box properties
	    	
	    		// Background & borders
	    		background: $brand_shadow;
	    		// Typography
	    	
	    		// Other
	    	
	    	}
	    }
  	}

  	@mixin quiet_button {
		// Mixins
	
		// Box properties
		float: left;
		clear: none;
		margin:0;

		// Background & borders
		background: none;
		border: $border;

		// Typography
		color: $quiet;

		// Other

		&:hover {
	    	// Mixins
	    
	    	// Box properties
	    
	    	// Background & borders
	    	background: $brand;
	    	border-color: darken($brand, 2%);
	    	// Typography
	    	color: white;
	    	// Other
		}

	    &.active {
	    	// Mixins
	    
	    	// Box properties
	    
	    	// Background & borders
	    	background: $sunnyside;
	    	border-color: darken($sunnyside, 2%);
	    	// Typography
	    	color: white;
	    	// Other
	    }
  	}

	@mixin object_thumbnail {
		// Mixins
		@include box_sizing;
		@include corners;

		// Box properties
		float: left;
		width: $grid * 7;
		margin-right: $grid;
		padding: $grid / 2 0;

		// Background & borders
		border: 1px solid rgba(0,0,0,0);
		// Typography
		text-align: center;

		// Other
		cursor: pointer;

		&:hover {
			color: $brand;
		}

		.thumbnail_graphic {
			// Mixins
		
			// Box properties
			margin-bottom: $grid / 2;
			height: $grid * 2;
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.button {
			// Mixins
			@include quiet_button;
			@include box_sizing;
			// Box properties
			float: none;
			display: block;
			width: 80%;
			margin: $grid auto $grid / 2;
			// Background & borders
		
			// Typography
			
			// Other
		
		}

		.expand {
			// Mixins
		
			// Box properties
			clear: both;
			display: block;

			// Background & borders
		
			// Typography
			text-align: center;
			// Other
		
		}
	}

	@mixin italic {
		// Mixins
		
		// Box properties
	
		// Background & borders
	
		// Typography
		font-family: $serif_font;
		font-style: italic;
		// Other
	
	}