// Common elements (.classes)

	.button {
		// Mixins
		@include button;

		// Box properties

		// Background & borders

		// Typography

		// Other

	}

	.dismiss {
		// Mixins

		// Box properties
		position: absolute;
		top: $grid / 2;
		right: $grid * .75;

		// Background & borders

		// Typography
		font-size: $grid / 2;
		// Other
		z-index: 100;
	}

	.subtext {
		// Mixins

		// Box properties
		display: block;
		// Background & borders

		// Typography
		font-size: $grid / 2;
		line-height: $line_height;
		color: $quiet;
		// Other

	}

	.expand {
		// Mixins

		// Box properties
		display: block;
		// Background & borders

		// Typography
		text-align: center;
		color: $whisper;
		// Other

	}

	.badge {
		// Mixins
		@include corners;
		@include small_title;
		// Box properties
		display: inline-block;
		padding:$grid / 8 $grid / 4;
		// Background & borders
		background-color: $ghost;
		// Typography

		// Other

	}

	.section_header {
		// Mixins
		@include box_sizing;
		// Box properties
		width: 100%;
		// Background & borders
		border-bottom: $border;
		// Typography

		// Other

		.section_header_content {
			// Mixins
			@include box_sizing;
			// Box properties
			width: $desktop;
			margin: 0 auto;
			padding:$grid / 4 $grid / 2;
			overflow: auto;

			// Background & borders
		
			// Typography
		
			// Other

			h2 {
				// Mixins
				@include small_title;
				@include form_padding;
				// Box properties
				float: left;
				margin:0;
				padding-left: 0;
				// Background & borders
			
				// Typography
				color: $quiet;
				// Other
			
			}

		}
	}

	.tabs {
		// Mixins
		@include small_title;
		// Box properties
		float: left;
		// Background & borders

		// Typography
		color: $whisper;

		// Other

		li {
			// Mixins
			@include box_sizing;
			@include corners;
			// Box properties
			margin: 0 0 0 -1px;
			display: block;
			float: left;
			position: relative;
			// background & borders
	
			// Typography
			list-style: none;
			// Other
			
			&:last-child {
				// Mixins
			
				// Box properties
			
				// Background & borders

				// Typography
			
				// Other

				a {
					// Mixins
					@include corners(0, 4px, 0, 4px);
					// Box properties
				
					// Background & borders

					// Typography
				
					// Other
				
				}
			}

			&:first-child {
				// Mixins
			
				// Box properties
			
				// Background & borders

				// Typography
			
				// Other

				a {
					// Mixins
					@include corners(4px, 0, 4px, 0);
					// Box properties
				
					// Background & borders

					// Typography
				
					// Other
				
				}
			}

			a {
				// Mixins
				@include form_box;
				@include small_title;
				@include corners(0,0,0,0);
				// Box properties
				margin-bottom: 0;
				// Background & borders
				border-top: 1px solid $ghost;
				border-bottom: 1px solid $ghost;
				border-right: 1px solid $ghost;
				border-left: 1px solid $ghost;

				// Typography
				color: $whisper;
				// Other

				&:hover {
					// Mixins
				
					// Box properties
				
					// Background & borders
					background-color: $ghost;

					// Typography
					color: $whisper;
					// Other
				
				}


				&.active {
					// Mixins
				
					// Box properties
				
					// Background & borders
					background-color: $ghost;
					// Typography
					color: $quiet;
					// Other
				
				}
			}
		}
		
		.search {
			// Mixins
		
			// Box properties

			// Background & borders
		
			// Typography
		
			// Other
		
		}
	

		select {
			// Mixins
		
			// Box properties
			margin-bottom: 0;
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.badge {
			// Mixins
			@include circle_with_text;
			// Box properties
			height: $grid / 1.5;
			width: $grid / 1.5;
			padding-top: 1px;
			margin: -3px -9px 0 4px;
			float: right;
			// Background & borders
		
			// Typography

			// Other
		
		}
	}

	.sort {
		// Mixins
		@extend .tabs;
		// Box properties
		float: right;

		// Background & borders

		// Typography

		// Other
	}

	.search {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
		font-size: $font_size;
		// Other
	
	}

// Unique elements (#IDs)

	// Global progress bar

		// Background colors for pixelfucking the progress bar

			$global_progress_color: #777;
			$solar_progress_bar_color: $brand;
			$global_title_color: $solar_progress_bar_color;
			$global_border_color: darken($brand, 19%);

		#global_progress {
			// Mixins
			@include small_title;
			@include gradient(darken($global_progress_color, 14%), darken($global_progress_color, 10%), darken($global_progress_color, 6%));
			// Box properties
			padding: 0;
			overflow: visible;
			position: relative;
			height: $grid;
			// Background & borders
			border-top: 1px solid $global_border_color;
			border-bottom: 1px solid #555;
			// Typography

			// Other

			.tic {
				// Mixins
			
				// Box properties
				position: relative;
				height: 100%;
				width: 100%;
				// Background & borders
				background-image: url(image-path('bg_tic.svg'));
				background-repeat: repeat-x;
				background-size: contain;

				// Typography
			
				// Other
			
			}


			#goal_select {
				// Mixins
				// @include circle_with_text;
				@include gradient(darken($global_title_color, 8%), darken($global_title_color, 12%), darken($global_title_color, 14%));

				// Box properties

				height: 100%;
				width: $grid * 5.5;
				margin: 0;
				position: absolute;
				left: 0;
				// Background & borders
				background-color: $global_title_color;
				border-right: 1px solid $global_border_color;
				// Typography
				color: $white;

				// Other
				z-index: 500;

				&:hover {
					// Mixins
					@include gradient(darken($global_title_color, 12%), darken($global_title_color, 16%), darken($global_title_color, 20%));

					// Box properties
				
					// Background & borders
				
					// Typography
				
					// Other
				
				}
			}

			#solar_progress_bar {
				// Mixins
				@include corners(0, $grid, 0, $grid);
				@include gradient(darken($solar_progress_bar_color, 8%), darken($solar_progress_bar_color, 12%), darken($solar_progress_bar_color, 14%));
				@include box_sizing;
				// Box properties
				width: 64%;
				height: 100%;
				float: left;
				padding-left: $grid * 5.5;
				// Background & borders
				background-color: $solar_progress_bar_color;
				border-right: 1px solid #333;

				// Typography
			
				// Other

				.solar_progress_bar_text {
					// Mixins
				
					// Box properties
					display: block;
					padding: 1px $grid / 2;
					// Background & borders
				
					// Typography
					color: $white;
					// Other
				
				}
			
			}

			#goal_text {
				// Mixins
			
				// Box properties
				float: right;
				height: 100%;
				width: $grid * 5;
				padding-right: $grid / 4;
				// Background & borders
			
				// Typography
				color: $whisper;
				text-align: right;
				// Other
			
			}
		}