.hide {
	// Mixins

	// Box properties
	display: none !important;
	// Background & borders

	// Typography

	// Other

}

.is_valid {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}

.is_not_valid {
	// Mixins

	// Box properties

	// Background & borders
	background-image: url(image-path('bg_clapper.svg'));
	background-position: right center;
	background-repeat: repeat-x;
	background-size: contain;
	// Typography

	// Other

}