.hide {
	// Mixins

	// Box properties
	display: none !important;
	// Background & borders

	// Typography

	// Other

}

.is_valid {
	// Mixins

	// Box properties

	// Background & borders
	background-color: rgba($supergreen, .2);
	// Typography
	color: $text !important;
	// Other

}

.is_not_valid {
	// Mixins

	// Box properties

	// Background & borders
	background-color: rgba($red, .7);
	background-image: url(image-path('bg_clapper.svg'));
	background-repeat: repeat-x;
	background-size: contain;
	border-color: $red !important;
	// Typography
	color: white !important;
	// Other

	&::-webkit-input-placeholder {
	   color: white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: white;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;  
	}

	:-ms-input-placeholder {  
	   color: white;  
	}
}