.hide {
	// Mixins

	// Box properties
	display: none !important;
	// Background & borders

	// Typography

	// Other

}

.show {
	// Mixins

	// Box properties
	display: block !important;
	// Background & borders

	// Typography

	// Other

}

.is_valid {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}

.is_not_valid {

	label {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
		color: white;
		// Other
	
	}

	input {
		// Mixins

		// Box properties

		// Background & borders
		background-image: url(image-path('bg_clapper.svg'));
		background-position: right top;
		background-repeat: repeat-x;
		background-size: $grid * 1.25;
		// Typography

		// Other
	
	}
}

.active_label {
	// Mixins

	// Box properties

	// Background & borders

	// Typography
	color: white;
	// Other

}

.js-error {


			// Mixins
			@include small_title;
			// Box properties
			position: absolute;
			top: $grid / 4;
			right: $grid / 2;
			text-align: right;
			padding: 0;
			// Background & borders
			background: none;
			// Typography
			color: white;
			// Other

}

// Expections for User layouts

body#user {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

	.is_not_valid {

		label {
			// Mixins
		
			// Box properties
		
			// Background & borders
		
			// Typography
			color: $red;
			// Other
		

		}

		input {
			// Mixins

			// Box properties

			// Background & borders
			background-image: url(image-path('bg_clapper_inverted.svg'));

			// Typography

			// Other
		
		}
	}

	.js-error {
			// Mixins

			// Box properties

			// Background & borders
		
			// Typography
			color: $red;
			// Other

	}
}