// Place all the styles related to the customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#signup {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

	header {
		// Mixins
		@include box_sizing;
		// Box properties
		padding-right: $grid;
		// Background & borders
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		// Typography
	
		// Other
	
		li {
			// Mixins

			// Box properties
			float: right;
			// Background & borders

			// Typography
		
			// Other
		
			a {
				// Mixins
				@include corners;

				// Box properties
				padding: $grid / 4 $grid / 2;
				// Background & borders
				border: 1px solid $white;
				// Typography
				color: white;
				// Other
				
				&:hover {
					// Mixins
				
					// Box properties
				
					// Background & borders
					background-color: $sunnyside;
					// Typography
					// Other
				
				}
			}		
		}
	}

	#index_banner {
		// Mixins
	
		// Box properties
		
		// Background & borders

		// Typography
	
		// Other
	
	}


}

.banner_content {
	// Mixins

	// Box properties


	// Background & borders
	
	// Typography

	// Other
		
	a:not(.button) {
		// Mixins
		@include corners(3px, 3px, 3px, 3px);
		// Box properties
		padding: 0 4px;
		// Background & borders
		background-color: rgba($brand, 1);
		// Typography
		color: white;
		text-decoration: none;

		// Other

		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background-color: rgba($brand_shadow, 1);

			// Typography
			// Other
		
		}
	}
}

.signup_form {
	// Mixins

	// Box properties
	margin: $grid * 1.5 auto $grid;
	width: $grid * 14;
	// Background & borders
	// Typography

	// Other

	.form_row {
		// Mixins
	
		// Box properties
		width: 70%;
		float: left;
	
		// Background & borders
	
		// Typography
	
		// Other

		&.actions {
				// Mixins
			
				// Box properties
				width: 30%;
				float: left;
				// Background & borders
				
				// Typography
			
				// Other
			
			}	
	}

	label {
		// Mixins
		@include no_shadow;

		// Box properties
	
		// Background & borders
	
		// Typography
		font-family: $form_font;
		color: white;
		// Other
	
	}

	select {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background-color: $brand;
		border-color: white;
		// Typography
		color: white;
		// Other
		outline: none;

		&:focus {
			// Mixins
		
			// Box properties
		
			// Background & borders
		
			// Typography
		
			// Other
			outline: none;
		}
	}

	input[type=text] {
		// Mixins
		@include corners(4px, 0, 4px, 0);
		// Box properties
		display: inline-block;
		width: 100%;
		margin: -1px 0 0 0;
		// Background & borders
		background: none;
		border-color: white;
		// Typography
		color: white;
		// Other
	
	}

	#city {
		// Mixins
	
		// Box properties
		width: $grid * 11;
		float: left;
		margin-right: $grid;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	#state {
		// Mixins
	
		// Box properties
		width: $grid * 2;
		float: left;
		// Background & borders
	
		// Typography
		text-align: center;
		// Other
	
	}

	#roof_age {
		// Mixins
	
		// Box properties
		width: $grid * 6;
		float: left;
		margin-right: $grid;
		// Background & borders
	
		// Typography
		// Other
	
	}


	#roof_material {
		// Mixins
	
		// Box properties
		width: $grid * 7;
		float: left;
		// Background & borders
	
		// Typography
		// Other
	
	}


	::-webkit-input-placeholder {
	   color: white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: white;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;  
	}

	:-ms-input-placeholder {  
	   color: white;
	}

	.button {
		// Mixins
		@include corners(0, 4px, 0, 4px);
		// Box properties
		display: inline-block;
		width: 100%;
		clear: none;
		// Background & borders
		border-color: white;
		background: $sunnyside;
		// Typography
		color: white;
		// Other
	
		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background: darken($sunnyside, 10%);
			// Typography
		
			// Other
		
		}
	}

	&.one {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
	
		// Other
		
		.button {
			// Mixins

			// Box properties

			// Background & borders
			border-left: none;

			// Typography

			// Other
		
		}
	}

	&.two {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
	
		// Other
	
		.form_row {
			// Mixins
		
			// Box properties
			width: 100%;
		
			// Background & borders
		
			// Typography
		
			// Other

			&.actions {
					// Mixins
				
					// Box properties
					width: 100%;

					// Background & borders
					
					// Typography
				
					// Other
				
				}	
		}

		input[type=text] {
			// Mixins
			@include corners;
			// Box properties

			margin: 0 0 $grid / 2 0;
			// Background & borders

			// Typography

			// Other
		
		}



		.button {
			// Mixins
			@include corners;
			// Box properties

			// Background & borders

			// Typography

			// Other
		
		}
	}
}