// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dashboard_section {
	// Mixins

	// Box properties

	// Background & borders
	border-top: $border;
	background: $dev_gray;

	// Typography

	// Other

	&:nth-child(even) {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: white;
		// Typography
	
		// Other
	
	}

	.blank_state {
		// Mixins
		@extend .subtext;
		@include object_thumbnail;
		// Box properties
		padding: $grid 0 $grid * 2 0;
		margin-bottom: 0;

		// Background & borders

		// Typography

		// Other

	}

}

.section_body {
	// Mixins

	// Box properties
	width: $desktop;
	margin: 0 auto;
	// Background & borders

	// Typography

	// Other

}

.kpi_chart {
	// Mixins

	// Box properties
	margin-top: -6px;
	margin-bottom: -6px;
	// Background & borders

	// Typography

	// Other

}

#dashboard_kpis {
	// Mixins

	// Box properties
	margin-top: 2px;
	// Background & borders
	border-top: none;
	// Typography

	// Other



	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	.kpi_circle {
		// Mixins
		@include circle_with_text;
		// Box properties
		height: $grid * 2;
		width: $grid * 2;
		margin: 0 auto $grid / 4;
		// Background & borders
		background-color: $brand;
		// Typography
		color: white;
		line-height: $grid / 2;
		font-size: $grid / 2;
		// Other
	
	}

	canvas {
		// Mixins
	
		// Box properties

		// Background & borders
	
		// Typography
	
		// Other
	
	}
}


#dashboard_quotes {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders

	// Typography

	// Other

	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}

#dashboard_team {
	// Mixins

	// Box properties
	padding-bottom: 0;
	// Background & borders

	// Typography

	// Other

	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}

#dashboard_customers {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders

	// Typography

	// Other

}

#dashboard_payments {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders

	// Typography

	// Other

}

#dashboard_pages {
	// Mixins

	// Box properties
	padding-bottom: $grid * 3;

	// Background & borders
	border-bottom: $border;
	// Typography

	// Other

	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
		p {
			// Mixins
		
			// Box properties
			margin-top: 0;
			// Background & borders
		
			// Typography

			// Other
		
		}

	}

}

	.customer_page_kpis {
		// Mixins
	
		// Box properties
		float: left;
		margin-right: $grid;
		// Background & borders
	
		// Typography
		text-align: left;
		// Other
	
	}

	.promoter_page_kpis {
		// Mixins
	
		// Box properties
		float: left;

		// Background & borders
	
		// Typography
		text-align: left;
		// Other
	
	}



.section_content {
	// Mixins

	// Box properties
	overflow: auto;
	clear: both;
	padding: 0 0 0;

	// Background & borders

	// Typography

	// Other

}



.kpi_thumbnail {
	// Mixins
	@include object_thumbnail;
	// Box properties
	// Background & borders

	// Typography

	// Other

}

.blank_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders

	// Typography

	// Other

}

.page_thumbnail {
	// Mixins
	@include object_thumbnail;
	
	// Box properties
	margin-bottom: $grid;
	// Background & borders

	// Typography

	// Other

}

.quote_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties
	// Background & borders

	// Typography

	// Other

}

.quote_requirements {
	// Mixins
	@include corners(50%, 50%, 50%, 50%);
	@include box_sizing;
	// Box properties
	display: inline-block;
	height: $grid * 2;
	width: $grid * 2;
	position: relative;
	padding: 0;
	// Background & borders
	background-color: $ghost;
	// Typography
	color: $whisper;
	font-size: $font_size / 1.35;
	// Other

	span {
		// Mixins
		@include box_sizing;
		// Box properties
		width: 50%;
		height: 50%;
		display: block;
		padding: 0;
		margin: 0;
		float: left;
		position: relative;
		// Background & borders
		border: $border;
		border-color: $dev_gray;
		// Typography
		text-align: center;

		// Other
	


		&:nth-child(1) {
			// Mixins

			// Box properties
			
			// Background & borders
			border-top: none;
			border-left: none;
			
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(100px, 0,0,0);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				right: 5px;
				bottom: 5px;			
				// Background & borders

				// Typography
			
				// Other
			
			}
		}

		&:nth-child(2) {
			// Mixins
		
			// Box properties
			
			// Background & borders
			border-top: none;
			border-right: none;
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(0,100px,0,0);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				left: 5px;
				bottom: 5px;			
				// Background & borders

				// Typography
			
				// Other
			
			}

		}

		&:nth-child(3) {
			// Mixins
		
			// Box properties
			
			// Background & borders
			border-bottom: none;
			border-left: none;
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(0,0,100px,0);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				right: 5px;
				top: 5px;			
				// Background & borders

				// Typography
				font-size: $font_size / 1.4;
				// Other
			
			}

		}

		&:nth-child(4) {
			// Mixins
		
			// Box properties
			
			// Background & borders
			border-bottom: none;
			border-right: none;
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(0,0,0,100px);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				left: 9px;
				top: 5px;			
				// Background & borders

				// Typography
			
				// Other
			
			}
		}
	}
}

.quote_name {
	// Mixins

	// Box properties
	display: block;
	// Background & borders

	// Typography

	// Other

}

.advocate_avatar {
	// Mixins
	@include corners(50%, 50%, 50%, 50%);
	// Box properties
	display: block;
	height: $grid * 2;
	width: $grid * 2;
	margin: 0 auto $grid / 4;
	// Background & borders
	background: $white;
	background-size: cover;
	// Typography

	// Other

}

.team_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders
	// Typography

	// Other

	&:hover {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	&.pending {
		// Mixins
	
		// Box properties
		display: none;
		// Background & borders
	
		// Typography
	
		// Other
	
		&.subtext {
			// Mixins
		
			// Box properties
			display: block;
			margin-bottom: $grid;
			// Background & borders
		
			// Typography
		
			// Other
		
		}
	}

}

.customer_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders
	// Typography

	// Other

}

.payment_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders

	// Typography

	// Other

}

.link_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties
	width: $grid * 8;
	// Background & borders

	// Typography

	// Other

}

.button.new {
	// Mixins
	@include small_title;
	// Box properties

	// Background & borders

	// Typography

	// Other

}



.new_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties
	width: $grid * 8;
	// Background & borders

	// Typography

	// Other

	.placeholder_avatar {
		// Mixins
		@include box_sizing;
		@include corners(50%, 50%, 50%, 50%);
		// Box properties
		display: table;
		height: $grid * 2;
		width: $grid * 2;
		margin: 0 auto $grid / 4;
		// Background & borders

		border: 1px dashed $whisper;
		// Typography
		color: $whisper;
		font-size: $font_size;
		// Other

		span {
			// Mixins
		
			// Box properties
			display: table-cell;
			// Background & borders
		
			// Typography
			vertical-align: middle;
			// Other
		
		}
	}


}

#new_quote_thumbnail {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}

#invite_advocate_thumbnail {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}


.section_notification {
	// Mixins

	// Box properties
	position: relative;
	// Background & borders
	background: $dev_gray;
	border-top: $border;

	// Typography
	font-size: $grid / 2;

	// Other

	&.neutral {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: $neutral;
		// Typography
	
		// Other
	}

	&.positive {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: $positive;
		// Typography
	
		// Other
	
	}

	&.negative {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: $negative;
		// Typography
	
		// Other
	
	}

	a {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: none;
		// Typography
		color: $text;	
		// Other
	

		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background: none;
			// Typography
			color: $brand;
			// Other
		
		}
	}

}

.section_notification:before {
	// Mixins
	// Box properties
	top: -61px;
	left: $grid * 12.5;
	height: 0;
	width: 0;
	position: absolute;
	margin-left: -30px;

	// Background & borders
	border: solid transparent;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $whisper;
	border-width: 30px;
	// Typography

	// Other
	pointer-events: none;
	content: " ";
}

.section_notification:after {
	// Mixins

	// Box properties
	bottom: 100%;
	left: $grid * 12.5;
	height: 0;
	width: 0;
	position: absolute;
	margin-left: -30px;

	// Background & borders
	border: solid transparent;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $dev_gray;
	border-width: 30px;
	// Typography

	// Other
	pointer-events: none;
	content: " ";

}

.section_notification.neutral:after {
	// Mixins

	// Box properties

	// Background & borders
	border-bottom-color: $neutral;
	// Typography

	// Other

}

.section_notification.positive:after {
	// Mixins

	// Box properties

	// Background & borders
	border-bottom-color: $positive;
	// Typography

	// Other

}

.section_notification.negative:after {
	// Mixins

	// Box properties

	// Background & borders
	border-bottom-color: $negative;
	// Typography

	// Other

}

.thumb_row {
	// Mixins
	@include box_sizing;
	// Box properties
	clear: both;
	overflow: auto;
	margin: 0 auto;
	// Background & borders

	// Typography

	// Other

}

.circle_stat {
	// Mixins
	@include circle_with_text;
	// Box properties
	margin: $grid $grid / 2;
	height: $grid * 5;
	width: $grid * 5;
	float: left;
	// Background & borders
	background-color: $brand;
	// Typography
	line-height: $font_size;
	font-size: $grid / 2;
	// Other

	&.blank {
		// Mixins
	
		// Box properties
		width: $grid;
		margin: $grid 0 0;
		// Background & borders
		background: none;
		// Typography
	
		// Other
	
	}

	.icon {
		// Mixins
	
		// Box properties
		
		// Background & borders
	
		// Typography
		font-size: $grid * 2;
		line-height: $line_height / 2;
		// Other
	
	}

}

.object_detail_arrow {
	// Mixins
	// Box properties
	bottom: 100%;
	left: 0;
	height: 0;
	width: 0;
	position: absolute;

	// Background & borders
	border: solid transparent;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: darken($global_progress_color, 14%);
	border-width: 30px;
	// Typography

	// Other
	pointer-events: none;
	content: " ";

}

.drilldown_content {
	// Mixins
	@include box_sizing;
	// Box properties
	height: 100%;
	padding: 0;
	overflow: auto;
	position: relative;
	width: $desktop;
	margin: 0 auto;
	// Background & borders

	// Typography

	// Other

}

.drilldown_content_section {
	// Mixins
	@include box_sizing;
	// Box properties
	float: left;
	overflow: auto;
	padding: 0 0;
	margin:0 0 0 $grid * 10;
	width: $grid * 30;
	height: 100%;
	position: relative;
	// Background & borders
	// Typography

	// Other

	&.summary {
		// Mixins
	
		// Box properties
		width: $grid * 10;
		height: 100%;
		min-height: 100%;
		margin: 0;
		padding: $grid;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		overflow: auto;
		// Background & borders
		border-right: $light_border;
		// Typography
	
		// Other
	
		ul {
			// Mixins
		
			// Box properties
		
			// Background & borders
		
			// Typography
			list-style: none;
			// Other
		
		}
	}

	&.full {
		// Mixins
	
		// Box properties
		float: none;
		margin: 0;
		width: 100%;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	h4 {
		// Mixins
	
		// Box properties
		clear: both;
		margin-bottom: $grid / 2;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	.chart {
		// Mixins
	
		// Box properties
		margin: $grid / 2 0 $grid;
		float: left;
		// Background & borders
	
		// Typography
		text-align: center;
		// Other
		
	}

	form {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
	
		// Other
		
		select {
			// Mixins
		
			// Box properties

			// Background & borders
		
			// Typography
		
			// Other
		
		}

		input {
			// Mixins
		
			// Box properties
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.button {
			// Mixins
		
			// Box properties

			// Background & borders
		
			// Typography
		
			// Other
		
		}
	}

}

.lead_info {
	// Mixins
	@include box_sizing;
	// Box properties
	float: left;
	padding: $grid;
	// Background & borders

	// Typography

	// Other

}

.contact {
	// Mixins
	// Box properties
	width: $grid * 20;
	height: 100%;
	overflow: hidden;
	// Background & borders
	border-right: $light_border;
	// Typography

	// Other

}

.utility {
	// Mixins
	// Box properties
	overflow: hidden;
	width: $grid * 9.5;

	// Background & borders

	// Typography

	// Other

}


// From Rick's internal styles - to be assimalated

	// .lead_info{
	// 	width:auto;
	// 	display:block;
	// 	margin-right:32px;
	// 	float:left;
	// }
	// .lead_info.contact{
	// 	border-right:1px dashed #ccc;
	// 	padding-right:32px;
	// }
	// .lead_info.utility{
	// 	width:100px;
	// 	overflow: hidden;
	// }
	// .lead_info div{
	// 	float:left;
	// }

	// .lead_info input[name~="first_name"],
	// .lead_info input[name~="last_name"]{
	// 	margin-right:10px;
	// 	width:150px;
	// 	float:left;
	// 	display:block;
	// }
	// .lead_info input[name~="email"],
	// .lead_info input[name~="phone"]{
	// 	width:310px;
	// 	display:block;
	// 	clear:both;}
	// .lead_info input[name~="address.street"],		
	// .lead_info input[name~="address.state"]{
	// 	width:200px;
	// 	margin-right:10px;
	// 	float:left;}
	// .lead_info input[name~="utility.kwh"],
	// .lead_info input[name~="address.unit"],
	// .lead_info input[name~="address.zip"]{
	// 	width:100px;
	// 	float:left;}


.drilldown {
	// Mixins
	@include box_sizing;
	@include gradient(darken($global_progress_color, 14%), darken($global_progress_color, 10%), darken($global_progress_color, 6%));

	// Box properties
	height:0px;	
	width: 100%;
	left: 0;	
	position: relative;
	// Background & borders
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;

	// Typography
	text-align: left;
	color: #f9f2e8;
	// Other

}
	.arrow{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 20px 20px 20px;
		border-color: transparent transparent #535353 transparent;
		position:absolute;
		top:0px;
		left:0;
	}
	.team_info{
		position:relative;
		height:256px;
		overflow:hidden;
	}
	.pagination_container{
		height:256px;
		width:1024px; /*contains 4 thumbs */
		overflow:hidden;
		position:relative;}
		.pagination_container .nav{
			z-index: 90;
			padding:10px;
			position:absolute;
			top:50px;}
		.pagination_container .nav.left{
			left:10px;}
		.pagination_container .nav.right{
			right:10px;}

	.pagination_content{
		height:250px;
		width:auto;
		overflow:hidden;
		position:absolute;
		left:0;
		top:0;
	}
	.team_thumbnail{
		z-index:20;
	}
	.object_detail{
		background: none;
	}

