$dashboard-font-family: "Muli", "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;
$kpi-text-color: #888;

// div {
//   border: 1px solid red;
// }

.powur-dashboard {
  padding-bottom: 210px;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Locked Section

  /*
  A note on z-indexes for social media quote / locked dashboard overlay:
  .locked (z=99)
  .social-media-section .bg (z=100)
  .social-media-section.quote (z=101)
  */

  .locked {
    z-index: 99;
    position: relative;
  }

  .locked:after {
    z-index: 99;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: -210px;
    background: rgba(0,0,0,0.5);
  }

  /*
  SHARED STYLES
  */

  // Typography
  h1, h2, h3, h4, h5, h6, p, span {
    font-family: $dashboard-font-family;
  }

  // Selects
  select.sort {
    height: 62px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 8px 16px;

    background-color: #fff;
    background-image: image-url('select_arrow.svg') ;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    font-family: $dashboard-font-family;
    font-size: 10pt;
    line-height: 16px;
    text-transform: uppercase;
    color: #aaa;

    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover {
      border-color: #e5e5e5;
    }

    &:focus {
      outline: none;
    }
  }

  select::-ms-expand {
    display: none;
  }

  // Drilldowns
  .fade-in-section {
    opacity: 0;
    display: block !important;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
    transition: opacity .2s;
  }

  .opaque {
     opacity: 1;
  }

  .drilldown {
    position: relative;
    background-color: #444;
    color: #F9F2E8;
    overflow: hidden;
    background-color: #444;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;

    // &.active {
    //   background-color: #444;
    //   height: 2000px;
    //   @media #{$small} {
    //     height:1000px;
    //   }
    // }

    .summary {
      text-align: left;
      min-height: 465px;
      padding: 0.9375em 15px;
      border-bottom: 1px solid #9b9b9b;
      border-right: 0;
      color: #9b9b9b;

      h1 {
        font-size: 16pt;
        color: #fff;
      }
    }

    .form {
      form {
        fieldset {
          border: 0;
          .row {
            .columns {
              padding: 0 4px;
            }
          }
          legend {
            background-color: initial;
            color: #fff;
            font-family: $dashboard-font-family;
            font-size: 16pt;
          }
        }
        input {
          background-color: rgba(0,0,0,0.06);
          border: 1px solid rgba(0,0,0,0.2);
          color: white;
          outline: none;
          border-radius: 4px;
          padding: 24px 10px 8px;
          height: 60px;
          font-family: $dashboard-font-family;
          font-size: 16pt;
          &:focus {
            background-color: rgba(0,0,0,0.2);
            border: 1px solid rgba(0,0,0,0.2);
          }
          &:disabled {
            color: #666
          }
        }
        select {
          background-color: rgba(0,0,0,0.06);
          border: 1px solid rgba(0,0,0,0.2);
          border-radius: 4px;
          height: 60px;
          padding: 24px 10px 8px;
          outline: none;

          background-image: image-url('select_arrow.svg') ;
          background-position: right center;
          background-repeat: no-repeat;
          background-size: 40px 40px;

          color: white;
          font-family: $dashboard-font-family;
          font-size: 16pt;
          line-height: 18pt;

          -moz-appearance: none;
          -webkit-appearance: none;

          &:focus {
            background-color: rgba(0,0,0,0.2);
            border: 1px solid rgba(0,0,0,0.2);
          }
          &:disabled {
            color: #666;
          }
        }
        label {
          position: absolute;
          top: 8px;
          left: 14px;
          color: #9b9b9b;
          font-family: $dashboard-font-family;
          text-transform: uppercase;
          font-size: 10pt;
          cursor: default;
        }
      }
    }
  }

  // Responsive Styles for Drilldown
  @media #{$small} {
    .drilldown {
      .summary {
        // position: absolute;
        border-right: 1px solid #555;
        border-bottom: 0;
        text-align: center;
      }
    }
  }

  // Buttons
  .button {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: $pow-color-blue;
    font-family: $dashboard-font-family;
    text-transform: uppercase;
    &:disabled {
      background-color: rgba(0,0,0,0.08);
      &:hover {
        background-color: rgba(0,0,0,0.08);
      }
    }
    &:hover {
      background-color: lighten($pow-color-blue, 20%);
    }
    &.solarcity:hover {
      background-color: $pow-color-green;
    }
    &.secondary {
      color: #9b9b9b;
      background-color: rgba(0,0,0,0.08);
      border: 1px solid rgba(0,0,0,0.2);
      &:hover {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }

  // Inputs
  input[type=search] {
    height: 62px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 8px 16px;
    padding-left: 30px;

    font-family: $dashboard-font-family;
    font-size: 10pt;
    line-height: 16px;

    background-color: #fff;
    background-image: image-url('search.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

  // Search Field "Go" Button
  .search {
    &.button {
      height: 62px;
      border-radius: 0px;
      border: 1px solid #e5e5e5;
      background-color: #efefef;

      font-family: $dashboard-font-family;
      font-size: 10pt;
      line-height: 62px;
      color: #aaa;
      text-transform: uppercase;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }

  // Section Labels
  .section-label {
    height: 62px;
    width: 100%;
    background: #fff;
    margin: 0 0 1em 0;

    div.tag {
      background:$pow-color-blue;
      width: 62px;
      height: 62px;
      float: left;

      img {
        padding: 25% 25%;
      }

    }

    div.text{
      border: 1px solid #e5e5e5;
      height: 62px;
      overflow: hidden;
      padding-left: 10px;

      font-family: $dashboard-font-family;
      color: #333;
      font-size: 10pt;
      line-height: 62px;
      text-transform: uppercase;
    }
  }

  // Carousels
  .carousel-container {
    position: relative;
    height: 220px;
    border-left: 0;
    overflow: hidden;

    .owl-carousel {

      .owl-item {
        height: 220px;
        border-left: 1px solid #e5e5e5;
        background-color: #fff;
        &:last-of-type {
          border-right: 1px solid #e5e5e5;
        }
      }

      &.empty {
        display: block;
        height: 100%;
      }

      .empty-state {
        position: relative;
        text-align: center;
        height: 100%;
        border-left: 1px solid #e5e5e5;

        .empty-text {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.downline {
        .owl-item {
          border-left: 1px solid #555 !important;
          background-color: #444;

          &:last-of-type {
            border-right: 1px solid #555 !important;
          }
        }
      }
    }
  }


  // Owl Carousel Arrow Overrides
  .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    opacity: 1;
    margin: 0;
  }
  .owl-prev, .owl-next {
    height: 24px;
    width: 24px;
    top: 0;
    transition: all .1s linear;
    &:hover {
      // OVERRIDE OWL-THEME
      background-color: #555 !important;
      color: #fff !important;
      //
    }
  }
  .owl-prev {
    left: -2px;
    // OVERRIDE OWL-THEME
    padding: 92px 24px 128px 8px !important;
    //
  }
  .owl-next {
    right: 0;
   // OVERRIDE OWL-THEME
   padding: 92px 23px 128px 6px !important;
   //
  }
  .owl-prev:before, .owl-next:before {
    color: #aaa;
    font-family: "FontAwesome";
    font-size: 24px;
    text-align: center;
  }
  .owl-prev:before {
    content: "\f053"; // Unicode for fa-chevron-left
  }
  .owl-next:before {
    content: "\f054"; // Unicode for fa-chevron-right
  }
  // OVERRIDE OWL-THEME
  .owl-item.loading{
    min-height: 150px;
    background: image-url('dashboard/AjaxLoader.gif') no-repeat center center
  }


  // Shared Carousel Item Styles
  .new-proposal, .proposal,
  .new-team-member, .team-member, .team-member-info-large,
  .new-invite, .invite {
    background-color: #fff;
    color: #555;
    height: 220px;

    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    -ms-transition: background-color .1s;
    transition: background-color .1s;

    &.active {
      background-color: #444;
      color: #fff;
      border-bottom: 1px solid #555;
    }

    &.downline {
      background: #444;
      color: #fff;
    }

    &.even {
      background: #333 !important;
    }

    .icon {
      top: 25%;
      position: relative;
      text-align: center;
    }
    .info-text {
      font-family: $dashboard-font-family;
      position: relative;
      top: 35%;
      text-align: center;
      line-height: 18pt;
      font-size: 16pt;
    }
    // For Proposal Items
    .status-icon {
      top: 18%;
      position: relative;
      text-align: center;
    }
    .status-text {
      font-family: $dashboard-font-family;
      position: relative;
      top: 22%;
      text-align: center;
      line-height: 10pt;
      font-size: 8pt;
      text-transform: uppercase;
      color: #9b9b9b;
    }
    .customer-name {
      font-family: $dashboard-font-family;
      position: relative;
      top: 25%;
      text-align: center;
      line-height: 18pt;
      font-size: 16pt;
    }
    .date-text {
      font-family: $dashboard-font-family;
      position: relative;
      top: 25%;
      text-align: center;
      line-height: 10pt;
      font-size: 8pt;
      text-transform: uppercase;
      color: #9b9b9b;
    }
  }

  // Special Auxiliary Classes for Carousel Sections
  .w20percent {
    width: 20%;
    float: left;
  }

  .w25percent {
    width: 33%;
    float: left;
  }

  .w80percent {
    width: 80%;
    float: left;
  }
  .no-border {
    border: 0;
  }
  .no-padding {
    padding: 0;
  }

  // Horizontal Lines / Spacing Between Sections
  .kpi-section:before,
  .customers-section:before,
  .team-section:before {
    content: '';
    display: block;
    margin: auto;
    height: 0px;
    width: inherit;
    margin: 30px 0 70px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  }

  /*
  WELCOME SECTION
  */
  .welcome-section {
    min-height: 600px;

    // Background
    &.bg {
      background-image: image-url('dandelions.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      background-position: center 25%;
      left: 0;
      right: 0;
    }

    // Typography
    h1, h2, h3, h4, h5, h6, p, span {
      color: #fff;
      font-weight: 700;
    }

    .welcome-message {
      padding-top: 100px;

      .avatar {
        width:128px;
        height: auto;
        border-radius: 50%;
      }
    }

    .pay-period-goals {
      margin-top: 40px;
      padding-right: 20px;

      // Progress Bars
      // (from http://blog.eyecuelab.com/2015/03/18/progress-bars-with-css-tooltips/)
      .progress-bar-box {
        position: relative;
        margin: 40px 0 0 8px;

        &.large {
          margin: 60px 0 0 8px;
        }

        a div {
          margin-top: 10px;
        }

        .progress-bar {
          position: relative;
          display: block;
          width: 100%;
          height: 15px;
          margin-bottom: 2px;
          background: #ccc;
          font-size: 10pt;
          line-height: 11pt;
          border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

          // &.above {
          //   margin: 50px 0px 5px 8px;
          // }

          // &.below {
          //   margin: 5px 0px 30px 8px;
          // }
          &.half {
            height: 20px;
            margin-bottom: 7px;
            font-size: 11pt;
            line-height: 14pt;
          }
          &.full {
            height: 25px;
            top: 3px;
            font-size: 14pt;
            line-height: 18pt;
          }

          .progress-text {
            position: absolute;
            text-transform: uppercase;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 99;
            display: none;
          }
        }

        .bar {
          position: absolute;
          display: block;
          height: 100%;
          border-radius: 3px;
          transition: all .3s ease-in;
          -webkit-transition:  all .3s ease-in;
          -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
          &.hold {
            width: 0% !important;
          }
          &.green {
            background: rgb(0,204,84); /* Old browsers */
            background: -moz-linear-gradient(left,  rgba(0,204,84,1) 0%, rgba(104,204,144,1) 100%, rgba(85,204,133,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,204,84,1)), color-stop(100%,rgba(104,204,144,1)), color-stop(100%,rgba(85,204,133,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  rgba(0,204,84,1) 0%,rgba(104,204,144,1) 100%,rgba(85,204,133,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  rgba(0,204,84,1) 0%,rgba(104,204,144,1) 100%,rgba(85,204,133,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  rgba(0,204,84,1) 0%,rgba(104,204,144,1) 100%,rgba(85,204,133,1) 100%); /* IE10+ */
            background: linear-gradient(to right,  rgba(0,204,84,1) 0%,rgba(104,204,144,1) 100%,rgba(85,204,133,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cc54', endColorstr='#55cc85',GradientType=1 ); /* IE6-9 */
          }
          &.orange {
           background: rgb(255,191,0); /* Old browsers */
           background: -moz-linear-gradient(left,  rgba(255,191,0,1) 0%, rgba(255,207,86,1) 100%); /* FF3.6+ */
           background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,191,0,1)), color-stop(100%,rgba(255,207,86,1))); /* Chrome,Safari4+ */
           background: -webkit-linear-gradient(left,  rgba(255,191,0,1) 0%,rgba(255,207,86,1) 100%); /* Chrome10+,Safari5.1+ */
           background: -o-linear-gradient(left,  rgba(255,191,0,1) 0%,rgba(255,207,86,1) 100%); /* Opera 11.10+ */
           background: -ms-linear-gradient(left,  rgba(255,191,0,1) 0%,rgba(255,207,86,1) 100%); /* IE10+ */
           background: linear-gradient(to right,  rgba(255,191,0,1) 0%,rgba(255,207,86,1) 100%); /* W3C */
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#ffcf56',GradientType=1 ); /* IE6-9 */

          }
          &.blue {
            background: $pow-color-blue;
          }
        }

        .label {
          position: absolute;
          display: block;
          padding: 5px 10px;
          height: 40px;
          line-height: 30px;
          top: 30px;
          background: #111;
          font-size: 12pt;
          font-family: $dashboard-font-family;
          text-align: center;
          color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 6px;
          white-space: nowrap;
          opacity: 0;

          // &.above {
          //   top: -50px;
          // }

          // &.below {
          //   top: 30px;
          // }
        }
      }

      // Arrows
      .bar {
        span:after {
          transition : all .5s linear;
          position: absolute;
          display: none;
          content:"";
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          background: rgba(0, 0, 0, 1);
          right: 0%;
        }

        &.label-is-below {
          span:after {
            top: 15px;
          }
        }

        &.label-is-above {
          span:after {
            bottom: 15px;
          }
        }
      }

      .legend {
        padding: 8px 0;

        .legend-item {
          margin: 0 0 5px 10px;
          display: block;
          float: left;

          span {
            line-height: 16pt;
            font-size: 10pt;
            text-transform: uppercase;
          }

          .legend-key {
            height: 20px;
            width: 20px;
            margin: 3px 10px 0 0;
            float: left;

            &.personal {
              background-color: $pow-color-orange;
            }

            &.group {
              background-color: $pow-color-blue;
            }

            &.course {
              background-color: $pow-color-green;
            }
          }
        }
      }

      div.badge {
        width: 100%;
        height: 0;
        position: relative;
      }

      img.badge {
        z-index: 50;
        position: absolute;
        right: -80px;
        bottom: -80px;
        width: 118px;
        height: 109px;

        &.half {
          bottom: -75px;
        }

        &.full {
          bottom: -70px;
        }
      }

      .course-requirement-message {
        display: block;
        margin-top: 20px;
        max-width: 93%;
        margin-left: 8px;
      }
    }

    .news {

      span.latest-news-label {
        font-size: 14pt;
        color: #fff;
      }

      .notifications {
        margin-top: 20px;
        height: 400px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;


        .notification {
          padding-top: 10px;
          margin: 5px;
          p.text {
            color: #fff;
            font-size: 12pt;
            text-align: left;
            line-height: 15pt;
            margin-right: 20px;
            margin-bottom: 10px;
          }
          span.date {
            font-size: 10pt;
            color: #aaa;
            text-align: left;
            margin-top: 0px;
          }
        }

        .load-more {
          position: relative;
          width: 120px;
          margin: auto;
          display: block;
          font-size: 10pt;
          height: 30px;
          background: rgba(0,0,0,0.3);
          text-align: center;
          line-height: 30px;
          color: #fff;
        }

      }
      .notifications::-webkit-scrollbar {
        width: 8px;
      }

      .notifications::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.2);
      }

      .notifications::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.4);
      }
    }

    // Responsive Styles For News Section:

    // (Styles when news renders below Welcome Section on small screens)
    .news {
      margin-top: 50px;
      padding-top: 30px;
      background-color: #222;
    }

    // (Styles when news renders within Welcome Section on medium/large screens)
    @media #{$small} {
      .news {
        margin-top: 0;
        padding: 125px 5px 0 0;
        background-color: initial;
      }
    }

  }

  // FOR BETA
  /*
  Powur Beta Dashboard Overview Video
  */

  .dashboard-video-link-section {
    height: 0;
    position: relative;
    top: -40px;
    left: 20px;

    // Tooltip Overrides
    span {
      border-bottom: none;
      a {
        color: #fff;
      }
    }
  }


  /*
  SOCIAL MEDIA SECTION
  */
  .social-media-section {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #333;

    &.bg {
      z-index: 100; // (added to put text/gray bg on top of .locked overlays)
      position: absolute;
      left: 0;
      right: 0;
      height: 180px;
      background-color: #333;
    }
    .quote {
      z-index: 101; // (added to put text/gray bg on top of .locked overlays)

      .share-this {
        padding-top: 20px;

        .title {
          text-align: left;
          text-transform: uppercase;
          font-size: 10pt;
          color: #fff;
          display: block;
          float: left;
          margin-right: 10px;
          line-height: 15pt;
        }

        .twitter-share-button, .fb-share-button {
          display: block;
          float: left;
          margin-right: 10px;

          span {
            vertical-align: top !important;
          }
        }
      }

      .quote-text {
        text-align: left;
        color: #fff;
        font-size: 16pt;
        line-height: 20pt;
      }
    }

  }
  // Responsive Styles for Social Media Section:

  // Gray background sometimes shows below the .bg div when quote is two lines long; this prevents that:
  @media #{$medium} {
    .social-media-section {
      background-color: initial;
    }
  }

  /*
  KPI SECTION
  */
  .kpi-section {
    padding-top: 20px;
    margin-bottom:50px;

    .sk-spinner-three-bounce.sk-spinner {
      position: absolute;
      right: 50%;
      top: 150px;
      z-index: 1;
    }

    .badge {
      z-index: 99;
      height: 100px;
      margin: -15px auto 10px auto;
      @media #{$large} {
        margin: -30px auto 10px auto;
      }
    }

    //TEMPORARY
    .beta-filler {
      background: #444;
      color: #fff;
      &.even {
        background: #333;
      }
    }

    .tab-header-row {
      text-align: center;
      border: 1px solid #e5e5e5;
      border-bottom: 0;
      &:last-child {
        border-right: 0px;
      }

      .kpi-tab {
        background-color: #fff;
        height: 160px;
        position: relative;
        @media #{$small} {
          height: 220px;
        }
        width: 20%;
        float: left;
        cursor: pointer;
        display: inline-block;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        color: #555;

        //TEMP
        &.inactive {
          color: #c5c5c5;
        }

        &.active {
          background-color: #444;
          color: #fff;
          border-bottom: 1px solid #555;
        }

        .kpi-info-box {
          margin-top: 25%;

          .kpi-count {
            display: block;
            line-height:60pt;
            text-transform: uppercase;
            .unit {
              line-height: 12pt;
              font-size: 12pt;
            }
          }

          //TEMP
          .temp-box {
            margin: 0 auto;
            width: 80%;
            margin-top: 90px;

            img {
              float: left;
              margin-right: 10px;
              margin-top: -5px;
              display: none;
              @media screen and (min-width: 1213px) {
                display: block;
              }
            }

            span {
              float: none;
              @media screen and (min-width: 1213px) {
                float: left;
              }
            }
          }
          //

          .kpi-header {
            position: absolute;
            left: 0;
            right: 0;
            top: 65%;
            font-size: 12pt;
            @media #{$medium} {
              font-size: 16pt;
            }
          }

          .empty-info {
            display: block;
            font-size: 1em;
            line-height: 1.2em;
            padding: 0 1em;
            text-align: left;

            a {
              color: #20c2f1;
            }
          }
        }
      }
    }

    .kpi-drilldown {
      height: 0px;
      clear: both;
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
      user-select: none;
      -webkit-transition: height .3s;
      -moz-transition: height .3s;
      -o-transition: height .3s;
      -ms-transition: height .3s;
      transition: height .3s;
      &.active {
        height: 690px;
        @media #{$small} {
          height: 525px;
        }
      }

      * {
        color:#F9F2E8;
      }

      .squeezed-center {
        display: inline-block;
        margin: 10%;
        text-align: center;
      }

      .kpi-detail {
        color: #F9F2E8;
        line-height: 15pt;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.invert {
          color: #333;
        }
        &.link {
          cursor: pointer;
          color: $pow-color-blue;
        }
      }

      /*
      RANK SECTION
      */
      .rank-section {
        .header-row {
          padding: 20px 20px;
          background-color: #333;
        }
      }

      /*
      CONVERSION SECTION
      */
      .conversion-section {
        height:100%;

        canvas{
            width: 100% !important;
            min-height:378px;
            max-height:378px;
        }

        .columns {
          background-color: #444;

          &.full-column {
            height: 690px;
            @media #{$small} {
              height:525px;
            }
          }

          &.empty-column {
            padding: 2em;
            text-align: left;
          }
        }

        .right-part {
          padding: 0px;
        }

        //TEMP
        h2, h4 {
          color: #F9F2E8;
        }
        //

        .user-column {
          background-color: #333;
          text-align:center;
          position:relative;

          .avatar-medium {
            height: 60px; width: 60px;
            border-radius: 50%;
            margin: 0 auto;
          }
          .avatar-small {
            height: 35px; width: 35px;
            display: none;
            margin-left: 7px;
            border-radius: 50%;
            @media only screen and (min-width : 850px) {
              display: block;
            }
            @media #{$medium} {
              height: 40px; width: 40px;
            }
          }

          .header-row {
            padding: 10px 0px;
          }

          .performer-row {
            background-color: #eee;
            padding: 7px 0px;
          }

          .user-contributor {
            background-color: #555;
            cursor: pointer;
            transition: .3s linear;
            &.active {
              background-color: #282828;
            }
          }

          .current-user-row {
            padding-top: 10px;
          }

          .contributors-box {
            overflow: hidden;
            height: 275px;

            .contributor {
              clear: both;
              background-color: #555;
              height: 67px;
              margin: 2px 0;
              padding: 13px 13px 13px 5px;
              font-size: 9pt;
              cursor: pointer;
              transition: .3s linear;
              @media #{$medium} {
                padding: 13px;
                font-size:11pt;
              }
              &.active {
                background-color: #282828;
              }

              .info-box {
                text-align: left;
                margin-left: 5px;
                max-width: 70%;
                @media #{$small} {
                  margin-left: 10px;
                }
              }
            }
          }

          .user-nav {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;

            .fa {
              color: #777;
              font-size: 23pt;
              margin: 3px 20px;
              cursor: pointer;
              &.active {
                color: #F9F2E8;
              }
            }
          }
        }
        .chart-column {
          padding: 25px 30px 20px 30px;
          @media #{$small} {
            padding: 25px 30px 0px 35px;
          }

          .legend {
            height: 20px; width: 25px;
            margin-right: 7px;
            &.primary {
              background-color: $pow-color-blue;
            }
            &.secondary {
              margin-left: 20px;
              background-color: $pow-color-orange;
            }
          }

          .chart-box {
            height: 365px;
            margin-top: 30px;
            width:105%;
            margin-left:-10px;
            padding: 0 15px;
            @media #{$small} {
              padding: 0 5px;
              margin-left:0px;
              width:100%;
            }
          }

          .time-nav {
            user-select: none;
            text-align: center;
            margin-top: 15px;
            left: 45%;
            color: #fff;

            .fa {
              margin: 0 15px;
              font-size: 15pt;
              cursor: pointer;
            }
          }

          .time-scale {
            position:relative;
            display:block;
            margin-top:45px;
            @media #{$small} {
              margin-top:0;
              position: absolute;
              right: 20px;
            }


            .scale-detail {
              background: none;
              color: #e5e5e5;
              transition: all .5s;
              border: 1px solid #e5e5e5;
              padding: 10px 15px;
              font-size:10pt;
              cursor: pointer;
              &.active {
                background-color: #e5e5e5;
                color:#444;
              }
            }
          }
        }

        .stats-column {
          background-color: #333;
          padding-bottom: 25px;
          // margin-top: 20px;
          text-align: center;
          @media #{$small} {
            padding-bottom: 0px;
            // margin-top: 0px;
            text-align: left;
            background-color: #444;
          }

          .stats-title {
            margin: 25px 0 0 0;
            font-size:13pt;
            display:block;
            @media #{$small} {
              font-size:15pt;
              margin: 37px 0 0 15px;
            }
          }
          .stats-box {
            margin-top: 20px;
            background-color: #333;
            @media #{$small} {
              background-color: #444;
            }
            .stats-detail {
              color: #e5e5e5;
              display: block;
              font-size: 12pt;
              line-height: 13pt;
              @media #{$small} {
                font-size: 11pt;
                line-height: 15pt;
              }
              @media #{$medium} {
                font-size: 13pt;
                line-height: 20pt;
              }
            }
          }

        }
      }

      .mobile-users-row {
        height: 150px;
        width: 100%;
        background-color: #333;
        z-index: 2;

        .fa {
          position: absolute;
          color: #777;
          font-size: 23pt;
          top: 40%;
        }
        .fa-caret-right {
          right: 15px;
        }
        .fa-caret-left {
          left: 15px;
        }
      }
    }
  }

  /*
  CUSTOMERS SECTION
  */
  .customers-section {
    padding-bottom: 20px;

    .drilldown {
      max-height: 0px;
      -webkit-transition: max-height .4s, opacity .2s;
      -moz-transition: max-height .4s, opacity .2s;
      -o-transition: max-height .4s, opacity .2s;
      -ms-transition: max-height .4s, opacity .2s;
      transition: max-height .4s, opacity .2s;
      &.active {
        max-height: 2000px;
        @media #{$small} {
          max-height: 900px;
        }
        @media #{$large} {
          max-height: 700px;
        }

      }
    }

    // Customer Information on Submitted Proposals
    .submitted-proposal {
      position: relative;
      border-radius: 4px;
      color: #fff;
      background-color: rgba(0,0,0,0.08);
      border: 1px solid #333;
      padding-top: 32px;

      p {
        color: #ccc;
        margin-bottom: 0px;
      }

      div.customer-info {
        .name {
          font-size: 24pt;
          line-height: 36pt;
        }
        .email {
          font-size: 12pt;
          line-height: 24pt;
          a {
            color: #12C2FD;
            &:hover {
              color: #fff;
            }
          }
        }
        .phone {
          font-size: 12pt;
          line-height: 12pt;
        }
        .address,
        .city-state-zip {
          font-size: 14pt;
          line-height: 18pt;
        }
      }

      div.proposal-product-field {
        position: relative;
        width: 100%;

        .label {
          color: #ccc;
          font-family: $dashboard-font-family;
          text-transform: uppercase;
          font-size: 10pt;
          background-color: initial;
          padding: 0;
        }

        .value {
          font-size: 14pt;
          line-height: 18pt;
        }

      }
    }
    .lead-update {
      background-color: rgba(0,0,0,0.08);
      border-radius: 4px;
      border: 1px solid #333;
      position: relative;
      overflow-y: auto;
      max-height: 340px;

      p {
        color: #ccc;
      }

      div.status,
      div.details,
      div.solarcity-status {
        font-size: 18pt;
        line-height: 20pt;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #333;
        margin-top: 15px;
        position: relative;

        p {
          color: #ccc;
          font-size: 12pt;
          line-height: 18pt;
          margin-bottom: 0;
        }

        p:first-of-type {
          margin-top: 20px;
        }

      }
    }
    // Scroll Bars for Lead Updates Panel
    .lead-update::-webkit-scrollbar {
      width: 8px;
    }

    .lead-update::-webkit-scrollbar-track {
      background: rgba(0,0,0,0.2);
    }

    .lead-update::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.4);
    }
    // /Scroll Bars

    .carousel-box {
      border: 1px solid #e5e5e5;
      margin-bottom: -2px;
    }

    .new-proposal {
      // border: 1px solid #e5e5e5;
      border-right: 0;
    }
  }

  /*
  TEAM SECTION
  */
  .team-section {

    .kpi-section {
      padding-top: 0px;
      margin-bottom: 0px;
      &:before {
        margin: 0px;
        padding: 0px;
      }

      //TEMPORARY
      .beta-filler {
        text-align: center;
        margin-bottom: 0px;
        background: #444;
        color: #fff;
        font-size:16pt;
        line-height: 200px;
        &.even {
          background: #333;
        }
      }
    }

    .search-form {
      transition: opacity .3s linear;
      -webkit-transition: opacity .3s linear;
      &.fade {
        opacity: 0;
      }
    }

    .info-row {
      text-align: center;
      background-image:  image-url("city-dark.jpg");
      background-position: left 0;
      background-repeat: no-repeat;
      background-size: cover;

      .icon-container {
        margin: 10px;
      }
    }

    .carousel-box {
      border: 1px solid #e5e5e5;
      margin-bottom: -1px;

      .avatar {
        position: relative;
        top: 20%;
        text-align: center;
        img {
          width: 80px;
          margin: 0 auto;
          border-radius: 55px;
        }
      }

      .info-text.user-text {
        top: 25%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 85%;
        margin: 0 auto;
      }

      .team-tabs {
        position: absolute;
        width: 92%;
        bottom: -45px;
        left: 4%;
        z-index: 5;

        .team-tab {
          width: 31%;
          height: 50px;
          padding-top: 10px;
          margin-right: 1.75%;
          text-align: center;
          float: left;
          text-transform: uppercase;
          font-size: 12pt;
          color: #eee;
          padding: 5px 0px;
          cursor: pointer;
          transition: transform 0.4s ease, background-color 0.4s ease;
          -webkit-transition: -webkit-transform 0.4s ease, background-color 0.4s ease;

          &.raise {
            -ms-transform: translate(0 , -30px); /* IE 9 */
            -webkit-transform: translate(0 , -30px); /* Safari */
            transform: translate(0 , -30px);
          }

          &.downline {
            background-color: #1F434F;
            &:hover {
              background-color: #062730
            }
          }
          &.impact {
            background-color: #326C7F;
            &:hover {
              background-color: #275563;
            }
          }
          &.info {
            background-color: #4BA1BF;
            &:hover {
              background-color: #408AA3;
            }
          }

          &.active-tab {
            &.odd {
                background: #333 !important;
            }

            &.even {
                background: #444 !important;
            }
          }

          &.active-tab.info {
            background-image:  image-url("city-dark.jpg") !important;
            background-position: top right;
            background-repeat: no-repeat;
          }

          &.half {
            width: 48%;
          }
        }
      }

      &.even {
        .downline {
          .owl-item {
            border-left: 1px solid #444 !important;
            background-color: #333;

            &:last-of-type {
              border-right: 1px solid #444 !important;
            }
          }
        }
      }
    }

    .downline-row {
      height: 0px;
      background-color: #444;
      width: 100%;
      overflow: hidden;
      -webkit-transition: height .2s;
      -moz-transition: height .2s;
      -o-transition: height .2s;
      -ms-transition: height .2s;
      transition: height .2s;
      float: left;
      border: 0px;
      margin-bottom: 0px;

      &.expand {
        height: 220px;

        &.info-row {
          height: 230px;
        }
      }

      &.even {
        background-color: #333;
      }
    }

    .new-team-member {
      // border: 1px solid #e5e5e5;
      border-right: 0;

      &.beta {
        background: #f8f8f8;
        color: #c7c7c7;
      }
    }

    .invite,
    .team-member-info-large {
      background-color: transparent;
      color: #fff;

      // border-left: 1px solid #555;
      // &:first-of-type {
      //   border: 0;
      // }
      // &.even {
      //   border-left: 1px solid #444;
      // }
    }

    // "Team Member Show" Styles for Large Screens
    .team-member-info-large {
      text-align: center;

      .top-label {
        text-transform: uppercase;
        top: 15%;
        position: relative;
        display:block;
      }

      .generation {
        position: relative;
        top: 10%;
        font-size: 80pt;
        font-weight: 200;
      }

      .team-member-name {
        position: relative;
        top: 25%;
        font-size: 16pt;
        line-height: 18pt;
      }

      .info-text {
        line-height: 32px;

        &.email-text {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .email {
          font-size: 12pt;
          text-transform: uppercase;
          a {
            color: #fff;
            &:hover {
              color: #0a7fa1;
            }
          }
        }

        .disabled {
          color: #888;
        }
      }

      .social-media {
        padding: 0 20%;

        .bottom-part {
          margin-top: 20px;
          @media #{$medium} {
            margin-top: 0px;
          }
        }
        a {
          color: #fff;
        }
        i {
          border-radius: 15px;
          line-height: 32px;
          transition: background-color .3s linear;
          &.fa-facebook {
            background-color: #3b5998;
            &:hover {
              background-color: #4264AB;
            }
          }
          &.fa-twitter {
            background-color: #50acee;
            &:hover {
              background-color: #6FBDFB;
            }
          }
          &.alternate {
            color: #fff;
            border-radius: 50%;
            font-size: 30pt;
            width: 60px;
            height: 60px;
            line-height: 60px;
            margin-bottom: -4px;
          }
          &.disabled {
            background-color: #555;
            color: #ddd;
            &:hover {
              cursor: default;
              background-color: #555;
              color: #ddd;
            }
          }
          &:hover {
            background-color: #000;
          }
        }

        .info-text {
          display: block;
          padding-top: 20px;
        }
      }

      .info-label {
        font-family: $dashboard-font-family;
        position: relative;
        top: 36%;
        text-align: center;
        line-height: 10pt;
        font-size: 8pt;
        text-transform: uppercase;
        color: #9b9b9b;
      }
    }

    // "Team Member Show" Styles for Medium/Small Screens
    .team-member-info-medium {
      position: relative;
      padding: 60px 0;
      background-color: #444;

      .left-side {
        position: relative;
        text-align: center;

        .avatar {
          position: relative;
          top: 15%;
          img {
            height: 150px;
            width: auto;
            border-radius: 75px;
          }
        }
      }
      .right-side {
        color: #fff;
        text-align: center;

        @media #{$medium} {
          text-align: left;
        }
        .name {
          font-size: 18pt;
          line-height: 24pt;
        }
        .generation {
          font-size: 12pt;
          line-height: 14pt;
        }
        .email, .phone {
          font-size: 14pt;
          line-height: 30pt;
          i {
            text-align: center;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            line-height: 32px;
            background-color: #fff;
            color: #444;
          }
          a {
            color: #fff;
            &:hover {
              color: #0a7fa1;
            }
          }
        }
        .social-media {
          text-align: center;
          line-height: 30pt;
          a {
            color: #fff;
          }
          i {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            line-height: 32px;
            &.fa-facebook {
              background-color: #3b5998;
            }
            &.fa-twitter {
              background-color: #50acee;
            }
            &.disabled {
              background-color: #555;
              color: #444;
              &:hover {
                cursor: default;
                background-color: #555;
                color: #444;
              }
            }
            &:hover {
              background-color: #000;
            }
          }
        }
      }
    }

    // Invites

    .invites-summary {
      background-color: #444;
      height: 220px;
      color: #fff;
      font-family: $dashboard-font-family;
      text-align: center;

      .number {
        position: relative;
        top: 35%;
        line-height: 40pt;
        font-size: 36pt;
      }
      .info-text {
        position: relative;
        top: 35%;
        line-height: 14pt;
        font-size: 12pt;
        text-transform: uppercase;

      }
    }

    // White Carousel Arrows on Dark Background
    .owl-prev, .owl-next {
      color: #fff;
    }
  }
}

.sk-spinner-three-bounce.sk-spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center; }
.sk-spinner-three-bounce div {
  width: 18px;
  height: 18px;
  background-color: $pow-color-blue;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
          animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.sk-spinner-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s; }
.sk-spinner-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s; }

@-webkit-keyframes sk-threeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-threeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
