@import "foundation-grid";

.aw-db-topper-background {
  background-color: #444;
}

.aw-name {
  color: #fff;
  font-size: 24pt;
}

.aw-motivational-quote {
  color: #fff;
  font-size: 14pt;
}

.aw-latest-news-label {
  color: #fff;
  font-size: 14pt;
}

.aw-round-image {
  border-radius: 50%;
}

.aw-label {
  color: #fff;
  font-size: 14pt;
}

.aw-vertical-middle {
  vertical-align: middle;
}

.aw-avatar {
  width:128px;
  height: auto;
}

.aw-news-item-container {
  padding-top: 10px;
  margin: 5px;
}
.aw-news-item {
  color: #fff;
  font-size: 12pt;
  text-align: left;
  line-height: 15pt;
}

.aw-news-date {
  font-size: 10pt;
  color: #aaa;
  text-align: left;
}