@import "foundation-grid";

.aw-tooltip{
    display: inline;
    position: relative;
}

.aw-tooltip:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "";
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.aw-tooltip:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.aw-db-topper-background {
  background-color: #444;
}

.aw-fade-in {
  opacity: 0;
}

.aw-db-topper-mask {
  background-image: image-url('static/image_03.jpg');
  opacity: 0.3;
}

.aw-name {
  color: #fff;
  font-size: 24pt;
}

.aw-motivational-quote {
  color: #fff;
  font-size: 14pt;
}

.aw-latest-news-label {
  color: #fff;
  font-size: 14pt;
}

.aw-round-image {
  border-radius: 50%;
}

.aw-label {
  color: #fff;
  font-size: 14pt;
}

.aw-badge {
  display: float;
  margin-left: -10%;
}

.aw-vertical-middle {
  height: 100%;
  vertical-align: middle;
}

.aw-avatar {
  width:128px;
  height: auto;
}

.aw-news-item-container {
  padding-top: 10px;
  margin: 5px;
}

.aw-bump-down {
  padding-top: 40px;
}

.aw-news-item {
  color: #fff;
  font-size: 12pt;
  text-align: left;
  line-height: 15pt;
}

.aw-news-date {
  font-size: 10pt;
  color: #aaa;
  text-align: left;
}

.aw-news-pagination {
  font-size: 12pt;
}

.aw-db-topper-footer {
  background: #333;
  padding-bottom: 20px;
  width: 100%;
}

.aw-share-quote {
  color: #fff;
  font-size: 16pt;
  padding-top: 20px;
}

.aw-share-links {
  margin-left: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 10pt;
  color: #fff;
  vertical-align: middle;
}

.aw-blue-share-link {
  color: #20c2f1;
  vertical-align: -5px;
}