// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dashboard_section {
	// Mixins

	// Box properties

	// Background & borders
	//border-top: $border;
	background: $dev_gray;

	// Typography

	// Other

	/*&:nth-child(even) {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: white;
		// Typography
	
		// Other
	
	}*/

	.blank_state {
		// Mixins
		@extend .subtext;
		@include object_thumbnail;
		float: none;
		// Box properties
		padding: $grid * 2 0 $grid * 2 0;
		margin: 0 auto;

		// Background & borders

		// Typography

		// Other

	}

}
.section_header{
	padding:50px 0 20px 0;
	border:0;

	select{
		border:1px solid $dev_dark_gray;
		background-size: 40px;
		background-color: #fff;
		height:62px;
		position:relative;
		display:inline-flex;
		float:left;
		border-radius:0;
		margin-left:10px;
	}

	input[type=search] {
		border:1px solid $dev_dark_gray;
		background-size: 40px;
		background-color: #fff;
		height:62px;
		position:relative;
		display:inline-flex;
		float:left;
		border-radius:0;
		padding-left:30px;

	}

}
.section_body {
	// Mixins

	// Box properties
	width: $desktop;
	margin: 0 auto;

	// Background & borders

	// Typography

	// Other


}

.section_legend{
	padding:8px;
	div{
		width:20px;
		height:20px;	
		float:left;
		margin-right:10px;
	}
	span{
		display:block;
		font-size:12px;
		text-transform:uppercase;
		float:left;
		vertical-align:middle;
		height:20px;
		line-height:24px;
		margin-right:15px;
	}
	.team{
		background:$solar;
	}
	.you{
		background:$brand;
	}
}

.section_header:before{
	content:'';
	display:block;
	margin:auto;
	height:1px;
	width:inherit;
	margin:30px 0 70px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0)); 
  }

.section_label {
	// Mixins
	// Box properties
	border:1px solid $dev_dark_gray;
	background: #fff;
	height:60px;
	position:relative;
	display:inline-flex;
	float:left;

	// Background & borders
	// Typography
	// Other

	.tag{
		// Mixins
		// Box properties
		background:$brand;
		width:60px;
		height:60px;
		float:left;
		// Background & borders
		// Typography
		// Other
	}
	.text{
		// Mixins
		// Box properties
		height:40px;
		padding:10px;
		text-transform:uppercase;
		font-weight:bold;
		font-size:14px;
		line-height:42px;
		// Background & borders
		// Typography
		// Other

	}
}


#goal_meters{
	// Mixins

	// Box properties
	clear:both;
	padding:20px 0;

	// Background & borders
	// Typography
	// Other

	.meter_container{
		width:inherit;
		position:relative;
		padding:0px 8px 0 8px;
		.labels{
			width:inherit;
			height:40px;
			.notch{
				margin-top:30px;
				float:left;
				height:4px;
				position:relative;

				span{
					width:15px;
					display:block;
					position:absolute;
					left:-7px;;
					top:-25px;
					font-size:12px;
				}

				div{
					height:4px;
					width:1;
					border-left:1px solid #000;
					position:absolute;
					top:0;
					left:0;
				}
				div.last_notch{
					left:auto;
					right:0px;
				}
				span.last_notch{
					position:absolute;
					left:auto;
					right:-7px;
				}
			}
			.notch:last-child{
				float:right;
			}
		}
		.labels.flip .notch div{
			top:-25px;
		}
		.highlight_container{
			width:inherit;
			height:15px;
			background:$dev_dark_gray;
		}

		.highlight{
			width:1px;
			height:inherit;
		}
	}
	#personal_sales .highlight{
		background:$brand;
	}	
	#group_sales .highlight{
		background:$solar;
	}	

}

.kpi_chart {
	// Mixins

	// Box properties
	margin-top: -6px;
	margin-bottom: -6px;
	// Background & borders

	// Typography

	// Other

}

#dashboard_kpis {
	// Mixins

	// Box properties
	//margin-top: 2px;
	// Background & borders
	border-top: none;
	// Typography

	// Other



	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	.kpi_circle {
		// Mixins
		@include circle_with_text;
		// Box properties
		height: $grid * 2;
		width: $grid * 2;
		margin: 0 auto $grid / 4;
		// Background & borders
		background-color: $brand;
		// Typography
		color: white;
		line-height: $grid / 2;
		font-size: $grid / 2;
		// Other
	
	}

	canvas {
		// Mixins
	
		// Box properties

		// Background & borders
	
		// Typography
	
		// Other
	
	}
}


#dashboard_quotes {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders

	// Typography

	// Other

	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}

#dashboard_team {
	// Mixins

	// Box properties
	padding-bottom: 0;
	// Background & borders

	// Typography

	// Other

	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}

#dashboard_customers {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders

	// Typography

	// Other

}

#dashboard_payments {
	// Mixins

	// Box properties
	padding-bottom: 0;

	// Background & borders

	// Typography

	// Other

}

#dashboard_pages {
	// Mixins

	// Box properties
	padding-bottom: $grid * 3;

	// Background & borders
	border-bottom: $border;
	// Typography

	// Other

	.blank_state {
		// Mixins
	
		// Box properties
		width: auto;
		float: none;
		// Background & borders
	
		// Typography
	
		// Other
	
		p {
			// Mixins
		
			// Box properties
			margin-top: 0;
			// Background & borders
		
			// Typography

			// Other
		
		}

	}

}

	.customer_page_kpis {
		// Mixins
	
		// Box properties
		float: left;
		margin-right: $grid;
		// Background & borders
	
		// Typography
		text-align: left;
		// Other
	
	}

	.promoter_page_kpis {
		// Mixins
	
		// Box properties
		float: left;

		// Background & borders
	
		// Typography
		text-align: left;
		// Other
	
	}



.section_content {
	// Mixins

	// Box properties
	overflow: auto;
	clear: both;
	padding: 0 0 0;

	// Background & borders

	// Typography

	// Other

}



.kpi_thumbnail {
	// Mixins
	@include object_thumbnail;
	// Box properties
	// Background & borders

	// Typography

	// Other

}

.blank_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders

	// Typography

	// Other

}

.page_thumbnail {
	// Mixins
	@include object_thumbnail;
	
	// Box properties
	margin-bottom: $grid;
	// Background & borders

	// Typography

	// Other

}

.quote_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties
	border-radius:0;
	border-right:1px solid $dev_dark_gray;
	margin:0;
	height:220px;
	width:252px;
	// Background & borders

	// Typography

	// Other

}

.quote_requirements {
	// Mixins
	@include corners(50%, 50%, 50%, 50%);
	@include box_sizing;
	// Box properties
	display: inline-block;
	height: $grid * 2;
	width: $grid * 2;
	position: relative;
	padding: 0;
	margin-top:20px;
	// Background & borders
	background-color: $ghost;
	// Typography
	color: $whisper;
	font-size: $font_size / 1.35;
	// Other

	span {
		// Mixins
		@include box_sizing;
		// Box properties
		width: 50%;
		height: 50%;
		display: block;
		padding: 0;
		margin: 0;
		float: left;
		position: relative;
		// Background & borders
		border: $border;
		border-color: $dev_gray;
		// Typography
		text-align: center;

		// Other
	
		.fa-envelope {
			// Mixins
		
			// Box properties
		
			// Background & borders
		
			// Typography
			font-size: $font_size / 1.5;
			// Other
		
		}

		&:nth-child(1) {
			// Mixins

			// Box properties
			
			// Background & borders
			border-top: none;
			border-left: none;
			
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(100px, 0,0,0);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				right: 6px;
				bottom: 6px;			
				// Background & borders

				// Typography
			
				// Other
			
			}
		}

		&:nth-child(2) {
			// Mixins
		
			// Box properties
			
			// Background & borders
			border-top: none;
			border-right: none;
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(0,100px,0,0);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				left: 8px;
				bottom: 5px;			
				// Background & borders

				// Typography
			
				// Other
			
			}

		}

		&:nth-child(3) {
			// Mixins
		
			// Box properties
			
			// Background & borders
			border-bottom: none;
			border-left: none;
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(0,0,100px,0);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				right: 5px;
				top: 5px;			
				// Background & borders

				// Typography
				font-size: $font_size / 1.4;
				// Other
			
			}

		}

		&:nth-child(4) {
			// Mixins
		
			// Box properties
			
			// Background & borders
			border-bottom: none;
			border-right: none;
			// Typography
		
			// Other

			&.checked {
				// Mixins
				@include corners(0,0,0,100px);

				// Box properties
			
				// Background & borders
				background-color: $supergreen;
				// Typography
				color: white;
				// Other
			
			}

			i {
				// Mixins
			
				// Box properties
				display: block;
				position: absolute;
				left: 7px;
				top: 5px;			
				// Background & borders

				// Typography
			
				// Other
			
			}
		}
	}
}

.quote_name {
	// Mixins

	// Box properties
	display: block;
	// Background & borders

	// Typography

	// Other

}

.advocate_avatar {
	// Mixins
	@include corners(50%, 50%, 50%, 50%);
	// Box properties
	display: block;
	height: $grid * 2;
	width: $grid * 2;
	margin: 0 auto $grid / 4;
	margin-top:38px;
	// Background & borders
	background: $white;
	background-size: cover;
	// Typography

	// Other

}

.team_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties
	width:252px;
	margin:0;
	padding:0;
	height:256px;
	border-right:1px solid $dev_dark_gray;
	// Background & borders
	// Typography

	// Other

	&:hover {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	&.pending {
		// Mixins
	
		// Box properties
		display: none;
		// Background & borders
	
		// Typography
	
		// Other
	
		&.subtext {
			// Mixins
		
			// Box properties
			display: block;
			margin-bottom: $grid;
			// Background & borders
		
			// Typography
		
			// Other
		
		}
	}

}

.customer_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders
	// Typography

	// Other

}

.payment_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties

	// Background & borders

	// Typography

	// Other

}

.link_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties
	width: $grid * 8;
	// Background & borders

	// Typography

	// Other

}

.button.new {
	// Mixins
	@include small_title;
	// Box properties

	// Background & borders

	// Typography

	// Other

}



.new_thumbnail {
	// Mixins
	@include object_thumbnail;

	// Box properties
	width: $grid * 8;
	height:220px;
	padding:0;
	margin:0;
	border-right:1px solid $dev_dark_gray;
	border-radius:0;
	// Background & borders

	// Typography

	// Other

	.placeholder_avatar {
		// Mixins
		@include box_sizing;
		@include corners(50%, 50%, 50%, 50%);
		// Box properties
		display: table;
		height: $grid * 2;
		width: $grid * 2;
		margin: 0 auto $grid / 4;
		margin-top:38px;
		// Background & borders

		border: 1px dashed $whisper;
		// Typography
		color: $whisper;
		font-size: $font_size;
		// Other

		span {
			// Mixins
		
			// Box properties
			display: table-cell;
			// Background & borders
		
			// Typography
			vertical-align: middle;
			// Other
		
		}
	}


}

#new_quote_thumbnail {
	// Mixins

	// Box properties
	// Background & borders

	// Typography

	// Other

}

#invite_advocate_thumbnail {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

}


#invite_actions {
	// Mixins
	@include box_sizing;
	// Box properties

	// Background & borders

	// Typography

	// Other

	.subtext {
		// Mixins
	
		// Box properties
		display: block;
		padding: $grid / 4 0;
		// Background & borders
	
		// Typography
		text-align: center;
		// Other
	
	}

	.button {
		// Mixins
	
		// Box properties
		width: $grid * 3.5;
		float: left;
		clear: none;
		// Background & borders
	
		// Typography
	
		// Other

		&+ .button {
			// Mixins
		
			// Box properties
			margin-left: $grid / 2;
			// Background & borders
		
			// Typography
		
			// Other
		
		}
	}
}

.section_notification {
	// Mixins

	// Box properties
	position: relative;
	// Background & borders
	background: $dev_gray;
	border-top: $border;

	// Typography
	font-size: $grid / 2;

	// Other

	&.neutral {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: $neutral;
		// Typography
	
		// Other
	}

	&.positive {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: $positive;
		// Typography
	
		// Other
	
	}

	&.negative {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: $negative;
		// Typography
	
		// Other
	
	}

	a {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background: none;
		// Typography
		color: $text;	
		// Other
	

		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background: none;
			// Typography
			color: $brand;
			// Other
		
		}
	}

}

.section_notification:before {
	// Mixins
	// Box properties
	top: -61px;
	left: $grid * 12.5;
	height: 0;
	width: 0;
	position: absolute;
	margin-left: -30px;

	// Background & borders
	border: solid transparent;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $whisper;
	border-width: 30px;
	// Typography

	// Other
	pointer-events: none;
	content: " ";
}

.section_notification:after {
	// Mixins

	// Box properties
	bottom: 100%;
	left: $grid * 12.5;
	height: 0;
	width: 0;
	position: absolute;
	margin-left: -30px;

	// Background & borders
	border: solid transparent;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $dev_gray;
	border-width: 30px;
	// Typography

	// Other
	pointer-events: none;
	content: " ";

}

.section_notification.neutral:after {
	// Mixins

	// Box properties

	// Background & borders
	border-bottom-color: $neutral;
	// Typography

	// Other

}

.section_notification.positive:after {
	// Mixins

	// Box properties

	// Background & borders
	border-bottom-color: $positive;
	// Typography

	// Other

}

.section_notification.negative:after {
	// Mixins

	// Box properties

	// Background & borders
	border-bottom-color: $negative;
	// Typography

	// Other

}

.thumb_row {
	// Mixins
	@include box_sizing;
	// Box properties
	clear: both;
	overflow: auto;
	margin: 0 auto;
	// Background & borders

	// Typography

	// Other

}

.circle_stat {
	// Mixins
	@include circle_with_text;
	// Box properties
	margin: $grid $grid / 2;
	height: $grid * 5;
	width: $grid * 5;
	float: left;
	// Background & borders
	background-color: $brand;
	// Typography
	line-height: $font_size;
	font-size: $grid / 2;
	// Other

	&.blank {
		// Mixins
	
		// Box properties
		width: $grid;
		margin: $grid 0 0;
		// Background & borders
		background: none;
		// Typography
	
		// Other
	
	}

	.icon {
		// Mixins
	
		// Box properties
		
		// Background & borders
	
		// Typography
		font-size: $grid * 2;
		line-height: $line_height / 2;
		// Other
	
	}

}

.object_detail_arrow {
	// Mixins
	// Box properties
	bottom: 100%;
	left: 0;
	height: 0;
	width: 0;
	position: absolute;

	// Background & borders
	border: solid transparent;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: darken($global_progress_color, 14%);
	border-width: 30px;
	// Typography

	// Other
	pointer-events: none;
	content: " ";

}

.drilldown_content {
	// Mixins
	@include box_sizing;
	// Box properties
	height: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
	width: 1264px;
	margin: 0 auto;
	background-color:#535353;
	// Background & borders
	border-top:1px solid rgba(255, 255, 255, 0.06);

	// Typography

	// Other
	.team_info{
		background:none;
		border:0;
		margin:0;
		margin-left:8px;
		height:100%;

		.pagination_content,
		.pagination_container{
			height:100%;
		}

		.team_thumbnail{
			border-radius:0;
			border-right:1px solid rgba(255, 255, 255, 0.06);
			height:100%;
		}

	}
}

.modal_overlay {
	// Mixins
	@include box_sizing;
	// Box properties
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: table;
	display: none;
	overflow: hidden;

	// Background & borders
	background: rgba(0,0,0,.75);
	// Typography
	color: white;
	// Other
	z-index: 1000;

	.modal_content {
		// Mixins
	
		// Box properties
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		height: 50%;
		margin: $grid * 3 auto 0;
		position: relative;
		padding: $grid * 2;
		// Background & borders
		// Typography
		text-align: center;
		// Other
	
		span {
			// Mixins
		
			// Box properties

			// Background & borders
		
			// Typography
			
			// Other
		
		}
	}
}

.modal_actions {
	// Mixins

	// Box properties
	width: 100%;
	display: block;
	position: absolute;
	bottom: $grid;
	left: 0;
	right: 0;
	height: $grid * 2;
	padding: $grid / 2;
	// Background & borders

	// Typography

	// Other

	.button {
		// Mixins
	
		// Box properties
		display: inline-block;
		float: none;
		margin: 0 $grid;
		// Background & borders
	
		// Typography
	
		// Other
	
	}
}

.drilldown_content_section {
	// Mixins
	@include box_sizing;
	// Box properties
	float: left;
	overflow: hidden;
	padding: 0 0;
	margin:0 0 0 $grid * 10;
	width: $grid * 30;
	height: 100%;
	position: relative;
	// Background & borders
	// Typography

	// Other

	&.summary {
		// Mixins
	
		// Box properties
		//width: $grid * 10;
		width:256px;

		height: 100%;
		min-height: 100%;
		margin: 0;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		text-align:center;
		overflow: hidden;
		// Background & borders
		border-right: $light_border;
		// Typography
	
		// Other
	
		ul {
			// Mixins
		
			// Box properties
		
			// Background & borders
		
			// Typography
			list-style: none;
			// Other
		
		}
	}

	&.full {
		// Mixins
	
		// Box properties
		float: none;
		margin: 0;
		width: 100%;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	h4 {
		// Mixins
	
		// Box properties
		clear: both;
		margin-bottom: $grid / 2;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	.chart {
		// Mixins
	
		// Box properties
		margin: $grid / 2 0 $grid;
		float: left;
		// Background & borders
	
		// Typography
		text-align: center;
		// Other
		
	}

	form {
		// Mixins
	
		// Box properties
	
		// Background & borders
	
		// Typography
	
		// Other
		
		select {
			// Mixins
		
			// Box properties

			// Background & borders
		
			// Typography
		
			// Other
		
		}

		input {
			// Mixins
		
			// Box properties
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.button {
			// Mixins
		
			// Box properties

			// Background & borders
		
			// Typography
		
			// Other
		
		}
	}

}

.summary_actions {
	// Mixins

	// Box properties
	margin-top: $grid;
	// Background & borders

	// Typography

	// Other

	.button {
		// Mixins
	
		// Box properties
		margin-bottom: $grid / 2;
		float: none;
		width: 100%;
		// Background & borders
	
		// Typography
	
		// Other
	
	}
}

.main, .sidebar {
	// Mixins
	@include box_sizing;
	// Box properties
	float: left;
	padding: $grid;
	// Background & borders

	// Typography

	// Other

}

.main {
	// Mixins
	// Box properties
	width: $grid * 20;
	height: 100%;
	overflow: hidden;
	// Background & borders
	border-right: $light_border;
	// Typography

	// Other

	h4 {
		// Mixins
	
		// Box properties
		float: left;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}

.quote_form {
	// Mixins
	@include box_sizing;

	// Box properties
	float: left;
	padding-top: $grid;
	// Background & borders
	// Typography

	// Other

	fieldset {
		// Mixins
		@include box_sizing;
		// Box properties
		width: 100%;
		padding-bottom: $grid;
		// Background & borders
	
		// Typography
	
		// Other
	
		&.one, &.two {
			// Mixins
		
			// Box properties
			width: 50%;
			float: left;
			padding-bottom: 0;
			// Background & borders
		
			// Typography
		
			// Other
		
		}

	}

}

.sidebar {
	// Mixins
	// Box properties
	overflow: hidden;
	width: $grid * 9.5;

	// Background & borders

	// Typography

	// Other

}

.form_edit_actions {
	// Mixins

	// Box properties
	display: none;
	position: absolute;
	top:0;
	right: 0;
	// Background & borders

	// Typography

	// Other

	a {
		// Mixins
	
		// Box properties
		margin-top: 0;
		// Background & borders
	
		// Typography
	
		// Other
	
		&.save_changes {
			// Mixins
		
			// Box properties
			
			// Background & borders
			background-color: $supergreen;
			border: 1px solid darken($supergreen, 2%);

			// Typography
		
			// Other
		
			&:hover {
				// Mixins
			
				// Box properties
			
				// Background & borders
				background-color: $supergreen_shadow;
				// Typography
				border: 1px solid darken($supergreen_shadow, 2%);			
				// Other
			
			}
		}

		&.cancel_changes:hover {
			// Mixins
		
			// Box properties

			// Background & borders
		
			// Typography
			color: $red;
			// Other
		
		}
	}
}

#invite_actions {
	// Mixins
	@include box_sizing;
	// Box properties

	// Background & borders

	// Typography

	// Other

	.subtext {
		// Mixins
	
		// Box properties
		display: block;
		padding: $grid / 4 0;
		// Background & borders
	
		// Typography
		text-align: center;
		// Other
	
	}
}

.invite_code {
	// Mixins
	@include corners;
	@include box_sizing;
	// Box properties
	padding: $grid / 4 $grid / 2;
	margin-bottom: $grid;
	width: 100%;
	display: block;
	// Background & borders
	background-color: $ghost;
	border:1px solid $ghost;
	// Typography
	color: $whisper;
	text-align: center;
	// Other

}

.pagination_content {
	// Mixins

	// Box properties
	height:220px;
	width:1024px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	// Background & borders

	// Typography

	// Other

}

// From Rick's internal styles - to be assimalated

	// .lead_info{
	// 	width:auto;
	// 	display:block;
	// 	margin-right:32px;
	// 	float:left;
	// }
	// .lead_info.contact{
	// 	border-right:1px dashed #ccc;
	// 	padding-right:32px;
	// }
	// .lead_info.utility{
	// 	width:100px;
	// 	overflow: hidden;
	// }
	// .lead_info div{
	// 	float:left;
	// }

	// .lead_info input[name~="first_name"],
	// .lead_info input[name~="last_name"]{
	// 	margin-right:10px;
	// 	width:150px;
	// 	float:left;
	// 	display:block;
	// }
	// .lead_info input[name~="email"],
	// .lead_info input[name~="phone"]{
	// 	width:310px;
	// 	display:block;
	// 	clear:both;}
	// .lead_info input[name~="address.street"],		
	// .lead_info input[name~="address.state"]{
	// 	width:200px;
	// 	margin-right:10px;
	// 	float:left;}
	// .lead_info input[name~="utility.kwh"],
	// .lead_info input[name~="address.unit"],
	// .lead_info input[name~="address.zip"]{
	// 	width:100px;
	// 	float:left;}


.drilldown {
	// Mixins
	@include box_sizing;
	@include gradient(darken($global_progress_color, 14%), darken($global_progress_color, 10%), darken($global_progress_color, 6%));

	// Box properties
	height:0px;	
	width: 100%;
	left: 0;	
	position: relative;
	// Background & borders
	border:0;
	background:#f8f8f8;
	//border-bottom: 1px solid #444;

	// Typography
	text-align: left;
	color: #f9f2e8;
	// Other

	&.level_1 {
		// Mixins
	
		// Box properties
		//border-top: 1px solid #444;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}
	.arrow{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 20px 20px 20px;
		border-color: transparent transparent #535353 transparent;
		position:absolute;
		top:0px;
		left:0;
	}
	.team_info{
		position:relative;
		height:220px;
		overflow:hidden;
		background:white;
		margin:8px;
		margin-bottom:0;
		border:1px solid $dev_dark_gray;
	}
	.pagination_container{
		height:220px;
		width:1006px; /*contains 4 thumbs */
		overflow:hidden;
		position:relative;}
		.pagination_container .nav{
			z-index: 90;
			padding:10px;
			position:absolute;
			top:50px;
			display: none;}
		.pagination_container .nav.left{
			left:10px;}
		.pagination_container .nav.right{
			right:10px;}


	.team_thumbnail{
		z-index:20;
		border-radius:0;
	}
	.object_detail{
		background: none;
	}

