@import "foundation-grid";

// fix for the grid box-sizing incompatibility
#dashboard_personal_goals * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.aw-spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.aw-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #20c2f1;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.aw-spinner .aw-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.aw-spinner .aw-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

// Special Classes
.aw-bump-25 {
  margin-top: 25px;
}

.aw-bump-40 {
  margin-top: 40px;
}

.aw-db-topper-background {
  // background-color: #444;
  background-image: url(image_path('dandelions.png'));
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;

}

// Fades (sets initial opacity to 0, then DashboardTopper.fadeItIn(); animates to 1)
.aw-fade-in {
  opacity: 0;
}

#aw-news {
  opacity: 0;
}

// Tooltips on meters
div.aw-tooltip {
  position: relative;
  right: -38px;
  display: inline;
}

div.aw-tooltip span {
  position: relative;
  padding: 4px 20px;
  color: #FFFFFF;
  background: #000000;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  opacity: 0.8;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
// Arrow
div.aw-tooltip span:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  width: 0; 
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.aw-tt-above {
  bottom: 45px;
  span:after {
    top: 100%;
    border-top: 8px solid #000000;
  }
}

.aw-tt-below {
  top: 25px;
  span:after {
    bottom: 100%;
    border-bottom: 8px solid #000000;
  }
}

.aw-tooltip-text {
  font-size: 12pt;
}

// Welcome Section
.aw-name {
  color: #fff;
  font-size: 24pt;
}

.aw-motivational-quote {
  color: #fff;
  font-size: 14pt;
}

.aw-round-image {
  border-radius: 50%;
}

.aw-label {
  color: #fff;
  font-size: 14pt;
}

.aw-badge {
  display: float;
  width: 100%;
  height: 100%;
  margin-left: -75px;
  margin-top: 15px;
}

#aw-avatar {
  width:128px;
  height: auto;
}


// News Section 
#aw-news-notifications {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.aw-news-item-container {
  padding-top: 10px;
  margin: 5px;
}

.aw-latest-news-label {
  color: #fff;
  font-size: 14pt;
}

.aw-news-item {
  color: #fff;
  font-size: 12pt;
  text-align: left;
  line-height: 15pt;
  margin-right: 30px;
}

.aw-news-date {
  font-size: 10pt;
  color: #aaa;
  text-align: left;
  margin-top: 0px;
}

.aw-news-load-more {
  position: relative;
  width: 30%;
  margin: auto;
  display: block;
  font-size: 10pt;
  height: 30px;
  background: rgba(0,0,0,0.3);
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.aw-emphasis {
  text-decoration: underline;
}

// News Section: custom scroller
#aw-news-notifications::-webkit-scrollbar {
  width: 8px;
}

#aw-news-notifications::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}

#aw-news-notifications::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,1);
}

// Share Quote Section

.aw-darker-bg {
  background: #2A2A2A;
  padding: 25px;
}

.aw-share-quote {
  text-align: left;
  color: #fff;
  font-size: 16pt;
}

.aw-share-links {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 10pt;
  color: #fff;
  vertical-align: middle;
}

.aw-blue-share-link {
  color: #20c2f1;
  vertical-align: -5px;
}