.in_dev {
	// Mixins

	// Box properties

	// Background & borders

	// Typography
  	font-family:$dev_font;

	// Other

}

#dev_warp_nav {
	// Mixins
	@extend .in_dev;

	// Box properties
	position: fixed;
	bottom: 0;

	// Background & borders
	border-top: $border;
	background: $dev_gray;
	width: 100%;

	// Typography
	text-align: center;

	// Other

	ul {
		// Mixins
	
		// Box properties
		padding-left: $grid / 2;
		// Background & borders
	
		// Typography
	
		// Other
		
		li {
			// Mixins
		
			// Box properties
			display: inline-block;
			padding: $grid / 4;
			// Background & borders
		
			// Typography
		
			// Other
			
			a {
				// Mixins
			
				// Box properties
				
				// Background & borders
			
				// Typography
				text-decoration: none;

				// Other
			
			}
		}
	}
}


.dev-hack_for_arrow_placement_tree_team:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 3.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_team:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 3.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_leads:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 9.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_leads:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 9.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_customers:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 15.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_customers:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 15.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_payout:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 21.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_payout:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 21.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_volume:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 27.5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_volume:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 27.5;
	// Typography
	// Other
}

.dev_img_placeholder {
	// Mixins
	@include corners;
	// Box properties
	width: 30%;
	padding: $grid;
	margin-top: $grid * 2;
	// Background & borders
	border: $border;
	background: $brand_trans;
	// Typography
	text-align: center;
	color: $quiet;
	// Other

}