.in_dev {
  // Mixins

  // Box properties

  // Background & borders

  // Typography
    font-family:$dev_font;

  // Other

}

#dev_warp_nav {
  // Mixins
  @extend .in_dev;

  // Box properties
  position: fixed;
  bottom: 0;

  // Background & borders
  border-top: $border;
  background: $dev_gray;
  width: 100%;

  // Typography
  text-align: center;

  // Other
  z-index: 10000;

  ul {
    // Mixins

    // Box properties
    padding-left: $grid / 2;
    // Background & borders

    // Typography

    // Other

    li {
      // Mixins

      // Box properties
      display: inline-block;
      padding: $grid / 4;
      // Background & borders

      // Typography

      // Other

      a {
        // Mixins

        // Box properties

        // Background & borders

        // Typography
        text-decoration: none;

        // Other

      }
    }
  }
}




.dev_img_placeholder {
  // Mixins
  @include corners;
  // Box properties
  padding: $grid / 2;
  // Background & borders
  border: $border;
  border-style: dashed;
  // Typography
  text-align: center;
  color: $whisper;
  // Other

}
