.in_dev {
	// Mixins

	// Box properties

	// Background & borders

	// Typography
  	font-family:$dev_font;

	// Other

}

#dev_warp_nav {
	// Mixins
	@extend .in_dev;

	// Box properties
	position: fixed;
	bottom: 0;

	// Background & borders
	border-top: $border;
	background: $dev_gray;
	width: 100%;

	// Typography
	text-align: center;

	// Other
	z-index: 10000;
	
	ul {
		// Mixins
	
		// Box properties
		padding-left: $grid / 2;
		// Background & borders
	
		// Typography
	
		// Other
		
		li {
			// Mixins
		
			// Box properties
			display: inline-block;
			padding: $grid / 4;
			// Background & borders
		
			// Typography
		
			// Other
			
			a {
				// Mixins
			
				// Box properties
				
				// Background & borders
			
				// Typography
				text-decoration: none;

				// Other
			
			}
		}
	}
}


.dev-hack_for_arrow_placement_tree_co2:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 4;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_co2:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 4;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_equivalents:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 11;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_equivalents:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 11;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_customers:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 18;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_customers:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 18;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_team:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 25;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_team:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 25;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_volume:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 32;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_tree_volume:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 32;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_new_link:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_new_link:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 5;
	// Typography
	// Other
}


.dev-hack_for_arrow_placement_invite:before {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 5;
	// Typography
	// Other
}

.dev-hack_for_arrow_placement_invite:after {
	// Mixins
	// Box properties
	// Background & borders
	left: $grid * 5;
	// Typography
	// Other
}


.dev_img_placeholder {
	// Mixins
	@include corners;
	// Box properties
	padding: $grid / 2;
	// Background & borders
	border: $border;
	border-style: dashed;
	// Typography
	text-align: center;
	color: $whisper;
	// Other

}