.bonus-header-hr {
  border: none;
  margin-top:10px;
  background-color:#ddd;
  height:2px;
}


.bonus-header-title {
  text-transform: capitalize;
}

.full{
  overflow: hidden;
}
.promoter_info.contact{
  padding:32px 32px 0 0;
  margin: 0 0 0 32px;
}

.drilldown_content_section{
  margin: 0 0 0 250px;
  width:1006px;
}


.quotes_info{
  background-color:#fff;
  margin:0 8px;
  width:1262px;
  border:1px solid #e5e5e5;
}
.fa-angle-down::before,
.fa-angle-up::before{
  opacity:.3;
  display:block;
}

#js-screen_mask{
  width:100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 90;
  display:none;
  background:rgba(0,0,0,.5);
}

#js-popup{
  display:none;
  z-index:95;
  background:rgba(255,255,255,1);
  position:fixed;
  display:none;
  top:25%;
  left:30%;
  padding:50px;
}

#stats-header {
  background-color:white;
  margin:auto;
  margin-bottom:50px;
  width:100%;
}

#stats-header td {
  padding:50px 70px 20px 70px;
  border:1px solid #ddd;
}

.kpi_label {
  padding-bottom:10px;
}

.kpi_value {
  font-size: 31pt;
}

#date-dropdown {
  width:750px;
  margin:auto;
}

#body_section_header {
  text-align:center;
  margin-left:-50px;
}

.date {
  margin-bottom:15px;
}

.dropdown {
  background-color:#333;
  height:0px;
  overflow:hidden;
  position:fixed;
}

.slideTable {
  // display:none;
  width:100%;
  height:0%;
  z-index:999
}

.dropToggle {
  cursor:pointer;
}

.details-cell {
  text-align:left; 
  // border: 1px solid #ddd; 
  padding: 5px;
}

.header-cell {
  font-weight:bold;
}

.details-row {
  background:#444;
}

.summary-row {
  background:#fff;
}

.warning {
  color:rgb(250,100,100);
  padding-right:75px;
}

.right-aligned {
  text-align:right;
  padding-right: 15px;
}