.pow-earnings {
  padding-top: 140px;
  padding-bottom: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    color: #444;
  }

  .main-header {
    font-size: 24pt;
    line-height: 18pt;
    padding-bottom: 20px;
    text-transform: capitalize;
  }

  .fa {
    font-weight: bold;
    color: $pow-color-blue;
  }

  table {
    width: 100%;
    margin-top: 20px;

    thead th {
      font-weight: bold;
    }

    .sub-total {
      background-color: #aaa;
      td {
        color: #fff;
      }
    }

    td {
      &.clickable {
        color: $pow-color-blue;
        cursor: pointer;
      }
    }

    tbody:nth-child(odd) {
      background-color: #F9F9F9;
    }

    .details-row {
      background-color: #ccc;

      .td-container {
        padding: 0px;
      }

      .sub-header {
        font-size: 16pt;
        padding: 0 5px;
        color: #fff;
        font-weight: bold;
        .sub-title {
          font-size: 12pt;
          color: #fff;
        }
      }

      .grand-total {
        text-transform: uppercase;
        background-color: $pow-color-blue;
        font-weight: bold;
        td {
          color: #fff;
          padding: 20px 10px;
        }
      }

      .table-wrapper {
        padding: 20px;
      }

      table {
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.20);
        border-spacing: 0;
        border: 0;
      }

    }
  }
}