/*
 * HEADER for a guest user
*/
.pow-header-guest {
  left: 0;
  top: 0;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;

  a {
    color: #fff;
  }

  // .header-nav-link {
  //   @include pow-sprites-sprite(header-menu-icon);
  //   height: pow-sprites-sprite-height(header-menu-icon);
  //   width: pow-sprites-sprite-width(header-menu-icon);
  //   float: left;
  //   margin-top: 8px;
  // }

  .menu-icon {
    font-size: 2em;
  }

  .header-nav {
    display: none;
  }

  .logo {
    background-image: image-url('powur-white-logo.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 10px;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -10px;
    line-height: 50px;
    text-align: left;
    width: 120px;
  }

  .sign-in {
    background: none;
    display: inline-block;
    line-height: 2.3em;
    float: right;
    padding: 0 1em;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: .8em;
  }

  &.hidden {
    top: -200px;
  }

  &.invert {
    background: #fff;
    border-bottom: 1px solid #ccc;

    a {
      color: $pow-color-blue;
    }

    .header-nav-link {
      @include pow-sprites-sprite(header-menu-icon-inverted);
    }

    .logo {
      background-image: image-url('powur-blue-logo.png');
    }

    .sign-in {
      border-color: $pow-color-blue;
    }
  }
}


/*
 * HEADER for signed in user
*/
.powur-header {

  li {
    font-family: "Varela Round", "Open Sans", sans-serif;
    text-transform: uppercase;
  }

  .main-logo {

    .logo-img {
      margin-top: -20px;
      width: 150px;
    }
  }

  .active {
    color: #fff;
  }

  .dropdown {
    label {
      font-size: 9pt;
    }
    a {
      line-height: 30pt !important;
      text-transform: uppercase !important;
    }
  }
}

// Make the header buttons thumb-sized on mobile

@media only screen
and (min-device-width : 320px)
and (max-device-width : 960px) {

  #sun_header_guest {

    .menu-icon {
      font-size: 5em;
    }

    .logo {
      width: 300px;
      background-position: 0px;
      margin-top: -75px;
      line-height: 90px;
    }

    .sign-in {
      background: none;
      display: inline-block;
      line-height: 2.3em;
      float: right;
      padding: 0 1em;
      border: 2px solid #fff;
      text-transform: uppercase;
      font-size: 2em;
    }
  }
}



.nav.top-menu {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 30;
    color: #fff;
    font-weight: 400;
    .bg {
        width: 100%;
        height: 50px;
        padding: 15px 15px;
        position: fixed;
        z-index: 30;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,.15);
        background: -moz-linear-gradient(left, #29a8dd 0%, #44A1AE 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#29a8dd), color-stop(100%,#44A1AE)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* IE10+ */
        background: linear-gradient(to right, #29a8dd 0%,#44A1AE 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a8dd', endColorstr='#509f9a',GradientType=0 ); /* IE6-9 */
    }
    .menu {
        background: image-url('header-menu-icon.png');
        height: 25px;
        width: 25px;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .title {
        float: left;
        color: #fff;
        text-transform: uppercase;
        font-size: 16pt;
        padding: 0 15px;
        line-height: 15pt;
    }
    .right {
        cursor: pointer;
        margin-top: -2px;
    }
    .avatar {
        height: 30px;
        width: 30px;
        float: left;
        display: inline-block;
        margin: -3px 10px 0 0;
        border-radius: 50%;
        background-size: cover;
    }
}

.mobile-side-nav {
  z-index: 98;
  display: block;
  background: #2ba7d9; /* Old browsers */
  max-width: 400px !important;
  min-width: 400px !important;
  height: 100vh !important;
  position: fixed;
  font-family: 'Roboto';
  background: -moz-linear-gradient(top, #2ba7d9 0%, #509f9a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ba7d9), color-stop(100%,#509f9a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2ba7d9 0%,#509f9a 100%); /* W3C */
  background-size: cover;

  md-toolbar {
    padding-left: 15px;
  }

  .hide-for-desktop {
    display: none;
  }

  .sprite {
    &.sprite-dashboard {
      background: image-url('img/dashboard-icon.png');
      width: 39px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-invite {
      background: image-url('img/invite-icon.png');
      width: 40px;
      height: 33px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-grid-solar {
      background: image-url('img/grid-solar-icon.png');
      width: 42px;
      height: 33px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: -2px;
    }
    &.sprite-earnings {
      background: image-url('img/earnings-icon.png');
      width: 40px;
      height: 29px;
      margin: 0 0px 0 -1px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-library {
      background: image-url('img/library-icon.png');
      width: 39px;
      height: 32px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-certs {
      background: image-url('img/powur-u-icon.png');
      width: 29px;
      height: 29px;
      margin-right: 9px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-upgrade {
      background: image-url('img/upgrade-icon.png');
      width: 40px;
      height: 29px;
      margin-right: -2px;
      margin-left: 0px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-stats {
      background: image-url('img/profile-icon.png');
      width: 40px;
      height: 26px;
      margin-left: 2px;
      margin-right: -2px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-logout {
      background: image-url('img/logout-icon.png');
      width: 40px;
      height: 23px;
      margin-left: 2px;
      margin-right: -2px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.sprite-admin {
      background: image-url('img/hud-icon-disabled.png');
      width: 19px;
      height: 19px;
      margin-right: 11px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .link-wrap {
    padding: 10px 10% 0 10%;

    .link-item {
      padding: 0 10px;
      height: 7vh;
      cursor: pointer;

      &.active, &:hover {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }

      span {
        color: #2C6B8A;
        margin-left: 10px;
        font-size: 10pt;
        text-transform: uppercase;
      }
    }
  }

  .banner {
    width: 100%;
    min-height: 28%;
    height: 23vh;
    text-transform: uppercase;
    color: #fff;
    background-image: image-url('img/menu-banner.png');
    padding: 0 20%;
    background-size: cover;

      .logo {
        background: image-url('img/powur-logo-white.png');
        height: 53px;
        width: 183px;
        margin: 0 0 5px -46px;
        background-size: contain;
        cursor: pointer;
      }
      .motto {
        font-size: 11pt;
      }
  }

  md-toolbar {
    background-color: transparent;
  }
}

body {
  &.mobile-device {
    padding-top: 150px;

    .top-menu {
      .hide-for-desktop {
        display: none;
      }
    }

    .mobile-side-nav {
      max-width: 70vw !important;
      min-width: 70vw !important;

      .hide-for-desktop {
        display: block;
      }

      .banner {
        height: 17vh;
        min-height: 23%;
      }
      .logo {
        height: 103px;
        width: 355px;
        margin: 0px 0 15px -90px;
      }
      .motto {
        font-size: 22pt;
      }
      .link-item span {
          margin-left: 35px;
          font-size: 32pt;
          font-weight: 300;
      }
      .sprite {
        &.sprite-dashboard {
          background: image-url('img/dashboard-icon.png');
          width: 69px;
          height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-invite {
          background: image-url('img/invite-icon.png');
          width: 70px;
          height: 63px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-grid-solar {
          background: image-url('img/grid-solar-icon.png');
          width: 72px;
          height: 63px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: -2px;
        }
        &.sprite-earnings {
          background: image-url('img/earnings-icon.png');
          width: 70px;
          height: 59px;
          margin: 0 0px 0 -1px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-library {
          background: image-url('img/library-icon.png');
          width: 69px;
          height: 62px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-certs {
          background: image-url('img/powur-u-icon.png');
          width: 59px;
          height: 59px;
          margin-right: 9px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-upgrade {
          background: image-url('img/upgrade-icon.png');
          width: 70px;
          height: 59px;
          margin-right: -2px;
          margin-left: 0px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-stats {
          background: image-url('img/profile-icon.png');
          width: 70px;
          height: 56px;
          margin-left: 2px;
          margin-right: -2px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-logout {
          background: image-url('img/logout-icon.png');
          width: 70px;
          height: 53px;
          margin-left: 2px;
          margin-right: -2px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-admin {
          background: image-url('img/hud-icon-disabled.png');
          width: 49px;
          height: 49px;
          margin-right: 11px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .nav.mobile {
      .bg {
        height: 150px;
        padding: 42px 43px;
      }
      .menu {
        height: 75px;
        width: 75px;
      }
      .title {
        font-size: 42pt;
        padding: 0 35px;
        line-height: 44pt;
      }
    }

    .top-menu {
      .bg {
        height: 150px;
        padding: 42px 43px;
      }
      .menu {
        height: 75px;
        width: 75px;
      }
      .title {
        font-size: 40pt;
        padding: 0 0 0 35px;
        line-height: 44pt;
      }
    }
  }
}
