// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index_banner {
	// Mixins

	// Box properties
	padding: $grid * 3 $grid * 2;
	overflow: auto;
	// Background & borders
	background-color: #F2E491;
	background-image: url(image-path('banner_bg1.jpg'));
	background-repeat: no-repeat;
	background-position: right -220px;
	border-bottom: $border;
	// Typography

	// Other

	h1 {
		// Mixins
		// Box properties
		margin: 0;
		// Background & borders
	
		// Typography
		font-size: $font_size * 2;
		line-height: $font_size * 2.5;
		text-align: left;
		// Other
	
	}

	p {
		// Mixins
	
		// Box properties
		margin: $grid 0 0 0;
		padding: 0;
		// Background & borders
	
		// Typography
		text-align: left;
		color: $text;
		// Other
	
	}

	.get_started {
		// Mixins
	
		// Box properties
		margin-top: $grid * 1.5;
		// Background & borders
		background: $brand;
		// Typography
		color: white;
		// Other
		
		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background-color: $sunnyside;
			border-color: darken($sunnyside, 10%);
			// Typography
		
			// Other
		
		}
	}

}

.get_started {
	// Mixins

	// Box properties
	float: left;
	// Background & borders

	// Typography
	font-size: $font_size * 1;
	// Other

}

#sub_banner {
	// Mixins

	// Box properties
	padding: $grid / 2;
	// Background & borders
	background: $brand;
	// Typography
	color: white;
	// Other

	h2 {
		// Mixins
	
		// Box properties
		display: inline-block;
		margin: 0;	
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	.button {
		// Mixins
		@include corners(0, 4px, 0, 4px);
		// Box properties
		display: inline-block;
		margin-left: 0;
		// Background & borders
		border-color: white;
		background: none;
		// Typography
		color: white;
		// Other
		
		&:hover {
			// Mixins
			// Box properties
		
			// Background & borders
			background-color: $sunnyside;
			// Typography
			color: white;
			// Other
		
		}
	}

	input[type=text] {
		// Mixins
		@include corners(4px, 0, 4px, 0);
		// Box properties
		display: inline-block;
		width: $grid * 5;
		padding: $grid / 8 $grid / 4;
		margin: -1px -7px 0 $grid / 4;
		// Background & borders
		border-color: white;
		// Typography
		color: $brand;
		font-size: $grid / 2;
		line-height: $line_height;
		text-align: center;
	
	}
}

.landing {
	// Mixins

	// Box properties
	padding: $grid * 2;
	overflow: auto;
	// Background & borders
	border-bottom: $border;
	// Typography
	text-align: left;
	// Other

	h2 {
		// Mixins
	
		// Box properties
		margin-bottom: $grid;
		// Background & borders
	
		// Typography
		font-size: $font_size * 1.5;
		// Other
	
	}

	img {float: right;}


	&.left {
		// Mixins
	
		// Box properties

		// Background & borders
		
		// Typography
	
		// Other

		p {
			// Mixins
		
			// Box properties
			float: left;
			width: 50%;
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.dev_img_placeholder {
			// Mixins
		
			// Box properties
			float: right;
			// Background & borders
		
			// Typography
		
			// Other
		
		}
	}

	&.right {
		// Mixins
	
		// Box properties
		// Background & borders
		background-color: $brand_white;
		// Typography
	
		// Other

		p, h2 {
			// Mixins
		
			// Box properties
			float: right;
			clear: both;
			width: 50%;

			// Background & borders
		
			// Typography
		
			// Other
		
		}

		.dev_img_placeholder {
			// Mixins
		
			// Box properties
			float: left;
			// Background & borders
		
			// Typography
		
			// Other
		
		}

	}

	.get_started {
		// Mixins
	
		// Box properties
		margin-top: $grid;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	&#tools {
		// Mixins
	
		// Box properties
	
		// Background & borders
		background-image: url(image-path('dashboard_hero.png'));
		background-repeat: no-repeat;
		background-position: -30px center;
		background-size: contain;
		// Typography
	
		// Other
	
	}

	&#requirements {
	// Mixins

	// Box properties

	// Background & borders
	background-image: url(image-path('paperwork_hero.png'));
	background-repeat: no-repeat;
	background-position: 50px center;
	background-size: contain;
	// Typography

	// Other

}
}