// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#landing {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

	header {
		// Mixins
		// Box properties
		// Background & borders
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		// Typography
	
		// Other
	
		li {
			// Mixins

			// Box properties
			float: right;
			// Background & borders

			// Typography
		
			// Other
		
			a {
				// Mixins
				@include corners;

				// Box properties
				// Background & borders
				border: 1px solid $white;
				// Typography
				color: white;
				// Other
				
				&:hover {
					// Mixins
				
					// Box properties
				
					// Background & borders
					background-color: $sunnyside;
					// Typography
					// Other
				
				}
			}		
		}
	}
}

#primary_cta {
	// Mixins

	// Box properties
	margin: $grid * 2 auto 0;
	overflow: auto;
	// Background & borders

	// Typography
	text-align: center;	
	// Other

	input {
		// Mixins
		@include corners(4px, 0, 4px, 0);
		// Box properties
		display: inline-block;
		width: auto;
		margin: -1px -7px 0 0;
		// Background & borders
		background: none;
		border-color: $quiet;
		// Typography
		color: $text;
		// Other
	
	}

	::-webkit-input-placeholder {
	   color: $quiet;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $quiet;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $quiet;  
	}

	:-ms-input-placeholder {  
	   color: $quiet;  
	}

	.button {
		// Mixins
		@include corners(0, 4px, 0, 4px);
		// Box properties
		display: inline-block;
		width: auto;
		clear: none;
		// Background & borders
		border-color: $quiet;
		background: $sunnyside;
		// Typography
		color: white;
		// Other
	
		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background: darken($sunnyside, 10%);
			// Typography
		
			// Other
		
		}
	}
}

#secondary_cta {
	// Mixins

	// Box properties
	margin: $grid * 2 auto 0;
	overflow: auto;
	// Background & borders

	// Typography
	text-align: center;	
	// Other

	input {
		// Mixins
		@include corners(4px, 0, 4px, 0);
		// Box properties
		display: inline-block;
		width: auto;
		margin: -1px -7px 0 0;
		// Background & borders
		background: white;
		border-color: $quiet;
		// Typography
		color: $text;
		// Other
	
	}

	::-webkit-input-placeholder {
	   color: $quiet;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $quiet;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $quiet;  
	}

	:-ms-input-placeholder {  
	   color: $quiet;  
	}

	.button {
		// Mixins
		@include corners(0, 4px, 0, 4px);
		// Box properties
		display: inline-block;
		width: auto;
		clear: none;
		// Background & borders
		border-color: $quiet;
		background: $sunnyside;
		// Typography
		color: white;
		// Other
	
		&:hover {
			// Mixins
		
			// Box properties
		
			// Background & borders
			background: darken($sunnyside, 10%);
			// Typography
		
			// Other
		
		}
	}
}

#index_banner {
	// Mixins
	@include box_sizing;
	@include text_shadow;
	// Box properties
	padding: $grid $grid * 2 0;
	overflow: hidden;
	height: 100vh;
	position: relative;
	// Background & borders

	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(right top, circle farthest-side, #FFFFFF 0%,  $brand 80%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(right top, circle farthest-side, #FFFFFF 0%, $brand 80%);

	/* Opera */ 
	background-image: -o-radial-gradient(right top, circle farthest-side, #FFFFFF 0%, $brand 80%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, right top, 0, right bottom, 956, color-stop(0, #FFFFFF), color-stop(1, $brand));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(right top, circle farthest-side, #FFFFFF 0%, $brand 80%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-side at right top, #FFFFFF 0%, $brand 80%);
	
	// background-color: #F2E491;
	// background-image: url(image-path('banner_bg1.jpg'));
	// background-repeat: no-repeat;
	// background-position: right -220px;

	// Typography
	text-align: center;
	color: white;
	// Other

	#banner_graphic_br {
		// Mixins
	
		// Box properties
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 60vh;
		width: 100%;
		// Background & borders
		background-image: url(image-path('panel_test.png'));
		background-repeat: no-repeat;
		background-position: left top;
		background-size: cover;
		// Typography
	
		// Other
	}

	.banner_content {
		// Mixins
	
		// Box properties
		margin-top: 28vh;
		position: relative;
		// Background & borders
		// Typography
	
		// Other
		z-index: 900;
	}

	h1 {
		// Mixins
		// Box properties
		margin: 0 0 $grid / 2 0;
		// Background & borders
	
		// Typography
		font-size: $font_size * 2;
		line-height: $font_size * 2.5;
		// Other
	
	}

	h2 {
		// Mixins
		@include italic;
		// Box properties
		margin: 0 0 $grid / 2 0;
		// Background & borders
	
		// Typography
		font-size: $font_size * 2;
		line-height: $font_size * 2;

		// Other
	
	}

	p {
		// Mixins
	
		// Box properties
		margin: 0 0 0 0;
		padding: 0;
		// Background & borders
	
		// Typography
		// Other
	
	}

	.scroll_leader {
		// Mixins
		@include corners;
		@include box_sizing;
		// Box properties
		position: absolute;
		bottom: $grid;
		padding: $grid;
		left: 50%;
		margin-left: -$grid * 6;
		width: $grid * 12;
		// Background & borders
		// Typography
		text-align: center;
		// Other
	
	}

	#primary_cta {
		// Mixins

		// Box properties
		// Background & borders

		// Typography
		// Other

		input {
			// Mixins
			// Box properties

			// Background & borders
			border-color: white;
			// Typography
			color: white;
			// Other
		
		}

		::-webkit-input-placeholder {
		   color: white;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: white;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: white;  
		}

		:-ms-input-placeholder {  
		   color: white;  
		}

		.button {
			// Mixins
			// Box properties
			// Background & borders
			border-color: white;

			// Typography
		
			// Other
		
			&:hover {
				// Mixins
			
				// Box properties
			
				// Background & borders
				background: darken($sunnyside, 10%);
				// Typography
			
				// Other
			
			}
		}
	}
}



#sub_banner {
	// Mixins

	// Box properties
	padding: $grid / 2;
	// Background & borders
	background: $brand;
	// Typography
	color: white;
	// Other

	h2 {
		// Mixins
	
		// Box properties
		display: inline-block;
		margin: 0;	
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	.button {
		// Mixins
		@include corners(0, 4px, 0, 4px);
		// Box properties
		display: inline-block;
		width: auto;
		margin: 0;
		// Background & borders
		border-color: white;
		background: none;
		// Typography
		color: white;
		// Other
		
		&:hover {
			// Mixins
			// Box properties
		
			// Background & borders
			background-color: $sunnyside;
			// Typography
			color: white;
			// Other
		
		}
	}

	input[type=text] {
		// Mixins
		@include corners(4px, 0, 4px, 0);
		// Box properties
		display: inline-block;
		width: $grid * 5;
		margin: -1px -7px 0 $grid / 4;
		// Background & borders
		border-color: white;
		// Typography
		color: $brand;
		font-size: $grid / 2;
		line-height: $line_height;
		text-align: center;
	
	}
}

.landing {
	// Mixins

	// Box properties
	padding: $grid * 2 0 0 0;
	overflow: auto;

	// Background & borders
	background-color: $white;
	background-image: url(image-path('bg_sandnoise.jpg'));
	background-repeat: repeat;
	// Typography
	text-align: center;
	// Other

	h2 {
		// Mixins
	
		// Box properties
		margin-bottom: $grid / 2;
		// Background & borders
	
		// Typography
		font-size: $font_size * 1.5;
		// Other
	
	}
	
	p {
		// Mixins
		
		// Box properties
		margin: 0 auto $grid;
		width: 75%;
		clear: both;
		// Background & borders

		// Typography

		color: $quiet;
		// Other
	
	}

	.get_started {
		// Mixins
	
		// Box properties
		margin-top: $grid;
		display: inline-block;
		width: auto;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

	.dev_img_placeholder {
		// Mixins
	
		// Box properties
		width: 75%;
		height: $grid * 8;
		margin:0 auto $grid;
		// Background & borders
	
		// Typography
	
		// Other
	
	}

}


.round_icon {
	// Mixins

	// Box properties
	width: $grid * 2;
	height: $grid * 2;
	margin: 0 auto $grid / 4;
	// Background & borders

	// Typography
	font-size: $grid * 2;

	// Other

}

.landing_bar {
	// Mixins

	// Box properties
	overflow: auto;

	// Background & borders
	// Typography

	// Other

}

#deal_points {
	// Mixins

	// Box properties
	width: $grid * 18;
	margin: 0 auto;
	// Background & borders

	// Typography

	// Other

}

.deal_point {
	// Mixins
	@include corners (50%,50%,50%,50%);
	@include box_sizing;
	// Box properties
	margin: 0 $grid $grid;
	padding: 0;
	display: table;
	float: left;
	width: $grid * 4;
	height: $grid * 4;
	// Background & borders
	background: $sunnyside;
	// Typography
	line-height: $font_size;
	color: white;
	// Other

	span {
		// Mixins
	
		// Box properties
		display: table-cell;
		// Background & borders
	
		// Typography
		vertical-align: middle;
		// Other
	
	}
}

.customer_points {
	// Mixins
	// Box properties
	margin: $grid;
	padding: $grid;
	display: inline-block;
	width: $grid * 5;
	// Background & borders

	// Typography
	text-align: center;
	font-size: $font_size * 3;
	color: $whisper;
	// Other

}

.plain_icon {
	// Mixins
	// Box properties
	margin: 0 $grid;
	padding: 0 $grid 0;
	display: inline-block;
	width: $grid * 5;
	// Background & borders

	// Typography
	text-align: center;

	// Other

}

#customer_checklist {
	// Mixins

	// Box properties
	padding: $grid /2;
	// Background & borders
	background: $brand;
	// Typography
	color: $white;

	// Other

}

#solar_growth {
	// Mixins

	// Box properties
	width: 75%;
	height: $grid * 12;
	margin: 0 auto $grid;
	// Background & borders
	background-image:url(image-path('solar_growth_graph.svg'));
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	// Typography

	// Other

}

#our_mission {
	// Mixins

	// Box properties
	overflow: auto;
	padding: $grid * 2 0 $grid;
	// Background & borders

	border-top: 1px solid white;
	border-bottom: 1px solid darken($white, 55%);
	// Typography

	// Other

	p {
		// Mixins
	
		// Box properties
		margin: 0 auto $grid;
		width: 75%;		

		// Background & borders

		// Typography
		text-align: center;
		// Other
	
	}
}

#sales_process {
	// Mixins

	// Box properties
	// Background & borders

	// Typography
	text-align: center;
	// Other

}

#growing_business {
	// Mixins

	// Box properties
	padding-bottom: $grid * 18;
	// Background & borders
	background: 
	url(image-path('dashboard_hero.png')) no-repeat center bottom,
	url(image-path('bg_sandnoise.jpg')) repeat;
	

	// Typography

	// Other

}

#doing_good {
	// Mixins

	// Box properties
	padding-bottom: $grid * 2;
	// Background & borders

	// Typography

	// Other
}

#first_image {
	// Mixins

	// Box properties
	height: $grid * 27;
	position: relative;
	overflow: hidden;
	// Background & borders

	border-color: white;
	// Typography

	// Other

	#first_image_br {
		// Mixins
	
		// Box properties
		height: 105%;
		width: 105%;
		position: absolute;
		top: -185px;
		// Background & borders
		background-image: url(image-path('city.jpg'));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;	
		// Typography
	
		// Other
		z-index: 0;
	}

	#goals {
		// Mixins
	
		// Box properties
		width: $grid * 28;
		overflow: visible;
		margin: $grid * 3 auto 0;
		// Background & borders

		// Typography
	
		// Other
	
	}

	.goal_title {
		// Mixins
		@include corners(0,0,500px,500px);
		// Box properties
		position: absolute;
		top: 0;
		left: 50%;
		width: $grid * 4.5;
		margin-left: -$grid * 2.25;
		padding: 0;
		// Background & borders
		background-color: rgba(0,0,0,.4);
		// Typography
		font-size: $font_size;
		text-align: center;
		color: white;
		// Other

	}


	.goal_text {
		// Mixins
		@include corners;
		@include box_sizing;

		// Box properties

		display: table;
		position: relative;
		padding: $grid;
		height: $grid * 9;
		margin: 0 0 $grid * 2 0;
		overflow: visible;
		float: left;
		width: $grid * 13;
		// Background & borders
		background-color: rgba(0,0,0,.4);
		// Typography
		color: $white;
		// Other

		span.text {
			// Mixins
		
			// Box properties
			display: table-cell;
			// Background & borders

			// Typography
			vertical-align: middle;
			// Other
		}

		.number {
			// Mixins
			@include corners(500px, 500px, 500px, 500px);

			// Box properties
			display: table;
			position: absolute;
			top: -$grid * 1;
			left: 50%;
			margin-left: -$grid;
			height: $grid * 2;
			width: $grid * 2;

			// Background & borders
			background: $text;

			// Typography
			font-size: $font_size;
			// Other		
			z-index: 300;

			span {
				// Mixins
			
				// Box properties
				display: table-cell;
				// Background & borders
			
				// Typography
				vertical-align: middle;
				// Other
			
			}
		}

		&.first {
			// Mixins
			@include corners(3px,0,3px,0);
			// Box properties
			margin-right: $grid * 2;
			// Background & borders

			// Typography

			// Other
		}

		// &.first:after {
		// 	// Mixins
		
		// 	// Box properties
		// 	position: absolute;
		// 	left: 100%;
		// 	top: 0;
		// 	width: 0;
		// 	height: 0;
		// 	// Background & borders
		// 	border-top: $grid * 4 solid transparent;
		// 	border-left: $grid * 2 solid rgba(0,0,0,.4);
		// 	border-bottom: $grid * 4 solid transparent;		
		// 	// Typography
		
		// 	// Other
		// 	content: "";
		// 	z-index: 190;
		// }

		&.second {
			// Mixins
			@include corners(3px,3px,0,0);

			// Box properties
			
			// Background & borders

			// Typography

			// Other
		}

		// &.second:after {
		// 	// Mixins
		
		// 	// Box properties
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: -$grid * 2;
		// 	width: 0;
		// 	height: 0;
		// 	// Background & borders
		// 	border-right: $grid * 7 solid transparent;
		// 	border-left: $grid * 7 solid transparent;		
		// 	border-top: $grid * 2 solid rgba(0,0,0,.4);

		// 	// Typography
		
		// 	// Other
		// 	content: "";
		// 	z-index: 190;
		// }

		&.third {
			// Mixins
		
			// Box properties
			clear: both;
			margin-right: $grid * 2;
			// Background & borders

			// Typography

			// Other
		}

		&.fourth {
			// Mixins
			@include corners(0,3px,0,3px);
			// Box properties
		
			// Background & borders
		
			// Typography
		
			// Other
		
		}

		// &.fourth:after {
		// 	// Mixins
		
		// 	// Box properties
		// 	position: absolute;
		// 	left:-$grid * 2;
		// 	top: 0;
		// 	width: 0;
		// 	height: 0;
		// 	// Background & borders
		// 	border-top: $grid * 4 solid transparent;
		// 	border-bottom: $grid * 4 solid transparent;		
		// 	border-right: $grid * 2 solid rgba(0,0,0,.4);

		// 	// Typography
		
		// 	// Other
		// 	content: "";
		// 	z-index: 190;
		// }
	}
}


#second_image {
	// Mixins

	// Box properties
	height: $grid * 18;
	position: relative;
	overflow: hidden;
	// Background & borders

	border-color: white;
	// Typography

	// Other

	#second_image_br {
		// Mixins

		// Box properties
		height: 110%;
		width: 110%;
		position: absolute;
		top: -445px;
		// Background & borders
		background-image: url(image-path('kids.jpg'));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-color: white;
		// Typography

		// Other

	}
}

#third_image {
	// Mixins

	// Box properties
	height: $grid * 20;
	position: relative;
	overflow: hidden;
	// Background & borders

	border-top: 1px solid $whisper;
	// Typography

	// Other

	#third_image_br {
		// Mixins

		// Box properties
		height: 110%;
		width: 110%;
		position: absolute;
		top: -645px;
		// Background & borders
		background-image: url(image-path('couple.jpg'));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		// Typography

		// Other

	}
}

#solar_advocate {
	// Mixins

	// Box properties
	// Background & borders

	background-image: url(image-path('dashboard_hero.png'));
	background-repeat: no-repeat;
	background-position:  right -50px top;
	background-size: 50%;
	// Typography
	text-align: left;
	// Other

	h2 {
		// Mixins
		// Box properties
	
		// Background & borders
	
		// Typography
		text-align: left;

		// Other
	
	}

	p {
		// Mixins
	
		// Box properties
		width: 50%;
		// Background & borders
	
		// Typography

		// Other
	
	}

}