.pow-landing {
  height: 100%;
  position: relative;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.fixed-footer {
    min-height: 800px;
  }

  .row {
    max-width:1280px;
  }

  h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-family: montserrat !important;
    display: block;
    text-align: left;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .pow-home-intro {
    bottom: auto;
    right: auto;

    h1 {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 3.2em;
      &.slide-header {
        width:790px;
      }
    }
    h3 {
      color: #000;
      width:870px;
      line-height: 1.5em;
      font-size: 1.2em;
      // text-transform: uppercase;
      // position:absolute;
    }

    p {
      color: #fff;
      font-size: 1.4em;
    }

    .mag {
      margin-top: -150px;
      margin-left: -50px;
    }
  }

  .pow-home-content {
    h1 {

    }
    h4 {
      line-height:40pt;
      @media #{$small} {
        max-width:850px;
        font-size:30pt;
      }
    }
    h5 {
      font-size:3em;
      @media #{$small} {
        font-size:2em;
      }
    }
  }

  .hidden {
    visibility:hidden;
  }

  .gif1 {
    // background: image-url('landing/globe.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .gif2 {
    // background: image-url('landing/scales-grey.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .gif3 {
    // background: image-url('landing/hauzz.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .gif4 {
    // background: image-url('landing/flame-grey.gif') no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .pow-bg-1 {
     background-image: image-url("landing/bg-1.jpg");
   }

   .pow-bg-2 {
     background: #fff;
   }

   .pow-bg-3 {
     background: #f4f6f7;
   }

   .pow-bg-4 {
     background-image: image-url("landing/bg-3.jpg");
     h1 {
      width:60%;
      font-size:6em;
      line-height:60pt;
      @media #{$small} {
        font-size:4.5em;
      }
     }
     .arrow-box {
      width:300px
     }
   }

   .pow-bg-5 {
     background-image: image-url("landing/bg-5.jpg");
     padding-top:70px;
     h1 {
      line-height:1em;
      text-shadow: -1px 2px 2px rgba(150, 150, 150, 0.68);
      width:85%;
     }

     h3 {
       color:#333;
       text-transform: capitalize;
       font-size:1.8rem;
       text-align:left;
       width:85%;
     }

     .bulb {
      background-image: image-url("landing/bulb.png");
      position:absolute;
      height:30px;
      width:20px;
      left:23px;
      bottom:17px;
      display:none;
      @media #{$small} {
        display:inline-block;
      }
     }

     .mag-button {
      z-index: 99;
      left: 110%;
      text-align: left;
      padding: 1px 15px 10px 60px;
      position: absolute;
      width: 363px;
      span {
        font-color: #EEC500;
        font-size: 10pt;
      }

      .mag-icon {
        background: image-url("landing/magazine-icon.png");
        position: absolute;
        height: 29px;
        width: 35px;
        left: 14px;
        bottom: 16px;
        background-size: cover;
      }
     }

     .button {
      background-color:#333;
      color:#fff;
      float:left;
      font-size:3rem;
      padding-left:60px;
      @media #{$small} {
        font-size:1.3rem;
      }
     }
   }

   .pow-bg-6 {
     background-image: image-url("landing/bg-4.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     height: 345px;
     padding-top: 150px;
     text-align: center;

     h1 {
       color: #fff;
       display: inline;
       text-transform: uppercase;
       font-size: 4.4em;
       font-weight: bold;
     }

     p {
       color: #fff;
       font-size: 1.3em;
     }
   }

   .pow-bg-7 {
    background-image: image-url("landing/bg-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
      .row {
        width:90%;
        @media #{$small} {
          width:85%;
        }
      }

    h1 {
      margin:30pt 0;
      font-size:5rem;
      line-height:50pt;
      @media #{$small} {
        font-size:4.5rem;
      }
    }

      span {
        font-size:17pt;
        line-height:25pt;
        color:white;
        .highlight {
          color: $pow-color-blue;
        }
      }


    .arrow-box {
      width:686px;
      margin-left: -350px;
      span{
        color: $pow-color-blue;
      }
    }
   }

  .pow-sign-in-wrapper {
    padding-top: 200px;

    h1 {
      color: #fff;
      font-size: 2.5em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    form {
      text-align: left;
    }

    label {
      color: #fff;
      font-size: 1.3em;
    }

    // Remember Me Switch: Override "Switched" Color
    .switch input:checked + label {
      background-color: #000;
    }

    // Larger Input Boxes
    input[type=text], input[type=password], input[type=email] {
      font-size: 1.3em;
      height: 60px;
    }

    // "Forgot Password" / "Back To Sign In" Button Styling
    .secondary {
      background-color: transparent;
      color: #fff;
      &:hover {
        background-color: rgba(50,50,50,.5);
      }
    }
  }

  h1 {
    font-size:30pt;
    line-height:30pt;
    @media #{$small}{
      font-size:60pt;
      line-height:50pt;
    }
  }
}


// Page slider
.pow-slider {
  overflow: hidden;
  position: relative;
  z-index:3;

  .slide {
    ////
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    ////
    left: -100%;

    &.inactive {
      width: 100%;
      left: 150%;
    }

    &.active {
      left: 50%;
    }
  }

  .slide-show-dots {
    position: absolute;
    margin-top: 400px;
    left: 50%;
    // position center:
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    a {
      display: inline-block;
      margin-right: 10px;
      border: 1px solid #555;
      border-radius: 10px;
      height: 10px;
      width: 10px;

      &.active {
        background: #555;
      }
    }
  }
}
