.powur-latest-terms {
  position: relative;

  background-color: #efefef;
  padding-top: 50px;

  .terms {
    background-color: #fff;
    margin-bottom: 0;

    .pdf {
      background-color: #fff;
      border: 0;
      height: 400px;
    }
  }

  .footer {
    background-color: #333;
    height: 100px;
  }

  .dark-bg {
    background-color: #333;
  }
}