.powur-library {
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 210px;

  @media #{$small} {
    padding-top: 140px;
  }

  .hidden {
    display: none;
  }

  .bump {
    padding-bottom: 30px;
  }

  .section-label {
    height: 62px;
    width: 100%;
    background: #fff;
    margin: 0 0 1em 0;

    .tag {
      background: $pow-color-blue;
      width: 62px;
      height: 62px;
      float: left;
      text-align: center;
    }

    .text {
      display: inline-block;
      border: 1px solid #e5e5e5;
      height: 62px;
      overflow: hidden;
      padding: 0 20px;
      font-family: "Muli", "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;
      color: #333;
      font-size: 10pt;
      line-height: 62px;
      text-transform: uppercase;
    }
  }

  .media-select {
    .tag {
      background: $pow-color-blue;
      width: 60px;
      height: 60px;
      float: left;
    }

    select {
      background-color: #fff;
      height:60px;
      position:absolute;
      display:inline-flex;
      float: left;
      left: 75px;
    }

  }

  .search-field {
    outline: none;
    background-image: image-url('search.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    border:1px solid $dev_dark_gray;
    background-color: #fff;
    height:60px;
    position:relative;
    display:inline-flex;
    float: right;
    border-radius:0;
    padding-left:30px;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
  }

  .filter {
    height: 62px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 8px 16px;

    background-color: #fff;
    background-image: image-url('select_arrow.svg') ;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    font-size: 10pt;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #aaa;

    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover {
      border-color: #e5e5e5;
    }

    &:focus {
      outline: none;
    }
  }

  .topic-wrapper {
    margin-bottom: 50px;
  }

  .resource:hover {
    cursor: pointer;
  }

  .pdf-download {
    position: absolute;
    bottom: 0;
  }

  .load-more {
    width: 100%;
    text-align: center;
    margin-top: 2em;
  }
}

// Used in library modal
.library-pdf-preview {
  display: flex;
  justify-content: center;
  top: 0;
  padding-bottom: 20px;

  .thumb {
    width: 100%;
    height: auto;
  }
}

// Used in Library and Admin for preview
.library-resource-item {
  font-family: "Montserrat", "Open Sans";
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;

  .resource-type-wrapper {
    background-color: #515151;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 10px;

    .resource-type-icon {
      width: 20px;
    }
  }

  .media-info {
    width: 290px;

    .media-thumbnail {
      background-position: left center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 180px;
      width: 250px;
      position: relative;
    }

    .powur-logo {
      margin: 20px 0 0 20px;
      width: 50px;
    }

    .title {
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      line-height: 20px;
      margin: 10px 60px 0 30px;
      text-align: left;
    }

    .description {
      color: #fff;
      font-size: 12px;
      line-height: 14px;
      margin: 10px 60px 0 30px;
      text-align: left;
    }
  }
}

.reveal-modal-library {
  padding: 0;
  width: 100%;
  max-width: 100rem;

  @media #{$small} {
    width: 60%;
    max-width: 60rem;
  }

  .media-info-large {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .close-reveal-modal {
    color: #fff;
  }

  .button {
    background-color: #169e1f;
  }

  .title {
    color: #fff;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 45px;
    margin: 150px 0 0 90px;
    text-align: left;
  }

  .description {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 0 90px;
    text-align: left;
  }

  .media-info-controls {
    background-color: #343434;
    color: #fff;
    padding: 40px;
  }

  .video-content-wrapper {
    background-color: #000;

    video, iframe {
      height: 500px;
    }
  }
}
