html, body {
  height: 100%;
  font-family: Montserrat, 'Open Sans';

  &.signed-in {
    padding-left: 70px;
    overflow-x: hidden;
  }
}

md-backdrop {
  position: fixed;
}

.highlighted {
  color: $pow-color-orange;
}

slider {
  height:25px;
  margin:30px 5px 40px 5px;
  @media #{$small} {
    height:7px;
    margin:25px 5px;
  }
}

//Pagepiling css overrides
#pp-nav {
  li {
    margin: 20px !important;
  }
  span {
    border-width: 3px !important;
    height: 12px !important;
    width: 12px !important;
  }
}

.no-scroll {
  overflow: hidden;
}


.arrow-box {
  bottom: -200px;
  color: $pow-color-blue;
  display: none;
  left: 50%;
  margin-left: -115px;
  position: absolute;
  text-align: center;
  width: 215px;
  cursor:pointer;

  &.tuck {
    bottom: -5em;
  }

  &.inverted {
    color: #fff;
  }

  &.dark {
    color: #444;
  }

  &.inactive {
    display: none;
  }

  .fa-chevron-down {
    display:block;
    font-size:3em;
    @media #{$small} {
      font-size: 2em;
    }
    @media #{$large} {
      font-size: 2.3em;
    }
  }

  span {
    font-size:23pt!important;
    font-weight:800;
    @media #{$small} {
      font-size: 1.5rem !important;
    }
  }
}


/*
 * Misc / Utility
 *
*/

.pow-fixed-bg {
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  background-attachment: scroll;

  @media #{$small} {
    background-attachment: fixed;
  }
}

.pow-scrolling-bg {
  z-index: 2;
  height: 100%;
  width:100%;
  padding-bottom:40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow:hidden;

  .pow-home-content {
    text-align: center;
    margin-top:-40px;

    h4, h5 {
      margin-top: 1.5em;
    }
    h4 {
      font-size: 2.5em;
      margin-top:-10px;
    }
    h5 {
      font-size: 1.8em;
      text-align: center;
    }
  }

  .pow-buttons-wrapper {
    margin-top: 5em;
    @media #{$small} {
      margin-top: 3em;
    }

    .button {
      background: $pow-color-green;
      text-transform: uppercase;
      margin-right: .5em;
      font-size:3em;
      @media #{$small} {
        font-size:1.5em;
        margin-right: 1em;
      }

      &.pow-button-solid {
        margin: 0;

        &:hover{
          background: #20B552;
        }
      }

      &.pow-button-transparent:hover{
        background:#eee;
      }
    }

    .buttons {
      display: table;
      height: 100%;
      width: 100%;
    }

    .container {
      display: table-cell;
      padding: 1em;
      text-align: center;
      vertical-align: middle;
    }

    .pow-button-transparent {
      border: 2px solid $header-font-color;
      background: none;
      color: $header-font-color;
    }

  }
}

input {
  &.radius {
    @include radius($input-border-radius);
  }
}

/*
 * Modals
 */
// to prevent modals from loading out of view when the user scrolls:

.pow-modal {
  background-image: image-url('powur-white-logo.png');
  background-color: #f4c751;
  background-repeat: no-repeat;
  background-position: 50% 4em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10em;
}

.energy-modal {
  background: #000;
  border-width: 0;
  padding: 0;
  .close-reveal-modal {
    color: #fff;
  }
}

.wealth-modal {
  background: #000;
  border-width: 0;
  padding: 0;
  .close-reveal-modal {
    color: #fff;
  }
}


.narrow {
  margin-left: 10%;
  margin-right: 10%;
}

.narrow-small {
  margin-left: 10%;
  margin-right: 10%;
  @media #{$small} {
   margin-left: 0%;
   margin-right: 0%;
  }
}

.uppercase {
  text-transform: uppercase;
}
.normal-case {
  text-transform: none !important;
}

.optional {
  display:none !important;
  visibility:hidden !important;
  @media #{$medium} {
    display:block !important;
    visibility:visible !important;
  }
}

.optional-small {
  display:none !important;
  visibility:hidden !important;
  @media #{$small} {
    display:block !important;
    visibility:visible !important;
  }
}

.include-medium{
  display:block !important;
  visibility:visible !important;
  @media #{$medium} {
    display:none !important;
    visibility:hidden !important;
  }
}

.include-small{
  display:block !important;
  visibility:visible !important;
  @media #{$small} {
    display:none !important;
    visibility:hidden !important;
  }
}

select.powur-select {
  // Mixins
  display: block;
  vertical-align: baseline;
  font-size: 12pt;
  line-height: 32px / 2;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  border-radius: 0;

  // Box properties
  margin:0 4px 0 0;
  margin-bottom: 8px;
  padding-right: 56px;
  padding-left: 10px;
  width: auto;
  float: left;

  // Background & borders
  background-image: image-url('select_arrow.svg') ;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-origin: padding-box;
  background-color: rgba(0,0,0,.08);
  border: 1px solid rgba(0,0,0,.08);

  // Typography
  color: lighten(#444, 34%);
  text-indent: 0.01px;
  text-overflow: "";

  // Other
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

select::-ms-expand {
    display: none;
}

.nav.mobile {
  display: none;
}

@media screen and (max-width : 1000px) {
  body {
    &.signed-in {
      padding-left: 0;
      padding-top: 50px;
    }
  }
  .nav {
    display: none;
    &.mobile {
      display: block;
    }
  }

  .nav.mobile {
      top: 0;
      left: 0;
      .bg {
          position: fixed;
          z-index: 30;
          width: 100%;
          height: 50px;
          padding: 15px 15px;
          box-shadow: 0px 0px 4px 2px rgba(0,0,0,.15);
          background: -moz-linear-gradient(left, #29a8dd 0%, #44A1AE 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,#29a8dd), color-stop(100%,#44A1AE)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left, #29a8dd 0%,#44A1AE 100%); /* IE10+ */
          background: linear-gradient(to right, #29a8dd 0%,#44A1AE 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a8dd', endColorstr='#509f9a',GradientType=0 ); /* IE6-9 */
      }
      .menu {
          background: image-url('img/header-menu-icon.png');
          height: 25px;
          width: 25px;
          float: left;
          background-size: contain;
          background-repeat: no-repeat;
          cursor: pointer;
      }
      .title {
          float: left;
          color: #fff;
          text-transform: uppercase;
          font-size: 16pt;
          padding: 0 15px;
          line-height: 14pt;
      }
  }

  .mobile-side-nav {
    z-index: 98;
    display: block;
    background: #2ba7d9; /* Old browsers */
    max-width: 50vw !important;
    min-width: 50vw !important;
    height: 100vh !important;
    position: fixed;
    background: -moz-linear-gradient(top, #2ba7d9 0%, #509f9a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ba7d9), color-stop(100%,#509f9a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2ba7d9 0%,#509f9a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2ba7d9 0%,#509f9a 100%); /* W3C */
    background-size: cover;

    md-toolbar {
      padding-left: 15px;
    }

    .sprite {
      &.sprite-dashboard {
        background: image-url('img/dashboard-icon.png');
        width: 39px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-invite {
        background: image-url('img/invite-icon.png');
        width: 40px;
        height: 33px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-earnings {
        background: image-url('img/earnings-icon.png');
        width: 40px;
        height: 29px;
        margin: 0 0px 0 -1px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-library {
        background: image-url('img/library-icon.png');
        width: 39px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-certs {
        background: image-url('img/powur-u-icon.png');
        width: 29px;
        height: 29px;
        margin-right: 9px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-upgrade {
        background: image-url('img/upgrade-icon.png');
        width: 40px;
        height: 29px;
        margin-right: -2px;
        margin-left: 0px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-stats {
        background: image-url('img/profile-icon.png');
        width: 40px;
        height: 26px;
        margin-left: 2px;
        margin-right: -2px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-logout {
        background: image-url('img/logout-icon.png');
        width: 40px;
        height: 23px;
        margin-left: 2px;
        margin-right: -2px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.sprite-admin {
        background: image-url('img/hud-icon-disabled.png');
        width: 19px;
        height: 19px;
        margin-right: 11px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .link-wrap {
      padding: 5% 20px;

      .link-item {
        padding: 0 10px;
        height: 7.5vh;
        cursor: pointer; 

        &.active, &:hover {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
        }

        span {
          color: #2C6B8A;
          margin-left: 10px;
          font-size: 16pt;
          text-transform: uppercase;
        }
      }
    }

    .banner {
      width: 100%;
      height: 23vh;
      text-transform: uppercase;
      color: #fff;
      background-image: image-url('img/menu-banner.png');
      padding: 0 20%;
      min-height: 120px;
      background-size: cover;

        .logo {
          background: image-url('img/powur-logo-white.png');
          height: 53px;
          width: 183px;
          margin: 0 0 5px -46px;
          background-size: contain;
          cursor: pointer;
        }
        .motto {
          font-size: 11pt;
        }
    }

    md-toolbar {
      background-color: transparent;
    }
  }
}

body {
  &.mobile-device {
    padding-top: 150px;

    .mobile-side-nav {
      max-width: 70vw !important;
      min-width: 70vw !important;
      .logo {
        height: 103px;
        width: 355px;
        margin: 0px 0 15px -90px;
      }
      .motto {
        font-size: 22pt;
      }
      .link-wrap {
        padding: 5% 90px;
      }
      .link-item span {
          margin-left: 35px;
          font-size: 32pt;
          font-weight: 300;
      }
      .sprite {
        &.sprite-dashboard {
          background: image-url('img/dashboard-icon.png');
          width: 69px;
          height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-invite {
          background: image-url('img/invite-icon.png');
          width: 70px;
          height: 63px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-earnings {
          background: image-url('img/earnings-icon.png');
          width: 70px;
          height: 59px;
          margin: 0 0px 0 -1px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-library {
          background: image-url('img/library-icon.png');
          width: 69px;
          height: 62px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-certs {
          background: image-url('img/powur-u-icon.png');
          width: 59px;
          height: 59px;
          margin-right: 9px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-upgrade {
          background: image-url('img/upgrade-icon.png');
          width: 70px;
          height: 59px;
          margin-right: -2px;
          margin-left: 0px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-stats {
          background: image-url('img/profile-icon.png');
          width: 70px;
          height: 56px;
          margin-left: 2px;
          margin-right: -2px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-logout {
          background: image-url('img/logout-icon.png');
          width: 70px;
          height: 53px;
          margin-left: 2px;
          margin-right: -2px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.sprite-admin {
          background: image-url('img/hud-icon-disabled.png');
          width: 49px;
          height: 49px;
          margin-right: 11px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
   
    }

    .nav.mobile {
      .bg {
        height: 150px;
        padding: 42px 43px;
      }
      .menu {
        height: 75px;
        width: 75px;
      }
      .title {
        font-size: 42pt;
        padding: 0 35px;
        line-height: 44pt;
      }
    }
  }
}

