$free-color: #000;
$cert-color: #20c2f1;
$best-color: #ff5349;
$pro-color: #f4c751;

.pow-memberships {
  background-color: #f4f6f7;

  .memberships-top-bg {
    background-color: #fff;
    background-image: image-url("memberships/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50pt 0 200pt 0;

    h1 {
      color: #fff;
      font-weight: bold;
      font-size: 2em;
      text-transform: uppercase;
      margin-bottom: 2em;
    }

    h5 {
      color: #fff;
    }

    .user-info {
      color: #fff;
      font-size: 1.2em;
      margin-bottom: 30pt;

      img {
        width: 100px;
        margin-right: 15pt;
        border-radius: 100pt;
      }
    }
  }

  .memberships-list-wrapper {
    top: -221px;
    position: relative;
    margin-bottom: -220px;

    .list-item {
      background-color: #fff;
      border-radius: 5pt;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 10px;

      h3 {
        font-size: 2em;
        font-weight: bold;
      }

      &.certified {
        background-color: $cert-color;

        h3 {
          color: #fff;
        }
      }

      &.pro {
        background-color: $cert-color;

        h3 {
          color: #fff;
        }
      }

      &.powur-pro {
        background-color: $pro-color;

        h3 {
          color: #fff;
        }
      }

      .description {
        margin: 0 20px;
        height: 162px;
      }

      .line {
        background: rgba(0,0,0,0.1);
        display: block;
        height: 45px;
        line-height: 45px;
      }

      .inner-bottom {
        background-color: #fff;
        border-bottom-left-radius: 5pt;
        border-bottom-right-radius: 5pt;
        border-bottom: 1px solid #e4e6e7;
        height: 335px;

        .button {
          text-transform: uppercase;
        }
      }

      .extra {
        height: 260px;
        text-align: left;
        margin: 0 20px;
        padding-top: 20px;
        overflow: hidden;

        ul {
          list-style: none;
          margin: 0;

          li {
            text-indent: 5px;

            &:before {
              content: "-";
              position: relative;
              left: -5px;
            }
          }
        }

        h3 {
          color: #000;
          margin: 0;

          .highlighted {
            color: $pro-color;
          }
        }
      }

      .select-certification {
        background: none;
        border: 3px solid $cert-color;
        color: $cert-color;
        display: block;
        margin: 0 20px;

        &.free {
          border-color: $free-color;
          color: $free-color;
        }

        &.best {
          border-color: $best-color;
          color: $best-color;
        }
      }
    }
  }

  .memberships-chart-icon {
    background-image: image-url("memberships/chart-icon.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 50px;
  }

  .memberships-table-wrapper {
    background-color: $header-font-color;
    margin-top: 330px;

    .memberships-table {
      border: none;
      border-spacing: 0;
      width: 100%;
      position: relative;
      top: -291px;
      margin-bottom: -250px;

      td, th {
        background: #fff;
        padding: 1rem;
        text-align: center;

        &:first-child {
          text-align: left;
        }

        &.semipro-bg {
          background-color: #fefbf3;
        }

        &.pro {
          background-color: $pro-color;
        }
      }

      th {
        background-color: #383838;
        color: #fff;
        font-size: 1.2em;
        font-weight: normal;
        height: 150px;
        vertical-align: bottom;
        min-width: 170px;

        &.cert {
          background-color: $cert-color;
        }

        &.pro {
          background-color: $pro-color;
        }
      }

      .large-font {
        td {
          font-size: 1.2em;
        }
      }

      .separator {
        td {
          background: #f4f6f7;
          color: #969797;
        }
      }

      .options {
        td {
          background-repeat: no-repeat;
          background-position: center center;

          &.free {
            background-image: image-url("memberships/free-mark.png");
          }
          &.cert {
            background-image: image-url("memberships/cert-mark.png");
          }
          &.best {
            background-image: image-url("memberships/best-mark.png");
          }
        }

        &.highlighted {
          td {
            color: $best-color;
          }
        }
      }

      .button {
        background: none;
        border: 2px solid $cert-color;
        color: $cert-color;
        line-height: 2em;
        padding: .2em 1.5em;
        margin: 0;
        white-space: nowrap;

        &.free {
          border-color: #c3c3c3;
          color: #c3c3c3;
        }

        &.best {
          border-color: $best-color;
          color: $best-color;
        }

        &.pro {
          border-color: #fff;
          color: #fff;
        }
      }
    }

    .payment-info-wrapper {
      padding-top: 20px;

      .payment-icons {
        background-image: image-url("memberships/payment-icons.png");
        background-repeat: no-repeat;
        background-position: center 0;
        color: #888;
        padding-top: 60px;
      }
    }
  }
}


.reveal-modal-purchase-membership {
  padding: 0;
  width: 100%;
  max-width: 100rem;

  @media #{$small} {
    width: 50%;
    max-width: 50rem;
  }

  .title-wrapper, .content-wrapper, .bottom-wrapper {
    padding: 0 10px;
  }

  .title-wrapper {
    background: #5ebe76;
    text-transform: uppercase;

    h3 {
      margin-top: 2em;
      color: #fff;
      font-weight: bold;
    }
  }

  small {
    font-size: .8em;
    color: #989a9b;
  }

  input[type="text"] {
    border-radius: 5px;
  }

  .form-info {
    font-size: 1.4em;
    margin: 1.5em 0;
  }

  .success-info {
    margin-bottom: 50px;
    display: inline-block;
  }

  .card-icons {
    background-image: image-url("memberships/purchase-icons.png");
    background-repeat: no-repeat;
    background-position: right 0;
    height: 26px;
    margin-bottom: 10px;
  }

  .error-message-wrapper {
    height: 4em;
    overflow: hidden;

    .error-message {
      color: red;
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  .close-reveal-modal {
    color: #fff;
    z-index: 9;
  }

  button, .button {
    background: #3b86c4;
    display: block;
    width: 100%;
  }

  .bottom-wrapper {
    background: #f4f6f7;
    font-size: .8em;
    padding: 20px 0;
    margin-top: 20px;

    .secure {
      color: #b89a40;
    }
  }
}
