

body{
    font-family: 'Varela Round', sans-serif;
}

.edit_user input
{
    padding:5px;
    margin:7px;
    margin-left:0px;
}
#user_avatar{
    font-family: "Varela Round", sans-serif;
    opacity: 0;
    display:block;
    margin:auto;
    float:none;
    max-width: 100px;
    clear:both;
}

#avatar-container input[type=submit],
.data_content section .content input[type=submit]{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 16px;
    font-size: 13.33333px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
    display: block;
    width: 100%;
    vertical-align: baseline;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    clear: both;
    margin:auto;
    margin-top: 8px;
    float: none;
    clear: none;
    height:50px;
    background: #20c2f1;
    border: 1px solid #16bff0;
    color: white;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all .25s ease-in-out;
}
.data_content section .content input[type=submit]{
    float:left;
}

.user_field
{
    position: relative;
    display:block;
    margin:0;
}
.summary{
    width:216px;
    padding:32px;
    float:left;
    min-height:300px;
}
.data_content{
    width:900px;
    padding:32px;
    height:auto;
    border-left:1px solid #ccc;
    float:left;
}
.data_content>section{
    background:#fff;
    border:1px solid #ccc;
}
.data_content section .header{
    width:inherit;
    height: 35px;
    background: #333;
    color:#eee;
    text-transform: capitalize;
    text-align: left;
    padding:5px 0px 5px 30px;
    line-height: 36px;
    font-size:18px;
}
.data_content section .sub_header{
    text-align: left;
    color:#000;
    font-size:16px;
}

.data_content section .content{
    color:#ccc;
    text-align: left;
    padding:5px 30px 5px 30px;
    text-align: left;
    height:auto;
}
/*  .data_content section .content::after{
     padding-top: 6.25%;  percentage of containing block _width_
      display: block;
      content: '';
}*/
.data_content section .content label {
    font-size: 12px;
    text-transform: uppercase;
    color: #999999;
    float:left;
    display:block;
    margin:7px;
    top:5px;
    text-align:left;
    width:auto;
    position:absolute;
    left:0px;

}
.data_content section .content input,
.data_content section .content textarea  {
    padding-top:18px;
    padding-left:6px;
    border-radius: 0px;
    height:50px;
    float:left;
    display:block;
    font-size:16px;
    color:#333;

}

.data_content section .content textarea {
    padding:30px 5px 5px 5px;
    font-family: Muli, sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.0784314);
    resize: none;
    outline: none;
    width:837px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    min-height: 200px;
}
.data_content section .content textarea:focus,
.data_content section .content input:focus{
    background:#d6d6d6;
    border:#b3b3b3;
}

.data_content section .content .form_element{
    display:block;
    position: relative;
    width:410px;
    float:left;
    margin-right:20px;
    overflow: hidden;
}
.data_content section .content .form_element.full{
    width:100%;
}
.data_content section .content .form_element.half{
    width:48.62%;
}
.data_content section .content .form_element.quarter{
    width:23.4%;
}
.data_content section .content .form_element.end{
    margin-right: 0px;
}



#avatar-container {

    text-align:center;
}

#avatar-container img {
    width:150px;
    display: block;
    margin:auto;
    text-align:left;
    border:1px solid #fff;
    border-radius:200pt;

}

#avatar-container input {
    border:1px solid #ddd;
    float:left;
}

#upload-avatar-submit {
    width: 100px;
    height:32px;
    padding:0px;

}

#submit-contact
{
    style:none;
}

.section_content
{
    overflow:inherit;
}

.section_content label
{
    margin:0;
    padding:0;
}

#sidebar {
    width:250px;
    display:block;
    float:left;
}

#user_remove_avatar {
    width:75px;
}
section{
    overflow: hidden;
}
h3{
    float:left;
}
