// Place all the styles related to the promoter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#signup {
	// Mixins

	// Box properties

	// Background & borders

	// Typography

	// Other

	header {
		// Mixins
		// Box properties
		// Background & borders
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		// Typography
	
		// Other
	
		li {
			// Mixins

			// Box properties
			float: right;
			// Background & borders

			// Typography
		
			// Other
		
			a {
				// Mixins
				@include corners;

				// Box properties
				// Background & borders
				border: 1px solid $white;
				background: $brand;
				// Typography
				color: white;
				// Other
				
				&:hover {
					// Mixins
				
					// Box properties
				
					// Background & borders
					background-color: $sunnyside;
					// Typography
					// Other
				
				}
			}		
		}
	}
}