// Place all the styles related to the training controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.training {
  // Mixins

  // Box properties
  padding: $grid * 2;
  // Background & borders

  // Typography

  // Other


  h1 {
    // Mixins

    // Box properties
    margin: 0;
    // Background & borders

    // Typography
    font-size: $font_size * 2;
    line-height: $font_size * 2.5;

    // Other

  }
}
