$button-color: #59a2e7;

.pow-university {
  padding-bottom: 50px;

  .sub-header {
    background-image: image-url('university/top-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    .inner {
      height: 400px;
    }

    h1 {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3em;
      margin-top: 160px;
      font-family: $body-font-family;

      @media #{$small} {
        margin-top: 180px;
      }
    }
  }

  .university-class-item-wrapper {
    .class-item {
      border: 1px solid #ececec;
      margin: 80px 20px 5px 0;
      width: 100%;

      .image-wrapper {
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
        }

        .refresh-button {
          background-image: image-url('university/refresh.png');
          background-color: $button-color;
          background-repeat: no-repeat;
          background-position: 1.5rem center;
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 50%;
          text-transform: uppercase;
          padding: 1.5rem;
          width: 70%;
        }
      }

      // Progress Bar
      .class-progress {
        height: 15px;
        margin: 15px 30px 0 30px;

        .progress-inner {
          height: 100%;
          line-height: 100%;
        }

        &.started {
          background-color: #d4d5d5;

          .progress-inner {
            background-color: #42bc1d;
            width: 50%;
          }
        }

        &.completed {
          background-color: #d4d5d5;

          .progress-inner {
            background-color: #42bc1d;
            width: 100%;
          }
        }
      }

      // Name, Price, Description and Take Class/Purchase Buttons
      .class-info {
        padding: 10px;

        .name {
          width: 80%;
          overflow: hidden;
          line-height: 1.7em;
          height: 1.7em;
        }

        .price {
          float: right;
          width: 18%;
          text-align: right;
        }

        .description {
          height: 155px;
          margin-bottom: 20px;
          overflow-y: auto;
          padding: 0 20px;
          color: #a4a4a4;
          font-size: .8em;
          line-height: 1.4em;
        }
      }
    }

    // Buttons
    .class-buttons {
      position: relative;
      left: 15%;
      bottom: 25px;
      margin-bottom: 50px;

      .button {
        display: block;
        position: absolute;
        width: 70%;
        background-color: $button-color;
        line-height: 1.2em;
        text-transform: uppercase;

        &.purchase {
          background: #2ecc71;;
        }
      }
    }
  }

  &.class-purchase-page {
    h1 {
      font-size: 2em;
      font-weight: bold;
    }

    .description {
      display: block;
      height: 330px;
      overflow: hidden;
    }

    .price-wrapper {
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      text-align: right;
    }

    .image-wrapper {
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .purchase-form-wrapper {
      background-color: #f4f6f7;
      margin-top: 2em;

      .form-header {
        background-color: #959595;
        color: #fff;
        padding: .3em 1em;
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: bold;
        margin-top: 0;
      }

      form {
        margin: 1.5em;
      }

      h4 {
        text-transform: uppercase;
        color: $pow-color-orange;
        font-size: 1.2em;
        margin-bottom: 1em;
      }

      label {
        text-transform: uppercase;
        color: #000;
        line-height: 2em;
        font-weight: bold;
      }

      .credit-cards {
        margin-bottom: 1.5em;
      }

      .lock-icon {
        @include landing-sprite(lock2-icon);
        margin-top: 7px;
      }

      .secure-server {
        line-height: 3em;
        padding: 0 1em;
      }

      .cvv-info-wrapper {
        position: relative;

        .cvv-info {
          border-bottom: none;
          position: relative;
          display: inline-block;
          @include landing-sprite(question-circle);
          margin-top: 2px;
        }
      }
    }

    .error-message-wrapper {
      text-align: right;
      color: #ff3a3a;
      padding: 15px 0;
    }

    .button {
      background: $pow-color-green;
      text-transform: uppercase;
    }
  }

  .purchase-complete-page {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 100px;

    .purchase-complete-inner {
      background-image: image-url('university/purchase-complete-bg.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      height: 437px;
      padding-top: 150px;
      margin-bottom: 20px;

      h1 {
        color: #fff;
        font-size: 4em;
        text-transform: uppercase;
        margin: 0;
      }

      span {
        color: #fff;
      }
    }
  }
}
