// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Reset the field
  @import "reset";

// Make mixins and variables available

  @import "_mixins";
  @import "iconsweet";

// SMACCS CSS architecture (kinda)

  // Set base styles (element tags only)

    @import "_base";

  // Define our layouts

    @import "_layouts";

  // Define our modules

    @import "_modules";

  // Define our states

    @import "_state";

// And just for development

  @import "development";

// Layout specific styles

body#user {
  // Mixins

  // Box properties

  // Background & borders

  // Typography

  // Other

  header {
    // Mixins
    // Box properties
    // Background & borders
    background-color: $brand;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    // Typography

    // Other

    li {
      // Mixins

      // Box properties
      float: right;
      // Background & borders

      // Typography

      // Other

      a {
        // Mixins
        @include corners;

        // Box properties
        // Background & borders
        border: 1px solid $white;
        background: $brand;
        // Typography
        color: white;
        // Other

        &:hover {
          // Mixins

          // Box properties

          // Background & borders
          background-color: $sunnyside;
          // Typography
          // Other

        }
      }
    }
  }
}

.customer_banner {
  // Mixins
  @include box_sizing;
  // Box properties
  width: 100%;
  margin-top: $grid * 3;
  padding: $grid;
  // Background & borders
  background: $ghost;
  border-bottom: 1px solid $ghost;
  // Typography
  color: $text;
  text-align: center;
  // Other

  h3 {
    // Mixins

    // Box properties

    // Background & borders

    // Typography
    text-align: center;
    // Other

  }

}

#user_content {
  // Mixins

  // Box properties
  margin: $grid * 6 auto 0;
  width: $tablet;
  // Background & borders

  // Typography

  // Other

}

.customer_content {
  // Mixins

  // Box properties
  margin: $grid auto 0;
  width: $phone;
  padding-bottom:200px;

  // Background & borders

  // Typography

  // Other

   @media screen and (min-width: $tablet) {
    width: $tablet;
  }

   @media screen and (min-width: $desktop) {
    width: $desktop;
  }

}

#customer_signup {
  // Mixins

  // Box properties

  // Background & borders

  // Typography

  // Other

  fieldset {

     @media screen and (min-width: $tablet) {

      // Mixins

      // Box properties
      padding-left: $grid * 4;
      // Background & borders

      // Typography

      // Other

    }

     @media screen and (min-width: $desktop) {

      // Mixins

      // Box properties
      padding-left: $grid * 12;
      // Background & borders

      // Typography

      // Other

    }
  }
}

.form_sidebar {

  // Mixins

  // Box properties
  display: none;
  overflow: hidden;
  // Background & borders

  // Typography

  // Other

  p {
    // Mixins

    // Box properties
    display: none;
    margin: 0;
    padding: 0;
    // Background & borders

    // Typography
    text-align: center;
    // Other

  }

   @media screen and (min-width: $tablet) {

    // Mixins
    @include box_sizing;
    // Box properties
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $grid * 4;
    overflow: auto;
    height: 100%;
    float: left;
    padding: $grid $grid / 2 0;
    // Background & borders

    // Typography

    // Other

  }


   @media screen and (min-width: $desktop) {

    // Mixins
    @include box_sizing;
    // Box properties

    width: $grid * 12;
    // Background & borders

    // Typography

    // Other

    p {
      // Mixins

      // Box properties
      display: block;
      // Background & borders

      // Typography

      // Other

    }
  }
}

.step_label {
  // Mixins
  @include circle_with_text;
  @include small_title;
  // Box properties
  width: $grid * 2.5;
  height: $grid * 2.5;
  margin:  0 auto;
  // Background & borders
  background: $brand;

  // Typography
  color: white;
  // Other

   i {
    // Mixins

    // Box properties
    display: inline-block;
    margin-bottom: $grid / 4;
    // Background & borders

    // Typography
    font-size: $grid / 1.5;
    // Other

  }

   @media screen and (min-width: $desktop) {
    // Mixins
    @include circle_with_text;
    @include small_title;
    // Box properties
    width: $grid * 2.5;
    height: $grid * 2.5;
    margin:  0 auto $grid / 2;
    // Background & borders
    background: $brand;

    // Typography
    color: white;
    // Other
  }

}

h3 {
  // Mixins

  // Box properties
  margin-bottom: $grid / 4;
  // Background & borders

  // Typography
  color: $quiet;
  text-align: left;
  // Other

}

// Forms

  .form_row.checkbox {
    // Mixins

    // Box properties
    width: 75%;
    float: left;
    padding: $grid / 4;
    // Background & borders

    // Typography

    // Other

  }

  form {
    // Mixins

    // Box properties

    // Background & borders

    // Typography

    // Other

  }

  label:not(.checkbox) {
    // Mixins

    // Box properties

    // Background & borders

    // Typography

    // Other

  }

  label.checkbox {
    // Mixins

    // Box properties

    // Background & borders

    // Typography
    color: $quiet;
    // Other
    cursor: pointer;
    &.small {
      font-size: .7em;
    }
  }

  input + label {

  }

  input[type=text],
  input[type=password],
  input[type=email] {
    // Mixins

    // Box properties

    // Background & borders
    background-color: white;
    // Typography
    color: $text;
    // Other

    &:focus {
      // Mixins

      // Box properties

      // Background & borders
      background-color: white;
      // Typography
      color: $text;
      // Other

    }
  }

  input[type=search] {
    // Mixins

    // Box properties

    // Background & borders

    // Typography

    // Other

  }

  ::-webkit-input-placeholder {

  }

  :-moz-placeholder { /* Firefox 18- */

  }

  ::-moz-placeholder {  /* Firefox 19+ */

  }

  :-ms-input-placeholder {

  }


  [placeholder]:focus::-webkit-input-placeholder {

  }

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { }

  input[type=checkbox] {
    // Mixins

    // Box properties

    // Background & borders

    // Typography

    // Other
  }

  select {
    // Mixins

    // Box properties

    // Background & borders
    background-color: white !important;
    // Typography

    // Other

    &:hover {

    }

    &:focus {

    }
  }
