<form name="resourceForm" class="resource-form" novalidate>
  <fieldset>
    <legend ng-if="resourceType === 'document'">Add PDF</legend>
    <legend ng-if="resourceType === 'video'">Add Video</legend>
    <!-- Title Field -->
    <div class="row">
      <div class="large-12 columns">
        <label for="resource_title">Title</label>
        <span ng-show="errorMessage('title')" class="radius alert label">{{errorMessage('title')}}</span>
        <input ng-model="resource.title" name="title" id="resource_title" type="text" />
      </div>
    </div>
    <!-- Tag Line Field -->
    <div class="row">
      <div class="large-12 columns">
        <label for="resource_tag_line">Tag Line</label>
        <input ng-model="resource.tag_line" name="tag_line" id="resource_tag_line" type="text" />
      </div>
    </div>
    <!-- Position Field -->
    <div class="row">
      <div class="large-12 columns">
        <label for="resource_position">Position</label>
        <input ng-model="resource.position" name="position" id="resource_position" type="text" />
      </div>
    </div>
    <!-- Topic Field -->
    <div class="row">
      <div class="large-12 columns">
        <label for="resource_topic_id">Topic</label>
        <select ng-model="resource.topic_id" ng-options="topic.properties.id as topic.properties.title for topic in topics"></select>
      </div>
    </div>
    <!-- Video File Upload Field -->
    <div class="row" ng-if="resourceType === 'video'">
      <div class="large-12 columns">
        <label>Choose a Video File</label>
        <small>Files must be .mp4 format</small>
        <span ng-show="errorMessage('file_original_path')" class="radius alert label">{{errorMessage('file_original_path')}}</span>
        <input ng-model="resource.file_original_path" name="file_original_path" id="resource_file_original_path" type="text" ng-required="true" />
        <ng-s3-file-upload data="resource.file_original_path" config="/u/uploader_config.json?mode=resource_attachment" show-progress="1" auto-upload="1"></ng-s3-file-upload>
      </div>
    </div>
    <div class="row" ng-if="resourceType === 'video'">
      <div class="large-12 columns">
        <label for="resource_youtube_id">Youtube link alternative:</label>
        <input ng-model="resource.youtube_id" name="youtube_id" id="resource_youtube_id" type="text" class="text-inline-field" />
      </div>
    </div>
    <!-- Document File Upload Field -->
    <div class="row" ng-if="resourceType === 'document'">
      <div class="large-12 columns">
        <label>Choose a PDF File</label>
        <span ng-show="errorMessage('file_original_path')" class="radius alert label">{{errorMessage('file_original_path')}}</span>
        <input ng-model="resource.file_original_path" name="file_original_path" id="resource_file_original_path" type="text" ng-required="true" />
        <ng-s3-file-upload data="resource.file_original_path" config="/u/uploader_config.json?mode=resource_attachment" show-progress="1" auto-upload="1"></ng-s3-file-upload>
      </div>
    </div>
    <!-- Thumbnail File Upload Field -->
    <div class="row">
      <div class="large-12 columns">
        <label>Choose a thumbnail</label>
        <input ng-model="resource.image_original_path" name="image_original_path" id="resource_image_original_path" type="text" />
        <ng-s3-file-upload data="resource.image_original_path" config="/u/uploader_config.json?mode=resource_image" show-progress="1" auto-upload="1"></ng-s3-file-upload>
      </div>
    </div>
    <!-- Description Text Area -->
    <div class="row">
      <div class="large-12 columns">
        <label for="resource_description">Description</label>
        <span ng-show="errorMessage('description')" class="radius alert label">{{errorMessage('description')}}</span>
        <textarea ng-model="resource.description" name="description" id="resource_description"></textarea>
      </div>
    </div>
    <!-- Publish Now Checkbox -->
    <div class="row">
      <div class="large-12 columns">
        <input type="checkbox" name="is_public" id="resource_is_public" ng-model="resource.is_public"> <label for="resource_is_public">Publish</label>
      </div>
    </div>
    <!-- Submit/Cancel Buttons -->
    <div class="row">
      <div class="large-12 columns">
        <a ng-click="cancel()" class="button secondary left">Cancel</a>
        <!-- "Add" buttons -->
        <input ng-if="resourceType === 'document' && mode === 'new'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="create()" value="Add PDF" />
        <input ng-if="resourceType === 'video' && mode === 'new'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="create()" value="Add Video" />
        <!-- "Update" buttons -->
        <input ng-if="resourceType === 'document' && mode === 'edit'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="update()" value="Update PDF" />
        <input ng-if="resourceType === 'video' && mode === 'edit'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="update()" value="Update Video" />
      </div>
    </div>
  </fieldset>
</form>
