<main class="pow-admin-resources">

  <div class="row">
    <div class="large-6 columns">
      <h2>Library ({{itemsPaging.item_count}})</h2>
    </div>
    <div class="large-6 columns">
      <a ng-href="/admin/resources/new/video" class="right button">Add Video</a>
      <a ng-href="/admin/resources/new/document" class="right button">Add PDF</a>
      <a data-dropdown="searchDrop" class="right button secondary">Search</a>
      <div id="searchDrop" class="f-dropdown content" data-dropdown-content>
        <form name="searchForm" ng-submit="search()" novalidate>
          <input ng-model="searchText" type="text" placeholder="SEARCH">
          <input class="button postfix" type="submit" value="Go">
        </form>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
            <th width="150">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td>{{item.properties.id}}</td>
            <td><a ng-href="/admin/resources/{{item.properties.id}}/edit">{{item.properties.title}}</a></td>
            <td>{{item.properties.is_public ? 'active' : 'hidden'}}</td>
            <td>
              <a ng-href="/admin/resources/{{item.properties.id}}/edit">edit</a>
              &nbsp;|&nbsp;
              <a ng-click="confirm('Are you sure you want to delete this file?', 'delete', item)" class="manage-link">delete</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination" ng-if="itemsPaging.page_count > 1">
        <a ng-click="pagination(-1)" ng-if="itemsPaging.current_page > 1" class="prev">< Prev</a>
        <a ng-click="pagination(1)" ng-if="itemsPaging.current_page < itemsPaging.page_count" class="next">Next ></a>
      </div>
    </div>
  </div>
</main>
