<table class="index-table">
  <thead>
    <tr>
      <th>ID <powur-sorter control="index" field="id"></powur-sorter></th>
      <th>Thumbnail</th>
      <th>Topic <powur-sorter control="index" field="topic_id"></powur-sorter></th>
      <th>Position <powur-sorter control="index" field="position"></powur-sorter></th>
      <th>Status <powur-sorter control="index" field="is_public"></powur-sorter></th>
      <th>Posted <powur-sorter control="index" field="id"></powur-sorter></th>
      <th width="150">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>{{item.properties.id}}</td>
      <td>
        <div class="position-relative">
          <ng-include src="'library/resource-item.html'"></ng-include>
        </div>
      </td>
      <td>{{item.properties.topic.title}}</td>
      <td>{{item.properties.position}}</td>
      <td>{{item.properties.is_public ? 'active' : 'hidden'}}</td>
      <td>
        {{item.properties.user_name}}<br>
        {{item.properties.created_at | date:'MM/dd/yyyy @ h:mma'}}
      </td>
      <td>
        <a ng-href="/admin/resources/{{item.properties.id}}/edit">edit</a>
        &nbsp;|&nbsp;
        <a ng-click="confirm('Are you sure you want to delete this file?', 'delete', item)" class="manage-link">delete</a>
      </td>
    </tr>
  </tbody>
</table>
