<ng-include src="'<%= asset_path("shared/header-signed-in.html") %>'"></ng-include>

<main class="sun-profile">

  <div class="row">
    <div class="large-12 columns">
      <h3>Profile page</h3>
    </div>
  </div>
</main>

<ng-include src="'<%= asset_path("shared/footer-signed-in.html") %>'"></ng-include>
