<ng-include src="'<%=asset_path("shared/header-admin.html") %>'"></ng-include>

<main class="sun-admin-user-groups">
  <div class="row">
    <div class="large-4 columns">
      <a ng-click="cancel()" class="button">Back</a>
    </div>
    <div class="large-8 columns">
      <h2>{{userGroup.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <ng-include src="'<%=asset_path("shared/admin/user-group-menu.html") %>'"></ng-include>
    </div>

    <div class="large-8 columns">
      <div class="tabs-content">
        <div>
          <h3>Bonuses</h3>
          <div class="row">
            <div class="large-12 columns">
              <!-- Notice If No Bonuses in Group -->
              <p ng-if="!bonuses.length">
                This User Group has no bonuses.
              </p>
              <!-- Table If Bonuses in Group -->
              <table ng-if="bonuses.length">
                <thead>
                  <tr>
                    <th>Bonus Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="bonus in bonuses">
                    <td>{{bonus.properties.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
