<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'admin/users.js' %>
  <%= stylesheet_link_tag 'admin/users.css' %>
<% end %>

<section id="admin" class="dashboard_section admin">
  <div class="section_body">
    <div class="section_content">
      <div class="js-admin_dashboard_column summary"></div>

      <div class="js-admin_dashboard_column detail">
        <nav class="section_nav">
          <a href="#admin-users-membership" class="js-active">Membership</a>
          <a href="#admin-users-sales">Sales</a>
          <a href="#admin-users-genealogy">Genealogy</a>
          <a href=""><input type="search" class="section_search js-search_box" data-search-source="u/quotes"></a>
        </nav>

        <div class="js-dashboard_section_indicator second_level"></div>
        <div class="js-admin_dashboard_detail_container"></div>
      </div>
    </div>
  </div>
</section>
