<% content_for :javascript_includes do %>
    <%= javascript_include_tag "admin.js" %>
<% end %>

<style>
    body#application{
        padding-top:108px;
    }
    body#application header{
        height:108px;
        z-index:20;
    }

    .full{
        overflow: hidden;
    }
    .promoter_info.contact{
        padding:32px 32px 0 0;
        margin: 0 0 0 32px;
    }

    .dashboard_section_indicator{
        position:absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 30px 15px;
        top:-15px;
        left:600px;
        z-index:50;
        border-color: transparent transparent #f7f7f9 transparent;}
        .dashboard_section_indicator.sub{
            border-color: transparent transparent #fff transparent;}


    .js-admin_dashboard_column{
        height: 100%;
        min-height: 200px;
        margin: 0;
        padding: 32px;
        padding-top:48px;
        position: relative;
        float:left;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;}
        .js-admin_dashboard_column.summary{
            width: 192px;}
        .js-admin_dashboard_column.detail{
             width: 960px;}
        .js-admin_dashboard_column.detail nav{
            padding-left:16px;
            text-align: left;}
        .js-admin_dashboard_column.detail nav a{
            color:#cecece;
            text-transform: uppercase;
            font-family: "Varela";
            font-weight: 100;
            font-size:15px;
            margin-right:40px;}
        .js-admin_dashboard_column.detail nav a.js-active{
            color:#20c2f1;}
 

    .js-admin_dashboard_detail_content{
        position: relative;
        background:#fff;
        min-height: 300px;
        margin-top:16px;
        padding:16px;}            

    #subheader_bar{
        height:10px;
        position: relative;}

    .dashboard_section.admin{
        background:#f7f7f9;}

     .subtext.summary{
        text-align: left;
        padding-bottom:40px;
        font-size: 14px;}
        .subtext.summary ul{
            list-style: none;
            white-space:nowrap;
        }

</style>


<section id="subheader_bar">
    <div class="dashboard_section_indicator"></div>
</section>

<section id="admin" class="dashboard_section admin">

    <div class="section_body">
        <div class="section_content">
            <div class="js-admin_dashboard_column summary">
            </div>
            
            <div class="js-admin_dashboard_column detail">
                <nav>
                    <a href="" class="js-active">Membership</a>
                    <a href="">Sales</a>
                    <a href="">Genealogy</a>
                    <a href="">Activity</a>
                </nav>

                <div class="js-admin_dashboard_detail_content">
                    <div class="dashboard_section_indicator sub"></div>

                    <nav>
                        <a href="" class="js-active">Basic Info</a>
                        <a href="">Pay Out History</a>
                    </nav>
                </div>

                
            </div>
        </div>
    </div>
</section>



    