

{{#if this.id}}
	<div class="new_thumbnail">
		<div class="js-thumbnail js-new_invite_thumbnail" >
			<img class="advocate_avatar" src="/temp_dev_images/Tim.jpg"/>

			<span>{{this.first_name}} {{this.last_name}}</span>
			<span class="subtext">
				<span class="js-expiration"	data-expiration-hour="{{this.expiration.hour}}" 
												data-expiration-minute="{{this.expiration.minute}}"
												data-expiration-day="{{this.expiration.day}}"
												data-expiration-month="{{this.expiration.month}}"
												data-expiration-year="{{this.expiration.year}}">
				Expires in <span class="js-expiration-hours"></span>:<span class="js-expiration-minutes"></span>:<span class="js-expiration-seconds"></span>
			</span>
				<span class="badge">Renew</span>
				<span class="badge">Release</span>
			</span>
			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>
{{else}}
	<div class="new_thumbnail js-new_invite_thumbnail js-empty_seat">
		<div class="js-thumbnail" >
			<span class="placeholder_avatar">
			</span>
			<span>Empty</span>
			<span class="subtext">Invite someone</span>
			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>
{{/if}}



	




