<div class="arrow"></div>
<div class="drilldown_content">

	<div class="drilldown_content_section summary">
		Please enter the required information 

	</div>

	<div class="drilldown_content_section">

		<form id="new_promoter_invitation_form" class="main" >
				<h4>Contact Info</h4>

				<span class="form_row">
					<label for="first_name">First Name</label>
					<input type="text" name="first_name" placeholder="First Name">
				</span>
				<span class="form_row">
					<label for="last_name">Last Name</label>
					<input type="text" name="last_name" placeholder="Last Name">
				</span>
				<span class="form_row">
					<label for="email">Email</label>
					<input type="text" name="email" placeholder="Email Address">
				</span>					
				<span class="form_row">
					<label for="phone">Phone</label>
					<input type="text" name="phone" placeholder="Phone Number">
				</span>
				<span class="button">Send Invitation</a>

		</form>

		<div id="invite_actions" class="sidebar">
			<h4>Invite Code</h4>
			<span class="invite_code">C3P0</span>
			<span class="subtext">Copy and paste, or:</span>
			<span class="button">Invite via SMS</span>
			<span class="button">Invite via email</span>
		</div>

	</div>		

</div>




