

{{#if this.id}}

	<div class="new_thumbnail js-new_invite_thumbnail">
		<div class="js-thumbnail" >
			<img class="advocate_avatar" src="/temp_dev_images/Tim.jpg"/>

			<span>{{this.first_name}} {{this.last_name}}</span>
			<span class="subtext">
				<span class="js-expiration"	data-expiration-timestamp="{{this.expires}}">
				Expires in <span class="js-expiration-hours"></span>:<span class="js-expiration-minutes"></span>:<span class="js-expiration-seconds"></span>
			</span>
			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>


{{else}}
	<div class="new_thumbnail js-new_invite_thumbnail js-empty_seat">
		<div class="js-thumbnail" >
			<span class="placeholder_avatar">
			</span>
			<span>Empty</span>
			<span class="subtext">Invite someone</span>
			<span class="expand">
				<i class="fa fa-angle-down"></i>
			</span>
		</div>
	</div>
{{/if}}



	




