<div class="arrow"></div>
<div class="drilldown_content">
	{{#compare invitationType "New" operator="=="}}
	<div class="drilldown_content_section summary">
		<h4>New Invite</h4> 
		<p class="subtext">Enter in a name and an email address or phone number to generate a new invite code.</p>
		<p class="subtext">Invite codes expire after 48 hours. You can renew or release invite codes to either extend or cancel the invitation.</p>
	</div>

	<div class="drilldown_content_section">

		<form id="new_promoter_invitation_form" class="main">
				<h4>Contact Info</h4>

				<span class="form_row">
					<label for="first_name">First Name</label>
					<input type="text" name="first_name" placeholder="First Name">
				</span>
				<span class="form_row">
					<label for="last_name">Last Name</label>
					<input type="text" name="last_name" placeholder="Last Name">
				</span>
				<span class="form_row">
					<label for="email">Email</label>
					<input type="text" name="email" placeholder="Email Address">
				</span>					
				<span class="form_row">
					<label for="phone">Phone</label>
					<input type="text" name="phone" placeholder="Phone Number">
				</span>
				<button type="button" class="button">Generate Invite Code</button>

		</form>

		<div id="invite_actions" class="sidebar">
			<h4>Invite Code</h4>
			<span class="invite_code">C3P0</span>
			<span class="subtext">Copy and paste, or send invite:</span>
			<span class="button disabled">By SMS</span>
			<span class="button">By email</span>
		</div>

	</div>
	{{else}}
	<div class="drilldown_content_section summary">
		<h4>Pending Invite</h4> 
		<p class="subtext">Enter in a name and an email address or phone number to generate a new invite code.</p>
		<p class="subtext">Invite codes expire after 48 hours. You can renew or release invite codes to either extend or cancel the invitation.</p>
	</div>

	<div class="drilldown_content_section">

		<form id="new_promoter_invitation_form" class="main">
				<h4>Contact Info</h4>

				<span class="form_row">
					<label for="first_name">First Name</label>
					<input type="text" name="first_name" placeholder="First Name" value="{{first_name}}">
				</span>
				<span class="form_row">
					<label for="last_name">Last Name</label>
					<input type="text" name="last_name" placeholder="Last Name" value="{{last_name}}">
				</span>
				<span class="form_row">
					<label for="email">Email</label>
					<input type="text" name="email" placeholder="Email Address" value="{{email}}">
				</span>					
				<span class="form_row">
					<label for="phone">Phone</label>
					<input type="text" name="phone" placeholder="Phone Number" value="{{phone}}">
				</span>
				<button type="button" class="button">Generate Invite Code</button>

		</form>

		<div id="invite_actions" class="sidebar">
			<h4>Invite Code</h4>
			<span class="invite_code">C3P0</span>
			<span class="subtext">Copy and paste, or send invite:</span>
			<span class="button disabled">By SMS</span>
			<span class="button">By email</span>
		</div>

	</div>		
	{{/compare}}
</div>




