<!-- Header -->
<ng-include src="'shared/header-signed-in.html'"></ng-include>

<main class="powur-dashboard">

  <!-- Welcome Section -->

  <!-- QUIRK: Dandelion background extends to 100% width on large screens-->
  <div class="row">
    <div class="bg welcome-section large-12 columns"></div>
  </div>

  <div class="row">
  <!-- Welcome Content -->
    <div class="welcome-section large-12 columns">
      <ng-include src="'dashboard/templates/sections/welcome.html'"></ng-include>
    </div>
  </div>

  <!-- Social Media Share Quote Section -->

  <!-- QUIRK: Gray background extends to 100% width on large screens -->
  <div class="row">
    <div class="bg social-media-section large-12 columns show-for-medium-up"></div>
  </div>

  <div class="row">
    <!-- Social Media Share Quote Content -->
    <div class="social-media-section large-12 columns">
      <ng-include src="'dashboard/templates/sections/social-media.html'"></ng-include>
    </div>
  </div>

  <!-- KPI Section -->
  <div class="row">
    <div class="kpi-section large-12 columns">
      <ng-include ng-controller="DashboardKPICtrl" src="'dashboard/templates/sections/kpi/show.html'"></ng-include>
    </div>
  </div>

  <!-- My Customers Section -->
  <div class="row">
    <div class="customers-section large-12 columns" ng-controller="DashboardCustomersCtrl">
      <ng-include  src="'dashboard/templates/sections/customers.html'"></ng-include>
    </div>
  </div>

  <!-- My Team Section -->
  <div class="row">
    <div class="team-section large-12 columns">
      <ng-include ng-controller="DashboardTeamCtrl" src="'dashboard/templates/sections/team.html'"></ng-include>
    </div>
  </div>

</main>

<!-- Footer -->
<ng-include src="'shared/footer-signed-in.html'"></ng-include>
