<div class="counter">
  <ul layout="row" layout-align="start center" class="fadeIn">
    <li flex="25" layout="column" layout-align="center center">
      <div class="label kpi">sent</div>
      <div layout="row" layout-align="center center"><i class="sprite sprite-sent"></i><span class="count">{{ invite.listProps.sent }}</span></div>
    </li>
    <li flex="25" layout="column" layout-align="center center">
      <div class="label kpi">initiated</div>
      <div layout="row" layout-align="center center"><i class="sprite sprite-initiated"></i><span class="count">{{ invite.listProps.initiated }}</span></div>
    </li>
    <li flex="25" layout="column" layout-align="center center">
      <div  class="label kpi">ineligible location</div>
      <div layout="row" layout-align="center center"><i class="sprite sprite-ineligible"></i><span class="count">{{ invite.listProps.ineligible_location }}</span></div>
    </li>
    <li flex="25" layout="column" layout-align="center center">
      <div class="label kpi">accepted</div>
      <div layout="row" layout-align="start center"><i class="sprite sprite-accepted"></i><span class="count">{{ invite.listProps.accepted }}</span></div>
    </li>
  </ul>
</div>

<div class="invite-list-bg">
  <md-toolbar>
    <h3>
      <md-button ng-class=" { 'active': !invite.filters.status }" ng-click="invite.filter('')">All</md-button>
      <md-button ng-class=" { 'active': invite.filters.status === 'sent' }" ng-click="invite.filter('sent')" ng-show="invite.listProps.sent">Sent</md-button>
      <md-button ng-class=" { 'active': invite.filters.status === 'initiated' }" ng-click="invite.filter('initiated')" ng-show="invite.listProps.initiated">Initiated</md-button>
      <md-button ng-class=" { 'active': invite.filters.status === 'ineligible_location' }" ng-click="invite.filter('ineligible_location')" ng-show="invite.listProps.ineligible_location">Ineligible</md-button>
    </h3>
  </md-toolbar>

  <div layout="row" layout-wrap class="invite-list" pw-scrolled="invite.invites">
    <a href="javascript:void(0);" ng-click="invite.addInvite($event)">
      <div class="invite-item">
        <div class="invite-bg ellipse"></div>
        <span class="add counter">
          <i class="sprite sprite-invite"></i>
          <div class="label hoverable">Click to <b>Invite</b></div>
        </span>
      </div>
    </a>

    <div ng-repeat="item in invite.list">
      <div class="invite-item solar" ng-click="invite.showInvite($event, item)" id="{{item.properties.id}}">
        <div class="invite-bg" ng-class="item.properties.status"></div>
        <div class="text-box" flex layout="column" layout-align="start center">
          <div class="icon" ng-class="item.properties.status"></div>
          <div class="full-name">
            {{item.properties.first_name | truncateName}} <b>{{item.properties.last_name | truncateName}}</b>
          </div>
          <div class="est">EST. {{item.properties.updated_at | date: 'M/d/yy'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
