<div class="counter">
  <ul layout="row" layout-align="start center" class="fadeIn">
    <li flex="25" layout="column" layout-align="center center">
      <div class="label kpi">available</div>
      <div layout="row" layout-align="center center"><i class="sprite sprite-available"></i><span class="count">{{ invite.unlimitedInvites ? '∞' : invite.available }}</span></div>
    </li>
    <li flex="25" layout="column" layout-align="center center">
      <div class="label kpi">pending</div>
      <div layout="row" layout-align="center center"><i class="sprite sprite-pending"></i><span class="count">{{ invite.pending }}</span></div>
    </li>
    <li flex="25" layout="column" layout-align="center center">
      <div class="label kpi">expired</div>
      <div layout="row" layout-align="center center"><i class="sprite sprite-expired"></i><span class="count">{{ invite.expired }}</span></div>
    </li>
    <li flex="25" layout="column" layout-align="center center">
      <div class="label kpi">accepted</div>
      <div layout="row" layout-align="center center"><i class="sprite sprite-accepted"></i><span class="count">{{ invite.accepted }}</span></div>
    </li>
  </ul>
</div>

<div class="invite-list-bg">
  <md-toolbar>
    <h3>
      <md-button ng-class=" { 'active': !invite.filters.status }" ng-click="invite.filter('')">All</md-button>
      <md-button ng-class=" { 'active': invite.filters.status === 'pending' }" ng-click="invite.filter('pending')">Pending</md-button>
      <md-button ng-class=" { 'active': invite.filters.status === 'expired' }" ng-click="invite.filter('expired')">Expired</md-button>
    </h3>
  </md-toolbar>

  <div layout="row" layout-wrap class="invite-list" pw-scrolled="invite.invites">
    <a href="javascript:void(0);" ng-click="invite.addInvite(item, $event)" ng-show="{{invite.available}}">
      <div class="invite-item">
        <div class="invite-bg ellipse"></div>
        <span class="add counter">
          <i class="sprite sprite-invite"></i>
          <div class="label hoverable">Click to <b>Invite</b></div>
        </span>
      </div>
    </a>

    <div ng-repeat="item in invite.list track by $index">
      <div class="invite-item" ng-class="{ 'expired': !item.properties.time_left }">
        <div class="invite-bg"></div>
        <div ng-hide="item.properties.time_left" class="warning-bg"></div>
        <canvas ng-show="item.properties.time_left" id="pie-{{item.properties.id}}" width="170" height="170"></canvas>
        <div class="text-box" flex layout="column" layout-align="start center">
          <div ng-show="item.properties.time_left" class="time">{{ invite.dateFormat(item, 'H:mm') }}<span class="superscript">{{ invite.dateFormat(item, 'ss')  }}</span></div>
          <div class="exp-label">EXPIRED</div>
          <div class="full-name">
            {{item.properties.first_name | truncateName}} <b>{{item.properties.last_name | truncateName}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
