<div class="counter">
  <ul layout="row" layout-align="center center" class="fadeIn">
    <li flex="25" ng-click="invite.filter('sent')" layout="column" layout-align="center center">
      <div layout="row" layout-align="center center"><i class="sprite sprite-sent"></i><span class="count">{{ invite.listProps.sent }}</span></div>
      <div class="label kpi">sent</div>
    </li>
    <li flex="25" ng-click="invite.filter('initiated')" layout="column" layout-align="center center">
      <div layout="row" layout-align="center center"><i class="sprite sprite-initiated"></i><span class="count">{{ invite.listProps.initiated }}</span></div>
      <div class="label kpi">initiated</div>
    </li>
    <li flex="25" ng-click="invite.filter('ineligible_location')" layout="column" layout-align="center center">
      <div layout="row" layout-align="center center"><i class="sprite sprite-ineligible"></i><span class="count">{{ invite.listProps.ineligible_location }}</span></div>
      <div class="label kpi">ineligible location</div>
    </li>
    <li flex="25" ng-click="invite.filter('accepted')" layout="column" layout-align="center center">
      <div layout="row" layout-align="center center"><i class="sprite sprite-accepted"></i><span class="count">{{ invite.listProps.accepted }}</span></div>
      <div class="label kpi">accepted</div>
    </li>
  </ul>
</div>

<div layout="row" layout-wrap layout-align="center start" class="invite-list bg">
  <a href="javascript:void(0);" ng-click="invite.addInvite(item, $event)">
    <div class="invite-item ellipse">
      <span class="add counter">
        <i class="sprite sprite-invite"></i>
        <div class="label hoverable">Click to <b>Invite</b></div>
      </span>
    </div>
  </a>

  <div ng-repeat="item in invite.list track by $index">
    <div class="invite-item solar">
      <div class="invite-bg" ng-class="item.properties.status"></div>
      <canvas id="pie-{{$index}}" width="170" height="170"></canvas>
      <div class="text-box" flex layout="column" layout-align="start center">
        <div class="icon" ng-class="item.properties.status"></div>
        <div class="full-name">
          {{item.properties.first_name | truncateName}} <b>{{item.properties.last_name | truncateName}}</b>
        </div>
        <div class="est">EST. {{item.properties.updated_at | date: 'M/d/yy'}}</div>
      </div>
    </div>
  </div>
</div>