<md-dialog aria-label="Invite" class="pw-dialog show">
  <div class="side-bg"></div>
    <div layout="row" layout-align="end start"><a href="#" class="close" ng-click="dialog.cancel()"><i class="sprite sprite-close"></i></a></div>
    <md-dialog-content layout="column">
      <div class="full-name">{{dialog.invite.properties.first_name}}<b> {{dialog.invite.properties.last_name}}</b></div>
      <div class="detail">{{dialog.invite.properties.phone | formatPhoneNumber }}</div>
      <div class="detail">{{dialog.invite.properties.email}}</div>
      <br>
      <md-button class="md-primary md-raised" ng-click="dialog.parentCtrl.inviteUpdate($event,dialog.invite)">Edit</md-button>
      <br>
      <md-content layout="column" class="link-wrap">
        <div class="header">Invite Link: </div>
        <input class="link" value="{{dialog.showLink(dialog.invite.properties, 'grid')}}" readonly>
      </md-content>
      <md-content layout="row" class="info-wrap">
        <div class="info-box">
          <div class="icon sent"></div>
          <div class="header">invitation date</div>
          <div class="detail">{{dialog.invite.properties.created_at | date: 'MMM d, yyyy'}}</div>
        </div>
        <div class="info-box" ng-if="dialog.invite.properties.last_viewed_at">
          <div class="icon viewed"></div>
          <div class="header">last viewed</div>
          <div class="detail">{{(dialog.invite.properties.last_viewed_at | date: 'MMM d, yyyy') || '---'}}</div>
        </div>
      </md-content>
      <md-content layout="column" class="status-wrap">
        <div ng-if="dialog.invite.properties.email_data">{{ dialog.invite.properties.email_data.state_description }}</div>
      </md-content>
      <br>
      <md-button ng-if="!dialog.invite.properties.time_left" class="md-primary md-raised" ng-disabled="dialog.resend.submitting" ng-click="dialog.resendInvite()">Resend</md-button>
      <md-button class="md-warn md-raised" ng-click="dialog.remove()" ng-disabled="dialog.delete.submitting">Delete</md-button>
    </md-dialog-content>
</md-dialog>
