<div class="invite-popup show">
  <md-dialog aria-label="Invite" class="dialog">
    <div class="side-bg"></div>
      <div layout="row" layout-align="end start"><a href="#" class="close" ng-click="dialog.cancel()"><i class="sprite sprite-close"></i></a></div>
      <md-dialog-content layout="column">
        <div class="full-name">{{dialog.invite.properties.first_name}}<b> {{dialog.invite.properties.last_name}}</b></div>
        <div class="detail">{{dialog.invite.properties.phone}}</div>
        <div class="detail">{{dialog.invite.properties.email}}</div>
        <div class="link" ng-click="dialog.showLink($event, dialog.invite.properties); shown = true" ng-class="{'shown': shown }">SHOW INVITE LINK</div>
        <md-button class="md-primary md-raised" ng-click="dialog.parentCtrl.inviteUpdate($event,dialog.invite)">Edit</md-button>
        <md-content layout-padding layout="row" class="info-wrap">
          <div class="info-box">
            <div class="icon sent"></div>
            <div class="header">invitation date</div>
            <div class="detail">{{dialog.invite.properties.created_at | date: 'MMM d, yyyy'}}</div>
          </div>
          <div class="info-box">
            <div class="icon viewed"></div>
            <div class="header">last viewed</div>
            <div class="detail">{{(dialog.invite.properties.viewed_at | date: 'MMM d, yyyy') || '---'}}</div>
          </div>
        </md-content>
        <md-content layout-padding layout="column" class="status-wrap">
          <div class="header">Time Remaining</div>
          <div ng-if="dialog.invite.properties.time_left" class="timer">{{ dialog.parentCtrl.dateFormat(dialog.invite, 'H') }} hours : {{ dialog.parentCtrl.dateFormat(dialog.invite, 'mm') }} minutes</div>
          <div ng-if="!dialog.invite.properties.time_left" class="timer">expired</div>
        </md-content>
        <md-button ng-if="!dialog.invite.properties.time_left" class="md-primary md-raised" ng-click="dialog.resendInvite()">Resend</md-button>
        <md-button class="md-warn md-raised" ng-click="dialog.remove()">Delete</md-button>
      </md-dialog-content>
  </md-dialog>
</div>
