<main class="pow-admin-edit">
  <div class="row">
    <div class="large-12 columns">
      <h2>Edit Password</h2>

      <form novalidate>
        <fieldset>
          <div class="row">
            <div class="large-12 columns">
              <label for="user_password">Password</label>
              <input ng-model="formValues.password" name="password" id="user_password" type="text" />
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <label for="user_password_confirm">Password Confirmation</label>
              <input ng-model="formValues.password_confirm" name="password_confirm" id="user_password_confirm" type="text" />
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <a ng-click="cancel()" class="button secondary">Cancel</a>
              <input class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="update()" value="Update">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</main>
