<form>
  <fieldset>
    <legend ng-if="mode === 'edit'">Edit User</legend>
    <!-- User Form -->
    <div ng-repeat="field in formAction.fields" class="row">
      <div class="large-12 columns">
        <label for="{{field.name}}">{{field.name}}</label>
        <!-- String Inputs -->
        <input ng-model="user[field.name]" ng-if="field.type === 'text'" type="text" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}">
        <!-- Email Inputs -->
        <input ng-model="user[field.name]" ng-if="field.type === 'email'" type="email" name="{{field.name}}" id="{{field.name}}" value="{{field.value}}">
        <!-- Text Area Inputs -->
        <!-- <textarea ng-model="user[field.name]" ng-if="field.type === 'text'" name="{{field.name}}" id="{{field.name}}">{{field.value}}</textarea> -->
        <!-- Boolean -->
        <input ng-model="user[field.name]" ng-if="field.type === 'boolean'" type="checkbox" name="{{field.name}}" id="{{field.name}}">
        <label ng-if="field.type === 'boolean'" for="{{field.name}}">Publish Now</label>
      </div>
    </div>
    <!-- Delete Button -->
<!--     <input ng-if="mode === 'edit'" class="tiny button understated right" ng-disabled="isSubmitDisabled" type="submit" ng-click="delete(userObj)" value="Delete User" /> -->
    <!-- Submit/Cancel Buttons -->
    <div class="row">
      <div class="large-12 columns">
        <a ng-click="cancel()" class="button secondary">Cancel</a>
        <input ng-if="mode === 'edit'" class="button" ng-disabled="isSubmitDisabled" type="submit" ng-click="update()" value="Update User" />
      </div>
    </div>
  </fieldset>
</form>