<form>
  <fieldset>
    <legend>Edit User</legend>

    <!-- First/Last Name -->
    <div class="row collapse">
      <div class="large-6 columns">
        <label for="first_name">First Name</label>
        <input ng-model="formValues.first_name" type="text" ng-value="{{formValues.first_name}}"></input>
      </div>
      <div class="large-6 columns">
        <label for="last_name">Last Name</label>
        <input ng-model="formValues.last_name" type="text" value="{{formValues.last_name}}"></input>
      </div>
    </div>
    <!-- Street Address -->
    <div class="row">
      <div class="large-12 columns">
        <label for="address">Street Address and Unit Number</label>
        <input ng-model="formValues.address" type="text" value="{{formValues.address}}"></input>
      </div>
    </div>
    <!-- City/State/ZIP -->
    <div class="row collapse">
      <div class="large-4 columns">
        <label for="city">City</label>
        <input ng-model="formValues.city" type="text" ng-value="{{formValues.city}}"></input>
      </div>
      <div class="large-4 columns">
        <label for="state">State</label>
        <select ng-model="formValues.state">
          <option disabled>Select a State</option>
          <option ng-repeat="(key, value) in states" value="{{value}}" ng-selected="value === formValues.state">{{key}}</option>
        </select>
      </div>
      <div class="large-4 columns">
        <label for="zip">ZIP Code</label>
        <input ng-model="formValues.zip" type="text" ng-value="{{formValues.zip}}"></input>
      </div>
    </div>
    <!-- Phone/Email -->
    <div class="row collapse">
      <div class="large-6 columns">
        <label for="phone">Phone</label>
        <input ng-model="formValues.phone" type="text" ng-value="{{formValues.phone}}"></input>
      </div>
      <div class="large-6 columns">
        <label for="email">Email</label>
        <input ng-model="formValues.email" type="text" ng-value="{{formValues.email}}"></input>
      </div>
    </div>
    <!-- Update/Cancel Buttons -->
    <div class="row">
      <div class="large-12 columns">
        <a class="button secondary" ng-click="cancel()">Cancel</a>
        <a class="button" ng-click="update()">Update User</a>
      </div>
    </div>
  </fieldset>
</form>