<main class="sun-admin-users">

  <div class="row">
    <div class="large-8 columns">
      <h2>Users</h2>
    </div>
    <div class="large-4 columns">
      <!-- Search -->
      <form>
        <div class="row collapse">
          <div class="large-9 columns">
            <input ng-model="userSearch.search" name="search" type="search" placeholder="Search for User">
          </div>
          <div class="large-3 columns">
            <button class="postfix radius button" ng-click="search()">Go</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Info Panel -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
      <p>Use the search tool to find users.</p>
      </div>
    </div>
  </div>
  <!-- Users Content -->
  <div class="row">
    <div class="large-12 columns">
      <table width="100%">
        <thead>
          <tr>
            <th class="hide-for-small" width="40">ID</th>
            <th>Name</th>
            <th width="150">Email</th>
            <th class="hide-for-small" width="150">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td class="hide-for-small">{{user.properties.id}}</td>
            <td><a ng-href="/admin/users/{{user.properties.id}}">{{user.properties.first_name}} {{user.properties.last_name}}</a></td>
            <td><a href="mailto:{{user.properties.email}}">{{user.properties.email}}</a></td>
            <td class="hide-for-small">{{user.properties.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>