<table class="index-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Level</th>
      <th width="150">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>{{ item.properties.id }}</td>
      <td><a ng-href="/admin/users/{{ item.properties.id }}">{{ fullName(item) }}</a></td>
      <td>{{ item.properties.email }}</td>
      <td>{{ item.properties.level }}</td>
      <td>
        <a ng-click="confirm('You are about to place ' + fullName(user) + ' and his/her team under a new parent(' + fullName(item) + '). Are you sure?', 'setNewParent', item)">set as new parent</a>
      </td>
    </tr>
  </tbody>
</table>
