<main class="pow-admin-users">

  <!-- User Name Header and Action Buttons -->
  <div class="row">
    <div class="large-6 columns">
      <h2>{{user.properties.first_name}} {{user.properties.last_name}}</h2>
    </div>
    <div class="large-6 columns">
      <a class="button right" ng-href="/admin/users/{{user.properties.id}}/edit">Edit User</a>
    </div>
  </div>

  <!-- Tabs Section -->
  <div class="row">
    <div class="large-12 columns">
      <ul class="tabs" ng-model="tab" data-tab>
        <li class="tab-title" ng-class="{'active': tab === 'contact-info'}"><a ng-click="tab = 'contact-info'">Contact Info</a></li>
        <li class="tab-title" ng-class="{'active': tab === 'team'}"><a ng-click="tab = 'team'">Team</a></li>
        <li class="tab-title" ng-class="{'active': tab === 'invites'}"><a ng-click="tab = 'invites'">Invites</a></li>
        <li class="tab-title" ng-class="{'active': tab === 'proposals'}"><a ng-click="tab = 'proposals'">Proposals</a></li>
      </ul>
      <div class="tabs-content">
        <!-- Contact Info Content -->
        <div class="content" ng-class="{'active': tab === 'contact-info'}" ng-init="tab = 'contact-info'">
          <h3>Contact Info</h3>
          <label>Name</label>
          <h3>{{user.properties.first_name}} {{user.properties.last_name}}</h3>
          <label>Contact Info</label>
          <p>
            {{user.properties.email}}
            <br>
            {{user.properties.phone}}
          </p>
          <label>Address</label>
          <p>
            {{user.properties.address}}
            <br>
            {{user.properties.city}} {{user.properties.state}} {{user.properties.zip}}
          </p>
        </div>
        <!-- Team Content -->
        <div class="content" ng-class="{'active': tab === 'team'}">
          <h3>Team</h3>
        </div>
        <!-- Invites Content -->
        <div class="content" ng-class="{'active': tab === 'invites'}">
          <h3>Invites</h3>
        </div>
        <!-- Proposals Content -->
        <div class="content" ng-class="{'active': tab === 'proposals'}">
          <h3>Proposals</h3>
        </div>
      </div>
    </div>
  </div>

</main>