<main class="pow-admin-users">

  <!-- User Name Header and Action Buttons -->
  <div class="row">
    <div class="large-6 columns">
      <span class="round alert label" ng-if="user.properties.terminated">This user is terminated</span>
      <h2>{{ fullName(user) }}</h2>
    </div>
    <div class="large-6 columns"></div>
  </div>

  <!-- Tabs Section -->
  <div class="row">
    <div class="large-12 columns">
      <ul class="tabs" ng-model="tab" data-tab>
        <li class="tab-title" ng-class="{'active': tab === 'overview'}"><a ng-click="tab = 'overview'">Overview</a></li>
        <li class="tab-title" ng-class="{'active': tab === 'user-info'}"><a ng-click="tab = 'user-info'">User Info</a></li>
        <li class="tab-title" ng-class="{'active': tab === 'invites'}"><a ng-click="tab = 'invites'">Invites</a></li>
        <li class="tab-title"><a ng-href="/admin/users/{{ user.properties.id }}/hierarchy">Hierarchy</a></li>
        <li class="tab-title"><a ng-href="/admin/users/{{ user.properties.id }}/overrides">Overrides</a></li>
      </ul>
      <div class="tabs-content">

        <!-- Overview Content -->
        <div class="content" ng-class="{'active': tab === 'overview'}">
          <ng-include src="'admin/users/templates/tabs/overview.html'"></ng-include>
        </div>

        <!-- User Info Content -->
        <div class="content" ng-class="{'active': tab === 'user-info'}">
          <ng-include src="'admin/users/templates/tabs/user-info.html'"></ng-include>
        </div>

        <!-- Invite Content -->
        <div class="content" ng-class="{'active': tab === 'invites'}">
          <ng-include src="'admin/users/templates/tabs/invites.html'"></ng-include>
        </div>

        <!-- Team Content -->
        <div class="content" ng-class="{'active': tab === 'team'}">
          <ng-include src="'admin/users/templates/tabs/team.html'"></ng-include>
        </div>

        <!-- Proposals Content -->
        <div class="content" ng-class="{'active': tab === 'proposals'}">
          <ng-include src="'admin/users/templates/tabs/proposals.html'"></ng-include>
        </div>

        <a ng-if="!user.properties.terminated" ng-click="confirm('Are you sure you want to terminate this user?', 'terminateUser', 'terminate')" class="button alert right">Terminate this user</a>
        <a ng-if="user.properties.terminated" ng-click="confirm('Are you sure you want to activate this user?', 'terminateUser', 'unterminate')" class="button alert right">Activate this user</a>
        <a ng-if="!user.properties.terminated" ng-click="confirm('You will be signed in as this user. Are you sure?', 'logInAsUser')" class="button">Log In as {{ user.properties.first_name }}</a>
        <a ng-click="confirm('Are you sure you want to delete this user? This action cannot be undone.', 'deleteUser')" class="button alert right delete">Delete User</a>
      </div>
    </div>
  </div>

</main>
