<!-- Search -->
<div class="row">
  <div class="large-3 medium-6 small-12 columns right">
    <select ng-model="index.data.selectedFilter" ng-options="userFilter.value as userFilter.title for userFilter in userFilters" ng-change="pagination()" class="filter">
      <option value="">All</option>
    </select>
  </div>

  <div class="large-3 medium-6 small-12 columns last right">
    <div class="row collapse">
      <form ng-submit="search()">
        <div class="small-12 columns">
          <input type="search" ng-model="index.data.searchQuote" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
</div>

<table class="index-table">
  <thead>
    <tr>
      <th>ID <powur-sorter control="index" field="id"></powur-sorter></th>
      <th>Name <powur-sorter control="index" field="first_name"></powur-sorter></th>
      <th>Email</th>
      <th>Phone</th>
      <th>Level</th>
      <th width="150">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in index.data.entities">
      <td>{{ item.properties.id }}</td>
      <td><a ng-href="/admin/users/{{ item.properties.id }}">{{ fullName(item) }}</a></td>
      <td>{{ item.properties.email }}</td>
      <td>{{ item.properties.phone }}</td>
      <td>{{ item.properties.level }}</td>
      <td>
        <a ng-href="/admin/users/{{ item.properties.id }}">edit</a>
        <br>
        <a ng-href="/admin/users/{{ item.properties.id }}/edit_password">edit password</a>
        <br>
        <a ng-href="/admin/users/{{ item.properties.id }}/place-user">place user</a>
        <br>
        <a ng-href="/admin/users/{{ item.properties.id }}/assign-sponsor">assign sponsor</a>
      </td>
    </tr>
  </tbody>
</table>
