<div class="marketing" layout="column">
    <div class="bg2" layout="column" layout-align="end center">
        <div layout="column" layout-align="end center">
            <md-content layout-padding layout="column" flex>
                <div layout="row" layout-sm="column">
                    <md-input-container flex="25">
                        <label>First Name</label>
                        <input ng-model="marketing.firstName" type="text">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Last Name</label>
                        <input ng-model="marketing.lastName" type="text">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Password</label>
                        <input ng-model="marketing.password" type="password">
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex="50">
                        <label>Address</label>
                        <input ng-model="marketing.address" type="text">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>City</label>
                        <input ng-model="marketing.city" type="text">
                    </md-input-container>
                    <md-input-container flex>
                        <label>State</label>
                        <md-select ng-model="marketing.state">
                            <md-option ng-repeat="s in marketing.states" value="{{s.abbr}}">
                                {{s.abbr}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="15">
                        <label>Zip</label>
                        <input ng-model="marketing.zip" type="text">
                    </md-input-container>
                </div>
                <div layout="column" layout-align="center center">
                    <md-button class="md-raised" ng-click="marketing.enterGrid()">enter <b>the powur grid</b></md-button>
                </div>
                <div class="terms" layout="column" layout-align="center center">
                    <div>By clicking on this button, you also accept the <a href="/next/terms">terms & conditions</a></div>
                </div>
            </md-content>
        </div>
    </div>
</div>