<main class="sun-admin-user-groups">

  <div class="row">
    <div class="large-12 columns">
      <h2>Create a New User Group</h2>
      <!-- User Group Form -->
      <ng-include src="'<%=asset_path("angular-admin/user-groups/templates/form.html.erb")%>'"></ng-include>
    </div>
  </div>

</main>
