<main class="sun-admin-user-groups">
  <div class="row">
    <div class="large-12 columns">
      <a ng-href="/admin/#/user-groups/{{userGroup.id}}/edit" class="button right">Edit Group</a>
      <h2 class="clearfix">{{userGroup.title}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-4 columns">
          <a ng-href="/admin/#/user-groups/{{userGroup.id}}/users">
            <div class="panel">
              <h2>{{users.length}}</h2>
              <h4>Users</h4>
            </div>
          </a>
        </div>
        <div class="large-4 columns">
          <a ng-href="/admin/#/user-groups/{{userGroup.id}}/requirements">
            <div class="panel">
              <h2>{{requirements.length}}</h2>
              <h4>Requirements</h4>
            </div>
          </a>
        </div>
        <div class="large-4 columns">
          <a ng-href="/admin/#/user-groups/{{userGroup.id}}/bonuses">
            <div class="panel">
              <h2>{{bonuses.length}}</h2>
              <h4>Bonuses</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


</main>
