<table class="index-table">
  <thead>
    <tr>
      <th>Lead Stage</th>
      <th>Completion Chance</th>
      <th>Action Copy</th>
      <th width="150">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in lead_actions.entities">
      <td class="capitalize">{{ item.properties.lead_stage | cleanLabel }}</td>
      <td ng-hide="item.properties.completion_chance">-</td>
      <td ng-show="item.properties.completion_chance">{{ item.properties.completion_chance }}%</td>
      <td>{{ item.properties.action_copy }}</td>
      <td><a ng-href="/admin/powur-move/{{item.properties.id}}/edit">edit</a></td>
    </tr>
  </tbody>
</table>
