
<% content_for :javascript_includes do %>
	<%= javascript_include_tag "promoter.js" %>
<% end %>

<section id="user_content" class="reset_password">

	<form id="promoter_signup_form" class="signup_form js-signup_form">

		<h3>Create your account</h3>
		<span class="form_row">
			<label for="first_name">First Name</label>
			<input id="first_name" name="first_name" type="text" placeholder="First Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="last_name">Last Name</label>
			<input id="last_name" name="last_name" type="text" placeholder="Last Name" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="email">Email</label>
			<input id="email" name="email" type="text" placeholder="Email" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="phone">Phone</label>
			<input id="phone" name="phone" type="text" placeholder="Phone" class="validate" required/>
		</span>

		<span class="form_row">
			<label for="zip">Zip Code</label>
			<input id="zip" name="zip" type="text" placeholder="Zip Code" class="validate" required/>
		</span>
		
		<span class="form_row last">
			<label for="password">Password</label>
			<input id="password" name="password" type="password" placeholder="Create password" required/>
		</span>

		<span class="form_row checkbox">
			<input id="tos" name="tos" type="checkbox" class="checkbox" required/>
			<label for="tos" class="checkbox">I agree to the <a href="#">Terms of Service</a></label>
		</span>
		<input type="hidden" name="code" value="">

		<button class="button">Submit</a>

	</form>

</section>