<section id="index_banner" class="landing_banner">
	<div id="banner_graphic_br"></div>

	<div id="thanks_banner_content" class="banner_content">

		<h1>We're locating your closest solar advocate.</h1>
		<h3>Check your inbox for an invite code. If you already have one, click <a href="/promoter">here</a></h3>
	</div>

</section>
