.sun-admin-bonus-plans {

  .admin-bonus-plans-list-item {
    border-top: 1px dashed #000;
    padding: 10px 0;

    .manage-link {
      float: right;
      margin-left: 10px;
    }
  }

  .plan-id {
    color: #ccc;
  }
  
  .start-date {
    color: #ccc;
  }
}