.powur-header {
  
  li {
    font-family: "Varela Round", "Open Sans", sans-serif;
    text-transform: uppercase;
  }

  .main-logo {

    .logo-img {
      margin-top: 0px;
      width: 150px;
    }
  }
  
}
