<main class="pow-admin-index">
  <div class="row">
    <div class="large-12 columns">
      <h2>Available Invites</h2>
    </div>
  </div>

  <div class="row">
    <div class="medium-4 columns right">
      <div class="row collapse">
        <form ng-submit="search()">
          <div class="small-12 columns">
            <input type="search" ng-model="searchInvites" placeholder="Search">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h5>Only users with purchases are shown below.</h5>
      <table class="index-table">
        <thead>
          <tr>
            <th>ID&nbsp;<powur-sorter control="index" field="id"></powur-sorter></th>
            <th>Name</th>
            <th>Email</th>
            <th>Rank</th>
            <th>Submitted Proposals</th>
            <th width="120">Invites</th>
            <th>Available Invites</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in index.data.entities">
            <td>{{item.properties.id}}</td>
            <td><a ng-href="/admin/users/{{item.properties.id}}">{{item.properties.first_name}} {{item.properties.last_name}}</a></td>
            <td>{{item.properties.email}}</td>
            <td>{{item.properties.lifetime_rank}}</td>
            <td>{{item.properties.submitted_proposals_count}}</td>
            <td>
              <strong>{{item.properties.lifetime_invites_count}} Lifetime</strong><br>
              {{item.properties.open_invites_count}} Open<br>
              {{item.properties.redeemed_invites_count}} Redeemed
            </td>
            <td>
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <div class="row collapse">
                      <div class="small-8 columns">
                        <input ng-model="item.properties.available_invites" type="number">
                      </div>
                      <div class="small-4 columns">
                        <a ng-click="updateAvailableInvites(item)" class="button postfix">Update</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-include src="'shared/admin/pagination.html'"></ng-include>
    </div>
  </div>
</main>
