<section id="index_banner">

	<div class="banner_content signup">

		<h1>Get started with solar and save!</h1>

		<form id="customer_signup" class="signup_form one">

			<span class="form_row">
				<input id="cust_name" name="cust_name" type="text" placeholder="First and Last Name" required/>
			</span>

			<span class="form_row actions">
				<a href="/customer/details" class="button submit">Go</a>
			</span>

		</form>
		<h3>$0 down and no installation fees</h3>
		<h3>Save 10-30% on your monthly electric bill</h3>
		<h3>Reduce your environmental impact</h3>

	</div>

	<span id="banner_graphic_br"></span>
</section>
