<section class="landing">

	<h2>Sign up for solar!</h2>

	<form>
		<label for="cust_zip">Zip Code</label>
		<input id="cust_zip" name="cust_zip" type="text" placeholder="Your Zip Code" required autofocus/>


		<a href="/thanks" class="button submit">Find a rep ></a>
	</form>
	
</section>