<section>

	<h1>Sign up for solar!</h1>

	<p>(this is where customer acquisistion occurs -
	<br/> 
	the form here is largely dependent on SunRun's requirements)</p<>

	<form>
		<label for="cust_name">Email Address</label>
		<input id="cust_name" name="cust_name" type="email" placeholder="Your name" required autofocus/>

		<a href="/thanks" class="button">Sign up!</a>
	</form>
	
</section>