<!-- Header -->
<ng-include src="'shared/header-locked.html'"></ng-include>

<main class="powur-latest-terms">
  <div class="row">
    <div class="small-12 medium-12 large-8 medium-centered large-centered columns">
      <div class="terms panel">
        <div class="row">
          <h2>Terms & Conditions</h2>
        </div>
        <div class="row">
          <div class="pdf panel">
            <p>Terms here</p>
          </div>
        </div>
      </div>
      <div class="panel footer">
        <button class="right">Agree & Continue</button>
      </div>
    </div>
  </div>
</main>
  <!-- Footer -->
  <ng-include src="'shared/footer.html'"></ng-include>
