<% content_for :javascript_includes do %>
    <%= javascript_include_tag "admin.quotes.js" %>
<% end %>

<style>
    body#application{
        padding-top:108px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;        

    }
    body#application header{
        height:108px;
        z-index:20;
        position: absolute !important;
    }

    .full{
        overflow: hidden;
    }
    .promoter_info.contact{
        padding:32px 32px 0 0;
        margin: 0 0 0 32px;
    }

    .js-dashboard_section_indicator{
        position:absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 30px 15px;
        opacity: 0;
        top:0px;
        left:0px;
        z-index:50;
        border-color: transparent transparent #f7f7f9 transparent;}
        .js-dashboard_section_indicator.second_level{
            border-color: transparent transparent #fff transparent;}


    .js-admin_dashboard_column{
        height: 100%;
        min-height: 200px;
        margin: 0;
        padding: 32px;
        padding-top:48px;
        position: relative;
        float:left;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;}
        .js-admin_dashboard_column.summary{
            width: 192px;}
        .js-admin_dashboard_column.detail{
             width: 960px;}
        .js-admin_dashboard_column.detail nav{
            padding-left:16px;
            text-align: left;}
        .js-admin_dashboard_column.detail nav a{
            color:#cecece;
            text-transform: uppercase;
            font-family: "Varela";
            font-weight: 100;
            font-size:15px;
            margin-right:40px;}
        .js-admin_dashboard_column.detail nav a.js-active{
            color:#20c2f1;}
 

    .js-admin_dashboard_detail_container{
        position: relative;
        background:#fff;
        min-height: 300px;
        margin-top:16px;
        overflow: hidden;
        padding:16px;}
    .js-admin_dashboard_detail{
        text-align: left;
        width:inherit;
        padding-top:16px;}
        .js-admin_dashboard_detail legend{
            font-size:16px;
            text-transform: uppercase;
            color:#555;
            margin-bottom: 4px;}                
        .js-admin_dashboard_detail form input{
            color:rgb(155, 155, 155);}

    #subheader_bar{
        height:10px;
        position: relative;}

    .dashboard_section.admin{
        background:#f7f7f9;}

     .subtext.summary{
        text-align: left;
        padding-bottom:40px;
        font-size: 14px;}
        .subtext.summary ul{
            list-style: none;
            white-space:nowrap;
        }
    nav.section_subnav{
        padding-bottom:8px;
        margin-bottom:8px;
        border-bottom:1px solid #ccc;
    }
    .admin_form{
        padding-top:0px;}
    .flex_row{
        flex-flow: row wrap;
       display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
        font-size:14px;
        line-height: 28px;
        padding: 0 16px;
        color:rgb(155, 155, 155);}
    .flex_row>div{
        -webkit-flex: auto;
        flex: auto;}
    .flex_row>div:last-child{
        margin-right:0;
        text-align: right;}

    .genealogy_table,
    ._table{
        border-spacing: 12px;
        border-collapse: separate;        
        text-align: left;
        font-size: 14px;
        width:100%;
        table-layout: fixed;}
        .genealogy_table th:nth-child(1){width:150px;}
        .genealogy_table th:nth-child(2){width:80px;}
        .genealogy_table th:nth-child(3){width:250px;}
        .genealogy_table th:nth-child(4){width:150px;}
        .genealogy_table td{overflow: hidden; line-height: 18px;}
        .genealogy_table th{text-transform: uppercase; font-size: 12px;}
        ._spreadSheet{
            border-collapse: collapse;}
            ._spreadSheet tr{
                border-bottom:1px dashed #ccc;}
            ._spreadSheet tr:last-child{
                border-bottom:none;}

            ._spreadSheet tr>td{
                padding:8px 0;}

            ._spreadSheet tr:first-child{
                border-bottom:none;}
            ._spreadSheet tr:first-child >th{
                padding-bottom:16px;}

            ._spreadSheet .label{
                color:#9b9b9b;
                line-height:0px; margin-top:10px; font-size:10px; display:block;}
            ._spreadSheet .innerCell{
                color:#333;
                display:block;height:50px; float:left;padding-right:20px;}

            ._spreadSheet .innerCell .super{
                line-height:20px;display:block; padding:5px 0px;
            }
            ._spreadSheet .innerCell .sub{
                font-size:11px; color:#9b9b9b;}
            ._spreadSheet td{
                vertical-align: top;
                padding-top:20px;
            }
            ._spreadSheet h4.subRow{
                text-transform:uppercase; color:#ccc; font-size:11px; line-height:18px; margin-bottom:8px; border-bottom:1px dotted #ccc;
            }

    #js-screen_mask{
        width:100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        z-index: 90;
        display:none;
        background:rgba(0,0,0,.5);}
    #js-popup{
        z-index:95;
        background:rgba(255,255,255,1);
        position:fixed;
        top:0;
        left:0;
        width:480px;
        padding:32px;}
    .button{ outline: none;}
    header nav ul li a.active{
        color:#fff;
    }
    .js-no_data{
        color:#ccc;
        font-style:italic;}

    .js-percentage_label{
        position:absolute; font-size:12px; top:2px; left:10px; color:#fff;}
    .js-percentage_container{
        width:auto; height:24px; border-radius:3px; border:1px solid #ccc; position:relative;background: linear-gradient(to bottom, #535353, #5e5e5e, #686868); cursor:pointer;}
    .js-percentage_bar{
        float:left;width:1px; height:inherit; background:#20c2f1; position:relative; margin:auto;
    }
    .rotate {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    .js-bonus_level_label{
        font-size:10px; float:left; height:10px; text-align:center;margin-top: 20px; margin-left: -40px;margin-right:5px;}
    .js-bonus_level_bracket {
        border-top:1px solid #ddd;  border-bottom:1px solid #ddd; border-left:1px solid #ddd; height:50px; width:3px;float:left; margin-right:5px;}
    .js-bonus_level_amount_container{
width: 630px;
min-height: 60px;
padding: 0;
margin: 0;
float:left;
display: block;}

.js-pagination{
    display:inline;
}
</style>


<section style="height:10px; position:relative; background: linear-gradient(to bottom, #535353, #5e5e5e, #686868);">
    <div class="js-dashboard_section_indicator top_level"></div>
</section>

<section id="admin" class="dashboard_section admin">

    <div class="section_body">
        <div class="section_content">
            <div class="js-admin_dashboard_column summary">
            </div>
            
            <div class="js-admin_dashboard_column detail">
                <nav class="section_nav">

                </nav>

                <div class="js-dashboard_section_indicator second_level"></div>
                <div class="js-admin_dashboard_detail_container">
                </div>
            </div>
            
        </div>
    </div>
</section>



    