<!DOCTYPE html>
<html>
<head>
  <title>Mysolar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

<div id="dev-nav">
	<ul>
		<li>
			Development Navigaton:
		</li>
		<li>
			<a href="/">Index</a>
		</li>
		<li>
			<a href="/landing">Landing</a>
		</li>
		<li>
			<a href="/user">User</a>
		</li>
		<li>
			<a href="/dashboard">Dashboard</a>
		</li>
		<li>
			<a href="/settings">Settings</a>
		</li>
	</ul>
</body>
</html>
