<ng-include src="'<%= asset_path("shared/left-menu.html") %>'"></ng-include>

<div class="sun-landing-wrapper" ng-class="{'active': isMenuActive}">
  <ng-include src="'<%= asset_path("shared/header-signed-out.html") %>'"></ng-include>

  <main class="sun-landing">

    <div class="sun-fixed-bg sun-bg-1" id="anchor_1">
      <div class="sun-sign-in-wrapper">
        <div class="row">
          <div class="large-2 columns">
            &nbsp;
          </div>

          <div class="large-8 columns">
            <h1>Edit Password</h1>

            <form name="form" ng-submit="updatePassword()" novalidate>
              <label for="user_password">Password</label>
              <p>
                <span ng-show="showValidationMessages && !!form.user_password.$invalid" class="radius alert label">Enter password</span>
                <input ng-model="user.password" id="user_password" name="user_password" type="password" ng-required='true' />
              </p>

              <label for="user_password_confirm">Password Confirmation</label>
              <p>
                <span ng-show="showValidationMessages && !!form.user_password_confirm.$invalid" class="radius alert label">Enter password confirmation</span>
                <input ng-model="user.password_confirm" id="user_password_confirm" name="user_password_confirm" type="password" ng-required='true' />
              </p>

              <input class="large button" type="submit" value="Update Password" />
              <a ng-href="/sign-in" class="forgot-password">sign in</a>
            </form>
          </div>

          <div class="large-2 columns">
            &nbsp;
          </div>
        </div>
      </div>
    </div>

    <ng-include src="'<%= asset_path("shared/footer.html") %>'"></ng-include>

  </main>
</div>
