<powur-left-menu control="leftMenu"></powur-left-menu>

<div class="pow-landing-wrapper" ng-class="{'active': leftMenu.isActive}">
  <ng-include src="'shared/header-signed-out.html'"></ng-include>

  <main class="pow-landing">

    <div class="pow-fixed-bg pow-bg-1" id="anchor_1">
      <div class="pow-sign-in-wrapper">
        <div class="row">

          <div class="large-6 large-centered medium-8 medium-centered small-12 columns">
            <h1>Reset Password</h1>

            <form name="form" ng-submit="updatePassword()" novalidate>

              <!-- Password -->
              <label for="user_password" ng-class="{'error' : showValidationMessages && !!form.user_password.$invalid}">Password
                <input ng-model="user.password" id="user_password" name="user_password" type="password" ng-required='true' />
              </label>
              <small class="error" ng-if="showValidationMessages && !!form.user_password.$invalid">Please enter a password</small>

              <!-- Password Confirmation -->
              <label for="user_password_confirm" ng-class="{'error' : showValidationMessages && !!form.user_password_confirm.$invalid}">Password Confirmation
                <input ng-model="user.password_confirm" id="user_password_confirm" name="user_password_confirm" type="password" ng-required='true' />
              </label>
              <small class="error" ng-if="showValidationMessages && !!form.user_password_confirm.$invalid">Please confirm your password</small>

              <!-- Buttons -->
              <div class="row">
                <!-- Reset Password -->
                <div class="large-6 medium-6 columns right">
                  <button class="button success expand" type="submit">Reset Password</button>
                </div>
                <!-- Sign In -->
                <div class="large-6 medium-6 columns left">
                  <a class="button secondary expand" ng-href="/">Back to Sign In</a>
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </main>

  <ng-include src="'shared/footer.html'"></ng-include>
</div>
