<powur-left-menu control="leftMenu"></powur-left-menu>

<div class="pow-landing-wrapper" ng-class="{'active': leftMenu.isActive}">
  <ng-include src="'shared/header-signed-out.html'"></ng-include>

  <main class="pow-landing fixed-footer">

    <div class="pow-fixed-bg pow-bg-1" id="anchor_1">
      <div class="pow-sign-in-wrapper">
        <div class="row">

          <div class="large-6 large-centered medium-8 medium-centered small-12 columns">
            <h1>Advocate Login</h1>

            <form name="form" ng-submit="signIn()" novalidate>

              <!-- Email -->
              <label for="user_email" ng-class="{'error' : showValidationMessages && !!form.user_email.$invalid}">Email
                <input ng-model="user.email" id="user_email" name="user_email" type="email" ng-required='true' />
              </label>
              <small class="error" ng-if="showValidationMessages && !!form.user_email.$invalid">Please enter a valid email address</small>

              <!-- Password -->
              <label for="user_password" ng-class="{'error' : showValidationMessages && !!form.user_password.$invalid}">Password
                <input ng-model="user.password" id="user_password" name="user_password" type="password" ng-required='true' />
              </label>
              <small class="error" ng-if="showValidationMessages && !!form.user_password.$invalid">Please enter your password</small>

              <!-- Remember Me -->
              <label>Remember Me
                <div class="switch">
                  <input ng-model="user.remember_me" name="remember_me" id="remember_me" type="checkbox">
                  <label for="remember_me"></label>
                </div>
              </label>

              <!-- Buttons -->
              <div class="row">
                <!-- Sign In -->
                <div class="large-6 medium-6 columns right">
                  <button class="button success expand" type="submit">Sign In</button>
                </div>
                <!-- Forgot Password -->
                <div class="large-6 medium-6 columns left">
                  <a class="button secondary expand" ng-href="/forgot-password">Forgot Password?</a>
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </main>

  <ng-include src="'shared/footer.html'"></ng-include>
</div>
