<ng-include src="'shared/left-menu.html'"></ng-include>

<div class="sun-landing-wrapper" ng-class="{'active': isMenuActive}">
  <ng-include src="'shared/header-signed-out.html'"></ng-include>

  <main class="sun-landing sun-sign-up-page">

    <div class="sun-fixed-bg sun-bg-6 inverted">
      <!-- <div class="sun-home-intro"> -->
        <div class="row">
          <h1>Let's Go!</h1>
          <p>Complete your FREE registration by filling in the form below. See you inside.</p>
        </div>
      <!-- </div> -->
    </div>

    <div class="sun-scrolling-bg">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <form name="validateInviteForm" ng-submit="validateInvite()" class="invite-form" ng-class="{'inactive': invite.properties}" novalidate>

            <h2><span>1.</span> Enter your invite code</h2>

            <div class="row collapse">
              <div class="small-5 columns">
                <input ng-model="invite.code" name="invite_code" type="text" placeholder="Invite code" ng-disabled="invite.properties" ng-required='true' />
              </div>
              <div class="small-2 columns">
                <input id="validate_invite_submit" class="button postfix" ng-disabled="invite.properties" type="submit" value="" />
              </div>
              <div class="small-5 columns">
                &nbsp;
              </div>
            </div>
            <span ng-if="!invite.error && !invite.properties" class="small">No invite code? Please contact the person who told you about Powur.</span>
            <span ng-if="invite.error" class="small sun-error">{{invite.error.message}}</span>
            <span ng-if="invite.properties" class="small sun-success">SUCCESS! <a ng-click="clearInviteValidationForm()">Click here</a> to enter a different invite code</span>

            <div class="invite-sponsor-info" ng-if="invite.properties">
              <img ng-src="{{invite.properties.sponsor_avatar}}" />
              <span>You were referred to Powur by:</span><br />
              <span class="big">{{invite.properties.sponsor_name}}</span>
            </div>

            <div class="row referral-info">
              <div class="large-1 columns">
                <div class="lock-icon"></div>
              </div>
              <div class="large-11 columns">
                <h6>Powur is referral only, private network.</h6>
                <span class="small">New members require an invite code from an existing Powur Advocate in order to join the network.</span>
              </div>
            </div>

          </form>
        </div>

        <div class="large-6 medium-6 columns">
          <form name="signUpForm" ng-submit="signUp()" class="sign-up-form" ng-class="{'inactive': !invite.properties}" novalidate>

            <h2><span>2.</span> Register</h2>

            <div class="row">
              <div class="large-6 columns">
                <span ng-show="formErrorMessages['first_name']" class="radius alert label">{{formErrorMessages['first_name']}}</span>
                <input ng-model="user.first_name" name="user_first_name" type="text" class="radius" placeholder="First Name" />
              </div>
              <div class="large-6 columns">
                <span ng-show="formErrorMessages['last_name']" class="radius alert label">{{formErrorMessages['last_name']}}</span>
                <input ng-model="user.last_name" name="user_last_name" type="text" class="radius" placeholder="Last Name" />
              </div>

              <div class="large-12 columns">
                <span ng-show="formErrorMessages['email']" class="radius alert label">{{formErrorMessages['email']}}</span>
                <input ng-model="user.email" name="user_email" type="text" class="radius" placeholder="Email" />

                <span ng-show="formErrorMessages['password']" class="radius alert label">{{formErrorMessages['password']}}</span>
                <input ng-model="user.password" name="user_password" type="password" class="radius" placeholder="password" />

                <span ng-show="formErrorMessages['password_confirmation']" class="radius alert label">{{formErrorMessages['password_confirmation']}}</span>
                <input ng-model="user.password_confirmation" name="user_password_confirmation" type="password" class="radius" placeholder="Retype password" />

                <!-- <input ng-model="user.communications" name="user_communications" id="user_communications" type="checkbox"><label for="user_communications">Send me email communications</label> -->
                <div class="clearfix"></div>

                <span ng-show="formErrorMessages['phone']" class="radius alert label">{{formErrorMessages['phone']}}</span>
                <input ng-model="user.phone" name="user_phone" type="text" class="radius" placeholder="Phone" />

                <input ng-model="user.address" name="user_address" type="text" class="radius" placeholder="Address line 1" />

                <input ng-model="user.address2" name="user_address2" type="text" class="radius" placeholder="Address line 2" />
              </div>

              <div class="large-6 columns">
                <input ng-model="user.city" name="user_city" type="text" class="radius" placeholder="City" />
              </div>
              <div class="large-6 columns">
                <span ng-show="formErrorMessages['zip']" class="radius alert label">{{formErrorMessages['zip']}}</span>
                <input ng-model="user.zip" name="user_zip" type="text" class="radius" placeholder="Zip code" />
              </div>

              <div class="large-6 columns">
                <select ng-model="user.state" ng-options="state.abbr as state.name for state in states">
                  <option value="">State</option>
                </select>
              </div>
              <div class="large-6 columns">
                <select ng-model="user.country" name="user_country" ng-options="country.abbr as country.name for country in countries">
                  <option value="">Country</option>
                </select>
              </div>

              <div class="large-12 columns">
                <span ng-show="formErrorMessages['tos']" class="radius alert label">{{formErrorMessages['tos']}}</span>
                <div class="clearfix"></div>
                <input ng-model="user.tos" name="user_tos" id="user_tos" type="checkbox"><label for="user_tos">I agree to the Terms of Service and Privacy Policy</label>

                <input class="large button" ng-disabled="!invite.properties || isSubmitDisabled" type="submit" value="Register for free" />
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

  </main>
</div>
